.contentMenu {
    width:auto;
    height:100%;
    overflow:hidden;
}
.contentWidget {
    height: 47px;
    float:left;
}

#widgetAddZone {
}

.widgetElementshow {
    line-height: 10px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
}

.widgetElementshow.ng-hide-add, .widgetElementshow.ng-hide-remove {
  transition: all linear 0.5s;
}

.widgetElementshow.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.widgetElementAdd {
    padding: 10px;
    border: 0px solid black;
    /*background: white;*/
}

.widgetIconShow {
    display: inline-block;
}

.widgetCommand {
    width: 80px; 
    background: red;
}

.widgetMenuPng
{
    margin: 0 5px;
    width: 42px; 
    height: 42px;
    display: inline-block;
    padding: 10px;
}

.widgetPng {
    margin: 0 2px;
    width: 32px; 
    height: 32px;
    display: inline-block;
}

.widgetButton {
    position: absolute;
    left: 0;
    z-index: 1000;
    /*background: red;*/
}