<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo localize="OLEDB Interface" optional="false" destinationfolder="TbApps">
  <Components>
    <Library name="TbOleDB" deploymentpolicy="full" aggregatename = "TbGes" sourcefolder="TbOleDb" >
      <FilesExtension value="*.pdb" />
    </Library>
  </Components>
</ModuleInfo>