$bkg-light:#F5F5F5; //#cce6ff;
$bkg-light-opacity50: #F5F5F5; //rgba(204, 230, 255, 0.5);
$bkg-medium:#9AB4D5;
$bkg-dark:black; //#6b84a4;
$bkg-neutral:#BDBDBD;
$bkg-dashboard:#f1f1f1;
$bkg-toolbarbottombutton:  #7594ba;
$bkg-toolbarbottombuttonHover: #d4eaff78;
$bkg: #fff;
$text-light: #fff;
$text-medium: #8f8f96;
$text-dark: black;
$font-size-tooltip: 12px;
$shadow: rgba(205,210,214,.8);
$border-itemsdashboard: #ddd;
$border-topbarbutton:#7d8ea4;

$borderleft-topbarbutton: #42b57a;
$accordionbkg: rgba(154,180,213, 0.4);
$accordionHover: rgba(168, 193, 136, 0.57);

.infinity {
    //toolbar principale, dove si trova anche la "ricerca"
    .mat-toolbar.mat-primary {
        background: $bkg-medium;
        m4-icon {
            color: $text-dark;
        }
    }
    //Selettore menu/dashboard/documenti/report
    .tabber-container>.k-tabstrip>.k-tabstrip-items {
        background: $bkg-medium;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
        background: $bkg-dark;
        color: $text-light;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab attiva
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
        background: $bkg-light;
        color: $text-dark;
        border-bottom-color: $bkg-medium;
        .k-link> div > span,
        .k-link> div > m4-icon
        {
            color:$bkg-dark;
        }
    }
    //colore pulsanti finestre di messaggio modali
    .k-button.k-primary,
    .k-button.k-primary,
    .k-button.k-primary:visited,
    .k-slider .k-draghandle,
    .k-switch-on .k-switch-handle {
        background-color: $bkg-dashboard;
        border-color: $bkg-medium;
        color: $text-dark;
    }
    .k-button.k-primary:hover,
    {
        background-color: $bkg-medium;
        border-color: $bkg-light;
        color: $text-dark;
        background-image: none;
    }
    //colore barra del titolo delle finestre di messaggio modali
    .k-dialog-titlebar {
        background-color: $bkg-medium;
    }
    //colore della toolbar principale della frame
    .toolbar-top {
        background-color: $bkg-light;
        color: $text-dark;
        border-bottom: none !important;
    }
    //colore del tabber del selettore menu
    .menu-page .k-tabstrip-top>.k-tabstrip-items {
        background-color: $bkg-light;
        color: $text-dark;
    }
    //colore del tabber del selettore menu, singola tab
    .menu-page .k-tabstrip>.k-tabstrip-items .k-item .k-link {
        color: $text-dark;
    }
    //colore del tabber del selettore menu, singola tab attiva
    .menu-page .k-tabstrip-top>.k-tabstrip-items .k-item.k-state-active .k-link {
        color: $text-light;
        background: $bkg-dark;
        border-bottom: 1px;
        border-bottom-color: $bkg;
    }
    //tbcard, 
    .tb-card {
        background-color: $bkg;
    }
    //titolo della tbcard
    .tb-card-title {
        color:$text-dark;
        font-size: 17px;
    }
    //singolo elemento del menu
    .menu-element
    {
        color:$bkg-dark;
        &:hover {
            background-color: $bkg-light-opacity50;
        }

        .menu-element-content 
        {
		 font-size: 16px;
        //dimensione del font delle voci di menu
            .object-type {
                font-size: 16px;
            }
            //Colore icone di tipo document
            .object-type.Document {
                color: $bkg-medium;
            }
            //Colore icone di tipo Report
            .object-type.Report {
                color: $bkg-medium;
            }
            //Colore icone di tipo Batch
            .object-type.Batch {
                color: $bkg-medium;
            }
            //Colore icone di tipo Function
            .object-type.Function {
                color: $bkg-medium;
            }
            //colore della stellina nel menu dei favoriti
            .star {
                color: $bkg-medium;
                font-size: 18px;
                line-height: 22px;
                margin-right: 3px;
                &.favorite {
                    color: $bkg-medium;
                }
                &:hover {
                    color: $bkg-dark;
                    cursor: pointer;
                }
            }
        }
    }   
    //colore scrollbar
     ::-webkit-scrollbar-thumb {
        background: $bkg-medium;
    }
    //colore di fondo della sidenav
    .mat-sidenav {
        background: $bkg-neutral;
    }
    //colore di fondo della lista applicazioni
    .application-selector > ul.application-list,
    .groups > ul.groups-list {
        background: $bkg-light;
        &>li {
            color: $text-dark;
            background: $bkg-medium;
        }
        &>li:hover {
            color: $text-dark;
            background: $bkg-light;
        }
        .selected {
            background: $bkg-light;
        }
    }
    //tidolo delle voci sidenav
    .sidenav-subtitle {
        background-color: $bkg-dark;
        h4 {
            color: $text-light;
        }
        m4-icon {
            color: $text-light;

        }
    }
    //stile quando usato nella sidenav
    /// inizio sidenav
    .sidenav {
        m4-icon.close {
            color: $text-dark;
        }
        //recenti, colori 
        .most-used-item,
        .favorite-item,
        .hiddenTiles-item {
            color: $text-dark;
            background: $bkg-medium;
            m4-icon.close {
                color: $text-dark;
            }
        }
        .most-used-item:hover,
        .favorite-item:hover,
        .hiddenTiles-item:hover {
            background: $bkg-light;
            span {
                color: $text-dark;
            }
            m4-icon.close,
            m4-icon.close :hover {
                color: $text-dark;
            }
        }
        //recenti, favoriti , nascosti, lista vuota
        .most-used-empty,
        .favorites-empty,
        .hiddenTiles-empty {
            color: $text-dark;
            background-color: $bkg-light;
        }
        
    }
    /// fine sidenav
    //stile quando usato nella dashboard
    /// inizio dashboard
    .dashboard {
        //recenti, preferiti
        .most-used-item,
        .favorite-item,
        .hiddentiles {
            background: $bkg-dashboard;
            border: 1px solid $border-itemsdashboard;
            margin: 3px 7px;
            height: 28px;
            &>span {
                color: $text-dark;
                line-height: 29px;
            }
            &:hover span, 
            &:hover m4-icon.close {
                color: $bkg-medium;
            }
            .type {
                margin-right: 7px;
            }
            .type.Document {
                color: $bkg-medium;
            }
            .type.Report,
            .type.Function {
                color: $bkg-medium;
            }
            .type.Batch {
                color: $bkg-medium;
            }
            m4-icon.close {
                color: $border-itemsdashboard;
                &:hover {
                    color: $bkg-medium;
                }
            }
        }
        .most-used-empty,
        .favorites-empty,
        .hiddenTiles-empty {
            color: $text-dark;
        }
        .favorites {
            ul.favorites-list {
                .favorite-item {
                    background:$bkg-dashboard;
                    border: 1px solid $border-itemsdashboard;
                    margin: 3px 7px;
                    height: 28px;
                    color: $bkg-medium;
                    line-height: 29px;
                    m4-icon.type {
                        margin-right: 7px;
                        color: $bkg-medium;
                    }
                }
            }
        }
    }

    .tbcontainer #anchor:hover,
    .tbcontainer #anchor:focus,
    .tbcontainer #anchor:visited {
        outline-color: $bkg-light;
        outline-style: auto;
        outline-width: 5px;
    }
    /*colore del bottone spinner*/
    .hideButton {
        color: $bkg-medium;
    }
    /* colore del loader*/
    .loader {
        border: 4px solid $bkg-light-opacity50;
        ; // è lo stesso del light con opacità inferiore
        border-top: 4px solid $bkg-dark;
    }
    
    /*colore del tool tip del menu advanced*/
        .tooltip
        { 
            .tooltip-content {
            background: $bkg-medium;
            color: $text-light;
            tb-icon {
                color: $text-light;
            }
            &::after {
            background: $bkg-medium;
            }
            .k-button,
            .dropUpButton > 
            .k-button 
            {
                background: $bkg-medium;

                &:hover,
                &:focus{
                    transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                    background:$bkg-light;
                    border-color: $bkg-light;
                    color: $bkg-dark;
                    tb-icon,
                    i {
                        color: $bkg-dark;
                    }
                }
        
                &:active {
                    background-color: $bkg-medium;
                    box-shadow: none;
                    color:$bkg-dark;
                    border: 0px;
                }
                &.k-state-disabled {
                    opacity: 1;
                    background-color: $bkg-neutral;
                    border: 1px solid $bkg-neutral;
                    transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                    color: $text-medium;
                    cursor: not-allowed;
                    tb-icon {
                        color: $text-medium;
                        border: none;
                    }
                }
            }
        }
     }  
    //colore della toolbar bottom
    .toolbar-bottom {
        background: $bkg-medium;
    }

    tb-toolbar-top-button{
        &:first-child tb-icon,
        &:last-child tb-icon,
        &:only-child tb-icon  {
            border-left: 1px solid $borderleft-topbarbutton;
        }
    }
        //colore del bottone della toolbar bottom
        tb-toolbar-bottom-button
        {
            .k-button {
            background: $bkg-toolbarbottombutton;
            color: rgb(214, 214, 214);
            &:hover
            {
                color: $text-dark;
                background: $bkg-toolbarbottombuttonHover;
                border: 0px;
                }
            }
        }
        /*colore del tooltip delle icone nella top bar*/
        .topBarMenuComponentLike
        {
            .tooltip {
                position: relative;
                .tooltip-content {
                background: $bkg-medium;
                box-shadow: 0 5px 25px 5px $shadow;
                box-sizing: border-box;
                color: $text-light;
                font-size: 12px;
                line-height: 1.2;
                letter-spacing: 1px;
                max-width: 200px;
                min-width: 145px;
                padding: 1em;
                position: absolute;
                opacity: 1;
                transition: all .3s ease;
                z-index: 99999999999;
                &::after {
                    background: $bkg-medium;
                    content: "";
                    height: 10px;
                    position: absolute;
                    transform: rotate(45deg);
                    width: 10px;
                }
                .k-button {
                    background: $bkg-medium;
                    &:hover,
                    &:focus{
                        transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                        background:$bkg-light;
                        border-color: $bkg-light;
                        color: $bkg-dark;
                        tb-icon,
                        i {
                            color: $bkg-dark;
                        }
                    }
            
                    &:active {
                        background-color: $bkg-medium;
                        box-shadow: none;
                        color:$bkg-dark;
                        border: 0px;
                    }
                }
                }
                &.bottom {
                .tooltip-content {
                    top: calc(100% + .3em);
                    left: calc(100% - 4.5em);
                    bottom: unset !important;
                    transform: translateX(-50%);
                    &::after {
                    top: -5px;
                    left: calc(100% - 2.7em);
                    }
                }
                }
            }
        }

        /* colore degli item del selettore */
        .tile-manager{
        .tile-manager-selector{ 
                ul.selector {
                    li.active {
                        background: $bkg-medium;
                        color: $text-dark;
                        &>span, 
                        &>tb-icon {
                            color:$text-light;
                        }
                    }
                }
            }
        }
    /*colore di bottoni della toolbar top*/
        tb-toolbar-top-button{
            .k-button:hover {
                background: transparent;
            }
            .top-button {
                margin: 0;
                padding: 0;
                height: 30px;
                min-width: 32px;
                border: 0;
                background: none;
                &>span {
                    font-size: 12px;
                    line-height: 35px;
                    height: 35px;
                    margin: 0;
                    //padding: 0 8px 0 0;
                    text-align: left;
                    /** da riparlarne */
                    display: none;
                }
                    tb-icon {
                        background-color: $bkg-medium;
                        border: 1px solid $border-topbarbutton;
                        color:$text-light;
                        transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                        m4-icon {
                            color:$text-light;
                        }
                        &:hover {
                            transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                            background-color: $bkg-toolbarbottombuttonHover;
                            border-color:$border-topbarbutton;
                            color:$text-dark;
                            tb-icon,
                            i {
                                color: $text-dark;
                            }
                        }
                        &:active {
                            background-color:$bkg-medium;
                            box-shadow: none;
                            color: $text-medium;
                        }
                    }
                    &.k-state-disabled {
                        opacity: 1;
                        background-color: $bkg-light;
                        border: 1px solid $bkg-light;
                        transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                        tb-icon {
                            color: $text-medium;
                            background-color: $bkg-neutral;
                            border: none;
                        }
                    }
            }
        }
        .title {
            &>span {
            color: $bkg-dark;
        }
    }
     /*ACCORDION*/
     .menu-selector {
        .k-tabstrip .k-item:hover,
        .k-tabstrip .k-item .k-panelbar>.k-item>.k-link.k-header {
            background: $bkg-dark;
        }
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-expanded) .k-icon,
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-active) .k-icon {
            color: $bkg-dark;
        }
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-expanded),
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-active),
        .k-panelbar .k-group>.k-item>.k-link.k-state-selected {
            background: $accordionbkg;
            color:$bkg-dark;
        }
        .k-panelbar .k-group>.k-item {
            max-height: 41px;
        }
        .k-panelbar .k-group>.k-item>.k-link.k-state-selected:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid $bkg-dark;
            position: absolute;
            left: 0px;
            top: 15px;
            z-index: 9999;
        }
        .k-panelbar>.k-item>.k-link {
            padding: 5px;
            img {
                max-width: 27px;
                margin-right: 5px;
            }
            span {
                color: $text-dark;
            }
            &.k-state-focused {
                box-shadow: none;
            }
        }
        .k-panelbar .k-group>.k-item>.k-link {
            border: none;
            border-color: transparent;
            border-bottom: 1px solid $border-itemsdashboard;
            m4-icon {
                font-size: 20px;
                margin: 0 15px 0 10px;
                padding-top: 4px;
                color: $bkg-dark;
                height: 24px;
                width: 20px;
            }
            span {
                color: $text-dark;
            }
            &.k-state-focused {
                box-shadow: none;
            }
        }
        .k-panelbar .k-group>.k-item:first-child>.k-link {
            padding-top: 5px;
            box-shadow: inset 0 3px 3px -1px rgba(0, 0, 0, 0.2);
        }
        .k-panelbar .k-group>.k-item:last-child>.k-link {
            border-bottom: none;
            box-shadow: inset 0 -3px 3px -1px rgba(0, 0, 0, 0.2);
            padding-bottom: 5px;
        }
        /* application selezionata */
        .k-panelbar>.k-item.selected-application {
            &>.k-link {
                background: $accordionbkg;
                border-bottom: 1px solid $border-itemsdashboard;
            }
            &>.k-icon {
                color: $bkg-dark;
            }
        }
        /* group selezionato */
        .k-panelbar>.k-item.selected-group {
            &>.k-link {
                background: $bkg-light;
                border-bottom: 1px solid $border-itemsdashboard
            }
            &>.k-icon {
                color:  $bkg-dark;
            }
        }
        .k-panelbar>.k-item.selected-group>.k-link:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid  $bkg-dark;
            position: absolute;
            left: 0px;
            z-index: 9999;
        }
        /* hacks */
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-expanded):hover,
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-expanded).k-state-hover,
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-active):hover,
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-active).k-state-hover,
        .k-panelbar>.k-item>.k-link:hover,
        .k-panelbar>.k-item>.k-link.k-state-hover {
            color: $text-dark;
            background-color: $accordionHover;
        }
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-expanded),
        .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-active) {
            color: $text-dark;
        }
        &.collapsed {
            .k-panelbar .k-group>.k-item>.k-link {
                m4-icon {
                    margin: 0 10px 0 0;
                }
                span {
                    display: none;
                    transition: display 0.4s ease;
                }
            }
            .k-panelbar>.k-item.k-state-expanded>.k-link .k-icon,
            .k-panelbar>.k-item.k-state-active>.k-link .k-icon,
            .k-panelbar>.k-item>.k-link .k-icon {
                display: none;
            }
        }
    }
}

//tooltip
.mat-tooltip {
    font-size: $font-size-tooltip !important;
    background-color: $bkg-dark !important;
    color: $text-light !important;
    border-radius: 0px !important;
    padding: 10px 0px 10px 15px;
    text-align: center;
}