<div class="tb-search">
    <mat-form-field>
        <mat-input-container>
            <span mat-prefix><m4-icon icon="tb-find"></m4-icon></span>
            <input #myInput type="text" matInput [matAutocomplete]="auto" [formControl]="inputControl" placeholder="{{_TB('Search...')}}">
        </mat-input-container>
        <mat-autocomplete id="menuSearch" #auto="matAutocomplete" [displayWith]="displayElement">
            <mat-option *ngFor="let option of filteredElements | async" [value]="option">
                <tb-menu-element class="search-element" [object]="option" [showEasyBuilderOptions]="false" [showLongTooltip]="true"></tb-menu-element>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>