.tb-search {
    mat-input-container {
        background: #f1f4f7;
        padding: 1px 5px;
        border-radius: 3px;
        border: 1px solid #044e7b;
        border: none;
        height: 30px;
        width: 350px;
        margin-bottom: 3px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .1);
        display: flex;
        margin: 0 auto;
        input {
            width: 100%;
            background: none;
            border: none;
            padding: 0 3px;
            color: #000;
        }
        input:focus {
            border: none;
            outline: none;
        }
        m4-icon {
            margin: 0px 5px 0 0;
            color: #00578c;
        }
    }
}

.mat-option-text {
    display: block;
}

.mat-autocomplete-panel.mat-autocomplete-visible {
    visibility: visible;
    max-height: 500px;
    overflow: auto;
}

.mat-autocomplete-panel {
    overflow: auto;
}
// .tb-search .mat-input-placeholder.mat-empty {
//     color: #929292;
//     font-size: 16px;
//     padding: 0;
//     line-height: 34px;
//     margin-top: 16px;
// }
// .tb-search .mat-input-element {
//     font-size: 14px;
//     line-height: 26px;
//     color: #f2f2f2;
// }
// .tb-search .mat-input-wrapper {
//     margin: 5px 0px 0px 0px;
//     padding: 0;
// }
// .tb-search .mat-input-underline {
//     display: none;
// }
// .tb-search .dropdown-menu {
//     width: 300px;
// }
// .tb-search .mat-icon {
//     margin: 0px 5px 0 0;
//     color: #00578c;
// }
// .tb-search .m4-icon.m4-tb-find {
//     margin: 0px 5px 0 0;
//     color: #929292;
// }

/************/

.search-element .menu-element {
    margin: 0;
    padding: 0;
    background: #fff;
}

.search-element .menu-element-content .mat-icon {
    margin-right: 0;
}

.search-element .menu-element span {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.search-element .menu-element .object-type {
    margin: 2px 0px 2px 5px;
}

// .cdk-overlay-pane {
//     width: 351px !important;
//     margin-left: -35px;
// }
.mat-option {
    line-height: 28px;
    height: 28px;
    padding: 0;
}

.mat-option.mat-active .search-element .menu-element {
    background: #fffbe0;
    transition: background 0.2s;
}
