<div class="login-flex-container">
    <div class="login-main-content">
        <div class="login-form">
            <div class="form-group">
                <kendo-dialog title="{{_TB('Change Password')}}" *ngIf="changePasswordOpened" (close)="close()">
                    <div class="form-group">
                        <div class="form-control">
                            <p class="floatingLabel">{{_TB('Old Password')}}</p>
                            <kendo-textbox-container class="form-control-k">
                                <input kendoTextBox [(ngModel)]="oldPassword" (keyup)="keyUpFunction($event)" name="oldPassword" type="password">
                            </kendo-textbox-container>
                        </div>

                        <div class="form-control">
                            <p class="floatingLabel">{{_TB('New Password')}}</p>
                            <kendo-textbox-container class="form-control-k">
                                <input kendoTextBox [(ngModel)]="newPassword" (keyup)="keyUpFunction($event)" name="newPassword" type="password">
                            </kendo-textbox-container>
                        </div>

                        <div class="form-control">
                            <p class="floatingLabel">{{_TB('Confirm Password')}}</p>
                            <kendo-textbox-container class="form-control-k">
                                <input kendoTextBox [(ngModel)]="confirmPassword" (keyup)="keyUpFunction($event)" name="confirmPassword" type="password">
                            </kendo-textbox-container>
                        </div>

                        <div class="error" [ngClass]=" confirmPassword != newPassword ? '' : 'hide'">{{_TB('The passwords do not match')}}</div>
                        <div class="message" *ngIf="errorMessage">{{errorMessage}}</div>
                    </div>
                    <kendo-dialog-actions>
                        <button kendoButton (click)="changePasswordOk()" [disabled]="confirmPassword != newPassword" [primary]="true">{{_TB('Ok')}}</button>
                    </kendo-dialog-actions>
                </kendo-dialog>

            </div>
        </div>
    </div>
</div>