

     <table>

            <tr> <td class="loginStyleOff pointer backButtonPadding" ></td> <td> </td> </tr>

            <!--User-->
            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('CompanyLabel')}}:
                </td>
                <td><b>{{connectionInfos?.company}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('Username')}}:
                </td>
                <td><b>{{connectionInfos?.user}}</b></td>

            </tr>

            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('Administrator')}}:
                </td>
                <td><b>{{localizationService.getLocalizedElement(connectionInfos?.admin)}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('EasyStudioDeveloper')}}:
                </td>
                <td><b>{{localizationService.getLocalizedElement(connectionInfos?.ebdev)}}</b></td>

            </tr>

            <!--General-->
            <tr style="border-top:solid; border-color:black;border-top-style:solid; border-width:1px">
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('Instance')}}:
                </td>
                <td><b>{{connectionInfos?.installation}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('FileApplicationServer')}}:
                </td>
                <td><b>{{connectionInfos?.remotefileserver}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('WebApplicationServer')}}:
                </td>
                <td><b>{{connectionInfos?.remotewebserver}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('AuditingEnabled')}}:
                </td>
                <td><b>{{localizationService.getLocalizedElement(connectionInfos?.auditing)}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('SecurityEnabled')}}:
                </td>
                <td><b>{{localizationService.getLocalizedElement(connectionInfos?.security)}}</b></td>

            </tr>

            <!--DATABASE-->
            <tr style="border-top:solid; border-color:black;border-top-style:solid; border-width:1px">


                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('DBServer')}}:
                </td>
                <td><b>{{connectionInfos?.dbserver}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('DBName')}}:
                </td>
                <td><b>{{connectionInfos?.dbname}}</b></td>

            </tr>

            <tr>
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('DBUser')}}:
                </td>
                <td><b>{{connectionInfos?.dbuser}}</b></td>

            </tr>


            <!--DATABASE SIZE (if needed)-->
            <tr [hidden]="!showdbsize">
                <td style=" text-align:right">
                    {{localizationService.getLocalizedElement('UsedSpace')}}:
                </td>
                <td><b>{{connectionInfos?.usedspace}}</b></td>

            </tr>
            <tr [hidden]="!showdbsize">
                <td style="text-align:right">
                    {{localizationService.getLocalizedElement('FreeSpace')}}:
                </td>
                <td><b>{{connectionInfos?.freespace}}</b></td>

            </tr>
        </table>

   <button type="button" (click)="dialogRef.close('yes')">{{localizationService.getLocalizedElement('CloseLabel')}}</button>
