.header-strip {
    margin: .5rem;
}

.header-strip h1 {
    text-align: left;
    margin: 5px 0 0;
    padding: 0 3px;
}

.header-strip .line {
    height: 1px;
    background: #ccc;
    display: block;
    margin-bottom: 25px;
    background: #ccc;
    background: linear-gradient(to right, #0277bd 0%, #EEF1F5 100%);
}