<!-- <p>{{dockState}}</p>
<hr> -->
<div class="dockpane-tabber">
    <kendo-tabstrip #dockpaneTabber="kendoTabStrip">
        <kendo-tabstrip-tab *ngFor="let dockpane of getDockpanes();let i = index">
            <ng-template kendoTabTitle>
                <div (click)="toggleDockpane(dockpane)" class="dockpane-tab">
                    <span>{{dockpane?.title}}</span>
                </div>
            </ng-template>
            <ng-template kendoTabContent>
                <div class="dockingSlide" [@slideInOut]="dockState">
                    <ng-content></ng-content>
                </div>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
</div>