<!-- <div class="tile-manager2" [style.width.px]="65" [@slideInOut]="menuState">
    <kendo-tabstrip #tabber (tabSelect)="changeTabByIndex($event)" tabPosition="right">
        <kendo-tabstrip-tab *ngFor="let tile of getTiles();let i = index" [selected]="i == 0">
            <ng-template kendoTabTitle>
                <tb-icon [iconType]="tile?.iconType" [icon]="tile?.icon" class="groupIcon" (click)="toggleMenu(tile)"></tb-icon>
                <span>{{tile?.title}}</span>
            </ng-template>
            <ng-template kendoTabContent>
                <ng-content></ng-content>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
</div> -->

<div class="tile-manager2" [@slideInOut]="menuState">
    aaaaaaaaaaaaaaaaaaaaaa{{menuState}}
    <kendo-tabstrip #tabber (tabSelect)="changeTabByIndex($event)" tabPosition="right">
        <kendo-tabstrip-tab *ngFor="let tile of getTiles();let i = index" [selected]="i == 0">
            <ng-template kendoTabTitle>
                <tb-icon [iconType]="tile?.iconType" [icon]="tile?.icon" class="groupIcon" (click)="toggleMenu(tile)"></tb-icon>
                <span>{{tile?.title}}</span>
            </ng-template>
            <ng-template kendoTabContent>
                <ng-content></ng-content>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
</div>