:host(tb-dockpane-container) {
    display: flex;
    max-width: 100%;
    min-height: 100%;
}

.dockpane-tabber {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    .dockpane-tabber-selector {
        // background: linear-gradient(to bottom, #333333 0%, #333333 14%, #5e5e5e 23%, rgba(241, 241, 241, 0) 60%);
        background: #333;
        width: 40px;
        ul.selector {
            padding: 6px 0 0;
            margin: 0;
            li {
                display: flex;
                flex-direction: row;
                line-height: 30px;
                padding: 2px 0 0;
                white-space: nowrap;
                border-left: 1px solid #333;
                border-right: 1px solid #333;
                transition: background-color 0.5s ease;
                background-color: #333;
                &:hover {
                    cursor: pointer;
                    transition: background-color 0.5s ease;
                    background-color: #ccc;
                    tb-icon {
                        transition: color 0.5s ease;
                        color: #000;
                    }
                }
                &>tb-icon {
                    font-size: 22px;
                    padding-top: 3px;
                    margin: 0 8px;
                    transition: color 0.5s ease;
                    color: #ccc;
                }
            }
            li.active {
                background: #0277bd;
                tb-icon {
                    color: #fff;
                }
            }
        }
    }
    .dockpane-content {
        flex: 1;
        margin: 0;
        padding: 0;
        border: none;
        overflow: hidden;
    }
    .dockpane-content {
        background: #333;
        display: flex;
    }
}

::ng-deep .dockpane-tabber {
    .k-tabstrip-top>.k-tabstrip-items {
        display: none;
    }
    .k-tabstrip>.k-content {
        padding: 6px 6px 6px 0px;
        background: #333;
        border-radius: 0;
        border: none;
        display: flex;
        tb-view {
            background: #fff;
        }
    }
}