<div class="dockpane-tabber" [ngClass]="{'expanded': dockState === 'expanded'}" [@collapsing]="dockState">

    <div class="dockpane-tabber-selector">

        <ul class="selector">
            <li *ngFor="let t of getDockpanes();let i = index" (click)="changeDockpaneByIndex(i)" [class.active]="idxActive === i">
                <tb-icon [iconType]="t?.iconType" [icon]="t?.icon" [title]="t?.title"></tb-icon>
            </li>
        </ul>

    </div>

    <kendo-tabstrip #kendoTabStripInstance="kendoTabStrip" class="dockpane-content"></kendo-tabstrip>

    <!-- <kendo-tabstrip #dockpaneTabber="kendoTabStrip">
        <kendo-tabstrip-tab *ngFor="let dockpane of getDockpanes();">
            <ng-template kendoTabTitle>
                <div (click)="toggleDockpane(dockpane)" class="dockpane-tab">
                    <span>{{dockpane?.title}}</span>
                </div>
            </ng-template>
            <ng-template kendoTabContent>
                <div class="dockingSlide" [@slideInOut]="dockState">
                    <ng-content></ng-content>
                </div>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip> -->
</div>