 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeColumn >
      <ng-template>
       <tb-tile [title]="_TB('Filter for Order')" tbTileMini >
        <tb-text [caption]="_TB('Order No.')" cmpId="IDC_DOC_TAB_SELECTIONS_ORDERNO" width="70" [model]="eventData?.model?.OrdNoFilter"></tb-text>
        <tb-numeric-text-box formatter="Integer" [caption]="_TB('Position')" cmpId="IDC_DOC_TAB_SELECTIONS_POSORDER" width="70" [model]="eventData?.model?.OrdPosFilter"></tb-numeric-text-box>
        <tb-checkbox cmpId="IDC_DOC_TAB_SELECTIONS_EXCLUDE_DETAIL_FULFFILLED" width="134" [model]="eventData?.model?.ExcludeFulffilledLines" [caption]="_TB('Exclude Processed Rows ')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_DOC_TAB_SELECTIONS_EXCLUDE_DETAIL_NOTES" width="134" [model]="eventData?.model?.ExcludeNotes" [caption]="_TB('Exclude Notes Rows ')"></tb-checkbox>
        <tb-caption cmpId="IDC_STATIC_DOC_TAB_SELECTIONS_SUGGEST_QTY" width="151" [caption]="_TB('Suggest Amount to be Invoiced')"></tb-caption>
        <tb-checkbox cmpId="IDC_DOC_TAB_SELECTIONS_SUGGEST_QTY" width="151" [model]="eventData?.model?.QtyToInvoiceAsDelivered" [caption]="_TB('based on the Delivered')"></tb-checkbox>
       </tb-tile>
       <tb-tile [title]="_TB('Filter for Item Code')" tbTileMini >
        <tb-text [caption]="_TB('Item')" cmpId="IDC_DOC_TAB_SELECTIONS_ITEM" width="98" [model]="eventData?.model?.ItemFilter"></tb-text>
        <tb-caption cmpId="IDC_STATIC" width="154" [caption]="_TB('Display Only Rows')"></tb-caption>
        <tb-checkbox cmpId="IDC_DOC_TAB_SELECTIONS_DISPLAY_DETAIL_ITM_SELECT" width="141" [model]="eventData?.model?.ShowOnlyItemLine" [caption]="_TB('related to Selected Item')"></tb-checkbox>
       </tb-tile>
       <tb-tile [title]="_TB('Filter for Storages')" tbTileMini >
        <tb-caption cmpId="IDC_STATIC" width="159" [caption]="_TB('Display Only Orders')"></tb-caption>
        <tb-checkbox cmpId="IDC_DOC_TAB_SELECTIONS_FILTER_BY_STORAGE" width="143" [model]="eventData?.model?.bUseFilterForStorageForOrderFilter" [caption]="_TB('Using Selected Storages')"></tb-checkbox>
        <tb-combo [caption]="_TB('Phase 1')" cmpId="IDC_DOC_TAB_SELECTION_CBO_STORAGE_PHASE1" width="62" [model]="eventData?.model?.StoragePhase1ForOrderFilter"></tb-combo>
        <tb-combo [caption]="_TB('Phase 2')" cmpId="IDC_DOC_TAB_SELECTION_CBO_STORAGE_PHASE2" width="62" [model]="eventData?.model?.StoragePhase2ForOrderFilter"></tb-combo>
        <tb-checkbox cmpId="IDC_DOC_TAB_SELECTIONS_USE_DN_STORAGE" width="155" [model]="eventData?.model?.bUseCurrentDNStorages" [caption]="_TB('Deliver from current DN Storage')"></tb-checkbox>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_OK?.enabled" icon="tb-search" [caption]="_TB('Search')" cmpId="ID_OK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_DOC_TAB_SELECTIONS_ORDERS_IMPORT?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Import')" cmpId="IDC_DOC_TAB_SELECTIONS_ORDERS_IMPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_CANCEL?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="ID_CANCEL"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
