<md-tab-group class="tabHeader" (selectChange)="changeTabByIndex($event.index)">
  <md-tab *ngFor="let menuTab of utilsService.toArray(menuService.getSelectedGroup().Menu)">
    <template md-tab-label>
      <div class="tabItem">
        <!-- da spostare il click nel selectChange del tabgroup-->
        {{menuTab.title}}
      </div>
    </template>

    <!--<template md-tab-content>-->
    <div *ngIf="menuService.getSelectedMenu() != undefined" class="tabContent">


      <div *ngIf="menuService.getMenuHiddenTiles(menuTab).length>0">
          <button md-mini-fab [hidden]="" [md-menu-trigger-for]="hiddenTiles" > <!--md-tooltip="{{localizationService.getLocalizedElement('HiddenTiles')}}" tooltip-position="right"-->
          <md-icon style="display:inline-block" class="menuItemImage link" (click)="removeFromHiddenTiles(tile);$event.stopPropagation()">hdr_weak</md-icon>
          {{menuService.getMenuHiddenTiles(menuTab).length}}
        </button>
        <md-menu #hiddenTiles="mdMenu">
          <tb-hidden-tiles [ShowHiddenOnlyCurrentMenu]=true></tb-hidden-tiles>
        </md-menu>
      </div>

      <tb-tile-container></tb-tile-container>

    </div>
    <!--</template>-->

  </md-tab>

</md-tab-group>