<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="DefaultBarcode2DVersion" localize="Barcode 2D Default Version">
    <Setting name="DataMatrix"      type="string" value="Auto"  localize="Default Data Matrix version (Auto, 10x10, 12x12, 14x14, 16x16, 18x18, 20x20, 22x22, 24x24, 26x26, 32x32, 36x36, 40x40, 44x44, 48x48, 52x52, 64x64, 80x80, 88x88, 96x96, 104x104, 120x120, 132x132, 144x144, 8x18, 8x32, 12x26, 12x36, 16x36, 16x48). If Auto, the smallest rectangular symbol to fit the data is chosen." />
    <!--<Setting name="MicroQR"         type="integer" value="0"   localize="Default Micro QR-Code version. In the range 0 - 4. Specifies the overall dimensions of the symbol. Use 0 to let the engine decide and return the minimum version required to encode all data."/>
    <Setting name="QR"              type="integer" value="0"   localize="Default QR-Code version. In the range 0 - 40. Specifies the overall dimensions of the symbol. Use 0 to let the engine decide and return the minimum version required to encode all data."/>
    --><Setting name="PDF417"          type="string" value="0x0"   localize="Default PDF417 version with format 'RowsxCols' : Rows: Defines the number of rows constituting the barcode. Use 0 for automatic computation(recommended) or a value in the range [3 - 90]. Cols: Defines the number of columns constituting the barcode. Use 0 for automatic computation(recommended) or a value in the range [3 - 30]."/>
  </Section>
    <Section name="DefaultBarcode2DEncoding" localize="Barcode 2D Default Encoding Mode">
      <Setting name="DataMatrix"                 type="integer" value="0"    localize="Default DataMatrix Encoding mode: -1 = Undefined; 0 = ASCII; 1 = C40; 2 = Text; 3 = X12; 4 = EDIFACT; 5 = Base 256."/>
      <Setting name="MicroQR"                    type="integer" value="-1"    localize="Default Micro QR-Code Encoding mode: -1 = Undefined; 0 = Numeric; 1 = Alphanumeric; 2 = Byte; 3 = Kanji."/>
      <Setting name="QR"                         type="integer" value="-1"    localize="Default QR-Code Encoding mode: -1 = Undefined; 0 = Numeric; 1 = Alphanumeric; 2 = Byte; 3 = Kanji."/>
      <Setting name="PDF417"                     type="integer" value="-1"    localize="Default PDF417 Encoding mode: -1 = Undefined; 0 = Text; 1 = Byte; 2 = Numeric."/>
    </Section>
  <Section name="DefaultBarcode2DErrCorrLevel" localize="Barcode 2D Default Error Correction Level">
    <Setting name="MicroQR"                    type="string" value="M"    localize="Default Micro QR-Code error correction: L = Level Low – up to 7% damage can be restored; M = Level Medium – up to 15% damage can be restored , Q = Level Quartile – up to 25% damage can be restored. The higher the error correction level, the less storage capacity."/>
    <Setting name="QR"                         type="string" value="M"    localize="Default QR-Code error correction: L = Level Low – up to 7% damage can be restored; M = Level Medium – up to 15% damage can be restored , Q = Level Quartile – up to 25% damage can be restored; H = Level High – up to 30% damage can be restored. The higher the error correction level, the less storage capacity."/>
    <Setting name="PDF417"                     type="integer" value="-1"    localize="Default PDF417 error correction level (Reed Solomon): Use -1 for automatic computation or a value in the range [0 - 8]. The higher the error correction level, the less storage capacity."/>
  </Section>
</ParameterSettings>
