<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="DefaultBarcode" localize="Barcode Default Version">
    <Setting name="BarcodeType" type="string" value=""/>
  </Section>
  <Section name="DefaultBarcode2DVersion" localize="Barcode 2D Default Version">
    <Setting name="DataMatrix"      type="string" value="Auto"/>
    <!--<Setting name="MicroQR"         type="integer" value="0"   localize="Default Micro QR-Code version. In the range 0 - 4. Specifies the overall dimensions of the symbol. Use 0 to let the engine decide and return the minimum version required to encode all data."/>
    <Setting name="QR"              type="integer" value="0"   localize="Default QR-Code version. In the range 0 - 40. Specifies the overall dimensions of the symbol. Use 0 to let the engine decide and return the minimum version required to encode all data."/>
    -->
  <Setting name="PDF417"          type="string" value="0x0"/>
  </Section>
    <Section name="DefaultBarcode2DEncoding" localize="Barcode 2D Default Encoding Mode">
      <Setting name="DataMatrix"                 type="integer" value="0" />
      <Setting name="MicroQR"                    type="integer" value="-1"/>
      <Setting name="QR"                         type="integer" value="-1"/>
      <Setting name="PDF417"                     type="integer" value="-1"/>
  </Section>
  <Section name="DefaultBarcode2DErrCorrLevel" localize="Barcode 2D Default Error Correction Level">
    <Setting name="MicroQR"                    type="string" value="M"/>
    <Setting name="QR"                         type="string" value="M"/>
    <Setting name="PDF417"                     type="integer" value="-1"/>
  </Section>
</ParameterSettings>
