<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="WoormGeneralOptions" localize="Woorm General Options" hidden="true">
    <Setting name="DefaultTableRows" type="integer" value="30" />
    <Setting name="RectHRatio" type="integer" value="18" />
    <Setting name="RectVRatio" type="integer" value="18" />
    <Setting name="GridX" type="integer" value="1" />
    <Setting name="GridY" type="integer" value="1" />
    <Setting name="SortGap" type="integer" value="3" />
    <Setting name="IncludeTotal" type="bool" value="1" />
    <Setting name="MouseSensibility" type="integer" value="3" />
    <Setting name="AddColumnBefore" type="bool" value="0" />
    <Setting name="AutoColumnTotal" type="bool" value="1" />
    <Setting name="TotalOnNewPage" type="bool" value="1" />
    <Setting name="ResetOnNewPage" type="bool" value="1" />
    <Setting name="AlwaysHidden" type="bool" value="0" />
    <Setting name="DoBakupFile" type="bool" value="1" />
    <Setting name="EnableTrackCross" type="bool" value="1" />
    <Setting name="TrackInside" type="bool" value="0" />
    <Setting name="ShowGrid" type="bool" value="1" />
    <Setting name="SnapToGrid" type="bool" value="0" />
    <Setting name="SizeInGridUnits" type="bool" value="0" />
    <Setting name="ShowPrintableArea" type="bool" value="1" />
    <Setting name="TransparentCreate" type="bool" value="0" />
    <Setting name="NoBorderCreate" type="bool" value="0" />
    <Setting name="NoLabelCreate" type="bool" value="0" />
    <Setting name="NoShowMargins" type="bool" value="1" />
    <Setting name="SortObjects" type="bool" value="1" />
    <Setting name="BottomAlign" type="bool" value="0" />
    <Setting name="UseDocProp" type="bool" value="0" />
    <Setting name="ToClipboard" type="bool" value="1" />
    <Setting name="Show" type="integer" value="2" />
    <Setting name="CopyType" type="integer" value="0" />
    <Setting name="OptimizedLineBreak" type="bool" value="1" />
    <Setting name="ColumnWidthPercentage" type="percent" value="90" />
    <Setting name="CheckBarcodeSize" type="bool" value="1"></Setting>
    <Setting name="ForceVerticalAlignLabelRelative" type="bool" value="1"></Setting>
    <Setting name="ShowAdvancedForms" type="bool" value="0"></Setting>
  </Section>
  <Section name="DraftPrint" hidden="true">
    <Setting name="CharSet" type="integer" value="0" />
    <Setting name="OutPrecision" type="integer" value="3" />
    <Setting name="ClipPrecision" type="integer" value="2" />
    <Setting name="Quality" type="integer" value="1" />
    <Setting name="PitchAndFamily" type="integer" value="1" />
    <Setting name="FaceName" type="string" value="Arial" />
  </Section> 
</ParameterSettings>