<div class="sidenav-header">
    <m4-icon icon="tb-featureslistfilled" id="close-sidebar" (click)="toggleSidenavRight()"></m4-icon>
</div>

<div class="sidenav-subtitle">
    <h4>{{localizationService?.localizedElements?.FavoritesLabel}}
        <m4-icon class="clear" icon="tb-delete" (click)="menuService.clearFavorites()" matTooltip="{{localizationService?.localizedElements?.ClearFavoriteList}}" matTooltipPosition="after" *ngIf="menuService.favoritesCount > 0"></m4-icon>
    </h4>
</div>
<tb-favorites (itemSelected)="toggleSidenavRight()" class="sidenav"></tb-favorites>

<div class="sidenav-subtitle">
    <h4>{{localizationService.localizedElements?.MostUsedLabel}}
        <m4-icon class="clear" icon="tb-delete" (click)="menuService.clearMostUsed()" matTooltip="{{localizationService?.localizedElements?.ClearMostUsedList}}" matTooltipPosition="after" *ngIf="menuService.mostUsedCount > 0"></m4-icon>
    </h4>
</div>
<tb-most-used (itemSelected)="toggleSidenavRight()" class="sidenav"></tb-most-used>


<div class="sidenav-subtitle">
    <h4>{{localizationService.localizedElements?.HiddenTilesLabel}}
        <m4-icon class="clear" icon="tb-delete" (click)="menuService?.removeAllHiddenTiles()" matTooltip="{{localizationService?.localizedElements?.ClearHiddenTilesList}}" matTooltipPosition="after" *ngIf="menuService?.hiddenTilesCount > 0"></m4-icon>
    </h4>
</div>
<tb-hidden-tiles class="sidenav"></tb-hidden-tiles>