<div class="sidenav-header">
    <m4-icon icon="tb-featureslistfilled" id="close-sidebar" (click)="toggleSidenavRight()"></m4-icon>
</div>

<div class="sidenav-subtitle">
    <h4>{{localizationService?.localizedElements?.FavoritesLabel}}
        <m4-icon class="clear" icon="tb-delete" (click)="menuService.clearFavorites()" matTooltip="{{localizationService?.localizedElements?.ClearFavoriteList}}"
            matTooltipPosition="after" *ngIf="utilsService.toArray(menuService?.favorites).length > 0"></m4-icon>
    </h4>
</div>
<tb-favorites (itemSelected)="toggleSidenavRight(true)" class="sidenav"></tb-favorites>

<div class="sidenav-subtitle">
    <h4>{{localizationService.localizedElements?.MostUsedLabel}}
        <m4-icon class="clear" icon="tb-delete" (click)="menuService.clearMostUsed()" matTooltip="{{localizationService?.localizedElements?.ClearMostUsedList}}"
            matTooltipPosition="after" *ngIf="utilsService.toArray(menuService?.mostUsed).length > 0"></m4-icon>
    </h4>
</div>
<tb-most-used (itemSelected)="toggleSidenavRight(true)" class="sidenav"></tb-most-used>