 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('First')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile [title]="_TB('Period')" tbTileStandard >
        <tb-numeric-text-box formatter="Integer" [caption]="_TB('Year')" cmpId="IDC_BUILD_COMMUNICATION_SEL_YEAR" width="40" [model]="eventData?.model?.Year"></tb-numeric-text-box>
        <tb-checkbox *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_GEN_PREVIOUS" cmpId="IDC_BUILD_COMMUNICATION_GEN_PREVIOUS" width="242" [model]="eventData?.model?.SEL_prev" [caption]="_TB('Search invoices for grouping in the previous year also')"></tb-checkbox>
       </tb-tile>
       <tb-tile [title]="_TB('Choose an option')" tbTileStandard >
        <tb-radio cmpId="IDC_BUILD_COMMUNICATION_RADIO_SEL" width="265" [model]="eventData?.model?.RadioSelection" [caption]="_TB('Show documents (not mandatory)')"></tb-radio>
        <tb-radio cmpId="IDC_BUILD_COMMUNICATION_RADIO_GEN" width="265" [model]="eventData?.model?.RadioGeneration" [caption]="_TB('Data generation')"></tb-radio>
        <tb-radio cmpId="IDC_BUILD_COMMUNICATION_RADIO_PRI" width="265" [model]="eventData?.model?.RadioPrint" [caption]="_TB('Print on file or paper')"></tb-radio>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Filters')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Customers')" tbTileMini >
         <tb-radio cmpId="IDC_BUILD_COMMUNICATION_SEL_CUST_ALL" width="110" [model]="eventData?.model?.SEL_cust_All" [caption]="_TB('All  ')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_BUILD_COMMUNICATION_SEL_CUST" width="35" [model]="eventData?.model?.SEL_cust" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_BUILD_COMMUNICATION_SEL_CUSTF" width="80" [model]="eventData?.model?.SEL_custf"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_BUILD_COMMUNICATION_SEL_CUSTT" width="80" [model]="eventData?.model?.SEL_custt"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Suppliers')" tbTileMini >
         <tb-radio cmpId="IDC_BUILD_COMMUNICATION_SEL_SUPP_ALL" width="110" [model]="eventData?.model?.SEL_supp_All" [caption]="_TB('All  ')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_BUILD_COMMUNICATION_SEL_SUPP" width="35" [model]="eventData?.model?.SEL_supp" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_BUILD_COMMUNICATION_SEL_SUPPF" width="80" [model]="eventData?.model?.SEL_suppf"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_BUILD_COMMUNICATION_SEL_SUPPT" width="80" [model]="eventData?.model?.SEL_suppt"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Included/excluded documents')" tbTileMini >
         <tb-caption cmpId="IDC_STATIC" width="142" [caption]="_TB('Show only documents')"></tb-caption>
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_SEL_INCL" width="150" [model]="eventData?.model?.SEL_incl" [caption]="_TB('Manually included (Operation = Included)')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_SEL_EXCL" width="150" [model]="eventData?.model?.SEL_excl" [caption]="_TB('Manually excluded (Operation = Excluded)')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Operations normally excluded')" tbTileStandard >
         <tb-caption cmpId="IDC_STATIC" width="310" [caption]="_TB('Show the documents')"></tb-caption>
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_SEL_CEE" width="310" [model]="eventData?.model?.SEL_cee" [caption]="_TB('INTRA EU Customer/Supplier, excluded Black List')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_SEL_EXCEE" width="310" [model]="eventData?.model?.SEL_excee" [caption]="_TB('EXTRA EU Customer/Supplier, excluded Black List')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_SEL_BL" width="310" [model]="eventData?.model?.SEL_bl" [caption]="_TB('Black List Customer/Supplier ')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Included/excluded documents')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_DOCUMENTS_OLD">
         <tb-caption cmpId="IDC_STATIC" width="151" [caption]="_TB('Only this kind of invoices ...')"></tb-caption>
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_ONLY_INCLUDED" width="146" [model]="eventData?.model?.SEL_onlyIncluded" [caption]="_TB('Shows only invoices included')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_ONLY_EXCLUDED" width="146" [model]="eventData?.model?.SEL_onlyExcluded" [caption]="_TB('Shows only invoices excluded')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Operations normally included')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_OPERATIONS_OLD">
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_SEL_COMPANY" width="150" [model]="eventData?.model?.SEL_company" [caption]="_TB('Consider the Company')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_SEL_PERSON" width="150" [model]="eventData?.model?.SEL_person" [caption]="_TB('Consider the private person')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_SEL_NOTRES" width="150" [model]="eventData?.model?.SEL_notres" [caption]="_TB('Consider the foreign subjects')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Grid')" tbTileAutoFill >
        <tb-caption cmpId="IDC_STATIC" width="390" [caption]="_TB('(Click Extract button to start/stop the elaboration)')"></tb-caption>
        <tb-section-title cmpId="IDC_GRID_GAUGE_STATIC" width="392"></tb-section-title>
        <tb-caption cmpId="IDC_GRID_GAUGE" width="400" [model]="eventData?.model?.nCurrentElement"></tb-caption>
        <tb-body-edit cmpId="IDC_BUILD_COMMUNICATION_BODY" width="653" [model]="eventData?.model?.SelectionBody">
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_LINK_PN" columnName="l_TEnhJournalEntriesTax_P10" [title]="_TB('Journal Entry')" columnType="tb-image" columnName="IDC_BUILD_COMMUNICATION_BODY_LINK_PN">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_LINK_DOC" columnName="l_TEnhJournalEntriesTax_P11" [title]="_TB('Doc.')" columnType="tb-image" columnName="IDC_BUILD_COMMUNICATION_BODY_LINK_DOC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_OP_AUTO" columnName="l_TEnhJournalEntriesTax_P01" [title]="_TB('Included')" columnType="tb-checkbox" columnName="IDC_BUILD_COMMUNICATION_BODY_OP_AUTO">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_OP_MANUAL" columnName="l_TEnhJournalEntriesTax_P02" [title]="_TB('Operation')" columnType="tb-enum-combo" columnName="IDC_BUILD_COMMUNICATION_BODY_OP_MANUAL">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_FORM" columnName="l_TEnhJournalEntriesTax_P18" [title]="_TB('Form')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_FORM" *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_FORM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_GROUP_MAN" columnName="l_TEnhJournalEntriesTax_P17" [title]="_TB('Group Code')" columnType="tb-text" columnName="IDC_BUILD_COMMUNICATION_BODY_GROUP_MAN" *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_GROUP_MAN">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_CUSTSUPP" columnName="CustSuppType" [title]="_TB('Type')" columnType="tb-enum-combo" columnName="IDC_BUILD_COMMUNICATION_BODY_CUSTSUPP">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_CS_KIND" columnName="l_TEnhJournalEntriesTax_P23" [title]="_TB('Kind')" columnType="tb-enum-combo" columnName="IDC_BUILD_COMMUNICATION_BODY_CS_KIND">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_CODE" columnName="CustSupp" [title]="_TB('Code')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_CODE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_CODENAME" columnName="l_TEnhJournalEntriesTax_P16" [title]="_TB('Company Name')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_CODENAME">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_BUILD_COMMUNICATION_BODY_POSTDATE" columnName="PostingDate" columnType="tb-date-input" columnName="IDC_BUILD_COMMUNICATION_BODY_POSTDATE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_BUILD_COMMUNICATION_BODY_DOCDATE" columnName="DocumentDate" [title]="_TB('Document Date')" columnType="tb-date-input" columnName="IDC_BUILD_COMMUNICATION_BODY_DOCDATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_NUMBER" columnName="DocNo" [title]="_TB('Doc. No.')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_NUMBER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_LOGNO" columnName="l_TEnhJournalEntriesTax_P24" [title]="_TB('Log No.')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_LOGNO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_BUILD_COMMUNICATION_BODY_TOTAL" columnName="l_TEnhJournalEntriesTax_P08" [title]="_TB('Taxable Amount')" columnType="tb-numeric-text-box" columnName="IDC_BUILD_COMMUNICATION_BODY_TOTAL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_BUILD_COMMUNICATION_BODY_TAX" columnName="l_TEnhJournalEntriesTax_P09" [title]="_TB('Tax Amount')" columnType="tb-numeric-text-box" columnName="IDC_BUILD_COMMUNICATION_BODY_TAX">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_REVCHARGE" columnName="l_TEnhJournalEntriesTax_P19" [title]="_TB('Reverse Charge')" columnType="tb-checkbox" columnName="IDC_BUILD_COMMUNICATION_BODY_REVCHARGE" *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_REVCHARGE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_NOTSHOWN" columnName="l_TEnhJournalEntriesTax_P21" [title]="_TB('Tax Not Shownt')" columnType="tb-checkbox" columnName="IDC_BUILD_COMMUNICATION_BODY_NOTSHOWN" *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_NOTSHOWN">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_SELF" columnName="l_TEnhJournalEntriesTax_P20" [title]="_TB('SelfInvoice')" columnType="tb-checkbox" columnName="IDC_BUILD_COMMUNICATION_BODY_SELF" *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_SELF">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_SUMMDOC" columnName="l_TEnhJournalEntriesTax_P22" [title]="_TB('Summary Document')" columnType="tb-checkbox" columnName="IDC_BUILD_COMMUNICATION_BODY_SUMMDOC" *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_SUMMDOC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_CREDITNOTE" columnName="l_TEnhJournalEntriesTax_P07" [title]="_TB('Variation Note')" columnType="tb-checkbox" columnName="IDC_BUILD_COMMUNICATION_BODY_CREDITNOTE" *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_CREDITNOTE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_GROUP " columnName="TaxCommunicationGroup" [title]="_TB('Group Code')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_GROUP " *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_GROUP ">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_JOB " columnName="l_TEnhJournalEntriesTax_P05" [title]="_TB('Job')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_JOB " *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_JOB ">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_CIG " columnName="l_TEnhJournalEntriesTax_P03" [title]="_TB('CIG')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_CIG " *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_CIG ">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_CUP " columnName="l_TEnhJournalEntriesTax_P04" [title]="_TB('CUP')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_CUP " *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_CUP ">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_GROUPSTRING" columnName="l_TEnhJournalEntriesTax_P06" [title]="_TB('Messages')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_GROUPSTRING" *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_BODY_GROUPSTRING">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BUILD_COMMUNICATION_BODY_ERRORSTRING" columnName="l_TEnhJournalEntriesTax_P15" [title]="_TB('Errors')" columnType="tb-label-static" columnName="IDC_BUILD_COMMUNICATION_BODY_ERRORSTRING">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Generation')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Customers')" tbTileMini >
         <tb-radio cmpId="IDC_BUILD_COMMUNICATION_SEL_CUST_ALL" width="110" [model]="eventData?.model?.SEL_cust_All" [caption]="_TB('All  ')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_BUILD_COMMUNICATION_SEL_CUST" width="35" [model]="eventData?.model?.SEL_cust" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_BUILD_COMMUNICATION_SEL_CUSTF" width="80" [model]="eventData?.model?.SEL_custf"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_BUILD_COMMUNICATION_SEL_CUSTT" width="80" [model]="eventData?.model?.SEL_custt"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Suppliers')" tbTileMini >
         <tb-radio cmpId="IDC_BUILD_COMMUNICATION_SEL_SUPP_ALL" width="110" [model]="eventData?.model?.SEL_supp_All" [caption]="_TB('All  ')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_BUILD_COMMUNICATION_SEL_SUPP" width="35" [model]="eventData?.model?.SEL_supp" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_BUILD_COMMUNICATION_SEL_SUPPF" width="80" [model]="eventData?.model?.SEL_suppf"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_BUILD_COMMUNICATION_SEL_SUPPT" width="80" [model]="eventData?.model?.SEL_suppt"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Generation')" tbTileAutoFill >
<div class="anchored">        <tb-button cmpId="IDC_BUILD_COMMUNICATION_GEN_START" width="20" [model]="eventData?.model?.GenerationStart"></tb-button>
        <tb-caption cmpId="IDC_STATIC" width="120" [caption]="_TB('(Click to start/stop the generation)')"></tb-caption>
</div>        <tb-section-title cmpId="IDC_GENERATION_GAUGE_STATIC" width="400"></tb-section-title>
        <tb-caption cmpId="IDC_GENERATION_GAUGE" width="400" [model]="eventData?.model?.nCurrentElement2"></tb-caption>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Last')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile [title]="_TB('Period')" tbTileWide  isCollapsible="False">
<div class="col col1">        <tb-numeric-text-box formatter="Integer" disabled="true" [caption]="_TB('Year')" cmpId="IDC_BUILD_COMMUNICATION_YEAR" width="35" [model]="eventData?.model?.Year"></tb-numeric-text-box>
        <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_GROUPED_DATA" width="10" [model]="eventData?.model?.GroupedData" [caption]="_TB('Grouped Data ')"></tb-checkbox>
        <tb-text [caption]="_TB('Complete pathname of the file')" cmpId="IDC_BUILD_COMMUNICATION_FILE" width="225" [model]="eventData?.model?.FileNameComplete"></tb-text>
        <tb-section-title cmpId="IDC_STATIC" width="650" [caption]="_TB('Detail lines limit')"></tb-section-title>
<div class="anchored">        <tb-radio cmpId="IDC_BUILD_COMMUNICATION_FILEINTERNET" width="129" [model]="eventData?.model?.FileInternet" [caption]="_TB('Sending by Internet File')"></tb-radio>
        <tb-numeric-text-box formatter="Long" cmpId="IDC_BUILD_COMMUNICATION_FILEINTERNET_LIMIT" width="40" [model]="eventData?.model?.FileInternetLimit"></tb-numeric-text-box>
</div><div class="anchored">        <tb-radio cmpId="IDC_BUILD_COMMUNICATION_ENTRATEL" width="129" [model]="eventData?.model?.Entratel" [caption]="_TB('Sending by Entratel')"></tb-radio>
        <tb-numeric-text-box formatter="Long" cmpId="IDC_BUILD_COMMUNICATION_ENTRATEL_LIMIT" width="40" [model]="eventData?.model?.EntratelLimit"></tb-numeric-text-box>
</div></div><div class="col col2"></div>       </tb-tile>
       <tb-tile [title]="_TB('Intermediary data')" tbTileWide >
<div class="col col1">        <tb-label-static [caption]="_TB('Fiscal Code')" cmpId="IDC_BUILD_COMMUNICATION_FC_INTERMEDIARY" width="86" [model]="eventData?.model?.Intermediary"></tb-label-static>
        <tb-label-static [caption]="_TB('Tax Center ID')" cmpId="IDC_BUILD_COMMUNICATION_NUMBER_CAF" width="46" [model]="eventData?.model?.CAF"></tb-label-static>
</div><div class="col col2">        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Commitment Date')" cmpId="IDC_BUILD_COMMUNICATION_DATE" width="57" [model]="eventData?.model?.CommitDate"></tb-date-input>
        <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_MADE_TAXPAYER" width="109" [model]="eventData?.model?.MadeTaxpayer" [caption]="_TB('Communication made by the taxpayer  ')"></tb-checkbox>
</div>       </tb-tile>
       <tb-tile [title]="_TB('Heir - Liquidator - Incorporating (From Company People)')" tbTileWide  *ngIf="eventData?.activation?.IDD_TD_HEIR">
<div class="col col1">        <tb-label-static [caption]="_TB('Fiscal Code')" cmpId="IDC_BUILD_COMMUNICATION_FC_HEIR" width="86" [model]="eventData?.model?.Heir_FiscalCode"></tb-label-static>
        <tb-combo [caption]="_TB('Position Code')" cmpId="IDC_BUILD_COMMUNICATION_HEIR_CODE" width="30" [model]="eventData?.model?.Heir_Code_XML" [itemSource]="IDC_BUILD_COMMUNICATION_HEIR_CODE_itemSource"></tb-combo>
</div><div class="col col2"><div class="anchored">        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Start procedure date')" cmpId="IDC_BUILD_COMMUNICATION_HEIR_FROMDATE" width="57" [model]="eventData?.model?.Heir_From"></tb-date-input>
        <tb-section-title cmpId="IDC_STATIC_DEATH_HEIR" width="65" [caption]="_TB(' (or death)')"></tb-section-title>
</div>        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('End procedure date')" cmpId="IDC_BUILD_COMMUNICATION_HEIR_TODATE" width="57" [model]="eventData?.model?.Heir_To"></tb-date-input>
</div>       </tb-tile>
       <tb-tile [title]="_TB('Sending type')" tbTileWide >
<div class="col col1">        <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_SOSTITUTIVE" width="109" [model]="eventData?.model?.Sostitutive" [caption]="_TB('Sostitutive ')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_BUILD_COMMUNICATION_CANCELLATION" width="109" [model]="eventData?.model?.Cancellation" [caption]="_TB('Cancellation ')"></tb-checkbox>
</div><div class="col col2">        <tb-text [caption]="_TB('Telematic Protocol')" cmpId="IDC_BUILD_COMMUNICATION_PROT_TEL" width="90" [model]="eventData?.model?.ProtocolTel"></tb-text>
        <tb-text [caption]="_TB('Document Protocol')" cmpId="IDC_BUILD_COMMUNICATION_PROT_DOC" width="40" [model]="eventData?.model?.ProtocolDoc"></tb-text>
        <tb-checkbox *ngIf="eventData?.activation?.IDC_BUILD_COMMUNICATION_GROUP" cmpId="IDC_BUILD_COMMUNICATION_GROUP" width="109" [model]="eventData?.model?.CompanyGroup" [caption]="_TB('Operation of another Company ')"></tb-checkbox>
</div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
