<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Microarea.TaskBuilderNet.DataSynchroProviders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<system.serviceModel>
		<client>
   <endpoint address="http://icrmmago.svil.pat.it/WSC4/WSConnector.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSConnector" contract="PatWSConnector.IWSConnector" name="BasicHttpBinding_IWSConnector" behaviorConfiguration="compressionEnabled"/>
  </client>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IWSConnector"/>
   </basicHttpBinding>
  </bindings>
		
		 <!--compression behavior reference--> 
		<behaviors>
			<endpointBehaviors>
				<behavior name="compressionEnabled">
					<GZipCompressionExtension/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		 <!--List of extensions we add here compression extensions--> 
		<extensions>
			<behaviorExtensions>
				<add name="GZipCompressionExtension" type="PAT.CRM.WSC4.Extensions.GZipCompression, PAT.CRM.WSC4.Extensions, Version=4.0.0.1, Culture=neutral, PublicKeyToken=null"/>
				<add name="DeflateCompressionExtension" type="PAT.CRM.WSC4.Extensions.DeflateCompression, PAT.CRM.WSC4.Extensions, Version=4.0.0.1, Culture=neutral, PublicKeyToken=null"/>
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>
 <applicationSettings>
  <Microarea.TaskBuilderNet.DataSynchroProviders.Properties.Settings>
   <setting name="Microarea_TaskBuilderNet_DataSynchroProviders_InfinitySyncro_InfinitySyncroService"
    serializeAs="String">
    <value>http://localhost:8090/iMagoSviluppo/services/InfinitySyncro</value>
   </setting>
   <setting name="Microarea_TaskBuilderNet_DataSynchroProviders_InfinityDms_InfinityDmsInterfaceService"
    serializeAs="String">
    <value>http://srv-infinity:8080/Infinity24/services/InfinityDmsInterface</value>
   </setting>
  </Microarea.TaskBuilderNet.DataSynchroProviders.Properties.Settings>
 </applicationSettings>
</configuration>
