<md-sidenav-layout>
    <md-sidenav mode="over" #sidenav>
        <tb-home-sidenav></tb-home-sidenav>
    </md-sidenav>

    <div class="main-content">
        <tb-topbar></tb-topbar>

        <tb-tabber>
            <tb-tab [title]="'Menu'" (close)="loginSession.logout();">

                <tb-menu></tb-menu>
            </tb-tab>
            <tb-tab *ngFor="let info of componentService.components" (close)="componentService.tryDestroyComponent(info)" [title]="'Document'">
                <tb-dynamic-cmp [componentInfo]='info'  ></tb-dynamic-cmp>
            </tb-tab>
        </tb-tabber>
    </div>

</md-sidenav-layout>