.groups {
    margin-bottom: 20px;
}

ul.groups-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background: #3e3e3e;
    &>li {
        flex-grow: 1;
        width: 33%;
        height: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #9f9f9f;
        background: #3e3e3e;
        text-align: center;
        padding: 12px 0;
    }
    &>li:hover {
        color: #fff;
        background: #333;
        transition: opacity 0.1s;
    }
    &>li span {
        font-size: 12px;
        font-weight: 500;
    }
    &>li>img {
        max-width: 120px
    }
    &>li>div>span {
        font-size: 12px;
    }
}

.group-icon {
    font-size: 30px;
}