:host(tb-card-content) {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    flex-wrap: wrap;
}

@media screen and (min-width: 75em) {
     :host(tb-card-content) {
        flex-direction: row;
    }
}