<h1>Controls Test Page</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin Button</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-button [buttonText]=&#x22;&#x27;Test&#x27;&#x22; (click)=&#x22;read()&#x22; [primary]=true &#x3E;&#x3C;/admin-button&#x3E;</code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-button [buttonText]="'Test'" (click)="read()" [primary]=true ></admin-button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin Check Box</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-checkbox [checkText]=&#x22;&#x27;is Admin&#x27;&#x22; [checkId]=&#x22;&#x27;idTest&#x27;&#x22; [(checkValue)]=&#x22;chkTest&#x22; [readOnly]=&#x22;false&#x22; (inputDataChange)=&#x22;chkTest = $event&#x22;&#x3E;&#x3C;/admin-checkbox&#x3E;</code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-checkbox [checkText]="'is Admin'" [checkId]="'idTest'" [(checkValue)]="chkTest" [readOnly]="false" (inputDataChange)="chkTest = $event"></admin-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin DropDown</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-dropdown 
                [inputLabel]=&#x22;&#x27;Leonardo\&#x27;s paintings&#x27;&#x22; 
                [(selectedValue)]=&#x22;selectedItem&#x22; 
                [listItems]=&#x22;artWorks&#x22; 
                [textField]=&#x22;&#x27;name&#x27;&#x22; 
                [valueField]=&#x22;&#x27;value&#x27;&#x22;&#x3E;&#x3C;/admin-dropdown&#x3E;  </code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-dropdown 
              [inputLabel]="'Leonardo\'s paintings'" 
              [(selectedValue)]="selectedItem" 
              [listItems]="artWorks" 
              [textField]="'name'" 
              [valueField]="'value'"
              [readOnly]=false></admin-dropdown>
            bind: {{ selectedItem.value }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin TextArea</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-textarea [inputLabel]=&#x22;&#x27;Notes&#x27;&#x22; [(inputData)]=&#x22;strTextArea&#x22;&#x3E;&#x3C;/admin-textarea&#x3E;</code>
          </div>            
          <admin-textarea [inputLabel]="'Notes'" [(inputData)]="strTextArea"></admin-textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin Dialog</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-dialog 
              [mode]=&#x22;&#x27;confirm&#x27;&#x22;
              [title]=&#x22;&#x27;Order confirmation&#x27;&#x22; 
              [message]=&#x22;&#x27;Congratulations, your order has been processed.&#x27;&#x22; 
              [opened]=openToggle 
              (onDialogClosed)=&#x22;openToggle = false&#x22;&#x3E;&#x3C;/admin-dialog&#x3E;</code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-button [buttonText]="'open dialog'" [primary]=true (click)="openDialog()"></admin-button>
            <admin-dialog 
              [mode]="'fields'"
              [title]="'Time travel'" 
              [message]="'Please insert your credentials to start time traveling, or ask your local TMT vendor if you are egilible to apply for a discount.'"
              [(fields)]=fields
              [(opened)]=openToggle 
              [(result)]=result></admin-dialog>
            bind result:{{ result }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin Input</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-input-text [material]=false [inputLabel]=&#x22;&#x27;Name&#x27;&#x22; [(inputData)]=&#x22;painterName&#x22;&#x3E;&#x3C;/admin-input-text&#x3E;</code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-input-text [material]=false [inputLabel]="'Name'" [(inputData)]="painterName"></admin-input-text>
            bind: {{ painterName }}
          </div>                       
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin Tabs</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-tabs&#x3E;
                &#x3C;admin-tab [tabTitle]=&#x22;&#x27;Folkabilly&#x27;&#x22;&#x3E;
                  &#x3C;div class=&#x22;tab-content&#x22;&#x3E;
                    &#x3C;h5&#x3E;Jamie Clarke&#x27;s Perfect&#x3C;/h5&#x3E;
                  &#x3C;/div&#x3E;
                &#x3C;/admin-tab&#x3E;
                &#x3C;admin-tab [tabTitle]=&#x22;&#x27;Rockabilly&#x27;&#x22;&#x3E;
                  &#x3C;div class=&#x22;tab-content&#x22;&#x3E;
                    &#x3C;h5&#x3E;Stray Cats&#x3C;/h5&#x3E;
                    &#x3C;h5&#x3E;The Spunyboys&#x3C;/h5&#x3E;
                  &#x3C;/div&#x3E;
                &#x3C;/admin-tab&#x3E;              
              &#x3C;/admin-tabs&#x3E;</code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-tabs>
              <admin-tab [tabTitle]="'Folkabilly'">
                <div class="tab-content">
                  <h5>Jamie Clarke's Perfect</h5>
                </div>
              </admin-tab>
              <admin-tab [tabTitle]="'Rockabilly'">
                <div class="tab-content">
                  <h5>Stray Cats</h5>
                  <h5>The Spunyboys</h5>
                </div>
              </admin-tab>              
            </admin-tabs>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Coming Soon...</h3>
          <div>
            <h5>Code</h5>
            <code>Next Amazing Component</code>
          </div>
          <div>
            <h5></h5>
          </div>                       
        </div>
      </div>
    </div>
  </div>      
</div>



