<h1>Controls Test Page</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin Button</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-button [buttonText]=&#x22;&#x27;Test&#x27;&#x22; (click)=&#x22;read()&#x22; [primary]=true &#x3E;&#x3C;/admin-button&#x3E;</code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-button [buttonText]="'Test'" (click)="read()" [primary]=true ></admin-button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin Check Box</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-checkbox [checkText]=&#x22;&#x27;is Admin&#x27;&#x22; [checkId]=&#x22;&#x27;idTest&#x27;&#x22; [(checkValue)]=&#x22;chkTest&#x22; [readOnly]=&#x22;false&#x22; (inputDataChange)=&#x22;chkTest = $event&#x22;&#x3E;&#x3C;/admin-checkbox&#x3E;</code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-checkbox [checkText]="'is Admin'" [checkId]="'idTest'" [(checkValue)]="chkTest" [readOnly]="false" (inputDataChange)="chkTest = $event"></admin-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin DropDown</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-dropdown 
                [inputLabel]=&#x22;&#x27;Leonardo\&#x27;s paintings&#x27;&#x22; 
                [(selectedValue)]=&#x22;selectedItem&#x22; 
                [listItems]=&#x22;artWorks&#x22; 
                [textField]=&#x22;&#x27;name&#x27;&#x22; 
                [valueField]=&#x22;&#x27;value&#x27;&#x22;&#x3E;&#x3C;/admin-dropdown&#x3E;  </code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-dropdown 
              [inputLabel]="'Leonardo\'s paintings'" 
              [(selectedValue)]="selectedItem" 
              [listItems]="artWorks" 
              [textField]="'name'" 
              [valueField]="'value'"></admin-dropdown>              
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin TextArea</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-textarea [inputLabel]=&#x22;&#x27;Notes&#x27;&#x22; [(inputData)]=&#x22;strTextArea&#x22;&#x3E;&#x3C;/admin-textarea&#x3E;</code>
          </div>            
          <admin-textarea [inputLabel]="'Notes'" [(inputData)]="strTextArea"></admin-textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile tileNormal">
          <div>
            <h3>Admin Dialog</h3>
            <div>
              <h5>Code</h5>
              <code></code>
            </div>
            <div>
              <h5>Live</h5>
              <admin-button [buttonText]="'open dialog'" (click)="openDialog()"></admin-button>
              <admin-dialog [message]="'Would you like to time travel?'" [opened]=openToggle (onDialogClosed)="openToggle = false"></admin-dialog>
              bind: {{ openToggle }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile tileNormal">
          <div>
            <h3>Coming soon..</h3>
            <div>
              <h5>Code</h5>
              <code></code>
            </div>            
          </div>
        </div>
      </div>
    </div>      
</div>



