<h1>Controls Test Page</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin Button</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-button [buttonText]=&#x22;&#x27;Test&#x27;&#x22; (click)=&#x22;read()&#x22; [primary]=true &#x3E;&#x3C;/admin-button&#x3E;</code>
          </div>
          <div>
              <h5>Live</h5>
            <admin-button [buttonText]="'Test'" (click)="read()" [primary]=true ></admin-button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <h3>Admin Check Box</h3>
          <div>
            <h5>Code</h5>
            <code>&#x3C;admin-checkbox [checkText]=&#x22;&#x27;is Admin&#x27;&#x22; [checkId]=&#x22;&#x27;idTest&#x27;&#x22; [(checkValue)]=&#x22;chkTest&#x22; [readOnly]=&#x22;false&#x22; (inputDataChange)=&#x22;chkTest = $event&#x22;&#x3E;&#x3C;/admin-checkbox&#x3E;</code>
          </div>
          <div>
            <h5>Live</h5>
            <admin-checkbox [checkText]="'is Admin'" [checkId]="'idTest'" [(checkValue)]="chkTest" [readOnly]="false" (inputDataChange)="chkTest = $event"></admin-checkbox>
            <div class="mt20">
              (binding value: {{ chkTest }})
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



