 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB(' Customer Orders Filtering')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel isCollapsible="False" showAsTile="False">
        <tb-tile [title]="_TB('Sale orders number')" tbTileMini  isCollapsible="False">
         <tb-checkbox cmpId="IDC_SCHEMA_SELECTIONS_ALL_NO" width="50" [model]="eventData?.model?.bAllNo" [caption]="_TB('All')"></tb-checkbox>
         <tb-text [caption]="_TB('From')" cmpId="IDC_SCHEMA_SELECTIONS_NO_FROM" width="62" [model]="eventData?.model?.FromOrdNo"></tb-text>
         <tb-text [caption]="_TB('To')" cmpId="IDC_SCHEMA_SELECTIONS_NO_A" width="62" [model]="eventData?.model?.ToOrdNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Item')" tbTileMini  isCollapsible="False">
         <tb-checkbox cmpId="IDC_SCHEMA_SELECTIONS_ALL_ITM" width="50" [model]="eventData?.model?.bAllItms" [caption]="_TB('All')"></tb-checkbox>
         <tb-text [caption]="_TB('From')" cmpId="IDC_SCHEMA_SELECTIONS_ITM_FROM" width="122" [model]="eventData?.model?.FromItem"></tb-text>
         <tb-text [caption]="_TB('To')" cmpId="IDC_SCHEMA_SELECTIONS_ITM_A" width="122" [model]="eventData?.model?.ToItem"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Expected order delivery date')" tbTileMini  isCollapsible="False">
         <tb-checkbox cmpId="IDC_SCHEMA_SELECTIONS_EVERYONE_DATE" width="33" [model]="eventData?.model?.bAllDates" [caption]="_TB('All')"></tb-checkbox>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('From')" cmpId="IDC_SCHEMA_SELECTIONS_DATE_FROM" width="73" [model]="eventData?.model?.FromDeliveryDateLine"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_SCHEMA_SELECTIONS_DATE_A" width="73" [model]="eventData?.model?.ToDeliveryDateLine"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Job')" tbTileMini  isCollapsible="False">
         <tb-checkbox cmpId="IDC_SCHEMA_SELECTIONS_EVERYONE_COMM" width="50" [model]="eventData?.model?.bAllJobs" [caption]="_TB('All')"></tb-checkbox>
         <tb-text [caption]="_TB('From')" cmpId="IDC_SCHEMA_SELECTIONS_COMM_FROM" width="73" [model]="eventData?.model?.FromJob"></tb-text>
         <tb-text [caption]="_TB('To')" cmpId="IDC_SCHEMA_SELECTIONS_COMM_A" width="73" [model]="eventData?.model?.ToJob"></tb-text>
         <tb-checkbox cmpId="IDC_SCHEMA_SELECTIONS_ALSO_EMPTY" width="107" [model]="eventData?.model?.AlsoEmptyJobs" [caption]="_TB('Also lines with blank job')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Customer')" tbTileMini  isCollapsible="False">
         <tb-checkbox cmpId="IDC_SCHEMA_SELECTIONS_ALL_CUST" width="50" [model]="eventData?.model?.bAllCust" [caption]="_TB('All')"></tb-checkbox>
         <tb-text [caption]="_TB('From')" cmpId="IDC_SCHEMA_SELECTIONS_CUST_FROM" width="62" [model]="eventData?.model?.FromCustomer"></tb-text>
         <tb-text [caption]="_TB('To')" cmpId="IDC_SCHEMA_SELECTIONS_CUST_A" width="62" [model]="eventData?.model?.ToCustomer"></tb-text>
        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_SCHEMA_SELECTIONS_RESEARCH?.enabled" icon="tb-search" [caption]="_TB('Search')" cmpId="IDC_SCHEMA_SELECTIONS_RESEARCH"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_SCHEMA_SELECTIONS_UNDO?.enabled" icon="tb-undo" [caption]="_TB('Cancel')" cmpId="IDC_SCHEMA_SELECTIONS_UNDO"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
