 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileMini >
        <tb-caption cmpId="IDC_STATIC" width="314" [caption]="_TB('A payment schedule report recalculation
 is required!
Select one of the available options')"></tb-caption>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button *ngIf="eventData?.activation?.ID_INVOICE_DOC_SCA_BOX_ISAUTOMATIC" [disabled]="!eventData?.buttonsState?.ID_INVOICE_DOC_SCA_BOX_ISAUTOMATIC?.enabled" icon="tb-execute" [caption]="_TB('Automatic')" cmpId="ID_INVOICE_DOC_SCA_BOX_ISAUTOMATIC"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_INVOICE_DOC_SCA_BOX_MANUAL?.enabled" icon="tb-edit" [caption]="_TB('Manual')" cmpId="ID_INVOICE_DOC_SCA_BOX_MANUAL"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_INVOICE_DOC_SCA_BOX_CONFIRMED?.enabled" icon="tb-ok" [caption]="_TB('End')" cmpId="ID_INVOICE_DOC_SCA_BOX_CONFIRMED"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
