 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" showAsTile="True">
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-text [caption]="_TB('Simulation')" cmpId="IDC_HF_MRPSIMULATION_SIM" width="57" [model]="eventData?.model?.HFMRPSimulation_MRPSimulation"></tb-text>
         <tb-label-static cmpId="IDC_HF_MRPSIMULATION_SIM_DESC" width="154" [model]="eventData?.model?.HFMRPSimulation_MRPSimulationDesc"></tb-label-static>
         <tb-checkbox cmpId="IDC_HF_MRPSIMULATION_ALSO_MANUAL" width="124" [model]="eventData?.model?.HFMRPSimulation_AlsoManualPR" [caption]="_TB('Also manual Purchase Requests')"></tb-checkbox>
         <tb-radio cmpId="IDC_HFPRISSUEDATE_IDC_HFL_RANGE_RADIO_ALL" width="39" [model]="eventData?.model?.HFPRIssueDate_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_HFPRISSUEDATE_IDC_HFL_RANGE_RADIO_RANGE" width="39" [model]="eventData?.model?.HFPRIssueDate_Range" [caption]="_TB('From')"></tb-radio>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_HFPRISSUEDATE_IDC_HFL_RANGE_EDIT_FROM" [model]="eventData?.model?.HFPRIssueDate_From"></tb-date-input>
</div>         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_HFPRISSUEDATE_IDC_HFL_RANGE_EDIT_TO" [model]="eventData?.model?.HFPRIssueDate_To"></tb-date-input>
         <tb-radio cmpId="IDC_HFPRDELIVERYDATE_IDC_HFL_RANGE_RADIO_ALL" width="39" [model]="eventData?.model?.HFPRDeliveryDate_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_HFPRDELIVERYDATE_IDC_HFL_RANGE_RADIO_RANGE" width="39" [model]="eventData?.model?.HFPRDeliveryDate_Range" [caption]="_TB('From')"></tb-radio>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_HFPRDELIVERYDATE_IDC_HFL_RANGE_EDIT_FROM" [model]="eventData?.model?.HFPRDeliveryDate_From"></tb-date-input>
</div>         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_HFPRDELIVERYDATE_IDC_HFL_RANGE_EDIT_TO" [model]="eventData?.model?.HFPRDeliveryDate_To"></tb-date-input>
         <tb-radio cmpId="IDC_HFRANK_IDC_HFL_RANGE_RADIO_INT_ALL" width="39" [model]="eventData?.model?.HFRank_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_HFRANK_IDC_HFL_RANGE_RADIO_INT_RANGE" width="39" [model]="eventData?.model?.HFRank_Range" [caption]="_TB('From')"></tb-radio>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_HFRANK_IDC_HFL_RANGE_INT_FROM" [model]="eventData?.model?.HFRank_From"></tb-numeric-text-box>
</div>         <tb-numeric-text-box formatter="Integer" [caption]="_TB('To')" cmpId="IDC_HFRANK_IDC_HFL_RANGE_INT_TO" [model]="eventData?.model?.HFRank_To"></tb-numeric-text-box>
         <tb-radio cmpId="IDC_HF_MRP_SUPPLIER_ALL" width="39" [model]="eventData?.model?.HFMRPSupplier_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_HF_MRP_SUPPLIER_RANGE" width="39" [model]="eventData?.model?.HFMRPSupplier_Range" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_HF_MRP_SUPPLIER_FROM" width="110" [model]="eventData?.model?.HFMRPSupplier_From"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_HF_MRP_SUPPLIER_TO" width="110" [model]="eventData?.model?.HFMRPSupplier_To"></tb-text>
         <tb-checkbox cmpId="IDC_HF_MRP_SUPPLIER_BLANK" width="124" [model]="eventData?.model?.HFMRPSupplier_AlsoEmpty" [caption]="_TB('Also lines with supplier blank')"></tb-checkbox>
         <tb-text cmpId="IDD_HF_MRP_ITEM_IDC_HFL_RANGE_EDIT_FROM" width="110" [model]="eventData?.model?.HFMRPItem_From"></tb-text>
         <tb-text [caption]="_TB('To')" cmpId="IDD_HF_MRP_ITEM_IDC_HFL_RANGE_EDIT_TO" width="110" [model]="eventData?.model?.HFMRPItem_To"></tb-text>
         <tb-radio cmpId="IDD_HF_MRP_ITEM_IDC_HFL_RANGE_RADIO_ALL" width="39" [model]="eventData?.model?.HFMRPItem_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDD_HF_MRP_ITEM_IDC_HFL_RANGE_RADIO_RANGE" width="39" [model]="eventData?.model?.HFMRPItem_Range" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDD_HF_MRP_ITEM_IDC_HFL_RANGE_EDIT_FROM" width="110" [model]="eventData?.model?.HFMRPItem_From"></tb-text>
</div>         <tb-text cmpId="IDC_HFVARIANT_IDC_HFL_RANGE_EDIT_FROM" width="110" [model]="eventData?.model?.HFMRPVariant_From"></tb-text>
         <tb-text [caption]="_TB('To')" cmpId="IDC_HFVARIANT_IDC_HFL_RANGE_EDIT_TO" width="110" [model]="eventData?.model?.HFMRPVariant_To"></tb-text>
         <tb-radio cmpId="IDC_HFVARIANT_IDC_HFL_RANGE_RADIO_ALL" width="39" [model]="eventData?.model?.HFMRPVariant_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_HFVARIANT_IDC_HFL_RANGE_RADIO_RANGE" width="39" [model]="eventData?.model?.HFMRPVariant_Range" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_HFVARIANT_IDC_HFL_RANGE_EDIT_FROM" width="110" [model]="eventData?.model?.HFMRPVariant_From"></tb-text>
</div>         <tb-radio cmpId="IDC_HFMRPJOB_IDC_HF_MRP_JOB_ALL" width="39" [model]="eventData?.model?.HFMRPJob_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_HFMRPJOB_IDC_HF_MRP_JOB_RANGE" width="37" [model]="eventData?.model?.HFMRPJob_Range" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_HFMRPJOB_IDC_HF_MRP_JOB_FROM" width="110" [model]="eventData?.model?.HFMRPJob_From"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_HFMRPJOB_IDC_HF_MRP_JOB_TO" width="110" [model]="eventData?.model?.HFMRPJob_To"></tb-text>
         <tb-checkbox cmpId="IDC_HFMRPJOB_IDC_HF_MRP_JOB_NOT_LINKED" width="120" [model]="eventData?.model?.HFMRPJob_AlsoEmpty" [caption]="_TB('Also lines with job blank')"></tb-checkbox>
        </tb-layoutcontainer>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="599" [model]="eventData?.model?.PurcReqGeneration">
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_SELECTED" columnName="Selected" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_PURCHREQGEN_BE_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_PURCHREQGEN_BE_CONF_RANK" columnName="MRPConfirmationRank" [title]="_TB('Confirmation
Rank')" columnType="tb-numeric-text-box" columnName="IDC_PURCHREQGEN_BE_CONF_RANK">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_SUPPLIER" columnName="Supplier" [title]="_TB('Supplier')" columnType="tb-text" columnName="IDC_PURCHREQGEN_BE_SUPPLIER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_SUPPLIER_DESC" columnName="SupplierDescri" [title]="_TB('Company
Name')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_SUPPLIER_DESC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_ITEM" columnName="Item" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_ITEM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_VARIANT" columnName="Variant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_VARIANT" *ngIf="eventData?.activation?.IDC_PURCHREQGEN_BE_VARIANT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_DESCRIPTION" columnName="ItemDescription" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_DESCRIPTION">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_CONF_LEVEL" columnName="ConfirmationLevelDescr" [title]="_TB('Confirmation
Level')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_CONF_LEVEL" *ngIf="eventData?.activation?.IDC_PURCHREQGEN_BE_CONF_LEVEL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_PURCHREQGEN_BE_ISSUEDATE" columnName="IssueDate" [title]="_TB('Issue
Date')" columnType="tb-date-input" columnName="IDC_PURCHREQGEN_BE_ISSUEDATE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_PURCHREQGEN_BE_DELIVERYDATE" columnName="DeliveryDate" [title]="_TB('Delivery
Date')" columnType="tb-date-input" columnName="IDC_PURCHREQGEN_BE_DELIVERYDATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_UOM" columnName="UoM" [title]="_TB('Un.
Meas.')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_PURCHREQGEN_BE_QUANTITY" columnName="Qty" [title]="_TB('Quantity')" columnType="tb-numeric-text-box" columnName="IDC_PURCHREQGEN_BE_QUANTITY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_PRICE" columnName="UnitValue" [title]="_TB('Price')" columnType="tb-combo" columnName="IDC_PURCHREQGEN_BE_PRICE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_DISCOUNT" columnName="DiscountFormula" [title]="_TB('Discount')" columnType="tb-combo" columnName="IDC_PURCHREQGEN_BE_DISCOUNT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_CURRENCY" columnName="Currency" [title]="_TB('Currency')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_CURRENCY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_JOB" columnName="Job" [title]="_TB('Job')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_JOB" *ngIf="eventData?.activation?.IDC_PURCHREQGEN_BE_JOB">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_JOB_DESC" [model]="eventData?.model?.HKLJob?.Description" [title]="_TB('Job
Description')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_JOB_DESC" *ngIf="eventData?.activation?.IDC_PURCHREQGEN_BE_JOB_DESC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_COSTCENTER" columnName="CostCenter" [title]="_TB('Cost Center')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_COSTCENTER" *ngIf="eventData?.activation?.IDC_PURCHREQGEN_BE_COSTCENTER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_COSTCENTER_DESC" [model]="eventData?.model?.HKLCostCnt?.Description" [title]="_TB('Cost Center
Description')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_COSTCENTER_DESC" *ngIf="eventData?.activation?.IDC_PURCHREQGEN_BE_COSTCENTER_DESC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_PURCHASEREQ_NO" columnName="PurchaseReqNo" [title]="_TB('Purchase Req. No.')" columnType="tb-text" columnName="IDC_PURCHREQGEN_BE_PURCHASEREQ_NO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_PURCHREQGEN_BE_PURCHASEREQ_POS" columnName="Position" [title]="_TB('Pos.')" columnType="tb-numeric-text-box" columnName="IDC_PURCHREQGEN_BE_PURCHASEREQ_POS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_SEND_TO" columnName="ShipToCustSuppType" [title]="_TB('Ship to')" columnType="tb-enum-combo" columnName="IDC_PURCHREQGEN_BE_SEND_TO">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_CUSTSUPP_SHIP_GOODS" columnName="ShipToCustSupp" [title]="_TB('Customer Code
Supplier')" columnType="tb-text" columnName="IDC_PURCHREQGEN_CUSTSUPP_SHIP_GOODS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_GOODSDELIVERY" columnName="GoodsDelivery" [title]="_TB('Address')" columnType="tb-combo" columnName="IDC_PURCHREQGEN_BE_GOODSDELIVERY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_GOODSDELIVERY_DESC" columnName="DeliveryGoodDescri" [title]="_TB('Goods
Shipment')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_GOODSDELIVERY_DESC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_STORAGE" columnName="Storage" [title]="_TB('Storage')" columnType="tb-text" columnName="IDC_PURCHREQGEN_BE_STORAGE" *ngIf="eventData?.activation?.IDC_PURCHREQGEN_BE_STORAGE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PURCHREQGEN_BE_STORAGE_DESC" [model]="eventData?.model?.HKLStorageForProd?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_PURCHREQGEN_BE_STORAGE_DESC" *ngIf="eventData?.activation?.IDC_PURCHREQGEN_BE_STORAGE_DESC">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
       <tb-tilepanel [title]="_TB('Actions')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile [title]="_TB('PR Confirmation')" tbTileMini >
         <tb-checkbox cmpId="IDC_PURCHREQGEN_GENERATE_PR" width="156" [model]="eventData?.model?.bCreateAPurchaseOrdForSupplier" [caption]="_TB('Generate an order for supplier')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_PURCHREQGEN_MAINTAIN_DATE" width="156" [model]="eventData?.model?.bKeepProposedDate" [caption]="_TB('Maintain issue date prop. by MRP')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_PURCHREQGEN_GENERATE_LOT" width="156" [model]="eventData?.model?.bGenerateLot" [caption]="_TB('Generate Lots')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_PURCHREQGEN_DELETEROW" width="156" [model]="eventData?.model?.bDeleteRows" [caption]="_TB('Delete rows not selected')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Price and Discount')" tbTileMini >
         <tb-radio cmpId="IDC_PURCHREQGEN_KEEP_PRICE" width="76" [model]="eventData?.model?.bKeepPrice" [caption]="_TB('Maintain Price')"></tb-radio>
         <tb-radio cmpId="IDC_PURCHREQGEN_UPDATE_PRICE" width="78" [model]="eventData?.model?.bUpdatePrice" [caption]="_TB('Update Price')"></tb-radio>
        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
