@import '~@taskbuilder/core/style/tb.scss'; 
 
.header { 
    background-color: #2e3951; 
    height: 5%; 
   } 
 
.toolbar {
    color: #ffffff; 
    background-color: #2e3951; 
    margin-bottom: 20px;   
   } 
 
.content { 
    margin-left: 20px; 
    margin-right: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    background-color: #b1bace; 
    height: 5%; 
   } 
 
.maincard { 
    color: #ffffff; 
    background-color: #45526e; 
    margin-bottom: 20px; 
   } 
  
.elementcard { 
    color: #ffffff; 
    width: 250px;  
    height: 140px; 
    margin-left: 10px; 
}    
 
.elementcardtitle { 
    color: #2e3951; 
}    
 
.footer { 
    background-color: #b1bace; 
    height: 95%; 
   } 

    
 
