@import '~@taskbuilder/core/style/tb.scss'; 
 
.header { 
    background-color: #2e3951; 
    height: 5%; 
   } 
 
.toolbar {
    color: #ffffff; 
    background-color: #2e3951; 
   } 
 
.content { 
    margin-left: 20px; 
    margin-right: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    background-color: #b1bace; 
    height: 5%; 
   } 
 
.maincard { 
    color: #ffffff; 
    background-color: #45526e; 
    margin-bottom: 20px; 
   } 
  
.elementcard { 
    color: #ffffff; 
    width: 250px;  
    height: 140px; 
    margin-left: 10px; 
}    
 
.elementcardtitle { 
    color: #2e3951; 
}    
 
.footer { 
    background-color: #b1bace; 
    height: 95%; 
   } 

span.basebadge {
    background-color: #2e3951; 
    border: solid 2px #2e3951;
    color: white; 
    margin: 6px 2px;
    padding: 1px 3px;
    border-radius: 4px;
  } 

span.redbadge {
    background-color: #CC0000; 
    border: solid 2px #CC0000;
    color: white; 
    margin: 6px 2px;
    padding: 1px 3px;
    border-radius: 4px;
  }  

  span.statusbadge {
    background-color: #4285F4; 
    border: solid 2px #4285F4;
    color: white; 
    margin: 6px 2px;
    padding: 1px 3px;
    border-radius: 8px;
    float: right; 
  }   

  .flexcontainer {
    display: flex;
    justify-content: space-between;
  }