 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Code')" tbTileMini >
         <tb-text [caption]="_TB('Bank code')" cmpId="IDC_SEARCHBANKBRANCH_ABI" width="55" [model]="eventData?.model?.ABI"></tb-text>
         <tb-text [caption]="_TB('Branch code')" cmpId="IDC_SEARCHBANKBRANCH_CAB" width="55" [model]="eventData?.model?.CAB"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-layoutcontainer tbLayoutTypeVbox >
        <tb-tile [title]="_TB('Result')" tbTileAutoFill >
         <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="498" [model]="eventData?.model?.SearchBankBranch">
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_ABI" columnName="ABI" [title]="_TB('Bank Code')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_ABI">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_CAB" columnName="CAB" [title]="_TB('Branch Code')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_CAB">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_BANK" columnName="Bank" [title]="_TB('Bank')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_BANK">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_DESCR" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_DESCR">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_ADDRESS" columnName="Address" [title]="_TB('Address')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_ADDRESS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_CITY" columnName="City" [title]="_TB('City')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_CITY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_ZIPCODE" columnName="ZIPCode" [title]="_TB('ZIPCode')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_ZIPCODE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_COUNTY" columnName="County" [title]="_TB('County')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_COUNTY" *ngIf="eventData?.activation?.IDC_SEARCHBANKBRANCH_COUNTY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_COUNTER" columnName="Counter" [title]="_TB('Counter')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_COUNTER">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_SEARCHBANKBRANCH_SWIFT" columnName="Swift" [title]="_TB('Swift')" columnType="tb-label-static" columnName="IDC_SEARCHBANKBRANCH_SWIFT">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
