 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeColumn >
      <ng-template>
       <tb-tile tbTileWide >
<div class="col col1">        <tb-numeric-text-box formatter="Integer" disabled="true" [caption]="_TB('Year')" cmpId="IDC_INTRA_PURCHASE_YEAR" width="32" [model]="eventData?.model?.IntraArrivals?.BalanceYear"></tb-numeric-text-box>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Accrual Date')" cmpId="IDC_INTRA_PURCHASE_ACCDATE" width="57" [model]="eventData?.model?.IntraArrivals?.AccrualDate"></tb-date-input>
        <tb-numeric-text-box formatter="Integer" [caption]="_TB('Month')" cmpId="IDC_INTRA_PURCHASE_PERIOD_M" width="32" [model]="eventData?.model?.IntraArrivals?.BalanceMonth"></tb-numeric-text-box>
        <tb-numeric-text-box formatter="Integer" [caption]="_TB('Quarter')" cmpId="IDC_INTRA_PURCHASE_PERIOD_Q" width="32" [model]="eventData?.model?.IntraArrivals?.Quarter"></tb-numeric-text-box>
        <tb-text [caption]="_TB('Supplier')" cmpId="IDC_INTRA_PURCHASE_CUSTSUPP" width="80" [model]="eventData?.model?.IntraArrivals?.CustSupp"></tb-text>
        <tb-label-static cmpId="IDC_INTRA_PURCHASE_DESCRI_CUSTSUPP" width="154" [model]="eventData?.model?.HKLCustSupp?.CompanyName"></tb-label-static>
</div><div class="col col2">        <tb-label-static [caption]="_TB('References')" cmpId="IDC_INTRA_PURCHASE_DESCRI_REFJENTRY" width="154" [model]="eventData?.model?.JEReferences"></tb-label-static>
<div class="anchored">        <tb-combo [caption]="_TB('Supplier Country Curr.')" cmpId="IDC_INTRA_PURCHASE_CURRENCY" width="57" [model]="eventData?.model?.IntraArrivals?.Currency"></tb-combo>
        <tb-label-static cmpId="IDC_INTRA_PURCHASE_DESCRI_CURRENCY" width="154" [model]="eventData?.model?.HKLCurrenciesCurrObj?.Description"></tb-label-static>
</div><div class="anchored">        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Fixing')" cmpId="IDC_INTRA_PURCHASE_FIXINGDATE" width="57" [model]="eventData?.model?.IntraArrivals?.FixingDate"></tb-date-input>
        <tb-text cmpId="IDC_INTRA_PURCHASE_FIXING" width="84" [model]="eventData?.model?.IntraArrivals?.Fixing"></tb-text>
</div></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Goods')" icon="erp-inventory" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Lists')" tbTileAutoFill  isCollapsible="True">
         <tb-body-edit cmpId="IDC_INTRA_PURCHASE_BODY_BIS_CEE" width="654" [model]="eventData?.model?.Details">
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NATUREOFTRANSACTION" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NATUREOFTRANSACTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NOMENCLATURE" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NOMENCLATURE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_1" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_1" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_2" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_2" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NETMASS" [title]="_TB('Net Mass')" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NETMASS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_SUPPUNIT" [title]="_TB('Suppl. Unit')" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_SUPPUNIT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_DELIVERYTERMS" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_DELIVERYTERMS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_MODEOFTRANSPORT" [title]="_TB('Transport type')" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_MODEOFTRANSPORT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_COUNTRYOFORIGIN" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_COUNTRYOFORIGIN">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_COUNTRYOFCONSIGNMENT" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_COUNTRYOFCONSIGNMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_DESTINATIONCOUNTY" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_DESTINATIONCOUNTY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_ISO_TRANSPORT" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_ISO_TRANSPORT">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_STATISTICALVALUE_1" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_STATISTICALVALUE_1" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_STATISTICALVALUE_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_STATISTICALVALUE_2" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_STATISTICALVALUE_2" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_STATISTICALVALUE_2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NOTES" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
         <tb-body-edit cmpId="IDC_INTRA_PURCHASE_BODY_BIS_IT_M" width="654" [model]="eventData?.model?.Details">
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_OPERATION" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_OPERATION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NATUREOFTRANSACTION" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NATUREOFTRANSACTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NOMENCLATURE" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NOMENCLATURE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_1" [title]="_TB('Total in Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_1" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_2" [title]="_TB('Total in Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_2" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_1" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_1" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_2" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_2" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_INTRAB_PURCHASE_NETMASS" columnName="NetMass" [title]="_TB('Net Mass')" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_NETMASS">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_INTRAB_PURCHASE_SUPPUNIT" columnName="SuppUnit" [title]="_TB('Suppl. Unit')" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_SUPPUNIT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_DELIVERYTERMS" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_DELIVERYTERMS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_MODEOFTRANSPORT" [title]="_TB('Transport type')" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_MODEOFTRANSPORT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_COUNTRYOFORIGIN" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_COUNTRYOFORIGIN">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_COUNTRYOFCONSIGNMENT" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_COUNTRYOFCONSIGNMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_DESTINATIONCOUNTY" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_DESTINATIONCOUNTY">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_STATISTICALVALUE_1" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_STATISTICALVALUE_1" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_STATISTICALVALUE_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_STATISTICALVALUE_2" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_STATISTICALVALUE_2" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_STATISTICALVALUE_2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NOTES" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
         <tb-body-edit cmpId="IDC_INTRA_PURCHASE_BODY_BIS_IT" width="654" [model]="eventData?.model?.Details">
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_OPERATION" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_OPERATION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NATUREOFTRANSACTION" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NATUREOFTRANSACTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NOMENCLATURE" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NOMENCLATURE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_1" [title]="_TB('Total in Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_1" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_2" [title]="_TB('Total in Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_2" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNTINCURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_1" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_1" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_2" columnType="tb-numeric-text-box" columnName="IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_2" *ngIf="eventData?.activation?.IDC_INTRAB_PURCHASE_TOTALAMOUNT_BASECURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAB_PURCHASE_NOTES" columnType="tb-body-edit-column" columnName="IDC_INTRAB_PURCHASE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
        <tb-tile [title]="_TB('Adjustments')" tbTileAutoFill  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_INTRA_PUR_GOOD_ADJ">
         <tb-body-edit cmpId="IDC_INTRA_PURCHASE_BODY_TER_CEE" width="654" [model]="eventData?.model?.Adjustments">
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_NATUREOFTRANSACTION" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_NATUREOFTRANSACTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_NOMENCLATURE" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_NOMENCLATURE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_1" [title]="_TB('Total')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_1" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_2" [title]="_TB('Total')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_2" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_DEBITCREDITSIGN" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_DEBITCREDITSIGN">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_YEAR_CORRECTION" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_YEAR_CORRECTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_MONTH_CORRECTION" [title]="_TB('Adjust. Month/Quarter')" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_MONTH_CORRECTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_NETMASS" [title]="_TB('Net Mass')" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_NETMASS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_SUPPUNIT" [title]="_TB('Suppl. Unit')" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_SUPPUNIT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_DELIVERYTERMS" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_DELIVERYTERMS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_MODEOFTRANSPORT" [title]="_TB('Transport type')" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_MODEOFTRANSPORT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_COUNTRYOFORIGIN" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_COUNTRYOFORIGIN">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_COUNTRYOFCONSIGNMENT" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_COUNTRYOFCONSIGNMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_DESTINATIONCOUNTY" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_DESTINATIONCOUNTY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_ISO_TRANSPORT" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_ISO_TRANSPORT">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_STATISTICALVALUE_1" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_STATISTICALVALUE_1" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_STATISTICALVALUE_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_STATISTICALVALUE_2" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_STATISTICALVALUE_2" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_STATISTICALVALUE_2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_NOTES" columnType="tb-body-edit-column" columnName="IDC_INTRAT_PURCHASE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
         <tb-body-edit cmpId="IDC_INTRA_PURCHASE_BODY_TER_IT" width="654" [model]="eventData?.model?.Adjustments">
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_OPERATION" columnName="Operation" [title]="_TB('Operation')" columnType="tb-enum-combo" columnName="IDC_INTRAT_PURCHASE_OPERATION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_NATUREOFTRANSACTION" columnName="NatureOfTransaction" [itemSource]="IDC_INTRAT_PURCHASE_NATUREOFTRANSACTION_itemSource" [title]="_TB('Transaction Type')" columnType="tb-enum-combo" columnName="IDC_INTRAT_PURCHASE_NATUREOFTRANSACTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_NOMENCLATURE" columnName="CombinedNomenclature" [title]="_TB('Nomenclature')" columnType="tb-text" columnName="IDC_INTRAT_PURCHASE_NOMENCLATURE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_TOTALAMOUNTINCURR_1" columnName="TotalAmountDocCurr" [title]="_TB('Total in Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_TOTALAMOUNTINCURR_1" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_TOTALAMOUNTINCURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_TOTALAMOUNTINCURR_2" columnName="TotalAmountDocCurr" [title]="_TB('Total in Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_TOTALAMOUNTINCURR_2" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_TOTALAMOUNTINCURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_1" columnName="TotalAmount" [title]="_TB('Total')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_1" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_2" columnName="TotalAmount" [title]="_TB('Total')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_2" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_TOTALAMOUNT_BASECURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_DEBITCREDITSIGN" columnName="DebitCreditSign" [title]="_TB('Sign')" columnType="tb-enum-combo" columnName="IDC_INTRAT_PURCHASE_DEBITCREDITSIGN">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_INTRAT_PURCHASE_YEAR_CORRECTION" columnName="CorrectionYear" [title]="_TB('Adjustment Year')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_YEAR_CORRECTION">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_INTRAT_PURCHASE_MONTH_CORRECTION" columnName="l_TEnhIntraArrivals1B_P1" [title]="_TB('Adjust. Month/Quarter')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_MONTH_CORRECTION">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_STATISTICALVALUE_1" columnName="StatisticalValue" [title]="_TB('Statistical Value')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_STATISTICALVALUE_1" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_STATISTICALVALUE_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAT_PURCHASE_STATISTICALVALUE_2" columnName="StatisticalValue" [title]="_TB('Statistical Value')" columnType="tb-numeric-text-box" columnName="IDC_INTRAT_PURCHASE_STATISTICALVALUE_2" *ngIf="eventData?.activation?.IDC_INTRAT_PURCHASE_STATISTICALVALUE_2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAT_PURCHASE_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_INTRAT_PURCHASE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Services')" icon="erp-sales" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Lists')" tbTileAutoFill  isCollapsible="True">
         <tb-body-edit cmpId="IDC_INTRA_PURCHASE_BODY_QUATER" width="654" [model]="eventData?.model?.ServicesDetails">
          <tb-body-edit-column formatter="Long" disabled="true" cmpId="IDC_INTRAC_PURCHASE_PROGNO" columnName="ProgNo" [title]="_TB('Prog. No.')" columnType="tb-numeric-text-box" columnName="IDC_INTRAC_PURCHASE_PROGNO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAC_PURCHASE_CPA" columnName="CPACode" [title]="_TB('CPA')" columnType="tb-text" columnName="IDC_INTRAC_PURCHASE_CPA">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAC_PURCHASE_TOTALAMOUNTINCURR" columnName="TotalAmountDocCurr" [title]="_TB('Total in Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_INTRAC_PURCHASE_TOTALAMOUNTINCURR">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAC_PURCHASE_TOTALAMOUNT_BASECURR" columnName="TotalAmount" [title]="_TB('Total')" columnType="tb-numeric-text-box" columnName="IDC_INTRAC_PURCHASE_TOTALAMOUNT_BASECURR">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAC_PURCHASE_COUNTRY" columnName="CountryOfPayment" [title]="_TB('Country of Payment')" columnType="tb-combo" columnName="IDC_INTRAC_PURCHASE_COUNTRY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAC_PURCHASE_DOCNO" columnName="DocNo" [title]="_TB('Doc. No.')" columnType="tb-text" columnName="IDC_INTRAC_PURCHASE_DOCNO">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_INTRAC_PURCHASE_DOCDATE" columnName="DocumentDate" [title]="_TB('Doc. Date')" columnType="tb-date-input" columnName="IDC_INTRAC_PURCHASE_DOCDATE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAC_PURCHASE_SUPPLY" columnName="IntrastatSupplyType" [title]="_TB('Supply Type')" columnType="tb-enum-combo" columnName="IDC_INTRAC_PURCHASE_SUPPLY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAC_PURCHASE_COLLECTION" columnName="IntrastatCollectionType" [title]="_TB('Collection Type')" columnType="tb-enum-combo" columnName="IDC_INTRAC_PURCHASE_COLLECTION">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
        <tb-tile [title]="_TB('Adjustments')" tbTileAutoFill  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_INTRA_PUR_SERV_ADJ">
         <tb-body-edit cmpId="IDC_INTRA_PURCHASE_BODY_QUINQUIES" width="654" [model]="eventData?.model?.ServicesAdjustments">
          <tb-body-edit-column formatter="Long" cmpId="IDC_INTRAD_PURCHASE_REFID" columnName="RefIntrastatId" [title]="_TB('Ref. ID')" columnType="tb-numeric-text-box" columnName="IDC_INTRAD_PURCHASE_REFID">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_INTRAD_PURCHASE_YEAR" columnName="BalanceYear" [title]="_TB('Adj. Year')" columnType="tb-numeric-text-box" columnName="IDC_INTRAD_PURCHASE_YEAR">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAD_PURCHASE_LOGNO" columnName="LogNo" [title]="_TB('Adj. Log. No.')" columnType="tb-text" columnName="IDC_INTRAD_PURCHASE_LOGNO">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Long" cmpId="IDC_INTRAD_PURCHASE_PROGNO" columnName="ProgNo" [title]="_TB('Adj. Prog. No.')" columnType="tb-numeric-text-box" columnName="IDC_INTRAD_PURCHASE_PROGNO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAD_PURCHASE_CUSTOMS" columnName="CustomsSectionCode" [title]="_TB('Customs Section')" columnType="tb-text" columnName="IDC_INTRAD_PURCHASE_CUSTOMS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAD_PURCHASE_CPA" columnName="CPACode" [title]="_TB('CPA')" columnType="tb-text" columnName="IDC_INTRAD_PURCHASE_CPA">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAD_PURCHASE_TOTALAMOUNTINCURR_1" columnName="TotalAmountDocCurr" [title]="_TB('Total in Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_INTRAD_PURCHASE_TOTALAMOUNTINCURR_1" *ngIf="eventData?.activation?.IDC_INTRAD_PURCHASE_TOTALAMOUNTINCURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAD_PURCHASE_TOTALAMOUNTINCURR_2" columnName="TotalAmountDocCurr" [title]="_TB('Total in Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_INTRAD_PURCHASE_TOTALAMOUNTINCURR_2" *ngIf="eventData?.activation?.IDC_INTRAD_PURCHASE_TOTALAMOUNTINCURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAD_PURCHASE_TOTALAMOUNT_BASECURR_1" columnName="TotalAmount" [title]="_TB('Total')" columnType="tb-numeric-text-box" columnName="IDC_INTRAD_PURCHASE_TOTALAMOUNT_BASECURR_1" *ngIf="eventData?.activation?.IDC_INTRAD_PURCHASE_TOTALAMOUNT_BASECURR_1">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_INTRAD_PURCHASE_TOTALAMOUNT_BASECURR_2" columnName="TotalAmount" [title]="_TB('Total')" columnType="tb-numeric-text-box" columnName="IDC_INTRAD_PURCHASE_TOTALAMOUNT_BASECURR_2" *ngIf="eventData?.activation?.IDC_INTRAD_PURCHASE_TOTALAMOUNT_BASECURR_2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRADS_PURCHASE_COUNTRY" columnName="CountryOfPayment" [title]="_TB('Country of Payment')" columnType="tb-combo" columnName="IDC_INTRADS_PURCHASE_COUNTRY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAD_PURCHASE_DOCNO" columnName="DocNo" [title]="_TB('Doc. No.')" columnType="tb-text" columnName="IDC_INTRAD_PURCHASE_DOCNO">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_INTRAD_PURCHASE_DOCDATE" columnName="DocumentDate" [title]="_TB('Doc. Date')" columnType="tb-date-input" columnName="IDC_INTRAD_PURCHASE_DOCDATE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAD_PURCHASE_SUPPLY" columnName="IntrastatSupplyType" [title]="_TB('Supply Type')" columnType="tb-enum-combo" columnName="IDC_INTRAD_PURCHASE_SUPPLY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_INTRAD_PURCHASE_COLLECTION" columnName="IntrastatCollectionType" [title]="_TB('Collection Type')" columnType="tb-enum-combo" columnName="IDC_INTRAD_PURCHASE_COLLECTION">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_CROSSREFERENCES_VIEWER_DOCK_PANE" [title]="_TB('CrossReferencesViewer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False">
         <tb-treeview cmpId="IDC_CROSSREFERENCES_TREEVIEW" width="214" [caption]="_TB('Static')" border="True"></tb-treeview>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
