.status-tile-panel{
    display: flex;
    flex-direction: row;
    height: 60px;
    background: lightblue;
    overflow: hidden;
}
.status-tile-panel tb-image{
    background:greenyellow
}
.status-tile-panel tb-label-static{
    background:aquamarine
}