.panel {
    border-color:lightgray;
    border-width: 1px;
    border-style: solid;
}

.title {
    display: block;
    width: 80%;
   
    text-decoration: none;
}
.expandCollapse {
    float: right;
}

.panel-heading {
    padding: 5px 0px 0px 5px;
}

.panel-body {
    padding-left: 2px;
}