tb-tilemanager {
    flex: 1;
    display: flex;
    max-width: 100%;
}

.tile-manager {
    flex: 1;
    display: flex;
    min-height: 100%;
}

.tile-manager .k-tabstrip {
    flex-direction: row;
    display: flex;
    flex: 1;
    max-width: 100%;
}

.tile-manager .k-tabstrip-top>.k-content {
    flex: 1;
    background-color: transparent;
    border-right: none;
}

.tile-manager .k-tabstrip>.k-tabstrip-items {
    flex-direction: column;
    flex: 0 0 60px;
    background: #fff;
}

@media screen and (min-width: 48em) {
    .tile-manager .k-tabstrip>.k-tabstrip-items {
        flex: 0 0 160px;
    }
}

@media screen and (min-width: 64em) {
    .tile-manager .k-tabstrip>.k-tabstrip-items {
        flex: 0 0 200px;
    }
}

@media screen and (min-width: 75em) {
    .tile-manager .k-tabstrip>.k-tabstrip-items {
        flex: 0 0 260px;
    }
}

.tile-manager .k-item .k-link {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.tile-manager .k-item .k-link img {
    margin-right: 5px;
}

.tile-manager .k-item .k-link span {
    font-size: 12px;
    color: #000;
}

.tile-manager .k-item.k-state-active {
    border: none;
    background: #f1f1f1;
}

.group-icon {
    font-size: 30px;
    padding-right: 7px
}