:host(tb-tile-manager) {
    flex: 1;
    display: flex;
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.tile-manager {
    flex: 1;
    display: flex;
    min-height: 100%;
    .tile-manager-selector {
        background: #fff;
        border-right: 1px solid #ddd;
        flex: 0 0 200px;
        padding: 0;
        margin: 0;
        ul.selector {
            padding: 0;
            margin: 0;
            li {
                display: flex;
                flex-direction: row;
                line-height: 30px;
                padding: 2px 0 0;
                white-space: nowrap;
                color: #333;
                &:hover {
                    cursor: pointer;
                    background: #f1f1f1;
                }
                &>tb-icon {
                    font-size: 22px;
                    padding-top: 3px;
                    margin: 0 8px;
                }
                &>span {
                    font-size: 12px;
                    font-weight: 600;
                    margin: 0 6px 0 4px;
                }
            }
            li.active {
                background: #f1f1f1;
                background: #0277bd;
                color: #fff;
                span {
                    color: #fff;
                }
            }
        }
        .collapser {
            border-top: 1px solid #ddd;
            display: flex;
            flex-direction: row;
            line-height: 35px;
            cursor: pointer;
            m4-icon {
                padding-top: 2px;
                margin: 0 11px 0 10px;
                font-size: 20px;
                color: #0277bd;
            }
            span {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
    .tile-manager-content {
        flex: 1;
    }
}

::ng-deep .tile-manager {
    .k-tabstrip-top>.k-tabstrip-items {
        display: none;
    }
    .k-tabstrip>.k-content {
        background: #f1f1f1;
        border: none;
        padding: 4px;
    }
}

@media screen and (min-width: 48em) {}

@media screen and (min-width: 64em) {}

@media screen and (min-width: 75em) {}