<div class="tile-manager">

    <ul class="tile-manager-selector">
        <li *ngFor="let t of getTilegroups();let i = index" (click)="changeTilegroupByIndex(i)"><span>{{t?.title}}</span></li>
    </ul>

    <kendo-tabstrip #kendoTabStripInstance="kendoTabStrip" [keepTabContent]="true">

        <!-- <kendo-tabstrip-tab *ngFor="let t of getTabs();let i = index" [selected]="i == 0">
            <ng-template kendoTabTitle>
                <tb-icon [iconType]="t?.iconType" [icon]="t?.icon" class="group-icon"></tb-icon>
                <span>{{t?.title}}</span>
            </ng-template>
            <ng-template kendoTabContent>
                <div class='kendoTabContent' [style.height.px]="viewHeight">
                    <ng-content></ng-content>
                </div>
            </ng-template>
        </kendo-tabstrip-tab> -->

    </kendo-tabstrip>

</div>