.tbcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}


/*Bottoni del menu */

.tbcontainer .topbar-menu-layout .k-button {
    color: #000000;
    background-color: white;
    background-image: none;
    border-color: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    text-align: left;
    font-size: 12px;
    padding: 15px;
}

.tbcontainer .topbar-menu-layout .k-button:hover {
    background-color: #efefef;
}

.tbcontainer #anchor {
    padding: 10px 10px 0px 10px;
    cursor: pointer;
}

.tbcontainer #anchor:hover,
.tbcontainer #anchor:focus,
.tbcontainer #anchor:visited {
    // background-color: #efefef;
    outline-color: #0277BD;
    outline-style: auto;
    outline-width: 5px;
}

.tbcontainer .topbar-menu-layout.k-list .tbcontainer .topbar-menu-layout.k-item:focus,
.tbcontainer .topbar-menu-layout.k-list .tbcontainer .topbar-menu-layout.k-item.k-state-focused {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

.tbcontainer .topbar-menu-layout .material-icons {
    color: white;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.tbcontainer .topbar-menu-layout .material-icons:focus {
    color: #bcd3e1;
    background-color: transparent;
    border-color: transparent;
}

.tbcontainer .topbar-menu-layout .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 240px;
    height: 24px;
}

.tbcontainer .k-popup {
    margin-top: 8px;
    background: transparent;
}

.tbcontainer .k-popup,
.k-menu.k-context-menu {
    border: 0px solid transparent;
}