 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Customer')" tbTileMini  isCollapsible="False" hasTitle="True">
         <tb-radio cmpId="IDC_CREDIT_LIMIT_START_CUSTOMER_ALL" width="30" [model]="eventData?.model?.bAllCustomer" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_CREDIT_LIMIT_START_CUSTOMER_SELECTION" width="53" [model]="eventData?.model?.bCustomerSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_CREDIT_LIMIT_START_CUSTOMER_START" width="80" [model]="eventData?.model?.CustomerStart"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_CREDIT_LIMIT_START_CUSTOMER_END" width="80" [model]="eventData?.model?.CustomerEnd"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Customer Category')" tbTileMini  isCollapsible="False" hasTitle="True">
         <tb-radio cmpId="IDC_CREDIT_LIMIT_START_CUSTOMER_CTG_ALL" width="30" [model]="eventData?.model?.bAllCustomerCategory" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_CREDIT_LIMIT_START_CUSTOMER_CTG_SELECTION" width="53" [model]="eventData?.model?.bCustomerCategorySel" [caption]="_TB('From')"></tb-radio>
         <tb-combo cmpId="IDC_CREDIT_LIMIT_START_CUSTOMER_CTG_START" width="71" [model]="eventData?.model?.CustomerCategoryStart"></tb-combo>
</div>         <tb-combo [caption]="_TB('To')" cmpId="IDC_CREDIT_LIMIT_START_CUSTOMER_CTG_END" width="71" [model]="eventData?.model?.CustomerCategoryEnd"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Starting from...')" tbTileMini  isCollapsible="False" hasTitle="True">
         <tb-radio cmpId="IDC_CREDIT_LIMIT_START_FROM_PARAMETERS" width="150" [model]="eventData?.model?.bFromParameters" [caption]="_TB('Credit Limit Parameters')"></tb-radio>
         <tb-radio cmpId="IDC_CREDIT_LIMIT_START_FROM_DATA_IN_GRID" width="146" [model]="eventData?.model?.bFromDataInGrid" [caption]="_TB('Data entered in the grid')"></tb-radio>
         <tb-radio cmpId="IDC_CREDIT_LIMIT_START_FROM_BUILTIN" width="146" [model]="eventData?.model?.bFromBuiltIn" [caption]="_TB('Credit Limit old management settings')"></tb-radio>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Single Order')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_CREDIT_LIMIT_START_SINGLE_ORDER_CLPARAM">
         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_MAX_ORDER_VALUE_COPY" width="46" [model]="eventData?.model?.MaxOrderValueCopy" [caption]="_TB('Amount')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_MAX_ORDER_VALUE_CHECK_TYPE_COPY" width="74" [model]="eventData?.model?.MaxOrderValueCheckTypeCopy" [caption]="_TB('Check on Order')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Credit Limit on Turnover')" tbTileLarge  *ngIf="eventData?.activation?.IDD_TD_CREDIT_LIMIT_START_CREDIT_LIMIT_TURNOVER_CLPARAM">
<div class="anchored">         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_COPY" width="46" [model]="eventData?.model?.MaximumCreditCopy" [caption]="_TB('Amount')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_DEFERRING_INVOICING_CHECK_TYPE_COPY" cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_DEFERRING_INVOICING_CHECK_TYPE_COPY" width="153" [model]="eventData?.model?.MaximumCreditCheckTypeDefInvCopy" [caption]="_TB('Check on Deferred Invoicing')"></tb-checkbox>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_CHECK_TYPE_COPY" width="130" [model]="eventData?.model?.MaximumCreditCheckTypeCopy" [caption]="_TB('Check on Order')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_INVOICING_CHECK_TYPE_COPY" width="83" [model]="eventData?.model?.MaximumCreditCheckTypeImmInvCopy" [caption]="_TB('eventData?.model?.MaxCreditTotExposureText')"></tb-checkbox>
</div>         <tb-checkbox *ngIf="eventData?.activation?.IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_DELIVERY_CHECK_TYPE_COPY" cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_DELIVERY_CHECK_TYPE_COPY" width="141" [model]="eventData?.model?.MaximumCreditCheckTypeDelDocCopy" [caption]="_TB('Check on Delivered Doc.')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Ordered not Delivered')" tbTileMini  isCollapsible="False" hasTitle="True" *ngIf="eventData?.activation?.IDD_TD_CREDIT_LIMIT_START_ORDERED_DELIV_CLPARAM">
         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_MAX_ORDERED_VALUE_COPY" width="46" [model]="eventData?.model?.MaxOrderedValueCopy" [caption]="_TB('Amount')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_MAX_ORDERED_VALUE_CHECK_TYPE_COPY" width="74" [model]="eventData?.model?.MaxOrderedValueCheckTypeCopy" [caption]="_TB('Check on Order')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Total Credit Limit')" tbTileLarge  isCollapsible="False" hasTitle="True" *ngIf="eventData?.activation?.IDD_TD_CREDIT_LIMIT_START_TOTAL_CREDIT_LIMIT_CLPARAM">
<div class="anchored">         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_COPY" width="46" [model]="eventData?.model?.TotalExposureCopy" [caption]="_TB('Amount')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_DEFERRING_INVOICING_CHECK_TYPE_COPY" cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_DEFERRING_INVOICING_CHECK_TYPE_COPY" width="155" [model]="eventData?.model?.TotalExposureCheckTypeDefInvCopy" [caption]="_TB('Check on Deferred Invoicing')"></tb-checkbox>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_CHECK_TYPE_COPY" width="150" [model]="eventData?.model?.TotalExposureCheckTypeCopy" [caption]="_TB('Check on Order')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_INVOICING_CHECK_TYPE_COPY" width="83" [model]="eventData?.model?.TotalExposureCheckTypeImmInvCopy" [caption]="_TB('eventData?.model?.MaxCreditTotExposureText')"></tb-checkbox>
</div>         <tb-checkbox *ngIf="eventData?.activation?.IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_DELIVERY_CHECK_TYPE_COPY" cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_DELIVERY_CHECK_TYPE_COPY" width="150" [model]="eventData?.model?.TotalExposureCheckTypeDelDocCopy" [caption]="_TB('Check on Delivered Doc.')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Single Order')" tbTileMini  isCollapsible="False" hasTitle="True" *ngIf="eventData?.activation?.IDD_TD_CREDIT_LIMIT_START_SINGLE_ORDER_GRID">
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Amount')" cmpId="IDC_CREDIT_LIMIT_START_MAX_ORDER_VALUE" width="80" [model]="eventData?.model?.MaxOrderValue"></tb-numeric-text-box>
         <tb-enum-combo [caption]="_TB('Check on Order')" cmpId="IDC_CREDIT_LIMIT_START_MAX_ORDER_VALUE_CHECK_TYPE" width="94" [model]="eventData?.model?.MaxOrderValueCheckType"></tb-enum-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Credit Limit on Turnover')" tbTileLarge  isCollapsible="False" hasTitle="True" *ngIf="eventData?.activation?.IDD_TD_CREDIT_LIMIT_START_CREDIT_LIMIT_TURNOVER_GRID">
<div class="anchored">         <tb-numeric-text-box formatter="Money" [caption]="_TB('Amount')" cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT" width="80" [model]="eventData?.model?.MaximumCredit"></tb-numeric-text-box>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_DEFERRING_INVOICING_CHECK_TYPE" [caption]="_TB('Check on Deferred Invoicing')" cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_DEFERRING_INVOICING_CHECK_TYPE" width="94" [model]="eventData?.model?.MaximumCreditCheckTypeDefInv"></tb-enum-combo>
</div><div class="anchored">         <tb-enum-combo [caption]="_TB('Check on Order')" cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_CHECK_TYPE" width="94" [model]="eventData?.model?.MaximumCreditCheckType"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('eventData?.model?.MaxCreditTotExposureText')" cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_INVOICING_CHECK_TYPE" width="94" [model]="eventData?.model?.MaximumCreditCheckTypeImmInv"></tb-enum-combo>
</div>         <tb-enum-combo *ngIf="eventData?.activation?.IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_DELIVERY_CHECK_TYPE" [caption]="_TB('Check on Delivered Doc.')" cmpId="IDC_CREDIT_LIMIT_START_MAXIMUM_CREDIT_DELIVERY_CHECK_TYPE" width="94" [model]="eventData?.model?.MaximumCreditCheckTypeDelDoc"></tb-enum-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Ordered not Delivered')" tbTileMini  isCollapsible="False" hasTitle="True" *ngIf="eventData?.activation?.IDD_TD_CREDIT_LIMIT_START_ORDERED_DELIV_GRID">
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Amount')" cmpId="IDC_CREDIT_LIMIT_START_MAX_ORDERED_VALUE" width="80" [model]="eventData?.model?.MaxOrderedValue"></tb-numeric-text-box>
         <tb-enum-combo [caption]="_TB('Check on Order')" cmpId="IDC_CREDIT_LIMIT_START_MAX_ORDERED_VALUE_CHECK_TYPE" width="94" [model]="eventData?.model?.MaxOrderedValueCheckType"></tb-enum-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Total Credit Limit')" tbTileLarge  isCollapsible="False" hasTitle="True" *ngIf="eventData?.activation?.IDD_TD_CREDIT_LIMIT_START_TOTAL_CREDIT_LIMIT_GRID">
<div class="anchored">         <tb-numeric-text-box formatter="Money" [caption]="_TB('Amount')" cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE" width="80" [model]="eventData?.model?.TotalExposure"></tb-numeric-text-box>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_DEFERRING_INVOICING_CHECK_TYPE" [caption]="_TB('Check on Deferred Invoicing')" cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_DEFERRING_INVOICING_CHECK_TYPE" width="94" [model]="eventData?.model?.TotalExposureCheckTypeDefInv"></tb-enum-combo>
</div><div class="anchored">         <tb-enum-combo [caption]="_TB('Check on Order')" cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_CHECK_TYPE" width="94" [model]="eventData?.model?.TotalExposureCheckType"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('eventData?.model?.MaxCreditTotExposureText')" cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_INVOICING_CHECK_TYPE" width="94" [model]="eventData?.model?.TotalExposureCheckTypeImmInv"></tb-enum-combo>
</div>         <tb-enum-combo *ngIf="eventData?.activation?.IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_DELIVERY_CHECK_TYPE" [caption]="_TB('Check on Delivered Doc.')" cmpId="IDC_CREDIT_LIMIT_START_TOTAL_EXPOSURE_DELIVERY_CHECK_TYPE" width="94" [model]="eventData?.model?.TotalExposureCheckTypeDelDoc"></tb-enum-combo>
        </tb-tile>
        <tb-layoutcontainer [title]="_TB('Result')" isCollapsible="False" tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Result')" tbTileWide  isCollapsible="False" hasTitle="True">
<div class="col col1">          <tb-section-title cmpId="IDC_CREDIT_LIMIT_START_GAUGE_STATIC" width="587"></tb-section-title>
          <tb-caption cmpId="IDC_CREDIT_LIMIT_START_GAUGE" width="587" [model]="eventData?.model?.nCurrentElement"></tb-caption>
</div><div class="col col2"></div>         </tb-tile>
        </tb-layoutcontainer>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
