<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWorkflowService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/APMServiceClient" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkflowService" contract="BBServiceReference.IWorkflowService" name="BasicHttpBinding_IWorkflowService"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/d:TRACE" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <switches>
      <add name="WebSvcTraceSwitch" value="2"/>
      <!-- Set to 0, 1, 2, 3, or 4, which corresponds 
      to TraceLevel.Off, TraceLevel.Error, TraceLevel.Warning
      TraceLevel.Info, and TraceLevel.Verbose. -->
    </switches>
  </system.diagnostics>
</configuration>