 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Add papery')" tbTileMini >
        <tb-label-static cmpId="IDC_PAPERY_INFO" width="203" [caption]="_TB('Here you can specify the barcode which identifies the papery you want archive.')"></tb-label-static>
        <tb-label-static cmpId="IDC_PAPERY_DESCRIPTION" width="211" [model]="eventData?.model?.sPaperyDescripion"></tb-label-static>
        <tb-text [caption]="_TB('Value')" cmpId="IDC_PAPERY_BARCODE_VALUE" width="152" [model]="eventData?.model?.sPaperyBarcodeValue"></tb-text>
        <tb-caption cmpId="IDC_PAPERY_BARCODEVIEWER" width="152" [model]="eventData?.model?.PaperyBarcodeViewer" [caption]="_TB('BarcodeViewer')"></tb-caption>
        <tb-text [caption]="_TB('Notes')" cmpId="IDC_PAPERY_NOTES" width="153" [model]="eventData?.model?.sPaperyNotes"></tb-text>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_PAPERY_BTN_OK?.enabled" icon="tb-ok" [caption]="_TB('Ok')" cmpId="IDC_PAPERY_BTN_OK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_PAPERY_BTN_CANCEL?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="IDC_PAPERY_BTN_CANCEL"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
