 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard >
<div class="anchored">        <tb-numeric-text-box formatter="Double" [caption]="_TB('Every')" cmpId="IDC_CHART_GRID_STEP" width="34" [model]="eventData?.model?.nGridStep"></tb-numeric-text-box>
        <tb-caption cmpId="IDC_STATIC" width="42" [caption]="_TB('hours')"></tb-caption>
</div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_CHART_REFRESH_UNDO?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="IDC_CHART_REFRESH_UNDO"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_CHART_REFRESH_OK?.enabled" icon="tb-ok" [caption]="_TB('OK')" cmpId="IDC_CHART_REFRESH_OK"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
