<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="fatelwV1SoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fatturapa-test.zucchetti.it/test/services/fatelwV1"
                binding="basicHttpBinding" bindingConfiguration="fatelwV1SoapBinding"
                contract="FatelWeb.fatelwV1" name="fatelwV1" />
        </client>
    </system.serviceModel>
</configuration>