 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Document Date')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('From')" cmpId="IDC_EI_HU_FROM_DATE" width="57" [model]="eventData?.model?.DateFrom"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_EI_HU_TO_DATE" width="56" [model]="eventData?.model?.DateTo"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Document Number')" tbTileMini >
         <tb-radio cmpId="IDC_EI_HU_DOCNO_ALL" width="30" [model]="eventData?.model?.bAllDocNo" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_EI_HU_DOCNO_SELECTION" width="53" [model]="eventData?.model?.bDocNoSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_EI_HU_DOCNO_FROM" width="80" [model]="eventData?.model?.FromDocNo"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_EI_HU_DOCNO_TO" width="80" [model]="eventData?.model?.ToDocNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Set the path to save the file...')" tbTileStandard >
         <tb-text [caption]="_TB('Path')" cmpId="IDC_EI_HU_SEL_DIR_TO_SAVE_FILE" width="266" [model]="eventData?.model?.DirToSaveFileXML"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="138" [model]="eventData?.model?.EIChecks">
         <tb-body-edit-column cmpId="IDC_EI_HU_DETAIL_BE_INVOICETYPE" columnName="DocumentType" [title]="_TB('Doc.Type')" columnType="tb-enum-combo" columnName="IDC_EI_HU_DETAIL_BE_INVOICETYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_EI_HU_DETAIL_BE_INVOICENO" columnName="DocNo" [title]="_TB('Doc.No')" columnType="tb-label-static" columnName="IDC_EI_HU_DETAIL_BE_INVOICENO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_EI_HU_DETAIL_BE_INVOICEDATE" columnName="DocumentDate" [title]="_TB('Date')" columnType="tb-date-input" columnName="IDC_EI_HU_DETAIL_BE_INVOICEDATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_EI_HU_DETAIL_BE_CUSTOMER" columnName="CustSupp" [title]="_TB('Customer')" columnType="tb-label-static" columnName="IDC_EI_HU_DETAIL_BE_CUSTOMER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_EI_HU_DETAIL_BE_CUSTOMER_COMPANYNAME" columnName="TEIMDCDocDetail_P04" [title]="_TB('Company Name')" columnType="tb-label-static" columnName="IDC_EI_HU_DETAIL_BE_CUSTOMER_COMPANYNAME">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_EI_HU_DETAIL_BE_TAXJOURNAL" columnName="TaxJournal" [title]="_TB('Tax Journal')" columnType="tb-label-static" columnName="IDC_EI_HU_DETAIL_BE_TAXJOURNAL">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_EI_HU_DETAIL_BE_CUSTOMER_PIVA" columnName="TEIMDCDocDetail_P03" [title]="_TB('Customer TaxId Num')" columnType="tb-label-static" columnName="IDC_EI_HU_DETAIL_BE_CUSTOMER_PIVA">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_EI_HU_DETAIL_BE_CUSTOMER_FISCALCODE" columnName="TEIMDCDocDetail_P05" [title]="_TB('Customer Fiscal Code')" columnType="tb-label-static" columnName="IDC_EI_HU_DETAIL_BE_CUSTOMER_FISCALCODE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_EI_HU_DETAIL_ERRORMESSSAGES" columnName="TEIMDCDocDetail_P23" [title]="_TB('ErrorMsg')" columnType="tb-label-static" columnName="IDC_EI_HU_DETAIL_ERRORMESSSAGES">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
