<div [ngSwitch]="message.type">
    <span *ngSwitchCase="16">F </span>
    <span *ngSwitchCase="2">E </span>
    <span *ngSwitchCase="1">W </span>
    <span *ngSwitchCase="8">I </span>
    <span *ngSwitchCase="32">  </span>
    <span>{{message.text}}</span>
</div>

<div *ngIf="message.messages" class="message-block">
    <div (click)="toggle()" class="toggler">{{collapsed ? '+' : '-'}}</div>
    <div class="block-title">Level {{level + 1}}:</div>
    <div class="message-block-list" [style.display]="collapsed ? 'none' : 'block'">
        <div *ngFor="let message1 of message.messages">
            <tb-diagnostic-item [message]=message1 [level]=level+1></tb-diagnostic-item>
        </div>
    </div>
</div>