<div *ngIf="message.text && message.type!=32" [ngSwitch]="message.type">
    <div class="message-icon">
        <m4-icon *ngSwitchDefault icon="tb-cancel" class="icon-error diagnostic-icon"></m4-icon>
        <m4-icon *ngSwitchCase="16" icon="tb-cancel" class="icon-error diagnostic-icon"></m4-icon>
        <m4-icon *ngSwitchCase="2" icon="tb-cancel" class="icon-error diagnostic-icon"></m4-icon>
        <m4-icon *ngSwitchCase="1" icon="tb-warning" class="icon-warning diagnostic-icon"></m4-icon>
        <m4-icon *ngSwitchCase="8" icon="tb-info" class="icon-info diagnostic-icon"></m4-icon>
    </div>
    <div class="message-text">{{message.text}}</div>
</div>

<div *ngIf="message.messages" class="message-block">

    <div *ngIf="level>0" (click)="toggle()" class="toggler">{{collapsed ? '+' : '-'}}</div>
    <div *ngIf="level>0" class="block-title">{{getBanner()}}</div>
    <div class="message-block-list" [style.display]="collapsed ? 'none' : 'block'">
        <div *ngFor="let message1 of message.messages">
            <tb-diagnostic-dialog-item [message]=message1 [level]=level+1></tb-diagnostic-dialog-item>
        </div>
    </div>
</div>