<div [ngSwitch]="message.type">
    <m4-icon *ngSwitchCase="16" icon="tb-cancel" class="icon-error"></m4-icon>
    <m4-icon *ngSwitchCase="2" icon="tb-cancel" class="icon-error"></m4-icon>
    <m4-icon *ngSwitchCase="1" icon="tb-warning" class="icon-warning"></m4-icon>
    <m4-icon *ngSwitchCase="8" icon="tb-info" class="icon-info"></m4-icon>
    <span>{{message.text}}</span>
</div>

<div *ngIf="message.messages" class="message-block">
    <div (click)="toggle()" class="toggler">{{collapsed ? '+' : '-'}}</div>
    <div class="block-title">Level {{level + 1}}:</div>
    <div class="message-block-list" [style.display]="collapsed ? 'none' : 'block'">
        <div *ngFor="let message1 of message.messages">
            <tb-diagnostic-item [message]=message1 [level]=level+1></tb-diagnostic-item>
        </div>
    </div>
</div>