.message-block
{
    margin-left:15px
}
.message-block-list
{
    margin-left:5px
}
.block-title
{
    font-weight: bold;
    display: inline-block;
}
.toggler
{
    display: inline-block;
    cursor: pointer;
}
