.message-block-list {
    margin-left: 15px;
}

.block-title {
    font-weight: bold;
    display: inline-block;
}

.toggler {
    display: inline-block;
    cursor: pointer;
    font-size: large;
}

.icon-error {
    color: red;
    font-size: large;
}

.icon-warning {
    color: orange;
    font-size: large;
}

.icon-info {
    color: green;
    font-size: large;
}

.diagnostic-icon {
    vertical-align: middle;
}

.message-icon {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.message-text {
    display: table-cell;
    vertical-align: middle;
}