<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo optional="false" localize="Electronic Invoicing - Hungary localization" destinationfolder="TbApps" >
  <Components>
    <Library name="ElectronicInvoicing_HUDbl"			            deploymentpolicy="base"   sourcefolder="Dbl" 		              aggregatename = "MDCDbl" />
    <Library name="ElectronicInvoicing_HUComponents"			    deploymentpolicy="base"   sourcefolder="Components" 		      aggregatename = "MDCComponents" />
    <Library name="ElectronicInvoicing_HUBatchDocuments" 			deploymentpolicy="full"   sourcefolder="BatchDocuments" 			aggregatename = "MDCDocuments" />
  </Components>
</ModuleInfo>
