 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('Tile Group')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Details')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_ITEMS_BALANCES_DETAILS_BODY" width="1215" [model]="eventData?.model?.ItemsBalancesDetails">
         <tb-body-edit-column cmpId="IDC_ITEMS_BALANCES_DETAILS_STORAGE_DESCRI" columnName="Storage" [title]="_TB('Storage')" columnType="tb-label-static" columnName="IDC_ITEMS_BALANCES_DETAILS_STORAGE_DESCRI">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ITEMS_BALANCES_DETAILS_SPEC_TYPE" columnName="SpecificatorType" [title]="_TB('Specificator Type')" columnType="tb-enum-combo" columnName="IDC_ITEMS_BALANCES_DETAILS_SPEC_TYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ITEMS_BALANCES_DETAILS_SPEC" columnName="Specificator" [title]="_TB('Specificator')" columnType="tb-label-static" columnName="IDC_ITEMS_BALANCES_DETAILS_SPEC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ITEMS_BALANCES_DETAILS_LOT" columnName="Lot" [title]="_TB('Lot')" columnType="tb-label-static" columnName="IDC_ITEMS_BALANCES_DETAILS_LOT" *ngIf="eventData?.activation?.IDC_ITEMS_BALANCES_DETAILS_LOT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ITEMS_BALANCES_DETAILS_VARIANT" columnName="Variant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_ITEMS_BALANCES_DETAILS_VARIANT" *ngIf="eventData?.activation?.IDC_ITEMS_BALANCES_DETAILS_VARIANT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIALONHAND" columnName="InitialOnHand" [title]="_TB('On-Hand Initial Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIALONHAND">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_FINALONHAND" columnName="FinalOnHand" [title]="_TB('On Hand Final Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_FINALONHAND">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIALBOOKINV" columnName="InitialBookInv" [title]="_TB('Book Inventory Initial Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIALBOOKINV">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_FINALBOOKINV" columnName="BookInv" [title]="_TB('Book Inventory Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_FINALBOOKINV">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_BOOKINVINVALUE" columnName="InitialBookInvValue" [title]="_TB('Book Inventory Initial Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_BOOKINVINVALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_FINALBOOKINVALUE" columnName="BookInvValue" [title]="_TB('Book Inventory Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_FINALBOOKINVALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_RESERVEDFINSALEORD" columnName="ReservedSaleOrd" [title]="_TB('Reserved Sales Orders')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_RESERVEDFINSALEORD" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_RESERVEDFINSALEORD">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_ORDEREDPURCHASEORD" columnName="OrderedPurchOrd" [title]="_TB('Ordered Purchase Orders')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_ORDEREDPURCHASEORD" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_ORDEREDPURCHASEORD">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_LASTCOST" columnName="LastCost" [title]="_TB('Last Cost')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_LASTCOST" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_LASTCOST">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_PURCHASEDQTY" columnName="PurchasesQty" [title]="_TB('Purchases Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_PURCHASEDQTY" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_PURCHASEDQTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_PURCHASEVALUE" columnName="PurchasesValue" [title]="_TB('Purchases Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_PURCHASEVALUE" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_PURCHASEVALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_PRODUCEDQTY" columnName="ProducedQty" [title]="_TB('Produced Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_PRODUCEDQTY" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_PRODUCEDQTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_VALUEPRODUCT" columnName="ProducedValue" [title]="_TB('Produced Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_VALUEPRODUCT" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_VALUEPRODUCT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_SALESQTY" columnName="SalesQty" [title]="_TB('Sales Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_SALESQTY" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_SALESQTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_SENTVALUE" columnName="SalesValue" [title]="_TB('Sales Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_SENTVALUE" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_SENTVALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CIGVALUE" columnName="CIGValue" [title]="_TB('CIG Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CIGVALUE" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CIGVALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_SCRAPQTY" columnName="ScrapQty" [title]="_TB('Scrap Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_SCRAPQTY" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_SCRAPQTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_SCRAPVALUE" columnName="ScrapsValue" [title]="_TB('Scraps Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_SCRAPVALUE" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_SCRAPVALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_QTY_RECEIPTED" columnName="ReceivedQty" [title]="_TB('Received Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_QTY_RECEIPTED" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_QTY_RECEIPTED">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_VAL_ENTERED" columnName="ReceivedValue" [title]="_TB('Received Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_VAL_ENTERED" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_VAL_ENTERED">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_QTY_EXIT" columnName="IssuedQty" [title]="_TB('Issued Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_QTY_EXIT" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_QTY_EXIT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_VAL_ISSUED" columnName="IssuedValue" [title]="_TB('Issued Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_VAL_ISSUED" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_VAL_ISSUED">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_QTY_USED_IN_PRODUZ_INITIAL" columnName="InitialUsedByProduction" [title]="_TB('Initial Qty Used In Production')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_QTY_USED_IN_PRODUZ_INITIAL" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_QTY_USED_IN_PRODUZ_INITIAL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_QTY_USED_IN_PRODUZ" columnName="UsedByProduction" [title]="_TB('Qty Used In Production')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_QTY_USED_IN_PRODUZ" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_QTY_USED_IN_PRODUZ">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_USED_IN_PRODUZ_VALUE_INITIAL" columnName="InitialUsedInProductionValue" [title]="_TB('Initial Value Used In Production')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_USED_IN_PRODUZ_VALUE_INITIAL" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_USED_IN_PRODUZ_VALUE_INITIAL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_USED_IN_PRODUZ_VALUE" columnName="UsedInProductionValue" [title]="_TB('Value Used In Production')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_USED_IN_PRODUZ_VALUE" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_USED_IN_PRODUZ_VALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_PRODUCTION_PICKING_VALUE" columnName="PickingValue" [title]="_TB('Picking Value')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_PRODUCTION_PICKING_VALUE" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_PRODUCTION_PICKING_VALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_PICKED_QTY" columnName="PickedQty" [title]="_TB('Picked Qty')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_PICKED_QTY" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_PICKED_QTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY1" columnName="CustomQty1" [title]="_TB('Current Custom Qty 1')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY1" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY1">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE1" columnName="CustomValue1" [title]="_TB('Current Custom Value 1')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE1" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE1">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY1" columnName="InitialCustomQty1" [title]="_TB('Initial Custom Qty 1')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY1" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY1">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE1" columnName="InitialCustomValue1" [title]="_TB('Initial Custom Value 1')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE1" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE1">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY2" columnName="CustomQty2" [title]="_TB('Current Custom Qty 2')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY2" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY2">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE2" columnName="CustomValue2" [title]="_TB('Current Custom Value 2')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE2" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE2">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY2" columnName="InitialCustomQty2" [title]="_TB('Initial Custom Qty 2')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY2" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY2">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE2" columnName="InitialCustomValue2" [title]="_TB('Initial Custom Value 2')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE2" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE2">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY3" columnName="CustomQty3" [title]="_TB('Current Custom Qty 3')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY3" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY3">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE3" columnName="CustomValue3" [title]="_TB('Current Custom Value 3')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE3" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE3">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY3" columnName="InitialCustomQty3" [title]="_TB('Initial Custom Qty 3')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY3" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY3">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE3" columnName="InitialCustomValue3" [title]="_TB('Initial Custom Value 3')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE3" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE3">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY4" columnName="CustomQty4" [title]="_TB('Current Custom Qty 4')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY4" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY4">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE4" columnName="CustomValue4" [title]="_TB('Current Custom Value 4')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE4" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE4">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY4" columnName="InitialCustomQty4" [title]="_TB('Initial Custom Qty 4')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY4" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY4">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE4" columnName="InitialCustomValue4" [title]="_TB('Initial Custom Value 4')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE4" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE4">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY5" columnName="CustomQty5" [title]="_TB('Current Custom Qty 5')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY5" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMQTY5">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE5" columnName="CustomValue5" [title]="_TB('Current Custom Value 5')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE5" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_CUSTOMVALUE5">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY5" columnName="InitialCustomQty5" [title]="_TB('Initial Custom Qty 5')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY5" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMQTY5">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE5" columnName="InitialCustomValue5" [title]="_TB('Initial Custom Value 5')" columnType="tb-numeric-text-box" columnName="IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE5" *ngIf="eventData?.activation?.IDC_DATA_FISC_STORAGE_BODY_INITIAL_CUSTOMVALUE5">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
 </tb-frame>
