<div class="containerX" fxLayout fxLayoutAlign="center center">
  <md-card style="margin-top:40px; min-width:300px">
    <img src="assets/provisioning-tools.png" style="margin:0 0 20px 0;" />
    <md-card-title>Sign In</md-card-title>
    <md-card-content>
      <md-input-container fxFlexFill>
        <input mdInput placeholder="Account Name" value="">
      </md-input-container><br>
      <md-input-container fxFlexFill>
        <input type="password" mdInput placeholder="Password" value="">
      </md-input-container>        
    </md-card-content>
    <md-card-actions style="margin-top:50px">
      <button md-raised-button fxFlexFill color="primary">LOGIN</button>
    </md-card-actions>
  </md-card>  
</div>