 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="False" showAsTile="True">
        <tb-tile [title]="_TB('Period')" tbTileMini >
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Year')" cmpId="IDC_DEKLAR_YEAR" width="27" [model]="eventData?.model?.Year"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('From month')" cmpId="IDC_DEKLAR_PERIOD" width="18" [model]="eventData?.model?.Month"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('To month')" cmpId="IDC_DEKLAR_PERIOD_TO" width="18" [model]="eventData?.model?.MonthTo"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Type')" tbTileStandard >
         <tb-combo [caption]="_TB('Type')" cmpId="IDC_DEKLAR_COMBO_TYPE" width="98" [model]="eventData?.model?.JournalType"></tb-combo>
         <tb-combo [caption]="_TB('Order by')" cmpId="IDC_DEKLAR_ORDERBY" width="98" [model]="eventData?.model?.OrderBy"></tb-combo>
         <tb-combo [caption]="_TB('Submitted by')" cmpId="IDC_DEKLAR_VIES_LETTER" width="99" [model]="eventData?.model?.ViesType"></tb-combo>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" isCollapsible="False" showAsTile="True">
        <tb-tile [title]="_TB('Tax Return Amounts')" tbTileWide >
<div class="col col1"><div class="anchored">         <tb-combo [caption]="_TB('Previous Period Amount')" cmpId="IDC_DEKLAR_CREDITDEBIT" width="48" [model]="eventData?.model?.CreditDebit"></tb-combo>
         <tb-numeric-text-box formatter="Money" cmpId="IDC_DEKLAR_PREVIOUSAMOUNT" width="84" [model]="eventData?.model?.PrevPeriodCredit"></tb-numeric-text-box>
</div>         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Last Tax Payment')" cmpId="IDC_DEKLAR_LAST_PAYMENT" width="57" [model]="eventData?.model?.LastTaxPymt"></tb-date-input>
         <tb-section-title cmpId="IDC_STATIC_CELL50_SEPARATOR" width="194" [caption]="_TB('Output tax payable from cell 50')"></tb-section-title>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('70 - under Art.92 (1)')" cmpId="IDC_DEKLAR_AMOUNT70" width="84" [model]="eventData?.model?.Amount70"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('71 - effectively paid')" cmpId="IDC_DEKLAR_AMOUNT71" width="84" [model]="eventData?.model?.Amount71"></tb-numeric-text-box>
</div><div class="col col2">         <tb-section-title cmpId="IDC_STATIC_30DAYS_SEPARATOR" width="174" [caption]="_TB('Input tax payable 30 days')"></tb-section-title>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('80 - under Art. 92 (1)')" cmpId="IDC_DEKLAR_AMOUNT80" width="84" [model]="eventData?.model?.Amount80"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('81 - under Art. 92 (3)')" cmpId="IDC_DEKLAR_AMOUNT81" width="84" [model]="eventData?.model?.Amount81"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('82 - under Art. 92 (4)')" cmpId="IDC_DEKLAR_AMOUNT82" width="84" [model]="eventData?.model?.Amount82"></tb-numeric-text-box>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Tax Return Data')" tbTileWide >
<div class="col col1"><div class="anchored">         <tb-checkbox cmpId="IDC_DEKLAR_FACTOR_RECALCULATE" width="109" [model]="eventData?.model?.FactorRecalculate" [caption]="_TB('Recalculate Factor  ')"></tb-checkbox>
         <tb-section-title cmpId="IDC_DEKLAR_STATIC_UNDERART73" width="88" [caption]="_TB('under Art.73 (5)')"></tb-section-title>
</div>         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Year')" cmpId="IDC_DEKLAR_FACTOR_YEAR" width="27" [model]="eventData?.model?.Factor_Year"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('From month')" cmpId="IDC_DEKLAR_FACTOR_FROM" width="18" [model]="eventData?.model?.Factor_FromMonth"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('To month')" cmpId="IDC_DEKLAR_FACTOR_TO" width="18" [model]="eventData?.model?.Factor_ToMonth"></tb-numeric-text-box>
</div><div class="col col2">         <tb-section-title cmpId="IDC_DEKLAR_STATIC_SUMSNOTINCLUDED" width="184" [caption]="_TB('Sums not included in Sales journal')"></tb-section-title>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Numerator')" cmpId="IDC_DEKLAR_FACTOR_SUMS" width="84" [model]="eventData?.model?.FactorSums"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Denominator')" cmpId="IDC_DEKLAR_FACTOR_SUMS2" width="84" [model]="eventData?.model?.FactorSums2"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Percent" [caption]="_TB('Factor')" cmpId="IDC_DEKLAR_FACTOR" width="27" [model]="eventData?.model?.Factor"></tb-numeric-text-box>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Signature')" tbTileStandard >
         <tb-checkbox cmpId="IDC_DEKLAR_X1" width="247" [model]="eventData?.model?.X1" [caption]="_TB('I represent the person specified in cell A')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_DEKLAR_X2" width="247" [model]="eventData?.model?.X2" [caption]="_TB('The circumstances of Art.92 (3) and (4) exist.')"></tb-checkbox>
         <tb-text [caption]="_TB('Position')" cmpId="IDC_DEKLAR_POSITION" width="54" [model]="eventData?.model?.Position"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('File Data')" tbTileStandard >
         <tb-text cmpId="IDC_DEKLAR_FOLDER" width="203" [model]="eventData?.model?.Folder"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('Result')" isCollapsible="False" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Result')" tbTileWide >
<div class="col col1">         <tb-label-static cmpId="IDC_DEKLAR_PROCESS" width="480" [model]="eventData?.model?.Process"></tb-label-static>
</div><div class="col col2"></div>        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_DEKLAR_REPORT?.enabled" icon="tb-report" [caption]="_TB('View')" cmpId="ID_DEKLAR_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_DEKLAR_GENERATE?.enabled" icon="tb-batch" [caption]="_TB('Data Generation')" cmpId="ID_DEKLAR_GENERATE"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
