<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="SyncIndexesTickMinutes" value="5" /> <!-- min: 5; max:60; default:5 -->
		<add key="SOSUpdateDocumentsTickHours" value="8" /> <!-- min: 8; max:24; default:8 -->
		<add key="SOSUpdateDocumentsOnDemandTickHours" value="4" /> <!-- min: 1; max:7; default:4 -->
		<add key="SOSWSTimeout" value="20" /> <!-- in minuti -->
	</appSettings>
	<connectionStrings />
	
 	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
    <httpRuntime executionTimeout="1200" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Windows" />
		<!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWorkflowService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/APMServiceClient" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkflowService" contract="BBServiceReference.IWorkflowService" name="BasicHttpBinding_IWorkflowService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
