.dropDownItem {
    display: flex;
}

.dropDownItemId {
    font-weight: bold;
    flex: 1;
    margin-right: 10px;
}

.dropDownItemDescription {
    font-style: italic;
    flex: 1;
    white-space: nowrap;
    text-align: right;
    justify-content: flex-end;
}

.comboBoxPageNavigationButton {
    display: flex;
    flex: 1;
    flex-direction: column;
}

::ng-deep .dropDownNoData.k-loading-image::after {
    margin-top: -0.5em;
}

 ::ng-deep .dropDownNoData.k-loading-image::before {
    margin-top: -0.75em;
}