<kendo-combobox #combobox
                [data]="state$ | async | asDropDownData"
                [allowCustom]="true"
                [popupSettings]="{ width: 'auto' }"
                [value]="slice$ | async | asDropDownValue | toUpper: modelComponent?.model?.uppercase"
                [textField]="'id'"
                [valueField]="'id'"
                [clearButton]="false"
                [valueNormalizer]="valueNormalizer"
                [loading]="paginator.waiting$ | async"
                (open)="openDropDown($event)"
                (close)="closeDropDown()"
                [style.width.px]="width+8"
                [filterable]="true"
                (filterChange)="onFilterChange($event)"
                (selectionChange)="selectionChanged($event)"
                [readonly]="!(slice$ | async)?.enabled"
                [disabled]="!(slice$ | async)?.enabled">
        <ng-template kendoDropDownListItemTemplate let-dataItem>
            <div class="dropDownItem dropDownItemId">{{ dataItem.id }}</div>
            <div class="dropDownItem dropDownItemDescription">{{ dataItem.displayString }}</div>
        </ng-template>
        <ng-template kendoComboBoxFooterTemplate>
            <div *ngIf="enablePager"
                 [style.width.px]="width+8" 
                 [style.display]="'flex'" 
                 [style.background]="'white'"
                 [style.border-top-style]="'solid'"
                 [style.border-top-width.px]="1"
                 [style.border-top-color]="'#E9E9E9'">
                <div style='display: flex;'>
                    <button kendoButton (click)="firstDefaultPage()" [icon]="'arrow-end-left'"
                        [disabled]="paginator.isFirstPage"
                        style="flex: 1;"></button>
                    <button kendoButton (click)="prevDefaultPage()" [icon]="'arrow-60-left'"
                        [disabled]="paginator.isFirstPage"
                        style="flex: 1;"></button>
                </div>
                <button kendoButton (click)="nextDefaultPage()" [icon]="'arrow-60-right'"
                    [disabled]="paginator.noMorePages"
                    style="flex: auto;"></button>
            </div>
        </ng-template>
    </kendo-combobox>