//stile quando usato nella sidenav
/// inizio sidenav
:host-context(.sidenav) {
    .most-used {
        margin-bottom: 20px;
    }
    ul.most-used-list {
        padding: 0 5px;
    }
    .most-used-item {
        display: flex;
        flex-direction: row;
        color: #9f9f9f;
        background: #3e3e3e;
        line-height: 30px;
        position: relative;
    }
    .most-used-item>m4-icon.type {
        margin: 0 2px 0 7px;
        line-height: 30px;
        font-size: 20px;
    }
    .most-used-item>span {
        font-size: 12px;
        cursor: pointer;
    }
    .most-used-item>span:hover {
        color: #fff;
    }
    .most-used-item>m4-icon.close {
        position: absolute;
        right: 0;
        font-size: 14px;
        line-height: 30px;
        cursor: pointer;
        color: #646464;
    }
    .most-used-item>m4-icon.close:hover {
        color: #fff;
    }
}

/// fine sidenav
//stile quando usato nella dashboard
/// inizio dashboard
:host-context(.dashboard) {
    .most-used {
        margin-bottom: 20px;
    }
    ul.most-used-list {
        padding: 0 5px;
    }
    .most-used-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #f1f4f7;
        margin: 3px;
        padding: 2px;
        border: 1px solid #ddd;
        align-items: center;
    }
    .most-used-item .type {
        margin-right: 3px;
        cursor: default;
    }
    .most-used-item>span {
        flex: 1;
        cursor: pointer;
        max-width: 210px;
        font-size: 13px;
    }
    .most-used-item .close {
        font-size: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: #ccc;
    }
    .most-used-item .close:hover {
        color: #000
    }
    .most-used-item .type {
        color: #bbb;
        font-size: 20px;
        line-height: 24px;
    }
    .most-used-item .type.Document {
        color: #0277bd;
    }
    .most-used-item .type.Report,
    .most-used-item .type.Function {
        color: #3EAB66;
    }
    .most-used-item .type.Batch {
        color: #ffa700;
    }
    /// fine dashboard
    .spinner {
        height: 24px;
        width: 24px;
    }
}