<div class="most-used" *ngIf="menuService?.mostUsedCount > 0">
    <!-- <m4-icon class="close" icon="erp-scrap" (click)="menuService.clearMostUsed()" title="Remove"></m4-icon> -->
    <ul class="most-used-list">
        <li *ngFor="let object of utilsService.toArray(menuService?.mostUsed) | slice:0:settingsService?.nrMaxMostUsed;" class="most-used-item" (click)="runFunction(object)">
            <mat-spinner *ngIf="object.isLoading" class="spinner"></mat-spinner>
            <m4-icon class="type" icon="{{imageService.getObjectIcon(object)}}" [ngClass]="object?.objectType"></m4-icon>
            <span class="truncate">{{object.title}}</span>
            <m4-icon class="close" icon="tb-closewindows" (click)="menuService.removeFromMostUsed(object)" title="Remove"></m4-icon>
        </li>
    </ul>
</div>