.most-used {
    margin-bottom: 20px;
}

ul.most-used-list {
    padding: 0;
    margin: 0;
}

.most-used-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: #9f9f9f;
    line-height: 30px;
    background: #3e3e3e;
    &>span {
        flex: 1;
        font-size: 12px;
        font-weight: 500;
    }
    m4-icon.type {
        margin: 0px 7px;
        font-size: 15px;
        line-height: 28px;
        padding-top: 2px;
    }
    m4-icon.close {
        margin: 0px 7px;
        font-size: 14px;
        line-height: 28px;
        padding-top: 2px;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
}

.most-used-empty {
    font-size: 12px;
    color: #9f9f9f;
    margin: 0;
    padding: 0 11px;
}

//stile quando usato nella sidenav
/// inizio sidenav
::ng-deep .sidenav {
    .most-used-item {
        &:hover {
        background: rgba(62, 62, 63, 0.5);
        }
        &:hover span {
            color: #fff;
        }

        m4-icon.close {
            color: #646464;
    }

    .most-used-empty {
        line-height: 28px;
        background: #3e3e3e;
    }
}
}
/// fine sidenav
//stile quando usato nella dashboard
/// inizio dashboard
::ng-deep .dashboard {
    .most-used-item {
        transition: all 0.2s ease;
        background: #fff;
        margin: 0px 7px;
        height: 26px;
        m4-icon.type {
            margin: 0px 7px;
            line-height: 28px;
            font-size: 15px;
            padding-top: 2px;
        }
        &>span {
            color: #000;
            line-height: 29px;
        }
        &:hover {
            background: #f1f1f1;
            color: #0277bd;
            span {
                color: #0277bd;
            }
        }
        .type {
            margin-right: 7px;
        }
        .type.Document {
            color: #0277bd;
        }
        .type.Report,
        .type.Function {
            color: #3EAB66;
        }
        .type.Batch {
            color: #ffa700;
        }
        m4-icon.close {
            color: #ddd;
            &:hover {
                color: #0277bd;
            }
        }
    }
    .most-used-empty {
        color: #666;
    }
}