/* COLORS */

@import '../../../style/vars.scss';
$white: #ffffff;
$bkg-medium: #0277bd;
$shadow: rgba(205, 210, 214, .8);
.k-button {
    background: $white;
    border: 0px;
    &:hover,
    &:focus,
    &:active {
        background: #f7f7f7;
        border: 0px;
    }
}

.row {
    display: flex;
    flex-direction: column;
    margin: auto;
}

a {
    text-decoration: none;
}

.tooltip {
    position: relative;
    .tooltip-content {
        background: $bkg-medium;
        box-shadow: 0 5px 25px 5px $shadow;
        box-sizing: border-box;
        color: $white;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 1px;
        max-width: 250px;
        min-width: 145px;
        padding: 1em;
        position: absolute;
        opacity: 1;
        transition: all .3s ease;
        flex: 1 100%;
        z-index: 9999999;
        &::after {
            content: "";
            height: 10px;
            background: $bkg-medium;
            position: absolute;
            transform: rotate(45deg);
            width: 10px;
        }
    }
    &.bottom {
        .tooltip-content {
            bottom: unset !important;
            left: calc(50%);
            top: calc(100% + 0.5em);
            transform: translateX(-50%);
            &::after {
                top: -5px;
                left: calc(50%);
            }
        }
        .tooltip-content>* {
            flex: 1 100%;
        }
    }
    &.top {
        .tooltip-content {
            bottom: 3.5em;
            left: 0%;
            transform: translateX(-30%);
            &::after {
                bottom: -5px;
                left: 50%;
                margin-left: -5px;
            }
        }
    }
    &.right {
        .tooltip-content {
            left: calc(100% + 1.5em);
            top: 50%;
            transform: translateY(-50%);
            &::after {
                left: -5px;
                margin-top: -5px;
                top: 50%;
            }
        }
    }
    &.left {
        .tooltip-content {
            right: calc(100% + 1.5em);
            top: 50%;
            transform: translateY(-50%);
            &::after {
                right: -5px;
                margin-top: -5px;
                top: 50%;
            }
        }
    }
}
:host-context(.advanced)
{
    .tooltip.bottom {
        .tooltip-content {
            left: calc(100% - 7em);
            top: calc(100% + 0.5em);
            bottom: unset !important;
            &::after {
                top: -5px;
                left: 133px;
            }
        }
    }
}
$white: #ffffff;
$bkg: #f5f5f6;
$bkg-medium: #0277bd;
$bkg-light:#ecf8ff;
$shadow: rgba(205,210,214,.8);
$darkblue:#00578c;
$text-dark: black; 
$text-medium:#9f9f9f;
$text-light: $white;
$text-gray:#ccc;
$border-topbarbutton:#cfe0e8;
$bkg-toolbarbottombutton:#065aad;
$bkg-neutral:#BDBDBD;
$bkg-toolbarbottombuttonHover:#d0dfee;
:host-context(.topBarMenuComponentLike)
{
    .tooltip {
        .tooltip-content {
        background: $bkg-medium;
        &::after {
            background: $bkg-medium;
        }

        .k-button
        {
            background: $bkg-medium;
            &:hover,
            &:focus{
                transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                background:$bkg-light;
                border-color: $bkg-light;
                color: $text-medium;
                tb-icon,
                i {
                    color: $text-medium;
                }
            }
    
            &:active {
                background-color: $bkg-medium;
                box-shadow: none;
                color:$text-light;
                border: 0px;
            }
            &.k-state-disabled {
                opacity: 1;
                background-color: $bkg-neutral;
                border: 1px solid $bkg-neutral;
                transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                color: $text-medium;
                cursor: not-allowed;
                tb-icon {
                    color: $text-medium;
                    border: none;
                }
            }
        }

        }
        &.bottom {
            .tooltip-content {
                bottom: unset !important;
                left: calc(50%);
                top: calc(100% + 0.5em);
                transform: translateX(-50%);
                &::after {
                    top: -5px;
                    left: calc(50%);
                }
            }
        }
    }
}