.divW {
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px;
}


/*triangolino*/

.wrapper:before {
    content: "";
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    right: 9px;
    z-index: 9999;
}