.dashboard-page {
    display: flex;
    flex-direction: row;
}

.dashboard-sidebar {
    flex: 0 0 260px;
    background: #fff;
    border-right: 1px solid #ddd
}

.dashboard-sidebar .favorites>h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #00578c;
    padding: 0 5px;
    margin: 15px 5px 3px;
    border-bottom: 1px solid #ddd;
}

.dashboard-content {
    flex: 1
}

.favorites {
    margin: 30px 0 10px 0
}

.favorites-list {
    padding: 0 5px;
}

.favorite-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f1f4f7;
    margin: 3px;
    padding: 2px;
    border: 1px solid #ddd;
    align-items: center;
}

.favorite-item .type {
    margin-right: 3px;
    cursor: default;
}

.favorite-item>span {
    flex: 1;
    cursor: pointer;
    max-width: 186px;
    font-size: 13px;
}

.favorite-item .close {
    font-size: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #ccc;
}

.favorite-item .close:hover {
    color: #000
}

.favorite-item .type {
    color: #bbb;
    font-size: 20px;
    line-height: 24px;
}

.favorite-item .type.Document {
    color: #0277bd;
}

.favorite-item .type.Report,
.favorite-item .type.Function {
    color: #3EAB66;
}

.favorite-item .type.Batch {
    color: #ffa700;
}