<tb-frame>
    <tb-toolbar-top title="Mario Rossi's Page 1">
        <tb-toolbar-separator></tb-toolbar-separator>
        <tb-toolbar-top-button iconType="TB" icon="erp-document" caption="Test" cmpId="Test"></tb-toolbar-top-button>
        <tb-toolbar-top-button iconType="TB" icon="erp-cash" caption="Test" cmpId="Test"></tb-toolbar-top-button>
        <tb-toolbar-separator></tb-toolbar-separator>
        <tb-toolbar-top-button iconType="MD" icon="keyboard_arrow_left" caption="Previous" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
        <tb-toolbar-top-button iconType="MD" icon="keyboard_arrow_right" caption="Next" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
    </tb-toolbar-top>

    <tb-frame-content>
        <div class="dashboard-page">

            <div class="dashboard-sidebar">
                <div class="dashboard-sidebar-riq favorites">

                    <h4>Favorites</h4>

                    <ul class="dashboard-sidebar-list" *ngIf="menuService?.favoritesCount > 0">
                        <li *ngFor="let favorite of favorites" class="dashboard-sidebar-item">

                            <md-icon class="type" [ngClass]="favorite.objectType">{{imageService.getObjectIcon(favorite)}}</md-icon>

                            <span class="truncate" (click)="runFunction(favorite)">{{favorite.title}}</span>

                            <md-icon class="close" (click)="menuService.toggleFavorites(favorite)" title="Remove">close</md-icon>
                        </li>
                    </ul>

                </div>

                <div class="dashboard-sidebar-riq most-used">

                    <h4>Recently Used</h4>

                    <ul class="dashboard-sidebar-list" *ngIf="menuService?.mostUsedCount > 0">
                        <li *ngFor="let object of utilsService.toArray(menuService?.mostUsed) | slice:0:9;" class="dashboard-sidebar-item">

                            <md-icon class="type" [ngClass]="object.objectType">{{imageService.getObjectIcon(object)}}</md-icon>

                            <span class="truncate" (click)="runFunction(object)">{{object.title}}</span>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="dashboard-content">

                <tb-header-strip title="Dashboard">

                    <div class="header-strip-content">
                        <button class="tool" kendoButton><md-icon>refresh</md-icon></button>
                        <button class="tool" kendoButton><md-icon>settings</md-icon></button>
                    </div>

                    <div class="header-strip-under">
                        <div>Mario Rossi's Page 1</div>
                    </div>
                </tb-header-strip>

                <tb-widget-container></tb-widget-container>

            </div>



            <!--            <div class="row">
                <div class="col-sm-4">
                    <md-card>

                        <md-card-title>
                            <span>Favorites</span>
                        </md-card-title>

                        <md-card-content>
                            
                        </md-card-content>

                    </md-card>
                </div>
                <div class="col-sm-4">

                    <md-card>

                        <md-card-title>
                            <span>Recent Used</span>
                        </md-card-title>

                        <md-card-content>
                            <div class="most-used" *ngIf="menuService?.mostUsedCount > 0">

                                <ul class="most-used-list">
                                    <li *ngFor="let object of utilsService.toArray(menuService?.mostUsed) | slice:0:9;" class="most-used-item">

                                        <md-icon class="type">{{imageService.getObjectIcon(object)}}</md-icon>

                                        <span class="truncate" (click)="runFunction(object)">{{object.title}}</span>
                                    </li>
                                </ul>

                            </div>
                        </md-card-content>

                    </md-card>

                </div>
            </div>-->



        </div>
    </tb-frame-content>
</tb-frame>