<kendo-dialog title="Export Report" (close)="close()" [minWidth]="250" [width]="450">
    <h3>Export range</h3>
    <hr>
    <div>
        <mat-radio-button checked="checked" (click)="setAllPages()">All Pages </mat-radio-button>
    </div>
    <div>
        <mat-radio-button (click)="setRangePages()">Range Pages</mat-radio-button>
    </div>
    <br>
    <div class="fromToPage">
        <label>From page </label>
        <kendo-numerictextbox [(ngModel)]="from" [decimals]="0" [format]="'n0'" [min]="1" [max]="rsExportService.totalPages" [disabled]="inputDisable"></kendo-numerictextbox>
    </div>
    <br>
    <div class="fromToPage">
        <label>To page </label>
        <kendo-numerictextbox [(ngModel)]="to" [decimals]="0" [format]="'n0'" [min]="1" [max]="rsExportService.totalPages" [disabled]="inputDisable"></kendo-numerictextbox>
    </div>
    <br>
    <div *ngIf="this.rsExportService.exportpdf">
        <h3>Export options</h3>
        <hr>
        <div class="fromToPage">
            <label>Number of copy </label>
            <kendo-numerictextbox [(ngModel)]="copy" [decimals]="0" [format]="'n0'" [min]="1" (click)="changeMulticopy()"></kendo-numerictextbox>
            <!--tb-checkbox [model]="check" caption="Multi file" cmpId="0"></tb-checkbox-->
        </div>
        <br>
        <div class="fromToPage">
            <label>Multi file </label>
            <input type="checkbox" (change)="setMulticopy()" [disabled]="multicopyDisable">
        </div>
    </div>

    <kendo-dialog-actions>
        <button kendoButton *ngIf="rsExportService.exportpdf" (click)="startExport()">Export PDF</button>
        <button kendoButton *ngIf="rsExportService.exportexcel" (click)="startExport()">Export Excel</button>
        <button kendoButton *ngIf="rsExportService.exportdocx" (click)="startExport()">Export Docx</button>
    </kendo-dialog-actions>

</kendo-dialog>