    <kendo-dialog title="Export Report" (close)="close()">
        <md-radio-button onclick="document.getElementById('fromPage').disabled = true; document.getElementById('toPage').disabled = true;"
            checked="checked">All Pages </md-radio-button>
        <md-radio-button onclick="document.getElementById('fromPage').disabled = false; document.getElementById('toPage').disabled = false;">Range Pages</md-radio-button>

        <br><br>

        <label>From page </label>
        <input type="number" name="fromPage" id="fromPage" value="1" min="1" max="{{rsService.totalPages}}" disabled>
        <br><br>
        <label>To page </label>
        <input type="number" name="ToPage" id="toPage" value="{{rsService.totalPages}}" min="1" max="{{rsService.totalPages}}" disabled>

        <kendo-dialog-actions>
            <button kendoButton *ngIf=rsService.exportpdf (click)="startExport()">Export PDF</button>
            <button kendoButton *ngIf=rsService.exportexcel (click)="startExport()">Export Excel</button>

        </kendo-dialog-actions>
        
    </kendo-dialog>


