.h200 tb-card-content {
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
}

tb-tile {
    flex: 1;
}

tb-tile.tile-micro {
    flex: 0 0 12.5%;
}

tb-tile.tile-mini {
    flex: 0 0 25%;
}

tb-tile.tile-standard {
    flex: 0 0 50%;
}

tb-tile.tile-wide {
    flex: 0 0 100%;
}

tb-tile.tile-autofill {
    flex: 1;
}

tb-tile.tile-standard {
    div.sameHeight {
        height: 100%;
    }
}

tb-tile.tile-wide {
    tb-card-content {
        display: flex;
        flex-direction: column;
    }
    .col {
        flex: 0 0 100%;
    }
    .col2 {
        margin-left: 16px;
    }
}

.anchored {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 48em) {
    tb-tile.tile-wide tb-card-content {
        flex-direction: row;
    }
    tb-tile.tile-wide .col {
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 64em) {}

@media screen and (min-width: 75em) {
    tb-tile.tile-wide tb-card-content {
        flex-direction: row;
    }
    tb-tile.tile-wide .col {
        flex: 0 0 50%;
    }
    .anchored {
        flex-direction: row;
    }
}
