
<!--<template #customItemTemplate let-model="item" >
    <div style="min-width: 300px">
        <tb-tile-element [Object]="model"></tb-tile-element>
    </div>
</template>

<input [(ngModel)]="selected" [typeahead]="getSearchItems()" (typeaheadOnSelect)="onSelect($event)" [typeaheadOptionField]="'title'"
    [typeaheadItemTemplate]="customItemTemplate" [typeaheadMinLength]="1"  [typeaheadOptionsLimit]="20"
    [typeaheadAsync]="false" placeholder="{{localizationService.getLocalizedElement('SearchLabel')}}" class="form-control">-->