 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Storage of Origin')" tbTileMini  hasTitle="True">
         <tb-combo [caption]="_TB('Storage')" cmpId="IDC_STORAGEENTRIES_STORAGE" width="79" [model]="eventData?.model?.Storage"></tb-combo>
         <tb-enum-combo [caption]="_TB('Specificator Type')" cmpId="IDC_STORAGEENTRIES_CODETYPE_SPECIFICATOR" width="68" [model]="eventData?.model?.SpecificatorType" [itemSource]="IDC_STORAGEENTRIES_CODETYPE_SPECIFICATOR_itemSource"></tb-enum-combo>
         <tb-text [caption]="_TB('Specificator')" cmpId="IDC_STORAGEENTRIES_SPECIFICATOR" width="68" [model]="eventData?.model?.Specificator"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Items')" tbTileMini  hasTitle="True">
         <tb-radio cmpId="IDC_STORAGEENTRIES_ALL" width="36" [model]="eventData?.model?.bAllItems" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_STORAGEENTRIES_SELECTION" width="53" [model]="eventData?.model?.bItemSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_STORAGEENTRIES_ITEM_START" width="95" [model]="eventData?.model?.FromItem"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_STORAGEENTRIES_ITEM_END" width="95" [model]="eventData?.model?.ToItem"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile [title]="_TB('Reason')" tbTileMini  hasTitle="True">
         <tb-text [caption]="_TB('Reason')" cmpId="IDC_STORAGEENTRIES_PROC_REASON" width="68" [model]="eventData?.model?.Reason"></tb-text>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Operation Date')" cmpId="IDC_STORAGEENTRIES_DATE" width="57" [model]="eventData?.model?.OperationDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Storage of Destination')" tbTileMini  hasTitle="True">
         <tb-combo [caption]="_TB('Storage')" cmpId="IDC_STORAGEENTRIES_PROC_STORAGE2" width="79" [model]="eventData?.model?.Storage2"></tb-combo>
         <tb-enum-combo [caption]="_TB('Specificator Type')" cmpId="IDC_STORAGEENTRIES_PROC_CODETYPE_SPECIFICATOR2" width="60" [model]="eventData?.model?.Specificator2Type" [itemSource]="IDC_STORAGEENTRIES_PROC_CODETYPE_SPECIFICATOR2_itemSource"></tb-enum-combo>
         <tb-text [caption]="_TB('Specificator')" cmpId="IDC_STORAGEENTRIES_PROC_SPECIFICATOR2" width="68" [model]="eventData?.model?.Specificator2"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="138" [model]="eventData?.model?.StoragesEntries">
         <tb-body-edit-column cmpId="IDC_STORAGEENTRIES_SELECTED" width="160" columnName="StoragesEn_Selected" [title]="_TB('Selected')" columnType="tb-checkbox" columnName="IDC_STORAGEENTRIES_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_STORAGEENTRIES_CODE" width="160" columnName="Item" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_STORAGEENTRIES_CODE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_STORAGEENTRIES_DESCRIPTION" width="160" [model]="eventData?.model?.HKLItems?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_STORAGEENTRIES_DESCRIPTION">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_STORAGEENTRIES_UNITSOFMEASURE" width="160" columnName="BaseUoM" [title]="_TB('UoM')" columnType="tb-label-static" columnName="IDC_STORAGEENTRIES_UNITSOFMEASURE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_STORAGEENTRIES_EXISTENCE" width="160" columnName="StoragesEn_Existence" [title]="_TB('On-hand')" columnType="tb-numeric-text-box" columnName="IDC_STORAGEENTRIES_EXISTENCE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_STORAGEENTRIES_QUANTITY" width="160" columnName="StoragesEn_Qty" [title]="_TB('Quantity')" columnType="tb-numeric-text-box" columnName="IDC_STORAGEENTRIES_QUANTITY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_STORAGEENTRIES_LOT" width="160" columnName="StoragesEn_Lot" [title]="_TB('Lot')" columnType="tb-label-static" columnName="IDC_STORAGEENTRIES_LOT" *ngIf="eventData?.activation?.IDC_STORAGEENTRIES_LOT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_STORAGEENTRIES_VARIANT" width="160" columnName="StoragesEn_Variant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_STORAGEENTRIES_VARIANT" *ngIf="eventData?.activation?.IDC_STORAGEENTRIES_VARIANT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_STORAGEENTRIES_VALUE_PROPOSED" width="160" columnName="ProposedValue" [title]="_TB('Value')" columnType="tb-numeric-text-box" columnName="IDC_STORAGEENTRIES_VALUE_PROPOSED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_STORAGEENTRIES_NOTES" width="160" columnName="StoragesEn_Annotations" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_STORAGEENTRIES_NOTES">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
