//https://codepen.io/jonnitto/pen/OVmvPB

textarea {
    background: #ffffde;
    border: 1px solid #ddd
}

textarea[disabled] {
    background-color: #ffffff;
    border: 1px solid #ddd;
    font-weight: bold;
    color: #9c9c9c;
    font-family: inherit;
}