 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile [title]="_TB('Company Data')" tbTileWide >
<div class="col col1">        <tb-text [caption]="_TB('Branch')" cmpId="IDC_CREATE_XBRL_FIRST_BRANCH" width="154" [model]="eventData?.model?.Branch"></tb-text>
        <tb-checkbox cmpId="IDC_CREATE_XBRL_FIRST_LIQUIDATION" width="109" [model]="eventData?.model?.Liquidation" [caption]="_TB('In Liquidation  ')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_CREATE_XBRL_FIRST_ONE_PARTNER" width="109" [model]="eventData?.model?.SoleShareholder" [caption]="_TB('Sole Shareholder  ')"></tb-checkbox>
<div class="anchored">        <tb-checkbox cmpId="IDC_CREATE_XBRL_FIRST_UNDER_COORD" width="109" [model]="eventData?.model?.UnderCoord" [caption]="_TB('Subject to Coordination  ')"></tb-checkbox>
        <tb-section-title cmpId="IDC_STATIC_UNDER_COORD" width="52" [caption]="_TB('(art. 2497-bis)')"></tb-section-title>
</div>        <tb-text [caption]="_TB('Coordination Company')" cmpId="IDC_CREATE_XBRL_FIRST_COORDINATOR" width="154" [model]="eventData?.model?.Coordinator"></tb-text>
</div><div class="col col2">        <tb-checkbox cmpId="IDC_CREATE_XBRL_FIRST_BELONGTOGROUP" width="109" [model]="eventData?.model?.BelongToGroup" [caption]="_TB('Belonging to a Group  ')"></tb-checkbox>
        <tb-text [caption]="_TB('Controller Company Name')" cmpId="IDC_CREATE_XBRL_FIRST_GROUPLEADER" width="154" [model]="eventData?.model?.GroupLeader"></tb-text>
        <tb-text [caption]="_TB('Controller Country')" cmpId="IDC_CREATE_XBRL_FIRST_GROUPCOUNTRY" width="154" [model]="eventData?.model?.GroupCountry"></tb-text>
</div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile [title]="_TB('Selection XBRL schema')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_CREATE_XBRL_INSTANCES_BODY" width="653" [model]="eventData?.model?.SlaveDataXBRL">
         <tb-body-edit-column cmpId="IDC_CREATE_XBRL_INSTANCES_SELECTED" columnName="l_TEnhPersonalDataXBRLCrea_P9" [title]="_TB('Select')" columnType="tb-checkbox" columnName="IDC_CREATE_XBRL_INSTANCES_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CREATE_XBRL_INSTANCES_SCHEMA" columnName="l_TEnhPersonalDataXBRLCrea_P1" [title]="_TB('Schema code')" columnType="tb-label-static" columnName="IDC_CREATE_XBRL_INSTANCES_SCHEMA">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CREATE_XBRL_INSTANCES_DESCR" columnName="l_TEnhPersonalDataXBRLCrea_P2" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_CREATE_XBRL_INSTANCES_DESCR">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CREATE_XBRL_INSTANCES_VERSION" columnName="l_TEnhPersonalDataXBRLCrea_P8" [title]="_TB('Version')" columnType="tb-label-static" columnName="IDC_CREATE_XBRL_INSTANCES_VERSION">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile [title]="_TB('Control')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_CREATE_XBRL_ERRORS_BODY" width="653" [model]="eventData?.model?.SlaveDataXBRLErrors">
         <tb-body-edit-column cmpId="IDC_CREATE_XBRL_ERRORS_MESSAGE" columnName="l_TEnhPersonalDataXBRLCErr_P1" [title]="_TB('Messages')" columnType="tb-label-static" columnName="IDC_CREATE_XBRL_ERRORS_MESSAGE">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile [title]="_TB('Select period and file name')" tbTileWide >
<div class="col col1">        <tb-numeric-text-box formatter="Integer" [caption]="_TB('Year')" cmpId="IDC_CREATE_XBRL_PERIOD_YEAR" width="32" [model]="eventData?.model?.Year"></tb-numeric-text-box>
        <tb-numeric-text-box formatter="Integer" [caption]="_TB('Month')" cmpId="IDC_CREATE_XBRL_PERIOD_MONTH" width="16" [model]="eventData?.model?.Month"></tb-numeric-text-box>
        <tb-date-input formatter="Date" [readonly]="true" [caption]="_TB('Start date of the current period')" cmpId="IDC_CREATE_XBRL_PERIOD_START" width="57" [model]="eventData?.model?.DateStart"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="true" [caption]="_TB('End date of the current period')" cmpId="IDC_CREATE_XBRL_PERIOD_END" width="57" [model]="eventData?.model?.DateEnd"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="true" [caption]="_TB('Start date of the previous period')" cmpId="IDC_CREATE_XBRL_PERIOD_STARTPREV" width="57" [model]="eventData?.model?.DateStartPrev"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="true" [caption]="_TB('End date of the previous period')" cmpId="IDC_CREATE_XBRL_PERIOD_ENDPREV" width="57" [model]="eventData?.model?.DateEndPrev"></tb-date-input>
        <tb-text [caption]="_TB('File name')" cmpId="IDC_CREATE_XBRL_LAST_FILENAME" width="500" [model]="eventData?.model?.FileNameComplete"></tb-text>
</div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
