$bkg-light:rgb(193,244,255);
$bkg-light-opacity50: rgba(193,244,255, 0.5);
$bkg-medium:#5cc9f3;
$bkg-dark:#3c97c3;
$bkg-neutral:#BDBDBD;
$bkg-app: rgba(60,151,195,0.2);
$bkg:#FAFAFA;
$text-light: rgb(238, 238, 238);
$text-medium: #9E9E9E;
$text-dark: #212121;
$text-black: #000000;
$font-size-tooltip: 12px;
.arctic {
    //toolbar principale, dove si trova anche la "ricerca"
    .mat-toolbar.mat-primary {
        background: $bkg-medium;
        color:$text-light;
    }
    //Selettore menu/dashboard/documenti/report
    .tabber-container>.k-tabstrip>.k-tabstrip-items {
        background: $bkg-medium;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
        background: $bkg-dark;
        color: $text-light;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab attiva
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
        background: $bkg-light;
        color: $text-black;
        border-bottom-color: $bkg-medium;
    }
    //colore pulsanti finestre di messaggio modali
    .k-button.k-primary,
    .k-button.k-primary,
    .k-button.k-primary:visited,
    .k-slider .k-draghandle,
    .k-switch-on .k-switch-handle {
        background-color: $bkg-medium;
        border-color: $bkg-medium;
        color: $text-light;
    }
    .k-button.k-primary:hover,
    .k-button.k-secondary:hover,
    {
        background-color: $bkg-light;
        border-color: $bkg-light;
        color: $text-dark;
        background-image: none;
    }
    .k-button {
        color: $text-black;
    }
    //colore barra del titolo delle finestre di messaggio modali
    .k-dialog-titlebar {
        background-color: $bkg-medium;
    }
    //titoli finestre di messaggio modali
    .k-window-title {
        font-size: 17px;
        line-height: normal;
        background-color: $bkg-medium
    }
    //colore della toolbar principale della frame
    .toolbar-top {
        background-color: $bkg-light;
        color: $text-black;
        border-bottom: none !important;
    }
    //colore del tabber del selettore menu
    .menu-page .k-tabstrip-top>.k-tabstrip-items {
        background-color: $bkg-light;
        color: $text-light;
    }
    //colore del tabber del selettore menu, singola tab
    .menu-page .k-tabstrip>.k-tabstrip-items .k-item .k-link {
        color: $text-black
    }
    //colore del tabber del selettore menu, singola tab attiva
    .menu-page .k-tabstrip-top>.k-tabstrip-items .k-item.k-state-active .k-link {
        color: $bkg-medium;
        border-bottom: 1;
        border-bottom-color: $bkg;
        background: $bkg-dark;
        color: $text-light;
    }
    //colore line in headerstrip
    .header-strip .line {
        display: block;
        background: linear-gradient(to right, $bkg-medium 0%, #EEF1F5 100%);
    }
    //menupage
    .menu-page .k-content {
        background-color: $bkg
    }
    //tbcard, 
    .tb-card {
        background-color: $bkg;
    }
    //titolo della tbcard
    .tb-card-title {
        color:$text-black;
        font-size: 17px;
    }
    //mouseover theme changer
    .div-theme-carrier:hover {
        background-color: $bkg-light-opacity50;
    }
    .menu-element
    {
        color:$bkg-dark;
        &:hover {
            background-color: $bkg-light-opacity50;
        }

        //dimensione del font delle voci di menu
        .menu-element-content 
        {
        .object-type {
                    font-size: 16px;
                }
                //Colore icone di tipo document
            .object-type.Document {
                    color: $bkg-medium;
                }
                //Colore icone di tipo Report
            .object-type.Report {
                    color: $bkg-medium;
                }
                //Colore icone di tipo Batch
            .object-type.Batch {
                    color: $bkg-medium;
                }
                //Colore icone di tipo Function
            .object-type.Function {
                    color: $bkg-medium;
                }
                //colore della stellina nel menu dei favoriti
            .star {
                    color: $bkg-medium;
                    font-size: 18px;
                    line-height: 22px;
                    margin-right: 3px;
                    &.favorite {
                        color: $bkg-medium;
                    }
                }
            .star:hover {
                    color: $bkg-dark;
                    cursor: pointer;
                }
        }
    }
    //colore scrollbar
     ::-webkit-scrollbar-thumb {
        background: $bkg-medium;
    }
    //colore di fondo della sidenav
    .mat-sidenav {
        background: $bkg-medium;
    }
    //colore di fondo della lista applicazioni

    .application-selector > ul.application-list,
    .groups > ul.groups-list 
    {
        background: $bkg-medium;
        &>li {
            color: $text-light;
            background: $bkg-app;
        }
        &>li:hover {
            color: $text-light;
            background: $bkg-dark;
        }
        .selected {
            background: $bkg-dark;
        }
    }
    //tidolo delle voci sidenav
    .sidenav-subtitle {
        background-color: $bkg-medium;
        h4 {
            color: $text-light;
        }
    }
    //stile quando usato nella sidenav
    /// inizio sidenav
    .sidenav {
        m4-icon.close {
            color: $text-light;
        }
        //recenti, colori 
        .most-used-item,
        .favorite-item,
        .hiddenTiles-item {
            color: $text-light;
            background: $bkg-medium;
            font-weight: bold;
            &:hover {
                background: $bkg-dark;
            }
            &:hover span 
            &:hover  m4-icon.close {
                color: $text-light;
            }
            m4-icon.close {
                     color: $text-light;
            }
        }
        //recenti, favoriti , nascosti, lista vuota
        .most-used-empty,
        .favorites-empty,
        .hiddenTiles-empty {
            color: $text-light;
            background: $bkg-medium;
        }
    }
    /// fine sidenav
    //stile quando usato nella dashboard
    /// inizio dashboard
    .dashboard {
        //recenti, preferiti
        .most-used-item,
        .favorite-item,
        .hiddentiles {
            background: #f1f1f1;
            border: 1px solid #ddd;
            margin: 3px 7px;
            height: 28px;
            color: $bkg-medium;
            line-height: 29px;
            m4-icon.type {
                margin-right: 7px;
                color: $bkg-medium;
            }
        }
        .most-used-empty,
        .favorites-empty,
        .hiddenTiles-empty {
            color: $text-dark;
        }
        .favorites {
            ul.favorites-list {
                .favorite-item {
                    background: #f1f1f1;
                    border: 1px solid #ddd;
                    margin: 3px 7px;
                    height: 28px;
                    color: $bkg-medium;
                    line-height: 29px;
                    m4-icon.type {
                        margin-right: 7px;
                        color: $bkg-medium;
                    }
                }
            }
        }
    }
    .tbcontainer #anchor:hover,
    .tbcontainer #anchor:focus,
    .tbcontainer #anchor:visited {
        outline-color: $bkg-light;
        outline-style: auto;
        outline-width: 5px;
    }
    /*colore del bottone spinner*/
    .hideButton {
        color: $bkg-medium;
    }
    /* colore del loader*/
    .loader {
        border: 4px solid $bkg-light-opacity50; // è lo stesso del light con opacità inferiore
        border-top: 4px solid $bkg-dark;
    }
    /*colore del tool tip del menu advanced*/
    .tooltip
    { 
        .tooltip-content {
        background: $bkg-medium;
        color: $text-light;
        &::after {
          background: $bkg-medium;
        }
      }
    }
    .dropDownButton{
        .k-button {
            &:hover,
            &:focus{
                transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                background:$bkg-light;
                border-color: $bkg-light;
                color: $bkg-dark;
                tb-icon,
                i {
                    color: $bkg-dark;
                }
            }
    
            &:active {
                background-color: $bkg-medium;
                box-shadow: none;
                color:$bkg-dark;
                border: 0px;
            }
         }
    }
}

.mat-tooltip {
    font-size: $font-size-tooltip !important;
    background-color: $bkg-dark !important;
    color: $text-light !important;
    border-radius: 4px !important;
    text-align: center;
}