 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-view>
      <tb-tilegroup [active]="true" [title]="_TB('Introduction Tile Group')" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>        </tb-tile>
        <tb-layoutcontainer tbLayoutTypeHbox >
         <tb-tile [title]="_TB('Copy data from')" tbTileStandard  hasTitle="True">
          <tb-radio cmpId="IDC_COPY_ITEM_CUSTSUPP_CUST" width="296" [model]="eventData?.model?.bCustCode" [caption]="_TB('Customer Code to another one')"></tb-radio>
          <tb-radio cmpId="IDC_COPY_ITEM_CUSTSUPP_SUPP" width="296" [model]="eventData?.model?.bSuppCode" [caption]="_TB('Supplier Code to another one')"></tb-radio>
          <tb-radio cmpId="IDC_COPY_ITEM_CUSTSUPP_ITEM" width="296" [model]="eventData?.model?.bItemCode" [caption]="_TB('Item Code to another one')"></tb-radio>
          <tb-radio cmpId="IDC_COPY_ITEM_CUSTSUPP_ITEM_TYPE" width="296" [model]="eventData?.model?.bItemType" [caption]="_TB('Item Type to another one')"></tb-radio>
          <tb-radio cmpId="IDC_COPY_ITEM_CUSTSUPP_COMM_CTG" width="296" [model]="eventData?.model?.bCommCtg" [caption]="_TB('Commodity Category to another one')"></tb-radio>
          <tb-radio cmpId="IDC_COPY_ITEM_CUSTSUPP_CUST_CTG" width="296" [model]="eventData?.model?.bCustCtg" [caption]="_TB('Customer Category to another one')"></tb-radio>
          <tb-radio cmpId="IDC_COPY_ITEM_CUSTSUPP_SUPP_CTG" width="296" [model]="eventData?.model?.bSuppCtg" [caption]="_TB('Supplier Category to another one')"></tb-radio>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
     <tb-view>
      <tb-tilegroup [active]="true" [title]="_TB('Filters Tile Group')" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False">
         <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
        </tb-tile>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('eventData?.model?.sFromTitle')" tbTileMini  hasTitle="True">
          <tb-text [caption]="_TB('From')" cmpId="IDC_COPY_ITEM_CUSTSUPP_DATA_FROM" width="68" [model]="eventData?.model?.InputDataFrom"></tb-text>
         </tb-tile>
         <tb-tile [title]="_TB('eventData?.model?.sToTitle')" tbTileMini  hasTitle="True">
          <tb-text [caption]="_TB('To')" cmpId="IDC_COPY_ITEM_CUSTSUPP_DATA_ON" width="68" [model]="eventData?.model?.InputDataOn"></tb-text>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
     <tb-view>
      <tb-tilegroup [active]="true" [title]="_TB('Operations Tile Group')" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False">
         <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
        </tb-tile>
        <tb-tilepanel [title]="_TB('Select Data to Copy')" showAsTile="True">
         <tb-tile tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_COPY_ITEM_CUSTSUPP_OPERATIONS_CUSTITEM">
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUSTSUPP_BY_ITEM" width="296" [model]="eventData?.model?.bCustItem" [caption]="_TB('Customer by Item')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_CUST_MAIN_DATA" width="265" [model]="eventData?.model?.bCustMainData" [caption]="_TB('Main Data (Code, Description and Customer Notes)')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_CUST_STANDARD_DATA" width="265" [model]="eventData?.model?.bCustStandardData" [caption]="_TB('Standard Data')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_LAST_SALE_RETURN" width="265" [model]="eventData?.model?.bLastSaleReturn" [caption]="_TB('Last Sale and Return')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_CUST_GRID_QTY_BRACKETS" width="265" [model]="eventData?.model?.bCustGridQtyBrackets" [caption]="_TB('Grid Qty Brackets')"></tb-checkbox>
         </tb-tile>
         <tb-layoutcontainer tbLayoutTypeVbox >
          <tb-tile tbTileStandard >
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUSTSUPP_BY_ITEM_TYPE" width="315" [model]="eventData?.model?.bCustItemType" [caption]="_TB('Customer by Item Type')"></tb-checkbox>
          </tb-tile>
          <tb-tile tbTileStandard >
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUST_BY_COMM_CTG" width="296" [model]="eventData?.model?.bCustCommCtg" [caption]="_TB('Customer by Commodity Category')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_CUST_NOTES" width="265" [model]="eventData?.model?.bCustNotes" [caption]="_TB('Price List and Notes')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_CUST_COMM_CTG_DATA" width="265" [model]="eventData?.model?.bCustCommCtgData" [caption]="_TB('Commodity Category Data')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_COMM_CTG_LAST_SALE_RETURN" width="265" [model]="eventData?.model?.bCommCtgLastSaleReturn" [caption]="_TB('Last Sale and Return')"></tb-checkbox>
          </tb-tile>
         </tb-layoutcontainer>
         <tb-tile tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_COPY_ITEM_CUSTSUPP_OPERATIONS_SUPPITEM">
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUSTSUPP_BY_ITEM" width="243" [model]="eventData?.model?.bSuppItem" [caption]="_TB('Supplier by Item')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_SUPP_MAIN_DATA" width="242" [model]="eventData?.model?.bSuppMainData" [caption]="_TB('Main Data (Code, Description and Supplier Notes, Inspection Data)')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_SUPP_STANDARD_DATA" width="237" [model]="eventData?.model?.bSuppStandardData" [caption]="_TB('Standard Data')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_LAST_PURCHASE_RETURN" width="235" [model]="eventData?.model?.bLastPurchaseReturn" [caption]="_TB('Last Purchase and Return')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_SUPP_GRID_QTY_BRACKETS" width="229" [model]="eventData?.model?.bSuppGridQtyBrackets" [caption]="_TB('Grid Qty Brackets')"></tb-checkbox>
         </tb-tile>
         <tb-layoutcontainer tbLayoutTypeVbox >
          <tb-tile tbTileStandard >
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUSTSUPP_BY_ITEM_TYPE" width="315" [model]="eventData?.model?.bSuppItemType" [caption]="_TB('Supplier by Item Type')"></tb-checkbox>
          </tb-tile>
          <tb-tile tbTileStandard >
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_SUPP_BY_COMM_CTG" width="296" [model]="eventData?.model?.bSuppCommCtg" [caption]="_TB('Supplier by Commodity Category')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_SUPP_NOTES" width="265" [model]="eventData?.model?.bSuppNotes" [caption]="_TB('Notes')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_SUPP_COMM_CTG_DATA" width="265" [model]="eventData?.model?.bSuppCommCtgData" [caption]="_TB('Commodity Category Data')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_COMM_CTG_LAST_PURCHASE_RETURN" width="265" [model]="eventData?.model?.bCommCtgLastPurchaseReturn" [caption]="_TB('Last Purchase and Return')"></tb-checkbox>
          </tb-tile>
         </tb-layoutcontainer>
         <tb-tile tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_COPY_ITEM_CUSTSUPP_OPERATIONS_CUSTITEM_TYPE">
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUSTSUPP_BY_ITEM_TYPE" width="315" [model]="eventData?.model?.bCustItemType" [caption]="_TB('Customer by Item Type')"></tb-checkbox>
         </tb-tile>
         <tb-tile tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_COPY_ITEM_CUSTSUPP_OPERATIONS_SUPPITEM_TYPE">
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUSTSUPP_BY_ITEM_TYPE" width="315" [model]="eventData?.model?.bSuppItemType" [caption]="_TB('Supplier by Item Type')"></tb-checkbox>
         </tb-tile>
         <tb-layoutcontainer tbLayoutTypeVbox >
          <tb-tile tbTileStandard >
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUST_BY_COMM_CTG" width="296" [model]="eventData?.model?.bCustCommCtg" [caption]="_TB('Customer by Commodity Category')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_CUST_NOTES" width="265" [model]="eventData?.model?.bCustNotes" [caption]="_TB('Price List and Notes')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_CUST_COMM_CTG_DATA" width="265" [model]="eventData?.model?.bCustCommCtgData" [caption]="_TB('Commodity Category Data')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_COMM_CTG_LAST_SALE_RETURN" width="265" [model]="eventData?.model?.bCommCtgLastSaleReturn" [caption]="_TB('Last Sale and Return')"></tb-checkbox>
          </tb-tile>
          <tb-tile tbTileStandard >
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUST_CTG_COMM_CTG" width="319" [model]="eventData?.model?.bCustCtgCommCtg" [caption]="_TB('Commodity Category by Customer Category')"></tb-checkbox>
          </tb-tile>
         </tb-layoutcontainer>
         <tb-layoutcontainer tbLayoutTypeVbox >
          <tb-tile tbTileStandard >
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_SUPP_BY_COMM_CTG" width="296" [model]="eventData?.model?.bSuppCommCtg" [caption]="_TB('Supplier by Commodity Category')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_SUPP_NOTES" width="265" [model]="eventData?.model?.bSuppNotes" [caption]="_TB('Notes')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_SUPP_COMM_CTG_DATA" width="265" [model]="eventData?.model?.bSuppCommCtgData" [caption]="_TB('Commodity Category Data')"></tb-checkbox>
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_OPERATIONS_COMM_CTG_LAST_PURCHASE_RETURN" width="265" [model]="eventData?.model?.bCommCtgLastPurchaseReturn" [caption]="_TB('Last Purchase and Return')"></tb-checkbox>
          </tb-tile>
          <tb-tile tbTileStandard >
           <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_SUPP_CTG_COMM_CTG" width="321" [model]="eventData?.model?.bSuppCtgCommCtg" [caption]="_TB('Commodity Category by Supplier Category')"></tb-checkbox>
          </tb-tile>
         </tb-layoutcontainer>
         <tb-tile tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_COPY_ITEM_CUSTSUPP_OPERATIONS_COMM_CTG_CUST_CTG">
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_CUST_CTG_COMM_CTG" width="319" [model]="eventData?.model?.bCustCtgCommCtg" [caption]="_TB('Commodity Category by Customer Category')"></tb-checkbox>
         </tb-tile>
         <tb-tile tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_COPY_ITEM_CUSTSUPP_OPERATIONS_COMM_CTG_SUPP_CTG">
          <tb-checkbox cmpId="IDC_COPY_ITEM_CUSTSUPP_SUPP_CTG_COMM_CTG" width="321" [model]="eventData?.model?.bSuppCtgCommCtg" [caption]="_TB('Commodity Category by Supplier Category')"></tb-checkbox>
         </tb-tile>
        </tb-tilepanel>
        <tb-tile [title]="_TB('In case of existing data')" tbTileWide >
<div class="col col1">         <tb-radio cmpId="IDC_COPY_ITEM_CUSTSUPP_SELECTION_NOUPDATEDATA" width="76" [model]="eventData?.model?.bNoUpdateExistingData" [caption]="_TB('Do not replace')"></tb-radio>
         <tb-radio cmpId="IDC_COPY_ITEM_CUSTSUPP_SELECTION_UPDATEDATA" width="107" [model]="eventData?.model?.bUpdateExistingData" [caption]="_TB('Replace')"></tb-radio>
</div><div class="col col2"></div>        </tb-tile>
        <tb-layoutcontainer [title]="_TB('Result')" tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Result')" tbTileWide  hasTitle="True">
<div class="col col1">          <tb-section-title cmpId="IDC_COPY_ITEM_CUSTSUPP_GAUGE_STATIC" width="587"></tb-section-title>
          <tb-caption cmpId="IDC_COPY_ITEM_CUSTSUPP_GAUGE" width="587" [model]="eventData?.model?.nCurrentElement"></tb-caption>
</div><div class="col col2"></div>         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
