$bkg-light: #EEEEEE;
$bkg-medium:#BDBDBD;
$bkg-dark:rgba(0, 0, 0, 0.75);
$bkg: #fff;
$text-light: #fff;
$text-medium: #8f8f96;
$text-dark: #484040;
// $bkg-light: rgba(238, 238, 238, 0.75);
// $bkg-medium: rgba(158, 158, 158, 0.75);
// $bkg-dark:rgba(33, 33, 33, 0.75);
// $bkg: #fff;
// $text-light: rbga(245, 245, 245, 0.75);
// $text-medium: rgba(143, 143, 150, 0.75);
// $text-dark: rgb(66, 66, 66);
$font-size-tooltip: 12px;
.monochrome {
    //toolbar principale, dove si trova anche la "ricerca"
    .mat-toolbar.mat-primary {
        background: $bkg-light;
    }
    //stile del tooltip
    //Selettore menu/dashboard/documenti/report
    .tabber-container>.k-tabstrip>.k-tabstrip-items {
        background: $bkg-medium;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
        background: $bkg-medium;
        color: $text-light;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab attiva
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
        background: $bkg-dark;
        color: $text-light;
        border-bottom-color: $bkg-medium;
    }
    //colore barra del titolo delle finestre di messaggio modali
    .k-dialog-titlebar {
        background-color: $bkg-medium;
    }
    //colore pulsanti finestre di messaggio modali
    .k-button.k-primary,
    .k-slider .k-draghandle,
    .k-switch-on .k-switch-handle {
        background-color: $bkg-medium;
        border-color: $bkg-medium;
    }
    //colore della toolbar principale della frame
    .toolbar-top {
        background-color: $bkg-medium;
        color: $text-light;
    }
    //colore del tabber del selettore menu
    .menu-page .k-tabstrip-top>.k-tabstrip-items {
        background-color: $bkg-light;
        color: $text-light;
    }
    //colore del tabber del selettore menu, singola tab
    .menu-page .k-tabstrip>.k-tabstrip-items .k-item .k-link {
        color: $text-light;
    }
    //colore del tabber del selettore menu, singola tab attiva
    .menu-page .k-tabstrip-top>.k-tabstrip-items .k-item.k-state-active .k-link {
        color: $bkg-light;
        background: $bkg-dark;
        color: $text-light;
    }
    //tbcard, 
    .tb-card {
        background-color: $bkg;
    }
    //titolo della tbcard
    .tb-card-title {
        font-size: 17px;
    }
    //Colore icone di tipo document
    tb-menu-element .menu-element-content .object-type.Document {
        color: $bkg-medium;
    }
    //Colore icone di tipo Report
    tb-menu-element .menu-element-content .object-type.Report {
        color: $bkg-medium;
    }
    //Colore icone di tipo Batch
    tb-menu-element .menu-element-content .object-type.Batch {
        color: $bkg-medium;
    }
    //Colore icone di tipo Function
    tb-menu-element .menu-element-content .object-type.Function {
        color: $bkg-medium;
    }
    //dimensione del font delle voci di menu
    tb-menu-element .menu-element-content .object-type {
        font-size: 16px;
    }
    //
    //colore scrollbar
     ::-webkit-scrollbar-thumb {
        background: $bkg-medium;
    }
    //colore di fondo della sidenav
    .mat-sidenav,
    mat-sidenav {
        background: $bkg-medium;
    }
    //colore di fondo della lista applicazioni
    ul.application-list {
        background: $bkg-light;
    }
    //colore di fondo della singola voce della list applicazioni
    ul.application-list>li {
        color: $text-medium;
        background: $bkg-light;
    }
    //colore di fondo della lista gruppi
    ul.groups-list {
        background: $bkg-light;
    }
    //colore di fondo della singola voce della list gruppi
    ul.groups-list>li {
        background: $bkg-light;
        color: $text-medium;
    }
    //tidolo delle voci sidenav
    .sidenav-subtitle h4 {
        color: $text-medium;
    }
    //stile quando usato nella sidenav
    /// inizio sidenav
    .sidenav {
        m4-icon.close {
            color: $text-medium;
        }
        //recenti, colori 
        .most-used-item,
        .favorite-item,
        .hiddenTiles-item {
            color: $text-medium;
            background: $bkg-light;
            &:hover {
                background: $bkg-light;
            }
            &:hover span {
                color: $text-medium;
            }
            m4-icon.close {
                &:hover {
                    color: $text-medium;
                }
            }
        }
        //recenti, favoriti , nascosti, lista vuota
        .most-used-empty,
        .favorites-empty,
        .hiddenTiles-empty {
            color: $text-medium;
        }
    }
    /// fine sidenav
    //stile quando usato nella dashboard
    /// inizio dashboard
    .dashboard {
        //recenti, preferiti
        .most-used-item,
        .favorite-item,
        .hiddentiles {
            background: #f1f1f1;
            border: 1px solid #ddd;
            margin: 3px 7px;
            height: 28px;
            &>span {
                color: $text-dark;
                line-height: 29px;
            }
            &:hover span {
                color: $bkg-medium;
            }
            .type {
                margin-right: 7px;
            }
            .type.Document {
                color: $bkg-medium;
            }
            .type.Report,
            .type.Function {
                color: $bkg-medium;
            }
            .type.Batch {
                color: $bkg-medium;
            }
            m4-icon.close {
                color: #ddd;
                &:hover {
                    color: $bkg-medium;
                }
            }
            .most-used-empty,
            .favorites-empty,
            .hiddenTiles-empty {
                color: $text-dark;
            }
        }
    }
}

.mat-tooltip {
    font-size: $font-size-tooltip !important;
    background-color: $bkg-light !important;
    color: $text-light !important;
    border-radius: 0px !important;
    padding: 10px 0px 10px 15px;
}