.theme-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    //padding: 15px 0px 15px 0px;
}

.div-theme-carrier {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    width: 100%;
}

.div-theme-carrier:hover {
    background-color: #f1f1f1;
}

.icon {
    color: #0277bd;
    padding: 5px;
    font-weight: bold;
    width: 20px;
}

.theme-name {
    font-size: 15px;
}