 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('Filters')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile tbTileAutoFill  hasTitle="False">
        <tb-body-edit cmpId="IDC_TAXCODESUPDATE_TAXBODY" width="325" [model]="eventData?.model?.TaxCodesUpdate">
         <tb-body-edit-column cmpId="IDC_TAXCODESUPDATE_OLD_TAXCODE" columnName="TaxCode" [title]="_TB('Old Tax Code')" columnType="tb-combo" columnName="IDC_TAXCODESUPDATE_OLD_TAXCODE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TAXCODESUPDATE_NEW_TAXCODE" columnName="TEnhTaxCodes_P1" [title]="_TB('New Tax Code')" columnType="tb-combo" columnName="IDC_TAXCODESUPDATE_NEW_TAXCODE">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Filters')" tbLayoutTypeVbox >
      <ng-template>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('General')" tbTileMini >
         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_STDCODE" width="147" [model]="eventData?.model?.bUpdateDefaultCode" [caption]="_TB('Default Tax Codes')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_ACCTPL" cmpId="IDC_TAXCODESUPDATE_UPDATE_ACCTPL" width="147" [model]="eventData?.model?.bUpdateAccTpl" [caption]="_TB('Accounting Template Tax Rows')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Preferred Tax Code in')" tbTileMini >
         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_CUST" width="137" [model]="eventData?.model?.bUpdateCust" [caption]="_TB('Customers')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_SUPP" width="137" [model]="eventData?.model?.bUpdateSupp" [caption]="_TB('Suppliers')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_CONTACT" cmpId="IDC_TAXCODESUPDATE_UPDATE_CONTACT" width="137" [model]="eventData?.model?.bUpdateContact" [caption]="_TB('Contacts')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_PROSPSUPP" cmpId="IDC_TAXCODESUPDATE_UPDATE_PROSPSUPP" width="137" [model]="eventData?.model?.bUpdateProspSupp" [caption]="_TB('Prospective Suppliers')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Payees')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_TAXCODESUPDATE_FILTER_PAYEES">
         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_FEETPL" width="134" [model]="eventData?.model?.bUpdateFeeTpl" [caption]="_TB('Fees Template ')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_FEES" width="134" [model]="eventData?.model?.bUpdateProformaFees" [caption]="_TB('Proforma Fees from')"></tb-checkbox>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_FEESDATE" width="57" [model]="eventData?.model?.ProformaFeesDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Supplier Quotations/Purchase Orders')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_TAXCODESUPDATE_FILTER_PURCHORDERS">
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_SUPPQUOTA" cmpId="IDC_TAXCODESUPDATE_UPDATE_SUPPQUOTA" width="128" [model]="eventData?.model?.bUpdateSuppQuotas" [caption]="_TB('Suppliers Quotations from')"></tb-checkbox>
         <tb-date-input *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_SUPPQUOTADATE" formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_SUPPQUOTADATE" width="57" [model]="eventData?.model?.SuppQuotaDate"></tb-date-input>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_SUPPORD" cmpId="IDC_TAXCODESUPDATE_UPDATE_SUPPORD" width="128" [model]="eventData?.model?.bUpdateSuppOrders" [caption]="_TB('Purchase Orders to be Delivered from')"></tb-checkbox>
         <tb-date-input *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_SUPPORDDATE" formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_SUPPORDDATE" width="57" [model]="eventData?.model?.SuppOrdDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Purchases')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_TAXCODESUPDATE_FILTER_PURCHASEE">
         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_SUPPDOC" width="138" [model]="eventData?.model?.bUpdateSuppDocuments" [caption]="_TB('Bill Of Lading to be Invoiced from')"></tb-checkbox>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_SUPPDOCDATE" width="57" [model]="eventData?.model?.SuppDocDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Customer Quotations/Sale Orders')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_TAXCODESUPDATE_FILTER_SALEORDERS">
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_CUSTQUOTA" cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTQUOTA" width="113" [model]="eventData?.model?.bUpdateCustQuotas" [caption]="_TB('Customers Quotations from')"></tb-checkbox>
         <tb-date-input *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_CUSTQUOTADATE" formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTQUOTADATE" width="57" [model]="eventData?.model?.CustQuotaDate"></tb-date-input>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_CUSTORD" cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTORD" width="127" [model]="eventData?.model?.bUpdateCustOrders" [caption]="_TB('Sale Orders to be Delivered from')"></tb-checkbox>
         <tb-date-input *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_CUSTORDDATE" formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTORDDATE" width="57" [model]="eventData?.model?.CustOrdDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Sales')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_TAXCODESUPDATE_FILTER_SALES">
<div class="anchored">         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTDOC" width="181" [model]="eventData?.model?.bUpdateCustDN" [caption]="_TB('Delivery Notes Rows to be Invoiced from')"></tb-checkbox>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTDOCDATE" width="57" [model]="eventData?.model?.CustDNDate"></tb-date-input>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTDOCCH" width="181" [model]="eventData?.model?.bUpdateCustDNCharge" [caption]="_TB('Delivery Notes Service Rows and Charges to be Invoiced from')"></tb-checkbox>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTDOCCHDATE" width="57" [model]="eventData?.model?.CustDNChargeDate"></tb-date-input>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTPRO" width="181" [model]="eventData?.model?.bUpdateCustProforma" [caption]="_TB('Customers Proforma to be Invoiced from')"></tb-checkbox>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTPRODATE" width="57" [model]="eventData?.model?.CustProformaDate"></tb-date-input>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Picking Lists')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_TAXCODESUPDATE_FILTER_PICKINGLIST">
         <tb-checkbox cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTPICK" width="136" [model]="eventData?.model?.bUpdateCustPick" [caption]="_TB('Customers Picking Lists to be Delivered from')"></tb-checkbox>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTPICKDATE" width="57" [model]="eventData?.model?.CustPickDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Inventory Items')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_TAXCODESUPDATE_FILTER_INVENTORYITEMS">
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_ITEMS" cmpId="IDC_TAXCODESUPDATE_UPDATE_ITEMS" width="198" [model]="eventData?.model?.bUpdateItems" [caption]="_TB('Items Preferred Tax Code')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_CUSTCTG" cmpId="IDC_TAXCODESUPDATE_UPDATE_CUSTCTG" width="198" [model]="eventData?.model?.bUpdateCustCtg" [caption]="_TB('Commodity/Customer Categories Tax Code')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_SMARTCODE" cmpId="IDC_TAXCODESUPDATE_UPDATE_SMARTCODE" width="198" [model]="eventData?.model?.bUpdateSmartCode" [caption]="_TB('Smart Code Roots Tax Code')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_CONAI" cmpId="IDC_TAXCODESUPDATE_UPDATE_CONAI" width="198" [model]="eventData?.model?.bUpdateConai" [caption]="_TB('Conai Items Tax Code')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_TAXCODESUPDATE_UPDATE_WEEE" cmpId="IDC_TAXCODESUPDATE_UPDATE_WEEE" width="211" [model]="eventData?.model?.bUpdateWEEE" [caption]="_TB('WEEE Category and Parameters Tax Code')"></tb-checkbox>
        </tb-tile>
       </tb-layoutcontainer>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-radio cmpId="IDC_HFITEMS_IDC_HFL_RANGE_RADIO_ALL" width="39" [model]="eventData?.model?.HFItems_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">        <tb-radio cmpId="IDC_HFITEMS_IDC_HFL_RANGE_RADIO_RANGE" width="39" [model]="eventData?.model?.HFItems_Range" [caption]="_TB('From')"></tb-radio>
        <tb-text cmpId="IDC_HFITEMS_IDC_HFL_RANGE_EDIT_FROM" width="110" [model]="eventData?.model?.HFItems_From"></tb-text>
</div>        <tb-text [caption]="_TB('To')" cmpId="IDC_HFITEMS_IDC_HFL_RANGE_EDIT_TO" width="110" [model]="eventData?.model?.HFItems_To"></tb-text>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Result')" tbTileStandard  isCollapsible="False" isCollapsed="False" hasTitle="False">
        <tb-caption cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS" width="587" [model]="eventData?.model?.nCurrentElement"></tb-caption>
        <tb-label-static cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS_STATIC" width="587" [model]="eventData?.model?.GaugeDescription"></tb-label-static>
       </tb-tile>
       <tb-tile [title]="_TB('List of documents generated')" tbTileWide >
<div class="col col1">        <tb-body-edit cmpId="IDC_PROGRESSVIEWER_BE" width="654" [model]="eventData?.model?.ProgressViewer">
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_STATUS" columnName="TEnhProgressViewer_P1" [title]="_TB('  ')" columnType="tb-image" columnName="IDC_PROGRESS_VIEWER_STATUS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_COLUMN1" columnName="TEnhProgressViewer_P2" [title]="_TB('eventData?.model?.PrgViewerColumn1')" columnType="tb-label-static" columnName="IDC_PROGRESS_VIEWER_COLUMN1">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_COLUMN2" columnName="TEnhProgressViewer_P3" [title]="_TB('eventData?.model?.PrgViewerColumn2')" columnType="tb-label-static" columnName="IDC_PROGRESS_VIEWER_COLUMN2">
         </tb-body-edit-column>
        </tb-body-edit>
</div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
