/*Sfondo del titolo della form*/
.TBFormTitle
{
	background-color: #888888;
}

/*Sfondo del contenitore delle toolbar di documento*/
.TBToolbarContainer
{
	background-color: #F2F2F2;
}

/*Sfondo delle toolbar di documento*/
.TBToolbar.TBPanel.TBWebControl
{
	background-color: #F2F2F2;
}

/*Header del body edit*/
.TBGridColTitle.TBPanel.TBWebControl
{
	background-color: #E5E5E5;
}

/*Pannello generico*/
.TBPanel.TBWebControl
{
	background-color: White;
}

/*Status bar panel*/
.TbStatusBarPane.TBPanel.TBWebControl
{
	background: white;
}

/*Campo che ha il fuoco in editing*/
.FocusedField
{
	background-color: #FFFFCC;
}

/*riga di inserimento nuova riga nel body edit (quella sensibile al click)*/
.TBGridFiller
{
	background-color: White;
}
