/*Sfondo del titolo della form*/
.TBFormTitle
{
	background: #d0e4f7; /* Old browsers */
	background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
	background: linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
}

/*Sfondo del contenitore delle toolbar di documento*/
.TBToolbarContainer
{
	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top, #ebf1f6 0%,#abd3ee 25%,#89c3eb 26%,#d5ebfb 50%, #ebf1f6 51%, #abd3ee 76%,#89c3eb 77%,#d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(25%,#abd3ee), color-stop(26%,#89c3eb), color-stop(50%,#d5ebfb), color-stop(51%,#ebf1f6), color-stop(76%,#abd3ee), color-stop(77%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ebf1f6 0%,#abd3ee 25%,#89c3eb 26%,#d5ebfb 50%, #ebf1f6 51%, #abd3ee 76%,#89c3eb 77%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ebf1f6 0%,#abd3ee 25%,#89c3eb 26%,#d5ebfb 50%, #ebf1f6 51%, #abd3ee 76%,#89c3eb 77%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ebf1f6 0%,#abd3ee 25%,#89c3eb 26%,#d5ebfb 50%, #ebf1f6 51%, #abd3ee 76%,#89c3eb 77%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(top, #ebf1f6 0%,#abd3ee 25%,#89c3eb 26%,#d5ebfb 50%, #ebf1f6 51%, #abd3ee 76%,#89c3eb 77%,#d5ebfb 100%); /* W3C */
}

/*Sfondo delle toolbar di documento*/
.TBToolbar.TBPanel.TBWebControl
{
	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
}

/*Header del body edit*/
.TBGridColTitle.TBPanel.TBWebControl
{
	background: #3b679e; /* Old browsers */
	background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(top, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	color:White;
}


/*Corpo della view*/
.TBScrollPanel.TBPanel.TBWebControl
{
	background: white; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242,245,246,0.89) 0%, rgba(232,238,240,0.89) 57%, rgba(227,234,237,0.96) 86%, rgba(200,215,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,0.89)), color-stop(57%,rgba(232,238,240,0.89)), color-stop(86%,rgba(227,234,237,0.96)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* W3C */
}


/*Pannello generico*/
.TBPanel.TBWebControl 
{
	background: white; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242,245,246,0.89) 0%, rgba(232,238,240,0.89) 57%, rgba(227,234,237,0.96) 86%, rgba(200,215,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,0.89)), color-stop(57%,rgba(232,238,240,0.89)), color-stop(86%,rgba(227,234,237,0.96)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* W3C */
}

/*Campo che ha il fuoco in editing*/
.FocusedField
{
	background: rgb(211,238,251); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(211,238,251,1) 0%, rgba(130,242,208,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,238,251,1)), color-stop(100%,rgba(130,242,208,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(211,238,251,1) 0%,rgba(130,242,208,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(211,238,251,1) 0%,rgba(130,242,208,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(211,238,251,1) 0%,rgba(130,242,208,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(211,238,251,1) 0%,rgba(130,242,208,1) 100%); /* W3C */
}

/*riga di inserimento nuova riga nel body edit (quella sensibile al click)*/
.TBGridFiller
{
	background: white; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242,245,246,0.89) 0%, rgba(232,238,240,0.89) 57%, rgba(227,234,237,0.96) 86%, rgba(200,215,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,0.89)), color-stop(57%,rgba(232,238,240,0.89)), color-stop(86%,rgba(227,234,237,0.96)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(242,245,246,0.89) 0%,rgba(232,238,240,0.89) 57%,rgba(227,234,237,0.96) 86%,rgba(200,215,220,1) 100%); /* W3C */
}

/*Status bar panel*/
.TbStatusBarPane.TBPanel.TBWebControl
{
	background: rgba(200,215,220,1);
}