<div class="flex-container">
    <div [ngSwitch]="controlType">
        <div *ngSwitchCase="controlTypeModel.Password">
            password<br />
            <tb-password caption="{{caption}}" forCmpID="{{cmpId}}"></tb-password>
        </div>
        <div *ngSwitchCase="controlTypeModel.Masked">
            masked
            <tb-masked-text-box caption="{{caption}}" forCmpID="{{cmpId}}" [disabled]="!model?.enabled" [model]="model"></tb-masked-text-box>
        </div>
        <div *ngSwitchCase="controlTypeModel.Numeric">
            Numeric<br />
            <tb-numeric-text-box caption="{{caption}}" forCmpID="{{cmpId}}" [format]=" "> </tb-numeric-text-box>
        </div>
        <div *ngSwitchCase="controlTypeModel.Date">
            <br />
            <tb-date-input caption="{{caption}}" forCmpID="{{cmpId}}" [(model)]="model"> </tb-date-input>
        </div>
        <div *ngSwitchDefault class="form-group">
            <input id="{{cmpId}}" required="required" type="text" (blur)="onBlur()" [disabled]="!model?.enabled"  [ngModel]="model?.value" (ngModelChange)="model.value=$event" (ngModelChange)="model.value=$event" />
            <label class="control-label" for="input">{{caption}}</label><i class="bar"></i>
            <tb-state-button *ngFor="let button of buttons" [button]="button"></tb-state-button>
        </div>
    </div>
    <div>
        <!--<tb-context-menu></tb-context-menu>-->
    </div>
    <div>
    </div>
</div>