 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" showAsTile="True">
        <tb-tile [title]="_TB('Type')" tbTileMini >
         <tb-radio cmpId="IDC_STINTRARO_RADIO_SALE" width="137" [model]="eventData?.model?.SaleSummary" [caption]="_TB('Dispatches')"></tb-radio>
         <tb-radio cmpId="IDC_STINTRARO_RADIO_PURCHASE" width="137" [model]="eventData?.model?.PurchSummary" [caption]="_TB('Arrivals')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Lists')" tbTileMini >
         <tb-radio cmpId="IDC_STINTRARO_RADIO_NORMAL" width="137" [model]="eventData?.model?.Normal" [caption]="_TB('Normal')"></tb-radio>
         <tb-radio cmpId="IDC_STINTRARO_RADIO_ADJ" width="137" [model]="eventData?.model?.Adjustment" [caption]="_TB('Adjustments')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Reference period')" tbTileMini >
<div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Normal')" cmpId="IDC_STINTRARO_PERIOD" width="16" [model]="eventData?.model?.Period"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_STINTRARO_YEAR" width="26" [model]="eventData?.model?.Year"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Adjustments')" cmpId="IDC_STINTRARO_PERIOD2" width="16" [model]="eventData?.model?.PeriodAdj"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_STINTRARO_YEAR2" width="26" [model]="eventData?.model?.YearAdj"></tb-numeric-text-box>
</div>        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" showAsTile="True">
        <tb-tile [title]="_TB('Contact Person')" tbTileStandard >
<div class="anchored">         <tb-text [caption]="_TB('Position')" cmpId="IDC_STINTRARO_C_POSITION" width="90" [model]="eventData?.model?.ContactPosition"></tb-text>
         <tb-text [caption]="_TB('Phone')" cmpId="IDC_STINTRARO_C_TELEPHONE" width="85" [model]="eventData?.model?.ContactTelephone"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Name')" cmpId="IDC_STINTRARO_C_NAME" width="90" [model]="eventData?.model?.ContactName"></tb-text>
         <tb-text [caption]="_TB('Fax')" cmpId="IDC_STINTRARO_C_FAX" width="85" [model]="eventData?.model?.ContactFAX"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Surname')" cmpId="IDC_STINTRARO_C_SURNAME" width="90" [model]="eventData?.model?.ContactSurname"></tb-text>
         <tb-email [caption]="_TB('Email')" cmpId="IDC_STINTRARO_C_EMAIL" width="85" [model]="eventData?.model?.ContactEMail"></tb-email>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Third Declaring Party')" tbTileWide >
<div class="col col1">         <tb-checkbox cmpId="IDC_STINTRARO_T_USE" width="72" [model]="eventData?.model?.DelegUse" [caption]="_TB('Use default')"></tb-checkbox>
         <tb-text [caption]="_TB('Tax Number')" cmpId="IDC_STINTRARO_T_TAXNUMBER" width="82" [model]="eventData?.model?.DelegTaxIdNo"></tb-text>
         <tb-text [caption]="_TB('Company Name')" cmpId="IDC_STINTRARO_T_NAME_SOC" width="253" [model]="eventData?.model?.DelegName"></tb-text>
         <tb-text [caption]="_TB('Street')" cmpId="IDC_STINTRARO_T_STREET" width="150" [model]="eventData?.model?.DelegStreet"></tb-text>
         <tb-text [caption]="_TB('Number')" cmpId="IDC_STINTRARO_T_NR" width="28" [model]="eventData?.model?.DelegNr"></tb-text>
         <tb-text [caption]="_TB('Block')" cmpId="IDC_STINTRARO_T_BL" width="26" [model]="eventData?.model?.DelegBl"></tb-text>
</div><div class="col col2">         <tb-text [caption]="_TB('Stairs')" cmpId="IDC_STINTRARO_T_ENTR" width="28" [model]="eventData?.model?.DelegEntr"></tb-text>
         <tb-text [caption]="_TB('Apartment')" cmpId="IDC_STINTRARO_T_AP" width="28" [model]="eventData?.model?.DelegAp"></tb-text>
         <tb-combo [caption]="_TB('County')" cmpId="IDC_STINTRARO_T_COUNTY" width="32" [model]="eventData?.model?.DelegCounty"></tb-combo>
         <tb-text [caption]="_TB('ZIP code')" cmpId="IDC_STINTRARO_T_ZIPCODE" width="40" [model]="eventData?.model?.DelegZipCode"></tb-text>
         <tb-combo [caption]="_TB('Municipality')" cmpId="IDC_STINTRARO_T_CITY" width="110" [model]="eventData?.model?.DelegCity"></tb-combo>
</div>        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileAutoFill  isCollapsible="False" isCollapsed="False">
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID_SUMMARY" width="599" [model]="eventData?.model?.DBTSummaryDetail">
         <tb-body-edit-column cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID_SUMMARY_LINE" width="60" columnName="l_LineSummaryDescription" columnType="tb-label-static" columnName="IDC_TB_ACTIVITY_DOCUMENT_GRID_SUMMARY_LINE">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
