 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Installments')" tbTileMini >
         <tb-label-static [caption]="_TB('Customer/Supplier')" cmpId="IDC_CASHCLEARING_CUSTSUPP" width="83" [model]="eventData?.model?.CustSupp"></tb-label-static>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Due Date')" cmpId="IDC_CASHCLEARING_DATE" width="57" [model]="eventData?.model?.SelectionDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Document Date')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('From')" cmpId="IDC_CASHCLEARING_FROMDOCDATE" width="57" [model]="eventData?.model?.FromDocDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_CASHCLEARING_TODOCDATE" width="57" [model]="eventData?.model?.ToDocDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Doc.No./Log.No.')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_CASHCLEARING_DOCLOGNO">
         <tb-radio cmpId="IDC_CASHCLEARING_ALLNO" width="35" [model]="eventData?.model?.AllNo" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_CASHCLEARING_SELNO" width="35" [model]="eventData?.model?.SelNo" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_CASHCLEARING_FROMNO" width="100" [model]="eventData?.model?.FromNo"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_CASHCLEARING_TONO" width="100" [model]="eventData?.model?.ToNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Supplier Doc. No.')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_CASHCLEARING_SUPPLIERDOCNO">
         <tb-radio cmpId="IDC_CASHCLEARING_ALLSUPPNO" width="35" [model]="eventData?.model?.AllSuppNo" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_CASHCLEARING_SELSUPPNO" width="35" [model]="eventData?.model?.SelSuppNo" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_CASHCLEARING_FROMSUPPNO" width="100" [model]="eventData?.model?.FromSuppNo"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_CASHCLEARING_TOSUPPNO" width="100" [model]="eventData?.model?.ToSuppNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Closing payment term')" tbTileMini >
         <tb-radio cmpId="IDC_CASHCLEARING_PYMTTERM_OPENING" width="78" [model]="eventData?.model?.bNotSelectedPymtTerm" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_CASHCLEARING_PYMTTERM_SEL" width="77" [model]="eventData?.model?.bSelectedPymtTerm" [caption]="_TB('Selection')"></tb-radio>
         <tb-enum-combo cmpId="IDC_CASHCLEARING_PYMTTERM" width="120" [model]="eventData?.model?.PymtTerm"></tb-enum-combo>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" isCollapsible="True" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Installments selection')" tbTileMini >
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Select up to
Amount of')" cmpId="IDC_CASHCLEARING_AMOUNT" width="83" [model]="eventData?.model?.Amount"></tb-numeric-text-box>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="599" [model]="eventData?.model?.CashClearing">
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_BLOCKED" columnName="l_TEnhCashClearing_P03" [title]="_TB(' ')" columnType="tb-image" columnName="IDC_CASHCLEARING_BLOCKED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_LITIGATION" columnName="l_TEnhCashClearing_P23" [title]="_TB(' ')" columnType="tb-image" columnName="IDC_CASHCLEARING_LITIGATION">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_SELECT" columnName="l_TEnhCashClearing_P01" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_CASHCLEARING_SELECT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_LINE_NEW" columnName="l_TEnhCashClearing_P02" [title]="_TB('To be post.')" columnType="tb-checkbox" columnName="IDC_CASHCLEARING_LINE_NEW">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_DOCNO" columnName="l_TEnhCashClearing_P20" [title]="_TB('Doc. No.')" columnType="tb-label-static" columnName="IDC_CASHCLEARING_DOCNO">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_LOGNO" columnName="l_TEnhCashClearing_P21" [title]="_TB('Log No.')" columnType="tb-label-static" columnName="IDC_CASHCLEARING_LOGNO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_CASHCLEARING_DOCDATE" columnName="l_TEnhCashClearing_P22" [title]="_TB('Doc. Date')" columnType="tb-date-input" columnName="IDC_CASHCLEARING_DOCDATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_INSTALLMENTTYPE" columnName="l_TEnhCashClearing_P19" [title]="_TB('Type')" columnType="tb-label-static" columnName="IDC_CASHCLEARING_INSTALLMENTTYPE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_CASHCLEARING_INSTALLMNO" columnName="InstallmentNo" [title]="_TB('Installment')" columnType="tb-numeric-text-box" columnName="IDC_CASHCLEARING_INSTALLMNO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_CASHCLEARING_LINE_DATE" columnName="InstallmentDate" [title]="_TB('Exp/Paym.')" columnType="tb-date-input" columnName="IDC_CASHCLEARING_LINE_DATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_LINE_PAYMENT" columnName="PaymentTerm" [title]="_TB('Payment')" columnType="tb-enum-combo" columnName="IDC_CASHCLEARING_LINE_PAYMENT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_CASHCLEARING_LINE_DEBIT" columnName="l_TEnhCashClearing_P08" [title]="_TB('Debit')" columnType="tb-numeric-text-box" columnName="IDC_CASHCLEARING_LINE_DEBIT" *ngIf="eventData?.activation?.IDC_CASHCLEARING_LINE_DEBIT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_CASHCLEARING_LINE_DEBIT" columnName="l_TEnhCashClearing_P08" [title]="_TB('Debit')" columnType="tb-numeric-text-box" columnName="IDC_CASHCLEARING_LINE_DEBIT" *ngIf="eventData?.activation?.IDC_CASHCLEARING_LINE_DEBIT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_CASHCLEARING_LINE_CREDIT" columnName="l_TEnhCashClearing_P09" [title]="_TB('Credit')" columnType="tb-numeric-text-box" columnName="IDC_CASHCLEARING_LINE_CREDIT" *ngIf="eventData?.activation?.IDC_CASHCLEARING_LINE_CREDIT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_CASHCLEARING_LINE_CREDIT" columnName="l_TEnhCashClearing_P09" [title]="_TB('Credit')" columnType="tb-numeric-text-box" columnName="IDC_CASHCLEARING_LINE_CREDIT" *ngIf="eventData?.activation?.IDC_CASHCLEARING_LINE_CREDIT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_CASHCLEARING_LINE_BALANCE" columnName="Amount" [title]="_TB('Balance')" columnType="tb-numeric-text-box" columnName="IDC_CASHCLEARING_LINE_BALANCE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_LINE_ISCLOSED" columnName="Closed" [title]="_TB('Closed')" columnType="tb-checkbox" columnName="IDC_CASHCLEARING_LINE_ISCLOSED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_LINE_CURRENCY" columnName="Currency" [title]="_TB('Currency')" columnType="tb-label-static" columnName="IDC_CASHCLEARING_LINE_CURRENCY" *ngIf="eventData?.activation?.IDC_CASHCLEARING_LINE_CURRENCY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_FIXINGISMANUAL" columnName="FixingIsManual" [title]="_TB('Man.')" columnType="tb-checkbox" columnName="IDC_CASHCLEARING_FIXINGISMANUAL" *ngIf="eventData?.activation?.IDC_CASHCLEARING_FIXINGISMANUAL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_CASHCLEARING_LINE_FIXINGDATE" columnName="FixingDate" [title]="_TB('Fixing Date')" columnType="tb-date-input" columnName="IDC_CASHCLEARING_LINE_FIXINGDATE" *ngIf="eventData?.activation?.IDC_CASHCLEARING_LINE_FIXINGDATE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_CASHCLEARING_LINE_FIXING" columnName="Fixing" [title]="_TB('Fixing')" columnType="tb-numeric-text-box" columnName="IDC_CASHCLEARING_LINE_FIXING" *ngIf="eventData?.activation?.IDC_CASHCLEARING_LINE_FIXING">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_CASHCLEARING_LINE_PAYABLEAMOUNTINBASECURR" columnName="PayableAmountInBaseCurr" [title]="_TB('Equivalent')" columnType="tb-numeric-text-box" columnName="IDC_CASHCLEARING_LINE_PAYABLEAMOUNTINBASECURR" *ngIf="eventData?.activation?.IDC_CASHCLEARING_LINE_PAYABLEAMOUNTINBASECURR">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CASHCLEARING_LINE_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_CASHCLEARING_LINE_NOTES">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
       <tb-tilepanel [title]="_TB('Totals')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile [title]="_TB('Base currency installments')" tbTileStandard >
<div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Extracted')" cmpId="IDC_CASHCLEARING_EXTRACTINBASECURR" width="68" [model]="eventData?.model?.TotInBaseCurr"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Selected')" cmpId="IDC_CASHCLEARING_TOTALAMOUNT" width="68" [model]="eventData?.model?.TotalAmount"></tb-numeric-text-box>
</div>        </tb-tile>
        <tb-tile [title]="_TB('In currency installments')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_CASHCLEARING_TOTINCURR">
<div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Extracted')" cmpId="IDC_CASHCLEARING_EXTRACTINCURRENCY" width="68" [model]="eventData?.model?.TotInDocCurr"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Selected')" cmpId="IDC_CASHCLEARING_TOTALINCURR" width="68" [model]="eventData?.model?.TotalInCurr"></tb-numeric-text-box>
</div>        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
