<Configuration>
  <Product name="Mago4-Pro" activationversion="2" completename="M4GO" release="2.0.0">
    <ActivationKeys>
      <ActivationKey key="aUQA4XUT3xt1Nm9DY5V7quGZwxX/qHcmMpKZUNpCJvhV/Dsf2psTRONg4jbOGKL3CeKjotm9ouRzDkdSC68drpdmVgIDWPEYdTxlQSoq7r4yFr1QxaYVu6Fi9k+7ddHgJrb+PBOlOr3KfLNj3XDqRZqrgMIEJb2mtr8MJIhZ4Ho=" internalcode="0110G081" />
    </ActivationKeys>
    <SalesModule name="EducationalPackage" internalcode="0110G081">
      <Serial>R50XBC4PGR7G76M4</Serial>
    </SalesModule>
    <SalesModule name="ERP-Pro.Trade Package" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Advanced Package" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Small Business Package" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Commercial Package" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Server" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Financials" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Cash" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Forecast Accounting" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Analysis and Controlling" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Multicompany Balance" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Basel_II" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.XBRL" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Fixed Assets" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Sales Force Management" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Conai" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.WEEE" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Intrastat" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.TaxCommunication" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Credit Limit" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.AccountingBooks" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Banks_Plus" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Sales" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Purchases" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Barcode" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Inventory" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Quality Inspection" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.WMS Basic" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.WMS Advanced" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Sale Orders" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Purchase Orders" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Lots and Serials" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Bill of Materials" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.XGate" internalcode="0110G081" />
    <SalesModule name="ERP-Pro.Payroll Import" internalcode="0110G081" hasserial="false" />
    <SalesModule name="ERP-Pro.SimplifiedAccounting" internalcode="0110G081" hasserial="false" />
    <SalesModule name="ERP-Pro.Charges Policies" internalcode="0110G081" hasserial="false" />
    <SalesModule name="ERP-Pro.Automatic Update Supplier Price Lists" internalcode="0110G081" hasserial="false" />
    <SalesModule name="ERP-Pro.Additional Charges" internalcode="0110G081" hasserial="false" />
    <SalesModule name="ERP-Pro.Single Step LifoFifo" internalcode="0110G081" hasserial="false" />
    <SalesModule name="ERP-Pro.Inventory Accounting" internalcode="0110G081" hasserial="false" />
  </Product>
</Configuration>