<Configuration>
  <Product name="TBFramework" activationversion="2" completename="TBFramework" release="1.0.0">
    <SalesModule name="TBF.Server" internalcode="0110G081" />
    <SalesModule name="TBF.SecurityStandard" internalcode="0110G081" />
    <SalesModule name="TBF.Auditing" internalcode="0110G081" />
    <SalesModule name="TBF.DMS" internalcode="0110G081" />
    <SalesModule name="TBF.JobScheduler" internalcode="0110G081" />
    <SalesModule name="TBF.MagicLink" internalcode="0110G081" />
  </Product>
</Configuration>