<UserInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>Germano Traverso</Name>
  <Company>MICROAREA S.P.A.</Company>
  <FiscalCode>01402000994</FiscalCode>
  <VatNumber>01402000994</VatNumber>
  <Address>Via Renata Bianchi 36</Address>
  <ZipCode>16152</ZipCode>
  <City>Genova</City>
  <CityCode>GE</CityCode>
  <Country>IT</Country>
  <Phone>01060371</Phone>
  <Fax>0106037280</Fax>
  <Email>germano.traverso@microarea.it</Email>
  <ActivityCode group="070" area="016" />
  <UserIdInfos>
    <UserId internalcode="0110G081" value="MICRO" activationid="780" />
  </UserIdInfos>
  <InternalAgreement>true</InternalAgreement>
  <ExtensiveAgreement>true</ExtensiveAgreement>
  <UsersListAgreement>true</UsersListAgreement>
  <ProductHashCode>Qi/o2gonkK7IMOIm7lUbqg==</ProductHashCode>
</UserInfo>