<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo localize="Generic Functions" optional="false" destinationfolder="TbApps">
  <Components>
    <Library name="TbGenlib" deploymentpolicy="full" aggregatename = "TbGes" sourcefolder="TbGenlib" >
      <FilesExtension value="*.pdb" />
    </Library>
  </Components>
</ModuleInfo>