<div ng-click="$event.stopPropagation();" ng-enter="changepwd()" class="dropdown-menu-right changePasswordBox" ng-controller="ChangePasswordController">
	<div class="paddedTopLight ">
		
		<div ng-hide="{{hideBackButton}}">
			<div class="loginStyleOff link backButtonPadding" ng-click="settingsService.changePasswordChangeVisibility()" ></div>
		</div>

		<div class="divRoundNoTopBorder">
			<img draggable="false" class="PasswordDownbutton loginStylePassword" />
			<input class="myUserControl loginStyleTextBox" id="passwordinput" name="pwd" ng-model="pwd" type="password" ng-trim="false" placeholder="{{::localizationService.getLocalizedElement('NewPassword')}}" autofocus ng-change="enableButton()" ng-keydown="keydown($event)" />
		</div>

		<div class="divRoundNoTopBorder">
			<img draggable="false" class="PasswordDownbutton loginStylePassword" />
			<input class="myUserControl loginStyleTextBox" id="passwordinput2" name="pwd2" ng-model="pwd2" type="password" ng-trim="false" placeholder="{{::localizationService.getLocalizedElement('ConfirmNewPassword')}}" ng-change="enableButton()" ng-keydown="keydown($event)"/>
		</div>

		<div style="float:right; padding-top: 5px;padding-right: 5px;" class="loginButton">
			<div class="divRoundBorder loginButton " ng-click="changepwd()" ng-class="{'loginButtonEnabled': changeEnabled, 'loginButtonDisabled': !changeEnabled}">
				<div class="loginButtonSpan">{{::localizationService.getLocalizedElement('Change')}}</div>
			</div>
		</div>
	</div>
</div>
