<div ng-controller="CalendarController" class="dateDropdownContainer">
    <div id="changeDatrLabel">{{::localizationService.getLocalizedElement('ChangeOpDate')}}</div>
    <div onclick="event.stopPropagation()">
        <input tabindex="1" class="datepicker" id ="datePickerInput"  maxlength="10" onclick="event.stopPropagation()"> 
        <div tabindex="4" type="button"`      ng-click="setTodayDate()" class="btn btn-default datePickerButtons" id="btnToday">{{::localizationService.getLocalizedElement('Today')}}</div>      
    </div>
    
    <div tabindex="2" type="button" ng-click="changeApplicationDateInternal()" class="btn btn-default datePickerButtons" id="datepickerOk">{{::localizationService.getLocalizedElement('OK')}}</div>
    <div tabindex="3" type="button" ng-click="cancelPressed()" class="btn btn-default datePickerButtons" id="datepickerCancel">{{::localizationService.getLocalizedElement('Cancel')}}</div>
    
</div>
