<div ng-controller="TbfSidedropController" ng-show="showFrameworkSidebar()" class="frameworkSideDropContainer">

    <div id="frameworkSideDrop">
        <div ng-init="setDropdownWidth('#frameworkSideDrop', getFrameworkMenu().length)" ng-repeat="group in groups = getFrameworkMenu() | repeatFilter" ng-click="setFrameworkMenu(group)" class="box elementNotSelected">
            <!-- ng-repeat="group in getStudioMenu() | repeatFilter" ng-click="setStudioMenu(); menuService.backToTBS(group)"-->
            <div>
                <img ng-src="{{imageService.getStaticImage(group);}}" />
                <div>{{group.title}}</div>
            </div>
        </div>
    </div>

    <div class="link frameworkSideButtonLabel" id="frameworkSideButton" ng-click="hideShowFramework()">
        <div id="frameworkSideButton1" class="taskbuilderSideButtonDiv">Taskbuilder</div>
        <div id="frameworkSideButton2" class="frameworkSideButtonAppName">Framework</div>
    </div>

       
    <div class="frameworkSideButtonColoredBar" id="frameworkSideButton2" ng-click="hideShowFramework()"></div>
</div>