<div ng-controller="HiddenTilesController" class="footerDropdown hiddenDropdown" ng-if="localizationService.loaded">

    <div class="currentMenuTitleInHidden">{{menuService.selectedMenu.title}}</div>

    <div ng-repeat="tile in hiddenTiles" ng-if="tile.currentMenuTitle==menuService.selectedMenu.title " ng-init="getTileTooltip(tile)">
        <div></div> <!--NON RIMUOVERE!!!!!!-->
        <div class="truncate link" tooltip-popup-delay="500" tooltip-animation="false" tooltip-append-to-body="true" uib-tooltip-html="tile.tileTooltip" ng-click="removeFromHiddenTiles(tile);$event.stopPropagation()">
            {{tile.title}}
        </div>
        <div class="unpinnedImage smallImage" ng-click="removeFromHiddenTiles(tile);$event.stopPropagation()" uib-tooltip="{{::localizationService.getLocalizedElement('RestoreTile')}}" tooltip-popup-delay="500" tooltip-animation="false" tooltip-append-to-body="true"></div>
    </div>

    <hr ng-show="ifOtherTilesAreHidden()" />
    <div class="currentMenuTitleInHidden showOthers" ng-show="ifOtherTilesAreHidden()" style="display:inline-block" ng-click="hideOthers();$event.stopPropagation()">{{::localizationService.getLocalizedElement('OtherElements')}}</div>
    <div class="glyphicon glyphicon-chevron-down showOthers" ng-show="ifOtherTilesAreHidden()" style="display:inline-block" ng-click="hideOthers();$event.stopPropagation()"></div>
    
    <div ng-repeat="tile in hiddenTiles" ng-if="tile.currentMenuTitle!=menuService.selectedMenu.title" class="othersHiddenContainer" ng-init="getTileTooltip(tile)">
        <div></div> <!--NON RIMUOVERE!!!!!!-->
        <div class="truncate link" tooltip-popup-delay="500" tooltip-animation="false" tooltip-append-to-body="true" uib-tooltip-html="tile.tileTooltip" ng-click="removeFromHiddenTiles(tile);$event.stopPropagation()">
            {{tile.title}} - ({{tile.currentGroupTitle}})
        </div>
        <div class="unpinnedImage smallImage" ng-click="removeFromHiddenTiles(tile);$event.stopPropagation()" uib-tooltip="{{::localizationService.getLocalizedElement('RestoreTile')}}" tooltip-popup-delay="500" tooltip-animation="false" tooltip-append-to-body="true"></div>
    </div>

</div>
