<div ng-class="{companiesDropdown: !isrelogin, companiesDropdownSmall: isrelogin}" name="settingsDropdown">
    <div ng-show="winAuthVisible" class="settingOptionHeight interlinea">
        <input type="checkbox" class="loginStyleTextCheckbox loginStyleChecked" ng-model="winAuth" ng-disabled="loading" id="win" ng-change="changeWinNT(false)" name="cbWinNT" /><label for="win">{{::localizationService.getLocalizedElement('WindowsAuthentication')}}</label>
    </div>

    <div ng-show="ccdVisible" class="settingOptionHeight interlinea">
        <input type="checkbox" class="loginStyleTextCheckbox loginStyleChecked" id="clear" ng-disabled="loading" ng-model="ccd" ng-change="changeccd()" name="cbCcd" /><label for="clear">{{::localizationService.getLocalizedElement('ClearCachedData')}}</label>
    </div>

    <div class="settingOptionHeight interlinea" ng-show="autoLoginVisible">
        <input type="checkbox" class="loginStyleTextCheckbox loginStyleChecked" ng-disabled="loading" ng-model="rememberMe" ng-change="changeRemMe()"  id="rem1" />
        <label for="rem1">{{::localizationService.getLocalizedElement('RememberMe')}}</label>
    </div>
</div>