<div  ng-controller="LoginController" ng_enter="doLogin()">

    <!--Username con opzioni-->
    <div class="divRoundNoTopBorder">
        <img draggable="false" class="loginStyleUserName companyDownbutton" ng-click="openSettings()" ng-mouseover="openSettingshover()" ng-mouseleave="closeSettingshover()" uib-tooltip="{{::localizationService.getLocalizedElement('ViewOptions')}}" tooltip-placement="top" tooltip-popup-delay="300" tooltip-animation="true" />
        <input id="UsernameInput" name="user" autofocus ng-disabled="winAuth || loading" ng-model="lastUsername" ng-trim="false" type="text" placeholder="{{::localizationService.getLocalizedElement('Username')}}"  class="myUserControl  loginStyleTextBox" ng-blur="useronBlur()"  ng-keypress="keypress()" ng-keydown="keydown($event)"/>
    </div>

    <!--Password -->
    <div class="divRoundNoTopBorder" ng-show="!winAuth">
        <img draggable="false" class="PasswordDownbutton loginStylePassword" />
        <input id="PasswordInput" ng-disabled="winAuth || loading" name="password"  ng-model="lastPassword" ng-trim="false" type="password" placeholder="{{::localizationService.getLocalizedElement('Password')}}" class="myUserControl   loginStyleTextBox" ng-keydown="keydown($event)"/>
    </div>

    <!--pulsante Login-->
    <div style="float:right; padding-top: 5px;padding-right: 5px;">
        <div ng-disabled="loading" tabindex="0" class="divRoundBorder loginButton"  ng-click="doLogin()" ng-class="{'loginButtonEnabled': loginEnabled, 'loginButtonDisabled': !loginEnabled}">
            <div class="loginButtonSpan" ng-show="!loading">{{::localizationService.getLocalizedElement('Login')}}</div>
            <img ng-disabled="loading" id="loginbuttonwaiting" name="loginbuttonwaiting" draggable="false" ng-show="loading" class="loginButtonLoading loginStyleLoginWaiting " />
        </div>
    </div>

    <!--Company-->
    <div class="divRoundNoTopBorder" ng-show="existMoreCompanies" ng-disabled="loading">
        <img draggable="false" class="companyDownbutton loginStyleChooseCompany" ng-click="openCompanies()" ng-disabled="loading" />
        <input id="CompanyInput" ng-blur="clearError()" name="company" ng-disabled="loading" ng-model="lastCompany" type="text" readonly class="myCompanyControl  loginStyleTextBox" placeholder="{{::localizationService.getLocalizedElement('CompanyLabel')}}" />
    </div>

    <!--Companies-->
    <div class="divRoundNoTopBorder " role="menu" ng-include="'templates/companyDropdown.html'" ng-show="viewCompanies" ng-disabled="loading"></div>
    <!--opzioni login-->
    <div ng-disabled="loading" ng-blur="clearError()"  class="divRoundNoTopBorder " role="menu" ng-include="'templates/loginOptionsDropdown.html'" ng-show="settingsOpen"></div>

    <!--Label Errori-->
    <div>
        <label id="error" name="error" type="text" class="myUserControl loginStyleTextBox errorLabel" ng-show="error" />
    </div>
</div>