<div id="modal1" ng-controller="CentralPanelController">
    
    <div class="settingsAndMenuSelector contentWidget" ng-include="'widget/widget.html'" context-menu="menuService.emptyContextMenu"> </div>
    
    <div class="contentMenu">
        <div class="settingsAndMenuSelector">
            <div class="menuSelectorPanel">
                <div type="button" ng-repeat="menu in menuService.selectedGroup.Menu | repeatFilter" ng-click="menuService.setSelectedMenu(menu)" ng-if="IfMenuHasObjects(menu)" class="btn btn-default" ng-class="{'active': menu.active}" aria-label="{{menu.title}}">
                    {{menu.title}}
                </div>
            </div>
            <div class="coloredMenuSeparator"></div>
        </div>
    
        <div ng-if="menuService.selectedMenu.visible" id="modal1-content" ng-init="setCentralPanelHeight()" onselectstart="return false;">
            <div ng-include="'templates/newTileGroup.html'" ng-if="!settingsService.showListIcons"></div>
            <div ng-include="'templates/newIconsGroup.html'" ng-if="settingsService.showListIcons"></div>
            <div class="footerCleaner"></div>
        </div>
    </div>
</div>
