<div>
    <div class="headerColor">
        <!--Logo applicazione, company, search, user-->
        <div ng-include="'templates/newNavBarTemplate.html'">
        </div>
    </div>
    <div>
        <div ng-include="'templates/newFullMenu.html'">
        </div>
    </div>
</div>



<!--questo serve ad overridare il comportamento di default dell'accordion che in caso di ng-if crea un brutto effetto grafico-->
<script id="template/accordion/accordion-group.html" type="text/ng-template">
    <div class="accordion-group panel-default bottomBorderWithPadding centerColor ">
        <div class="accordion-heading panel-heading centerColor">
            <h4 class="panel-title centerColor">
                <a class="accordion-toggle centerColor" ng-click="isOpen = !isOpen" accordion-transclude="heading">{{heading}}</a>
            </h4>
        </div>
        <div class="accordion-body panel-collapse centerColor" ng-show="isOpen">
            <div class="accordion-inner centerColor" ng-transclude></div>
        </div>
    </div>
</script>