
<div ng-controller="NewNavBarController" class="headerContainer">
    <div class="backgroundLayer">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="menuSelectorContainer" ng-hide="hideAll">

            <div class="applicationSelector" ng-show="showAppSelector()">
                <!--application chooser-->
                <div class="btn-group" uib-dropdown>
                    <div class="dropdown-toggle link " uib-dropdown-toggle>
                        <div class="glyphicon glyphicon-align-justify">
                            <!--{{::localizationService.getLocalizedElement('Applications')}}
                            <div class="caret"></div>-->
                        </div>
                    </div>
                    <div class="dropdown-menu" uib-dropdown-menu role="menu" ng-include="'templates/applicationDropdown.html'">
                    </div>
                </div>
            </div>

            <!--Logo + ModuleSelector-->
            <div class="moduleSelector">
                <div class="btn-group " uib-dropdown>
                    <div class="dropdown-toggle link" uib-dropdown-toggle>
                        <div>
                            <img ng-src="{{menuService.getApplicationIcon(menuService.selectedApplication)}}" />
                            <div class="appTitle" ng-show="menuService.noImageOrDef(menuService.selectedApplication)">{{menuService.getApplicationName(menuService.selectedApplication)}}</div>
                            <div class="glyphicon glyphicon-chevron-down"></div>
                        </div>
                    </div>
                    <div class="dropdown-menu" uib-dropdown-menu role="menu" ng-include="'templates/groupDropdown.html'">
                    </div>
                </div>
            </div>

            <!--Module-->
            <div class="selectedModule">
                {{menuService.selectedGroup.title}}
            </div>
        </div>

        <div class="searchAndSettingsContainer" ng-init="showSearch()">
            <!-- Apogeo, formazione online e releasenote -->
            <span class="link smallImage" ng-if="menuService.brandInfos.onlineCoursesImage != undefined" ng-click="menuService.openUrlLink(menuService.brandInfos.onlineCoursesUrl)" uib-tooltip="{{localizationService.getLocalizedElement('OnlineCourse')}}" tooltip-append-to-body="true" tooltip-placement="left" tooltip-popup-delay="500" tooltip-animation="false">
                <img ng-src="{{imageService.getStaticImage(menuService.brandInfos.onlineCoursesImage)}}" />
            </span>
            <span class="link" ng-if="menuService.brandInfos.releaseInfoUrl != undefined" ng-click="menuService.openUrlLink(menuService.brandInfos.releaseInfoUrl)" uib-tooltip="{{localizationService.getLocalizedElement('ProductVersion')}}: {{menuService.brandInfos.version}}" tooltip-append-to-body="true" tooltip-placement="left" tooltip-popup-delay="500" tooltip-animation="false">
                <img class="releaseInfo paddingImage" />
            </span>
            <!-- Fine apogeo -->

            <div class="customizationContext" ng-include="'templates/Common/customizationContext.html'">
            </div>

            <div class="searchContainer" id="smallDimSearchBox">

                <!--barra di ricerca -->
                <div ng-include="'templates/Common/advancedSearch.html'">
                </div>
            </div>


            <div id="smallDimSearchIcon">
                <!--icona di ricerca per piccole dimensioni-->
                <div class="glyphicon glyphicon-search link">
                </div>
            </div>



            <!--Data-->
            <div id="calendarIcon" ng-controller="CalendarController">
                <div ng-click="changeApplicationDate()" class="calendar link" id="calendarTooltip" uib-tooltip="{{::localizationService.getLocalizedElement('ChangeApplicationDate');}}" tooltip-placement="bottom" tooltip-popup-delay="500" tooltip-animation="false"></div>
            </div>

            <!--User -->
            <div id="userIcon">

                <div class="dropdown btn-group" uib-dropdown id="userDropdown" ng-controller="UserController">
                    <div class="dropdown-toggle" uib-dropdown-toggle>

                        <img class="avatarImage link" ng-src="{{imageService.getWorkerImage(userInfos)}}" ng-show="imageService.getWorkerImage(userInfos) != undefined" uib-tooltip-html="usertooltip" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip-popup-delay="500" tooltip-animation="false" />
                        <div ng-show="imageService.getWorkerImage(userInfos) == undefined" class="userFace link" uib-tooltip-html="usertooltip" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip-popup-delay="500" tooltip-animation="false">
                        </div>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right paddedlight" uib-dropdown-menu role="menu" ng-include="'templates/userDropdown.html'">
                    </div>
                </div>
            </div>

            <!--Info -->
            <div id="infoIcon">
                <div class="dropdown btn-group" uib-dropdown id="productDropdown">
                    <div class="dropdown-toggle " uib-dropdown-toggle>
                        <div class="link" style="font-size:larger" uib-tooltip="{{::localizationService.getLocalizedElement('OptionsLabel')}}" tooltip-append-to-body="true" tooltip-placement="left" tooltip-popup-delay="500" tooltip-animation="false">
                            ...
                        </div>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" ng-include="'templates/productInfoDropdown.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


