<div ng-repeat="tile in tiles = tile.Menu | repeatFilter track by tile.node_id">
    <ul>
        <li class="truncate titleMenuFont glyphicon-asterisk">
            <span>
                {{::tile.title}}
            </span>
        </li>
        <div ng-repeat="object in objects = tile.Object | repeatFilter track by object.node_id" class="">
            <ng-Menuitemimage  class="menuItemImage" style="display:inline-block;">
            </ng-Menuitemimage>

            <div context-menu="menuService.getObjectContextMenu(object)" class="truncate" style="display:inline-block;padding-left:5px">
                <a href="javascript:;" ng-click="menuService.runFunction(object)" context-menu="menuService.getObjectContextMenu(object)" uib-tooltip="{{::menuService.getTileTooltip(object)}}" tooltip-popup-delay="500" tooltip-animation="false" tooltip-append-to-body="true" class="">
                    {{::object.title}}
                </a>
            </div>
            <div style="display:inline-block; float:right" class="glyphicon link" ng-class="{'glyphicon-star': object.isFavorite, 'glyphicon-star-empty': !object.isFavorite}" ng-click="menuService.toggleFavorites(object)">
            </div>
        </div>
        <div ng-include="'templates/newTileGroupRecursive.html'"></div>
    </ul>
</div>
