<div ng-controller="OpenDocumentsController" ng-class="{elementNotDisplayed: documents.length <= 0, elementDisplayed : documents.length > 0}" class="footerDropdown">

    <div ng-repeat="object in documents | orderBy:'creationTime'" class="openDocument">

        <ng-Menuitemimage class="smallImage" ng-hide="showThumbnails()"></ng-Menuitemimage>

        <div ng-click="activateDocument(object)" style="width:90%">
            <div class="link">
             
                <div class="truncate">{{getOpenDocumentTitle(object)}}</div>
  
                <div ng-if="showThumbnails()">
                    <img ng-src="{{imageService.getStaticThumbnail(object)}}" class="smallThumb" />
                </div>
                <div class="truncate">
                    {{::object.defaultDescription}}
                </div>
            </div>
        </div>

        <div class="glyphicon glyphicon-remove link" ng-click="closeDocument(object)" ng-show="showThumbnails()"></div>
    </div>
</div>
