<div ng-controller="ProductInfoController" ng-click="$event.stopPropagation();" id="options">

    <div ng-show="!viewprodInfo &&  !viewConnInfo" ng-init="setDropdownWidth('#infoIcon', getOptionCount())" ng-repeat="option in options = getOptions() | repeatFilter" class="box" ng-class="{'elementSelected': application.isSelected, 'elementNotSelected': !application.isSelected}">
        <div ng-click="getOptionClick(option)">
            <!--<img ng-src="{{menuService.getOptionIcon(option)}}" />-->
            <span ng-class="{'{{menuService.getOptionIconClass(option)}}': true }"></span>
            <div>{{::localizationService.getLocalizedElement(option.name)}}</div>
        </div>
    </div>

   

    <div ng-show="viewprodInfo" id="prodinfotable" style="padding-bottom:25px; ">
        <table>

            <tr> <td class="loginStyleOff pointer backButtonPadding" ng-click="HideInfo()"></td> <td> </td> </tr>


            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('InstallationVersion')}}:
                </td>
                <td><b>{{productInfo.installationVersion}} {{productInfo.debugState}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('Provider')}}:
                </td>
                <td><b>{{productInfo.providerDescription}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('Edition')}}:
                </td>
                <td><b>{{productInfo.edition}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('InstallationName')}}:
                </td>
                <td><b>{{productInfo.installationName}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('ActivationState')}}:
                </td>
                <td><b>{{productInfo.activationState}}</b></td>

            </tr>


            <tr ng-repeat="current in productInfo.Applications  | repeatFilter">

                <td style="text-align:right">
                    {{current.application}}:
                </td>
                <td> <b>{{current.licensed}}</b> </td>

            </tr>


        </table>
    </div>
    <!-- Finestra relativa alle info connessioni-->
    <div ng-show="viewConnInfo" id="connInfotable" style="padding-bottom:25px; ">
        <table>

            <tr> <td class="loginStyleOff pointer backButtonPadding" ng-click="HideInfo()"></td> <td> </td> </tr>

            <!--User-->
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('CompanyLabel')}}:
                </td>
                <td><b>{{connectionInfo.company}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('Username')}}:
                </td>
                <td><b>{{connectionInfo.user}}</b></td>

            </tr>

            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('Administrator')}}:
                </td>
                <td><b>{{::localizationService.getLocalizedElement(connectionInfo.admin)}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('EasyStudioDeveloper')}}:
                </td>
                <td><b>{{::localizationService.getLocalizedElement(connectionInfo.ebdev)}}</b></td>

            </tr>

            <!--General-->
            <tr style="border-top:solid; border-color:black;border-top-style:solid; border-width:1px">
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('Instance')}}:
                </td>
                <td><b>{{connectionInfo.installation}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('FileApplicationServer')}}:
                </td>
                <td><b>{{connectionInfo.remotefileserver}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('WebApplicationServer')}}:
                </td>
                <td><b>{{connectionInfo.remotewebserver}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('AuditingEnabled')}}:
                </td>
                <td><b>{{::localizationService.getLocalizedElement(connectionInfo.auditing)}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('SecurityEnabled')}}:
                </td>
                <td><b>{{::localizationService.getLocalizedElement(connectionInfo.security)}}</b></td>

            </tr>

            <!--DATABASE-->
            <tr style="border-top:solid; border-color:black;border-top-style:solid; border-width:1px">


                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('DBServer')}}:
                </td>
                <td><b>{{connectionInfo.dbserver}}</b></td>

            </tr>
            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('DBName')}}:
                </td>
                <td><b>{{connectionInfo.dbname}}</b></td>

            </tr>

            <tr>
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('DBUser')}}:
                </td>
                <td><b>{{connectionInfo.dbuser}}</b></td>

            </tr>


            <!--DATABASE SIZE (if needed)-->
            <tr ng-show="showdbsize">
                <td style=" text-align:right">
                    {{::localizationService.getLocalizedElement('UsedSpace')}}:
                </td>
                <td><b>{{connectionInfo.usedspace}}</b></td>

            </tr>
            <tr ng-show="showdbsize">
                <td style="text-align:right">
                    {{::localizationService.getLocalizedElement('FreeSpace')}}:
                </td>
                <td><b>{{connectionInfo.freespace}}</b></td>

            </tr>
        </table>

    </div>


</div>

