
    <div ng-show="showStudioSidebar()" class="studioSideDropContainer" ng-controller="TbsSidedropController">

        <div id="studioSideDrop">
            <div ng-init="setDropdownWidth('#studioSideDrop', getStudioMenu().length)" ng-repeat="group in groups = getStudioMenu() | repeatFilter" ng-click="setStudioMenu(group)" class="box elementNotSelected">
                <!-- ng-repeat="group in getStudioMenu() | repeatFilter" ng-click="setStudioMenu(); menuService.backToTBS(group)"-->
                <div>
                    <img ng-src="{{imageService.getStaticImage(group);}}" />
                    <div>{{group.title}}</div>
                </div>
            </div>
        </div>

        <div class="link studioSideButtonLabel" id="studioSideButton" ng-click="hideShowStuido()">
            <div id="studioSideButton1" class="taskbuilderSideButtonDiv">Taskbuilder</div>
            <div id="studioSideButton2" class="studioSideButtonAppName">Studio</div>
        </div>
        <div class="studioSideButtonColoredBar" id="studioSideButton2" ng-click="hideShowStuido()"></div>
    </div>
