<div class="userdropdown" ng-click="$event.stopPropagation();">
    <div ng-show="!settingsService.passwordChangeVisibility && !settingsService.loginChangeVisibility  ">

        <div class="floatleft" ng-show="!settingsService.passwordChangeVisibility && !settingsService.loginChangeVisibility  ">
            <img class="userAvatarImage" ng-src="{{imageService.getWorkerImage(userInfos)}}" ng-show="imageService.getWorkerImage(userInfos) != undefined" />
            <div ng-show="imageService.getWorkerImage(userInfos) == undefined" class="userFace userEmptyAvatarImage">
            </div>
        </div>

        <div class="userboxpad floatright truncate" id="user" style="width:70%;" ng-show="!settingsService.passwordChangeVisibility && !settingsService.loginChangeVisibility  ">
            <table>
                <tr><td style="text-align:right">{{::localizationService.getLocalizedElement('WorkerLabel')}}: </td><td> <b> &nbsp;{{cachedWorkerDetails}}</b></td></tr>
                <tr><td style="text-align:right">{{::localizationService.getLocalizedElement('CompanyLabel')}}: </td><td> <b> &nbsp;{{userInfos.company}}</b></td></tr>
            </table>
        </div>

        <div class="paddedTop paddedRight" ng-show="!settingsservice.passwordchangevisibility && !settingsservice.loginchangevisibility " style="width:100%;">
            <div class="borderTop">

                <div style="display:inline-block" ng-show="autoLoginVisible">
                    <input class="loginStyleTextCheckbox loginStyleChecked" type="checkbox" id="rem" ng-change="changeRememberMe()" ng-model="rememberMeChecked" /><label for="rem">{{::localizationService.getLocalizedElement('RememberMe')}} </label>
                </div>
                <div style="float:right; ">
                    <div style="display:inline-block; " class=" link" ng-click="settingsService.changePasswordChangeVisibility()">
                        <div id="changepassw" class="changePsw loginStyleChangePassword" uib-tooltip="{{::localizationService.getLocalizedElement('ChangePassword')}}" tooltip-placement="top" tooltip-popup-delay="500" tooltip-animation="true"></div>
                    </div>

                    <div style="display:inline-block;" class="link" ng-click="menuService.canChangeLogin();">
                        <div id="changeLogin" class="changeLogin loginStyleChangeLogin" uib-tooltip="{{::localizationService.getLocalizedElement('ChangeLogin')}}" tooltip-placement="top" tooltip-popup-delay="500" tooltip-animation="true"></div>
                    </div>

                    <div style="display:inline-block;" class="link" ng-click="newLogin()">
                        <div id="newLogin" class="newLogin loginStyleNewLogin" uib-tooltip="{{::localizationService.getLocalizedElement('NewLogin')}}" tooltip-placement="top" tooltip-popup-delay="500" tooltip-animation="true"></div>
                    </div>

                </div>
            </div>
        </div>

    </div><div id="changePassword">
        <div ng-show="settingsService.passwordChangeVisibility" ng-include="'templates/changePassword.html'">
        </div>
    </div>
    <div id="changeLogin">
        <div ng-show="settingsService.loginChangeVisibility" ng-include="'templates/changeLogin.html'">
        </div>
    </div>
</div>
