<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="DataSynchronizerMonitor" localize="DataSynchronizer Monitor" hidden="false">
    <Setting name="RefreshTimer" type="integer" value="3" localize="Refresh Timer" />
    <Setting name="WebMonitorUrl" type="string" value="http://localhost:5015/login" localize="Synchronization Web Monitor" />
  </Section>
</ParameterSettings>