 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="tb-master" tbLayoutTypeVbox >
       <ng-template>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Main Data')" tbTileStandard >
<div class="anchored">          <tb-text [caption]="_TB('Bank')" cmpId="IDC_BANKS_BANK" width="61" [model]="eventData?.model?.Banks?.Bank"></tb-text>
          <tb-checkbox cmpId="IDC_BANKS_DISABLED" width="79" [model]="eventData?.model?.Banks?.Disabled" [caption]="_TB('Disabled')"></tb-checkbox>
</div>          <tb-text [caption]="_TB('Description')" cmpId="IDC_BANKS_DESCRIPTION" width="154" [model]="eventData?.model?.Banks?.Description"></tb-text>
          <tb-checkbox cmpId="IDC_BANKS_ISFOREIGN" width="109" [model]="eventData?.model?.Banks?.IsForeign" [caption]="_TB('Foreign Bank  ')"></tb-checkbox>
          <tb-combo [caption]="_TB('ISO Country')" cmpId="IDC_BANKS_ISOCODE" width="34" [model]="eventData?.model?.Banks?.ISOCountryCode"></tb-combo>
<div class="anchored">          <tb-text [caption]="_TB('Bank Code')" cmpId="IDC_BANKS_ABI" width="45" [model]="eventData?.model?.Banks?.ABI"></tb-text>
          <tb-text cmpId="IDC_BANKS_ABIPREFIX" width="10" [model]="eventData?.model?.Banks?.ABIPrefix"></tb-text>
</div><div class="anchored">          <tb-text [caption]="_TB('Branch code')" cmpId="IDC_BANKS_CAB" width="34" [model]="eventData?.model?.Banks?.CAB"></tb-text>
          <tb-text cmpId="IDC_BANKS_CABPREFIX" width="10" [model]="eventData?.model?.Banks?.CABPrefix"></tb-text>
</div>          <tb-text [caption]="_TB('SWIFT')" cmpId="IDC_BANKS_SWIFT" width="71" [model]="eventData?.model?.Banks?.Swift"></tb-text>
          <tb-text *ngIf="eventData?.activation?.IDC_BANKS_SIA" [caption]="_TB('SIA Code')" cmpId="IDC_BANKS_SIA" width="32" [model]="eventData?.model?.Banks?.SIACode"></tb-text>
          <tb-text [caption]="_TB('CBI Code (SCT)')" cmpId="IDC_BANKS_CBI_CODE" width="50" [model]="eventData?.model?.Banks?.CBICode"></tb-text>
         </tb-tile>
         <tb-tile [title]="_TB('Address Data')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_BANKS_ADDRESS_BR">
          <tb-text [caption]="_TB('ZIP Code')" cmpId="IDC_BANKS_ZIPCODE_BR" width="72" [model]="eventData?.model?.Banks?.ZIPCode"></tb-text>
          <tb-textarea [readonly]="true" height="24" width="210" [caption]="_TB('Address')" cmpId="IDC_BANKS_ADDRESS" width="210" [model]="eventData?.model?.Banks?.Address"></tb-textarea>
          <tb-text [caption]="_TB('Street No.')" cmpId="IDC_BANKS_STREETNO" width="40" [model]="eventData?.model?.Banks?.StreetNo"></tb-text>
          <tb-text [caption]="_TB('Additional Address')" cmpId="IDC_BANKS_ADDRESS2" width="210" [model]="eventData?.model?.Banks?.Address2"></tb-text>
          <tb-text [caption]="_TB('District')" cmpId="IDC_BANKS_DISTRICT" width="210" [model]="eventData?.model?.Banks?.District"></tb-text>
          <tb-combo [caption]="_TB('Federal State')" cmpId="IDC_BANKS_FEDERALSTATE" width="40" [model]="eventData?.model?.Banks?.FederalState"></tb-combo>
          <tb-combo [caption]="_TB('Municipality')" cmpId="IDC_BANKS_CITY_BR" width="210" [model]="eventData?.model?.Banks?.City"></tb-combo>
          <tb-combo [caption]="_TB('Country')" cmpId="IDC_BANKS_STATUS" width="210" [model]="eventData?.model?.Banks?.Country" [itemSource]="IDC_BANKS_STATUS_itemSource"></tb-combo>
          <tb-text [caption]="_TB('Counter')" cmpId="IDC_BANKS_COUNTER" width="210" [model]="eventData?.model?.Banks?.Counter"></tb-text>
          <tb-text [caption]="_TB('Agency')" cmpId="IDC_BANKS_AGENCY" width="55" [model]="eventData?.model?.Banks?.Agency"></tb-text>
          <tb-text [caption]="_TB('Branch')" cmpId="IDC_BANKS_BANKBRANCH" width="25" [model]="eventData?.model?.Banks?.Branch"></tb-text>
         </tb-tile>
         <tb-tile [title]="_TB('Address Data')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_BANKS_ADDRESS">
          <tb-textarea [readonly]="true" height="24" width="210" [caption]="_TB('Address')" cmpId="IDC_BANKS_ADDRESS" width="210" [model]="eventData?.model?.Banks?.Address"></tb-textarea>
          <tb-text [caption]="_TB('Additional Address')" cmpId="IDC_BANKS_ADDRESS2" width="210" [model]="eventData?.model?.Banks?.Address2"></tb-text>
          <tb-combo [caption]="_TB('Municipality')" cmpId="IDC_BANKS_CITY" width="210" [model]="eventData?.model?.Banks?.City"></tb-combo>
          <tb-text [caption]="_TB('ZIP Code')" cmpId="IDC_BANKS_ZIPCODE" width="40" [model]="eventData?.model?.Banks?.ZIPCode"></tb-text>
          <tb-combo *ngIf="eventData?.activation?.IDC_BANKS_COUNTY" [caption]="_TB('County')" cmpId="IDC_BANKS_COUNTY" width="40" [model]="eventData?.model?.Banks?.County" [itemSource]="IDC_BANKS_COUNTY_itemSource"></tb-combo>
          <tb-combo [caption]="_TB('Country')" cmpId="IDC_BANKS_STATUS" width="210" [model]="eventData?.model?.Banks?.Country" [itemSource]="IDC_BANKS_STATUS_itemSource"></tb-combo>
          <tb-text [caption]="_TB('Counter')" cmpId="IDC_BANKS_COUNTER" width="210" [model]="eventData?.model?.Banks?.Counter"></tb-text>
          <tb-text [caption]="_TB('Agency')" cmpId="IDC_BANKS_AGENCY" width="55" [model]="eventData?.model?.Banks?.Agency"></tb-text>
          <tb-text [caption]="_TB('Branch')" cmpId="IDC_BANKS_BANKBRANCH" width="25" [model]="eventData?.model?.Banks?.Branch"></tb-text>
         </tb-tile>
        </tb-layoutcontainer>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Contacts')" tbTileStandard >
<div class="anchored">          <tb-phone mask [caption]="_TB('Phone')" cmpId="IDC_BANKS_TELEPHONE1" width="100" [model]="eventData?.model?.Banks?.Telephone1"></tb-phone>
          <tb-phone mask cmpId="IDC_BANKS_TELEPHONE2" width="100" [model]="eventData?.model?.Banks?.Telephone2"></tb-phone>
</div><div class="anchored">          <tb-text [caption]="_TB('Telex/Fax')" cmpId="IDC_BANKS_TELEX" width="100" [model]="eventData?.model?.Banks?.Telex"></tb-text>
          <tb-text cmpId="IDC_BANKS_FAX" width="100" [model]="eventData?.model?.Banks?.Fax"></tb-text>
</div>          <tb-text [caption]="_TB('Contact Person')" cmpId="IDC_BANKS_REFPERSON" width="100" [model]="eventData?.model?.Banks?.ContactPerson"></tb-text>
          <tb-email [caption]="_TB('Email')" cmpId="IDC_BANKS_EMAIL" width="154" [model]="eventData?.model?.Banks?.EMail"></tb-email>
          <tb-link [caption]="_TB('Internet')" cmpId="IDC_BANKS_INTERNET" width="154" [model]="eventData?.model?.Banks?.Internet"></tb-link>
         </tb-tile>
         <tb-tile [title]="_TB('Other Data')" tbTileStandard >
          <tb-text [caption]="_TB('ID')" cmpId="IDC_BANKS_CODE_IDENTIFIER" width="38" [model]="eventData?.model?.Banks?.Identifier"></tb-text>
          <tb-text [caption]="_TB('Signature')" cmpId="IDC_BANKS_SIGNATURE" width="154" [model]="eventData?.model?.Banks?.Signature"></tb-text>
          <tb-text [caption]="_TB('Notes')" cmpId="IDC_BANKS_NOTES" width="154" [model]="eventData?.model?.Banks?.Notes"></tb-text>
          <tb-numeric-text-box formatter="Integer" [caption]="_TB('Interbank Circuit Average Number of Days')" cmpId="IDC_BANKS_DAYS_CRC_INTERBANKING" width="24" [model]="eventData?.model?.Banks?.BankDays"></tb-numeric-text-box>
          <tb-text *ngIf="eventData?.activation?.IDC_BANKS_SENDERCODE" [caption]="_TB('Sender Code')" cmpId="IDC_BANKS_SENDERCODE" width="42" [model]="eventData?.model?.Banks?.SenderCode"></tb-text>
          <tb-text *ngIf="eventData?.activation?.IDC_BANKS_REFSENDER" [caption]="_TB('Sender Reference')" cmpId="IDC_BANKS_REFSENDER" width="145" [model]="eventData?.model?.Banks?.SenderReference"></tb-text>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('References')" icon="erp-factorycustomer" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('References')" tbTileAutoFill >
         <tb-body-edit cmpId="IDC_BANKS_PEOPLE_BODY" width="381" [model]="eventData?.model?.People">
          <tb-body-edit-column cmpId="IDC_BANKS_PEOPLE_TITLE" [model]="eventData?.model?.People?.TitleCode" [title]="_TB('Title')" columnType="tb-combo" columnName="IDC_BANKS_PEOPLE_TITLE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_PEOPLE_CODE" [model]="eventData?.model?.People?.ExternalCode" [title]="_TB('Code')" columnType="tb-text" columnName="IDC_BANKS_PEOPLE_CODE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_PEOPLE_LASTNAME" [model]="eventData?.model?.People?.LastName" [title]="_TB('Last Name')" columnType="tb-text" columnName="IDC_BANKS_PEOPLE_LASTNAME">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_PEOPLE_NAME" [model]="eventData?.model?.People?.Name" [title]="_TB('Name')" columnType="tb-text" columnName="IDC_BANKS_PEOPLE_NAME">
          </tb-body-edit-column>
          <tb-body-edit-column mask cmpId="IDC_BANKS_PEOPLE_TEL1" [model]="eventData?.model?.People?.Telephone1" [title]="_TB('Phone 1')" columnType="tb-phone" columnName="IDC_BANKS_PEOPLE_TEL1">
          </tb-body-edit-column>
          <tb-body-edit-column mask cmpId="IDC_BANKS_PEOPLE_TEL2" [model]="eventData?.model?.People?.Telephone2" [title]="_TB('Phone 2')" columnType="tb-phone" columnName="IDC_BANKS_PEOPLE_TEL2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_PEOPLE_TELEX" [model]="eventData?.model?.People?.Telex" [title]="_TB('Telex')" columnType="tb-text" columnName="IDC_BANKS_PEOPLE_TELEX">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_PEOPLE_FAX" [model]="eventData?.model?.People?.Fax" [title]="_TB('Fax')" columnType="tb-text" columnName="IDC_BANKS_PEOPLE_FAX">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_PEOPLE_EMAIL" [model]="eventData?.model?.People?.EMail" [title]="_TB('EMail')" columnType="tb-email" columnName="IDC_BANKS_PEOPLE_EMAIL">
          </tb-body-edit-column>
          <tb-body-edit-column mask cmpId="IDC_BANKS_PEOPLE_SKYPEID" [model]="eventData?.model?.People?.SkypeID" [title]="_TB('Skype')" columnType="tb-phone" columnName="IDC_BANKS_PEOPLE_SKYPEID">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_PEOPLE_WORKPOS" [model]="eventData?.model?.People?.WorkingPosition" [title]="_TB('Working Position')" columnType="tb-text" columnName="IDC_BANKS_PEOPLE_WORKPOS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_PEOPLE_NOTES" [model]="eventData?.model?.People?.Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_BANKS_PEOPLE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Bank CAs')" icon="erp-money" tbLayoutTypeVbox >
       <ng-template>
        <tb-layoutcontainer isCollapsible="True" tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Bank Options')" tbTileStandard  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_BANKS_OPTIONS">
          <tb-text *ngIf="eventData?.activation?.IDC_BANKS_FOLDER" [caption]="_TB('Default folder for Bills and Payment Orders files')" cmpId="IDC_BANKS_FOLDER" width="196" [model]="eventData?.model?.Banks?.BillsAndPaymentsFolder"></tb-text>
<div class="anchored">          <tb-text *ngIf="eventData?.activation?.IDC_BANKS_EXTENSION" [caption]="_TB('Extension')" cmpId="IDC_BANKS_EXTENSION" width="57" [model]="eventData?.model?.Banks?.BillsAndPaymentsExtension"></tb-text>
          <tb-caption *ngIf="eventData?.activation?.IDC_STATIC_WITHOUTTOT" cmpId="IDC_STATIC_WITHOUTTOT" width="97" [caption]="_TB('(without dot)')"></tb-caption>
</div><div class="anchored">          <tb-checkbox *ngIf="eventData?.activation?.IDC_BANKS_USEVALUEDATE" cmpId="IDC_BANKS_USEVALUEDATE" width="109" [model]="eventData?.model?.Banks?.UseValueDate" [caption]="_TB('Use Value Date  ')"></tb-checkbox>
          <tb-caption *ngIf="eventData?.activation?.IDC_STATIC_BANKTRANSFER" cmpId="IDC_STATIC_BANKTRANSFER" width="97" [caption]="_TB('(in Bank Transfers File)')"></tb-caption>
</div><div class="anchored">          <tb-checkbox *ngIf="eventData?.activation?.IDC_BANKS_CASHORDERCBICODE" cmpId="IDC_BANKS_CASHORDERCBICODE" width="109" [model]="eventData?.model?.Banks?.CashOrderCBICode" [caption]="_TB('CBI Form  ')"></tb-checkbox>
          <tb-caption *ngIf="eventData?.activation?.IDC_STATIC_CASHORDER" cmpId="IDC_STATIC_CASHORDER" width="97" [caption]="_TB('(for Cash Orders)')"></tb-caption>
</div>          <tb-text *ngIf="eventData?.activation?.IDC_BANKS_CASHORDERRESULT" [caption]="_TB('Cash Orders Result Request')" cmpId="IDC_BANKS_CASHORDERRESULT" width="20" [model]="eventData?.model?.Banks?.CashOrderResultRequest"></tb-text>
          <tb-checkbox *ngIf="eventData?.activation?.IDC_BANKS_USE_ISO_20022" cmpId="IDC_BANKS_USE_ISO_20022" width="109" [model]="eventData?.model?.Banks?.UseISO20022" [caption]="_TB('Use ISO20022 for SDD  ')"></tb-checkbox>
         </tb-tile>
         <tb-tile [title]="_TB('Accounting')" tbTileStandard  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_BANKS_ACCOUNTING">
          <tb-text [caption]="_TB('Chart of Account a/c')" cmpId="IDC_BANKS_COAACCOUNT" width="104" [model]="eventData?.model?.Banks?.Account"></tb-text>
          <tb-label-static cmpId="IDC_BANKS_DESCRI_COA" width="154" [model]="eventData?.model?.HKLAccountBank?.Description"></tb-label-static>
          <tb-text [caption]="_TB('Bank Charge Account')" cmpId="IDC_BANKS_CHARGESACCOUNT" width="104" [model]="eventData?.model?.Banks?.ChargesAccount"></tb-text>
          <tb-label-static cmpId="IDC_BANKS_DESCRI_COA_CHARGES" width="154" [model]="eventData?.model?.HKLChargesAccountBank?.Description"></tb-label-static>
          <tb-checkbox cmpId="IDC_BANKS_DEBIT_CHARGES_SEP" width="109" [model]="eventData?.model?.Banks?.DebitChargesSeparately" [caption]="_TB('Debit Charges Separately  ')"></tb-checkbox>
         </tb-tile>
        </tb-layoutcontainer>
        <tb-tile [title]="_TB('Bank CAs')" tbTileAutoFill  isCollapsible="True">
         <tb-text [caption]="_TB('Preferred CA No.')" cmpId="IDC_BANKS_PREFERRED_CANO" width="114" [model]="eventData?.model?.Banks?.PreferredCA"></tb-text>
         <tb-body-edit cmpId="IDC_BANKSCAS" width="374" [model]="eventData?.model?.BanksCAs">
          <tb-body-edit-column cmpId="IDC_BANKSCAS_CANO" columnName="CA" [title]="_TB('CA No.')" columnType="tb-text" columnName="IDC_BANKSCAS_CANO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_CIN" columnName="CIN" [title]="_TB('CIN')" columnType="tb-text" columnName="IDC_BANKSCAS_CIN" *ngIf="eventData?.activation?.IDC_BANKSCAS_CIN">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_CHECK" columnName="CACheck" [title]="_TB('Check')" columnType="tb-text" columnName="IDC_BANKSCAS_CHECK">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_IBANISMANUAL" columnName="IBANIsManual" [title]="_TB('IBAN Manual')" columnType="tb-checkbox" columnName="IDC_BANKSCAS_IBANISMANUAL" *ngIf="eventData?.activation?.IDC_BANKSCAS_IBANISMANUAL">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_IBAN" columnName="IBAN" [title]="_TB('IBAN')" columnType="tb-text" columnName="IDC_BANKSCAS_IBAN" *ngIf="eventData?.activation?.IDC_BANKSCAS_IBAN">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_INTERNAL_NR" columnName="InternalNumber" [title]="_TB('Internal Number')" columnType="tb-text" columnName="IDC_BANKSCAS_INTERNAL_NR" *ngIf="eventData?.activation?.IDC_BANKSCAS_INTERNAL_NR">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_COAACCOUNT" columnName="Account" [title]="_TB('Chart of Account a/c')" columnType="tb-text" columnName="IDC_BANKSCAS_COAACCOUNT" *ngIf="eventData?.activation?.IDC_BANKSCAS_COAACCOUNT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_ACCOUNTDESCRICOA" [model]="eventData?.model?.HKLCAAccount?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_BANKSCAS_ACCOUNTDESCRICOA" *ngIf="eventData?.activation?.IDC_BANKSCAS_ACCOUNTDESCRICOA">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_ISDISABLED" columnName="Disabled" [title]="_TB('Disabled')" columnType="tb-checkbox" columnName="IDC_BANKSCAS_ISDISABLED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_CURRENCY" columnName="Currency" [title]="_TB('Currency')" columnType="tb-combo" columnName="IDC_BANKSCAS_CURRENCY" *ngIf="eventData?.activation?.IDC_BANKSCAS_CURRENCY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_CASH" columnName="PymtCash" [title]="_TB('Cash')" columnType="tb-combo" columnName="IDC_BANKSCAS_CASH" *ngIf="eventData?.activation?.IDC_BANKSCAS_CASH">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_BANKSCAS_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
        <tb-tile [title]="_TB('Bill CAs')" tbTileAutoFill  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_BILLSCAS">
         <tb-body-edit cmpId="IDC_BILLSCAS" width="374" [model]="eventData?.model?.BillsCAs">
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_CANO" columnName="CA" [title]="_TB('CA No.')" columnType="tb-text" columnName="IDC_BE_BILLSCAS_CANO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_IBAN" columnName="IBAN" [title]="_TB('IBAN')" columnType="tb-text" columnName="IDC_BE_BILLSCAS_IBAN" *ngIf="eventData?.activation?.IDC_BE_BILLSCAS_IBAN">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_POSTAL_NR" columnName="PostalNumber" [title]="_TB('Postal Number')" columnType="tb-text" columnName="IDC_BE_BILLSCAS_POSTAL_NR" *ngIf="eventData?.activation?.IDC_BE_BILLSCAS_POSTAL_NR">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_INTERNAL_NR" columnName="InternalNumber" [title]="_TB('Internal Number')" columnType="tb-text" columnName="IDC_BE_BILLSCAS_INTERNAL_NR" *ngIf="eventData?.activation?.IDC_BE_BILLSCAS_INTERNAL_NR">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_ISBLOCKED" columnName="Blocked" [title]="_TB('Blocked')" columnType="tb-checkbox" columnName="IDC_BE_BILLSCAS_ISBLOCKED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_PRESENTATION" columnName="Presentation" [itemSource]="IDC_BE_BILLSCAS_PRESENTATION_itemSource" [title]="_TB('Presentation')" columnType="tb-enum-combo" columnName="IDC_BE_BILLSCAS_PRESENTATION" *ngIf="eventData?.activation?.IDC_BE_BILLSCAS_PRESENTATION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_BILLSCAACCOUNT" columnName="Account" [title]="_TB('Chart of Account a/c')" columnType="tb-text" columnName="IDC_BE_BILLSCAS_BILLSCAACCOUNT" *ngIf="eventData?.activation?.IDC_BE_BILLSCAS_BILLSCAACCOUNT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DESCRI_BILLS" [model]="eventData?.model?.HKLBillsCA?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_DESCRI_BILLS" *ngIf="eventData?.activation?.IDC_DESCRI_BILLS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BILLSCAS_CURRENCY" columnName="Currency" [title]="_TB('Currency')" columnType="tb-combo" columnName="IDC_BILLSCAS_CURRENCY" *ngIf="eventData?.activation?.IDC_BILLSCAS_CURRENCY">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_BE_BILLSCAS_MAXCREDITLIMIT" columnName="MaxCreditLimit" [title]="_TB('Max. Credit Limit')" columnType="tb-numeric-text-box" columnName="IDC_BE_BILLSCAS_MAXCREDITLIMIT" *ngIf="eventData?.activation?.IDC_BE_BILLSCAS_MAXCREDITLIMIT">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_BE_BILLSCAS_BILLS_NOT_PAIDS" columnName="Presented" [title]="_TB('Presented Bills')" columnType="tb-numeric-text-box" columnName="IDC_BE_BILLSCAS_BILLS_NOT_PAIDS" *ngIf="eventData?.activation?.IDC_BE_BILLSCAS_BILLS_NOT_PAIDS">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Percent" cmpId="IDC_BE_BILLSCAS_BORROWINGRATE_LIABILITIES" columnName="BorrowingRate" [title]="_TB('Borrowing Rate')" columnType="tb-numeric-text-box" columnName="IDC_BE_BILLSCAS_BORROWINGRATE_LIABILITIES" *ngIf="eventData?.activation?.IDC_BE_BILLSCAS_BORROWINGRATE_LIABILITIES">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_BE_BILLSCAS_NOTES">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_DEBITCOLLECTIONCHARGES" columnName="DebitCollCharges" [title]="_TB('Debit Collection Charges')" columnType="tb-checkbox" columnName="IDC_BE_BILLSCAS_DEBITCOLLECTIONCHARGES" *ngIf="eventData?.activation?.IDC_BE_BILLSCAS_DEBITCOLLECTIONCHARGES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Factoring')" icon="erp-factoring" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_BANKS_AZ_FACTORING">
       <ng-template>
        <tb-tile [title]="_TB('Factoring CAs')" tbTileAutoFill  isCollapsible="True">
         <tb-text [caption]="_TB('Transferor Code')" cmpId="IDC_BANKS_FACTORING_CODE" width="88" [model]="eventData?.model?.Banks?.FactoringCode"></tb-text>
         <tb-text [caption]="_TB('Base Currency Code')" cmpId="IDC_BANKS_FACTORING_CURR" width="44" [model]="eventData?.model?.Banks?.FactoringCurrency"></tb-text>
         <tb-body-edit cmpId="IDC_BANKS_FACTORINGCAS" width="374" [model]="eventData?.model?.FactoringCAs">
          <tb-body-edit-column cmpId="IDC_BANKS_FACTORINGCAS_CANO" columnName="CA" [title]="_TB('CA No.')" columnType="tb-text" columnName="IDC_BANKS_FACTORINGCAS_CANO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BE_BILLSCAS_PRESENTATION" columnName="FactoringType" [title]="_TB('Type')" columnType="tb-enum-combo" columnName="IDC_BE_BILLSCAS_PRESENTATION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_FACTORINGCAS_ADVANCE" columnName="FactoringAdvance" [title]="_TB('Advance')" columnType="tb-checkbox" columnName="IDC_BANKS_FACTORINGCAS_ADVANCE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Percent" cmpId="IDC_BANKS_FACTORINGCAS_BORROWINGRATE" columnName="BorrowingRate" [title]="_TB('% Advance')" columnType="tb-numeric-text-box" columnName="IDC_BANKS_FACTORINGCAS_BORROWINGRATE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKS_FACTORINGCAS_COAACCOUNT" columnName="Account" [title]="_TB('Chart of Account a/c')" columnType="tb-text" columnName="IDC_BANKS_FACTORINGCAS_COAACCOUNT" *ngIf="eventData?.activation?.IDC_BANKS_FACTORINGCAS_COAACCOUNT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_ACCOUNTDESCRICOA" [model]="eventData?.model?.HKLCAAccountFactoring?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_BANKSCAS_ACCOUNTDESCRICOA" *ngIf="eventData?.activation?.IDC_BANKSCAS_ACCOUNTDESCRICOA">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCAS_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_BANKSCAS_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
        <tb-layoutcontainer isCollapsible="True" tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Factoring Customers')" tbTileAutoFill  isCollapsible="True">
          <tb-body-edit cmpId="IDC_BANKS_FACTORINGCUST" width="374" [model]="eventData?.model?.FactoringCustomers">
           <tb-body-edit-column cmpId="IDC_BANKS_FACTORINGCUST_CODE" columnName="Customer" [title]="_TB('Customer')" columnType="tb-text" columnName="IDC_BANKS_FACTORINGCUST_CODE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_BANKS_FACTORINGCUST_DECRI" [model]="eventData?.model?.HKLCustomer?.CompanyName" [title]="_TB('Company Name')" columnType="tb-label-static" columnName="IDC_BANKS_FACTORINGCUST_DECRI">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_BANKS_FACTORING_EXTCODE" columnName="ExternalCode" [title]="_TB('External Code')" columnType="tb-text" columnName="IDC_BANKS_FACTORING_EXTCODE">
           </tb-body-edit-column>
          </tb-body-edit>
         </tb-tile>
         <tb-tile [title]="_TB('Factoring Payments')" tbTileAutoFill  isCollapsible="True">
          <tb-body-edit cmpId="IDC_BANKS_FACTORINGPYMT" width="374" [model]="eventData?.model?.FactoringPymtTerms">
           <tb-body-edit-column cmpId="IDC_BANKS_FACTORINGPYMT_CODE" columnName="Payment" [title]="_TB('Payment')" columnType="tb-text" columnName="IDC_BANKS_FACTORINGPYMT_CODE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_BANKS_FACTORING_DECRI" [model]="eventData?.model?.HKLPymtTerm?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_BANKS_FACTORING_DECRI">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_BANKS_FACTORING_EXTCODE" columnName="ExternalCode" [title]="_TB('External Code')" columnType="tb-text" columnName="IDC_BANKS_FACTORING_EXTCODE">
           </tb-body-edit-column>
          </tb-body-edit>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Bank Conditions')" icon="erp-checkprices" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_BANKS_AZ_BANKCONDITIONS">
       <ng-template>
        <tb-tile [title]="_TB('Bank Conditions')" tbTileAutoFill >
         <tb-body-edit cmpId="IDC_BANKSCONDITIONS" width="374" [model]="eventData?.model?.BanksConditions">
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_CODE" columnName="ConditionCode" [title]="_TB('Code')" columnType="tb-text" columnName="IDC_BANKSCONDITIONS_CODE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_COMPANYBANKID" columnName="CompanyBankID" [title]="_TB('Company Bank ID')" columnType="tb-text" columnName="IDC_BANKSCONDITIONS_COMPANYBANKID">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_CONVENIO" columnName="Convenio" [title]="_TB('Convenio')" columnType="tb-text" columnName="IDC_BANKSCONDITIONS_CONVENIO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_CA" columnName="CA" [title]="_TB('CA No.')" columnType="tb-combo" columnName="IDC_BANKSCONDITIONS_CA">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_CARTEIRA" columnName="Carteira" [title]="_TB('Carteira')" columnType="tb-text" columnName="IDC_BANKSCONDITIONS_CARTEIRA">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_CARTEIRAONFILE" columnName="CarteiraOnFile" [title]="_TB('Carteira on file')" columnType="tb-text" columnName="IDC_BANKSCONDITIONS_CARTEIRAONFILE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_REGCOLLECTION" columnName="RegisteredCollection" [title]="_TB('Registered')" columnType="tb-checkbox" columnName="IDC_BANKSCONDITIONS_REGCOLLECTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_ISSUEDBYBANK" columnName="IssueSendByBank" [title]="_TB('Issue/Send by Bank')" columnType="tb-checkbox" columnName="IDC_BANKSCONDITIONS_ISSUEDBYBANK">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Long" cmpId="IDC_BANKSCONDITIONS_MINRANGE" columnName="MinRange" [title]="_TB('Min Number')" columnType="tb-numeric-text-box" columnName="IDC_BANKSCONDITIONS_MINRANGE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Long" cmpId="IDC_BANKSCONDITIONS_MAXRANGE" columnName="MaxRange" [title]="_TB('Max Number')" columnType="tb-numeric-text-box" columnName="IDC_BANKSCONDITIONS_MAXRANGE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Long" cmpId="IDC_BANKSCONDITIONS_LASTNUMBER" columnName="LastNumber" [title]="_TB('Last Number')" columnType="tb-numeric-text-box" columnName="IDC_BANKSCONDITIONS_LASTNUMBER">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Percent" cmpId="IDC_BANKSCONDITIONS_DISCOUNTRATE" columnName="DiscountRate" [title]="_TB('% Discount')" columnType="tb-numeric-text-box" columnName="IDC_BANKSCONDITIONS_DISCOUNTRATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Percent" cmpId="IDC_BANKSCONDITIONS_INTERESTRATE" columnName="InterestRate" [title]="_TB('% Interest')" columnType="tb-numeric-text-box" columnName="IDC_BANKSCONDITIONS_INTERESTRATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Percent" cmpId="IDC_BANKSCONDITIONS_PENALITYRATE" columnName="PenalityRate" [title]="_TB('% Penality')" columnType="tb-numeric-text-box" columnName="IDC_BANKSCONDITIONS_PENALITYRATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_BANKSCONDITIONS_PROTESTDAYS" columnName="ProtestDays" [title]="_TB('Protest Days')" columnType="tb-numeric-text-box" columnName="IDC_BANKSCONDITIONS_PROTESTDAYS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_PAYMENTPLACE" columnName="PaymentPlace" [title]="_TB('Payment Place')" columnType="tb-text" columnName="IDC_BANKSCONDITIONS_PAYMENTPLACE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_APPROVED" columnName="Approved" [title]="_TB('Approved')" columnType="tb-checkbox" columnName="IDC_BANKSCONDITIONS_APPROVED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_FILELAYOUT" columnName="FileLayout" [title]="_TB('File Layout')" columnType="tb-enum-combo" columnName="IDC_BANKSCONDITIONS_FILELAYOUT">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Long" cmpId="IDC_BANKSCONDITIONS_LASTFILEID" columnName="LastFileID" [title]="_TB('Last File No.')" columnType="tb-numeric-text-box" columnName="IDC_BANKSCONDITIONS_LASTFILEID">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_BANKSCONDITIONS_REPORTNAMESPACE" columnName="ReportNamespace" [title]="_TB('Report Namespace')" columnType="tb-text" columnName="IDC_BANKSCONDITIONS_REPORTNAMESPACE">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
