<div class="tb-search">
    <md-input-container>
        <span md-prefix><md-icon>search</md-icon></span>
        <input #myInput type="text" mdInput [mdAutocomplete]="auto" [formControl]="inputControl">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayElement">
        <md-option *ngFor="let option of filteredElements | async" [value]="option">
            <tb-menu-element class="search-element" [object]="option"></tb-menu-element>
        </md-option>
    </md-autocomplete>
</div>