<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo localize="XEngine" optional="true" destinationfolder="TbApps">
  <Components>
    <Library name="TbXMLEnvelope" sourcefolder="TbXMLEnvelope" deploymentpolicy="full"  >
      <FilesExtension value="*.pdb" />
    </Library>
    <Library name="TbXMLTransfer" sourcefolder="TbXMLTransfer" deploymentpolicy="full"  >
      <FilesExtension value="*.pdb" />
    </Library>
  </Components>
</ModuleInfo>