 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Fixed Asset')" tbTileMini >
         <tb-text [caption]="_TB('From')" cmpId="IDC_DISPOSALENTRY_FROMCODE" width="85" [model]="eventData?.model?.FromCode"></tb-text>
         <tb-text [caption]="_TB('To')" cmpId="IDC_DISPOSALENTRY_TOCODE" width="85" [model]="eventData?.model?.ToCode"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Category')" tbTileMini >
         <tb-combo [caption]="_TB('From')" cmpId="IDC_DISPOSALENTRY_FROMCTG" width="90" [model]="eventData?.model?.FromCtg"></tb-combo>
         <tb-combo [caption]="_TB('To')" cmpId="IDC_DISPOSALENTRY_TOCTG" width="90" [model]="eventData?.model?.ToCtg"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Parent Asset')" tbTileMini >
         <tb-enum-combo [caption]="_TB('Type')" cmpId="IDC_DISPOSALENTRY_PARENT_TYPE" width="89" [model]="eventData?.model?.ParentType"></tb-enum-combo>
         <tb-text [caption]="_TB('Code')" cmpId="IDC_DISPOSALENTRY_PARENT" width="85" [model]="eventData?.model?.Parent"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Class')" tbTileMini >
         <tb-combo [caption]="_TB('From')" cmpId="IDC_DISPOSALENTRY_FROMCL" width="71" [model]="eventData?.model?.FromClass"></tb-combo>
         <tb-combo [caption]="_TB('To')" cmpId="IDC_DISPOSALENTRY_TOCL" width="71" [model]="eventData?.model?.ToClass"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Location')" tbTileMini >
         <tb-combo [caption]="_TB('From')" cmpId="IDC_DISPOSALENTRY_FROMLOC" width="71" [model]="eventData?.model?.FromLoc"></tb-combo>
         <tb-combo [caption]="_TB('To')" cmpId="IDC_DISPOSALENTRY_TOLOC" width="71" [model]="eventData?.model?.ToLoc"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Purchase')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Doc. Date')" cmpId="IDC_DISPOSALENTRY_PURCHDATE" width="62" [model]="eventData?.model?.PurchDate"></tb-date-input>
         <tb-text [caption]="_TB('Supplier')" cmpId="IDC_DISPOSALENTRY_SUPPLIER" width="91" [model]="eventData?.model?.Supplier"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile [title]="_TB('Disposal')" tbTileWide >
<div class="col col1">         <tb-combo [caption]="_TB('Type')" cmpId="IDC_DISPOSALENTRY_RADIO_SALE" width="140" [model]="eventData?.model?.DisposalType"></tb-combo>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_DISPOSALENTRY_DISPOSALDATE" width="62" [model]="eventData?.model?.PostDate"></tb-date-input>
<div class="anchored">         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Doc. Date/ Number')" cmpId="IDC_DISPOSALENTRY_DOCDATE" width="62" [model]="eventData?.model?.DocDate"></tb-date-input>
         <tb-text cmpId="IDC_DISPOSALENTRY_DOCNO" width="120" [model]="eventData?.model?.NrDoc"></tb-text>
</div></div><div class="col col2">         <tb-text [caption]="_TB('Customer')" cmpId="IDC_DISPOSALENTRY_CUSTOMER" width="91" [model]="eventData?.model?.Customer"></tb-text>
         <tb-label-static cmpId="IDC_DISPOSALENTRY_DESCRI_CUSTOMER" width="176" [model]="eventData?.model?.HKLCustomer?.CompanyName"></tb-label-static>
         <tb-checkbox cmpId="IDC_DISPOSALENTRY_ACCNTNG" width="101" [model]="eventData?.model?.Accntng" [caption]="_TB('Post to Accounting  ')"></tb-checkbox>
</div>        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="599" [model]="eventData?.model?.Detail">
         <tb-body-edit-column cmpId="IDC_DISPOSALENTRY_SELECT" columnName="l_TEnhFixAssetDisposal_P01" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_DISPOSALENTRY_SELECT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_DISPOSALENTRY_MSGBMP" columnName="l_TEnhFixAssetDisposal_P34" [title]="_TB(' ')" columnType="tb-image" columnName="IDC_DISPOSALENTRY_MSGBMP">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_DISPOSALENTRY_CODETYPE" columnName="CodeType" [title]="_TB('Type')" columnType="tb-enum-combo" columnName="IDC_DISPOSALENTRY_CODETYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_DISPOSALENTRY_FIXEDASSET" columnName="FixedAsset" [title]="_TB('Fixed Asset')" columnType="tb-text" columnName="IDC_DISPOSALENTRY_FIXEDASSET">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_DISPOSALENTRY_DESCRI_FIXEDASSET" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_DISPOSALENTRY_DESCRI_FIXEDASSET">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_DISPOSALENTRY_QTY" columnName="l_TEnhFixAssetDisposal_P04" [title]="_TB('Qty')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_QTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Percent" cmpId="IDC_DISPOSALENTRY_PERC" columnName="l_TEnhFixAssetDisposal_P35" [title]="_TB('%')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_PERC">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_REVENUE" columnName="l_TEnhFixAssetDisposal_P02" [title]="_TB('Sale Revenue')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_REVENUE" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_REVENUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_PURCHCOST" columnName="l_TEnhFixAssetDisposal_P05" [title]="_TB('Purchase Cost')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_PURCHCOST">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_NOTDEPRECIABLE" columnName="l_TEnhFixAssetDisposal_P09" [title]="_TB('Non-Depreciable')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_NOTDEPRECIABLE" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_NOTDEPRECIABLE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_DEPRTOT" columnName="l_TEnhFixAssetDisposal_P06" [title]="_TB('Decr. Total Depreciable')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_DEPRTOT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_ACCUMDEPR" columnName="l_TEnhFixAssetDisposal_P07" [title]="_TB('Decr. Accum. Depr.')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_ACCUMDEPR">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_ACCACCUMDEPR" columnName="l_TEnhFixAssetDisposal_P10" [title]="_TB('Decr. Accel. Accum. Depr.')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_ACCACCUMDEPR" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_ACCACCUMDEPR">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_LOSTDEPR" columnName="l_TEnhFixAssetDisposal_P11" [title]="_TB('Decr. Accum. Lost Depr.')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_LOSTDEPR" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_LOSTDEPR">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_DEPR" columnName="l_TEnhFixAssetDisposal_P25" [title]="_TB('Depreciation')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_DEPR" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_DEPR">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_ACCDEPR" columnName="l_TEnhFixAssetDisposal_P31" [title]="_TB('Acc. Depreciation')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_ACCDEPR" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_ACCDEPR">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_NONDEDDEPR" columnName="l_TEnhFixAssetDisposal_P27" [title]="_TB('Lost Depreciation')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_NONDEDDEPR" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_NONDEDDEPR">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DISPOSALENTRY_NETBOOKVALUE" columnName="l_TEnhFixAssetDisposal_P08" [title]="_TB('Net Book Value')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_NETBOOKVALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_DIFFERENCE" columnName="l_TEnhFixAssetDisposal_P03" [title]="_TB('Difference')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_DIFFERENCE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_BALDEPRTOT" columnName="l_TEnhFixAssetDisposal_P18" [title]="_TB('Decr. Total Bal. Depr.')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_BALDEPRTOT" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_BALDEPRTOT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_BALACCUMDEPR" columnName="l_TEnhFixAssetDisposal_P19" [title]="_TB('Decr. Accum. Bal. Depr.')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_BALACCUMDEPR" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_BALACCUMDEPR">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_BALDEPR" columnName="l_TEnhFixAssetDisposal_P29" [title]="_TB('Balance Depreciation')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_BALDEPR" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_BALDEPR">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_DISPOSALENTRY_BALNETBOOKVALUE" columnName="l_TEnhFixAssetDisposal_P20" [title]="_TB('Balance Net Book Value')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_BALNETBOOKVALUE" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_BALNETBOOKVALUE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_DISPOSALENTRY_BALDIFFERENCE" columnName="l_TEnhFixAssetDisposal_P24" [title]="_TB('Balance Difference')" columnType="tb-numeric-text-box" columnName="IDC_DISPOSALENTRY_BALDIFFERENCE" *ngIf="eventData?.activation?.IDC_DISPOSALENTRY_BALDIFFERENCE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_DISPOSALENTRY_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_DISPOSALENTRY_NOTES">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_DISPOSALENTRY_MSG" columnName="l_TEnhFixAssetDisposal_P33" [title]="_TB('Messages')" columnType="tb-label-static" columnName="IDC_DISPOSALENTRY_MSG">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
       <tb-tilepanel [title]="_TB('Processing Status')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile tbTileWide  hasTitle="False">
<div class="col col1">         <tb-label-static cmpId="IDC_DISPOSALENTRY_DESCRI_STATUS" width="642" [model]="eventData?.model?.StatusDescri"></tb-label-static>
</div><div class="col col2"></div>        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
