 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeColumn >
      <ng-template>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Fixed assets related purchases of goods and services:')" tbTileStandard >
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_01" width="170" [model]="eventData?.model?.SLAVE_01" [caption]="_TB('a) Wind parks')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_02" width="170" [model]="eventData?.model?.SLAVE_02" [caption]="_TB('b) Residential buildings')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_03" width="170" [model]="eventData?.model?.SLAVE_03" [caption]="_TB('c) Office buildings')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_04" width="170" [model]="eventData?.model?.SLAVE_04" [caption]="_TB('d) Industrial Buildings')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_05" width="170" [model]="eventData?.model?.SLAVE_05" [caption]="_TB('e) Other')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Non fixed assets related purchases of goods:')" tbTileStandard >
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_06" width="170" [model]="eventData?.model?.SLAVE_06" [caption]="_TB('a) TAX at 24%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_07" width="170" [model]="eventData?.model?.SLAVE_07" [caption]="_TB('b) TAX at 20%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_08" width="170" [model]="eventData?.model?.SLAVE_08" [caption]="_TB('c) TAX at 19%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_09" width="170" [model]="eventData?.model?.SLAVE_09" [caption]="_TB('d) TAX at 9%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_10" width="170" [model]="eventData?.model?.SLAVE_10" [caption]="_TB('e) TAX at 5%')"></tb-checkbox>
        </tb-tile>
       </tb-layoutcontainer>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Non fixed assets related purchases of services:')" tbTileStandard >
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_11" width="170" [model]="eventData?.model?.SLAVE_11" [caption]="_TB('a) TAX at 24%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_12" width="170" [model]="eventData?.model?.SLAVE_12" [caption]="_TB('b) TAX at 20%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_13" width="170" [model]="eventData?.model?.SLAVE_13" [caption]="_TB('c) TAX at 19%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_14" width="170" [model]="eventData?.model?.SLAVE_14" [caption]="_TB('d) TAX at 9%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_15" width="170" [model]="eventData?.model?.SLAVE_15" [caption]="_TB('e) TAX at 5%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_16" width="170" [model]="eventData?.model?.SLAVE_16" [caption]="_TB('Goods imports')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_17" width="170" [model]="eventData?.model?.SLAVE_17" [caption]="_TB('Intangible assets purchases')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_18" width="170" [model]="eventData?.model?.SLAVE_18" [caption]="_TB('Fixed assets deliveries')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Goods deliveries except fixed assets:')" tbTileStandard >
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_19" width="170" [model]="eventData?.model?.SLAVE_19" [caption]="_TB('a) TAX at 24%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_20" width="170" [model]="eventData?.model?.SLAVE_20" [caption]="_TB('b) TAX at 20%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_21" width="170" [model]="eventData?.model?.SLAVE_21" [caption]="_TB('c) TAX at 19%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_22" width="170" [model]="eventData?.model?.SLAVE_22" [caption]="_TB('d) TAX at 9%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_23" width="170" [model]="eventData?.model?.SLAVE_23" [caption]="_TB('e) TAX at 5%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_24" width="170" [model]="eventData?.model?.SLAVE_24" [caption]="_TB('TAX exempt deliveries of goods')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_25" width="300" [model]="eventData?.model?.SLAVE_25" [caption]="_TB('Reverse charge deliveries of goods and services')"></tb-checkbox>
        </tb-tile>
       </tb-layoutcontainer>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Deliveries of services:')" tbTileStandard >
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_26" width="170" [model]="eventData?.model?.SLAVE_26" [caption]="_TB('a) TAX at 24%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_27" width="170" [model]="eventData?.model?.SLAVE_27" [caption]="_TB('b) TAX at 20%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_28" width="170" [model]="eventData?.model?.SLAVE_28" [caption]="_TB('c) TAX at 19%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_29" width="170" [model]="eventData?.model?.SLAVE_29" [caption]="_TB('d) TAX at 9%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_30" width="170" [model]="eventData?.model?.SLAVE_30" [caption]="_TB('e) TAX at 5%')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_31" width="170" [model]="eventData?.model?.SLAVE_31" [caption]="_TB('TAX exempt deliveries of services')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_32" width="170" [model]="eventData?.model?.SLAVE_32" [caption]="_TB('Intra EU deliveries of goods')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_33" width="170" [model]="eventData?.model?.SLAVE_33" [caption]="_TB('Intra EU deliveries of services')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_34" width="170" [model]="eventData?.model?.SLAVE_34" [caption]="_TB('Goods exports')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_35" width="170" [model]="eventData?.model?.SLAVE_35" [caption]="_TB('Intangible assets deliveries')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_TAXDECLAR394_SLAVE_36" width="400" [model]="eventData?.model?.SLAVE_36" [caption]="_TB('Vat paying entity did not deliver goods or services in the reporting period')"></tb-checkbox>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TAXDECLAR394_SLAVE_TOOLBAR_OK?.enabled" icon="tb-ok" [caption]="_TB('Ok')" cmpId="ID_TAXDECLAR394_SLAVE_TOOLBAR_OK"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
