.toolbar {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ddd;
    background: linear-gradient(top, #f5f5f5, #ddd);
    background: -ms-linear-gradient(top, #f5f5f5, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ddd));
    background: -moz-linear-gradient(top, #f5f5f5, #ddd);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
    color: #000;
    display: flex;
}

.toolbar md-icon,
.toolbar tb-toolbar-item {
    float: left;
}

.toolbar md-icon,
.toolbar tb-toolbar-item {
    border: none;
    background: transparent;
    display: block;
    line-height: 30px;
    height: 30px;
    padding: 0 5px;
    cursor: pointer;
}

.toolbar md-icon:hover,
.toolbar tb-toolbar-item:hover {
    background: #ddd;
}
