<div class="container">
  <h2 class="componentTitle">New Instance Registration</h2>

  <div *ngIf="activationCode === ''" class="row center-xs end-sm end-lg">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div>
        <admin-input-text [inputLabel]="'Account'" [textType]="'text'" [(inputData)]="accountName"></admin-input-text>
      </div>
      <div>
        <admin-input-text [inputLabel]="'Password'" [textType]="'password'" [(inputData)]="password"></admin-input-text>
      </div>
      <div class="mt20">
        <admin-button [buttonText]="'Get Permission'" (click)="getPermission()" [primary]="true"></admin-button>
      </div>
    </div>
  </div>

  <div *ngIf="currentStep == 1">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="stayLine">Step 1: Instance Information</h2><img class="stayLine" *ngIf="busy" src="assets/ajax-loader.gif" />
        <br><br>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile tileNormal">
          Main Data
          <div>
            <admin-input-text [inputLabel]="'Instance Key'" [textType]="'text'" [readOnly]=editing [(inputData)]="model.InstanceKey"></admin-input-text>
          </div>
          <div>
            <admin-input-text [inputLabel]="'Description'" [textType]="'text'" [(inputData)]="model.Description"></admin-input-text>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile tileNormal">
          Security
          <div>
            <admin-input-text [inputLabel]="'Activation Key'" [readOnly]=true [textType]="'text'" [(inputData)]="activationCode"></admin-input-text>          
          </div>
        </div>
      </div>    
    </div>
    <div class="row center-xs end-sm end-lg">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <admin-button [buttonText]="'Save'" (click)="submitInstance()" [primary]="true"></admin-button>
      </div>
    </div>    
  </div>

  <div *ngIf="currentStep == 2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="stepDone">Step 1: Instance Information</h2>
        <h2>Step 2: Select a Subscription</h2>
        <h3>This Instance will be associated to this subscription:</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile tileNormal">
          Subscriptions
          <admin-list 
            [items]=subscriptions
            [columnNames]="['SubscriptionKey']" 
            [readingData]=readingData
            (onSelectedItem)="associateInstanceToSubscription($event)"></admin-list>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="currentStep == 3">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="stepDone">Step 1: Instance Information</h2>
        <h2 class="stepDone">Step 2: Select a Subscription</h2>
        <h2 class="stayLine">Step 3: Completing the registration</h2><img class="stayLine" *ngIf="busy" src="assets/ajax-loader.gif" />
        <br><br>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile tileNormal">
          <h3 [ngClass]="(clusterStep > 0) ? 'stepDone' : ''">Downloading data from GWAM..</h3>
          <h3 [ngClass]="(clusterStep > 1) ? 'stepDone' : ''">Replicating data cluster on Provisioning..</h3>
          <h3 *ngIf="clusterStep > 2"><admin-icon style="color: #4CAF50" [iconSignature]="'done'"></admin-icon>Registration of the new istance has been completed succesfully.</h3>
        </div>
      </div>
    </div>
  </div>   

</div>