<!-- #begin popup dialogs -->

<admin-dialog 
  [mode]="'fields'"
  [title]="'Permission required'" 
  [message]="'Please insert your credentials'"
  [(fields)]=fields
  [(opened)]=openToggle 
  [(result)]=result
  (onClose)=onCloseCredentialsDialog()>
</admin-dialog>

<admin-dialog 
  [mode]="'message'"
  [title]="dlgMessageTitle" 
  [message]="dlgMessageText"
  [(opened)]=openDlgMessageToggle
  (onClose)=onCloseMessageDialog()>
</admin-dialog>

<!-- #end popup dialogs -->

<div class="container">
  <h2 class="componentTitle">New Instance Registration</h2>

  <div *ngIf="activationCode === '' && credentialsEnteredFirstTime === true" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div>
      <app-action-panel 
        [iconSignature]="'warning'" 
        [message]="obtainingPermission ? 'Verifying credentials..' : 'Provided credentials are not valid.'"
        [actionText]="'Enter Credentials'"
        [showButton]=true
        (actionFired)="openCredentialsDialog()">
      </app-action-panel>
    </div>
    <div *ngIf="obtainingPermission">
      <h3 class="stayLine">Obtaining permission..</h3><img class="stayLine" *ngIf="busy" src="assets/ajax-loader.gif" />
    </div>
  </div>

  <div *ngIf="processEndedWithErrors === true" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div>
      <app-action-panel 
        [iconSignature]="'warning'" 
        [message]="'Instance registration failed.'"
        [actionText]="'Retry'"
        [showButton]=true
        (actionFired)="restartInstanceRegistration()">
      </app-action-panel>
    </div>
  </div>

  <div *ngIf="currentStep == 1">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="stayLine">Step 1: Instance Information</h2><img class="stayLine" *ngIf="busy" src="assets/ajax-loader.gif" />
        <br><br>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile tileNormal">
          Main Data
          <div>
            <admin-input-text [inputLabel]="'Instance Key'" [textType]="'text'" [readOnly]="activationCode === ''" [(inputData)]="model.InstanceKey"></admin-input-text>
          </div>
          <div>
            <admin-input-text [inputLabel]="'Description'" [textType]="'text'" [(inputData)]="model.Description" [readOnly]="activationCode === ''"></admin-input-text>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile tileNormal">
          Security
          <div>
            <admin-input-text [inputLabel]="'Activation Key'" [readOnly]=true [textType]="'text'" [(inputData)]="activationCode"></admin-input-text>          
          </div>
        </div>
      </div>    
    </div>
    <div class="row center-xs end-sm end-lg">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <admin-button [buttonText]="'Save'" (click)="submitInstance()" [primary]="true"></admin-button>
      </div>
    </div>    
  </div>
  
  <div *ngIf="currentStep == 2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="stepDone">Step 1: Instance Information</h2>
        <h2 class="stayLine">Step 2: Completing the registration</h2><img class="stayLine" *ngIf="busy" src="assets/ajax-loader.gif" />
        <br><br>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile tileNormal">
          <h3 [ngClass]="(clusterStep > 0) ? 'stepDone' : ''">Downloading data from GWAM..</h3>
          <h3 [ngClass]="(clusterStep > 1) ? 'stepDone' : ''">Replicating data cluster on Provisioning..</h3>
          <h3 [ngClass]="(clusterStep > 2) ? 'stepDone' : ''">Completing operation on GWAM..</h3>
          
          <div *ngIf="operationSuccess > 0; then operationOk else operationFailed"></div>
          <ng-template #operationOk>
            <h3><admin-icon class="success" [iconSignature]="'done'"></admin-icon>Registration of the new instance has been completed succesfully.</h3>
          </ng-template>
          <ng-template #operationFailed>
            <h3><admin-icon class="warning" [iconSignature]="'done'"></admin-icon>Operation ended with errors</h3>
            <p *ngIf="errorMessage !== ''">{{ errorMessage }}</p>
          </ng-template>          

        </div>
      </div>
    </div>
  </div>   

</div>