  
<div id="anchor" #anchor tabindex="0" (blur)="closePopupIf()" (click)="onToggle()">
    <button class="bottom-button">
    <span> {{caption}} </span>
    <m4-icon icon="{{icon}}"></m4-icon>
    </button>
    <kendo-popup *ngIf="show" class='wrapper' [anchor]="anchor" (anchorViewportLeave)="outView(null)" 
    (open)="onOpen()" [collision]="collision" 
    [anchorAlign]="anchorAlign" 
    [popupAlign]="popupAlign" 
    >
    <div class="popup">
        <ng-content></ng-content>
    </div>
    </kendo-popup>
</div>