<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <appSettings>
    <add key="SynchronizeInboundTickMinutes" value="10"/>
    <!-- (espresso in minuti) val minimo: 5; val default: 60 -->
    <add key="notifyDataSynch" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="Microarea.WebServices.DataSynchronizer.UnhandledExceptionModule" name="UnhandledExceptionModule"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWSConnector"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://icrmmago.svil.pat.it/WSC4/WSConnector.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSConnector" contract="PatWSConnector.IWSConnector" name="BasicHttpBinding_IWSConnector" behaviorConfiguration="compressionEnabled"/>
    </client>
    <!-- compression behavior reference -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="compressionEnabled">
          <GZipCompressionExtension/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!-- List of extensions we add here compression extensions -->
    <extensions>
      <behaviorExtensions>
        <add name="GZipCompressionExtension" type="PAT.CRM.WSC4.Extensions.GZipCompression, PAT.CRM.WSC4.Extensions, Version=4.0.0.1, Culture=neutral, PublicKeyToken=null"/>
        <add name="DeflateCompressionExtension" type="PAT.CRM.WSC4.Extensions.DeflateCompression, PAT.CRM.WSC4.Extensions, Version=4.0.0.1, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>