.icon-demo {
    padding: 5px;
    text-align: center;
    background: #fff;
    margin: 5px;
    display: flex;
    align-items: center;
}

.icon-demo tb-icon {
    color: #000;
    margin: 5px;
    flex-basis: 50px;
}

.icon-demo textarea {
    width: 100%;
    height: 20px;
    background: #fff;
}