<tb-control-container type="tb-email" [model]="model">
    <tb-caption [captionWidth]="captionWidth" caption="{{caption}}" [for]="cmpId"></tb-caption>
    <textarea #email class="tb-textarea" id="{{cmpId}}" name="{{cmpId}}" maxlength="{{model?.length}}" [readonly]="readonly" [ngModel]="model?.value | toUpper: model?.uppercase" (ngModelChange)="model.value=$event" [disabled]="!model?.enabled || readonly" [style.width.px]="width" [style.height.px]="height-3" rows="{{rows}}"
        (blur)="onBlur($event)" spellcheck="false" [ngClass]="{'pointer': model?.value}"></textarea>
</tb-control-container>