<div class="tb-control tb-email" [ngClass]="componentClass()">
    <tb-caption *ngIf="caption" caption="{{caption}}" [for]="cmpId"></tb-caption>
    <!--<input id="{{cmpId}}" type="text" [ngClass]="showError" class="tb-text" (blur)="onBlur()" [disabled]="!model?.enabled" [ngModel]="model?.value" (ngModelChange)="model.value=$event" [readonly]="readonly" />-->

    <input kendoTextBox maxlength="{{model?.length}}" id="{{cmpId}}"  [ngClass]="showError" class="tb-text" [ngModel]="model?.value | toUpper: model?.uppercase" (blur)="onBlur()" [disabled]="!(model?.enabled)" (ngModelChange)="model.value=$event" [style.width.px]="width" />

    <div class="has-error">{{errorMessage}}</div>
</div>