<tb-control-container type="tb-email" [model]="model">
    <tb-caption [captionWidth]="captionWidth" caption="{{caption}}" [for]="cmpId"></tb-caption>
    <div (click)="onMailClick()">
        <textarea class="tb-textarea" id="{{cmpId}}" name="{{cmpId}}" maxlength="{{model?.length}}" [readonly]="readonly" [ngModel]="model?.value | toUpper: model?.uppercase" (ngModelChange)="model.value=$event" [disabled]="!model?.enabled || readonly" [style.width.px]="width" [style.height.px]="height" rows="{{rows}}"
        (blur)="onBlur($event)" spellcheck="false"></textarea>
    </div>
</tb-control-container>