:host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.login-content {
    flex: 1;
    background: #efefef;
}

.login-form {
    flex: 1;
    max-width: 400px;
    margin: 100px auto;
}

footer {
    background: #0277bd;
    padding: 10px 15px;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
}

footer a {
    color: #fff;
}

.form-group {}

.form-group .form-control {
    width: 100%;
    margin: 10px 0
}

.form-group .form-button {
    margin-top: 20px;
    width: 100%;
}

div.error {
    color: red;
    margin: 20px 0 0;
}

.spinner {
    margin: 200px auto;
    width: 100px;
}

.md-spinner path {
    stroke: #0277BD;
}