<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="MailServer" localize="Mail Connector Server">
    <Setting name="UseMago" type="bool"  value="0" localize="Use always Mago" />
  </Section>
  <Section name="MailConnector" localize="Mail Connector parameters" hidden="true">
    <Setting name="OutlookProfile" type="string" value="Outlook" localize="Outlook profile" />
    <Setting name="SupportOutlookExpress" type="bool" value="0" localize="Outlook Express available" />
    <Setting name="UseMapi" type="bool" value="1" localize="Use simple MAPI" />
    <Setting name="UseSmtp" type="bool" value="0" localize="Use SMTP by .Net 2.0" />
    <Setting name="MailCompress" type="bool" value="0" localize="Compress attached reports" />
    <Setting name="CryptFile" type="bool" value="1" localize="Crypt report attachments" />
    <Setting name="Password" type="string" value="" />
    <Setting name="RequestDeliveryNotifications" type="bool" value="0" localize="Request read notifications" />
    <Setting name="RequestReadNotifications" type="bool" value="0" localize="Request delivery notifications" />
    <Setting name="ReplyToAddress" type="string" value="" localize="Reply address" />
    <Setting name="RedirectToAddress" type="string" value="" localize="Redirect to address" hidden="true" />
    <Setting name="TrackingAddressForSentEmails" type="string" value="" localize="Tracking address for sent Emails (by Bcc)"   />
    <Setting name="PrinterTemplate" type="string" value="" localize="Printer used as template"   />
    <Setting name="FaxFormatTemplate" type="string" value="[FAX: ##]" localize="FAX format address template"   />
    <Setting name="PdfSplitPages" type="integer" value="1000" localize="Block size in which to split PDF creation" hidden="true" />
  </Section>
</ParameterSettings>