<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
	<Section name="Parameters" localize="PostaLite parameters" hidden="true">
		<Setting name="Enabled" type="bool" value="false" localize="Enable PostaLite integration" />
		<Setting name="MarginLeft" type="integer" value="12" localize="PDF minimum left margin" />
		<Setting name="MarginRight" type="integer" value="12" localize="PDF minimum right margin" />
		<Setting name="MarginTop" type="integer" value="15" localize="PDF minimum top margin" />
		<Setting name="MarginBottom" type="integer" value="15" localize="PDF minimum bottom margin" />
		<Setting name="DeliveryType" type="enum" basetype="32766" value="2147352576" localize="Default delivery type" />
		<Setting name="PrintType" type="enum" basetype="32765" value="2147287040" localize="Default print type" />
		<Setting name="SendTime" type="dateTime" value="2000-01-01T19:00:00" localize="Starting time for send mail operation" />
		<Setting name="RecurHourInterval" type="integer" value="12" localize="Send mail interval in hours" />
		<Setting name="GroupingInterval" type="integer" value="15" localize="Grouping mail interval in minutes" />
		<Setting name="CreditLimit" type="double" value="20" localize="Notify when the credit is less than [€]" />
		<Setting name="AdviceOfDeliveryEmail" type="string" value="" localize="E-mail address used for advice of delivery" />
		<Setting name="DefaultCountry" type="string" value="" localize="Default country used when the addressee country is not specified" />
    <Setting name="RotateLandscape" type="bool" value="true" localize="Landscape report rotates by 90°" />
  </Section>
	<Section name="Subscribe" localize="PostaLite subscription" hidden="true">
		<Setting name="PrivateEntity" type="string" value="" />
		<Setting name="PrivateEntityOption" type="string" value="A" />
		<Setting name="LoginId" type="string" value="0"/>
		<Setting name="TokenAuth" type="string" value=""/>
		<Setting name="CompanyName" type="string" value="" />
		<Setting name="City" type="string" value="" />
		<Setting name="Address" type="string" value="" />
		<Setting name="ZIPCode" type="string" value="" />
		<Setting name="CadastralCode" type="string" value=""/>
		<Setting name="County" type="string" value="" />
		<Setting name="Country" type="string" value="" />
		<Setting name="AreaCodeTelephone" type="string" value="" />
		<Setting name="Telephone" type="string" value="" />
		<Setting name="TaxIdNumber" type="string" value="" />
		<Setting name="FiscalCode" type="string" value="" />
		<Setting name="EMail" type="string" value="" />
		<Setting name="ActivityCode" type="string" value=""/>
		<Setting name="LegalStatusCode" type="string" value=""/>
		<Setting name="Notes" type="string" value="" />

		<Setting name="SenderCompanyName" type="string" value=""/>
		<Setting name="SenderCity" type="string" value="" />
		<Setting name="SenderAddress" type="string" value="" />
		<Setting name="SenderZIPCode" type="string" value="" />
		<Setting name="SenderCounty" type="string" value="" />
		<Setting name="SenderCountry" type="string" value="" />
		<Setting name="SenderTaxIdNumber" type="string" value="" />
		<Setting name="SenderFiscalCode" type="string" value="" />
		<Setting name="SenderEMail" type="string" value="" />
		<Setting name="SenderActivityCode" type="string" value=""/>
		<Setting name="SenderLegalStatusCode" type="string" value=""/>
	</Section>
	<Section name="CreditManagement" hidden="true">
		<Setting name="ChargeAmount" type="money" value="0.0" />
		<Setting name="ActivationAmount" type="money" value="0.0"/>
		<Setting name="VatAmount" type="money" value="0.0"/>
		<Setting name="TotalAmount" type="money" value="0.0"/>
		<Setting name="Beneficiary" type="string" value=""/>
		<Setting name="Bank" type="string" value=""/>
		<Setting name="Iban" type="string" value=""/>
		<Setting name="WireTransferReason" type="string" value=""/>
		<Setting name="FirstActivation" type="bool" value="true"/>
	</Section>
	<Section name="Addresser" hidden="true">
		<Setting name="AddresserType" type="enum" basetype="32764" value="2147221505" localize="Addresser type" />
		<Setting name="AddresserCompanyName" type="string" value=""/>
		<Setting name="AddresserAddress" type="string" value=""/>
		<Setting name="AddresserZipCode" type="string" value=""/>
		<Setting name="AddresserCity" type="string" value=""/>
		<Setting name="AddresserCounty" type="string" value=""/>
		<Setting name="AddresserCountry" type="string" value=""/>
	</Section>
</ParameterSettings>