<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="MailConnector-Smtp" localize="Mail Connector SMTP parameters - Default account" hidden="true">
    <Setting name="HostName" type="string" value="" localize="SMTP Server" />
    <Setting name="Port" type="long" value="25" localize="SMTP Port" />
    <Setting name="UserName" type="string" value=""  localize ="User name"/>
    <Setting name="Password" type="string" value="" />
    <Setting name="FromName" type="string" value="" localize="Sender" />
    <Setting name="FromAddress" type="string" value="" localize="Sender address" />
    <Setting name="ReplyToName" type="string" value="" localize="Reply to" />
    <Setting name="ReplyToAddress" type="string" value="" localize="Reply address" />
    <Setting name="MimeEncoding" type="bool" value="1" localize="MIME encoding" />
    <Setting name="HtmlEncoding" type="bool" value="0" localize="Html Encoding type" />
    <Setting name="UseSSL" type="bool" value="0" localize="Use explicit SSL protocol by System.Net.Smtp" />
    <Setting name="UseImplicitSSL" type="bool" value="0" localize="Use Implicit SSL protocol by System.Web.Smtp (It is required by many PEC Provider) " />
    <Setting name="Timeout" type="long" value="200000" localize="Timeout (ms)" />
    <Setting name="AuthenticationType" type="string" value="NTLM" localize="Authentication Type" />
    <Setting name="Configuration" type="integer" value="0" localize="Configuration set" />

  </Section>
  <Section name="MailConnector-Smtp[C]" localize="Mail Connector SMTP parameters - Certified email account" hidden="true">
    <Setting name="HostName" type="string" value="" localize="SMTP Server" />
    <Setting name="Port" type="long" value="465" localize="SMTP Port" />
    <Setting name="UserName" type="string" value=""  localize ="User name"/>
    <Setting name="Password" type="string" value="" />
    <Setting name="FromName" type="string" value="" localize="Sender" />
    <Setting name="FromAddress" type="string" value="" localize="Sender address" />
    <Setting name="ReplyToName" type="string" value="" localize="Reply to" />
    <Setting name="ReplyToAddress" type="string" value="" localize="Reply address" />
    <Setting name="MimeEncoding" type="bool" value="1" localize="MIME encoding" />
    <Setting name="HtmlEncoding" type="bool" value="0" localize="Html Encoding type" />
    <Setting name="UseSSL" type="bool" value="0" localize="Use explicit SSL protocol by System.Net.Smtp" />
    <Setting name="UseImplicitSSL" type="bool" value="1" localize="Use Implicit SSL protocol by System.Web.Smtp (It is required by many Certified Provider) " />
    <Setting name="Timeout" type="long" value="200000" localize="Timeout (ms)" />
    <Setting name="AuthenticationType" type="string" value="NTLM" localize="Authentication Type" />
    <Setting name="UseSystemWebMail" type="bool" value="1" localize="Use library System.Web.Mail (mandatory)" hidden="true"/>
  </Section>
</ParameterSettings>
