<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo localize="Managed wrapper for TBApplication module" optional="false" destinationfolder="TbApps">
  <Components>
    <Library name="TbApplicationWrapper" deploymentpolicy="full"  >
      <FilesExtension value="*.pdb" />
    </Library>
  </Components>
</ModuleInfo>