.appTitle {
    height: 30px;
}

.bookmarks {
    margin-top: 10px;
    font-size: small;
}


/* Style the buttons that are used to open and close the accordion panel */

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 30%;
    text-align: left;
    border: none;
    outline: none;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */

div.panel {
    padding: 0 18px;
    background-color: white;
}

.divSinistra {
    width: 40%;
    float: left;
    display: block;
}

.divDestra {
    float: left;
    display: block;
    padding: 70;
    background-color: #FF0;
}

.panelbar-wrapper {
    max-width: 400px;
    margin: 0 auto;
}