 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  isCollapsible="False" hasTitle="False">
        <tb-numeric-text-box formatter="Integer" [caption]="_TB('Quantity to produce')" cmpId="IDC_PICKING_MATERIALS_QTY_CLOSURE" width="74" [model]="eventData?.model?.ProductionQty"></tb-numeric-text-box>
        <tb-section-title cmpId="IDC_PARAMETERS" width="175" [caption]="_TB('Parameters')"></tb-section-title>
        <tb-checkbox cmpId="IDC_PICKING_MATERIALS_ASSIGN_LOTS_ON_MO_CONFIRMATION" width="171" [model]="eventData?.model?.bAssignLotStorageOnPicking" [caption]="_TB('Assign lots and storages')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_PICKING_MATERIALS_PL_REQUIREMENTS" width="171" [model]="eventData?.model?.bPLPickAlsoMissingMOComponents" [caption]="_TB('Picks also shortages')"></tb-checkbox>
        <tb-section-title *ngIf="eventData?.activation?.IDC_PICK_COMPONENTS" cmpId="IDC_PICK_COMPONENTS" width="175" [caption]="_TB('Pick the components associated to')"></tb-section-title>
        <tb-radio *ngIf="eventData?.activation?.IDC_PICKING_MATERIALS_ALL_STEPS" cmpId="IDC_PICKING_MATERIALS_ALL_STEPS" width="117" [model]="eventData?.model?.bProductionQtyAllSteps" [caption]="_TB('all steps')"></tb-radio>
        <tb-radio *ngIf="eventData?.activation?.IDC_PICKING_MATERIALS_UNTIL_STEP" cmpId="IDC_PICKING_MATERIALS_UNTIL_STEP" width="117" [model]="eventData?.model?.bProductionQtyUntilStep" [caption]="_TB('all steps until the step:')"></tb-radio>
<div class="anchored">        <tb-radio *ngIf="eventData?.activation?.IDC_PICKING_MATERIALS_ONLY_STEP" cmpId="IDC_PICKING_MATERIALS_ONLY_STEP" width="112" [model]="eventData?.model?.bProductionQtyOnlyStep" [caption]="_TB('only to the step:')"></tb-radio>
        <tb-combo *ngIf="eventData?.activation?.IDC_PICKING_MATERIALS_STEP" cmpId="IDC_PICKING_MATERIALS_STEP" width="63" [model]="eventData?.model?.ProductionQtyStep"></tb-combo>
</div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_PICKING_MATERIALS_QTY_CLOSURE_UNDO?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="IDC_PICKING_MATERIALS_QTY_CLOSURE_UNDO"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_PICKING_MATERIALS_QTY_CLOSURE_OK?.enabled" icon="tb-ok" [caption]="_TB('Ok')" cmpId="IDC_PICKING_MATERIALS_QTY_CLOSURE_OK"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
