@import '../../../style/vars.scss';
:host(tb-body-edit) {
    margin: 2px 0;
     ::ng-deep .tb-control {
        padding: 0;
    }
     ::ng-deep .group {
        flex: 1;
    }
     ::ng-deep .k-grid th,
     ::ng-deep .k-grid td {
        padding: 0;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
     ::ng-deep textarea,
     ::ng-deep input {
        border: none !important;
        width: 100%;
    }
    .editing {
         ::ng-deep .body-edit {
            td {
                background: #ffffde;
            }
        }
        .k-combobox {
            widows: 100%;
            border: none;
        }
        .k-colorpicker,
        .k-combobox,
        .k-dateinput,
        .k-datepicker,
        .k-datetimepicker,
        .k-dropdown,
        .k-multiselect,
        .k-numerictextbox,
        .k-maskedtextbox,
        .k-timepicker {
            border: none;
        }
    }
}

::ng-deep .body-edit {
    font-size: 12px;
    border-color: #ddd;
    tr.k-state-selected,
    td.k-state-selected {
        transition: all 200ms ease;
        color: #fff;
        background-color: #0277bd;
    }
    td.k-state-focused {
        box-shadow: none;
    }
    .k-grid-header .k-header {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        height: 22px;
        line-height: 22px;
        &>.k-link {
            font-size: 12px;
            font-weight: 500;
        }
    }
    .k-grid-pager {
        padding: 0px;
        border-width: 1px 0 0;
        border-color: #ddd;
        font-size: 12px;
    }
    .k-grid th,
    .k-grid td {
        padding: 0;
    }
    .k-grid td div.editable {
        cursor: text;
    }
    .k-grid-norecords {
        background: red;
        td {
            padding: 0;
            background: #fff;
            .empty-row {
                border-bottom: 1px solid #f2f2f2;
                height: 20px;
                &:nth-child(odd) {
                    background: #f5f5f5;
                }
            }
        }
    }
}

.toolbar-buttons {
    padding: 0px;
    border-width: 1px 0 0;
    color: #333333;
    background-color: #f6f6f6;
    font-size: 12px;
}

.top-button {
    margin: 0;
    padding: 0;
    height: 30px;
    min-width: 38px;
    border: 0;
    background: none;
    &:hover {
        background: #f1f1f1
    }
    &:focus {
        box-shadow: none;
    }
}

tb-icon {
    min-width: 30px;
    font-size: 24px;
    line-height: 15px;
}

.body-edit-footer {
    display: flex;
    flex: 1;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-top: none;
    align-items: center;
    overflow: hidden;
    padding: 0 3px;
    .left-buttons {
        display: flex;
        flex: 1;
        justify-content: flex-start;
    }
    .right-buttons {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
    .center-buttons {
        display: flex;
        flex: 1;
        justify-content: unset;
    }
    .toolbar-icon {
        font-size: 12px;
        padding-top: 4px;
    }
    .pager-number {
        font-weight: 500;
        font-size: 12px;
    }
    button.k-button {
        padding: 1px 0 0;
        margin: 2px 0 2px 3px;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        background: #fff;
        border: 1px solid #cfe0e8;
        border-radius: 3px;
        transition: all 200ms ease;
        width: 30px;
        height: 30px;
        &:hover {
            transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
            background-color: $darkblue;
            border-color: $darkblue;
            color: #fff;
            tb-icon,
            i {
                color: #fff;
            }
        }
        &.k-state-disabled {
            opacity: 1;
            background-color: #f6f6f6;
            border: 1px solid #f6f6f6;
            transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
            m4-icon {
                color: #ccc;
                background-color: #f6f6f6;
                border: none;
            }
        }
    }
}