 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="erp-preferences" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Main Data')" tbTileWide  isCollapsible="False">
<div class="col col1">         <tb-checkbox cmpId="IDC_USER_DEFAULT_SALES_ALL_BRANCHES" width="109" [model]="eventData?.model?.bAllBranches" [caption]="_TB('All Branches  ')"></tb-checkbox>
         <tb-combo [caption]="_TB('Branch')" cmpId="IDC_USER_DEFAULT_SALES_BRANCH" width="62" [model]="eventData?.model?.UserDefaultSales?.Branch"></tb-combo>
         <tb-label-static [caption]="_TB('Description')" cmpId="IDC_USER_DEFAULT_SALES_BRANCH_DESCRI" width="160" [model]="eventData?.model?.UserDefaultSales?.BranchDesc"></tb-label-static>
</div><div class="col col2">         <tb-checkbox cmpId="IDC_USER_DEFAULT_SALES_ALL_WORKERS" width="109" [model]="eventData?.model?.bAllWorkers" [caption]="_TB('All Workers  ')"></tb-checkbox>
         <tb-combo [caption]="_TB('Worker')" cmpId="IDC_USER_DEFAULT_SALES_WORKER" width="58" [model]="eventData?.model?.UserDefaultSales?.WorkerID"></tb-combo>
         <tb-caption [caption]="_TB('Description')" cmpId="IDC_USER_DEFAULT_SALES_WORKER_DESCRI" width="160" [model]="eventData?.model?.UserDefaultSales?.WorkerDesc"></tb-caption>
</div>        </tb-tile>
        <tb-tile tbTileWide >
<div class="col col1"></div><div class="col col2"></div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Document Type')" icon="erp-invoice" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileAutoFill >
         <tb-body-edit cmpId="IDC_USER_DEFAULT_SALES_TAB_DOC_TYPE_BODY" width="491" [model]="eventData?.model?.UserDefaultSalesByDocType">
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DOCTYPE" [title]="_TB('Document Type')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DOCTYPE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_ISSUE" [title]="_TB('Display
Issue')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_ISSUE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLE_ISSUE" [title]="_TB('Disable
Issue')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLE_ISSUE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_POST_ACCOUNTING" [title]="_TB('Display
Post in Accounting')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_POST_ACCOUNTING">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLE_POST_ACCOUNTING" [title]="_TB('Disable
Post in Accounting')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLE_POST_ACCOUNTING">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_POST_INTRASTAT" [title]="_TB('Display
Post Intrastat Entry')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_POST_INTRASTAT" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_DISPLAY_POST_INTRASTAT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLE_POST_INTRASTAT" [title]="_TB('Disable
Post Intrastat Entry')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLE_POST_INTRASTAT" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_DISABLE_POST_INTRASTAT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_POST_PAYMENT_SCHEDULE" [title]="_TB('Display
Post Payment Schedule')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_POST_PAYMENT_SCHEDULE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLE_POST_PAYMENT_SCHEDULE" [title]="_TB('Disable
Post Payment Schedule')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLE_POST_PAYMENT_SCHEDULE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_POST_INVENTORY" [title]="_TB('Display
Post in Inventory')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_POST_INVENTORY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLE_POST_INVENTORY" [title]="_TB('Disable
Post in Inventory')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLE_POST_INVENTORY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_PRINT" [title]="_TB('Display
Print')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_PRINT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLE_PRINT" [title]="_TB('Disable
Print')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLE_PRINT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_PRINT_PREVIEW" [title]="_TB('Display
Print Preview')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_PRINT_PREVIEW">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_SEND_EMAIL" [title]="_TB('Display
Send Email')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_SEND_EMAIL">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLE_SEND_EMAIL" [title]="_TB('Disable
Send Email')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLE_SEND_EMAIL">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_ARCHIVE" [title]="_TB('Display
Archive')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_ARCHIVE" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_DISPLAY_ARCHIVE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLE_ARCHIVE" [title]="_TB('Disable
Archive')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLE_ARCHIVE" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_DISABLE_ARCHIVE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_AMTDETAIL_NETOFTAX" [title]="_TB('Price does not
include Tax')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_AMTDETAIL_NETOFTAX" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_AMTDETAIL_NETOFTAX">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_LINETYPE" [title]="_TB('Line Type')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_LINETYPE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_ISSUE" [title]="_TB('Editing Checks
Issued')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_ISSUE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_POSTACCOUNTING" [title]="_TB('Editing Checks
Posted in Accounting')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_POSTACCOUNTING">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_POSTINVENTORY" [title]="_TB('Editing Checks
Posted in Inventory')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_POSTINVENTORY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_PRINTER" [title]="_TB('Editing Checks
Printed')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_PRINTER">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_ARCHIVE" [title]="_TB('Editing Checks
Archived')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_ARCHIVE" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_ARCHIVE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_SOS" [title]="_TB('Editing Checks
in SOS')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_SOS" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_SOS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_SENTMAIL" [title]="_TB('Editing Checks
Email Sent')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_SENTMAIL">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_DN_SUMMARIZED" [title]="_TB('Editing Checks
Summarized Notes')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_DN_SUMMARIZED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLEROLLBACK" [title]="_TB('Update Linked Doc.
Disable RollBack')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLEROLLBACK">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_UPDATE_DOC_ACCOUNTING" [title]="_TB('Update Linked Doc.
Accounting Doc.')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_UPDATE_DOC_ACCOUNTING">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_UPDATE_DOC_INVENTORY" [title]="_TB('Update Linked Doc.
Inventory Entries')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_UPDATE_DOC_INVENTORY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DN_REF_MANAGEMENT" [title]="_TB('Document References
Management')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DN_REF_MANAGEMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DELETING_CHECK_TYPE" [title]="_TB('Deleting check
non issued doc.')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DELETING_CHECK_TYPE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CHECK_NEGATIVE_VALUES" [title]="_TB('Check for
negative values')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CHECK_NEGATIVE_VALUES">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CHECK_UNDERCOST" [title]="_TB('Check items
below cost')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CHECK_UNDERCOST" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_CHECK_UNDERCOST">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_EXCLUDE_ROLLBACK" [title]="_TB('Disable rollback
in batch procedure')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_EXCLUDE_ROLLBACK">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_ROUNDOFF_NETPRICE" [title]="_TB('Round Off
Net Price')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_ROUNDOFF_NETPRICE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_AUTOMATIC_ROUNDING_TOTPAYABLE" [title]="_TB('Autom. Rounding
Total to be Paid')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_AUTOMATIC_ROUNDING_TOTPAYABLE" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_AUTOMATIC_ROUNDING_TOTPAYABLE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_ROUNDING_TO" [title]="_TB('Rounding
to...')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_ROUNDING_TO" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_ROUNDING_TO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISPLAY_SEND_POSTALITE" [title]="_TB('Display
Send via PostaLite')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISPLAY_SEND_POSTALITE" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_DISPLAY_SEND_POSTALITE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_DISABLE_SEND_POSTALITE" [title]="_TB('Disable
Send via PostaLite')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_DISABLE_SEND_POSTALITE" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_DISABLE_SEND_POSTALITE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_POSTALITE" [title]="_TB('Editing Checks
PostaLite')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_POSTALITE" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_CODETYPE_CHECK_POSTALITE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_POSTALITE_DELIV_TYPE" [title]="_TB('PostaLite
Delivery Type')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_POSTALITE_DELIV_TYPE" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_CODETYPE_POSTALITE_DELIV_TYPE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_USER_DEFAULT_SALES_CODETYPE_POSTALITE_PRINT_TYPE" [title]="_TB('PostaLite
Print Type')" columnType="tb-body-edit-column" columnName="IDC_USER_DEFAULT_SALES_CODETYPE_POSTALITE_PRINT_TYPE" *ngIf="eventData?.activation?.IDC_USER_DEFAULT_SALES_CODETYPE_POSTALITE_PRINT_TYPE">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_USER_DEFAULT_COPY?.enabled" icon="tb-copy" [caption]="_TB('Copy')" cmpId="ID_USER_DEFAULT_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
