:host(tb-filter-group) {
    display: flex;
    flex-direction: column;
    margin: 5px 3px;
    .filter-header{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        h2 {
            margin: 0 5px;
            padding: 0 3px;
            font-size: 14px;
            line-height: 25px;
            font-weight: 500;
        }
    }
    .line {
        height: 1px;
        width:100%;
        background: #ccc;
        display: block;
        background: #ccc;
        background: linear-gradient(to right, #0277bd 0%, #EEF1F5 100%);
        margin: 0 3px 5px;
    }
    .filters{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
}