:host(tb-menu-content) {
    display: flex;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.hideButton {
    cursor: pointer;
    margin: 2px 13px 0;
}

tb-card-content .row {
    max-height: 235px;
    overflow-y: auto;
    margin: 3px;
    flex: 1;
}

.tb-card {
    flex: 1;
}

@media screen and (max-width: 1025px) {
    tb-card-title {
        font-size: 14px;
        flex-direction: row;
    }
}

// @media screen and (min-width: 48em) {
//     tb-card-content {
//         // min-height: 215px;
//     }
// }
// :host(tb-menu-content).limited tb-card-content {
//     max-height: 215px;
//     overflow: auto;
// }
// .brick tb-card .tb-card-title div {
//     padding: 5 px;
// }
// /*
// @custom-media --sm-viewport only screen and (min-width: 48em);
// @custom-media --md-viewport only screen and (min-width: 64em);
// @custom-media --lg-viewport only screen and (min-width: 75em);
// */
// .brick {
//     width: 100%;
// }
// .brick--width2 {
//     width: 100%;
// }
// @media screen and (min-width: 48em) {
//     .brick {
//         width: 50%;
//     }
//     .brick--width2 {
//         width: 100%;
//     }
// }
// @media screen and (min-width: 64em) {
//     .brick {
//         width: 33.3%;
//     }
//     .brick--width2 {
//         width: 66.6%;
//     }
// }
// @media screen and (min-width: 75em) {
//     .brick {
//         width: 25%;
//     }
//     .brick--width2 {
//         width: 50%;
//     }
// }
// tb-menu-element {
//     padding-right: 0.3rem;
//     padding-left: 0.3rem;
// }