.hideButton {
    cursor: pointer;
    margin: 2px 13px 0;
}

tb-card-content .row {
    max-height: 250px;
    overflow-y: auto;
    margin: 3px 0;
    flex: 1;
}

.tb-card {
    flex: 1;
}

@media screen and (max-width: 1025px) {
    tb-card-title {
        font-size: 14px;
        flex-direction: row;
    }
}