<div class="most-used" *ngIf="menuService?.mostUsedCount > 0">
    <ul class="most-used-list">
        <li *ngFor="let object of utilsService.toArray(menuService?.mostUsed) | slice:0:9;" class="most-used-item">
            <md-spinner *ngIf="object.isLoading" class="spinner"></md-spinner>
            <md-icon class="type" [ngClass]="object.objectType">{{imageService.getObjectIcon(object)}}</md-icon>
            <span class="truncate" (click)="runFunction(object)">{{object.title}}</span>
            <md-icon class="close" (click)="menuService.removeFromMostUsed(object)" title="Remove">close</md-icon>
        </li>
    </ul>
</div>