<section>

  <!--Pannello laterale sinistro con gruppi e menu-->
  <div id="one">
    <tb-accordion *ngFor="let group of utilsService.toArray(menuService?.getSelectedApplication()?.Group)" (click)=menuService?.setSelectedGroup(group)>
      <tb-accordion-group heading="{{group?.title}}" [isOpen]="isGroupOpened(group)">

        <ul>
          <li *ngFor="let menuTab of utilsService.toArray(group?.Menu)" (click)="selectGroupAndMenu(group, menuTab)" class="listItem"
            [ngClass]="menuTab == menuService.getSelectedMenu() ? 'selected' : '' ">
            {{menuTab?.title}}
          </li>
        </ul>
      </tb-accordion-group>
    </tb-accordion>
  </div>


<!--Contenitore tile di destra-->
  <div id="two">
    <div style="display: inline-block" *ngIf="menuService.getSelectedMenu() != undefined" class="tabContent">
      <div *ngFor="let tile of getTiles()" class="tileContainer">
        <tb-tile-content [Tile]="tile"></tb-tile-content>
      </div>


      <!--voci posizionate male, sarebbero da togliere-->
      <div *ngIf="menuService.getSelectedMenu().Object" class="tileContainer">
        <tb-tile-content [Tile]="menuService.getSelectedMenu()"></tb-tile-content>
      </div>
    </div>
  </div>


</section>