<div class="containerX" fxLayout="column" style="padding:10px">

  <div fxLayout='row'>

    <div fxFlex="10" fxHide.lt-sm></div>

    <div fxFlex="80" fxFlex.lt-md="100%">

      <div fxLayout='column' style="background-color: #ffffff; padding:20px">

        <h2 class="componentTitle">Account</h2>


        <div fxLayout>
          <div fxFlex='50' fxFlex.lt-md="100%" class="m5">
            <md-input-container fxFlexFill>
              <input mdInput placeholder="Email" value="">
            </md-input-container>
          </div>
          <div fxFlex='50' fxHide.lt-md class="m5"></div>
        </div>

        <div fxLayout.lt-md='column'>
          <div fxFlex='50' fxFlex.lt-md="100%" class="m5">
            <md-input-container fxFlexFill>
              <input mdInput placeholder="Password" type="password" value="">
            </md-input-container>
          </div>
          <div fxFlex='50' fxFlex.sm="100" class="m5">
            <md-checkbox>Password never expires</md-checkbox>
          </div>            
        </div>

        <app-form-divider></app-form-divider>

        <div fxLayout.lt-md='column'>
          <div fxFlex='50' fxFlex.sm="100" class="m5">
            <md-input-container fxFlexFill>
              <input mdInput placeholder="FirstName" value="">
            </md-input-container>
          </div>
          <div fxFlex='50' fxFlex.sm="100" class="m5">
            <md-input-container fxFlexFill>
              <input mdInput placeholder="Last Name" value="">
            </md-input-container>
          </div>
        </div>

        <app-form-divider></app-form-divider>

        <div fxLayout.lt-md='column'>
          <div fxFlex='50' fxFlex.sm="100" class="m5">
            <md-checkbox>Disabled</md-checkbox>
          </div>
          <div fxFlex='50' fxFlex.sm="100" class="m5">
            <md-checkbox>Locked</md-checkbox>
          </div>
        </div>

        <app-form-divider></app-form-divider>

        <div fxLayout>
          <div fxFlex='50' fxFlex.lt-md="100%" class="m5">
            <md-input-container fxFlexFill>
              <textarea mdInput placeholder="Notes"></textarea>
            </md-input-container>
          </div>
          <div fxFlex='50' fxHide.lt-md class="m5"></div>
        </div>

        <app-form-divider></app-form-divider>

        <div fxLayout>
          <div fxFlex='100' class="m5" fxLayoutAlign="end center">
             <button md-raised-button color="primary">Save</button>
          </div>
        </div>                  

      </div>

    </div>
    
    <div fxFlex="10" fxHide.lt-sm></div>

  </div>

</div>
