:host(tb-menu-element) {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}

.menu-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    // background: #f1f4f7;
    padding: 0.2rem;
    margin: 0.2rem 0;
    color: #0277bd;
    font-weight: 700;
}

.menu-element:hover {
    background: #fffbe0;
    transition: background 0.2s;
    // cursor: pointer;
}

.menu-element-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.menu-element-content .header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-element-content p.description {
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.object-type {
    color: #bbb;
    font-size: 20px;
    line-height: 24px;
}

.object-type.Document {
    color: #0277bd;
}

.object-type.Report,
.object-type.Function {
    color: #3EAB66;
}

.object-type.Batch {
    color: #ffa700;
}

md-spinner {
    width: 30px;
    height: 21px;
    margin-top: 2px;
}

span {
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    flex: 1 1 auto;
    padding: 0 3px;
    color: #000;
    font-weight: 500;
}

.isLoading {
    color: #999;
}

.star {
    color: #bbb;
    font-size: 20px;
    line-height: 24px;
}

.star:hover {
    color: #0277bd;
    cursor: pointer;
}

.star.favorite {
    color: #0277bd;
}

@media screen and (min-width: 48em) {
    .menu-element-content p.description {
        min-height: 25px;
    }
    span {
        font-size: 14px;
    }
}

@media screen and (min-width: 64em) {}

@media screen and (min-width: 75em) {}