<tb-control-container type="tb-numeric-text-box" [model]="model" [stateData]="stateData" [disableStateButton]="stateButtonDisabled"
    [controlId]="cmpId" (stateInfo)='onStateInfo($event)'>
    <tb-caption [captionWidth]="captionWidth" caption="{{caption}}" [for]="cmpId"></tb-caption>
    <kendo-numerictextbox [ngClass]="showError" [(ngModel)]="selectedValue" (blur)="onBlur($event)" (ngModelChange)="onNgModelChange($event)"
        [spinners]="false" [format]="getFormatOptions()" [decimals]="getDecimals()" [disabled]="!model?.enabled || disabled"
        [style.width.px]="width" [min]='getMinValue()' [max]='maxValue' [autoCorrect]='true'></kendo-numerictextbox>
</tb-control-container>

<!-- #textbox  -->