.tileContainer {
	padding-left: 20px;
	padding-top: 10px;
	margin: 5px;
	height: auto;
	display: inline-block;
	vertical-align: top;
	background-color: antiquewhite;
}

/*title and pinimage container*/
	.tileContainer > div:first-child {
		width: 98%;
		border-bottom: 1px solid;
		border-bottom-color: lightgrey;
		margin-bottom: 10px;
	}

	/*pin image*/
	.tileContainer .unpinnedImage, .tileContainer .pinnedImage {
		float: right;
	}

	/*tile title*/
	.tileContainer > div:first-child > div:first-child {
		display: inline-block;
		margin-bottom: 7px;
		width: 90%;
	}


.tileContent {
	/*height:234px;*/ /*this parameter must be changed with javascript*/
	/*height:235px;*/
	overflow: auto;
	padding-right: 5px;
	padding-top: 2px;
	line-height: 160%;
}

	.tileContent a {
		text-decoration: none;
	}

	/*menu object image*/
	.tileContent > div > div {
		display: inline-block;
	}

.link {
	cursor: pointer;
}


.imageSmall {
	width: 16px;
	height: 16px;
}


/*trucate text if doesnt fit*/
.truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
	overflow: hidden;
}

.titleFont .truncate {
	width: 95%;
}

#user .truncate {
	width: 50%;
}

.menuItemImage {
	width: 19px;
	height: 19px;
}

.Document {
	content: url(Document.png);
}

.Report {
	content: url(../Images/Report.png);
}

.Batch {
	content: url(../Images/Batch.png);
}

.Function {
	content: url(../Images/Function.png);
}

.Wizard {
	content: url(../Images/Wizard.png);
}

.OfficeItem {
	content: url(../Images/OfficeItem.png);
}

.Unknown {
	content: url(../Images/Unknown.png);
}

.pinnedImage {
	content: url(../Images/PinnedMenu.png);
}

.unpinnedImage {
	content: url(../Images/unpin.png);
}
