<button md-icon-button [md-menu-trigger-for]="menuApp" title="{{title}}">
    <md-icon>more_vert</md-icon>
</button>

<md-menu #menuApp="mdMenu">
    <button md-menu-item (click)=openProductInfoDialog()>ViewProductInfo</button>
    <button md-menu-item (click)=openConnectionInfoDialog()>ConnectionInfo</button>
    <button md-menu-item (click)=goToSite()>GotoProducerSite</button>
    <button md-menu-item (click)=clearCachedData()>ClearCachedData</button>
    <button md-menu-item (click)=activateViaSMS()>ActivateViaSMS</button>
    <button md-menu-item (click)=activateViaInternet()>ActivateViaInternet</button>
</md-menu>