.topBarMenuComponentLike {
    padding: 10px 10px 0px 10px;
    cursor: pointer;
}

// Font Sizes
$mf-font-size: 1rem !default;
// Margin & Paddings
$mf-gap: $mf-font-size * 1.5 !default;
.contextMenuClass {
    //  margin-top: ($mf-gap * 1.5);
    // width: 15px;
    width: 5%;
    margin-right: 0px;
    margin-left: auto;
    padding-top: 5px;
    outline: none;
}

.material-icons {
    font-size: $mf-font-size * 1.3;
    cursor: pointer;
    flex-direction: row;
}

.cm-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 24px;
}

.divW {
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    font-size: smaller;
}

.checkIcon {
    float: right;
}

.subsIcon {
    float: left;
}

.borderOn {
    border: 1px solid blue;
}

.spaceOn {
    padding-left: 24px;
}

span {
    vertical-align: sub;
}


/*contextdialog*/

$color-dialog: #0277bd;
.title {
    text-align: center;
    font-size: 18px;
    line-height: 1.3em;
}

.tit {
    font-weight: bold;
    border-bottom: 1px solid #999;
    margin-bottom: 15px;
    padding: 0 0 5px;
    color: $color-dialog;
}

.central {
    min-height: 300px;
    min-width: 500px;
    display: inline-flex;
}

nav {
    float: left;
    max-width: 50%;
    margin: 0;
    padding: 1em;
    width: 45%;
}

nav ul,
article ul {
    list-style-type: none;
    padding: 0;
}

article {
    width: 55%;
    float: right;
    padding: 1em;
}

#addApplication {
    display: block;
    overflow: hidden;
    padding: 3px;
    margin: 5px;
}

.addApplicationBck {
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.addAppButton {
    float: left;
    margin-top: 6px;
}

.newPair {
    float: left;
    display: block;
    overflow: hidden;
}

.newPair>input {
    float: left;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 0 3px;
}

.contextLeft {
    text-align: left;
    align-content: stretch;
    font-weight: 200;
    display: table-cell;
    margin-left: 0;
    position: absolute;
    padding: 4px;
    color: black;
}

.stellina {
    display: inline;
    margin-right: 5px;
    cursor: pointer;
}

.onlyThemeBaseColor {
    color: rgba(0, 0, 0, 0.75);
}

 :root {
    --baseFontColor: black;
}

.k-dialog-wrapper .k-dialog {
    position: relative;
    width: 600px;
    height: 350px;
}

.k-button-group {
    background-clip: padding-box;
    display: block;
}

.k-dialog-buttongroup {
    display: flex;
}

.k-dialog-titlebar {
    background-color: $color-dialog;
    color: white;
}

.k-textbox-container.k-state-empty {
    font-style: normal;
    display: inline-flex;
}

.list8 {
    display: block;
}

.list8 ul {
    list-style: none;
}

.list8 ul li span {
    display: block;
    padding-left: 10px;
    text-decoration: none;
}

.list8 ul li span:hover,
.selected {
    background-color: $color-dialog;
    color: white;
}

.esContainer {
    display: flex;
    height: 40px;
}

.appAndModule {
    flex-direction: row;
    font-size: small;
}

.ebButtons {
    flex-direction: row;
    height: 20px;
}

label {
    font-size: 10px;
    color: $color-dialog;
}

.pushbutton {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

.pushB {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 10px;
    padding-top: 35px;
}

.textBoxCentral {
    padding: 1.07142857em;
}