<div *ngIf="settingsService.IsEasyStudioActivated && infoService.isDesktop" class="esContainer">

    <div class="appAndModule" *ngIf="contextIsValid()">
        <div class="ebButtons">
            {{localizationService?.localizedElements?.CurrentApplication}} :
            <b>{{easystudioService.currentApplication}}</b>
        </div>

        <div class="ebButtons">
            {{localizationService?.localizedElements?.CurrentModule}} :
            <b>{{easystudioService.currentModule}}</b>
        </div>
    </div>
    <div (click)="changeCustomizationContext()" class="ebButtons topBarMenuComponentLike">
        <m4-icon icon="tb-inscription" matTooltip="{{openCustomizationContext}}"></m4-icon>
    </div>
    <div *ngIf="contextIsValid()" (click)="close()" class="ebButtons topBarMenuComponentLike">
        <m4-icon icon="tb-shutdown" matTooltip="{{closeCustomizationContext}}"></m4-icon>
    </div>

    <kendo-dialog *ngIf="opened" kendoRippleContainer (close)="close()">
        <kendo-dialog-titlebar>
            <div style="font-size: 18px; line-height: 1.3em;">
                {{title}}
            </div>
        </kendo-dialog-titlebar>
        <div class="central">
            <nav>
                <div class="columsLayout" id="list8">
                    <h1 class="tit">{{localizationService?.localizedElements?.Applications}}</h1>
                    <ul *ngFor="let app of easystudioService.applications">
                        <li id="{{app}}">
                            <span (click)="setApplic(app, applicationChosen);">{{app}}</span>
                        </li>
                    </ul>
                </div>
            </nav>
            <article id="article" *ngIf="applicSelected !== undefined">
                <div class="columsLayout">
                    <h1 class="tit">{{localizationService?.localizedElements?.Modules}}</h1>

                    <ul *ngFor="let mod of easystudioService.modules">
                        <li id="{{mod}}">
                            <span (click)="setModule(mod, moduleChosen)" [ngClass]="{'selected': ifHasToBe(mod)}">{{mod}}</span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>

        <div [ngClass]="{'selected': newPairVisible}">
            <kendo-textbox-container>
                <input kendoTextBox #applicationChosen [(ngModel)]="applicSelected" />
            </kendo-textbox-container>
            <kendo-textbox-container>
                <input kendoTextBox #moduleChosen [(ngModel)]="moduleSelected" />
            </kendo-textbox-container>
            <button kendoButton class="k-buton k-primary k-button-icon" *ngIf="!newPairVisible">
                <m4-icon icon="tb-plusmathfilled" (click)="showNewPair(true)" matTooltip="{{localizationService?.localizedElements?.NewApplicationLabel}}"></m4-icon>
                <!-- <span class="k-icon k-i-plus-circle" (click)="showNewPair(true)"></span> -->
            </button>
            <button kendoButton class="k-buton k-primary k-button-icon" *ngIf="newPairVisible">
                <m4-icon icon="tb-closewindows" (click)="showNewPair(false)" matTooltip="{{localizationService?.localizedElements?.CloseLabel}}"></m4-icon>
                <!-- <span class="k-icon k-i-close-circle k-i-x-circle" (click)="showNewPair(false)"></span> -->
            </button>
            <button kendoButton class="k-buton k-primary k-button-icon" *ngIf="newPairVisible">
                <m4-icon icon="tb-select" (click)="addNewPair(applicationChosen, moduleChosen)" matTooltip="{{localizationService?.localizedElements?.Ok}}"></m4-icon>
                <!-- <span class="k-icon k-i-check-circle k-i-checkmark-circle" (click)="addNewPair(applicationChosen, moduleChosen)"></span>-->
            </button>
        </div>

        <kendo-dialog-actions>
            <button kendoButton (click)="refresh()" primary="true">{{localizationService?.localizedElements?.Refresh}}</button>
            <button kendoButton (click)="ok()" primary="true" [disabled]="!selectionIsValid() || newPairVisible">{{localizationService?.localizedElements?.Ok}}</button>
            <button kendoButton (click)="cancel()">{{localizationService?.localizedElements?.Cancel}}</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>