 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileMini  *ngIf="eventData?.activation?.IDD_TD_OK_CANCEL">
        <tb-radio cmpId="IDC_OKCANCEL_DELETION" width="69" [model]="eventData?.model?.UpdateManagerbDeletion" [caption]="_TB('Deletion')"></tb-radio>
<div class="anchored">        <tb-radio cmpId="IDC_OKCANCEL_CANCELLATION" width="85" [model]="eventData?.model?.UpdateManagerbCancellation" [caption]="_TB('Cancellation')"></tb-radio>
        <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_OKCANCEL_DATE" width="57" [model]="eventData?.model?.UpdateManagerAppDate"></tb-date-input>
</div>       </tb-tile>
       <tb-tile tbTileStandard  hasTitle="False" *ngIf="eventData?.activation?.IDD_TD_OK_DELETE">
        <tb-caption cmpId="IDC_STATIC" width="215" [caption]="_TB('There are other documents related to this one. Confirmation will delete or transfer them too. The list of documents to be deleted or transferred can be edited.')"></tb-caption>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_PD_OK_CANCEL_OK?.enabled" icon="tb-ok" [caption]="_TB('eventData?.model?.UpdateManagerDescOK')" cmpId="ID_PD_OK_CANCEL_OK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button *ngIf="eventData?.activation?.ID_PD_OK_CANCEL_EDIT" [disabled]="!eventData?.buttonsState?.ID_PD_OK_CANCEL_EDIT?.enabled" icon="tb-edit" [caption]="_TB('eventData?.model?.UpdateManagerDescEdit')" cmpId="ID_PD_OK_CANCEL_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_PD_OK_CANCEL_CANCEL?.enabled" icon="tb-escape" [caption]="_TB('eventData?.model?.UpdateManagerDescCancel')" cmpId="ID_PD_OK_CANCEL_CANCEL"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
