<tb-card [isCollapsed]="isCollapsed" class="tb-card" [ngClass]="{'sameHeight': !isCollapsed}">
    <tb-card-title class="tb-card-title" icon='{{icon}}' [ngClass]="{'c-pointer': isCollapsible }" [isCollapsible]="isCollapsible" [isCollapsed]="isCollapsed" (click)="toggleCollapse($event)" 
    *ngIf="title?.length> 0 || isCollapsible"
    [title]="title"></tb-card-title>
    <tb-card-content *ngIf="!isCollapsed" class="tb-card-content">
        <ng-content></ng-content>
    </tb-card-content>
</tb-card>