<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo optional="false" localize="Electronic Invoicing" destinationfolder="TbApps" >
  <Components>
    <Library name="ElectronicInvoicingComponents"		   deploymentpolicy="base"   sourcefolder="Components" 	      aggregatename = "MDCComponents" />
    <Library name="ElectronicInvoicingBatchDocuments"  deploymentpolicy="full"   sourcefolder="BatchDocuments" 		aggregatename = "MDCDocuments" />
  </Components>
</ModuleInfo>
