 <tb-frame tbFinder >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-layoutcontainer tbLayoutTypeHbox >
        <tb-tile [title]="_TB('Document Data')" tbTileMini >
         <tb-text [caption]="_TB('Number')" cmpId="IDC_LOAD_SUPPQUOTA_QUOTATIONNO" width="57" [model]="eventData?.model?.SuppQuotaLoading?.QuotationNo"></tb-text>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Of')" cmpId="IDC_LOAD_SUPPQUOTA_QUOTATIONDATE" width="57" [model]="eventData?.model?.SuppQuotaLoading?.QuotationDate"></tb-date-input>
         <tb-text [caption]="_TB('Supplier Doc.No.')" cmpId="IDC_LOAD_SUPPQUOTA_QUOTATIONNO_SUPPLIER" width="57" [model]="eventData?.model?.SuppQuotaLoading?.SupplierDocNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Customer Data')" tbTileStandard >
         <tb-text [caption]="_TB('Supplier')" cmpId="IDC_LOAD_SUPPQUOTA_SUPPLIER" width="80" [model]="eventData?.model?.SuppQuotaLoading?.Supplier"></tb-text>
         <tb-text [caption]="_TB('Prospective Supplier')" cmpId="IDC_LOAD_SUPPQUOTA_SUPPLIER_QUOTATION" width="80" [model]="eventData?.model?.SuppQuotaLoading?.ProspectiveSupplier"></tb-text>
         <tb-label-static cmpId="IDC_LOAD_SUPPQUOTA_SUPPLIERDESCRI" width="221" [model]="eventData?.model?.SupplierDescri"></tb-label-static>
        </tb-tile>
       </tb-layoutcontainer>
       <tb-tile [title]="_TB('Main Data')" tbTileWide  isCollapsible="True" isCollapsed="True">
<div class="col col1"><div class="anchored">        <tb-label-static [caption]="_TB('Payment')" cmpId="IDC_LOAD_SUPPQUOTA_PYMTTERM" width="53" [model]="eventData?.model?.SuppQuotaLoading?.Payment"></tb-label-static>
        <tb-label-static cmpId="IDC_LOAD_SUPPQUOTA_PYMTTERMDESCRI" width="168" [model]="eventData?.model?.HKLPaymentTerms?.Description"></tb-label-static>
</div><div class="anchored">        <tb-label-static *ngIf="eventData?.activation?.IDC_LOAD_SUPPQUOTA_CURRENCY" [caption]="_TB('Currency')" cmpId="IDC_LOAD_SUPPQUOTA_CURRENCY" width="53" [model]="eventData?.model?.SuppQuotaLoading?.Currency"></tb-label-static>
        <tb-label-static *ngIf="eventData?.activation?.IDC_LOAD_SUPPQUOTA_CURRDESCRIPTION" cmpId="IDC_LOAD_SUPPQUOTA_CURRDESCRIPTION" width="168" [model]="eventData?.model?.HKLCurrencies?.Description"></tb-label-static>
</div></div><div class="col col2">        <tb-date-input formatter="Date" [readonly]="true" [caption]="_TB('Deliver on')" cmpId="IDC_LOAD_SUPPQUOTA_EXPECTEDDELIVERYDATE" width="57" [model]="eventData?.model?.SuppQuotaLoading?.ExpectedDeliveryDate"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Expire on')" cmpId="IDC_LOAD_SUPPQUOTA_VALIDITYTODATE" width="57" [model]="eventData?.model?.SuppQuotaLoading?.ValidityEndingDate"></tb-date-input>
</div>       </tb-tile>
       <tb-tile [title]="_TB('Other Data')" tbTileWide  isCollapsible="True" isCollapsed="True">
<div class="col col1">        <tb-label-static [caption]="_TB('Our Reference')" cmpId="IDC_LOAD_SUPPQUOTA_ANN_OURREF_REF" width="223" [model]="eventData?.model?.SuppQuotaLoading?.OurReference"></tb-label-static>
        <tb-label-static [caption]="_TB('Your Reference')" cmpId="IDC_LOAD_SUPPQUOTA_ANN_YOURSREF_REF" width="223" [model]="eventData?.model?.SuppQuotaLoading?.YourReference"></tb-label-static>
</div><div class="col col2">        <tb-label-static [caption]="_TB('Notes')" cmpId="IDC_LOAD_SUPPQUOTA_ANN_NOTES" width="224" [model]="eventData?.model?.SuppQuotaLoading?.Notes"></tb-label-static>
</div>       </tb-tile>
       <tb-tile [title]="_TB('Detail')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BODY" width="325" [model]="eventData?.model?.SuppQuotaDetailLoading">
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_SELECTED" columnName="Selected" [title]="_TB('Selected')" columnType="tb-checkbox" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_DATAPREVDELIV" columnName="ExpectedDeliveryDate" [title]="_TB('Est. Delivery')" columnType="tb-date-input" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_DATAPREVDELIV">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_LINETYPE" columnName="LineType" [title]="_TB('Line Type')" columnType="tb-enum-combo" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_LINETYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_ITEM" columnName="Item" [title]="_TB('Item')" columnType="tb-text" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_ITEM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_ITM_CODING_SUPP" columnName="SupplierCode" [title]="_TB('Supplier Code')" columnType="tb-label-static" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_ITM_CODING_SUPP">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_COMPLETEDESCRI" columnName="Description" [title]="_TB('Description')" columnType="tb-text" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_COMPLETEDESCRI">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_UOM" columnName="UoM" [title]="_TB('UoM')" columnType="tb-text" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_QTY" columnName="QtyToReceipt" [title]="_TB('Qty to Fulfill')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_QTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_VAL_UNIT" columnName="UnitValue" [title]="_TB('Unit Value')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_VAL_UNIT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_TOT_TAXABLEAMOUNT" columnName="TaxableAmount" [title]="_TB('Taxable Amount')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_TOT_TAXABLEAMOUNT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_DISCOUNT" columnName="DiscountFormula" [title]="_TB('Discount')" columnType="tb-text" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_DISCOUNT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_TAXCODE" columnName="TaxCode" [title]="_TB('Tax Code')" columnType="tb-text" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_TAXCODE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_NOTPRINT" columnName="NoPrint" [title]="_TB('No Print')" columnType="tb-bool-edit" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_NOTPRINT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_SUPPQUOTA_DETAIL_BE_NOTINORDER" columnName="NoCopyOnOrder" [title]="_TB('No Order')" columnType="tb-bool-edit" columnName="IDC_LOAD_SUPPQUOTA_DETAIL_BE_NOTINORDER">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Totals')" tbTileWide >
<div class="col col1">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Goods Total')" cmpId="IDC_LOAD_SUPPQUOTA_CCO_TOT_GOODS" width="68" [model]="eventData?.model?.SuppQuotaSummaryLoading?.GoodsAmount"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Services Total')" cmpId="IDC_LOAD_SUPPQUOTA_CCO_TOT_SERVICEAMOUNTS" width="68" [model]="eventData?.model?.SuppQuotaSummaryLoading?.ServiceAmounts"></tb-numeric-text-box>
</div><div class="col col2">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Discount Total')" cmpId="IDC_LOAD_SUPPQUOTA_CCO_TOT_GEN_DISCOUNTS" width="68" [model]="eventData?.model?.SuppQuotaSummaryLoading?.GeneralDiscountTot"></tb-numeric-text-box>
<div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Total to Be Paid')" cmpId="IDC_LOAD_SUPPQUOTA_CCO_TOT_FROM_PAY" width="68" [model]="eventData?.model?.SuppQuotaSummaryLoading?.PayableAmount"></tb-numeric-text-box>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_LOAD_SUPPQUOTA_CCO_PAYABLEAMOUNTINBASECURR_CURRENCY_BASE" formatter="Money" disabled="true" [caption]="_TB('In Base Currency')" cmpId="IDC_LOAD_SUPPQUOTA_CCO_PAYABLEAMOUNTINBASECURR_CURRENCY_BASE" width="68" [model]="eventData?.model?.SuppQuotaSummaryLoading?.PayableAmountInBaseCurr"></tb-numeric-text-box>
</div></div>        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FINDER_STAYALIVE?.enabled" icon="framework.tbframeworkimages.images.25x25.pin.png" [caption]="_TB('Fix')" cmpId="ID_FINDER_STAYALIVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SWITCHTO?.enabled" icon="tb-switchto" [caption]="_TB('Switch to...')" cmpId="ID_EXTDOC_SWITCHTO"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Finish')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_LOAD_SUPPQUOTA_OPEN_DOC?.enabled" icon="tb-open" [caption]="_TB('Open Document')" cmpId="ID_LOAD_SUPPQUOTA_OPEN_DOC"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
