<div class="sidenav-header">
    <md-icon id="close-sidebar" (click)="closeSidenav()">menu</md-icon>

    <div class="sidenav-title">
        <h1>{{appName}}</h1>
        <h2>{{companyName}}</h2>
    </div>
</div>

<div class="application-selector">
    <div class="sidenav-subtitle">menu</div>

    <ul class="application-selector-list">
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
    </ul>
</div>

<div class="bookmarks">
    <div class="sidenav-subtitle">bookmarks</div>

    <ul class="bookmarks-list">
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
        <li>
            <md-icon>home</md-icon><span>Application</span></li>
    </ul>
</div>