:host(tb-card-title) {
    position: relative;
    font-weight: 500;
    color: #0277bd;
    font-size: 14px;
    margin-bottom: 8px;
    div {
        display: flex;
        flex-wrap: nowrap;
        flex-basis: row;
        span {
            flex: 2 0 0%;
            align-self: flex-start;
        }
        m4-icon {
            align-self: flex-end;
            margin-right: 6px;
        }
    }
}