tb-card-title {
    position: relative;
    font-weight: 700;
    color: #000;
    font-size: 14px;
    div {
        display: flex;
        flex-wrap: nowrap;
        flex-basis: row;
        margin-bottom: 8px;
        span {
            flex: 2 0 0%;
            align-self: flex-start;
        }
        m4-icon {
            align-self: flex-end;
            margin-right: 6px;
        }
    }
}