.toolbar-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 30px;
}

.icon-type md-icon {
    line-height: 30px;
    margin: 0 10px 0 3px;
}

.title {
    flex-grow: 2;
    display: flex;
}

.navigation {
    display: flex;
}

.document-title {
    font-size: 14px;
    line-height: 32px;
    margin: 0 5px;
    font-weight: 700;
    font-size: 14px;
}