body {
    overflow-y: hidden;
}

.snapshotToolbarTop{
    display: flex;
    flex: 1 1 auto;
    line-height: 44px;
    margin: 0 10px;
    font-weight: 500;
    font-size: 16px;
}

#snapshot{
    //font-weight: bold;
    font-size: large;
    margin-right: auto;
    color:  #fff;
}

#firstButton{
    margin-left: auto;
}

#rsLayout {
    width: 100%;
}

.buttons{
    display: flex;
    width: 100%;
}