<tb-frame>
    <iframe id="iframe" style="display:none;"></iframe>
    <tb-toolbar-top>

        <tb-toolbar-top-button icon="tb-find" caption="Search"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="tb-first" caption="First" (click)="FirstPage()" *ngIf="rsService.running"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="tb-prev" caption="Previous Page" (click)="PrevPage()" *ngIf="rsService.running"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="tb-next" caption="Next Page" (click)="NextPage()" *ngIf="rsService.running"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="tb-last" caption="Last" (click)="LastPage()" *ngIf="rsService.running"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="tb-startreport" caption="Run Report" (click)="RunReport()" *ngIf="!rsService.running"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="tb-stopreport" caption="Stop Report" (click)="StopReport()" *ngIf="rsService.running"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="tb-rerun" caption="ReRun" (click)="ReRunReport()"></tb-toolbar-top-button>
    </tb-toolbar-top>
    <tb-frame-content>
        <tb-view-container>
            <tb-view>
                <rs-askdialog *ngIf="rsService.showAsk" [ask]="askDialogTemplate"></rs-askdialog>
                <div id="rsLayout" #rsLayout>
                    <rs-layout [reportTemplate]="reportTemplate" [reportData]="reportData"></rs-layout>
                </div>
            </tb-view>
        </tb-view-container>
    </tb-frame-content>
    <tb-toolbar-bottom>

        <tb-toolbar-bottom-button caption="Export as PNG" (click)="startSavePNG()"></tb-toolbar-bottom-button>
        <tb-toolbar-bottom-button caption="Export as SVG" (click)="startSaveSVG()"></tb-toolbar-bottom-button>
        <tb-toolbar-bottom-button caption="Export as PDF" (click)="setExportFile(rsService.pdf)"></tb-toolbar-bottom-button>
        <tb-toolbar-bottom-button caption="Export as Excel" (click)="setExportFile(rsService.excel)"></tb-toolbar-bottom-button>

        <rs-exportdialog *ngIf="rsService.exportfile"> </rs-exportdialog>

    </tb-toolbar-bottom>
</tb-frame>