 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" showAsTile="True">
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('BOM')" tbTileMini >
          <tb-radio cmpId="IDC_COSTING_SLIPS_RADIO_NONE" width="31" [model]="eventData?.model?.bBOMSelNone" [caption]="_TB('None')"></tb-radio>
          <tb-radio cmpId="IDC_COSTING_SLIPS_RADIO_EVERYONE" width="35" [model]="eventData?.model?.bBOMSelAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">          <tb-radio cmpId="IDC_COSTING_SLIPS_RADIO_SEL" width="31" [model]="eventData?.model?.bBOMSel" [caption]="_TB('From')"></tb-radio>
          <tb-text cmpId="IDC_COSTING_FROM_BOM" width="122" [model]="eventData?.model?.FromBOM"></tb-text>
</div>          <tb-text [caption]="_TB('To')" cmpId="IDC_COSTING_A_BOM" width="122" [model]="eventData?.model?.ToBOM"></tb-text>
         </tb-tile>
         <tb-tile [title]="_TB('Alternate')" tbTileMini  *ngIf="eventData?.activation?.IDD_BOMCOST_TD_SEL_ALT">
          <tb-radio cmpId="IDC_COSTING_DATE_RADIO_PREF" width="66" [model]="eventData?.model?.bPreferredSel" [caption]="_TB('Preferred')"></tb-radio>
<div class="anchored">          <tb-radio cmpId="IDC_COSTING_DATE_RADIO_ALT" width="8" [model]="eventData?.model?.bAlternateSel"></tb-radio>
          <tb-text cmpId="IDC_COSTING_ALT_RTGSTEPS" width="60" [model]="eventData?.model?.Alternate"></tb-text>
</div>          <tb-checkbox cmpId="IDC_COSTING_ONLYEXACT_ALT" width="91" [model]="eventData?.model?.bOnlyExactMatchAlt" [caption]="_TB('Only exact match')"></tb-checkbox>
         </tb-tile>
         <tb-tile [title]="_TB('Item Variants')" tbTileMini  *ngIf="eventData?.activation?.IDD_BOMCOST_TD_SEL_ITEMVARIANT">
          <tb-radio cmpId="IDC_COSTING_ITEMS_RADIO_NONE" width="35" [model]="eventData?.model?.bNotExplodeItemVariant" [caption]="_TB('None')"></tb-radio>
          <tb-radio cmpId="IDC_COSTING_ITEMS_RADIO_ALL" width="35" [model]="eventData?.model?.bAllVariantItems" [caption]="_TB('All ')"></tb-radio>
<div class="anchored">          <tb-radio cmpId="IDC_COSTING_ITEMS_RADIO_SEL" width="35" [model]="eventData?.model?.bItemVariantSel" [caption]="_TB('From')"></tb-radio>
          <tb-text cmpId="IDC_COSTING_FROM_ITEM" width="121" [model]="eventData?.model?.FromItem"></tb-text>
</div>          <tb-text [caption]="_TB('To')" cmpId="IDC_COSTING_A_ITEM" width="121" [model]="eventData?.model?.ToItem"></tb-text>
         </tb-tile>
         <tb-tile [title]="_TB('Variants')" tbTileMini  *ngIf="eventData?.activation?.IDD_BOMCOST_TD_SEL_VARIANTS">
          <tb-radio cmpId="IDC_COSTING_VARIANTS_RADIO_NONE" width="28" [model]="eventData?.model?.bNotExplodeVariant" [caption]="_TB('None')"></tb-radio>
          <tb-radio cmpId="IDC_COSTING_VARIANTS_SEL_RADIO_EVERYONE" width="28" [model]="eventData?.model?.bAllVariants" [caption]="_TB('All')"></tb-radio>
<div class="anchored">          <tb-radio cmpId="IDC_COSTING_VARIANTS_SEL_RADIO_SEL" width="28" [model]="eventData?.model?.bVariantSel" [caption]="_TB('From')"></tb-radio>
          <tb-text cmpId="IDC_COSTING_FROM_VARIANT" width="122" [model]="eventData?.model?.FromVariant"></tb-text>
</div>          <tb-text [caption]="_TB('To')" cmpId="IDC_COSTING_A_VARIANT" width="122" [model]="eventData?.model?.ToVariant"></tb-text>
         </tb-tile>
         <tb-tile [title]="_TB('ECO')" tbTileMini  *ngIf="eventData?.activation?.IDD_BOMCOST_TD_SEL_ECO">
          <tb-checkbox cmpId="IDC_COSTING_ECO_APPLY" width="133" [model]="eventData?.model?.bApplyECO" [caption]="_TB('Apply back all ECO after:')"></tb-checkbox>
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('ECO Date')" cmpId="IDC_COSTING_ECO_DATE" width="57" [model]="eventData?.model?.ECODate"></tb-date-input>
          <tb-combo [caption]="_TB('ECO Revision')" cmpId="IDC_COSTING_ECO_REVISION" width="62" [model]="eventData?.model?.ECORevision"></tb-combo>
         </tb-tile>
         <tb-tile [title]="_TB('Levels')" tbTileMini >
          <tb-radio cmpId="IDC_COSTING_LEVELS_RADIO_ALL" width="74" [model]="eventData?.model?.bLevelSelAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">          <tb-radio cmpId="IDC_COSTING_LEVELS_RADIO_SEL" width="8" [model]="eventData?.model?.bLevelSel"></tb-radio>
          <tb-numeric-text-box cmpId="IDC_COSTING_NO_LEVELS" width="68" [model]="eventData?.model?.NrLevels"></tb-numeric-text-box>
</div>         </tb-tile>
         <tb-tile [title]="_TB('Quantity')" tbTileMini >
          <tb-checkbox cmpId="IDC_COSTING_ENABLE_LOT" width="150" [model]="eventData?.model?.EnableLot" [caption]="_TB('Costify 1 quantity and consider the Reordering Lot')"></tb-checkbox>
          <tb-numeric-text-box formatter="Integer" [caption]="_TB('Quantity to Cost')" cmpId="IDC_COSTING_QTY_TO_COST" width="46" [model]="eventData?.model?.QuantityToCost"></tb-numeric-text-box>
         </tb-tile>
         <tb-tile [title]="_TB('Round')" tbTileMini >
          <tb-numeric-text-box formatter="Money" [caption]="_TB('To')" cmpId="IDC_COSTING_ROUNDING" width="46" [model]="eventData?.model?.RoundingValue"></tb-numeric-text-box>
          <tb-checkbox cmpId="IDC_COSTING_ROUND_COMPONENTS" width="148" [model]="eventData?.model?.bCompRounding" [caption]="_TB('Round Up Single
Components Cost')"></tb-checkbox>
         </tb-tile>
         <tb-tile [title]="_TB('Validity Date')" tbTileMini >
          <tb-radio cmpId="IDC_COSTING_COMP_ALL_DATE" width="74" [model]="eventData?.model?.bDateSelAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">          <tb-radio cmpId="IDC_COSTING_COMP_SEL_DATE" width="8" [model]="eventData?.model?.bOnlyValidComponentsCosting"></tb-radio>
          <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_COSTING_COMP_DATE" width="68" [model]="eventData?.model?.Date"></tb-date-input>
</div>         </tb-tile>
         <tb-tile [title]="_TB('Valuation Criteria')" tbTileMini >
          <tb-radio cmpId="IDC_COSTING_RADIO_VALUATION_PARAMETERS" width="93" [model]="eventData?.model?.bProdParamValueType" [caption]="_TB('BOM Parameters')"></tb-radio>
          <tb-radio cmpId="IDC_COSTING_RADIO_VALUATION_DEFAULT" width="93" [model]="eventData?.model?.bDefaultComponentValueType" [caption]="_TB('Component Defaults')"></tb-radio>
<div class="anchored">          <tb-radio cmpId="IDC_COSTING_RADIO_VALUATION_SPECIFIED" width="8" [model]="eventData?.model?.bSpecificValueType"></tb-radio>
          <tb-enum-combo cmpId="IDC_COSTING_COMBO_VALUATION" width="81" [model]="eventData?.model?.ValueType" [itemSource]="IDC_COSTING_COMBO_VALUATION_itemSource"></tb-enum-combo>
          <tb-checkbox cmpId="IDC_COSTING_VAL_BY_LOT" width="50" [model]="eventData?.model?.bEvaluateByLot" [caption]="_TB('By Lot')"></tb-checkbox>
</div><div class="anchored">          <tb-enum-combo cmpId="IDC_COSTING_COMBO_VALUATION" width="81" [model]="eventData?.model?.ValueType" [itemSource]="IDC_COSTING_COMBO_VALUATION_itemSource"></tb-enum-combo>
          <tb-checkbox cmpId="IDC_COSTING_VAL_BY_LOT" width="50" [model]="eventData?.model?.bEvaluateByLot" [caption]="_TB('By Lot')"></tb-checkbox>
</div>         </tb-tile>
         <tb-tile [title]="_TB('Options')" tbTileMini >
          <tb-checkbox cmpId="IDC_COSTING_SHOW_RESULT_GRID" width="131" [model]="eventData?.model?.ShowResultGrid" [caption]="_TB('Show Result Grid')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COSTING_CONSIDER_SFORATI" width="147" [model]="eventData?.model?.bAlsoSemifinished" [caption]="_TB('Consider Also Production intermediates in Extracted BOMs or in BOMs to be Selected')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COSTING_ALSO_FANT" width="145" [model]="eventData?.model?.bAlsoPhantomBOM" [caption]="_TB('Cost Phantom Bills')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COSTING_EXPLODE_ALL" width="137" [model]="eventData?.model?.ExplodeAll" [caption]="_TB('Explode all')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_COSTING_ALSO_DISABLED_BOM" width="132" [model]="eventData?.model?.bAlsoDisabledBOM" [caption]="_TB('Also Disabled BOM')"></tb-checkbox>
         </tb-tile>
         <tb-tile [title]="_TB('Simulation')" tbTileMini  *ngIf="eventData?.activation?.IDD_BOMCOST_TD_SEL_SIMULATION">
          <tb-text [caption]="_TB('Simulation')" cmpId="IDC_COSTING_SIMULATION_COST_CODE" width="78" [model]="eventData?.model?.SimulationBOMCost"></tb-text>
          <tb-checkbox cmpId="IDC_COSTING_MEM_RECALCULATE" width="96" [model]="eventData?.model?.bRecalculate" [caption]="_TB('Recalculate simulation')"></tb-checkbox>
         </tb-tile>
        </tb-layoutcontainer>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileStandard  isCollapsible="True" isCollapsed="False">
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="325" [model]="eventData?.model?.BOMCosting">
         <tb-body-edit-column cmpId="IDC_COSTING_DETAIL_BE_TYPE" width="160" columnName="Bmp" [title]="_TB('Type')" columnType="tb-image" columnName="IDC_COSTING_DETAIL_BE_TYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_RESULTS_SELECT" width="40" columnName="Selected" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_COSTING_RESULTS_SELECT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_RESULTS_PRODUCT" width="160" columnName="BreakingItem" [title]="_TB('Product')" columnType="tb-label-static" columnName="IDC_COSTING_RESULTS_PRODUCT" *ngIf="eventData?.activation?.IDC_COSTING_RESULTS_PRODUCT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_RESULTS_DESCRI_PRODUCT" width="210" columnName="ProductDes" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_COSTING_RESULTS_DESCRI_PRODUCT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_RESULTS_VARIANT" width="160" columnName="BreakingVariant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_COSTING_RESULTS_VARIANT" *ngIf="eventData?.activation?.IDC_COSTING_RESULTS_VARIANT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_RESULTS_BOM" width="160" columnName="BreakingBOM" [title]="_TB('BOM')" columnType="tb-label-static" columnName="IDC_COSTING_RESULTS_BOM" *ngIf="eventData?.activation?.IDC_COSTING_RESULTS_BOM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_RESULTS_CODETYPE_BOM" width="160" columnName="CodeType" [title]="_TB('Type')" columnType="tb-enum-combo" columnName="IDC_COSTING_RESULTS_CODETYPE_BOM" *ngIf="eventData?.activation?.IDC_COSTING_RESULTS_CODETYPE_BOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_COSTING_RESULTS_COST" columnName="Cost" [title]="_TB('Production Cost')" columnType="tb-numeric-text-box" columnName="IDC_COSTING_RESULTS_COST">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_COSTING_RESULTS_COST_PURCHASE" width="160" columnName="PurchaseCost" [title]="_TB('Materials Cost')" columnType="tb-numeric-text-box" columnName="IDC_COSTING_RESULTS_COST_PURCHASE" *ngIf="eventData?.activation?.IDC_COSTING_RESULTS_COST_PURCHASE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_COSTING_RESULTS_COST_SETUP" width="170" columnName="SetupCost" [title]="_TB('Setup Cost')" columnType="tb-numeric-text-box" columnName="IDC_COSTING_RESULTS_COST_SETUP" *ngIf="eventData?.activation?.IDC_COSTING_RESULTS_COST_SETUP">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_COSTING_RESULTS_COST_PROCESSINT" width="170" columnName="InhouseProcessingCost" [title]="_TB('Inhouse Process. Cost')" columnType="tb-numeric-text-box" columnName="IDC_COSTING_RESULTS_COST_PROCESSINT" *ngIf="eventData?.activation?.IDC_COSTING_RESULTS_COST_PROCESSINT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_COSTING_RESULTS_COST_PROCESSOUTSRC" width="190" columnName="OutsourcedProcessingCost" [title]="_TB('Outsourced Process. Cost')" columnType="tb-numeric-text-box" columnName="IDC_COSTING_RESULTS_COST_PROCESSOUTSRC" *ngIf="eventData?.activation?.IDC_COSTING_RESULTS_COST_PROCESSOUTSRC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_RESULTS_UPDATED" width="100" columnName="Updated" [title]="_TB('Updated')" columnType="tb-checkbox" columnName="IDC_COSTING_RESULTS_UPDATED" *ngIf="eventData?.activation?.IDC_COSTING_RESULTS_UPDATED">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
       <tb-tile [title]="_TB('Cost Details')" tbTileStandard  isCollapsible="True" isCollapsed="True" *ngIf="eventData?.activation?.IDD_COSTING_DETAIL">
        <tb-body-edit cmpId="IDC_COSTING_BE_DETAIL" width="327" [model]="eventData?.model?.BOMCostingDetail">
         <tb-body-edit-column cmpId="IDC_COSTING_DETAIL_BE_TYPE" columnName="l_Bmp" [title]="_TB('Type')" columnType="tb-image" columnName="IDC_COSTING_DETAIL_BE_TYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_DETAIL_BE_PRODUCT" columnName="BOM" [title]="_TB('BOM')" columnType="tb-label-static" columnName="IDC_COSTING_DETAIL_BE_PRODUCT" *ngIf="eventData?.activation?.IDC_COSTING_DETAIL_BE_PRODUCT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_DETAIL_BE_VARIANT" columnName="BOMVariant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_COSTING_DETAIL_BE_VARIANT" *ngIf="eventData?.activation?.IDC_COSTING_DETAIL_BE_VARIANT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_DETAIL_BE_DESCRI" columnName="ProductDes" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_COSTING_DETAIL_BE_DESCRI">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_DETAIL_BE_COMPONENT" columnName="Component" [title]="_TB('Component
Step')" columnType="tb-label-static" columnName="IDC_COSTING_DETAIL_BE_COMPONENT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_DETAIL_BE_COMP_VARIANT" columnName="ComponentVariant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_COSTING_DETAIL_BE_COMP_VARIANT" *ngIf="eventData?.activation?.IDC_COSTING_DETAIL_BE_COMP_VARIANT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_COSTING_DETAIL_BE_COMP_DESCRI" columnName="ComponentDescription" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_COSTING_DETAIL_BE_COMP_DESCRI">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_COSTING_DETAIL_BE_PURCHASE" columnName="PurchaseCost" [title]="_TB('Materials
Cost')" columnType="tb-numeric-text-box" columnName="IDC_COSTING_DETAIL_BE_PURCHASE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_COSTING_DETAIL_BE_SETUP" columnName="SetupCost" [title]="_TB('Setup
Cost')" columnType="tb-numeric-text-box" columnName="IDC_COSTING_DETAIL_BE_SETUP" *ngIf="eventData?.activation?.IDC_COSTING_DETAIL_BE_SETUP">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_COSTING_DETAIL_BE_PROCESSINT" columnName="InhouseProcessingCost" [title]="_TB('Inhouse
Process. Cost')" columnType="tb-numeric-text-box" columnName="IDC_COSTING_DETAIL_BE_PROCESSINT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_COSTING_DETAIL_BE_PROCESSOUTSRC" columnName="OutsourcedProcessingCost" [title]="_TB('Outsourced
Process. Cost')" columnType="tb-numeric-text-box" columnName="IDC_COSTING_DETAIL_BE_PROCESSOUTSRC" *ngIf="eventData?.activation?.IDC_COSTING_DETAIL_BE_PROCESSOUTSRC">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile [title]="_TB('Calculate Costs')" tbTileStandard  hasTitle="True">
         <tb-checkbox cmpId="IDC_COSTING_MEM_COST_STD" width="120" [model]="eventData?.model?.bStdCostMemo" [caption]="_TB('Store as Standard Cost')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_COSTING_MEM_COST_PROD" cmpId="IDC_COSTING_MEM_COST_PROD" width="134" [model]="eventData?.model?.bProdCostMemo" [caption]="_TB('Store as Manufacturing Cost')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
