<div class="container">
  <h2 class="componentTitle">Subscription {{model.SubscriptionKey}} / External Source {{model.Source}}</h2>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile half-tile">
        Main Data
        <div>
          <admin-input-text [inputLabel]="'Source'" [textType]="'text'" [readOnly]=editing [(inputData)]="model.Source"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'Description'" [textType]="'text'" [(inputData)]="model.Description"></admin-input-text>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile half-tile">
        Status
        <div>
          <admin-checkbox [checkText]="'Disabled'" [checkId]="'chkDisabled'" [(checkValue)]="model.Disabled" (inputDataChange)="model.Disabled = $event"></admin-checkbox>
        </div>
        <div>
          <admin-checkbox [checkText]="'Under maintenance'" [checkId]="'chkUnderMaintenance'" [(checkValue)]="model.UnderMaintenance"
            (inputDataChange)="model.UnderMaintenance = $event"></admin-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        Connection information
        <div>
          <admin-input-text [inputLabel]="'Provider'" [textType]="'text'" [(inputData)]="model.Provider"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'Server'" [textType]="'text'" [(inputData)]="model.Server"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'Database'" [textType]="'text'" [(inputData)]="model.DBName"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'User'" [textType]="'text'" [(inputData)]="model.UserId"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'Password'" [textType]="'password'" [(inputData)]="model.Password"></admin-input-text>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        Additional information
        <div>
          <admin-textarea [inputLabel]="''" [(inputData)]="model.AdditionalInfo"></admin-textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row center-xs end-sm end-lg">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <admin-button [primary]=true [buttonText]="'Save'" (click)="submitExternalSource()"></admin-button>
    </div>
  </div>
</div>