<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo optional="false" localize="FATEL" destinationfolder="TbApps" >
  <Components>
    <Library name="FATELDbl" 		                    deploymentpolicy="base"   sourcefolder="Dbl" 			                  aggregatename = "MDCDbl" />
    <Library name="FATELComponents" 		            deploymentpolicy="base"   sourcefolder="Components" 			          aggregatename = "MDCComponents" />
    <Library name="FATELDocuments"                  deploymentpolicy="full"   sourcefolder="Documents" 	                aggregatename = "MDCDocuments" />
    <Library name="FATELServices"                   deploymentpolicy="full"   sourcefolder="Services" 	                aggregatename = "MDCDocuments" />
    <Library name="FATELAddOnsElectronicInvoicing"  deploymentpolicy="addon"  sourcefolder="AddOnsElectronicInvoicing"  aggregatename = "MDCDocuments" />
  </Components>
</ModuleInfo>