<tb-frame>
    <tb-toolbar-top class="menu-toolbar">
        <div class="toolbar-icon">
            <a (click)="toggleSelector()" class="collapser">
                <m4-icon icon="tb-menu" [title]="selectorCollapsed === 'collapsed' ? _TB('Expand Menu Selector') : _TB('Collapse Menu Selector')"></m4-icon>
            </a>
        </div>
    </tb-toolbar-top>
    <tb-frame-content>

        <div class="menu-selector" [ngClass]="{'collapsed': selectorCollapsed === 'collapsed'}" [@collapsing]="selectorCollapsed">

            <kendo-panelbar [expandMode]="single">
                <kendo-panelbar-item *ngFor="let application of menuService?.allMenus" (click)="selectApplication(application)" title="" [expanded]="application === menuService.selectedApplication" [class.selected-application]="application === menuService.selectedApplication">
                    <ng-template kendoPanelBarItemTitle>
                        <img [src]="imageService.getApplicationIcon(application)" [title]="selectorCollapsed === 'collapsed' ? application?.title : ''" />
                        <span>{{application.title}}</span>
                    </ng-template>
                    <kendo-panelbar-item *ngFor="let group of application.Group" (click)=selectGroup(group) title="" [selected]="group === menuService.selectedGroup" [class.selected-group]="group === menuService.selectedGroup">
                        <ng-template kendoPanelBarItemTitle>
                            <m4-icon [icon]="group?.icon ? group?.icon : 'tb-mago4'" *ngIf="group?.icon != undefined || group?.image_file == undefined" [title]="selectorCollapsed === 'collapsed' ? group?.title : ''"></m4-icon>
                            <img [src]="imageService.getStaticImage(group)" *ngIf="group?.icon == undefined && group?.image_file != undefined" [title]="selectorCollapsed === 'collapsed' ? group?.title : ''" />
                            <span>{{group?.title}}</span>
                        </ng-template>
                    </kendo-panelbar-item>
                </kendo-panelbar-item>
            </kendo-panelbar>

        </div>

        <div class="menu-page" #menuContent>
            <kendo-tabstrip #tabber (tabSelect)="changeTabByIndex($event)" [height]="31">
                <kendo-tabstrip-tab [title]="menuTab?.title" *ngFor="let menuTab of menuService?.selectedGroup?.Menu">
                    <ng-template kendoTabContent>
                        <div class="wrap">
                            <tb-header-strip [title]="menuService?.selectedMenu?.title">

                                <div class="header-strip-content">
                                    <div #hiddenTilesAnchor (click)="toggleHiddenTilesPopup()">
                                        <m4-icon icon="tb-hide"></m4-icon>
                                    </div>
                                    <kendo-popup class="hidden-tiles-popup" [anchor]="hiddenTilesAnchor" (anchorViewportLeave)="showHiddenTilesPopup = false" *ngIf="showHiddenTilesPopup">
                                        <div class="hidden-tiles-popup-content">

                                            <tb-hidden-tiles></tb-hidden-tiles>
                                        </div>
                                    </kendo-popup>
                                </div>

                                <div class="header-strip-under">
                                    <tb-menu-stepper [Menu]="menuService.allMenus"></tb-menu-stepper>
                                </div>

                            </tb-header-strip>

                            <div class="menu-container row" *ngIf="menuService.selectedMenu != undefined">
                                <!-- <tb-menu-content *ngFor="let tile of tiles" [menu]="menuTab" [tile]="tile" class="col-xs-12 col-sm-12 col-md-6 col-lg-4" [ngClass]="{'col-xl-3': tiles.length > 3, 'col-xl-4': tiles.length < 4}"></tb-menu-content> -->
                                <tb-menu-content *ngFor="let tile of tiles" [menu]="menuTab" [tile]="tile" [ngClass]="tileClass"></tb-menu-content>
                            </div>

                            <div class="menu-container row" *ngIf="menuService?.selectedMenu?.Object">
                                bbb
                                <tb-menu-content [canHide]="false" [menu]="menuTab" [tile]="menuService.selectedMenu" class="col-xs-12 col-sm-12 col-md-6 col-lg-4" [ngClass]="{'col-xl-3': tiles.length > 3, 'col-xl-4': tiles.length < 4}">
                                </tb-menu-content>
                            </div>


                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>
        </div>

    </tb-frame-content>
</tb-frame>