<tb-frame>
    <tb-toolbar-top class="menu-toolbar"></tb-toolbar-top>
    <tb-frame-content>
        <div class="menu-page">
            <kendo-tabstrip #tabber (tabSelect)="changeTabByIndex($event)" [height]="31">
                <kendo-tabstrip-tab [title]="menuTab?.title" *ngFor="let menuTab of menuService?.selectedGroup?.Menu">
                    <ng-template kendoTabContent>
                        <div class="wrap">
                            <tb-header-strip [title]="menuService?.selectedMenu?.title">

                                <!-- <div class="header-strip-content">
                                    <button class="show-description" title="Show Descriptions" kendoButton (click)="menuService?.toggleDecription()" [bare]="!menuService?.showDescription" [primary]="menuService?.showDescription">
                                        <m4-icon icon="tb-subject"></m4-icon></button>
                                </div> -->

                                <div class="header-strip-under">
                                    <tb-menu-stepper [Menu]="menuService.allMenus"></tb-menu-stepper>
                                </div>

                            </tb-header-strip>

                            <div class="menu-container row" *ngIf="menuService.selectedMenu != undefined">

                                <tb-menu-content *ngFor="let tile of tiles" [tile]="tile" class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
                                    [ngClass]="{'col-xl-3': tiles.length > 3, 'col-xl-4': tiles.length < 4}">
                                </tb-menu-content>
                            </div>

                            <div class="menu-container row" *ngIf="menuService?.selectedMenu?.Object">

                                <tb-menu-content  [tile]="menuService.selectedMenu" class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
                                    [ngClass]="{'col-xl-3': tiles.length > 3, 'col-xl-4': tiles.length < 4}">
                                </tb-menu-content>
                            </div>


                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>
        </div>

    </tb-frame-content>
</tb-frame>