 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Select data for Closing and Opening')" showAsTile="True">
        <tb-tile [title]="_TB('Offsets Close')" tbTileStandard >
<div class="anchored">         <tb-label-static [caption]="_TB('Closing Balance')" cmpId="IDC_PLCLOSING_BALANCE_PLCLOSURE" width="76" [model]="eventData?.model?.ClosingBalance"></tb-label-static>
         <tb-label-static cmpId="IDC_PLCLOSING_DESCRIBALANCECLOSURE" width="146" [model]="eventData?.model?.ClosingBalDescription"></tb-label-static>
</div><div class="anchored">         <tb-label-static [caption]="_TB('Operating Profit')" cmpId="IDC_PLCLOSING_PROFITS" width="76" [model]="eventData?.model?.FiscalYearProfit"></tb-label-static>
         <tb-label-static cmpId="IDC_PLCLOSING_DESCRIPROFIT_PL" width="146" [model]="eventData?.model?.YearProfitDescri"></tb-label-static>
</div><div class="anchored">         <tb-label-static [caption]="_TB('Operating Loss')" cmpId="IDC_PLCLOSING_LOSS_PL" width="76" [model]="eventData?.model?.FiscalYearLoss"></tb-label-static>
         <tb-label-static cmpId="IDC_PLCLOSING_DESCRILOSS_PL" width="146" [model]="eventData?.model?.YearLossDescri"></tb-label-static>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Offsets Open')" tbTileStandard >
<div class="anchored">         <tb-label-static [caption]="_TB('Opening Balance')" cmpId="IDC_PLCLOSING_BALANCE_PLOPEN" width="50" [model]="eventData?.model?.OpeningBalance"></tb-label-static>
         <tb-label-static cmpId="IDC_PLCLOSING_DESCRIBALANCEOPEN" width="120" [model]="eventData?.model?.OpenBalDescription"></tb-label-static>
</div><div class="anchored">         <tb-label-static [caption]="_TB('Previous Operating Profit')" cmpId="IDC_PLCLOSING_PROFITSPREV" width="50" [model]="eventData?.model?.PrevFiscalYearProfit"></tb-label-static>
         <tb-label-static cmpId="IDC_PLCLOSING_DESCRIPROFIT_PLPREV" width="120" [model]="eventData?.model?.PrevYearProfitDescri"></tb-label-static>
</div><div class="anchored">         <tb-label-static [caption]="_TB('Previous Operating Loss')" cmpId="IDC_PLCLOSING_LOSS_PLPREV" width="50" [model]="eventData?.model?.PrevFiscalYearLoss"></tb-label-static>
         <tb-label-static cmpId="IDC_PLCLOSING_DESCRILOSS_PLPREV" width="120" [model]="eventData?.model?.PrevYearLossDescri"></tb-label-static>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Closing')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Posting Date')" cmpId="IDC_PLCLOSING_POSTDATE_PL" width="57" [model]="eventData?.model?.PostDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Accrual Date')" cmpId="IDC_PLCLOSING_ACCRUALDATE_PL" width="57" [model]="eventData?.model?.AccrualDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Opening')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Posting Date')" cmpId="IDC_PLCLOSING_OPENINGPOSTINGDATE" width="57" [model]="eventData?.model?.OpeningPostingDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Accrual Date')" cmpId="IDC_PLCLOSING_ACCRUALDATE_PLAP" width="57" [model]="eventData?.model?.OpeningAccrualDate"></tb-date-input>
         <tb-checkbox cmpId="IDC_PLCLOSING_GC_RESULT" width="136" [model]="eventData?.model?.ResultTransfer" [caption]="_TB('Transfer to Previous Profit/Loss')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Accounting Inventory Book')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_DEFCLOSING_ACCBOOK">
         <tb-checkbox cmpId="IDC_PLCLOSING_BRING_ACCBOOKATTACH" width="116" [model]="eventData?.model?.bAccBookAttach" [caption]="_TB('Attachments')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Tax')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_DEFCLOSING_TAX">
         <tb-checkbox *ngIf="eventData?.activation?.IDC_PLCLOSING_BRING_DATATAX" cmpId="IDC_PLCLOSING_BRING_DATATAX" width="145" [model]="eventData?.model?.TaxData" [caption]="_TB('Pro-rata Tax Percentage')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_PLCLOSING_BRING_DATADECL_TAX" cmpId="IDC_PLCLOSING_BRING_DATADECL_TAX" width="145" [model]="eventData?.model?.TaxDeclData" [caption]="_TB('Tax Declaration Data')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileStandard  isCollapsible="False" isCollapsed="False">
        <tb-caption cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS" width="587" [model]="eventData?.model?.nCurrentElement"></tb-caption>
        <tb-label-static cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS_STATIC" width="587" [model]="eventData?.model?.GaugeDescription"></tb-label-static>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
