<tb-control-container type="tb-addressedit" [model]="model">
    <tb-caption [captionWidth]="captionWidth" caption="{{caption}}" [for]="cmpId"></tb-caption>
    <textarea class="tb-textarea" #anchor name="{{cmpId}}" maxlength="{{model?.length}}" [readonly]="readonly" [ngModel]="dataChanged()" (ngModelChange)="this.model.value=$event" [disabled]="!model?.enabled" [style.height.px]="height" [style.width.px]="width-24"></textarea>
    <kendo-popup #popup *ngIf="show" [anchor]="anchor" [collision]="collision" [popupClass]="'content popup'">
        <button kendoButton *ngFor="let current of addresses" (click)=onclick(current)> {{current.formatted_address}}</button>
    </kendo-popup>
</tb-control-container>