textarea {
    width: 100%;
    background: #ffffde;
    border: 1px solid #ddd
}

textarea[disabled] {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    font-weight: bold;
    color: #9c9c9c;
    font-family: inherit;
}