.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #dddddd;
}

.box div {
    flex: 1 0 50%;
}