<div class=info-container>
    <!-- User -->
    <div class="box">
        <div>{{localizationService.localizedElements?.CompanyLabel}}:</div>
        <div class='text'>{{connectionInfos?.company}}</div>
    </div>
    <div class="box">
        <div>{{localizationService.localizedElements?.Username}}:</div>
        <div class='text'>{{connectionInfos?.user}}</div>
    </div>
    <div class="box">
        <div>{{localizationService.localizedElements?.Administrator}}:</div>
        <div class='text'>{{connectionInfos?.admin}}</div>
    </div>

    <div class="box">
        <div>{{localizationService.localizedElements?.EasyStudioDeveloper}}:</div>
        <div class='text'>{{connectionInfos?.ebdev}}</div>
    </div>
    <!-- General -->

    <div class="box">
        <div>{{localizationService.localizedElements?.Instance}}:</div>
        <div class='text'>{{connectionInfos?.installation}}</div>
    </div>

    <div class="box">
        <div> {{localizationService.localizedElements?.FileApplicationServer}}:</div>
        <div class='text'>{{connectionInfos?.remotefileserver}}</div>
    </div>
    <div class="box">
        <div> {{localizationService.localizedElements?.WebApplicationServer}}:</div>
        <div class='text'>{{connectionInfos?.remotewebserver}}</div>
    </div>
    <div class="box">
        <div> {{localizationService.localizedElements?.SecurityEnabled}}:</div>
        <div class='text'>{{connectionInfos?.security}}</div>
    </div>
    <div class="box">
        <div> {{localizationService.localizedElements?.AuditingEnabled}}:</div>
        <div class='text'>{{connectionInfos?.auditing}}</div>
    </div>
    <!--DATABASE -->
    <div class="box">
        <div> {{localizationService.localizedElements?.DBServer}}:</div>
        <div class='text'>{{connectionInfos?.dbserver}}</div>
    </div>
    <div class="box">
        <div> {{localizationService.localizedElements?.DBName}}:</div>
        <div class='text'>{{connectionInfos?.dbname}}</div>
    </div>
    <div class="box">
        <div>{{localizationService.localizedElements?.DBUser}}:</div>
        <div class='text'>{{connectionInfos?.dbuser}}</div>
    </div>

    <!--DATABASE SIZE (if needed) -->
    <div class="box" *ngIf="connectionInfos?.showdbsizecontrols" >
        <div>{{localizationService.localizedElements?.UsedSpace}}:</div>
        <div class='text'>{{connectionInfos?.usedspace}}</div>
    </div>
    <div class="box" *ngIf="connectionInfos?.showdbsizecontrols">
        <div> {{localizationService.localizedElements?.FreeSpace}}:</div>
        <div class='text'>{{connectionInfos?.freespace}}</div>
    </div>
</div>