md-input {
    /*background: #78aedb;*/
    border-radius: 3px;
}

.md-input-underline {
    border: none;
}

.md-input-wrapper {
    margin: 5px 0;
}

.md-input-placeholder.md-empty {
    color: #fff;
    font-weight: 300;
}

.md-input-prefix md-icon,
.material-icons {
    font-weight: 300;
    font-size: 18px;
}