 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" showAsTile="True">
        <tb-tile [title]="_TB('Period')" tbTileMini >
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_AUTODEPR_NRDODPERIOD" formatter="Integer" [caption]="_TB('Period')" cmpId="IDC_AUTODEPR_NRDODPERIOD" width="20" [model]="eventData?.model?.Twelfth"></tb-numeric-text-box>
         <tb-date-input *ngIf="eventData?.activation?.IDC_AUTODEPR_SIMDATE" formatter="Date" [readonly]="false" [caption]="_TB('Up to Date')" cmpId="IDC_AUTODEPR_SIMDATE" width="57" [model]="eventData?.model?.SimulationDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Categories')" tbTileMini >
         <tb-radio cmpId="IDC_AUTODEPR_EVERYONE_CATEGORIES" width="40" [model]="eventData?.model?.AllCtgs" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_AUTODEPR_SEL_CATEGORIES" width="40" [model]="eventData?.model?.CtgSel" [caption]="_TB('From')"></tb-radio>
         <tb-combo cmpId="IDC_AUTODEPR_FROMCTG" width="90" [model]="eventData?.model?.FromCtg"></tb-combo>
</div>         <tb-combo [caption]="_TB('To')" cmpId="IDC_AUTODEPR_TOCTG" width="90" [model]="eventData?.model?.ToCtg"></tb-combo>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" isCollapsible="False" showAsTile="True">
        <tb-tile [title]="_TB('Calculate Depreciation in')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_DEPRECIATION_FORECASTDEPR">
<div class="anchored">         <tb-radio cmpId="IDC_AUTODEPR_TWELFTH" width="41" [model]="eventData?.model?.TwelfthCalc" [caption]="_TB('Twelfths')"></tb-radio>
         <tb-label-static cmpId="IDC_AUTODEPR_CAPTION_TWELFTH" width="46" [model]="eventData?.model?.TwelfthCaption"></tb-label-static>
</div><div class="anchored">         <tb-radio cmpId="IDC_AUTODEPR_DAYS" width="41" [model]="eventData?.model?.DaysCalc" [caption]="_TB('Days')"></tb-radio>
         <tb-label-static cmpId="IDC_AUTODEPR_CAPTION_DAYS" width="46" [model]="eventData?.model?.DaysCaption"></tb-label-static>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Post to Accounting')" tbTileStandard >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Posting Date')" cmpId="IDC_AUTODEPR_ACCPOSTINGDATE" width="57" [model]="eventData?.model?.AccPostingDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Accrual Date')" cmpId="IDC_AUTODEPR_ACCRUALDATE" width="57" [model]="eventData?.model?.AccrualDate"></tb-date-input>
         <tb-text [caption]="_TB('Document No.')" cmpId="IDC_AUTODEPR_DOCNO" width="105" [model]="eventData?.model?.NrDoc"></tb-text>
         <tb-label-static [caption]="_TB('Values')" cmpId="IDC_AUTODEPR_CODETYPEVALUES" width="63" [model]="eventData?.model?.Values"></tb-label-static>
         <tb-combo [caption]="_TB('Simulation Code')" cmpId="IDC_AUTODEPR_SIMULATIONCODE" width="62" [model]="eventData?.model?.SimulationCode"></tb-combo>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileWide >
<div class="col col1">        <tb-label-static cmpId="IDC_AUTODEPR_PROCESS" width="645" [model]="eventData?.model?.Process"></tb-label-static>
</div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
