<div class="tb-control tb-combo-simple" [ngClass]="componentClass()">
    <tb-caption caption="{{caption}}" [for]="cmpId"></tb-caption>
    <kendo-dropdownlist [data]="items" [textField]="'description'" [disabled]="!model?.enabled" [valueField]="'code'" [defaultItem]="defaultItem" (selectionChange)="selectionChange($event)">
        <ng-template kendoDropDownListNoDataTemplate>
            <h4><span class="k-icon k-i-warning"></span><br /><br /> No data here</h4>
        </ng-template>
    </kendo-dropdownlist>
</div>