.k-i-warning {
    font-size: 2.5em;
}

h4 {
    font-size: 1em;
}

tb-combo-simple {
    .k-textbox,
    .k-input.k-textbox,
    .k-dateinput-wrap .k-input,
    .k-dropdown-wrap .k-input,
    .k-picker-wrap .k-input,
    .k-numeric-wrap .k-input {
        background-color: #e0e0e0;
    }
    .k-combobox,
    .k-dropdown,
    .k-multiselect,
    .k-numerictextbox,
    .k-maskedtextbox {
        width: 300px;
    }
}