@import '../../../style/vars.scss';
$explorerbkg:white;
.main {
    display: flex;
    flex-direction: column;
}

:host ::ng-deep kendo-upload {
    background: transparent;
    border-width: 0px;
    .k-button.k-upload-button {
        background: transparent;
        border-width: 1px;
    }
    .k-upload-files.k-reset {
        max-height: 106px;
        overflow: auto;
    }
}

.explorer-container {
    display: flex;
    flex-flow: column;
    width: 570px;
    height: 350px;
    background: $explorerbkg;
}

.uploader-container {
    display: flex;
    flex-flow: column;
    width: 570px;
    background: $explorerbkg;
}

.bread {
    display: flex;
    flex-flow: row nowrap;
}

.path-part {
    font-size: 14px;
    cursor: pointer;
    &:hover {
        color: lighten($accent, 20%);
    }
    &::after {
        content: '>';
        margin: 0px 4px;
    }
    &:last-of-type::after {
        content: '';
        margin: 0px;
    }
    &.selected {
        cursor: default;
        color: $accent;
    }
}

:host tb-toolbar-top ::ng-deep .title {
    visibility: hidden;
}

:host .popup ::ng-deep .k-textbox {
    border-width: 0px;
    height: auto;
    background: $explorerbkg;
    box-shadow: none;
}

.explorer {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
}

.item {
    cursor: pointer;
    display: flex;
    width: 100px;
    height: 80px;
    margin: 10px 20px;
    flex-flow: column;
    align-content: center;
    color: base-text;
    &:hover {
        color: $accent;
    }
}

.item .folder {
    flex-grow: 1;
    align-self: center;
    font-size: 50px;
    margin-bottom: -10px;
}

.item .label {
    align-self: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 120px;
    text-align: center;
}

.popup {
    padding: 5px;
    background-color: $explorerbkg;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow-y: auto;
    width: 192px;
    max-height: 300px;
}

.popup-row {
    height: 20px;
    display: flex;
    flex-direction: row;
    flex: 1 0;
    p {
        flex: 1;
        margin-top: auto;
        margin-bottom: auto;
    }
     ::ng-deep .k-widget {
        font-size: 5px;
    }
    &.switch {
         ::ng-deep .k-switch-label-on,
         ::ng-deep .k-switch-label-off {
            font-size: 8px;
            margin-left: 10px;
            margin-top: -2px;
        }
         ::ng-deep .k-switch-label-off {
            margin-left: -8px;
        }
         ::ng-deep .k-switch-container,
         ::ng-deep .k-switch-wrapper {
            border-width: 0px;
            background: $bkg-light
        }
         ::ng-deep .k-switch:focus,
         ::ng-deep .k-switch.k-state-focused {
            outline: none;
            box-shadow: none;
        }
    }
}

.autocomplete {
    width: 100%;
}