<div class="main" tabindex="0">
    <div class="explorer-container">
        <tb-toolbar-top>
            <div class="toolbar-menu">
                <div class="bread">
                    <div class="path-part" *ngFor="let item of path" (click)="item !== currentItem && breadClick(item)" [title]="item.name" [ngClass]="{'selected': item === currentItem}">
                        {{item.name}}
                    </div>
                </div>
            </div>
            <div class="toolbar-right">
                <div class="menu-category exit" #anchor>
                    <tb-toolbar-top-button icon="tb-find" [caption]="_TB('Search')" (click)="toggleSearch()"></tb-toolbar-top-button>
                    <tb-toolbar-top-button icon="tb-refresh" [caption]="_TB('Refresh')" (click)="refresh()"></tb-toolbar-top-button>
                    <tb-toolbar-top-button icon="tb-menu2" [caption]="_TB('Menu')" (click)="toggleMenu()"></tb-toolbar-top-button>
                </div>
            </div>
        </tb-toolbar-top>
        <div *ngIf="!(explorer.waiting$|async)" class="explorer">
            <div class="item" *ngFor="let item of filteredItems" (click)="_itemClick(item)" [title]="item.name + '\n' + (item.NameSpace || item.namespace || '')"
                [class.selected]="item === selectedItem">
                <m4-icon class="folder" [icon]="currentItem.level === 2 ? 'tb-report' : 'tb-open'"></m4-icon>
                <div class="label">
                    <span *ngFor="let c of (item.name && item.name.split('')); let i = index" class="char" [class.char-matched]="item.match[i]">
                        {{c}}
                    </span>
                </div>
            </div>
        </div>
        <mat-spinner *ngIf="explorer.waiting$|async" class="widget-spinner" style="margin: auto"></mat-spinner>
    </div>
    <div class="uploader-container" [@shrinkOut]="viewState" *ngIf="options.upload">
        <kendo-upload #uploader (upload)="uploadEventHandler($event)" [autoUpload]="false" (error)="errorEventHandler($event)" (success)="successEventHandler($event)"
            [saveUrl]="options.uploadUrl" [restrictions]="options.uploadRestrictions" [saveHeaders]="saveHeaders">
        </kendo-upload>
    </div>
</div>

<kendo-popup #searchPopup *ngIf="showSearch" [anchor]="anchor" class="popup" (anchorViewportLeave)="showSearch = false" [collision]="{ horizontal: 'flip', vertical: 'fit' }"
    [anchorAlign]="{ horizontal: 'center', vertical: 'bottom' }" [popupAlign]="{ horizontal: 'center', vertical: 'top' }">
    <input kendoTextBox [(ngModel)]="search" [placeholder]="_TB('Search...')" />
</kendo-popup>

<kendo-popup #menuPopup *ngIf="showMenu" [anchor]="anchor" class="popup" (anchorViewportLeave)="showMenu = false" [collision]="{ horizontal: 'flip', vertical: 'fit' }"
    [anchorAlign]="{ horizontal: 'center', vertical: 'bottom' }" [popupAlign]="{ horizontal: 'center', vertical: 'top' }">
    <div class="popup-row switch">
        <p>{{isCustomSwitch .checked ? _TB('Standard') : _TB('Custom')}}</p>
        <kendo-switch #isCustomSwitch [(ngModel)]="isCustom" [onLabel]="' '" [offLabel]="' '" (valueChange)="customLevelChanged()"></kendo-switch>
    </div>
    <div *ngIf="isCustom" class="popup-row">
        <kendo-dropdownlist [data]="users" aria-placeholder="User..." style="width: 100%"></kendo-dropdownlist>
    </div>
</kendo-popup>