.Application_Element
{
	font-family: Verdana, Arial, Times New Roman;
	font-size: 12px;
	height: 20px;
	vertical-align:text-bottom;
	text-decoration: none;
	color:Blue;
	
}

.Module_Element
{
	font-family: Verdana, Arial, Times New Roman;
	font-size: 12px;
	height: 20px;
	vertical-align:text-bottom;
	text-decoration: none;
	color:Black;
}


.Application_Image
{
	
	filter: Chroma(Color=#FFFFFF);
}
