 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-text [caption]="_TB('File Name')" cmpId="IDC_FILE_MANAGEMENT_FILENAME" width="198" [model]="eventData?.model?.BoletosFileImportFileName"></tb-text>
        <tb-caption cmpId="IDC_FILE_MANAGEMENT_STATUS" width="210"></tb-caption>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_BSP_ALWAYS_ON_FRONT?.enabled" icon="framework.tbframeworkimages.images.25x25.pin.png" [caption]="_TB('Pin')" cmpId="ID_BSP_ALWAYS_ON_FRONT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_BSP_SWITCH_TO_CALLER?.enabled" icon="tb-back" [caption]="_TB('Back')" cmpId="ID_BSP_SWITCH_TO_CALLER"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_FILE_MANAGEMENT_IMPORT?.enabled" icon="tb-start" [caption]="_TB('Import')" cmpId="IDC_FILE_MANAGEMENT_IMPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_FILE_MANAGEMENT_CLOSE?.enabled" icon="tb-undo" [caption]="_TB('Close')" cmpId="IDC_FILE_MANAGEMENT_CLOSE"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
