<md-sidenav-layout class="demo-sidenav-layout">

  <div class="demo-sidenav-content">

    <md-toolbar>

      <tb-application-selector *ngIf="menuService.applicationMenu != undefined" [Menu]="menuService?.applicationMenu"></tb-application-selector>

      <span>
            {{menuService?.getSelectedApplication()?.title}} - {{menuService?.getSelectedGroup()?.title}} - {{menuService?.getSelectedMenu()?.title}}
      </span>

    </md-toolbar>

    <tb-menu-container [Group]="menuService?.getSelectedGroup()"></tb-menu-container>
  </div>
</md-sidenav-layout>

<p>
  <a href="javascript:void(0)" (click)="runDocument('ERP.Languages.Documents.Languages')">Languages</a>
</p>
<p>
  <a href="javascript:void(0)" (click)="runDocument('ERP.Company.Documents.Titles')">Titles</a>
</p>
<p>
  <a href="javascript:void(0)" (click)="runDocument('Framework.TbResourcesMng.TbResourcesMng.Resources')">Resources</a>
</p>
<!--<router-outlet></router-outlet>
-->