.fill-remaining-space {
    flex: 1 1 auto;
}

#toggle-sidebar {
    cursor: pointer;
    margin-right: 10px;
}

md-toolbar {
    height: 50px !important;
    min-height: 50px !important;
}


/*
    issue 
    toolbar: unable to specify attributes on first toolbar-row #1718
    https://github.com/angular/material2/issues/1718
*/

md-toolbar md-toolbar-row {
    height: 50px !important;
    min-height: 50px !important;
}

.topbar-title {}

.topbar-title h1,
.topbar-title h2 {
    margin: 0;
    padding: 0;
}

.topbar-title h1 {
    font-size: 18px;
    margin-bottom: 3px;
}

.topbar-title h2 {
    font-size: 12px;
    font-weight: normal;
}