:host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 400px;
}

md-input-container,
kendo-dropdownlist {
    width: 100%;
}

.login-button {
    margin-top: 20px;
    width: 100%;
}

div.error {
    color: red;
    margin: 20px 0 0;
}