 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-label-static [caption]="_TB('Sales Order No.')" cmpId="IDC_SALE_ORDER_ALLOCACION_DETAILS_ORD_NO" width="86" [model]="eventData?.model?.SaleOrdNo"></tb-label-static>
       </tb-tile>
       <tb-tile [title]="_TB('Detail')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_SALE_ORDER_ALLOCATION_BE_DETAILS" width="323" [model]="eventData?.model?.SaleOrdersAllocation">
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_STATUS_BMP" columnName="StatusBmp" [title]="_TB(' ')" columnType="tb-image" columnName="IDC_SALEORD_ALLOCATION_BE_STATUS_BMP">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_SELECTED" columnName="IsSelected" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_SALEORD_ALLOCATION_BE_SELECTED" *ngIf="eventData?.activation?.IDC_SALEORD_ALLOCATION_BE_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_ITEM" columnName="Item" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_SALEORD_ALLOCATION_BE_ITEM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_ITEM_DESCRI" columnName="ItemDescri" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_SALEORD_ALLOCATION_BE_ITEM_DESCRI">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_UOM" columnName="UoM" [title]="_TB('UoM')" columnType="tb-label-static" columnName="IDC_SALEORD_ALLOCATION_BE_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_LOT" columnName="Lot" [title]="_TB('Lot')" columnType="tb-label-static" columnName="IDC_SALEORD_ALLOCATION_BE_LOT" *ngIf="eventData?.activation?.IDC_SALEORD_ALLOCATION_BE_LOT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_SALEORD_ALLOCATION_BE_QTY" columnName="Qty" [title]="_TB('Qty')" columnType="tb-numeric-text-box" columnName="IDC_SALEORD_ALLOCATION_BE_QTY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_QTY_ALLOCABLE" columnName="AllocableQty" [title]="_TB('Proposed')" columnType="tb-body-edit-column" columnName="IDC_SALEORD_ALLOCATION_BE_QTY_ALLOCABLE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_SALEORD_ALLOCATION_BE_QTY_ALLOCATED" columnName="AllocatedQty" [title]="_TB('Allocated')" columnType="tb-numeric-text-box" columnName="IDC_SALEORD_ALLOCATION_BE_QTY_ALLOCATED">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_SALEORD_ALLOCATION_BE_QTY_DELIVERED" columnName="DeliveredQty" [title]="_TB('Delivered')" columnType="tb-numeric-text-box" columnName="IDC_SALEORD_ALLOCATION_BE_QTY_DELIVERED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_BASE_UOM" columnName="BaseUoM" [title]="_TB('Base UoM')" columnType="tb-label-static" columnName="IDC_SALEORD_ALLOCATION_BE_BASE_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_SALEORD_ALLOCATION_BE_QTY_AVAILABLE" columnName="AvailableQty" [title]="_TB('Availability')" columnType="tb-numeric-text-box" columnName="IDC_SALEORD_ALLOCATION_BE_QTY_AVAILABLE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_SALEORD_ALLOCATION_BE_PROGRESSIVE_QTY_AVAILABLE" columnName="ProgressiveAvailableQty" [title]="_TB('Residual
Availability')" columnType="tb-numeric-text-box" columnName="IDC_SALEORD_ALLOCATION_BE_PROGRESSIVE_QTY_AVAILABLE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_SALEORD_ALLOCATION_BE_QTY_AREA" columnName="AreaQty" [title]="_TB('Qty Area')" columnType="tb-numeric-text-box" columnName="IDC_SALEORD_ALLOCATION_BE_QTY_AREA">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_AREA" columnName="AllocationArea" [title]="_TB('Area')" columnType="tb-label-static" columnName="IDC_SALEORD_ALLOCATION_BE_AREA">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_SALEORD_ALLOCATION_BE_CONFIRMED_DELIVERY_DATE" columnName="ConfirmedDeliveryDate" [title]="_TB('Confirmed
Delivery Date')" columnType="tb-date-input" columnName="IDC_SALEORD_ALLOCATION_BE_CONFIRMED_DELIVERY_DATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SALEORD_ALLOCATION_BE_INTERNAL_NO" columnName="InternalOrdNo" [title]="_TB('Internal No')" columnType="tb-label-static" columnName="IDC_SALEORD_ALLOCATION_BE_INTERNAL_NO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_SALEORD_ALLOCATION_BE_ORDER_DATE" columnName="OrderDate" [title]="_TB('Order Date')" columnType="tb-date-input" columnName="IDC_SALEORD_ALLOCATION_BE_ORDER_DATE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_SALEORD_ALLOCATION_BE_EXPECTED_DELIVERY_DATE" columnName="ExpectedDeliveryDate" [title]="_TB('Expected
Delivery Date')" columnType="tb-date-input" columnName="IDC_SALEORD_ALLOCATION_BE_EXPECTED_DELIVERY_DATE">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
 </tb-frame>
