:host {
    display: flex;
    flex-direction: column;
}

:host(.layoutType-column) {
    flex-direction: row;
    flex: 0 0 100%;
}

:host(.layoutType-hbox) {
    display: flex;
    flex-direction: row;
}

:host(.layoutType-vbox) {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 48em) {}

@media screen and (min-width: 64em) {}

@media screen and (min-width: 75em) {
    .layout-container {
        flex-direction: row;
    }
}