<div #anchor class="contextMenuClass" tabindex="0" (blur)="show = false">
    <md-icon (click)="onToggle()" id="input_img">more_vert</md-icon>
    <kendo-popup [popupClass]="'content popup'" [anchor]="anchor" (anchorViewportLeave)="show = false" *ngIf="show" (open)="onOpen()" [anchorAlign]="anchorAlign" [popupAlign]="popupAlign">
        <button kendoButton class="content" *ngFor="let menuItem of contextMenu; let i = index" [disabled]="!menuItem?.enabled" (mousedown)="doCommand(menuItem)">{{menuItem?.text}}</button>
    </kendo-popup>
</div>