.list-container { background-color:#ffffff;padding:4px }
.w-wide { width:100% }
.item-container { width:100%;margin-top:4px;display:inline-block;border-bottom:1px solid #f0f0f0; cursor:pointer }
.item-col-left { display:block; float:left; min-width:20% }
.item-col-right { display:block; float:right }