 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Resource')" tbTileMini >
         <tb-radio cmpId="IDC_MBPROD_REORD_RESOURCE_ALL" width="30" [model]="eventData?.model?.bWorkerAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_MBPROD_REORD_RESOURCE_SEL" width="30" [model]="eventData?.model?.bWorkerSel" [caption]="_TB('From')"></tb-radio>
         <tb-combo cmpId="IDC_MBPROD_REORD_RESOURCE_FROM" width="62" [model]="eventData?.model?.WorkerFrom"></tb-combo>
</div>         <tb-combo [caption]="_TB('To')" cmpId="IDC_MBPROD_REORD_RESOURCE_TO" width="62" [model]="eventData?.model?.WorkerTo"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Date')" tbTileMini >
         <tb-radio cmpId="IDC_MBPROD_REORD_DATE_ALL" width="81" [model]="eventData?.model?.bDateAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_MBPROD_REORD_DATE_SEL" width="36" [model]="eventData?.model?.bDateSel" [caption]="_TB('From')"></tb-radio>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_MBPROD_REORD_DATE_FROM" width="62" [model]="eventData?.model?.DateFrom"></tb-date-input>
</div>         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_MBPROD_REORD_DATE_TO" width="61" [model]="eventData?.model?.DateTo"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Item')" tbTileMini >
         <tb-radio cmpId="IDC_MBPROD_REORD_ITEM_ALL" width="81" [model]="eventData?.model?.bItemAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_MBPROD_REORD_ITEM_SEL" width="36" [model]="eventData?.model?.bItemSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_MBPROD_REORD_ITEM_FROM" width="110" [model]="eventData?.model?.sItemFrom"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_MBPROD_REORD_ITEM_TO" width="110" [model]="eventData?.model?.sItemTo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Other')" tbTileMini >
         <tb-checkbox cmpId="IDC_MBPROD_REORD_MIN_STOCK" width="138" [model]="eventData?.model?.bMinimumStock" [caption]="_TB('Consider minimum stock')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MBPROD_REORD_USE_AVAIL" width="148" [model]="eventData?.model?.bUseStockAvailability" [caption]="_TB('Use stock availability')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MBPROD_REORD_REORDER_LOT" width="148" [model]="eventData?.model?.bConsiderReorderLot" [caption]="_TB('Consider reorder lot')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Purchase Order Generation')" tbTileMini >
         <tb-checkbox cmpId="IDC_MBPROD_REORD_GROUP_SUPPLIER" width="138" [model]="eventData?.model?.bGroupBySupplier" [caption]="_TB('Group by Supplier')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MBPROD_REORD_GROUP_DATE" width="148" [model]="eventData?.model?.bGroupByDate" [caption]="_TB('Group by Date')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill  isCollapsible="True">
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_REFNO" width="40" [model]="eventData?.model?.DocNo" [title]="_TB(' ')" columnType="tb-label-static" columnName="IDC_MBPROD_REORD_BE_REFNO">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_SEL" width="70" [model]="eventData?.model?.Selected" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_MBPROD_REORD_BE_SEL">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_KANBAN" [model]="eventData?.model?.IsKanban" [title]="_TB('Kanban')" columnType="tb-checkbox" columnName="IDC_MBPROD_REORD_BE_KANBAN" *ngIf="eventData?.activation?.IDC_MBPROD_REORD_BE_KANBAN">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_RESOURCE" [model]="eventData?.model?.WorkerDescription" [title]="_TB('Worker')" columnType="tb-body-edit-column" columnName="IDC_MBPROD_REORD_BE_RESOURCE">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_ITEM" [model]="eventData?.model?.Item" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_MBPROD_REORD_BE_ITEM">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_ITEM_DESC" [model]="eventData?.model?.HKLItems?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_MBPROD_REORD_BE_ITEM_DESC">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_NATURE" [model]="eventData?.model?.NatureDesc" [title]="_TB('Nature')" columnType="tb-label-static" columnName="IDC_MBPROD_REORD_BE_NATURE">
        </tb-body-edit-column>
        <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_MBPROD_REORD_BE_AVAIL_QTY" [model]="eventData?.model?.AvailQty" [title]="_TB('Quantity
Available')" columnType="tb-numeric-text-box" columnName="IDC_MBPROD_REORD_BE_AVAIL_QTY">
        </tb-body-edit-column>
        <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_MBPROD_REORD_BE_REORDER_LOT" [model]="eventData?.model?.ReorderLot" [title]="_TB('Reorder
Lot')" columnType="tb-numeric-text-box" columnName="IDC_MBPROD_REORD_BE_REORDER_LOT">
        </tb-body-edit-column>
        <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_MBPROD_REORD_BE_MINIMUM_QTY" [model]="eventData?.model?.MinimumQty" [title]="_TB('Minimum
Quantity')" columnType="tb-numeric-text-box" columnName="IDC_MBPROD_REORD_BE_MINIMUM_QTY">
        </tb-body-edit-column>
        <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_MBPROD_REORD_BE_REQ_QTY" [model]="eventData?.model?.Qty" [title]="_TB('Quantity
Request')" columnType="tb-numeric-text-box" columnName="IDC_MBPROD_REORD_BE_REQ_QTY">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_QTY_UOM" [model]="eventData?.model?.UoM" [title]="_TB('UOM')" columnType="tb-label-static" columnName="IDC_MBPROD_REORD_BE_QTY_UOM">
        </tb-body-edit-column>
        <tb-body-edit-column formatter="Integer" cmpId="IDC_MBPROD_REORD_BE_QTY" [model]="eventData?.model?.QtyToReord" [title]="_TB('Quantity
to Order')" columnType="tb-numeric-text-box" columnName="IDC_MBPROD_REORD_BE_QTY">
        </tb-body-edit-column>
        <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_MBPROD_REORD_BE_ORDER_DATE" [model]="eventData?.model?.OrderDate" [title]="_TB('Order
Date')" columnType="tb-date-input" columnName="IDC_MBPROD_REORD_BE_ORDER_DATE">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_SUPPLIER" [model]="eventData?.model?.Supplier" [title]="_TB('Supplier')" columnType="tb-text" columnName="IDC_MBPROD_REORD_BE_SUPPLIER">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_SUPPLIER_DESC" width="300" [model]="eventData?.model?.HKLCustSupp?.CompNameComplete" [title]="_TB('Company
name')" columnType="tb-label-static" columnName="IDC_MBPROD_REORD_BE_SUPPLIER_DESC">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_STORAGE" [model]="eventData?.model?.Storage" [title]="_TB('Storage')" columnType="tb-text" columnName="IDC_MBPROD_REORD_BE_STORAGE">
        </tb-body-edit-column>
        <tb-body-edit-column cmpId="IDC_MBPROD_REORD_BE_STORAGE_DESC" [model]="eventData?.model?.HKLStorage?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_MBPROD_REORD_BE_STORAGE_DESC">
        </tb-body-edit-column>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_MOCONFIRMATION_PROCESSING_AUTO?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_MOCONFIRMATION_PROCESSING_AUTO"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
