.h200 md-card-content {
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
}

tb-tile {
    flex: 1;
}

tb-tile.tile-micro {
    flex: 0 0 12.5%;
}

tb-tile.tile-mini {
    flex: 0 0 25%;
}

tb-tile.tile-standard {
    flex: 0 0 50%;
}

tb-tile.tile-wide {
    flex: 0 0 100%;
}

tb-tile.tile-autofill {
    flex: 1;
}

:host(.tile-standard) .sameHeight {
    height: 100%;
}

tb-tile.tile-wide {
    md-card-content {
        display: flex;
    }
    .col {
        flex: 0 0 50%;
    }
    .col2 {
        margin-left: 16px;
    }
}

.anchored {
    display: flex;
    flex-direction: row;
}