$mf-font-size: 1rem !default;
md-card {
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}

md-card-title {
    position: relative;
    padding-right: 25px;
    font-size: 1.1rem;
}

md-card-title span {
    font-size: 1.1rem;
    font-weight: 700
}

md-card-title md-icon {
    position: absolute;
    right: 0;
    font-size: 1.1rem
}

:host(.h200) md-card-content {
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
}

:host(tb-tile) {
    flex: 1;
}

:host(.tile-micro) {
    flex: 0 0 12.5%;
}

:host(.tile-mini) {
    flex: 0 0 25%;
}

:host(.tile-standard) {
    flex: 0 0 50%;
}

:host(.tile-wide) {
    flex: 0 0 100%;
}

:host(.tile-autofill) {
    flex: 1;
}