 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="erp-assets" tbLayoutTypeVbox >
       <ng-template>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Main Data')" tbTileStandard >
<div class="anchored">          <tb-text [caption]="_TB('Fixed Asset')" cmpId="IDC_FIXEDASSET" width="80" [model]="eventData?.model?.FixedAssets?.FixedAsset"></tb-text>
          <tb-checkbox cmpId="IDC_FIXEDASSET_ISDISABLED" width="49" [model]="eventData?.model?.FixedAssets?.Disabled" [caption]="_TB('Disabled')"></tb-checkbox>
</div>          <tb-text cmpId="IDC_FIXEDASSET_DESCRI" width="154" [model]="eventData?.model?.FixedAssets?.Description"></tb-text>
          <tb-combo [caption]="_TB('Category')" cmpId="IDC_FIXEDASSET_CATEGORY" width="90" [model]="eventData?.model?.FixedAssets?.Category"></tb-combo>
          <tb-combo [caption]="_TB('Class')" cmpId="IDC_FIXEDASSET_CLASS" width="71" [model]="eventData?.model?.FixedAssets?.Class"></tb-combo>
          <tb-combo [caption]="_TB('Location')" cmpId="IDC_FIXEDASSET_LOCATION" width="71" [model]="eventData?.model?.FixedAssets?.Location"></tb-combo>
<div class="anchored">          <tb-enum-combo [caption]="_TB('Parent Fixed Asset')" cmpId="IDC_FIXEDASSET_PARENT_TYPE" width="90" [model]="eventData?.model?.FixedAssets?.ParentCodeType"></tb-enum-combo>
          <tb-text cmpId="IDC_FIXEDASSET_PARENT_CODE" width="80" [model]="eventData?.model?.FixedAssets?.ParentFixedAsset"></tb-text>
</div>          <tb-label-static cmpId="IDC_FIXEDASSET_PARENT_DESCRI" width="154" [model]="eventData?.model?.HKLParent?.Description"></tb-label-static>
          <tb-numeric-text-box formatter="Integer" [caption]="_TB('Quantity')" cmpId="IDC_FIXEDASSET_QTY" width="30" [model]="eventData?.model?.FixedAssets?.Qty"></tb-numeric-text-box>
         </tb-tile>
         <tb-layoutcontainer isCollapsible="True" tbLayoutTypeVbox >
          <tb-tile [title]="_TB('Depreciation Data')" tbTileStandard >
           <tb-combo *ngIf="eventData?.activation?.IDC_FIXEDASSET_DEPRECIATIONSTART" [caption]="_TB('Depreciation Start')" cmpId="IDC_FIXEDASSET_DEPRECIATIONSTART" width="59" [model]="eventData?.model?.FixedAssets?.DepreciationStart"></tb-combo>
           <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_DATETINDEPR" formatter="Date" [readonly]="false" [caption]="_TB('Depreciation Start')" cmpId="IDC_FIXEDASSET_DATETINDEPR" width="57" [model]="eventData?.model?.FixedAssets?.DepreciationStartingDate"></tb-date-input>
<div class="anchored">           <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_LASTDEPRECIATION" formatter="Date" [readonly]="true" [caption]="_TB('Last Depreciation')" cmpId="IDC_FIXEDASSET_LASTDEPRECIATION" width="59" [model]="eventData?.model?.FixedAssets?.LastDepreciationDate"></tb-date-input>
           <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_LASTBALDEPRECIATION" formatter="Date" [readonly]="true" cmpId="IDC_FIXEDASSET_LASTBALDEPRECIATION" width="59" [model]="eventData?.model?.FixedAssets?.LastBalDepreciationDate"></tb-date-input>
</div><div class="anchored">           <tb-label-static *ngIf="eventData?.activation?.IDC_FIXEDASSET_LASTDEPRECIATION" [caption]="_TB('Last Depreciation')" cmpId="IDC_FIXEDASSET_LASTDEPRECIATION" width="59" [model]="eventData?.model?.LastFYearDescri"></tb-label-static>
           <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_LASTBALDEPRECIATION" formatter="Date" [readonly]="true" cmpId="IDC_FIXEDASSET_LASTBALDEPRECIATION" width="59" [model]="eventData?.model?.FixedAssets?.LastBalDepreciationDate"></tb-date-input>
</div>           <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_DATETINDEPR2" formatter="Date" [readonly]="false" [caption]="_TB('Depreciation starting date')" cmpId="IDC_FIXEDASSET_DATETINDEPR2" width="57" [model]="eventData?.model?.FixedAssets?.DepreciationStartingDate"></tb-date-input>
           <tb-checkbox *ngIf="eventData?.activation?.IDC_FIXEDASSET_DEPRBYDATE" cmpId="IDC_FIXEDASSET_DEPRBYDATE" width="109" [model]="eventData?.model?.FixedAssets?.DeprByDate" [caption]="_TB('Temporal Depreciation  ')"></tb-checkbox>
           <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_DATEENDDEPR" formatter="Date" [readonly]="false" [caption]="_TB('Depreciation ending date')" cmpId="IDC_FIXEDASSET_DATEENDDEPR" width="59" [model]="eventData?.model?.FixedAssets?.DepreciationEndingDate"></tb-date-input>
          </tb-tile>
          <tb-tile [title]="_TB('Deducibility')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_DEPRECIATIONTYPE">
<div class="anchored">           <tb-combo [caption]="_TB('Type')" cmpId="IDC_FIXEDASSET_TYPE" width="141" [model]="eventData?.model?.RadioDeprType"></tb-combo>
           <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_PARTDEPR_PERC_CAT" formatter="Percent" disabled="true" cmpId="IDC_FIXEDASSET_PARTDEPR_PERC_CAT" width="30" [model]="eventData?.model?.ParzAmmPercCat"></tb-numeric-text-box>
</div><div class="anchored">           <tb-checkbox *ngIf="eventData?.activation?.IDC_FIXEDASSET_PARTDEPR_PERC_CUST" cmpId="IDC_FIXEDASSET_PARTDEPR_PERC_CUST" width="8" [model]="eventData?.model?.FixedAssets?.PartDeprPercCustom" [caption]="_TB('Custom')"></tb-checkbox>
           <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_PARTDEPR_PERC" formatter="Percent" cmpId="IDC_FIXEDASSET_PARTDEPR_PERC" width="30" [model]="eventData?.model?.FixedAssets?.PartDeprPerc"></tb-numeric-text-box>
</div><div class="anchored">           <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_PARTDEPR_LIMIT_CAT" formatter="Money" disabled="true" [caption]="_TB('Limit')" cmpId="IDC_FIXEDASSET_PARTDEPR_LIMIT_CAT" width="68" [model]="eventData?.model?.ParzAmmTettoCat"></tb-numeric-text-box>
           <tb-checkbox *ngIf="eventData?.activation?.IDC_FIXEDASSET_PARTDEPR_LIMIT_CUST" cmpId="IDC_FIXEDASSET_PARTDEPR_LIMIT_CUST" width="8" [model]="eventData?.model?.FixedAssets?.PartDeprLimitCustom" [caption]="_TB('Custom')"></tb-checkbox>
           <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_PARTDEPR_LIMIT" formatter="Money" cmpId="IDC_FIXEDASSET_PARTDEPR_LIMIT" width="40" [model]="eventData?.model?.FixedAssets?.PartDeprLimit"></tb-numeric-text-box>
</div><div class="anchored">           <tb-checkbox *ngIf="eventData?.activation?.IDC_FIXEDASSET_PARTDEPR_LIMIT_CUST" cmpId="IDC_FIXEDASSET_PARTDEPR_LIMIT_CUST" width="8" [model]="eventData?.model?.FixedAssets?.PartDeprLimitCustom" [caption]="_TB('Custom')"></tb-checkbox>
           <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_PARTDEPR_LIMIT" formatter="Money" cmpId="IDC_FIXEDASSET_PARTDEPR_LIMIT" width="40" [model]="eventData?.model?.FixedAssets?.PartDeprLimit"></tb-numeric-text-box>
</div>           <tb-checkbox *ngIf="eventData?.activation?.IDC_FIXEDASSET_EXTRADED" cmpId="IDC_FIXEDASSET_EXTRADED" width="109" [model]="eventData?.model?.FixedAssets?.ExtraDed" [caption]="_TB('Fiscal Extra Deduction  ')"></tb-checkbox>
           <tb-checkbox *ngIf="eventData?.activation?.IDC_FIXEDASSET_NOCHARGESCALCULATION" cmpId="IDC_FIXEDASSET_NOCHARGESCALCULATION" width="109" [model]="eventData?.model?.FixedAssets?.NoChargesCalculation" [caption]="_TB('Excluded from Maintenance Charges Deductibility Calculation  ')"></tb-checkbox>
          </tb-tile>
         </tb-layoutcontainer>
        </tb-layoutcontainer>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Purchase')" tbTileStandard >
          <tb-enum-combo [caption]="_TB('Type')" cmpId="IDC_FIXEDASSET_PURCHTYPE" width="139" [model]="eventData?.model?.FixedAssets?.PurchaseType"></tb-enum-combo>
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_FIXEDASSET_PURCHDATE" width="57" [model]="eventData?.model?.FixedAssets?.PurchaseDate"></tb-date-input>
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Document Date')" cmpId="IDC_FIXEDASSET_DOCDATEPURCHASE" width="57" [model]="eventData?.model?.FixedAssets?.PurchaseDocDate"></tb-date-input>
<div class="anchored">          <tb-text [caption]="_TB('Document Number/Log')" cmpId="IDC_FIXEDASSET_PURCHASEDOCNO" width="126" [model]="eventData?.model?.FixedAssets?.PurchaseDocNo"></tb-text>
          <tb-text cmpId="IDC_FIXEDASSET_PURCHLOGNO" width="63" [model]="eventData?.model?.FixedAssets?.LogNo"></tb-text>
</div>          <tb-text [caption]="_TB('Supplier')" cmpId="IDC_FIXEDASSET_SUPP" width="91" [model]="eventData?.model?.FixedAssets?.Supplier"></tb-text>
          <tb-label-static cmpId="IDC_FIXEDASSET_DESCRI_SUPP" width="154" [model]="eventData?.model?.HKLSupp?.CompNameComplete"></tb-label-static>
          <tb-numeric-text-box formatter="Money" [caption]="_TB('Purchase Cost')" cmpId="IDC_FIXEDASSET_PURCHCOST" width="68" [model]="eventData?.model?.FixedAssets?.PurchaseCost"></tb-numeric-text-box>
          <tb-numeric-text-box formatter="Money" [caption]="_TB('Purchase Cost (Domestic Curr.)')" cmpId="IDC_FIXEDASSET_PURCHASECOSTDOCCURR" width="68" [model]="eventData?.model?.FixedAssets?.PurchaseCostDocCurr"></tb-numeric-text-box>
         </tb-tile>
         <tb-tile [title]="_TB('Disposal')" tbTileStandard >
          <tb-enum-combo [caption]="_TB('Type')" cmpId="IDC_FIXEDASSET_DISPOSALTYPE" width="103" [model]="eventData?.model?.FixedAssets?.DisposalType"></tb-enum-combo>
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_FIXEDASSET_DISPOSALDATE" width="57" [model]="eventData?.model?.FixedAssets?.DisposalDate"></tb-date-input>
<div class="anchored">          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Document Date/Number')" cmpId="IDC_FIXEDASSET_DOCDATEDISPOSAL" width="57" [model]="eventData?.model?.FixedAssets?.DisposalDocDate"></tb-date-input>
          <tb-text cmpId="IDC_FIXEDASSET_DISPOSALDOCNO" width="63" [model]="eventData?.model?.FixedAssets?.DisposalDocNo"></tb-text>
</div>          <tb-text [caption]="_TB('Customer')" cmpId="IDC_FIXEDASSET_CUST" width="91" [model]="eventData?.model?.FixedAssets?.Customer"></tb-text>
          <tb-label-static cmpId="IDC_FIXEDASSET_DESCRI_CUST" width="154" [model]="eventData?.model?.HKLCust?.CompNameComplete"></tb-label-static>
          <tb-numeric-text-box formatter="Money" [caption]="_TB('Sale Revenue')" cmpId="IDC_FIXEDASSET_DISPOSALVALUE" width="68" [model]="eventData?.model?.FixedAssets?.DisposalAmount"></tb-numeric-text-box>
          <tb-numeric-text-box formatter="Money" [caption]="_TB('Sale Revenue (Domestic Curr.)')" cmpId="IDC_FIXEDASSET_DISPOSALAMOUNTDOCCURR" width="68" [model]="eventData?.model?.FixedAssets?.DisposalAmountDocCurr"></tb-numeric-text-box>
          <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_WRITEOFF" formatter="Date" [readonly]="false" [caption]="_TB('Write-Off Date')" cmpId="IDC_FIXEDASSET_WRITEOFF" width="57" [model]="eventData?.model?.FixedAssets?.WriteOffDate"></tb-date-input>
          <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_BALWRITEOFF" formatter="Date" [readonly]="false" [caption]="_TB('Balance Write-Off Date')" cmpId="IDC_FIXEDASSET_BALWRITEOFF" width="57" [model]="eventData?.model?.FixedAssets?.BalWriteOffDate"></tb-date-input>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Other Data')" icon="erp-assetsmore" tbLayoutTypeVbox >
       <ng-template>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Technical Data')" tbTileStandard >
          <tb-text [caption]="_TB('Serial No.')" cmpId="IDC_FIXEDASSET_SERIALNO" width="88" [model]="eventData?.model?.FixedAssets?.IdNumber"></tb-text>
          <tb-text [caption]="_TB('Notes')" cmpId="IDC_FIXEDASSET_NOTES" width="154" [model]="eventData?.model?.FixedAssets?.Notes"></tb-text>
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Installation Date')" cmpId="IDC_FIXEDASSET_DATAINST" width="57" [model]="eventData?.model?.FixedAssets?.InstallationDate"></tb-date-input>
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Inspection Date')" cmpId="IDC_FIXEDASSET_DATECOLL" width="57" [model]="eventData?.model?.FixedAssets?.InspectionDate"></tb-date-input>
          <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_DATAINFUNZ" formatter="Date" [readonly]="false" [caption]="_TB('Placed In Service Date')" cmpId="IDC_FIXEDASSET_DATAINFUNZ" width="57" [model]="eventData?.model?.FixedAssets?.PlacedInServiceDate"></tb-date-input>
          <tb-combo *ngIf="eventData?.activation?.IDC_FIXEDASSET_ITEMADD_CODE" [caption]="_TB('Additional Code')" cmpId="IDC_FIXEDASSET_ITEMADD_CODE" width="104" [model]="eventData?.model?.FixedAssets?.ItemAdditionalCode"></tb-combo>
          <tb-label-static *ngIf="eventData?.activation?.IDC_FIXEDASSET_ITEMADD_DESCRI" cmpId="IDC_FIXEDASSET_ITEMADD_DESCRI" width="154" [model]="eventData?.model?.HKLItemsAdditionalCodes?.Description"></tb-label-static>
         </tb-tile>
         <tb-tile [title]="_TB('Cost Accounting')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COMPLETE_COSTACCOUNTING">
          <tb-text *ngIf="eventData?.activation?.IDC_FIXEDASSET_JOB" [caption]="_TB('Job')" cmpId="IDC_FIXEDASSET_JOB" width="74" [model]="eventData?.model?.FixedAssets?.Job"></tb-text>
          <tb-label-static *ngIf="eventData?.activation?.IDC_FIXEDASSET_DESCRI_JOB" cmpId="IDC_FIXEDASSET_DESCRI_JOB" width="154" [model]="eventData?.model?.HKLJob?.Description"></tb-label-static>
          <tb-combo *ngIf="eventData?.activation?.IDC_FIXEDASSET_CSTCENTER" [caption]="_TB('Cost Center')" cmpId="IDC_FIXEDASSET_CSTCENTER" width="62" [model]="eventData?.model?.FixedAssets?.CostCenter"></tb-combo>
          <tb-label-static *ngIf="eventData?.activation?.IDC_FIXEDASSET_DESCRI_CSTCENTER" cmpId="IDC_FIXEDASSET_DESCRI_CSTCENTER" width="154" [model]="eventData?.model?.HKLCstCenter?.Description"></tb-label-static>
          <tb-combo *ngIf="eventData?.activation?.IDC_FIXEDASSET_PRODUCTLINE" [caption]="_TB('Product Line')" cmpId="IDC_FIXEDASSET_PRODUCTLINE" width="62" [model]="eventData?.model?.FixedAssets?.ProductLine"></tb-combo>
          <tb-label-static *ngIf="eventData?.activation?.IDC_FIXEDASSET_DESCRI_PRODUCTLINE" cmpId="IDC_FIXEDASSET_DESCRI_PRODUCTLINE" width="154" [model]="eventData?.model?.HKLProductLine?.Description"></tb-label-static>
         </tb-tile>
        </tb-layoutcontainer>
        <tb-tile [title]="_TB('Image')" tbTileStandard >
         <tb-text [caption]="_TB('Name')" cmpId="IDC_FIXEDASSET_NAME_PICTURE" width="407" [model]="eventData?.model?.FixedAssets?.Picture"></tb-text>
         <tb-image [height]="124" [width]="406" cmpId="IDC_FIXEDASSET_FRAME_PICTURE" width="406" [model]="eventData?.model?.FixedAssets?.Picture"></tb-image>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Fiscal Depreciation')" icon="erp-depreciation" tbLayoutTypeVbox >
       <ng-template>
        <tb-tilepanel [title]="_TB('Fiscal Depreciation Data')" isCollapsible="eventData?.model?.bIsActivatedFinancialDepreciation" showAsTile="True">
         <tb-tile tbTileStandard  hasTitle="False" *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COMPLETE_TANGIBLEFADEPR_RO">
          <tb-radio cmpId="IDC_FIXEDASSET_FISCDEPRCTG" width="109" [model]="eventData?.model?.FiscDeprCtg" [caption]="_TB('Category  ')"></tb-radio>
<div class="anchored">          <tb-enum-combo [caption]="_TB('Method')" cmpId="IDC_FIXEDASSET_CTGMETHOD" width="91" [model]="eventData?.model?.CtgMethod" [itemSource]="IDC_FIXEDASSET_CTGMETHOD_itemSource"></tb-enum-combo>
          <tb-numeric-text-box formatter="Integer" disabled="true" cmpId="IDC_FIXEDASSET_LIFEPERIODCTG" width="30" [model]="eventData?.model?.LifePeriodCtg"></tb-numeric-text-box>
</div>          <tb-radio *ngIf="eventData?.activation?.IDC_FIXEDASSET_FISCDEPRPERS" cmpId="IDC_FIXEDASSET_FISCDEPRPERS" width="109" [model]="eventData?.model?.FixedAssets?.FiscalCustomized" [caption]="_TB('Custom  ')"></tb-radio>
<div class="anchored">          <tb-enum-combo *ngIf="eventData?.activation?.IDC_FIXEDASSET_METHOD" [caption]="_TB('Method')" cmpId="IDC_FIXEDASSET_METHOD" width="91" [model]="eventData?.model?.FixedAssets?.DepreciationMethod" [itemSource]="IDC_FIXEDASSET_METHOD_itemSource"></tb-enum-combo>
          <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_LIFEPERIOD" formatter="Integer" cmpId="IDC_FIXEDASSET_LIFEPERIOD" width="30" [model]="eventData?.model?.FixedAssets?.LifePeriod"></tb-numeric-text-box>
</div>          <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_ALANT" formatter="Percent" [caption]="_TB('Accelerated Coeff.')" cmpId="IDC_FIXEDASSET_ALANT" width="30" [model]="eventData?.model?.FixedAssets?.AcceleratedPerc"></tb-numeric-text-box>
         </tb-tile>
         <tb-tile tbTileStandard  hasTitle="False" *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COMPLETE_TANGIBLEFADEPR">
<div class="anchored">          <tb-radio cmpId="IDC_FIXEDASSET_FISCDEPRCTG" width="109" [model]="eventData?.model?.FiscDeprCtg" [caption]="_TB('Category  ')"></tb-radio>
          <tb-numeric-text-box formatter="Percent" disabled="true" cmpId="IDC_FIXEDASSET_ALFISCCTG" width="30" [model]="eventData?.model?.CtgFiscalPerc"></tb-numeric-text-box>
</div><div class="anchored">          <tb-radio cmpId="IDC_FIXEDASSET_FISCDEPRPERS" width="109" [model]="eventData?.model?.FixedAssets?.FiscalCustomized" [caption]="_TB('Custom  ')"></tb-radio>
          <tb-numeric-text-box formatter="Percent" cmpId="IDC_FIXEDASSET_ALFISC" width="30" [model]="eventData?.model?.FixedAssets?.FiscalPerc"></tb-numeric-text-box>
          <tb-label-static *ngIf="eventData?.activation?.IDC_FIXEDASSET_DEPRTYPE" cmpId="IDC_FIXEDASSET_DEPRTYPE" width="80" [model]="eventData?.model?.DeprType"></tb-label-static>
</div><div class="anchored">          <tb-numeric-text-box formatter="Percent" cmpId="IDC_FIXEDASSET_ALFISC" width="30" [model]="eventData?.model?.FixedAssets?.FiscalPerc"></tb-numeric-text-box>
          <tb-label-static *ngIf="eventData?.activation?.IDC_FIXEDASSET_DEPRTYPE" cmpId="IDC_FIXEDASSET_DEPRTYPE" width="80" [model]="eventData?.model?.DeprType"></tb-label-static>
</div>          <tb-checkbox *ngIf="eventData?.activation?.IDC_FIXEDASSET_AUTHORIZEINSUFFICIENT" cmpId="IDC_FIXEDASSET_AUTHORIZEINSUFFICIENT" width="109" [model]="eventData?.model?.FixedAssets?.AuthorizeInsufficient" [caption]="_TB('Authorize Insufficient  ')"></tb-checkbox>
         </tb-tile>
         <tb-tile tbTileStandard  hasTitle="False" *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COMPLETE_TANGIBLEFADEPR_ADVANCED">
          <tb-section-title cmpId="IDC_STATIC_ACCELERATED_SEPARATOR" width="325" [caption]="_TB('Accelerated')"></tb-section-title>
<div class="anchored">          <tb-radio cmpId="IDC_FIXEDASSET_ACCELDEPRCTG" width="109" [model]="eventData?.model?.AccelDeprCtg" [caption]="_TB('Category  ')"></tb-radio>
          <tb-numeric-text-box formatter="Percent" disabled="true" cmpId="IDC_FIXEDASSET_ALANTCTG" width="30" [model]="eventData?.model?.DepreciationAccPerc"></tb-numeric-text-box>
</div><div class="anchored">          <tb-radio cmpId="IDC_FIXEDASSET_ACCELERATEDDEPRPERS" width="109" [model]="eventData?.model?.FixedAssets?.AcceleratedCustomized" [caption]="_TB('Custom  ')"></tb-radio>
          <tb-numeric-text-box formatter="Percent" cmpId="IDC_FIXEDASSET_ALANT" width="30" [model]="eventData?.model?.FixedAssets?.AcceleratedPerc"></tb-numeric-text-box>
</div>         </tb-tile>
        </tb-tilepanel>
        <tb-tile [title]="_TB('Fiscal Depreciation Data')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COMPLETE_INTANGIBLEFADEPRRO">
         <tb-radio cmpId="IDC_FIXEDASSET_FISCDEPRCTG" width="109" [model]="eventData?.model?.FiscDeprCtg" [caption]="_TB('Category  ')"></tb-radio>
<div class="anchored">         <tb-enum-combo *ngIf="eventData?.activation?.IDC_FIXEDASSET_CTGMETHOD" [caption]="_TB('Method')" cmpId="IDC_FIXEDASSET_CTGMETHOD" width="91" [model]="eventData?.model?.CtgMethod" [itemSource]="IDC_FIXEDASSET_CTGMETHOD_itemSource"></tb-enum-combo>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_LIFEPERIODCTG" formatter="Integer" disabled="true" cmpId="IDC_FIXEDASSET_LIFEPERIODCTG" width="30" [model]="eventData?.model?.LifePeriodCtg"></tb-numeric-text-box>
</div>         <tb-radio *ngIf="eventData?.activation?.IDC_FIXEDASSET_FISCDEPRPERS" cmpId="IDC_FIXEDASSET_FISCDEPRPERS" width="109" [model]="eventData?.model?.FixedAssets?.FiscalCustomized" [caption]="_TB('Custom  ')"></tb-radio>
<div class="anchored">         <tb-enum-combo *ngIf="eventData?.activation?.IDC_FIXEDASSET_METHOD" [caption]="_TB('Method')" cmpId="IDC_FIXEDASSET_METHOD" width="91" [model]="eventData?.model?.FixedAssets?.DepreciationMethod" [itemSource]="IDC_FIXEDASSET_METHOD_itemSource"></tb-enum-combo>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_LIFEPERIOD" formatter="Integer" cmpId="IDC_FIXEDASSET_LIFEPERIOD" width="30" [model]="eventData?.model?.FixedAssets?.LifePeriod"></tb-numeric-text-box>
</div>         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_ALANT" formatter="Percent" [caption]="_TB('Accelerated Coeff.')" cmpId="IDC_FIXEDASSET_ALANT" width="30" [model]="eventData?.model?.FixedAssets?.AcceleratedPerc"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Fiscal Depreciation Data')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COMPLETE_INTANGIBLEFADEPR">
<div class="anchored">         <tb-caption cmpId="IDC_STATIC" width="46" [caption]="_TB('Percentage')"></tb-caption>
         <tb-caption *ngIf="eventData?.activation?.IDC_FIXEDASSET_STATIC_LIFEPERIODCTG" cmpId="IDC_FIXEDASSET_STATIC_LIFEPERIODCTG" width="41" [caption]="_TB('Life Period')"></tb-caption>
</div><div class="anchored">         <tb-radio cmpId="IDC_FIXEDASSET_FISCDEPRCTG" width="109" [model]="eventData?.model?.FiscDeprCtg" [caption]="_TB('Category  ')"></tb-radio>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_ALFISCCTG" formatter="Percent" disabled="true" cmpId="IDC_FIXEDASSET_ALFISCCTG" width="30" [model]="eventData?.model?.CtgFiscalPerc"></tb-numeric-text-box>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_LIFEPERIODCTG" formatter="Integer" disabled="true" cmpId="IDC_FIXEDASSET_LIFEPERIODCTG" width="30" [model]="eventData?.model?.LifePeriodCtg"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_ALFISCCTG" formatter="Percent" disabled="true" cmpId="IDC_FIXEDASSET_ALFISCCTG" width="30" [model]="eventData?.model?.CtgFiscalPerc"></tb-numeric-text-box>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_LIFEPERIODCTG" formatter="Integer" disabled="true" cmpId="IDC_FIXEDASSET_LIFEPERIODCTG" width="30" [model]="eventData?.model?.LifePeriodCtg"></tb-numeric-text-box>
</div><div class="anchored">         <tb-radio cmpId="IDC_FIXEDASSET_FISCDEPRPERS" width="109" [model]="eventData?.model?.FixedAssets?.FiscalCustomized" [caption]="_TB('Custom  ')"></tb-radio>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_ALFISC" formatter="Percent" cmpId="IDC_FIXEDASSET_ALFISC" width="30" [model]="eventData?.model?.FixedAssets?.FiscalPerc"></tb-numeric-text-box>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_LIFEPERIOD" formatter="Integer" cmpId="IDC_FIXEDASSET_LIFEPERIOD" width="30" [model]="eventData?.model?.FixedAssets?.LifePeriod"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_ALFISC" formatter="Percent" cmpId="IDC_FIXEDASSET_ALFISC" width="30" [model]="eventData?.model?.FixedAssets?.FiscalPerc"></tb-numeric-text-box>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_FIXEDASSET_LIFEPERIOD" formatter="Integer" cmpId="IDC_FIXEDASSET_LIFEPERIOD" width="30" [model]="eventData?.model?.FixedAssets?.LifePeriod"></tb-numeric-text-box>
</div>        </tb-tile>
        <tb-tilepanel [title]="_TB('eventData?.model?.TitleFiscalDeprGrp')" isCollapsible="eventData?.model?.bIsActivatedFinancialDepreciation">
         <tb-tile tbTileAutoFill  hasTitle="False">
          <tb-body-edit cmpId="IDC_FIXEDASSET_BODY_FISC_COMP" width="652" [model]="eventData?.model?.FiscalDepr">
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_FISCALYEARFISC" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_FISCALYEARFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_FISCDEPRTOT" [title]="_TB('Tot. Depreciable')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_FISCDEPRTOT">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_NOTDEPRECIABLE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_NOTDEPRECIABLE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_INACCUMDEPRFISC" [title]="_TB('Initial Accum. Depr. ')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_INACCUMDEPRFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_INACCUMDEPRANT" [title]="_TB('Initial Accel. Accum. Depr. ')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_INACCUMDEPRANT" *ngIf="eventData?.activation?.IDC_FIXEDASSET_INACCUMDEPRANT">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOSTACCUMDEPRIN" [title]="_TB('In. Tot. Lost Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOSTACCUMDEPRIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_FISCALPERC" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_FISCALPERC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_DEPRECIATIONFISC" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_DEPRECIATIONFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_ACCELDEPR" [title]="_TB('Accelerated Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_ACCELDEPR" *ngIf="eventData?.activation?.IDC_FIXEDASSET_ACCELDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOSTDEPR" [title]="_TB('Lost Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOSTDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_FISCACCUMDEPR" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_FISCACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_ACCACCUMDEPR" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_ACCACCUMDEPR" *ngIf="eventData?.activation?.IDC_FIXEDASSET_ACCACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOSTACCUMDEPR" [title]="_TB('Tot. Lost Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOSTACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RESFISC" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RESFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_CHARGESFISC" [title]="_TB('Charges')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_CHARGESFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_MAINTENANCECHARGES" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_MAINTENANCECHARGES" *ngIf="eventData?.activation?.IDC_FIXEDASSET_MAINTENANCECHARGES">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_REPAIRSCHARGES" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_REPAIRSCHARGES" *ngIf="eventData?.activation?.IDC_FIXEDASSET_REPAIRSCHARGES">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_CHARGESAM" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_CHARGESAM" *ngIf="eventData?.activation?.IDC_FIXEDASSET_CHARGESAM">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_CHARGESTR" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_CHARGESTR" *ngIf="eventData?.activation?.IDC_FIXEDASSET_CHARGESTR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_REVALUATIONFISC" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_REVALUATIONFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_ADDITDEPRFISC" [title]="_TB('Devaluation')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_ADDITDEPRFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_DEPRINTOTFISC" [title]="_TB('Tot. Initial Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_DEPRINTOTFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_INITIALNOTDEPRECIABLE" [title]="_TB('Initial Non-Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_INITIALNOTDEPRECIABLE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_INCREMENTALCHARGESFISC" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_INCREMENTALCHARGESFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RETURNEDMATERIALNFISC" [title]="_TB('Initial Net Book Value')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RETURNEDMATERIALNFISC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_SALES" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_SALES">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_SCRAPS" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_SCRAPS">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_CAPITALGAIN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_CAPITALGAIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_CAPITALLOSS" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_CAPITALLOSS">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_WINDFLOSS" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_WINDFLOSS">
           </tb-body-edit-column>
          </tb-body-edit>
         </tb-tile>
        </tb-tilepanel>
        <tb-layoutcontainer isCollapsible="True" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_CONTAINER_FINANCIALDEPRECIATION">
         <tb-tile [title]="_TB('Financial Depreciation Data')" tbTileWide  isCollapsible="True" isCollapsed="True">
<div class="col col1">          <tb-numeric-text-box formatter="Integer" [caption]="_TB('Authorization Period')" cmpId="IDC_FIXEDASSET_AUTHORIZATIONPERIOD" width="30" [model]="eventData?.model?.FixedAssets?.AuthorizationPeriod"></tb-numeric-text-box>
</div><div class="col col2">          <tb-numeric-text-box formatter="Money" [caption]="_TB('Assignor Contribution')" cmpId="IDC_FIXEDASSET_ASSIGNORCONTRIBUTION" width="68" [model]="eventData?.model?.FixedAssets?.AssignorContribution"></tb-numeric-text-box>
          <tb-numeric-text-box formatter="Money" [caption]="_TB('Assignor Contribution in local currency')" cmpId="IDC_FIXEDASSET_ASSIGNORCONTRIBUTIONVAL" width="68" [model]="eventData?.model?.FixedAssets?.AssignorContributionCurr"></tb-numeric-text-box>
</div>         </tb-tile>
         <tb-tile [title]="_TB('Financial Depreciation')" tbTileAutoFill  isCollapsible="True" isCollapsed="False" hasTitle="True">
          <tb-body-edit cmpId="IDC_FIXEDASSET_BODY_FIN" width="652" [model]="eventData?.model?.FinancialDepreciation">
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_FISCALYEARFIN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_FISCALYEARFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_FINDEPRTOT" [title]="_TB('Tot. Depreciable')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_FINDEPRTOT">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RENEWALRESERVE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RENEWALRESERVE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_INACCUMDEPRFIN" [title]="_TB('Initial Accum. Depr. ')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_INACCUMDEPRFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_INRENEWALACCUMDEPR" [title]="_TB('Initial Renewal Reserve')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_INRENEWALACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_DEPRECIATIONFIN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_DEPRECIATIONFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_FINACCUMDEPR" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_FINACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RESFIN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RESFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RENEWALDEPR" [title]="_TB('Renewal Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RENEWALDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RENEWALACCUMDEPR" [title]="_TB('Renewal Reserve')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RENEWALACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RESRINN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RESRINN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_CHARGESFIN" [title]="_TB('Charges')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_CHARGESFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_DEPRINTOTFIN" [title]="_TB('Tot. Initial Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_DEPRINTOTFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RETURNEDMATERIALNFIN" [title]="_TB('Initial Net Book Value')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RETURNEDMATERIALNFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_INITIALRENEWALRESERVE" [title]="_TB('Initial Ren. Reserve')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_INITIALRENEWALRESERVE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RESRINNIN" [title]="_TB('Initial Renewal Net Book Value')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RESRINNIN">
           </tb-body-edit-column>
          </tb-body-edit>
         </tb-tile>
         <tb-tile [title]="_TB('Financial Depreciation in local currency')" tbTileAutoFill  isCollapsible="True" isCollapsed="True" hasTitle="True" *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COMPLETE_FINDEPR_BE_LOCALCURR">
          <tb-body-edit cmpId="IDC_FIXEDASSET_BODY_FIN" width="652" [model]="eventData?.model?.FinancialDeprDomestic">
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_FISCALYEARFIN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_FISCALYEARFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_FINDEPRTOT" [title]="_TB('Tot. Depreciable')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_FINDEPRTOT">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_RENEWALRESERVE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_RENEWALRESERVE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_INACCUMDEPRFIN" [title]="_TB('Initial Accum. Depr. ')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_INACCUMDEPRFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_INRENEWALACCUMDEPR" [title]="_TB('Initial Renewal Reserve')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_INRENEWALACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_DEPRECIATIONFIN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_DEPRECIATIONFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_FINACCUMDEPR" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_FINACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_RESFIN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_RESFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_RENEWALDEPR" [title]="_TB('Renewal Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_RENEWALDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_RENEWALACCUMDEPR" [title]="_TB('Renewal Reserve')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_RENEWALACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_RESRINN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_RESRINN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_CHARGESFIN" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_CHARGESFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_DEPRINTOTFIN" [title]="_TB('Tot. Initial Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_DEPRINTOTFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_RETURNEDMATERIALNFIN" [title]="_TB('Initial Net Book Value')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_RETURNEDMATERIALNFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_INITIALRENEWALRESERVE" [title]="_TB('Initial Ren. Reserve')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_INITIALRENEWALRESERVE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LOCAL_RESRINNIN" [title]="_TB('Initial Renewal Net Book Value')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LOCAL_RESRINNIN">
           </tb-body-edit-column>
          </tb-body-edit>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Balance Depreciation')" icon="erp-depreciation" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_FIXEDASSETS_BALANCEDEPR">
       <ng-template>
        <tb-tile [title]="_TB('Balance Depreciation')" tbTileWide  *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COMPLETE_BALDEPRRO">
<div class="col col1">         <tb-radio cmpId="IDC_FIXEDASSET_BALDEPRCTG" width="109" [model]="eventData?.model?.BalDeprCtg" [caption]="_TB('Category  ')"></tb-radio>
<div class="anchored">         <tb-enum-combo [caption]="_TB('Method')" cmpId="IDC_FIXEDASSET_CTGBALMETHOD" width="132" [model]="eventData?.model?.BalCtgMethod"></tb-enum-combo>
         <tb-numeric-text-box formatter="Integer" disabled="true" cmpId="IDC_FIXEDASSET_BALLIFEPERIODCTG" width="30" [model]="eventData?.model?.BalLifePeriodCtg"></tb-numeric-text-box>
</div>         <tb-radio cmpId="IDC_FIXEDASSET_BALDEPRPERS" width="109" [model]="eventData?.model?.FixedAssets?.BalanceCustomized" [caption]="_TB('Custom  ')"></tb-radio>
         <tb-combo [caption]="_TB('Template')" cmpId="IDC_FIXEDASSET_DEPRTEMPLATE" width="62" [model]="eventData?.model?.FixedAssets?.DeprTemplate"></tb-combo>
<div class="anchored">         <tb-enum-combo [caption]="_TB('Method')" cmpId="IDC_FIXEDASSET_BALMETHOD" width="132" [model]="eventData?.model?.FixedAssets?.BalanceDepreciationMethod"></tb-enum-combo>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_FIXEDASSET_BALLIFEPERIOD" width="30" [model]="eventData?.model?.FixedAssets?.BalanceLifePeriod"></tb-numeric-text-box>
</div></div><div class="col col2">         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Last Life Period Change Date')" cmpId="IDC_FIXEDASSET_LASTBALLIFEPERIODCHANGE" width="57" [model]="eventData?.model?.FixedAssets?.BalLifePeriodChangeDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Last Method Change Date')" cmpId="IDC_FIXEDASSET_LASTBALMETHODCHANGE" width="57" [model]="eventData?.model?.FixedAssets?.BalMethodChangeDate"></tb-date-input>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Balance Depreciation')" tbTileWide  *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COMPLETE_BALDEPR">
<div class="col col1"><div class="anchored">         <tb-radio cmpId="IDC_FIXEDASSET_BALDEPRCTG" width="109" [model]="eventData?.model?.BalDeprCtg" [caption]="_TB('Category  ')"></tb-radio>
         <tb-numeric-text-box formatter="Percent" disabled="true" cmpId="IDC_FIXEDASSET_ALBALANCECTG" width="30" [model]="eventData?.model?.BalancePercCtg"></tb-numeric-text-box>
</div><div class="anchored">         <tb-radio cmpId="IDC_FIXEDASSET_BALDEPRPERS" width="109" [model]="eventData?.model?.FixedAssets?.BalanceCustomized" [caption]="_TB('Custom  ')"></tb-radio>
         <tb-numeric-text-box formatter="Percent" cmpId="IDC_FIXEDASSET_ALBALANCE" width="30" [model]="eventData?.model?.FixedAssets?.BalancePerc"></tb-numeric-text-box>
</div></div><div class="col col2"><div class="anchored">         <tb-checkbox *ngIf="eventData?.activation?.IDC_FIXEDASSET_ALIGNED" cmpId="IDC_FIXEDASSET_ALIGNED" width="109" [model]="eventData?.model?.FixedAssets?.Aligned" [caption]="_TB('Aligned  ')"></tb-checkbox>
         <tb-date-input *ngIf="eventData?.activation?.IDC_FIXEDASSET_ALIGNED_DATE" formatter="Date" [readonly]="false" cmpId="IDC_FIXEDASSET_ALIGNED_DATE" width="57" [model]="eventData?.model?.FixedAssets?.AlignmentDate"></tb-date-input>
</div></div>        </tb-tile>
        <tb-tilepanel>
         <tb-tile tbTileAutoFill  hasTitle="False">
          <tb-body-edit cmpId="IDC_FIXEDASSET_BODY_BALANCE" width="650" [model]="eventData?.model?.BalanceDepreciation">
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_FISCALYEARBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_FISCALYEARBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column formatter="Integer" cmpId="IDC_FIXEDASSET_CHARGESFIN" columnName="LifePeriod" [title]="_TB('Life Period')" columnType="tb-numeric-text-box" columnName="IDC_FIXEDASSET_CHARGESFIN" *ngIf="eventData?.activation?.IDC_FIXEDASSET_CHARGESFIN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RESRINN" columnName="DepreciationMethod" [title]="_TB('Method')" columnType="tb-enum-combo" columnName="IDC_FIXEDASSET_RESRINN" *ngIf="eventData?.activation?.IDC_FIXEDASSET_RESRINN">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_BALDEPRTOT" [title]="_TB('Tot. Depreciable')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_BALDEPRTOT">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_LIQUIDATION" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_LIQUIDATION">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_INACCUMDEPRBALANCE" [title]="_TB('Initial Accum. Depr. ')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_INACCUMDEPRBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_BALANCEPERC" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_BALANCEPERC">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_DEPRECIATIONBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_DEPRECIATIONBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_BALACCUMDEPR" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_BALACCUMDEPR">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RESBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RESBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_CHARGESBALANCE" [title]="_TB('Charges')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_CHARGESBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_REVALUATIONBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_REVALUATIONBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_ADDITDEPRBALANCE" [title]="_TB('Devaluation')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_ADDITDEPRBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_INCREMENTALCHARGESBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_INCREMENTALCHARGESBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_SALESBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_SALESBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_SCRAPSBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_SCRAPSBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_CAPITALGAINBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_CAPITALGAINBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_CAPITALLOSSBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_CAPITALLOSSBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_WINDFLOSSBALANCE" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_WINDFLOSSBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_DEPRINTOTBALANCE" [title]="_TB('Tot. Initial Depr.')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_DEPRINTOTBALANCE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_FIXEDASSET_RETURNEDMATERIALNBALANCE" [title]="_TB('Initial Net Book Value')" columnType="tb-body-edit-column" columnName="IDC_FIXEDASSET_RETURNEDMATERIALNBALANCE">
           </tb-body-edit-column>
          </tb-body-edit>
         </tb-tile>
        </tb-tilepanel>
        <tb-tile [title]="_TB('Balance Periods Plan')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETS_COEFF">
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Step')" cmpId="IDC_FIXEDASSET_STEP" width="30" [model]="eventData?.model?.FixedAssets?.BalanceStep"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Double" [caption]="_TB('Activity')" cmpId="IDC_FIXEDASSET_TOTACTIVITY" width="50" [model]="eventData?.model?.FixedAssets?.Activity"></tb-numeric-text-box>
         <tb-body-edit cmpId="IDC_FIXEDASSET_BODY_COEFF" width="325" [model]="eventData?.model?.Coeff">
          <tb-body-edit-column formatter="Integer" cmpId="IDC_FIXEDASSET_FROM" columnName="FromPeriod" [title]="_TB('From Period')" columnType="tb-numeric-text-box" columnName="IDC_FIXEDASSET_FROM">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_FIXEDASSET_TO" columnName="ToPeriod" [title]="_TB('To Period')" columnType="tb-numeric-text-box" columnName="IDC_FIXEDASSET_TO">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Percent" cmpId="IDC_FIXEDASSET_REGRCOEFF" columnName="RegrCoeff" [title]="_TB('Coefficient')" columnType="tb-numeric-text-box" columnName="IDC_FIXEDASSET_REGRCOEFF">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Percent" cmpId="IDC_FIXEDASSET_PERC" columnName="Perc" [title]="_TB('Percentage')" columnType="tb-numeric-text-box" columnName="IDC_FIXEDASSET_PERC">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Double" cmpId="IDC_FIXEDASSET_ACTIVITY" columnName="Activity" [title]="_TB('Activity')" columnType="tb-numeric-text-box" columnName="IDC_FIXEDASSET_ACTIVITY">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Disabled Periods')" icon="tb-calendar" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_FIXEDASSETS_DISABLEPERIODS">
       <ng-template>
        <tb-tile [title]="_TB('Disabled Periods')" tbTileAutoFill >
         <tb-body-edit cmpId="IDC_FIXEDASSET_BODY_PERIOD" width="410" [model]="eventData?.model?.Period">
          <tb-body-edit-column cmpId="IDC_FIXEDASSET_FISCALYEARPERIOD" columnName="FiscalYear" [title]="_TB('Fiscal Year')" columnType="tb-combo" columnName="IDC_FIXEDASSET_FISCALYEARPERIOD">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_FIXEDASSET_PERIOD" columnName="FiscalPeriod" [title]="_TB('Period')" columnType="tb-numeric-text-box" columnName="IDC_FIXEDASSET_PERIOD" *ngIf="eventData?.activation?.IDC_FIXEDASSET_PERIOD">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FIXEDASSET_DEPRDISABLED" columnName="DeprDisabled" [title]="_TB('Fiscal Depr. Disabled')" columnType="tb-checkbox" columnName="IDC_FIXEDASSET_DEPRDISABLED" *ngIf="eventData?.activation?.IDC_FIXEDASSET_DEPRDISABLED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FIXEDASSET_BALDEPRDISABLED" columnName="BalanceDeprDisabled" [title]="_TB('Balance Depr. Disabled')" columnType="tb-checkbox" columnName="IDC_FIXEDASSET_BALDEPRDISABLED" *ngIf="eventData?.activation?.IDC_FIXEDASSET_BALDEPRDISABLED">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
