.connecting-container {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    .connecting {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .k-icon.k-i-loading {
            font-size: 64px;
            color: #fff;
        }
        .text {
            font-size: 12px;
            color: #fff;
        }
    }
}