<tb-frame>
    <tb-toolbar-top>
    </tb-toolbar-top>
    <tb-frame-content>
        <tb-view-container>
            <tb-view>
                <tb-tilemanager>
                    <tb-tilegroup [title]="'Languages'" icon="erp-europe">
                        <tb-layoutcontainer tbLayoutTypeColumn>
                            <tb-tile [title]="_TB('Select Language')" tbTileStandard>
                                <tb-culture-selector *ngIf="!isDesktop"></tb-culture-selector>
                            </tb-tile>
                        </tb-layoutcontainer>
                    </tb-tilegroup>
                    <tb-tilegroup [title]="'Profile'" icon="tb-user">
                        Profile
                    </tb-tilegroup>
                </tb-tilemanager>
            </tb-view>
        </tb-view-container>
    </tb-frame-content>
</tb-frame>