<tb-frame>
    <tb-toolbar-top>
    </tb-toolbar-top>
    <tb-frame-content>
        <tb-view-container>
            <tb-view>
                <tb-tile-manager>
                    <tb-tile-manager-tab title="{{_TB('Selections')}}" icon="erp-europe">
                        <ng-template>
                            <tb-tile-group tbLayoutTypeVbox>
                                <tb-tile title="{{_TB('Select language')}}" *ngIf="!isDesktop" tbTileAutoFill>
                                    <tb-culture-selector></tb-culture-selector>
                                </tb-tile>
                                <tb-tile title="{{_TB('Select theme')}}" tbTileStandard>
                                    <tb-theme-changer></tb-theme-changer>
                                </tb-tile>
                            </tb-tile-group>
                        </ng-template>
                    </tb-tile-manager-tab>
                    <tb-tile-manager-tab title="{{_TB('Product info')}}" icon="tb-info">
                        <ng-template>
                            <tb-tile-group>
                                <tb-layout-container tbLayoutTypeColumn>
                                    <tb-tile title="{{_TB('Product info')}}" tbTileStandard>
                                        <tb-product-info></tb-product-info>
                                    </tb-tile>
                                    <tb-tile title="{{_TB('Connection Info')}}" tbTileStandard>
                                        <tb-connection-info></tb-connection-info>
                                    </tb-tile>
                                </tb-layout-container>
                            </tb-tile-group>
                        </ng-template>
                    </tb-tile-manager-tab>
                </tb-tile-manager>
            </tb-view>
        </tb-view-container>
    </tb-frame-content>
</tb-frame>