<tb-frame>
    <tb-toolbar-top>
    </tb-toolbar-top>
    <tb-frame-content>
        <tb-view-container>
            <tb-view>
                <tb-tilemanager>
                    <tb-tilegroup title="{{_TB('Selections')}}" icon="erp-europe" tbLayoutTypeVbox>
                        <ng-template>
                            <tb-tile title="{{_TB('Select language')}}" *ngIf="!isDesktop" tbTileAutoFill>
                                <tb-culture-selector></tb-culture-selector>
                            </tb-tile>
                            <tb-tile title="{{_TB('Select theme')}}" tbTileStandard>
                                <tb-theme-changer></tb-theme-changer>
                            </tb-tile>
                        </ng-template>
                    </tb-tilegroup>
                    <tb-tilegroup title="{{_TB('Product info')}}" icon="tb-info">
                        <ng-template>
                            <tb-layoutcontainer tbLayoutTypeColumn>
                                <tb-tile title="{{_TB('Product info')}}" tbTileStandard>
                                    <tb-product-info></tb-product-info>
                                </tb-tile>
                                <tb-tile title="{{_TB('Connection Info')}}" tbTileStandard>
                                    <tb-connection-info></tb-connection-info>
                                </tb-tile>
                            </tb-layoutcontainer>
                        </ng-template>
                    </tb-tilegroup>

                    <tb-tilegroup title="{{_TB('Account Info')}}" icon="tb-user">
                        <ng-template>
                            <tb-layoutcontainer tbLayoutTypeColumn>
                                <tb-tile title="{{_TB('Account Info')}}" tbTileStandard>
                                    <!-- CHANGE PASSWORD -->
                                    <tb-change-password-host></tb-change-password-host>
                                </tb-tile>
                            </tb-layoutcontainer>
                        </ng-template>
                    </tb-tilegroup>
                </tb-tilemanager>
            </tb-view>
        </tb-view-container>
    </tb-frame-content>
</tb-frame>