<div [ngSwitch]="ro.controlType">

    <rs-rectangle [ro]="ro" rsReportObject="ro" *ngSwitchCase="reportObjectType.RECTANGLE"> </rs-rectangle>

    <rs-image [ro]="ro" rsReportObject="ro" *ngSwitchCase="reportObjectType.IMAGE"> </rs-image>

    <rs-text [ro]="ro" rsReportObject="ro" *ngSwitchCase="reportObjectType.TEXT"> </rs-text>

    <rs-file [ro]="ro" rsReportObject="ro" *ngSwitchCase="reportObjectType.FILE"> </rs-file>

    <rs-table [ro]="ro" rsReportObject="ro" *ngSwitchCase="reportObjectType.TABLE"> </rs-table>

</div>
