<div ng-controller="SearchController">
    <div role="search" class="searchDropdown">
        <input class="form-control " id="searchbox" type="text" ng-model="nameFilter" uib-typeahead="Item for Item in searchSources | filter:searchFilter($viewValue) | limitTo:settingsService.nrMaxItemsSearch | orderBy:'title'"
               typeahead-template-url="templates/Common/searchItem.html"  typeahead-on-select='onSelect($item, $model, $label); nameFilter = ""' placeholder="{{::localizationService.getLocalizedElement('SearchLabel')}}" />
    </div>
    <div class="btn-group advacedSearchList"  uib-dropdown>
        <div class="uib-dropdown-toggle link" uib-dropdown-toggle>

            <div class="glyphicon glyphicon-chevron-down" ></div>

        </div>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <li>
                <div ng-click="setSearchInDocument(); $event.stopPropagation()" class="link">
                    <input type="checkbox" name="searchInDocument" ng-model="searchInDocument" class="advancedSearchItem loginStyleTextCheckbox loginStyleChecked" ng-click="setSearchInDocument();" />
                    <label for="searchInDocument" class="advancedSearchItem" >{{::localizationService.getLocalizedElement('SearchInDocuments')}}</label>
                </div>
                <div ng-click="setSearchInReport(); $event.stopPropagation()">
                    <input type="checkbox" name="searchInReport" ng-model="searchInReport" class="advancedSearchItem loginStyleTextCheckbox loginStyleChecked" ng-click="setSearchInReport();" />
                    <label for="searchInReport" class="advancedSearchItem"> {{::localizationService.getLocalizedElement('SearchInReports')}}</label>
                </div>

                <div ng-click ="setSearchInBatch(); $event.stopPropagation()">
                    <input type="checkbox" name="searchInBatch" ng-model="searchInBatch" class="advancedSearchItem loginStyleTextCheckbox loginStyleChecked" ng-click="setSearchInBatch();" />
                    <label for="searchInBatch" class="advancedSearchItem">{{::localizationService.getLocalizedElement('SearchInBatches')}}</label>
                </div>
                <div ng-click="setStartsWith(); $event.stopPropagation()" id="matchPhrase" >
                    <input type="checkbox" name="startsWith" ng-model="startsWith" class="advancedSearchItem loginStyleTextCheckbox loginStyleChecked" ng-click="setStartsWith();" />
                    <label for="matchExactPhrase" class="advancedSearchItem" >{{::localizationService.getLocalizedElement('StartsWith')}}</label>
                </div>
            </li>
        </ul>
    </div>
</div>