<div ng-controller="CustomizationContextController">
	<div style="display:inline-flex;" ng-show="isCustomizationContextVisible()">
		<table style="display:inline-block;padding-right:20px; font-size:smaller" id="custContextBox">
			<tr>
				<td style="text-align:right; padding-right:5px;">
					{{::localizationService.getLocalizedElement('CurrentApplication')}}:
				</td>
				<td><b>{{easyStudioService.currentApplication}}</b></td>
			</tr>
			<tr>
				<td style="text-align:right; padding-right:5px;">
					{{::localizationService.getLocalizedElement('CurrentModule')}}:
				</td>
				<td><b>{{easyStudioService.currentModule}}</b></td>
			</tr>
		</table>
	</div>
	<div style="display:inline-block; padding-top:10px; font-size:large;" ng-show="settingsService.isEasyStudioActivated">
		<div ng-show="isCustomizationContextVisible()" class="glyphicon glyphicon-off link" ng-click="closeCustomizationContext()" uib-tooltip="{{::localizationService.getLocalizedElement('CloseCustomizationContext')}}" tooltip-placement="bottom" tooltip-popup-delay="500" tooltip-animation="false">
		</div>

		<div class="glyphicon glyphicon-star-empty link" ng-click="openDefaultContext()" ng-show="!isCustomizationContextVisible()" uib-tooltip="{{::localizationService.getLocalizedElement('OpenDefaultContext')}}" tooltip-placement="bottom" tooltip-popup-delay="500" tooltip-animation="false">
		</div>

		<div ng-show="settingsService.isEasyStudioActivated" class="glyphicon glyphicon-edit link" style="padding-left:10px" ng-click="changeCustomizationContext()" uib-tooltip="{{::localizationService.getLocalizedElement('ChangeCustomizationContext')}}" tooltip-placement="bottom" tooltip-popup-delay="500" tooltip-animation="false">
		</div>
	</div>

</div>
