<div class="btn-group customizationsDropDown" uib-dropdown style="position:absolute;">
	<div class="dropdown-toggle" uib-dropdown-toggle style="padding-top:-10px">
		<div class="imageSmall easyStudio" style="" ng-click="easyStudioService.initEasyStudioData(object)"></div>
	</div>
	<div class="dropdown-menu pull-right customizationItems" ng-controller="CustomizationContextController" uib-dropdown-menu role="menu" style="width:300px; min-height:100px; margin-top:-1px;">
		<div class="itemSelected" ng-show="object.isDesignable">
			<div ng-click="openEasyStudioAndContextIfNeeded(object)">{{::localizationService.getLocalizedElement('OpenEasyStudioNewCustomization')}}</div>
		</div>
        <div class="itemSelected" ng-show="object.isDesignable && !easystudioService.isEasyStudioDocument(object)">
            <div ng-click="cloneAsEasyStudioDocumentIfNeeded(object)">{{::localizationService.getLocalizedElement('CloneEasyStudioDocument')}}</div>
        </div>
		<div class="is-disabled" ng-show="!object.isDesignable">
			<div>{{::localizationService.getLocalizedElement('NotDesignableDocument')}}</div>
		</div>
		<div ng-show="object.Customizations !== undefined && object.Customizations.length > 0">
			<hr />
			{{::localizationService.getLocalizedElement('OpenEasyStudioWithCustomization')}}:
			<div ng-repeat="customization in object.Customizations | repeatFilter" class="itemSelected" ng-init="easyStudioService.getCustomizationTooltip(customization)" uib-tooltip-html="customization.toolTip" ng-class="{'is-disabled': !easyStudioService.isCustomizationEnabled(customization)}" tooltip-placement="bottom" tooltip-popup-delay="500" tooltip-animation="false">
				<div style="padding-left:30px" ng-click="openEasyStudioAndContextIfNeeded(object, customization)">{{customization.customizationName}}</div>
			</div>
			<div style="margin-bottom:40px;"></div>
		</div>
	</div>
</div>