<span>
    <div style="display:inline-block; white-space:nowrap; overflow:hidden;text-overflow: ellipsis; width:100%; height:24px;">

        <ng-Menuitemimage style="display:inline-block;" ng-click="menuService.runFunction(object)" class="link">
        </ng-Menuitemimage>

        <div class="truncate link" style="display:inline-block" ng-click="menuService.runFunction(object)" uib-tooltip="{{::menuService.getTileTooltip(object)}}" tooltip-popup-delay="500" tooltip-animation="false" tooltip-append-to-body="true">
            {{::object.title}}
        </div>

        <div style="display:inline-block; height:100%">
            <div style="" class="link imageSmall" ng-class="{'favorite': object.isFavorite, 'unFavorite': !object.isFavorite}" ng-click="menuService.toggleFavorites(object)" ng-if="object.isFavorite || starHover">
            </div>
            <ng-Itemcustomizationsdropdown class="link" style="margin-top:-2px" ng-if="easyStudioService.canShowEasyStudioButton(object)"  uib-tooltip="{{::localizationService.getLocalizedElement('EasyStudioOptions')}}" tooltip-popup-delay="500" tooltip-animation="false" tooltip-append-to-body="true" ng-show="starHover">
            </ng-Itemcustomizationsdropdown>
        </div>
    </div>
</span>