.modal
{
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba( 255, 255, 255, .8 ) url('ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading
{
	overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal
{
	display: block;
}
.editedElement
{
	border: 2px solid blue !important;
}

.object-drop-target.object-drop-target-hover {
    border: solid red;
}

.hiddenElement
{
	border: 1px dashed black !important;
}

.icon-add {
    background-image: url("editorImages/add.png") !important;
}

.icon-delete {
    background-image: url("editorImages/delete.png") !important;
}


.elementUpdated {
    border: 2px dashed black !important;
}