<div class="sidenav-header-left">
    <m4-icon icon="tb-menufilled" id="close-sidebar" (click)="toggleSidenavLeft()"></m4-icon>
    <div class="sidenav-title">
        <img src="assets/images/logoM4_h40.png" />
    </div>
</div>

<div class="sidenav-subtitle">
    <h4>{{_TB('Applications')}}</h4>
</div>
<tb-application-selector></tb-application-selector>

<div class="sidenav-subtitle">
    <h4>{{_TB('Modules')}}</h4>
</div>
<tb-group-selector (itemSelected)="toggleSidenavLeft(true)"></tb-group-selector>