.mat-radio-checked .mat-radio-outer-circle {
    border-color: #4169E1 !important;
}

.mat-radio-inner-circle {
    background-color: #03A9F4 !important;
}
.askhotlink
{
    display: flex;
    flex-direction: row;
    padding: 1px;
    align-items: center;
}
.caption
{
    width: 100px;
    text-align: right;
    padding-right: 5px;
}