 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB(' Filter for copy production plan')" tbTileMini  isCollapsible="False">
        <tb-checkbox cmpId="IDC_SCHEMA_SELECTIONS_COPY_ALL" width="23" [model]="eventData?.model?.bAllProdPlans" [caption]="_TB('All  ')"></tb-checkbox>
        <tb-text [caption]="_TB('Number')" cmpId="IDC_SCHEMA_SELECTIONS_COPY_NO_SCHEMA" width="73" [model]="eventData?.model?.NrPlan"></tb-text>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_SCHEMA_SELECTIONS_COPY_UNDO?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="IDC_SCHEMA_SELECTIONS_COPY_UNDO"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_PRODPLAN_SELECTIONS_COPY_RESEARCH?.enabled" icon="tb-search" [caption]="_TB('Search')" cmpId="IDC_PRODPLAN_SELECTIONS_COPY_RESEARCH"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
