@import '~@taskbuilder/console/styles/indigo-pink.css';
@import '~@taskbuilder/console/styles/all.css';

/* common used */

body { margin:0; font-family:Roboto,"Helvetica Neue",sans-serif;}
h1, h2, h3 { color: #666666;}

/* app typography */ 

.hint-label { color:#999999; cursor:pointer; }

/* common */

.text-right { text-align: right }

.mt40 { margin-top:40px }
.mt30 { margin-top:30px }
.mt20 { margin-top:20px }
.mt10 { margin-top:10px }
.mt0 { margin-top:0px !important}
.pt30 { padding-top: 30px }
.pt20 { padding-top: 20px }
.pt10 { padding-top: 10px }

.pad10 { padding:10px }

.pointer { cursor:pointer }
.left { float:left }
.right { float:right }
.clear { clear:both }

/* controls */

button, input[type="button"] { height: 32px}
button, input[type="button"] { min-width: 130px}

/* components */

.componentTitle {
    color:#666666; 
    border-bottom:1px solid #999999;
    padding-bottom:10px; 
    margin-bottom:30px;
}

.adminTile { 
    background-color: #ffffff;
    border-radius: 2px; 
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .1)}
.tileNormal { min-height:270px }
.half-tile { min-height:135px }
.left-margin-label { margin-left: 169px }

/* home container */

md-sidenav {
    padding:10px;
    width: 200px;
}

md-sidenav div { margin-bottom:10px; }
md-sidenav a { color:#444444; padding-bottom:10px; text-decoration: none; }

.nav-link { display:inline-block;margin-left:15px;color: #3f51b5;font-weight:bold; cursor:pointer; }