<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration,Microsoft.Web.Services,Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>  
	<microsoft.web.services>
		<security>
			<binarySecurityToken type="Microarea.Library.Activation.SourceControlToken, Microarea.SourceControlToken" xmlns:customToken="http://www.Microarea.it/SourceControlToken/" valueType="customToken:SourceControlToken"/>
			<decryptionKeyProvider type="Microarea.Library.Activation.SourceControlTokenBinaryDecryptionProvider, Microarea.SourceControlToken"/>
		</security>
	</microsoft.web.services>
	<appSettings>
		<add key="SyncServerUrl" value="http://www.microarea.it/SyncServer/SyncServer.asmx"/>
		<add key="WSE" value="false"/>
	</appSettings> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
