 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Filter for BOM')" tbTileMini >
        <tb-text [caption]="_TB('Bill of Materials')" cmpId="IDC_BOM_CRITERIA_COPY_BOM" width="110" [model]="eventData?.model?.BOMFromToCopy"></tb-text>
        <tb-label-static cmpId="IDC_BOM_CRITERIA_COPY_DESCRI_BOM" width="156" [model]="eventData?.model?.HKLBOMForCopy?.Description"></tb-label-static>
        <tb-checkbox cmpId="IDC_BOM_CRITERIA_COPY_COMPONENT_BOM" width="138" [model]="eventData?.model?.bBOMComponentToCopy" [caption]="_TB('Copy no longer valid components')"></tb-checkbox>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_BOM_COPY_UNDO?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="IDC_BOM_COPY_UNDO"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_BOM_COPY_LOAD?.enabled" icon="tb-search" [caption]="_TB('Search')" cmpId="IDC_BOM_COPY_LOAD"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
