.mat-sidenav,
mat-sidenav {
    width: 300px;
    background: #282828;
}

mat-sidenav::-webkit-scrollbar-track {
    background: #3e3e3f;
}

mat-sidenav::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.59);
}

material-app,
mat-sidenav-container,
.main-content {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    background: #F1F4F7;
    overflow: hidden;
}

.topbar-title-content>img,
.sidenav-title>img {
    margin-top: 5px;
}

.tabber-container {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.tabber-container>.k-tabstrip>.k-content {
    padding: 0;
    border: none;
    border-radius: 0;
    background: #F1F4F7;
}

.tabber-container>.k-tabstrip>.k-tabstrip-items {
    background-color: #0277bd;
    border-bottom: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
}

.tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
    line-height: 27px;
    padding: 0 20px 0 0;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: white;
    background: #00578c;
    margin-left: 3px;
    border-bottom-color: #00578c;
    margin-bottom: 0px;
}

.tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
    background-color: #fff;
    margin-bottom: -1px;
    border-bottom-color: #fff;
    color: #0277bd;
}

.tabber-container>.k-tabstrip>.k-tabstrip-items #k-tabstrip-tab-0,
.tabber-container>.k-tabstrip>.k-tabstrip-items #k-tabstrip-tab-1 {
    padding: 0;
}

.tabber-container>.k-tabstrip>.k-tabstrip-items .k-item .k-link {
    padding: 0 10px;
    text-align: center;
}

.tabber-container>.k-tabstrip>.k-tabstrip-items .k-item .k-link m4-icon {
    font-size: 16px;
    padding: 3px;
}

.marginLeft {
    margin-left: 5px;
}

.tabber-container>.k-tabstrip>.k-tabstrip-items .k-item .k-link m4-icon.close {
    line-height: 30px;
    position: absolute;
    top: 1px;
    right: 7px;
    font-size: 14px;
}

.menu-tab {
    display: flex;
    flex-direction: row;
}

#dpi {
    height: 1in;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 1in;
}

