@import '../style/vars.scss';
.mat-sidenav,
mat-sidenav {
    width: 240px;
    background: $darkblue;
    box-shadow: rgba(0, 0, 0, 0.2) -1px 0px 5px 5px;
    border-right: 1px solid #004f80;
}

mat-sidenav::-webkit-scrollbar-track {
    background: $blue;
}

mat-sidenav::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.59);
}

material-app,
mat-sidenav-container,
.main-content {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    background: $background;
    overflow: hidden;
}

.topbar-title-content>img,
.sidenav-title>img {
    margin-top: 5px;
    transition: opacity 400ms ease-in;
}

.topbar-menu-content {
    height: 50px;
}

::ng-deep .tabber-container {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    &>.k-tabstrip {
        &>.k-tabstrip-items {
            background-color: #0277bd;
            border: none;
            border-bottom: 1px solid #00578c;
            height: 30px;
            line-height: 30px;
            .k-item {
                line-height: 27px;
                font-size: 13px;
                font-weight: 500;
                cursor: pointer;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                color: $bkg-light;
                background: $darkblue;
                margin-left: 3px;
                margin-bottom: 0px;
                border: none;
                .k-link {
                    padding: 0 10px;
                    &>div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        &>span {
                            padding: 0 20px;
                            color: $color-light;
                        }
                        m4-icon {
                            font-size: 16px;
                            padding-top: 3px;
                            color: $color-light;
                        }
                        m4-icon.close {
                            font-size: 14px;
                        }
                    }
                }
                &.k-state-active {
                    background-color: #fff;
                    margin-bottom: -1px;
                    background-color: $bkg-light;
                    border: none;
                    color: $darkblue;
                    .k-link>div m4-icon,
                    .k-link>div>span {
                        color: $darkblue;
                    }
                }
            }
        }
        &>.k-content {
            padding: 0;
            border: none;
            border-radius: 0;
            background: #f1f1f1;
        }
    }
}

#dpi {
    height: 1in;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 1in;
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .topbar-title-content>img {
        display: none
    }
}