.mat-sidenav,
mat-sidenav {
    width: 300px;
    background: #282828;
}

mat-sidenav::-webkit-scrollbar-track {
    background: #3e3e3f;
}

mat-sidenav::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.59);
}

material-app,
mat-sidenav-container,
.main-content {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    background: #f1f1f1;
    overflow: hidden;
}

.topbar-title-content>img,
.sidenav-title>img {
    margin-top: 5px;
}

.topbar-menu-content {
    height: 50px;
}

.tabber-container {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    &>.k-tabstrip {
        &>.k-tabstrip-items {
            background-color: #0277bd;
            border-bottom: 1px solid #ddd;
            height: 30px;
            line-height: 30px;
        }
        &>.k-content {
            padding: 0;
            border: none;
            border-radius: 0;
            background: #f1f1f1;
        }
    }
    &>.k-tabstrip>.k-tabstrip-items .k-item {
        line-height: 27px;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        color: white;
        background: #00578c;
        margin-left: 3px;
        border-bottom-color: #00578c;
        margin-bottom: 0px;
    }
    &>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
        background-color: #fff;
        margin-bottom: -1px;
        border-bottom-color: #fff;
        color: #0277bd;
    }
    &>.k-tabstrip>.k-tabstrip-items .k-item .k-link {
        padding: 0 10px;
        &>div {
            display: flex;
            flex-direction: row;
            align-items: center;
            &>span {
                padding: 0 7px;
            }
            m4-icon {
                font-size: 16px;
                padding-top: 3px;
            }
            m4-icon.close {
                font-size: 14px;
            }
        }
    }
}

#dpi {
    height: 1in;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 1in;
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .topbar-title-content>img {
        display: none
    }
}