<div id="dpi">a</div>
<mat-sidenav-container (contextmenu)="onContextMenu();" [ngClass]="themeService.currentTheme">
    <tb-message-dialog></tb-message-dialog>
    <mat-sidenav [mode]="sidenavPinned ? 'side' : 'over'" #sidenav align="start" (openedChange)="sidenavService.openedChange($event)" [opened]="sidenavOpened">
        <tb-home-sidenav-left></tb-home-sidenav-left>
    </mat-sidenav>
    <div class="main-content">
        <tb-topbar>
            <div class="topbar-title-content" *ngIf="!(sidenavOpened && sidenavPinned)">
                <img src="assets/images/logoM4_h40.png" />
            </div>

            <div class="topbar-center">
                <tb-search></tb-search>
            </div>

            <div class="topbar-menu-content">
                <tb-topbar-menu></tb-topbar-menu>
            </div>
        </tb-topbar>

        <div class="tabber-container" #tabberContainer>
            <kendo-tabstrip #kendoTabStripInstance="kendoTabStrip" [keepTabContent]="true">

                <!-- DASHBOARD
                <kendo-tabstrip-tab [selected]="true" *ngIf="!isDesktop" #dashBoardTabStrip="kendoTabStripTab">
                    <ng-template kendoTabTitle>
                        <div>
                            <m4-icon icon="tb-backfilled"></m4-icon>
                        </div>
                    </ng-template>
                    <ng-template kendoTabContent>
                        <div class='kendoTabContent' [style.height.px]="viewHeight">
                            <tb-dashboard></tb-dashboard>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab> -->

                <!-- MENU -->
                <kendo-tabstrip-tab [selected]="true" #menuTabStrip="kendoTabStripTab">
                    <ng-template kendoTabTitle>
                        <div (click)="menuService.activateMenu()">
                            <m4-icon icon="tb-dashboard"></m4-icon>
                            <span>{{_TB('Menu')}}</span>
                        </div>
                    </ng-template>
                    <ng-template kendoTabContent>
                        <div class='kendoTabContent' [style.height.px]="viewHeight">
                            <tb-menu></tb-menu>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>

                <!-- DOCUMENTS AND REPORTS -->
                <kendo-tabstrip-tab *ngFor="let info of componentService.components">
                    <ng-template kendoTabTitle>
                        <div>
                            <m4-icon [icon]="getIcon(info)"></m4-icon>
                            <span>{{info.document?.getTitle()}}</span>
                            <m4-icon icon="tb-closewindows" (click)="closeTab(info)" title="{{_TB('Close')}}" class='close'></m4-icon>
                        </div>
                    </ng-template>
                    <ng-template kendoTabContent>
                        <div class='kendoTabContent' [style.height.px]="viewHeight">
                            <tb-dynamic-cmp-tree>
                                <tb-dynamic-cmp [componentInfo]='info'></tb-dynamic-cmp>
                            </tb-dynamic-cmp-tree>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>

            </kendo-tabstrip>
        </div>

    </div>


</mat-sidenav-container>
<tb-loading></tb-loading>
<tb-diagnostic></tb-diagnostic>