<div id="dpi">a</div>
<md-sidenav-container (contextmenu)="onContextMenu();">
    <tb-message-dialog></tb-message-dialog>
    <md-sidenav mode="over" #sidenav>
        <tb-home-sidenav></tb-home-sidenav>
    </md-sidenav>

    <div class="main-content">
        <tb-topbar>
            <div class="topbar-title-content">
                <img src="assets/images/logoM4_h40.png" />
            </div>

            <div class="topbar-center">
                <tb-search></tb-search>
            </div>

            <div class="topbar-menu-content">
                <tb-topbar-menu></tb-topbar-menu>
            </div>
        </tb-topbar>

        <div class="tabber-container" #tabberContainer>
            <kendo-tabstrip #kendoTabStripInstance="kendoTabStrip" [keepTabContent]="true">

                <kendo-tabstrip-tab [selected]="true" *ngIf="!isDesktop">
                    <ng-template kendoTabTitle>
                        <m4-icon icon="tb-backfilled"></m4-icon>
                    </ng-template>
                    <ng-template kendoTabContent>
                        <div class='kendoTabContent' [style.height.px]="viewHeight">
                            <tb-dashboard></tb-dashboard>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>

                <kendo-tabstrip-tab [selected]="isDesktop">
                    <ng-template kendoTabTitle>
                        <div (click)="menuService.activateMenu()" class="menu-tab">
                            <m4-icon icon="tb-dashboard"></m4-icon>
                            <span class="marginLeft">Menu</span>
                        </div>
                    </ng-template>
                    <ng-template kendoTabContent>
                        <div class='kendoTabContent' [style.height.px]="viewHeight">
                            <tb-menu></tb-menu>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>

                <kendo-tabstrip-tab *ngFor="let info of componentService.components">
                    <ng-template kendoTabTitle>
                        <span>{{info.document?.getTitle()}}</span>
                        <m4-icon icon="tb-closewindows" (click)="closeTab(info)" title="{{localizationService?.localizedElements?.CloseLabel}}" class='close'></m4-icon>
                    </ng-template>
                    <ng-template kendoTabContent>
                        <div class='kendoTabContent' [style.height.px]="viewHeight">
                            <tb-dynamic-cmp-tree>
                                <tb-dynamic-cmp [componentInfo]='info'></tb-dynamic-cmp>
                            </tb-dynamic-cmp-tree>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>

            </kendo-tabstrip>
        </div>

    </div>
</md-sidenav-container>

<tb-loading></tb-loading>




