.tb-tabber {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.tab-content {
    overflow: auto;
    flex: 1;
}

ul.tabber {
    list-style: none;
    padding: 0;
    display: flex;  
    background-color: #0277bd;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

ul.tabber>li {
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color:white;
    font-weight: 300;
}

ul.tabber>li.active {
     background-color: #fff;
    margin-bottom: -1px;
    color: #0277bd;
}

a.tabTitle {
    margin-left: 5px;
    margin-right: 5px;
  
}

a.close {
    position: absolute;
    top: 1px;
    right: 1px;
}