<div class="tabber-container">
    <ul class="menu-tabber tabber">
        <li (click)="selectTab(tab)" *ngFor="let tab of getTabs() | slice:0:1" [ngClass]="tab.active ? 'active' : ''" title="Menu">
            <md-icon>home</md-icon>
            <span (click)="selectTab(tab)">{{tab.title}}</span>
        </li>
    </ul>
    <ul class="page-tabber tabber">
        <li *ngFor="let tab of getTabs() | slice:1" [class.active]="tab.active" title="Activate">
            <span (click)="selectTab(tab)">{{tab.title}}</span>
            <md-icon (click)="closeTab(tab)" title="Close" class='close' *ngIf="tab.showCloseButton && !tab.hover" (mouseenter)="tab.hover=true">close</md-icon>
            <md-icon (click)="closeTab(tab)" title="Close" class='close' *ngIf="tab.showCloseButton && tab.hover" (mouseleave)="tab.hover=false">cancel</md-icon>
        </li>
    </ul>
</div>
<div class="tab-content" #tabContent>
    <ng-content></ng-content>
</div>