@import './../../../../../style/vars.scss';
:host(tb-body-edit-toolbar-button) {
    button.k-button {
        padding: 1px 0 0;
        margin: 2px 0 2px 4px;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        background: #fff;
        border: 1px solid #cfe0e8;
        border-radius: 3px;
        transition: all 200ms ease;
        &:hover {
            background: $blue;
            color: #fff;
        }
         ::ng-deep .div-icon {
            width: 25px;
            height: 25px;
            line-height: 27px;
        }
        span {
            padding: 0 7px 0 0;
        }
    }
}