html, body {
	font-family: 'Open Sans', sans-serif; /*MenuCssFontFamily*/
	background-color: rgba(243,243,243 ,1.0); /*MenuCssBodyBackGroundColor*/
	color: rgba(0, 0, 0, 0.8); /*MenuCssFontColor*/
}

.tileContainer {
	background-color: rgba(243,243,243 ,1.0); /*MenuCssTileContainerBackGroundColor*/
	color: rgba(0, 0, 0, 0.8); /*MenuCssFontColor*/
	font-size: 12px; /*MenuCssFontSize*/
}

#modal1-content {
	background-color: rgba(243,243,243 ,1.0); /*MenuCssTileContainerBackGroundColor*/
}

.accordionContent {
	font-size: 12px; /*MenuCssFontSize*/
}

.titleFont {
	height:20px;
}
/*.footerLayer {
	background-color: ;MenuCssFooterLayerBackGroundColor
	}*/

a, a:hover {
	color: rgba(0, 0, 0, 0.8); /*MenuCssFontColor*/
	font-size: 12px; /*MenuCssFontSize*/
}

.tileContent a {
	outline-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.footerContainer .dropdown-menu {
	color: rgba(0, 0, 0, 0.8); /*MenuCssDropDownFontColor*/
}

.onlyThemeBaseColor {
	color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.studioSideButtonLabel {
	background-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.frameworkSideButtonLabel {
	background-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.backgroundLayer {
	background-color: rgba(255, 255, 255, 0.8); /*MenuCssHeaderTopBackGroundColor*/
}

.headerContainer {
	background-image: url() /*MenuCssHeaderTopBackGroundImageUrl*/
}

.settingsAndMenuSelector {
	background-image: url() ; /*MenuCssHeaderBottomBackGroundImageUrl*/
}

.watermark {
	background: url(); /*MenuCssBackGroundWatermarkImageUrl*/
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.btn-default {
	color: white; /*MenuCssHeaderBottomForeColor*/
}

	.btn-default:hover {
		background-color:  white); /*MenuCssHeaderBottomHoverBackGroundColor*/
		color: rgb(0, 0, 0); /*MenuCssHeaderBottomHoverForeColor*/
	}

	.btn-default:focus, .btn-default.active, .hiddenDropdown hr {
		background-color: #9AB4D5; /*MenuCssHeaderBottomActiveBackGroundColor*/
		color: white; /*MenuCssHeaderBottomActiveForeColor*/
		outline-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
	}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.75); /*MenuCssGenericScrollBarColor*/
}

.menuSelectorPanel::-webkit-scrollbar-thumb {
	background: rgba(33, 184, 220, 0.8); /*MenuCssMenuSelectorScrollBarColor*/
}

.btn-default.datePickerButtons:active, .btn-default.datePickerButtons:focus {
	background-color: white; /*MenuCssHeaderBottomHoverBackGroundColor*/
}

.loginButtonEnabled {
	background-color: #9AB4D5; /*MenuCssLoginButtonBackGroundColor*/
}

.datepicker {
	outline-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.menuSelectorPanel {
	background-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
	text-transform: uppercase; /*MenuCssHeaderBottomTextTransform*/
	height: 30px; /*MenuCssHeaderBottomMenuSelectorHeight*/
	
}
	.menuSelectorPanel > .btn-default {
		font-size: 13px; /*MenuCssHeaderBottomSelectedModuleFontSize*/
	}

.box {
	text-transform: uppercase; /*MenuCssHeaderBottomTextTransform*/
	font-size: 13px; /*MenuCssHeaderBottomBoxFontSize*/
}

.selectedModule {
	text-transform: uppercase; /*MenuCssHeaderBottomTextTransform*/
	font-size: 15px; /*MenuCssHeaderBottomSelectedModuleFontSize*/
}

.coloredMenuSeparator {
	background:-webkit-linear-gradient(0deg, #9AB4D5 0%, #9AB4D5 33%, #9AB4D5 65%, #9AB4D5 100%); /*MenuCssHeaderBottomColoredMenuSeparator*/
	height: 5px; /*MenuCssHeaderBottomColoredMenuHeight*/
}
