html, body {
	font-family: 'Open Sans', sans-serif; /*MenuCssFontFamily*/
	background-color: rgba(255,255,255,0.3); /*MenuCssBodyBackGroundColor*/
	color: rgba(0, 0, 0, 0.8); /*MenuCssFontColor*/
}

.tileContainer {
	background-color: rgba(255, 255, 255, 0.3); /*MenuCssTileContainerBackGroundColor*/
	color: rgba(0, 0, 0, 0.8); /*MenuCssFontColor*/
	font-size: 14px; /*MenuCssFontSize*/
}

#modal1-content {
	background-color: rgba(255, 255, 255, 0.3); /*MenuCssTileContainerBackGroundColor*/
}

.accordionContent {
	font-size: 14px; /*MenuCssFontSize*/
}

.titleFont {
	height:20px;
}

/*.footerLayer {
	background-color: ;MenuCssFooterLayerBackGroundColor
	}*/

a, a:hover {
	color: rgba(0, 0, 0, 0.8); /*MenuCssFontColor*/
	font-size: 14px; /*MenuCssFontSize*/
}

.tileContent a {
	outline-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.footerContainer .dropdown-menu {
	color: rgba(0, 0, 0, 0.8); /*MenuCssDropDownFontColor*/
}

.onlyThemeBaseColor {
	color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.studioSideButtonLabel {
	background-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.frameworkSideButtonLabel {
	background-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}


.backgroundLayer {
	background-color: rgba(255, 255, 255, 0.8); /*MenuCssHeaderTopBackGroundColor*/
}

.headerContainer {
	background-image: url(../Images/SnowflakeTop.png); /*MenuCssHeaderTopBackGroundImageUrl*/
}

.settingsAndMenuSelector {
	background-image: url(../Images/SnowflakeBottom.png); /*MenuCssHeaderBottomBackGroundImageUrl*/
}

.watermark {
	background: url(../Images/watermark.png) no-repeat right; /*MenuCssBackGroundWatermarkImageUrl*/
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}

.btn-default {
	color: white; /*MenuCssHeaderBottomForeColor*/
}

	.btn-default:hover {
		background-color: white; /*MenuCssHeaderBottomHoverBackGroundColor*/
		color: rgb(0, 0, 0); /*MenuCssHeaderBottomHoverForeColor*/
	}

	.btn-default:focus, .btn-default.active, .hiddenDropdown hr {
		background-color: rgba(230, 230, 230, 0.75); /*MenuCssHeaderBottomActiveBackGroundColor*/
		color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomActiveForeColor*/
		outline-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
	}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.75); /*MenuCssGenericScrollBarColor*/
}

.menuSelectorPanel::-webkit-scrollbar-thumb {
	background: rgba(33, 184, 220, 0.8); /*MenuCssMenuSelectorScrollBarColor*/
}

.btn-default.datePickerButtons:active, .btn-default.datePickerButtons:focus {
	background-color: white; /*MenuCssHeaderBottomHoverBackGroundColor*/
}

.loginButtonEnabled {
	background-color: #000000; /*MenuCssLoginButtonBackGroundColor*/
}

.datepicker {
	outline-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
}
.menuSelectorPanel {
	background-color: rgba(0, 0, 0, 0.75); /*MenuCssHeaderBottomBackGroundColor*/
	/*text-transform: inherit; /*MenuCssHeaderBottomTextTransform*/
	/*font-size: 19px; /*MenuCssHeaderBottomMenuSelectorFontSize*/
}

	.menuSelectorPanel > .btn-default {
		/*height: 45px; /*MenuCssHeaderBottomMenuSelectorHeight*/
		/*font-size: 19px; /*MenuCssHeaderBottomSelectedModuleFontSize*/
	}

.box {
	/*text-transform: inherit; /*MenuCssHeaderBottomTextTransform*/
	/*font-size: 18px; /*MenuCssHeaderBottomBoxFontSize*/
}

.selectedModule {
	/*text-transform: inherit; /*MenuCssHeaderBottomTextTransform*/
/*	font-size: 19px; /*MenuCssHeaderBottomSelectedModuleFontSize*/
}


.coloredMenuSeparator {
	background: -webkit-linear-gradient(0deg, #25b767 0%, #0abaee 33%, #cbcbcb 65%, #000000 100%); /*MenuCssHeaderBottomColoredMenuSeparator*/
	height: 2px; /*MenuCssHeaderBottomColoredMenuHeight*/
}
