<!--<kendo-dropdownbutton [data]="data" [textField]="'actionName'">
    <md-icon>person</md-icon>
</kendo-dropdownbutton>-->

<button #anchor (click)="show=!show">
     <md-icon  class="material-icons">person</md-icon>
</button>
<kendo-popup [popupClass]="'popup'" *ngIf="show" [anchor]="anchor" [collision]="collision" [anchorAlign]="anchorAlign" [popupAlign]="popupAlign">

    <button kendoButton *ngFor="let menuItem of contextMenu" class="content" (click)="chooseAction(menuItem.id)">{{menuItem.text}}</button>
</kendo-popup>