 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"><div class="anchored">        <tb-combo [caption]="_TB('Reason')" cmpId="IDC_FAENTRY_REASON" width="62" [model]="eventData?.model?.Header?.FARsn"></tb-combo>
        <tb-label-static cmpId="IDC_FAENTRY_DESCRI_REASON" width="157" [model]="eventData?.model?.HKLInvEntr?.Description"></tb-label-static>
</div>        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Posting Date')" cmpId="IDC_FAENTRY_POSTDATE" width="57" [model]="eventData?.model?.Header?.PostingDate"></tb-date-input>
</div><div class="col col2">        <tb-text [caption]="_TB('Reference Number')" cmpId="IDC_FAENTRY_REFNO" width="73" [model]="eventData?.model?.Header?.RefNo"></tb-text>
<div class="anchored">        <tb-label-static [caption]="_TB('Total')" cmpId="IDC_FAENTRY_CURRENCY" width="48" [model]="eventData?.model?.Header?.Currency"></tb-label-static>
        <tb-numeric-text-box formatter="Money" disabled="true" cmpId="IDC_FAENTRY_TOTALAMOUNT" width="68" [model]="eventData?.model?.TotalAmount"></tb-numeric-text-box>
</div></div>       </tb-tile>
       <tb-tile [title]="_TB('Document Data')" tbTileWide >
<div class="col col1">        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_FAENTRY_DOCDATE" width="57" [model]="eventData?.model?.Header?.DocumentDate"></tb-date-input>
        <tb-text [caption]="_TB('Number')" cmpId="IDC_FAENTRY_DOCNO" width="100" [model]="eventData?.model?.Header?.DocNo"></tb-text>
        <tb-text [caption]="_TB('Log')" cmpId="IDC_FAENTRY_LOGNO" width="55" [model]="eventData?.model?.Header?.LogNo"></tb-text>
</div><div class="col col2"><div class="anchored">        <tb-enum-combo cmpId="IDC_FAENTRY_CUSTSUPPTYPE" width="98" [model]="eventData?.model?.Header?.CustSuppType"></tb-enum-combo>
        <tb-text cmpId="IDC_FAENTRY_CUSTSUPP" width="80" [model]="eventData?.model?.Header?.CustSupp"></tb-text>
</div>        <tb-label-static cmpId="IDC_FAENTRY_DESCRI_CUSTSUPP" width="221" [model]="eventData?.model?.HKLCustSupp?.CompNameComplete"></tb-label-static>
</div>       </tb-tile>
       <tb-tile [title]="_TB('Detail')" tbTileAutoFill  hasTitle="False">
        <tb-body-edit cmpId="IDC_FAENTRY_BODY" width="500" [model]="eventData?.model?.Detail">
         <tb-body-edit-column cmpId="IDC_FAENTRY_CODETYPE" columnName="CodeType" [title]="_TB('Type')" columnType="tb-enum-combo" columnName="IDC_FAENTRY_CODETYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_FAENTRY_FIXEDASSET" columnName="FixedAsset" [title]="_TB('Fixed Asset')" columnType="tb-text" columnName="IDC_FAENTRY_FIXEDASSET">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_FAENTRY_DESCRI_FIXEDASSET" [model]="eventData?.model?.HKLColFixedAsset?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_FAENTRY_DESCRI_FIXEDASSET">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_FAENTRY_QTY" columnName="Qty" [title]="_TB('Quantity')" columnType="tb-numeric-text-box" columnName="IDC_FAENTRY_QTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Percent" cmpId="IDC_FAENTRY_DEPPERC" columnName="Perc" [title]="_TB('Percentage')" columnType="tb-numeric-text-box" columnName="IDC_FAENTRY_DEPPERC">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_FAENTRY_AMOUNTVAL" columnName="AmountDocCurr" [title]="_TB('Foreign Currency')" columnType="tb-numeric-text-box" columnName="IDC_FAENTRY_AMOUNTVAL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_FAENTRY_AMOUNT" columnName="Amount" [title]="_TB('Amount')" columnType="tb-numeric-text-box" columnName="IDC_FAENTRY_AMOUNT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_FAENTRY_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_FAENTRY_NOTES">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane [title]="_TB('DepreciationDockPane')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard >
         <tb-label-static [caption]="_TB('Code')" cmpId="IDC_FAENTRY_DATA_FACODE" width="68" [model]="eventData?.model?.FACode"></tb-label-static>
         <tb-label-static [caption]="_TB('Description')" cmpId="IDC_FAENTRY_DATA_FADESCRIPTION" width="208" [model]="eventData?.model?.FADescription"></tb-label-static>
        </tb-tile>
        <tb-tile [title]="_TB('Fiscal Depreciation')" tbTileStandard >
<div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Total Depreciable')" cmpId="IDC_FAENTRY_DATA_FISCDEPRTOT" width="68" [model]="eventData?.model?.FiscDeprTot"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Non-Depreciable ')" cmpId="IDC_FAENTRY_DATA_NOTFISCDEPR" width="68" [model]="eventData?.model?.NotFiscDepr"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Accumulated Depr.')" cmpId="IDC_FAENTRY_DATA_FISCACCUMDEPR" width="68" [model]="eventData?.model?.FiscAccumDepr"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Accumulated Lost Depr.')" cmpId="IDC_FAENTRY_DATA_TOTLOSTDEPRFISC" width="68" [model]="eventData?.model?.FiscLostDeprTot"></tb-numeric-text-box>
</div>         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Net Book Value')" cmpId="IDC_FAENTRY_DATA_RESFISC" width="68" [model]="eventData?.model?.FiscNetBookValue"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Balance Depreciation')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_FAENTRY_DEPRDATA_BALANCE">
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Total Depreciable')" cmpId="IDC_FAENTRY_DATA_BALDEPRTOT" width="68" [model]="eventData?.model?.BalDeprTot"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Accumulated Depr.')" cmpId="IDC_FAENTRY_DATA_BALACCUMDEPR" width="68" [model]="eventData?.model?.BalAccumDepr"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Net Book Value')" cmpId="IDC_FAENTRY_DATA_RESBALANCE" width="68" [model]="eventData?.model?.BalNetBookValue"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Financial Depreciation')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_FAENTRY_DEPRDATA_FINANCIAL">
<div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Total Depreciable')" cmpId="IDC_FAENTRY_DATA_FINDEPRTOT" width="68" [model]="eventData?.model?.FinDeprTot"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Renewal Reserve')" cmpId="IDC_FAENTRY_DATA_RENEWALRESERVEFIN" width="68" [model]="eventData?.model?.FinRenewalReserve"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Accumulated Depr.')" cmpId="IDC_FAENTRY_DATA_FINACCUMDEPR" width="68" [model]="eventData?.model?.FinAccumDepr"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Renewal Accumulated Depreciation')" cmpId="IDC_FAENTRY_DATA_RENEWALACCUMDEPR" width="68" [model]="eventData?.model?.RenewalAccumDepr"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Net Book Value')" cmpId="IDC_FAENTRY_DATA_RESFIN" width="68" [model]="eventData?.model?.FinNetBookValue"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Renewal Net Book Value')" cmpId="IDC_FAENTRY_DATA_RESRINNFIN" width="68" [model]="eventData?.model?.AccRenNetBookValue"></tb-numeric-text-box>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_CROSSREFERENCES_VIEWER_DOCK_PANE" [title]="_TB('CrossReferencesViewer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False">
         <tb-treeview cmpId="IDC_CROSSREFERENCES_TREEVIEW" width="214" [caption]="_TB('Static')" border="True"></tb-treeview>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
