<div class="login-flex-container">
    <header>
        <mat-toolbar color="primary">
            <img src="assets/images/logoM4_h40.png" />
            <span class="fill"></span>
            <span id="microarea">Microarea Spa</span>
        </mat-toolbar>
    </header>

    <div class="login-main-content">
        <div class="login-form tb-card" *ngIf="!loading">
            <tb-card>
                <tb-card-title title='Log In'></tb-card-title>
                <tb-card-content>
                    <div class="form-group">
                        <mat-input-container class="form-control">
                            <input matInput type="text" [placeholder]="'User'" autofocus [(ngModel)]="connectionData.user" (blur)=getCompaniesForUser(connectionData.user) (keydown)="keyDownFunction($event)" />
                        </mat-input-container>
                        <mat-input-container class="form-control">
                            <input matInput type="password" [placeholder]="'Password'" [(ngModel)]="connectionData.password" (keydown)="keyDownFunction($event)" />
                        </mat-input-container>

                        <mat-select class="form-control" placeholder="Company" [(ngModel)]="connectionData.company">
                            <mat-option *ngIf="!companies">Loading...</mat-option>
                            <mat-option *ngFor="let company of companies" [value]="company?.name">
                                {{ company?.name }}
                            </mat-option>
                        </mat-select>


                        <div class="error" *ngIf="authService.errorMessage">{{authService.errorMessage}}</div>

                        <button class="form-button" mat-raised-button color="primary" (click)="login();" [disabled]="companies.length == 0">Login</button>
                    </div>
                </tb-card-content>
            </tb-card>
        </div>
    </div>

    <footer>
        <span>Copyright © 1984-2017 Microarea SpA - Tutti i diritti riservati | <a href="http://www.microarea.it">Microarea.it</a></span>
    </footer>
</div>
<div class="loading-container" [@fadeInOut] *ngIf="loading">
    <div class="loading">
        <span class="k-icon k-i-loading"></span>
        <p class="text">Loading...</p>
    </div>
</div>


<kendo-dialog title="User already connected" *ngIf="userAlreadyConnectedOpened" (close)="userConnectedCancel()">
    <div>
        <!-- TODOLUCA da localizzare -->
        The user is already connected to the system. Do you want to close previous working session and open new one?
    </div>
    <kendo-dialog-actions>
        <button kendoButton (click)="userConnectedYes()" [primary]="true">Yes</button>
        <button kendoButton (click)="userConnectedCancel()" [primary]="true">Cancel</button>
    </kendo-dialog-actions>
</kendo-dialog>