<div class="login-flex-container">
    <header>
        <mat-toolbar color="primary">
            <img src="assets/images/logoM4_h40.png" />
            <span class="fill"></span>
            <span id="microarea">Microarea Spa</span>
        </mat-toolbar>
    </header>
    <div class="login-main-content">
        <div class="login-form" *ngIf="!loadingService.isLoading">
            <tb-card>
                <tb-card-title [title]="_TB('Login')" [isCollapsible]="false"></tb-card-title>
                <tb-card-content>

                    <div class="form-group">

                        <div class="form-control">
                            <p class="floatingLabel">{{_TB('User')}}</p>
                            <kendo-textbox-container>
                                <input kendoTextBox autofocus [(ngModel)]="connectionData.user" (blur)=getCompaniesForUser(connectionData.user) (keyup)="keyUpFunction($event)" name="user">
                            </kendo-textbox-container>
                        </div>

                        <div class="form-control">
                            <p class="floatingLabel">{{_TB('Password')}}</p>
                            <kendo-textbox-container class="form-control-k">
                                <input kendoTextBox [(ngModel)]="connectionData.password" (keyup)="keyUpFunction($event)" name="password" type="password">
                            </kendo-textbox-container>
                        </div>

                        <div class="form-control">
                            <p class="floatingLabel">{{_TB('Company')}}</p>
                            <kendo-dropdownlist [disabled]="companies?.length <= 1" [data]="companies" [(ngModel)]="connectionData.company"></kendo-dropdownlist>
                        </div>

                        <div class="error" *ngIf="authService.errorMessage">{{authService.errorMessage}}</div>

                        <button class="form-button" mat-raised-button color="primary" (click)="login();" [disabled]="!connectionData.user && companies.length==0">Login</button>
                    </div>
                </tb-card-content>
            </tb-card>
        </div>
    </div>

    <footer>
        <span>Copyright © 1984-2018 Microarea SpA - Tutti i diritti riservati |
            <a>Microarea.it</a>
        </span>
    </footer>
</div>
<tb-loading></tb-loading>

<!-- USER ALREADY LOGGED -->
<kendo-dialog title="{{_TB( 'User already connected')}}" *ngIf="userAlreadyConnectedOpened" (close)="userConnectedCancel()">
    <div>
        {{_TB('The user is already connected to the system. Do you want to close previous working session and open new one?')}}
    </div>
    <kendo-dialog-actions>
        <button kendoButton (click)="userConnectedYes()" [primary]="true">{{_TB('Yes')}}</button>
        <button kendoButton (click)="userConnectedCancel()">{{_TB('Cancel')}}</button>
    </kendo-dialog-actions>
</kendo-dialog>

<!-- CHANGE PASSWORD -->
<tb-change-password #changePassword></tb-change-password>