<div class="container" fxLayout="column" style="padding:10px">
  <h2 class="componentTitle">Account</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Email" value="">
      </div>
      <div class="box">
      </div>
      <div class="box">
        <input type="password" placeholder="Password" value="">
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="checkbox" name="cboxPwNeverExpires" value="">
        <label for="cboxPwNeverExpires">Password never expires</label>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="First Name" value="">
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Last Name" value="">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="checkbox" name="cboxDisabled" value="">
        <label for="cboxDisabled">Disabled</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="checkbox" name="cboxLocked" value="">
        <label for="cboxLocked">Locked</label>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <textarea rows="5" cols="36" placeholder="Notes" maxlength="500"></textarea>
        <input type="text" placeholder="Notes" value="">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Preferred Language" value="">
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Application Language" value="">
      </div>
    </div>
  </div>
  <br>
  <div class="row end-xs center-sm center-lg">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>