
.themeFontColor:hover {
	background-color: rgba(230, 230, 230, 0.5);
}

.spinner {
	width: 20px;
	height: 20px;
}

.tileElement {
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	height:24px;
}

.iconColor
{
	color:lightskyblue;
}

.active{
	background-color:lightgray;
}

