 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Set Data')" tbTileStandard  isCollapsible="False">
        <tb-text [caption]="_TB('Remark')" cmpId="IDC_TOOLS_INSPECTIONS_SET_REMARK" width="140" [model]="eventData?.model?.Remarks"></tb-text>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Start Inspection Date')" cmpId="IDC_TOOLS_INSPECTIONS_SET_DATE" width="57" [model]="eventData?.model?.SetInspDate"></tb-date-input>
<div class="anchored">        <tb-combo [caption]="_TB('Worker')" cmpId="IDC_TOOLS_INSPECTIONS_SET_WORKER" width="62" [model]="eventData?.model?.Worker"></tb-combo>
        <tb-label-static cmpId="IDC_TOOLS_INSPECTIONS_SET_WORKER_DESCRI" width="154" [model]="eventData?.model?.HKLWorkersSetData?.WorkerDesc"></tb-label-static>
</div>        <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_TOOLS_INSPECTIONS_SET_DURATION" formatter="Integer" [caption]="_TB('Duration')" cmpId="IDC_TOOLS_INSPECTIONS_SET_DURATION" width="40" [model]="eventData?.model?.nDuration"></tb-numeric-text-box>
        <tb-enum-combo *ngIf="eventData?.activation?.IDC_MPARSEDCOMBO" [caption]="_TB('Action')" cmpId="IDC_MPARSEDCOMBO" width="100" [model]="eventData?.model?.ToolStatus" [itemSource]="IDC_MPARSEDCOMBO_itemSource"></tb-enum-combo>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_TOOLS_INSPECTION_SET_DATA_TOOLBAR_OK?.enabled" icon="tb-ok" [caption]="_TB('OK')" cmpId="IDC_TOOLS_INSPECTION_SET_DATA_TOOLBAR_OK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_TOOLS_INSPECTION_SET_DATA_TOOLBAR_CANCEL?.enabled" icon="tb-undo" [caption]="_TB('Cancel')" cmpId="IDC_TOOLS_INSPECTION_SET_DATA_TOOLBAR_CANCEL"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
