 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Tool')" tbTileMini  isCollapsible="False">
         <tb-radio cmpId="IDC_TOOLS_ALL_TOOL" width="75" [model]="eventData?.model?.bAllTools" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_TOOLS_SEL_TOOL" width="29" [model]="eventData?.model?.bSelTools" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_TOOLS_FROM_TOOL" width="63" [model]="eventData?.model?.FromTool"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_TOOLS_TO_TOOL" width="63" [model]="eventData?.model?.ToTool"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Tool Family')" tbTileMini  isCollapsible="False">
         <tb-radio cmpId="IDC_TOOLS_ALL_FAMILY" width="75" [model]="eventData?.model?.bAllFamilies" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_TOOLS_SEL_FAMILY" width="29" [model]="eventData?.model?.bSelFamilies" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_TOOLS_FROM_FAMILY" width="63" [model]="eventData?.model?.FromFamily"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_TOOLS_TO_FAMILY" width="63" [model]="eventData?.model?.ToFamily"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Options')" tbTileMini  isCollapsible="False">
         <tb-radio cmpId="IDC_TOOL_INSPECTION_TO_INSPECT" width="100" [model]="eventData?.model?.bToInspect" [caption]="_TB('To be Inspected  ')"></tb-radio>
         <tb-radio cmpId="IDC_TOOL_INSPECTION_UNDER_INSPECTION" width="100" [model]="eventData?.model?.bUnderInspection" [caption]="_TB('Under Inspection  ')"></tb-radio>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="323" [model]="eventData?.model?.ToolsInspection">
         <tb-body-edit-column cmpId="IDC_TOOLS_INSPECTIONS_STATUS_BMP" width="40" columnName="LocalBmpStatus" [title]="_TB(' ')" columnType="tb-image" columnName="IDC_TOOLS_INSPECTIONS_STATUS_BMP">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TOOLS_INSPECTIONS_SEL" width="40" columnName="Selected" [title]="_TB('Sel. ')" columnType="tb-checkbox" columnName="IDC_TOOLS_INSPECTIONS_SEL">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TOOLS_INSPECTIONS_TOOL" columnName="Tool" [title]="_TB('Tool')" columnType="tb-label-static" columnName="IDC_TOOLS_INSPECTIONS_TOOL">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TOOLS_INSPECTIONS_TOOL_DESCRI" [model]="eventData?.model?.HKLToolsBE?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_TOOLS_INSPECTIONS_TOOL_DESCRI">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_TOOLS_INSPECTIONS_LAST_INSPECTION_DATE_TO_INSP" columnName="LastInspectionDate" [title]="_TB('Last
Inspection Date')" columnType="tb-date-input" columnName="IDC_TOOLS_INSPECTIONS_LAST_INSPECTION_DATE_TO_INSP">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TOOLS_INSPECTIONS_REMARKS" columnName="LocalRemarks" [title]="_TB('Remarks')" columnType="tb-label-static" columnName="IDC_TOOLS_INSPECTIONS_REMARKS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TOOLS_INSPECTIONS_WORKER" columnName="MaintenanceWorker" [title]="_TB('Maintenance
Worker')" columnType="tb-combo" columnName="IDC_TOOLS_INSPECTIONS_WORKER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TOOLS_INSPECTIONS_WORKER_NAME" width="150" [model]="eventData?.model?.HKLWorkers?.WorkerDesc" [title]="_TB('Name')" columnType="tb-label-static" columnName="IDC_TOOLS_INSPECTIONS_WORKER_NAME">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_TOOLS_INSPECTIONS_INSPECTION_START_DATE" columnName="InspectionStartDate" [title]="_TB('Inspection
Date')" columnType="tb-date-input" columnName="IDC_TOOLS_INSPECTIONS_INSPECTION_START_DATE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_TOOLS_INSPECTIONS_DURATION_TO_INSP" columnName="InspectionDuration" [title]="_TB('Duration
in days')" columnType="tb-numeric-text-box" columnName="IDC_TOOLS_INSPECTIONS_DURATION_TO_INSP">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_TOOLS_INSPECTIONS_DURATION_UNDER_INSP" columnName="InspectionDuration" [title]="_TB('Duration
in days')" columnType="tb-numeric-text-box" columnName="IDC_TOOLS_INSPECTIONS_DURATION_UNDER_INSP">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_TOOLS_INSPECTIONS_VALIDITY_DAYS" columnName="InspectionValidityDays" [title]="_TB('Validity
days')" columnType="tb-numeric-text-box" columnName="IDC_TOOLS_INSPECTIONS_VALIDITY_DAYS">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_TOOLS_INSPECTIONS_NEXT_CHECK" columnName="NextInspectionDate" [title]="_TB('Next
Inspection Date')" columnType="tb-date-input" columnName="IDC_TOOLS_INSPECTIONS_NEXT_CHECK">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TOOLS_INSPECTIONS_ACTION" columnName="ToolStatus" [itemSource]="IDC_TOOLS_INSPECTIONS_ACTION_itemSource" [title]="_TB('Action')" columnType="tb-enum-combo" columnName="IDC_TOOLS_INSPECTIONS_ACTION">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane [title]="_TB('LegendDockPane')">
     <tb-view>
      <tb-tilegroup [active]="true" [title]="_TB('Legend')" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Tools')" tbTileStandard >
<div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_AVAILABLE" width="14"></tb-button>
         <tb-caption [caption]="_TB('Available')" cmpId="IDC_STATIC_1" width="141" [caption]="_TB('Available')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_TO_BE_INSPECTED" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_2" width="141" [caption]="_TB('To be inspected')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_UNDER_INSPECTION" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_4" width="141" [caption]="_TB('Under inspection')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_TO_RECONDITIONED" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_3" width="141" [caption]="_TB('To be reconditioned')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_UNDER_MAINTENANCE" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_8" width="141" [caption]="_TB('Under maintenance')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_EXHAUSTED" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_9" width="141" [caption]="_TB('Exhausted')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_OUT_OF_ORDER" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_5" width="141" [caption]="_TB('Out of order')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_NOT_FOUND" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_6" width="141" [caption]="_TB('Not available')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_WITH_ERRORS" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_7" width="141" [caption]="_TB('Disabled or Generic error')"></tb-caption>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
