<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo localize="Management Functions" optional="false" destinationfolder="TbApps">
  <Components>
    <Library name="TbGes" deploymentpolicy="full" aggregatename = "TbGes" sourcefolder="TbGes" >
      <FilesExtension value="*.pdb" />
    </Library>
  </Components>
</ModuleInfo>