.topBarMenuComponentLike {
    padding: 10px 10px 0px 10px;
    cursor: pointer;
}

tb-application-date m4-icon {
    font-size: 20px;
}

#divOpDate {
    margin-right: 10px;
}

.mat-tooltip {
    font-size: 14px !important;
    background-color: #f1f4f7 !important;
    color: #333333 !important;
    border-radius: 5px !important;
}

tb-application-date .k-dateinput-wrap .k-input,
.k-picker-wrap .k-input {
    background: #f1f4f7;
}

tb-application-date kendo-dialog-titlebar.k-window-titlebar {
    padding: 10px;
}