<div (click)="open()" id="divOpDate">
    <label matTooltip='Change operation date' *ngIf="isDesktop"> Operation Date:     
        {{applicationDate | date: dateFormat  }}
</label>
    <m4-icon icon="erp-calendarflash" matTooltip='Operation Date: {{applicationDate | date: dateFormat  }}'></m4-icon>
</div>

<kendo-dialog title="Change application date" *ngIf="opened" (close)="cancel()">
    <div *ngIf="applicationDate != undefined" style="text-align: center; margin: 30px;">
        <kendo-datepicker [format]="dateFormat" [value]="applicationDate" (valueChange)="handleChange($event)"></kendo-datepicker>
        <label>{{errorMessage}}</label>
    </div>
    <kendo-dialog-actions>
        <button kendoButton (click)="cancel()">Cancel</button>
        <!--primary="true" -->
        <button kendoButton (click)="ok()" primary="true">Change</button>

    </kendo-dialog-actions>
</kendo-dialog>