.topBarMenuComponentLike {
    padding: 10px 10px 0px 10px;
    cursor: pointer;
}

::ng-deep tb-application-date m4-icon {
    font-size: 20px;
}

#divOpDate {
    margin-right: 10px;
}

::ng-deep tb-application-date .k-dateinput-wrap .k-input,
.k-picker-wrap .k-input {
    background: #f1f1f1;
}

::ng-deep tb-application-date kendo-dialog-titlebar.k-window-titlebar {
    padding: 10px;
}