<div (click)="open()" id="divOpDate" class="topBarMenuComponentLike">

    <!--<tb-tooltip tooltipText="{{_TB('Operation Date')}}: {{applicationDate | date: dateFormat  }}">
        <m4-icon icon="tb-calendar" tbTooltip></m4-icon>  
    </tb-tooltip>-->
</div>


<kendo-dialog title="{{_TB('Change application date')}}" *ngIf="opened" (close)="cancel()">

    {{applicationDate | date: dateFormat }}
    <div *ngIf="applicationDate != undefined" style="text-align: center; margin: 30px;">
        <div *ngIf="applicationDate != undefined" style="text-align: center; margin: 30px;">
            <kendo-datepicker [format]="dateFormat" [value]="applicationDate" (valueChange)="handleChange($event)"></kendo-datepicker>
            <label>{{errorMessage}}</label>
        </div>
    </div>
    <kendo-dialog-actions>
        <button kendoButton (click)="cancel()" class="k-secondary">{{_TB('Cancel')}}</button>
        <!--primary="true" -->
        <button kendoButton (click)="ok()" primary="true">{{_TB('Change')}}</button>

    </kendo-dialog-actions>
</kendo-dialog>