$bkg-light:#fff;
$bkg-light-opacity50: rgba(204, 204, 204, 0.5);
$bkg-medium:#666;
$bkg-dark:#333;
$bkg-neutral:#444;
$bkg:#FAFAFA;
$text-light: #fff;
$text-medium: #999;
$text-dark: #212121;
$font-size-tooltip: 12px;
.snowflake {
    //toolbar principale, dove si trova anche la "ricerca"
    .mat-toolbar.mat-primary {
        background: $bkg-dark;
        m4-icon {
            color: $text-light;
        }
        .tb-search mat-input-container m4-icon {
            color: $text-medium;
        }
    }
    //Selettore menu/dashboard/documenti/report
    .tabber-container>.k-tabstrip>.k-tabstrip-items {
        background: $bkg-dark;
        border-bottom-color: $bkg-dark;
    }
    //Selettore menu/dashboard/documenti/report, singola tab
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
        background: $bkg-medium;
        color: $text-light;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab attiva
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
        background: $bkg-light;
        color: $text-dark;
        border-bottom-color: $bkg-light;
    }
    //colore pulsanti finestre di messaggio modali
    .k-button.k-primary,
    .k-button.k-primary,
    .k-button.k-primary:visited,
    .k-slider .k-draghandle,
    .k-switch-on .k-switch-handle {
        background-color: $bkg-medium;
        border-color: $bkg-medium;
        color: $text-dark;
    }
    .k-button.k-primary:hover,
    {
        background-color: $bkg-light;
        border-color: $bkg-light;
        color: $text-dark;
        background-image: none;
    }
    //colore barra del titolo delle finestre di messaggio modali
    .k-dialog-titlebar {
        background-color: $bkg-medium;
    }
    //colore della toolbar principale della frame
    .toolbar-top {
        background-color: $bkg-light;
        color: $text-dark;
    }
    //colore del tabber del selettore menu
    .menu-page .k-tabstrip-top>.k-tabstrip-items {
        background-color: $bkg-light;
        color: $text-dark;
    }
    //colore del tabber del selettore menu, singola tab
    .menu-page .k-tabstrip>.k-tabstrip-items .k-item .k-link {
        color: $text-dark
    }
    //colore del tabber del selettore menu, singola tab attiva
    .menu-page .k-tabstrip-top>.k-tabstrip-items .k-item.k-state-active .k-link {
        color: $text-light;
        background: $bkg-dark;
    }
    //tbcard, 
    .tb-card {
        background-color: $bkg;
    }
    //titolo della tbcard
    .tb-card-title {
        font-size: 17px;
    }
    tb-menu-element .menu-element-content {
        font-size: 16px;
    }
    tb-menu-element .menu-element:hover {
        background-color: $bkg-light-opacity50;
    }
    //dimensione del font delle voci di menu
    tb-menu-element .menu-element-content .object-type {
        font-size: 16px;
    }
    //Colore icone di tipo document
    tb-menu-element .menu-element-content .object-type.Document {
        color: $bkg-medium;
    }
    //Colore icone di tipo Report
    tb-menu-element .menu-element-content .object-type.Report {
        color: $bkg-medium;
    }
    //Colore icone di tipo Batch
    tb-menu-element .menu-element-content .object-type.Batch {
        color: $bkg-medium;
    }
    //Colore icone di tipo Function
    tb-menu-element .menu-element-content .object-type.Function {
        color: $bkg-medium;
    }
    //colore della stellina nel menu dei favoriti
    tb-menu-element .menu-element-content .star {
        color: $bkg-medium;
        font-size: 18px;
        line-height: 22px;
        margin-right: 3px;
        &.favorite {
            color: $bkg-medium;
        }
    }
    tb-menu-element .menu-element-content .star:hover {
        color: $bkg-dark;
        cursor: pointer;
    }
    //colore scrollbar
     ::-webkit-scrollbar-thumb {
        background: $bkg-medium;
    }
    //colore di fondo della sidenav
    .mat-sidenav {
        background: $bkg-dark;
    }
    //colore di fondo della lista applicazioni
    ul.application-list,
    ul.groups-list {
        background: $bkg-light;
        &>li {
            color: $text-medium;
            background: $bkg-neutral;
        }
        &>li:hover {
            color: $text-light;
            background: $bkg-medium;
        }
        .selected {
            color: $text-light;
            background: $bkg-medium;
        }
    }
    //tidolo delle voci sidenav
    .sidenav-subtitle {
        background-color: $bkg-dark;
        h4 {
            color: $text-light;
        }
    }
    //stile quando usato nella sidenav
    /// inizio sidenav
    .sidenav {
        m4-icon.close {
            color: $text-light;
        }
        //recenti, colori 
        .most-used-item,
        .favorite-item,
        .hiddenTiles-item {
            color: $text-light;
            background: $bkg-neutral;
            m4-icon.type {
                color: $text-medium;
            }
        }
        .most-used-item:hover,
        .favorite-item:hover,
        .hiddenTiles-item:hover {
            background-color: $bkg-medium;
            span {
                color: $text-light;
            }
            m4-icon.close,
            m4-icon.close :hover {
                color: $text-light;
            }
        }
        //recenti, favoriti , nascosti, lista vuota
        .most-used-empty,
        .favorites-empty,
        .hiddenTiles-empty {
            color: $text-light;
            background-color: $bkg-dark;
        }
        .favorites {
            margin-bottom: 0px;
        }
    }
    /// fine sidenav
    //stile quando usato nella dashboard
    /// inizio dashboard
    .dashboard {
        //recenti, preferiti
        .most-used-item,
        .favorite-item,
        .hiddentiles {
            background: #f1f1f1;
            border: 1px solid #ddd;
            margin: 3px 7px;
            height: 28px;
            &>span {
                color: $text-dark;
                line-height: 29px;
            }
            &:hover span {
                color: $bkg-medium;
            }
            .type {
                margin-right: 7px;
            }
            .type.Document {
                color: $bkg-medium;
            }
            .type.Report,
            .type.Function {
                color: $bkg-medium;
            }
            .type.Batch {
                color: $bkg-medium;
            }
            m4-icon.close {
                color: #ddd;
                &:hover {
                    color: $bkg-medium;
                }
            }
            .most-used-empty,
            .favorites-empty,
            .hiddenTiles-empty {
                color: $text-dark;
            }
        }
    }
    .tbcontainer #anchor:hover,
    .tbcontainer #anchor:focus,
    .tbcontainer #anchor:visited {
        outline-color: $bkg-light;
        outline-style: auto;
        outline-width: 5px;
    }
    /*colore del bottone spinner*/
    .hideButton {
        color: $bkg-medium;
    }
    /* colore del loader*/
    .loader {
        border: 4px solid $bkg-light-opacity50;
        ; // è lo stesso del light con opacità inferiore
        border-top: 4px solid $bkg-dark;
    }
}

.mat-tooltip {
    font-size: $font-size-tooltip !important;
    background-color: $bkg-dark !important;
    color: $text-light !important;
    border-radius: 0px !important;
    padding: 10px 0px 10px 15px;
    text-align: center;
}