 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Collections relevant to')" tbTileMini  hasTitle="True">
         <tb-label-static cmpId="IDC_SEPARATOR" width="93"></tb-label-static>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Year')" cmpId="IDC_TS_EXPORTCSVFILE_YEAR" width="36" [model]="eventData?.model?.Year"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Document Type')" tbTileMini  hasTitle="True">
         <tb-radio cmpId="IDC_TS_EXPORT_CSV_DOCTYPE_ALL" width="145" [model]="eventData?.model?.bDocTypeAll" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_TS_EXPORT_CSV_DOCTYPE_SEL" width="145" [model]="eventData?.model?.bDocTypeSel" [caption]="_TB('Selection')"></tb-radio>
         <tb-enum-combo cmpId="IDC_TS_EXPORT_CSV_DOCTYPE" width="120" [model]="eventData?.model?.DocType" [itemSource]="IDC_TS_EXPORT_CSV_DOCTYPE_itemSource"></tb-enum-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Document Date')" tbTileMini  hasTitle="True">
         <tb-radio cmpId="IDC_TS_EXPORT_CSV_DATE_ALL" width="30" [model]="eventData?.model?.bDocDateAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_TS_EXPORT_CSV_DATE_SEL" width="35" [model]="eventData?.model?.bDocDateSel" [caption]="_TB('From')"></tb-radio>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_TS_EXPORT_CSV_FROM_DATE" width="57" [model]="eventData?.model?.FromDocDate"></tb-date-input>
</div>         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_TS_EXPORT_CSV_TO_DATE" width="57" [model]="eventData?.model?.ToDocDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Document Number')" tbTileMini  hasTitle="True">
         <tb-radio cmpId="IDC_TS_EXPORT_CSV_DOCNO_ALL" width="30" [model]="eventData?.model?.bDocNoAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_TS_EXPORT_CSV_DOCNO_SEL" width="35" [model]="eventData?.model?.bDocNoSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_TS_EXPORT_CSV_FROM_DOCNO" width="80" [model]="eventData?.model?.FromDocNo"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_TS_EXPORT_CSV_TO_DOCNO" width="80" [model]="eventData?.model?.ToDocNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Job')" tbTileMini >
         <tb-radio cmpId="IDC_TS_EXPORT_CSV_JOB_ALL" width="32" [model]="eventData?.model?.bJobAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_TS_EXPORT_CSV_JOB_SEL" width="36" [model]="eventData?.model?.bJobSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_TS_EXPORT_CSV_FROM_JOB" width="71" [model]="eventData?.model?.FromJob"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_TS_EXPORT_CSV_TO_JOB" width="71" [model]="eventData?.model?.ToJob"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="138" [model]="eventData?.model?.TSExportCsvFileDetail">
         <tb-body-edit-column cmpId="IDC_TS_EXPORT_CSV_FILE_BE_SELECTED" columnName="TEnhTSExp_bSelected" [title]="_TB('Selected')" columnType="tb-checkbox" columnName="IDC_TS_EXPORT_CSV_FILE_BE_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Long" disabled="true" cmpId="IDC_TS_EXPORT_CSV_FILE_BE_DOCTYPE" columnName="SaleDocId" [title]="_TB('Doc. ID')" columnType="tb-numeric-text-box" columnName="IDC_TS_EXPORT_CSV_FILE_BE_DOCTYPE" *ngIf="eventData?.activation?.IDC_TS_EXPORT_CSV_FILE_BE_DOCTYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TS_EXPORT_CSV_FILE_BE_DOCTYPE" columnName="DocumentType" [title]="_TB('Document Type')" columnType="tb-enum-combo" columnName="IDC_TS_EXPORT_CSV_FILE_BE_DOCTYPE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_TS_EXPORT_CSV_FILE_BE_DOCDATE" columnName="DocumentDate" [title]="_TB('Document Date')" columnType="tb-date-input" columnName="IDC_TS_EXPORT_CSV_FILE_BE_DOCDATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TS_EXPORT_CSV_FILE_BE_DOCNO" columnName="DocNo" [title]="_TB('Document Number')" columnType="tb-label-static" columnName="IDC_TS_EXPORT_CSV_FILE_BE_DOCNO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_TS_EXPORT_CSV_FILE_BE_DOCYEAR" columnName="TEnhTSExp_Year" [title]="_TB('Year')" columnType="tb-numeric-text-box" columnName="IDC_TS_EXPORT_CSV_FILE_BE_DOCYEAR">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TS_EXPORT_CSV_FILE_BE_CHARGETYPE" columnName="TEnhTSExp_TSChargeType" [title]="_TB('Charge
Type')" columnType="tb-label-static" columnName="IDC_TS_EXPORT_CSV_FILE_BE_CHARGETYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TS_EXPORT_CSV_FILE_BE_CHARGETYPE_DESCR" columnName="TEnhTSExp_TSChargeTypeDesc" [title]="_TB('Charge Type
Description')" columnType="tb-label-static" columnName="IDC_TS_EXPORT_CSV_FILE_BE_CHARGETYPE_DESCR">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TS_EXPORT_CSV_FILE_BE_CHARGETYPEFLAG" columnName="TEnhTSExp_TSChargeTypeFlag" [title]="_TB('Charge
Type Flag')" columnType="tb-label-static" columnName="IDC_TS_EXPORT_CSV_FILE_BE_CHARGETYPEFLAG">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TS_EXPORT_CSV_FILE_BE_CHARGETYPEFLAG_DESCR" columnName="TEnhTSExp_TSChargeTypeFlagDesc" [title]="_TB('Charge Type Flag
Description')" columnType="tb-label-static" columnName="IDC_TS_EXPORT_CSV_FILE_BE_CHARGETYPEFLAG_DESCR">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_TS_EXPORT_CSV_FILE_BE_AMOUNT_TO_TRANSFER" columnName="TEnhTSExp_AmountToTransfer" [title]="_TB('Charge Amount
to be trasferred')" columnType="tb-numeric-text-box" columnName="IDC_TS_EXPORT_CSV_FILE_BE_AMOUNT_TO_TRANSFER">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_TS_EXPORT_CSV_FILE_BE_AMOUNT_TRANSFERRED_AMOUNT" columnName="TEnhTSExp_TransferredAmount" [title]="_TB('Charge Amount
already transferred')" columnType="tb-numeric-text-box" columnName="IDC_TS_EXPORT_CSV_FILE_BE_AMOUNT_TRANSFERRED_AMOUNT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TS_EXPORT_CSV_FILE_BE_OPERATION_TYPE" columnName="TEnhTSExp_OperationType" [itemSource]="IDC_TS_EXPORT_CSV_FILE_BE_OPERATION_TYPE_itemSource" [title]="_TB('Operation Type')" columnType="tb-enum-combo" columnName="IDC_TS_EXPORT_CSV_FILE_BE_OPERATION_TYPE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_TS_EXPORT_CSV_FILE_BE_INSTDATE" columnName="TEnhTSExp_InstallmentDate" [title]="_TB('Inst. Date')" columnType="tb-date-input" columnName="IDC_TS_EXPORT_CSV_FILE_BE_INSTDATE" *ngIf="eventData?.activation?.IDC_TS_EXPORT_CSV_FILE_BE_INSTDATE">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
