<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microarea.Internals.PingImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microarea.Internals.PingImporter.Properties.Settings>
            <setting name="PingImporter_it_microarea_www_Registration" serializeAs="String">
                <value>http://www.microarea.it/Registration/Registration.asmx</value>
            </setting>
            <setting name="ftpHostName" serializeAs="String">
                <value>194.242.61.188</value>
            </setting>
            <setting name="pingWebServerHostName" serializeAs="String">
                <value>www.microarea.it</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>iproev68</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>gCXdkKSH00</value>
            </setting>
            <setting name="authenticationToken" serializeAs="String">
                <value>1CCAF7DA-6289-422E-B907-9F07270D8424</value>
            </setting>
        </Microarea.Internals.PingImporter.Properties.Settings>
    </applicationSettings>
</configuration>