.topbar-menu-layout .k-button {
    color: white;
    background-color: #00578c;
    background-image: none;
    border-color: transparent;
    border: 0;
    border-radius: 0px;
}

.topbar-menu-layout .topbar-menu-button {
    background-color: transparent;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    padding-top: 5px;
    margin: 0px;
}

.topbar-menu-layout .k-button:hover {
    color: #0277BD;
    background-color: white;
    background-image: none;
    border-color: #00578c;
    border: 0;
    border-left: 2px;
    border-right: 2px;
    border-radius: 0px;
}

.topbar-menu-layout .topbar-menu-button:focus,
.topbar-menu-layout .topbar-menu-button:active {
    background-color: #00578c;
    background-image: none;
    border-color: #00578c;
    border: 0;
    border-radius: 0px;
}

.k-list .k-item:focus,
.k-list .k-item.k-state-focused {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

.contextMenuClass {
    width: 5%;
    margin-right: 0px;
    margin-left: auto;
    padding-top: 5px;
    outline: none;
}

.topbar-menu-layout .material-icons {
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.topbar-menu-layout .material-icons:focus {
    color: #bcd3e1;
    background-color: transparent;
    border-color: transparent;
}

.topbar-menu-layout .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 24px;
}

.divW {
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    font-size: smaller;
}

.checkIcon {
    float: right;
}

.subsIcon {
    float: left;
}

.borderOn {
    border: 1px solid blue;
}

.spaceOn {
    padding-left: 24px;
}

span {
    vertical-align: sub;
}