 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Components')" icon="erp-components" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Components')" tbTileStandard  isCollapsible="True">
         <tb-body-edit cmpId="IDC_LOAD_BOM_BE_COMPONENTS" width="433" [model]="eventData?.model?.BOMLoadingComponents">
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_DETAIL_BE_SELECTED" columnName="Selected" [title]="_TB('Sel')" columnType="tb-checkbox" columnName="IDC_LOAD_BOM_DETAIL_BE_SELECTED">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_LOAD_BOM_BE_LINE" columnName="Line" [title]="_TB('Line')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_BOM_BE_LINE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_CODETYPE_COMPO" columnName="ComponentType" [title]="_TB('Type')" columnType="tb-enum-combo" columnName="IDC_LOAD_BOM_BE_CODETYPE_COMPO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_COMPONENT" columnName="Component" [title]="_TB('Component')" columnType="tb-label-static" columnName="IDC_LOAD_BOM_BE_COMPONENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_DESCRI" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_LOAD_BOM_BE_DESCRI">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_LOAD_BOM_BE_QUANTITY" columnName="Qty" [title]="_TB('Quantity')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_BOM_BE_QUANTITY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_FIXED_QTY" columnName="FixedQty" [title]="_TB('Fixed Quantity')" columnType="tb-checkbox" columnName="IDC_LOAD_BOM_BE_FIXED_QTY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_FIXED_QTY_MO" columnName="SetFixedQtyOnMO" [title]="_TB('Set fixed\nquantity on MO')" columnType="tb-checkbox" columnName="IDC_LOAD_BOM_BE_FIXED_QTY_MO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_UNI_MIS" columnName="UoM" [title]="_TB('UOM')" columnType="tb-label-static" columnName="IDC_LOAD_BOM_BE_UNI_MIS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_LOAD_BOM" columnName="FixedComponent" [title]="_TB('Fixed')" columnType="tb-checkbox" columnName="IDC_LOAD_BOM_BE_LOAD_BOM">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_VALORIZE" columnName="Valorize" [title]="_TB('Valorize')" columnType="tb-checkbox" columnName="IDC_LOAD_BOM_BE_VALORIZE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_LOAD_BOM_BE_QTY_WASTE" columnName="ScrapQty" [title]="_TB('Scrap Qty')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_BOM_BE_QTY_WASTE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_UNI_MIS_WASTE" columnName="ScrapUM" [title]="_TB('UOM')" columnType="tb-label-static" columnName="IDC_LOAD_BOM_BE_UNI_MIS_WASTE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_VARIANT_BOM" columnName="Variant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_LOAD_BOM_BE_VARIANT_BOM">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_LOAD_BOM_BE_DATE_BEG_VAL_COMP" columnName="ValidityStartingDate" [title]="_TB('Valid from')" columnType="tb-date-input" columnName="IDC_LOAD_BOM_BE_DATE_BEG_VAL_COMP" *ngIf="eventData?.activation?.IDC_LOAD_BOM_BE_DATE_BEG_VAL_COMP">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_LOAD_BOM_BE_DATE_END_VAL_COMP" columnName="ValidityEndingDate" [title]="_TB('Until')" columnType="tb-date-input" columnName="IDC_LOAD_BOM_BE_DATE_END_VAL_COMP" *ngIf="eventData?.activation?.IDC_LOAD_BOM_BE_DATE_END_VAL_COMP">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_LOAD_BOM_BE_RTGSTEP_SENT" columnName="DNRtgStep" [title]="_TB('Use in step')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_BOM_BE_RTGSTEP_SENT" *ngIf="eventData?.activation?.IDC_LOAD_BOM_BE_RTGSTEP_SENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-label-static" columnName="IDC_LOAD_BOM_BE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Operations')" icon="erp-routing" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Operations')" tbTileStandard  isCollapsible="True">
         <tb-body-edit cmpId="IDC_LOAD_BOM_BE_ROUTING" width="443" [model]="eventData?.model?.BOMLoadingRouting">
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_ROUTING_SELECTED" columnName="Selected" [title]="_TB('Sel')" columnType="tb-checkbox" columnName="IDC_LOAD_BOM_BE_ROUTING_SELECTED">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_LOAD_BOM_BE_ROUTING_RTGSTEP" columnName="RtgStep" [title]="_TB('Step')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_BOM_BE_ROUTING_RTGSTEP" *ngIf="eventData?.activation?.IDC_LOAD_BOM_BE_ROUTING_RTGSTEP">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_ROUTING_ALTERNATE" columnName="Alternate" [title]="_TB('Alternative')" columnType="tb-label-static" columnName="IDC_LOAD_BOM_BE_ROUTING_ALTERNATE" *ngIf="eventData?.activation?.IDC_LOAD_BOM_BE_ROUTING_ALTERNATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_LOAD_BOM_BE_ROUTING_RTGSTEP_ALTERNATE" columnName="AltRtgStep" [title]="_TB('Alternative Step')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_BOM_BE_ROUTING_RTGSTEP_ALTERNATE" *ngIf="eventData?.activation?.IDC_LOAD_BOM_BE_ROUTING_RTGSTEP_ALTERNATE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_ROUTING_OPERATION" columnName="Operation" [title]="_TB('Operation')" columnType="tb-text" columnName="IDC_LOAD_BOM_BE_ROUTING_OPERATION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_ROUTING_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-label-static" columnName="IDC_LOAD_BOM_BE_ROUTING_NOTES">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_ROUTING_WC" columnName="WC" [title]="_TB('WC')" columnType="tb-label-static" columnName="IDC_LOAD_BOM_BE_ROUTING_WC" *ngIf="eventData?.activation?.IDC_LOAD_BOM_BE_ROUTING_WC">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_ROUTING_T_PROCESS" columnName="ProcessingTime" [title]="_TB('Processing Time')" columnType="tb-body-edit-column" columnName="IDC_LOAD_BOM_BE_ROUTING_T_PROCESS">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_LOAD_BOM_BE_ROUTING_T_QUANTITY" columnName="Qty" [title]="_TB('Quantity')" columnType="tb-numeric-text-box" columnName="IDC_LOAD_BOM_BE_ROUTING_T_QUANTITY" *ngIf="eventData?.activation?.IDC_LOAD_BOM_BE_ROUTING_T_QUANTITY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_LOAD_BOM_BE_ROUTING_CODETYPESUBCNTDNGENERATION" columnName="LineTypeInDN" [title]="_TB('DN Generation Type')" columnType="tb-enum-combo" columnName="IDC_LOAD_BOM_BE_ROUTING_CODETYPESUBCNTDNGENERATION" *ngIf="eventData?.activation?.IDC_LOAD_BOM_BE_ROUTING_CODETYPESUBCNTDNGENERATION">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FINDER_STAYALIVE?.enabled" icon="framework.tbframeworkimages.images.25x25.pin.png" [caption]="_TB('Pin')" cmpId="ID_FINDER_STAYALIVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
