<tb-frame>
    <tb-toolbar-top>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.Find.png" caption="Search" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.First.png" caption="First" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.Prev.png" caption="Previous" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.Next.png" caption="Next" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.Last.png" caption="Last" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.Query.png" caption="Query" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.Exit.png" caption="Exit" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.Refresh.png" caption="Refresh data" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.Customize.png" caption="Customize" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="Framework.TbFrameworkImages.Images.25x25.SocialShare.png" caption="Share" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
        <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" icon="Framework.TbFrameworkImages.Images.25x25.Inspect.png" caption="Inspect field" cmpId="ID_INSPECT"></tb-toolbar-top-button>
    </tb-toolbar-top>

    <tb-view class="MyScroll">

        <div class="demo-container">

            <tb-open></tb-open>

        </div>
    </tb-view>
</tb-frame>