

body{
    overflow-y:hidden;
}
.canvas-container {
    -webkit-flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
    padding: 20px;
}

.canvas {
    width: 210mm;
    height: 297mm;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}
