 // Font Sizes
 $mf-font-size: 1rem !default;
 // Margin & Paddings
 $mf-gap: $mf-font-size * 1.5 !default;
 .contextMenuClass {
     //  margin-top: ($mf-gap * 1.5);
     // width: 15px;
     width: 5%;
     margin-right: 0px;
     margin-left: auto;
     padding-top: 5px;
     outline: none;
 }
 
 .material-icons {
     font-size: $mf-font-size * 1.3;
     cursor: pointer;
     flex-direction: row;
 }
 
 .cm-content {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     width: 200px;
     height: 100%;
     white-space: normal;
 }
 
 .divW {
     width: inherit;
     flex-direction: row;
     flex-wrap: wrap;
     text-align: left;
     font-size: smaller;
 }
 
 .checkIcon {
     float: right;
 }
 
 .subsIcon {
     float: left;
 }
 
 .borderOn {
     border: 1px solid blue;
 }
 
 .spaceOn {
     padding-left: 20px;
 }
 
 .spaceOff {
    padding-left: 5px;
}

 span {
     vertical-align: sub;
 }