.tileContainer {
	padding-left: 20px;
	padding-top: 10px;
	margin: 5px;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

/*title and pinimage container*/
	.tileContainer > div:first-child {
		width: 98%;
		border-bottom: 1px solid;
		border-bottom-color: lightgrey;
		margin-bottom: 10px;
	}

	/*pin image*/
	.tileContainer .unpinnedImage, .tileContainer .pinnedImage {
		float: right;
	}

	/*tile title*/
	.tileContainer > div:first-child > div:first-child {
		display: inline-block;
		margin-bottom: 7px;
		width: 90%;
	}


.tileContent {
	/*height:234px;*/ /*this parameter must be changed with javascript*/
	/*height:235px;*/
	overflow: auto;
	padding-right: 5px;
	padding-top: 2px;
	line-height: 160%;
}

	.tileContent a {
		text-decoration: none;
	}

	/*menu object image*/
	.tileContent > div > div {
		display: inline-block;
	}



.settingsAndMenuSelector {
	height: 47px;
}

/*Black menu bar*/
.menuSelectorPanel {
	height: 45px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.coloredMenuSeparator {
	background: -webkit-linear-gradient(0deg, #25b767 0%, #0abaee 33%, #cbcbcb 65%, #000000 100%);
	height: 2px;
}
