<p>
  <a href="#" (click)="runDocument('ERP.Languages.Documents.Languages')">Languages</a>
</p>
  <router-outlet></router-outlet>

<md-sidenav-layout class="demo-sidenav-layout">
  <md-sidenav #start mode="over">
    <button md-button (click)="start.close()">{{localizationService.getLocalizedElement('CloseLabel')}}</button>
 
    <!--<a [routerLink]="['menu', {outlets: { 'favorites': ['favorites'] }}]" routerLinkActive="active">Show Favorites2</a>
    <a [routerLink]="['menu', {outlets: { 'favorites': undefined }}]" routerLinkActive="active">Close</a>
    <router-outlet name="favorites"></router-outlet>-->
    <tb-favorites></tb-favorites>
    <tb-most-used></tb-most-used>

  </md-sidenav>

  <div class="demo-sidenav-content">

    <md-toolbar [color]="myColor">
      <span>
        <button md-button (click)="start.toggle()">
        <md-icon>settings</md-icon>
      </button>
      </span>

      <span>

        <span *ngIf="menuService.applicationMenu != undefined">
          <tb-application-selector [Menu]="menuService.applicationMenu"></tb-application-selector>
        </span>

      <span *ngIf="menuService.getSelectedApplication() != undefined">
              <tb-group-selector></tb-group-selector>
        </span>
      </span>
    </md-toolbar>

    <div *ngIf="menuService.getSelectedGroup() != undefined">
      <tb-menu-selector></tb-menu-selector>
    </div>
  </div>
</md-sidenav-layout>