@import '../../../../style/tb.scss';
.favorites {
    margin-bottom: 20px;
}

ul.favorites-list {
    padding: 0;
    margin: 0;
}

.favorite-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: $bkg-light;
    line-height: 30px;
    background: $blue;
    &:hover {
        background: $darkblue;
    }
    &>span {
        flex: 1;
        font-size: 12px;
        font-weight: 500;
    }
    m4-icon.type {
        margin: 0px 7px;
        font-size: 15px;
        line-height: 28px;
        padding-top: 2px;
    }
    m4-icon.close {
        margin: 0px 7px;
        font-size: 14px;
        line-height: 28px;
        padding-top: 2px;
        cursor: pointer;
        color: $bkg-light;
        &:hover {
            color: #fff;
        }
     }
}

.favorites-empty {
    font-size: 12px;
    margin: 0;
    padding: 0 11px;
    color: $bkg-light;
    background: $blue;
    line-height: 40px;
}