
.rsTable {
    .k-grid-header {
        padding: 0px !important;
        border-style: hidden;
        border-right: 1px solid !important;
        background-color: #C0C0C0;
    }
    .k-grid-content{
        overflow-y: unset;
    }
    .k-widget {
        border-style: hidden !important;
    }
}