.property-grid-item {
    display: flex;
    align-items: center;
}

.property-grid-item /deep/ tb-caption {
    display: none
}

.property-text {
    flex: 2
}

.property-grid-item /deep/ tb-text {
    flex: 1
}
