<kendo-dialog [title]="title" *ngIf="opened" (close)="close('cancel')">
    <p style="text-align: center;">{{message}}</p>
    <div *ngIf="mode === 'fields'">
        <admin-input-text *ngFor="let field of fields" 
            class="d-block"
            [material]=false 
            [inputLabel]="field.label" 
            [textType]="field.hide ? 'password' : 'text'"
            [(inputData)]="field.value"></admin-input-text>
    </div>
    <kendo-dialog-actions *ngIf="mode === 'yesno'">
        <div class="base-dialog-button border-right pointer half-w" (click)="close('yes')">Yes</div>
        <div class="base-dialog-button pointer half-w" (click)="close('no')">No</div>
    </kendo-dialog-actions>
    <kendo-dialog-actions *ngIf="mode === 'message'">
        <div class="base-dialog-button pointer full-w" (click)="close('yes')">Ok</div>
    </kendo-dialog-actions>
    <kendo-dialog-actions *ngIf="mode === 'fields'">
        <div class="base-dialog-button border-right pointer half-w" (click)="close('yes')">Ok</div>
        <div class="base-dialog-button pointer half-w" (click)="close('no')">Cancel</div>
    </kendo-dialog-actions>
</kendo-dialog>