.half-w { width:50%; }
.full-w { width:100%; }
.base-dialog-button { text-align:center;padding:10px; }
.border-right { border-right:1px solid #f0f0f0; }
.pointer { cursor:pointer; }
.d-block { display: block;}
.dialog-message { width:380px; margin-left:auto; margin-right: auto; text-align: justify }