<div [ngStyle]="layoutBackStyle" *ngIf="!showAsk">
  <div [ngStyle]="layoutStyle">
    <div *ngFor="let item of objects">
      <div [ngSwitch]="item.obj">

        <rs-textrect [rect]="item" *ngSwitchCase="ReportObjectType.textrect"> </rs-textrect>
        <rs-fieldrect [rect]="item" *ngSwitchCase="ReportObjectType.fieldrect"> </rs-fieldrect>
        <rs-table [table]="item" *ngSwitchCase="ReportObjectType.table"> </rs-table>
        <rs-image [image]="item" *ngSwitchCase="ReportObjectType.graphrect"> </rs-image>
        <rs-rect [rect]="item" *ngSwitchCase="ReportObjectType.sqrrect"> </rs-rect>
        <rs-chart [chart]="item" *ngSwitchCase="ReportObjectType.chart"> </rs-chart>
        <!--          <rs-repeater [repeater]="item" *ngSwitchCase="5"> </rs-repeater> -->

      </div>
    </div>
  </div>
</div>