<div [ngStyle]="layoutBackStyle" *ngIf="!showAsk">
  <div [ngStyle]="layoutStyle">
    <div *ngFor="let item of objects" [ngStyle]="layoutObjectDivStyle">
      <div [ngSwitch]="item.obj">

        <rs-textrect [rect]="item" *ngSwitchCase="ROT.textrect"> </rs-textrect>
        <rs-fieldrect [rect]="item" *ngSwitchCase="ROT.fieldrect"> </rs-fieldrect>
        <rs-table [table]="item" *ngSwitchCase="ROT.table"> </rs-table>
        <rs-image [image]="item" *ngSwitchCase="ROT.graphrect"> </rs-image>
        <rs-rect [rect]="item" *ngSwitchCase="ROT.sqrrect"> </rs-rect>
        <rs-chart [chart]="item" *ngSwitchCase="ROT.chart"> </rs-chart>
        <rs-gauge [gauge]="item" *ngSwitchCase="ROT.gauge"> </rs-gauge>
        <!--          <rs-repeater [repeater]="item" *ngSwitchCase="5"> </rs-repeater> -->

      </div>
    </div>
  </div>
</div>