<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo localize="Easy Look">
	<FilesExtension value="*.asax" />
	<FilesExtension value="*.ascx" />
	<FilesExtension value="*.asmx" />
	<FilesExtension value="*.aspx" />
	<FilesExtension value="*.css" />
	<FilesExtension value="*.htm" />
	<FilesExtension value="*.webinfo" />
</ModuleInfo>