<div class="adminTile">
  <h4 style="display:inline">Subscriptions</h4>
  <label style="display:block">Search</label>
  <input type="text" [(ngModel)]="searchString">
  <admin-icon (click)="doSearchSubscriptions()" class="pointer" [iconSignature]="'pageview'"></admin-icon>
  <p *ngIf="subscriptionsResult !== undefined && subscriptionsResult.length > 0">Found subscriptions</p>
  <admin-list 
    *ngIf="subscriptionsResult !== undefined && subscriptionsResult.length > 0" 
    [items]="subscriptionsResult" 
    [columnNames]="columnNamesAccountRoles"
    [readingData]=readingData
    (onSelectedItem)="associateSubscription($event)"></admin-list>
  <p style="margin-top: 30px">Linked to this account</p>
  <admin-list 
    [items]="subscriptions" 
    [columnNames]="columnNames"
    [rowCommand]="'delete'"
    [readingData]=readingDataLinked
    (onFireRowCommand)="deleteAssociation($event)"></admin-list>
</div>