<div class="container">
  <h2 class="componentTitle">Account {{model.AccountName}}</h2>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
          <admin-input-text
            [inputLabel]="'Account Name'"
            [textType]="'email'"
            [readOnly]=editing
            [(inputData)]="model.AccountName"></admin-input-text>
        </div>
        <div>
          <admin-input-text
            *ngIf="!editing"
            [inputLabel]="'Password'"
            [textType]="'password'"
            [readOnly]=editing
            [(inputData)]="model.Password"></admin-input-text>
          <button *ngIf="editing" (click)="doChangePassword()" style="font-size:10px;border:0;background-color:#e0e0e0;margin-top:15px;">Change Password</button>
        </div>
        <div style="padding-top:20px">
          <label><input type="checkbox" name="cboxPwNeverExpires" value="" [(ngModel)]="model.PasswordNeverExpires">Password never expires</label>
        </div>        
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        <div>
            <admin-input-text
              [inputLabel]="'Full Name'"
              [textType]="'text'"
              [(inputData)]="model.FullName"></admin-input-text>
        </div>
        <div style="padding-top:20px">
          <label><input type="checkbox" name="cboxLocked" value="" [(ngModel)]="model.ProvisioningAdmin">Provisioning Administrator</label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileHalf">
        <div>
          <label><input type="checkbox" name="cboxDisabled" value="" [(ngModel)]="model.Disabled">Disabled</label>
        </div>
        <div>
          <label><input type="checkbox" name="cboxLocked" value="" [(ngModel)]="model.Locked">Locked</label>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileHalf">
        <div>
          <label>Language</label>
          <input type="text" value="" [(ngModel)]="model.Language">
        </div>
        <div>
          <label>Regional Settings</label>
          <input type="text" value="" [(ngModel)]="model.RegionalSettings">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="adminTile tileHalf">
        <label>Notes</label>
        <textarea rows="5" cols="30" maxlength="500" [(ngModel)]="model.Notes"></textarea>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="adminTile tileNormal">
          <app-account-subscriptions [editAccountName]="model.AccountName" [subscriptions]="subscriptionsAccount"></app-account-subscriptions>
      </div>
    </div>
  </div>

  <div class="row center-xs center-sm end-lg">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <img *ngIf="saving" src="assets/ajax-loader.gif" />
      <button *ngIf="!saving" type="button" style="margin-top:40px;" class="cta" (click)="submitAccount()">Save</button>
    </div>
  </div>
</div>