<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="box">
        <h1 class="mt40">Accounts Management</h1>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 end-lg">
      <div class="box mt40" *ngIf="accounts.length > 0">
        <admin-button routerLink='/account' [buttonText]="'New'" [primary]=true></admin-button>
      </div>
    </div>
    <div *ngIf="accounts.length === 0" class="col-xs-12 col-md-12">
      <!-- next panel should be a component -->
      <div class="adminTile">
        <div *ngIf="accounts.length === 0">
          <div style="display:block">
            <h3 style="float:left;color:#666666">
              <admin-icon [iconSignature]="'notifications'"></admin-icon>
            </h3>
            <h3 style="float:left;margin-left:20px;">You have not yet created any account.</h3>
            <div style="clear: both"></div>
          </div>
          <div class="pt20" style="border-top:1px solid #c0c0c0; margin-bottom:10px">
            <admin-button [primary]=true [buttonText]="'New Account'" [routerLink]="['/account']"></admin-button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="accounts.length > 0" class="col-xs-12 col-md-12">
      <admin-list [items]=accounts [showHeader]=true [columnNames]="['AccountName','FullName']" (onSelectedItem)="openAccount($event)"
        [readingData]=readingData></admin-list>
    </div>
  </div>
</div>