<!--<div class="divSinistra">
    <div class="panelbar-wrapper">
        <kendo-panelbar>
            <kendo-panelbar-item *ngFor="let application of applications" (click)=selecteApplication(application.path) [title]="application.name">
                <ng-template kendoPanelBarContent>
             <div *ngFor="let folder of folders" class="appTitle" (click)=selecteFolder(folder.path)>
        <div class="panel">{{folder.name}}</div>
    </div>
                 </ng-template>

            </kendo-panelbar-item>
        </kendo-panelbar>
    </div>
</div> 

<kendo-panelbar>
    <kendo-panelbar-item *ngFor="let application of applications" (click)=selecteApplication(application.path) [title]="application.name">
        <ng-template kendoPanelBarContent>
             <div *ngFor="let folder of folders" class="appTitle" (click)=selecteFolder(folder.path)>
        <div class="panel">{{folder.name}}</div>
    </div>
                 </ng-template>
//  <div (click)=selecteFolder(folder.path)>{{folder.name}}</div>
    </kendo-panelbar-item>
</kendo-panelbar>-->

<div style="float:left; display:block; width:20%; height:150px; background-color:#F00;">
    <div class="panelbar-wrapper">
        <kendo-panelbar>
            <kendo-panelbar-item *ngFor="let application of applications" (click)=selecteApplication(application.path) [title]="application.name">
                <ng-template kendoPanelBarContent>
                    <div *ngFor="let folder of folders">
                        <kendo-panelbar-item [title]="folder.name" (click)=selecteFolder(folder.path)></kendo-panelbar-item>
                    </div>
                </ng-template>
            </kendo-panelbar-item>
        </kendo-panelbar>
    </div>
</div>
<div style="float:left; display:block; width:70%; background-color:#FF0;">
    <kendo-grid [data]="files" [selectable]="true">
        <kendo-grid-column width="20">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Name" width="120"></kendo-grid-column>
        <kendo-grid-column field="path" title="Path" width="470"></kendo-grid-column>
    </kendo-grid>
</div>
<div style="clear:both;"></div>