<div class="adminTile">
  <div style="display:block">
    <h3 class="left warning"><admin-icon [iconSignature]="iconSignature"></admin-icon></h3>
    <h3 class="left action-message">{{ message }}</h3>
    <div style="clear: both"></div>
  </div>
  <div class="pt20" style="border-top:1px solid #c0c0c0; margin-bottom:10px">
    <admin-button *ngIf="showButton" [primary]=true [buttonText]="actionText" (click)="fireActionEvent()"></admin-button>
    <a *ngIf="!showButton" class="nav-link" (click)="fireActionEvent()">{{actionText}}</a>
  </div>
</div>