.link {
    background:none!important;
    border:none; 
    padding:0!important;
    cursor:pointer;
}

.link:focus{
    outline: none;
}

.k-textbox-container {
    padding-top: 0px;
}

mat-radio-button{
    margin: 2px;
}

.mat-radio-inner-circle{
    background-color: #0277bd !important;
}

h3{
    font-weight: 500;
    color: #0277bd;
    font-size: 14px;
    margin: auto;
}

.inputName{
    display: inherit;
    align-items: center;
    label{
        margin-right: 5%;
    }
    input{
        width: auto;
    }
}

.hide{
    display: none;
}

.collapse { 
    vertical-align: top; 
    height:auto !important;
    display: inline-flex;
    font-weight: 500;
    color: #0277bd;
    font-size: 14px;
    margin: auto;
    button{
        color: #0277bd;
        margin-left: 5px;
    }
}