.link {
    background:none!important;
    border:none; 
    padding:0!important;
    cursor:pointer;
    
}

.align{
    text-align: center !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color:#f6f6f6;
}

th {
    background-color:  #0277bd;
    color: #dddddd;
}

.k-textbox-container {
    padding-top: 0px;
}

mat-radio-button{
    margin: 2px;
}

.mat-radio-inner-circle{
    background-color: #0277bd !important;
}

h3{
    font-weight: 500;
    color: #0277bd;
    font-size: 14px;
    margin: auto;
}

.inputName{
    display: inherit;
    align-items: center;
    label{
        margin-right: 5%;
    }
    input{
        width: auto;
    }
}