.k-button{
    background:   #ffffff;
    border: 0px;
    width: 100%;
    &:hover, &:focus, &:active{
        background: #f7f7f7;
        border: 0px;
    }
}

.popup
{
   border: 1px solid #b9b7b7;
   width: inherit;
   flex-direction: column;
   flex-wrap: wrap;
   width: 150px;
   background: white;
}
/*triangolino*/

kendo-popup[style] {
    background: transparent !important;
    top: 130px  !important;
    border: 0px !important;
    box-shadow: none !important;
 }
 
 .wrapper:before {
    content: "";
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #b9b7b7;
    position: relative;
    left: 136px;
    top:  -5.5px;
    z-index: 9999;
}

