  
<div id="anchor" #anchor tabindex="0" (blur)="closePopupIf()" class="top-button" (click)="onToggle()">
    <m4-icon icon="tb-menu2"></m4-icon>
    <kendo-popup *ngIf="show" class='wrapper' [anchor]="anchor" (anchorViewportLeave)="outView(null)" 
    (open)="onOpen()" [collision]="collision" 
    [anchorAlign]="anchorAlign" 
    [popupAlign]="popupAlign" 
    >
    <div class="popup">
        <button kendoButton *ngFor="let menuItem of menuElements" class="content" [disabled]="!menuItem?.enabled"
      (click)="doCommand(menuItem)">
            <m4-icon icon="{{getCorrectIcon(menuItem)}}"></m4-icon>
                 <span> {{menuItem?.text}} </span>
    </button>
    </div>
    </kendo-popup>
</div>