.content{
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    m4-icon{
        font-size: 20px;
        padding-right: 5px;
        padding-left: 15px;
    }
    span {
        width: 100%;
        text-align: left;
   
    }
}
.k-button{
    background:   #ffffff;
    border: 0px;
    width: 100%;
    &:hover, &:focus, &:active{
        background: #f7f7f7;
        border: 0px;
    }
}
.k-animation-container-shown, .k-animation-container[_ngcontent-c95] > .k-popup[_ngcontent-c95]
{
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.popup
{
   border: 1px solid #b9b7b7;
   width: inherit;
   flex-direction: column;
   flex-wrap: wrap;
   width: 150px;
}
/*triangolino*/

kendo-popup[style] {
    background: transparent !important;
    top: 115px  !important;
 }
 .wrapper:after, 
.wrapper:before {
    content: "";
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #b9b7b7;
    position: relative;
    right: -69px;
    top:  -5.5px;
    z-index: 9999;
}

.top-button {
    margin: 0;
    padding: 8px 4px;
    height: 30px;
    min-width: 30px;
    border: 0;
    background: none;
    text-align: center;
    &:hover {
        background: #f1f1f1
    }
    &>span {
        font-size: 12px;
        line-height: 30px;
        height: 30px;
        margin: 0;
        padding: 0 8px 0 0;
        /** da riparlarne */
        display: none;
    }
}

