  
<div id="anchor" #anchor tabindex="0" (blur)="closePopupIf()" (click)="onToggle()">
    <tb-toolbar-top-button icon="tb-menu2" cmpId="_BUTTONGROUPADVANCED"></tb-toolbar-top-button>
    <kendo-popup *ngIf="show" class='wrapper' [anchor]="anchor" (anchorViewportLeave)="outView(null)" 
    (open)="onOpen()" [collision]="collision" 
    [anchorAlign]="anchorAlign" 
    [popupAlign]="popupAlign" 
    (blur)="closePopupIf()"
    >
    <div class="popup">
        <ng-content></ng-content>
    </div>
    </kendo-popup>
</div>