<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        {{databaseType}} database information
        <div>
          <admin-input-text [inputLabel]="'Server'" [textType]="'text'" *ngIf="!isDMS" [readOnly]=true [(inputData)]="subDBModel.DBServer"></admin-input-text>
          <admin-input-text [inputLabel]="'Server'" [textType]="'text'" *ngIf="isDMS" [readOnly]=true [(inputData)]="subDBModel.DMSDBServer"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'Database'" [textType]="'text'" *ngIf="!isDMS" [readOnly]=readOnly [(inputData)]="subDBModel.DBName"></admin-input-text>
          <admin-input-text [inputLabel]="'Database'" [textType]="'text'" *ngIf="isDMS" [readOnly]=readOnly [(inputData)]="subDBModel.DMSDBName"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'DBOwner'" [textType]="'text'" *ngIf="!isDMS" [readOnly]=readOnly [(inputData)]="subDBModel.DBOwner"></admin-input-text>
          <admin-input-text [inputLabel]="'DBOwner'" [textType]="'text'" *ngIf="isDMS" [readOnly]=readOnly [(inputData)]="subDBModel.DMSDBOwner"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'Password'" [textType]="'password'" *ngIf="!isDMS" [readOnly]=readOnly [(inputData)]="subDBModel.DBPassword"></admin-input-text>
          <admin-input-text [inputLabel]="'Password'" [textType]="'password'" *ngIf="isDMS" [readOnly]=readOnly [(inputData)]="subDBModel.DMSDBPassword"></admin-input-text>
        </div>
      </div>
    </div>
  </div>
</div>