  <!-- #begin dialogs -->
  <admin-dialog [mode]="'message'" [title]="'Test connection'" [message]="msgDialog" [(opened)]=openMsgDialog [(result)]=dialogResult></admin-dialog>
  <!-- #end dialogs -->

<div class="container" (keyup)="onKeyUp($event)">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        System Administrator connection information
        <div class="mt20">
          <admin-dropdown [inputLabel]="'Provider'" [(selectedValue)]="selectedProvider" [listItems]="providers" [textField]="'name'"
            [valueField]="'value'"></admin-dropdown>
        </div>
        <div>
          <admin-input-text [inputLabel]="'Server'" [textType]="'text'" [(inputData)]="dbCredentials.Server"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'SysAdmin login'" [textType]="'text'" [(inputData)]="dbCredentials.Login"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'Password'" [textType]="'password'" [(inputData)]="dbCredentials.Password"></admin-input-text>
        </div>
        <div *ngIf="!isWorking" class="mt20">
          <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <admin-button [buttonText]="'Test connection'" [primary]=true (click)="testConnection()"></admin-button>
          </div>
        </div>
        <div *ngIf="isWorking" class="mt20">
          <img src="assets/ajax-loader.gif" />
        </div>
      </div>
    </div>
  </div>
</div>