<!-- #begin dialogs -->
<admin-dialog [mode]="'message'" [title]="'Import'" [message]="msgDialog" [(opened)]=openMsgDialog [(result)]=dialogResult></admin-dialog>
<!-- #end dialogs -->

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="adminTile tileNormal">
      Choose the import type, the country code and the configuration
      <div>
        <admin-checkbox [checkText]="'Import default data'" [checkId]="'chkImportDefaultData'" [(checkValue)]="importDefaultData"
          (inputDataChange)="onImportDefaultDataChanged($event)"></admin-checkbox>
      </div>
      <div>
        <admin-checkbox [checkText]="'Import sample data'" [checkId]="'chkImportSampleData'" [(checkValue)]="importSampleData" (inputDataChange)="onImportSampleDataChanged($event)"></admin-checkbox>
      </div>
      <div class="mt20">
        <admin-dropdown [inputLabel]="'Country code'" [(selectedValue)]="selectedCountry" [listItems]="countries" [textField]="'name'"
          [valueField]="'value'" (selectedValueChange)="onSelectedCountryChange($event)"></admin-dropdown>
      </div>
      <div class="mt20">
        <admin-dropdown [inputLabel]="'Configuration'" [(selectedValue)]="selectedConfiguration" [listItems]="configurations" [textField]="'name'"
          [valueField]="'value'"></admin-dropdown>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="adminTile tileNormal">
      Options
      <div class="mt20">
        <admin-checkbox [checkText]="'Delete table contents before import data'" [checkId]="'chkDeleteTableContents'" [(checkValue)]="importParams.DeleteTableContext"
          (inputDataChange)="onDeleteTableContentsChanged($event)"></admin-checkbox>
      </div>
      <div class="mt20">
        in case of row already present in table
      </div>
      <div>
        <admin-checkbox [checkText]="'don\'t overwrite'" [checkId]="'chkSkipRow'" [(checkValue)]="!importParams.OverwriteRecord"
          (inputDataChange)="onSkipRowChanged($event)"></admin-checkbox>
      </div>
      <div>
        <admin-checkbox [checkText]="'overwrite'" [checkId]="'chkUpdateRow'" [(checkValue)]="importParams.OverwriteRecord" (inputDataChange)="onUpdateRowChanged($event)"></admin-checkbox>
      </div>
    </div>
  </div>
</div>
<div class="row center-xs end-sm end-lg">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <admin-button [primary]=true [buttonText]="'Import data'" (click)="importData()"></admin-button>
  </div>
  <div *ngIf="isImporting" class="mt20">
    <img src="assets/ajax-loader.gif" />
  </div>
</div>