 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="False" showAsTile="True">
        <tb-tile [title]="_TB('Boleto')" tbTileWide >
<div class="col col1">         <tb-text [caption]="_TB('No.')" cmpId="IDC_BOLETOSUPDATING_FROMDOCNO" width="65" [model]="eventData?.model?.FromDocNo"></tb-text>
         <tb-label-static [caption]="_TB('Bank')" cmpId="IDC_BOLETOSUPDATING_BANKCODE" width="61" [model]="eventData?.model?.HKLBoletos?.IssuerBank"></tb-label-static>
         <tb-label-static [caption]="_TB('Condition')" cmpId="IDC_BOLETOSUPDATING_BANKCONDITION" width="65" [model]="eventData?.model?.HKLBoletos?.ConditionCode"></tb-label-static>
</div><div class="col col2">         <tb-label-static [caption]="_TB('Customer')" cmpId="IDC_BOLETOSUPDATING_CUSTOMER" width="76" [model]="eventData?.model?.HKLBoletos?.Customer"></tb-label-static>
         <tb-label-static cmpId="IDC_BOLETOSUPDATING_COMPANYNAME" width="218" [model]="eventData?.model?.CompanyName"></tb-label-static>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Amount')" cmpId="IDC_BOLETOSUPDATING_AMOUNT" width="83" [model]="eventData?.model?.HKLBoletos?.Amount"></tb-numeric-text-box>
         <tb-date-input formatter="Date" [readonly]="true" [caption]="_TB('Due date')" cmpId="IDC_BOLETOSUPDATING_DUEDATE" width="57" [model]="eventData?.model?.HKLBoletos?.DueDate"></tb-date-input>
</div>        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" isCollapsible="False" showAsTile="True">
        <tb-tile [title]="_TB('Options')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('New Due date')" cmpId="IDC_BOLETOSUPDATING_BOLETOSISSUINGDATE" width="57" [model]="eventData?.model?.IssuingDate"></tb-date-input>
         <tb-checkbox cmpId="IDC_BOLETOSUPDATING_ALSOBLOCKEDCUST" width="84" [model]="eventData?.model?.bAlsoBlockedCust" [caption]="_TB('Recalculate Amount')"></tb-checkbox>
         <tb-radio cmpId="IDC_BOLETOSUPDATING_GENERATE" width="105" [model]="eventData?.model?.bGenerate" [caption]="_TB('Update Boleto')"></tb-radio>
         <tb-radio cmpId="IDC_BOLETOSUPDATING_GENANDPRINT" width="105" [model]="eventData?.model?.bGenAndPrint" [caption]="_TB('Update and Print Boleto')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Print Data')" tbTileMini >
         <tb-checkbox cmpId="IDC_BOLETOSUPDATING_PRINTPREVIEW" width="116" [model]="eventData?.model?.bPrintPreview" [caption]="_TB('Print Preview')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_BOLETOSUPDATING_DEFPRINT" width="116" [model]="eventData?.model?.bDefPrint" [caption]="_TB('Definitive Print ')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_BOLETOSUPDATING_EMAIL" width="116" [model]="eventData?.model?.bEMail" [caption]="_TB('Send by Email')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_BOLETOSUPDATING_PRINTMAIL" width="116" [model]="eventData?.model?.bPrintMail" [caption]="_TB('Print sent boletos')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
