<tb-frame tbBatch>
    <ng-container #radar></ng-container>
    <tb-toolbar-top>
        <div class="toolbar-menu">
            <div class="menu-category edit" *ngIf="!hideEditToolbar">
                <tb-toolbar-top-button icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-top-button>
                <tb-toolbar-top-button icon="tb-resume" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-top-button>
                <tb-toolbar-top-button icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-top-button>
                <tb-toolbar-top-button icon="tb-stopextract" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-top-button>
                <tb-toolbar-top-button icon="tb-processpause" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-top-button>
                <tb-toolbar-top-button icon="tb-processrun" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-top-button>
            </div>
        </div>
        <div class="toolbar-right">
            <div class="menu-category exit" *ngIf="!hideExitToolbar">
                <tb-toolbar-top-button icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
            </div>
            <div class="menu-category advanced" *ngIf="!hideAdvancedToolbar">
                <tb-toolbar-top-button-dropdown>
                    <tb-toolbar-top-button icon="tb-customize" class="dropDownButton" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
                    <tb-toolbar-top-button icon="tb-socialshare" class="dropDownButton" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
                    <tb-toolbar-top-button icon="erp-productin" class="dropDownButton" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-top-button>
                </tb-toolbar-top-button-dropdown>
            </div>
        </div>
    </tb-toolbar-top>
    <tb-frame-content>
        <tb-view-container>
            <tb-view>
                <tb-tile-group tbLayoutTypeVbox>
                    <tb-tile-panel [title]="eventData?.model?.FiltersPanelText" [isCollapsible]="false" [isCollapsed]="false" [showAsTile]="true">
                        <tb-filter [title]="_TB('Period')" tbTileMini>
                            <div class="col col1">
                                <tb-date-input cmpId="IDC_STEXPECTEDEN_DATE_START" formatter="Date" [readonly]="false" [caption]="_TB('From')" [width]="62" [model]="eventData?.model?.StartingDate"></tb-date-input>
                                <tb-date-input cmpId="IDC_STEXPECTEDEN_DATE_END" formatter="Date" [readonly]="false" [caption]="_TB('To')" [width]="62" [model]="eventData?.model?.EndingDate"></tb-date-input>
                            </div>
                        </tb-filter>
                        <tb-filter [title]="_TB('Customer')" tbTileMini>
                            <div class="col col1">
                                <tb-radio cmpId="IDC_STEXPECTEDEN_CUSTOMERS_ALL" [width]="52" [model]="eventData?.model?.AllCustomer" [caption]="_TB('All')"></tb-radio>
                                <div class="anchored">
                                    <tb-radio cmpId="IDC_STEXPECTEDEN_CUSTOMERS_SELECTION" [width]="53" [model]="eventData?.model?.CustomerSel" [caption]="_TB('From')"></tb-radio>
                                    <tb-text cmpId="IDC_STEXPECTEDEN_CUSTOMER_START" [width]="92" [model]="eventData?.model?.FromCustomer" [hotLink]="{'name':'HKLFromCustomer','namespace':'ERP.CustomersSuppliers.Dbl.CustSupp'}"></tb-text>
                                </div>
                                <tb-text cmpId="IDC_STEXPECTEDEN_CUSTOMER_END" [caption]="_TB('To')" [width]="92" [model]="eventData?.model?.ToCustomer" [hotLink]="{'name':'HKLToCustomer','namespace':'ERP.CustomersSuppliers.Dbl.CustSupp'}"></tb-text>
                            </div>
                        </tb-filter>
                        <tb-filter [title]="_TB('Contact')" tbTileMini>
                            <div class="col col1">
                                <tb-radio cmpId="IDC_STEXPECTEDEN_CONTACTS_ALL" [width]="52" [model]="eventData?.model?.AllContact" [caption]="_TB('All')"></tb-radio>
                                <div class="anchored">
                                    <tb-radio cmpId="IDC_STEXPECTEDEN_CONTACTS_SELECTION" [width]="53" [model]="eventData?.model?.ContactSel" [caption]="_TB('From')"></tb-radio>
                                    <tb-text cmpId="IDC_STEXPECTEDEN_CONTACT_START" [width]="92" [model]="eventData?.model?.FromContact" [hotLink]="{'name':'HKLFromContact','namespace':'ERP.Contacts.Dbl.Contacts','enableAddOnFly':false}"></tb-text>
                                </div>
                                <tb-text cmpId="IDC_STEXPECTEDEN_CONTACT_END" [caption]="_TB('To')" [width]="92" [model]="eventData?.model?.ToContact" [hotLink]="{'name':'HKLToContact','namespace':'ERP.Contacts.Dbl.Contacts','enableAddOnFly':false}"></tb-text>
                            </div>
                        </tb-filter>
                        <tb-filter [title]="_TB('Number')" tbTileMini>
                            <div class="col col1">
                                <tb-radio cmpId="IDC_STEXPECTEDEN_QUOTATIONNO_ALL" [width]="52" [model]="eventData?.model?.AllQuotationNo" [caption]="_TB('All')"></tb-radio>
                                <div class="anchored">
                                    <tb-radio cmpId="IDC_STEXPECTEDEN_QUOTATIONNO_SELECTION" [width]="53" [model]="eventData?.model?.QuotationNoSel" [caption]="_TB('From')"></tb-radio>
                                    <tb-numberer cmpId="IDC_STEXPECTEDEN_QUOTATIONNO_START" [slice]="IDC_STEXPECTEDEN_QUOTATIONNO_START_Slice$ | async" [selector]="IDC_STEXPECTEDEN_QUOTATIONNO_START_Selector" [width]="92" [model]="eventData?.model?.FromQuotationNo" [hotLink]="{'name':'HKLQuotationStart','namespace':'ERP.CustomerQuotations.Dbl.CustQuota'}"></tb-numberer>
                                </div>
                                <tb-numberer cmpId="IDC_STEXPECTEDEN_QUOTATIONNO_END" [slice]="IDC_STEXPECTEDEN_QUOTATIONNO_END_Slice$ | async" [selector]="IDC_STEXPECTEDEN_QUOTATIONNO_END_Selector" [caption]="_TB('To')" [width]="92" [model]="eventData?.model?.ToQuotationNo" [hotLink]="{'name':'HKLQuotationEnd','namespace':'ERP.CustomerQuotations.Dbl.CustQuota'}"></tb-numberer>
                            </div>
                        </tb-filter>
                        <tb-filter [title]="_TB('Printed')" tbTileMini>
                            <div class="col col1">
                                <tb-radio cmpId="IDC_STEXPECTEDEN_NOPRINTED" [width]="115" [model]="eventData?.model?.NoPrinted" [caption]="_TB('Not Printed')"></tb-radio>
                                <tb-radio cmpId="IDC_STEXPECTEDEN_PRINTED" [width]="112" [model]="eventData?.model?.Printed" [caption]="_TB('Printed')"></tb-radio>
                                <tb-radio cmpId="IDC_STEXPECTEDEN_ALLPRINTED" [width]="117" [model]="eventData?.model?.AllPrinted" [caption]="_TB('All')"></tb-radio>
                            </div>
                        </tb-filter>
                        <tb-filter [title]="_TB('Email')" tbTileMini>
                            <div class="col col1">
                                <tb-radio cmpId="IDC_STEXPECTEDEN_MAIL_NO" [width]="98" [model]="eventData?.model?.MailNo" [caption]="_TB('Not Sent')"></tb-radio>
                                <tb-radio cmpId="IDC_STEXPECTEDEN_MAIL_YES" [width]="98" [model]="eventData?.model?.MailYes" [caption]="_TB('Sent')"></tb-radio>
                                <tb-radio cmpId="IDC_STEXPECTEDEN_MAIL_EVERYONE" [width]="96" [model]="eventData?.model?.AllMailed" [caption]="_TB('All')"></tb-radio>
                            </div>
                        </tb-filter>
                        <tb-filter [title]="_TB('PostaLite')" tbTileMini>
                            <div class="col col1">
                                <tb-radio cmpId="IDC_STEXPECTEDEN_POSTALITE_NO" [width]="98" [model]="eventData?.model?.PostaLiteNo" [caption]="_TB('Not Sent')"></tb-radio>
                                <tb-radio cmpId="IDC_STEXPECTEDEN_POSTALITE_YES" [width]="98" [model]="eventData?.model?.PostaLiteYes" [caption]="_TB('Sent')"></tb-radio>
                                <tb-radio cmpId="IDC_STEXPECTEDEN_POSTALITE_EVERYONE" [width]="96" [model]="eventData?.model?.AllPostaLite" [caption]="_TB('All')"></tb-radio>
                            </div>
                        </tb-filter>
                    </tb-tile-panel>
                    <tb-tile-panel [title]="eventData?.model?.ActionsPanelText" [isCollapsible]="false" [isCollapsed]="false" [showAsTile]="true">
                        <tb-filter [title]="_TB('Operations')" tbTileStandard>
                            <div class="col col1">
                                <tb-text cmpId="IDC_STEXPECTEDEN_ITEMS_LBX" [width]="300" [model]="eventData?.model?.bIssue"></tb-text>
                                <tb-checkbox cmpId="IDC_STEXPECTEDEN_PRINTMAIL" [width]="233" [model]="eventData?.model?.PrintMail" [caption]="_TB('Always print sent documents')"></tb-checkbox>
                                <tb-checkbox cmpId="IDC_STEXPECTEDEN_PRINTPOSTALITE" [width]="241" [model]="eventData?.model?.PrintPostaLite" [caption]="_TB('Always print documents sent via PostaLite')"></tb-checkbox>
                            </div>
                        </tb-filter>
                        <tb-filter [title]="_TB('Sort by...')" tbTileMini>
                            <div class="col col1">
                                <tb-radio cmpId="IDC_STEXPECTEDEN_SORTTIFORCUSTOMER" [width]="96" [model]="eventData?.model?.OrderedByCustomer" [caption]="_TB('Customer Code')"></tb-radio>
                                <tb-radio cmpId="IDC_STEXPECTEDEN_SORTTIFORNUMBER" [width]="95" [model]="eventData?.model?.OrderedByNo" [caption]="_TB('Number')"></tb-radio>
                            </div>
                        </tb-filter>
                    </tb-tile-panel>
                    <tb-panel [title]="_TB('Result')" tbTileStandard [isCollapsible]="false" [isCollapsed]="false">
                        <div class="col col1">
                            <tb-caption cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS" [width]="587" [model]="eventData?.model?.nCurrentElement"></tb-caption>
                            <tb-label-static cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS_STATIC" [width]="587" [model]="eventData?.model?.GaugeDescription"></tb-label-static>
                        </div>
                    </tb-panel>
                </tb-tile-group>
            </tb-view>
        </tb-view-container>
        <tb-dockpane-container>
        </tb-dockpane-container>
    </tb-frame-content>
    <tb-toolbar-bottom>
        <div class="toolbar-undefined">
            <div class="menu-category undefined" *ngIf="!hideUndefinedToolbar">
                <tb-toolbar-bottom-button-dropup>
                    <tb-toolbar-bottom-button icon="tb-print" class="dropUpButton" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
                </tb-toolbar-bottom-button-dropup>
            </div>
        </div>
    </tb-toolbar-bottom>
    <tb-floating-action-menu>
        <div class="toolbar-undefined">
            <div class="menu-category undefined" *ngIf="!hideUndefinedToolbar">
            </div>
        </div>
    </tb-floating-action-menu>
</tb-frame>