/* AskDialog form section */

.AskDialogTitle
{
	background: #9fa7b3; /* Old browsers */
	background: linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -o-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -moz-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -webkit-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -ms-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
}

.AskDialogLabel
{
	color: Black;
	font-family: Verdana, Tahoma, Helvetica;
	font-size: medium;
}

.AskDialogParameterTable
{
	border-style: solid;
	border-width: 2px;
	border-color: Black;
	background-color: #D7E2F1;
	
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	border-radius: 10px;
}

.AskDialogParameterRow
{
	background: #9fa7b3; /* Old browsers */
	background: linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -o-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -moz-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -webkit-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -ms-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	
	color: Black;
	font-weight: bold;
}

.AskDialogParameterCell
{
	font-family: Verdana, Tahoma, Helvetica;
	font-size: medium;
}


.AskDialogGroupLabel
{
	font-weight: bold;
	font-family: Verdana, Tahoma, Helvetica;
	font-size: x-small;
}

.AskDialogGroupPanel
{
	border-style: solid;
	border-width: 1px;
	background: linear-gradient(bottom, #D8F0EB 13%, #98ADAD 57%, #D7E2F1 79%);
	background: -o-linear-gradient(bottom, #D8F0EB 13%, #98ADAD 57%, #D7E2F1 79%);
	background: -moz-linear-gradient(bottom, #D8F0EB 13%, #98ADAD 57%, #D7E2F1 79%);
	background: -webkit-linear-gradient(bottom, #D8F0EB 13%, #98ADAD 57%, #D7E2F1 79%);
	background: -ms-linear-gradient(bottom, #D8F0EB 13%, #98ADAD 57%, #D7E2F1 79%);
	
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px;
}

.AskDialogGenericControl
{			
	font-family: Verdana, Tahoma, Helvetica;
	font-size: x-small;
}

.AskDialogValidationSummary
{
	font-family: Verdana, Tahoma, Helvetica;
	font-size: medium;
}

/*Hotlink results form section*/
.HotLinkTable
{
	border-style: groove;
	background-color: LightBlue;
}

.HotLinkTitle
{
	background: #9fa7b3; /* Old browsers */
	background: linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -o-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -moz-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -webkit-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -ms-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
}

.HotLinkTitleLabel
{
	font-size: medium;
	font-family: Verdana, Tahoma, Helvetica;
	color: Black;
}

.DataGridResults
{
	background-color: red;
	border-color: Black;
	font-family: Verdana, Tahoma, Helvetica;
	font-size: 8pt;
}
		
.DataGridResults tr:nth-child(odd) 
{
	background-color: #d8f0eb;
	background: linear-gradient(bottom, #D8F0EB 13%, #9BD1D1 57%, #99DBDB 79%);
	background: -o-linear-gradient(bottom, #D8F0EB 13%, #9BD1D1 57%, #99DBDB 79%);
	background: -moz-linear-gradient(bottom, #D8F0EB 13%, #9BD1D1 57%, #99DBDB 79%);
	background: -webkit-linear-gradient(bottom, #D8F0EB 13%, #9BD1D1 57%, #99DBDB 79%);
	background: -ms-linear-gradient(bottom, #D8F0EB 13%, #9BD1D1 57%, #99DBDB 79%);	
}

.DataGridResults tr:nth-child(even) 
{
	background: linear-gradient(bottom, #F0EDD8 13%, #F0EDCE 57%, #EFF0D3 79%);
	background: -o-linear-gradient(bottom, #F0EDD8 13%, #F0EDCE 57%, #EFF0D3 79%);
	background: -moz-linear-gradient(bottom, #F0EDD8 13%, #F0EDCE 57%, #EFF0D3 79%);
	background: -webkit-linear-gradient(bottom, #F0EDD8 13%, #F0EDCE 57%, #EFF0D3 79%);
	background: -ms-linear-gradient(bottom, #F0EDD8 13%, #F0EDCE 57%, #EFF0D3 79%);
}

.DataGridResults tr:first-child
{
	background: linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -o-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -moz-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -webkit-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -ms-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
}

.DataGridResults tr:last-child
{
	background: linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -o-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -moz-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -webkit-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -ms-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
}


/*Persistent control section*/			
.PersistentControlTitle
{
	background: #9fa7b3; /* Old browsers */
	background: linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -o-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -moz-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -webkit-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -ms-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
}

.PersistentControlLabel
{
	color: Black;
	font-family: Verdana, Tahoma, Helvetica;
	font-size: medium;
}

.PersistentControlTable
{
	border-style: solid;
	border-width: 2px;
	border-color: Black;
	background-color: #D7E2F1;
	
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	border-radius: 10px;
}

.ControlClass
{
	color: Black;
	background-color: #D7E2F1;
	font-family: Verdana, Tahoma, Helvetica;
}


/*Toolbar report section*/

.StatusInfo
{
	font-weight: bold;
	font-family: Verdana, Tahoma, Helvetica;
	font-size: 14px;
	border-width: 3px;
	border-style: groove;
}
			
.StatusInfo.Enabled
{
	background: #9fa7b3; /* Old browsers */
	background: linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -o-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -moz-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -webkit-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -ms-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
}


.ReportToolbar
{
	background: #9fa7b3; /* Old browsers */
	background: linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -o-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -moz-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -webkit-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
	background: -ms-linear-gradient(bottom, #D7E2F1 13%, #BFC8D6 57%, #99A1AC 79%);
}