.mat-radio-checked .mat-radio-outer-circle {
    border-color: #4169E1 !important;
}

.mat-radio-inner-circle {
    background-color: #03A9F4 !important;
}

.k-animation-container-fixed > .k-popup {
    padding: 3px !important;
    font-size: small !important;
}