 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Edits to Perform')" tbTileMini >
         <tb-combo cmpId="IDC_MO_MAINTENANCE_OPERATION" width="142" [model]="eventData?.model?.OperationSelected" [itemSource]="IDC_MO_MAINTENANCE_OPERATION_itemSource"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('MO')" tbTileMini >
         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_MO_ALL" width="35" [model]="eventData?.model?.bMOAll" [caption]="_TB('All')"></tb-checkbox>
<div class="anchored">         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_MO_SEL" width="35" [model]="eventData?.model?.bMOSel" [caption]="_TB('From')"></tb-checkbox>
         <tb-text cmpId="IDC_MO_MAINTENANCE_MO_FROM" width="62" [model]="eventData?.model?.MOFrom"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_MO_MAINTENANCE_MO_TO" width="62" [model]="eventData?.model?.MOTo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Item')" tbTileMini >
         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_ITEM_ALL" width="35" [model]="eventData?.model?.bItemAll" [caption]="_TB('All')"></tb-checkbox>
<div class="anchored">         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_ITEM_SEL" width="35" [model]="eventData?.model?.bItemSel" [caption]="_TB('From')"></tb-checkbox>
         <tb-text cmpId="IDC_MO_MAINTENANCE_ITEM_FROM" width="122" [model]="eventData?.model?.bItemFrom"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_MO_MAINTENANCE_ITEM_TO" width="122" [model]="eventData?.model?.bItemTo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Variant')" tbTileMini  *ngIf="eventData?.activation?.IDD_MO_MAINTENANCE_TD_FILTER_VARIANT">
         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_VARIANT_ALL" width="35" [model]="eventData?.model?.bVariantAll" [caption]="_TB('All')"></tb-checkbox>
<div class="anchored">         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_VARIANT_SEL" width="35" [model]="eventData?.model?.bVariantSel" [caption]="_TB('From')"></tb-checkbox>
         <tb-text cmpId="IDC_MO_MAINTENANCE_VARIANT_FROM" width="122" [model]="eventData?.model?.VariantFrom"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_MO_MAINTENANCE_VARIANT_TO" width="122" [model]="eventData?.model?.VariantTo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Job')" tbTileMini  *ngIf="eventData?.activation?.IDD_MO_MAINTENANCE_TD_FILTER_JOB">
         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_JOB_ALL" width="35" [model]="eventData?.model?.bJobAll" [caption]="_TB('All')"></tb-checkbox>
<div class="anchored">         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_JOB_SEL" width="35" [model]="eventData?.model?.bJobSel" [caption]="_TB('From')"></tb-checkbox>
         <tb-text cmpId="IDC_MO_MAINTENANCE_JOB_FROM" width="62" [model]="eventData?.model?.JobFrom"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_MO_MAINTENANCE_JOB_TO" width="62" [model]="eventData?.model?.JobTo"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('Actions')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile [title]="_TB('Inventory Entries')" tbTileMini >
         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_DELETE_MO_CONFIRMED" width="157" [model]="eventData?.model?.bDeleteConfirmedMO" [caption]="_TB('Deletion of terminated MOs')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_DELETE_INVENTRY" width="157" [model]="eventData?.model?.bDeleteInventoryEntries" [caption]="_TB('Deletion of inventory entries')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_CORRECT_INVENTRY" width="141" [model]="eventData?.model?.bCorrectInventoryEntries" [caption]="_TB('Correct inventory entries')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Other')" tbTileMini >
         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_DELETE_PROD_PLAN" width="142" [model]="eventData?.model?.bRestoreProdPlanLine" [caption]="_TB('Restore production plan line')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MO_MAINTENANCE_DELETE_DOSUBCONTRACTING" width="142" [model]="eventData?.model?.bDeleteDocProcessExt" [caption]="_TB('Deletion of subcontracting documents')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="324" [model]="eventData?.model?.MOMaintenance">
         <tb-body-edit-column cmpId="IDC_MO_MAINTENANCE_BE_STATUS_BMP" columnName="TMO_StateBmp" [title]="_TB('Status')" columnType="tb-image" columnName="IDC_MO_MAINTENANCE_BE_STATUS_BMP">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MO_MAINTENANCE_BE_SELECTION" columnName="TMO_Selection" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_MO_MAINTENANCE_BE_SELECTION">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MO_MAINTENANCE_BE_ORDER" columnName="MONo" [title]="_TB('MO')" columnType="tb-label-static" columnName="IDC_MO_MAINTENANCE_BE_ORDER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MO_MAINTENANCE_BE_STATUS" columnName="MOStatus" [itemSource]="IDC_MO_MAINTENANCE_BE_STATUS_itemSource" [title]="_TB('Status')" columnType="tb-enum-combo" columnName="IDC_MO_MAINTENANCE_BE_STATUS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MO_MAINTENANCE_BE_PRODUCT" columnName="BOM" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_MO_MAINTENANCE_BE_PRODUCT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MO_MAINTENANCE_BE_DES_PRODUCT" [model]="eventData?.model?.HKLItemDetail?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_MO_MAINTENANCE_BE_DES_PRODUCT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_MO_MAINTENANCE_BE_DATE_DELIV" columnName="DeliveryDate" [title]="_TB('Delivery
date')" columnType="tb-date-input" columnName="IDC_MO_MAINTENANCE_BE_DATE_DELIV">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MO_MAINTENANCE_BE_UOM" columnName="UoM" [title]="_TB('UoM')" columnType="tb-label-static" columnName="IDC_MO_MAINTENANCE_BE_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_MO_MAINTENANCE_BE_QTY" columnName="ProductionQty" [title]="_TB('Quantity
to produce')" columnType="tb-numeric-text-box" columnName="IDC_MO_MAINTENANCE_BE_QTY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MO_MAINTENANCE_BE_SALEJOB" columnName="Job" [title]="_TB('Commercial 
job')" columnType="tb-label-static" columnName="IDC_MO_MAINTENANCE_BE_SALEJOB" *ngIf="eventData?.activation?.IDC_MO_MAINTENANCE_BE_SALEJOB">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane [title]="_TB('LegendDockPane')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False">
<div class="anchored">         <tb-image [height]="9" [width]="13" cmpId="IDC_MO_MAINTENANCE_IN_REL" width="13" [model]="eventData?.model?.InHouseRel"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="217" [caption]="_TB('In-House Released')"></tb-caption>
</div><div class="anchored">         <tb-image [height]="9" [width]="13" cmpId="IDC_MO_MAINTENANCE_OUT_REL" width="13" [model]="eventData?.model?.OutRel"></tb-image>
         <tb-caption cmpId="IDC_STATIC_2" width="217" [caption]="_TB('Outsourced Released')"></tb-caption>
</div><div class="anchored">         <tb-image [height]="9" [width]="13" cmpId="IDC_MO_MAINTENANCE_IN_PROC" width="13" [model]="eventData?.model?.InHouseProc"></tb-image>
         <tb-caption cmpId="IDC_STATIC_3" width="217" [caption]="_TB('In-House In processing')"></tb-caption>
</div><div class="anchored">         <tb-image [height]="9" [width]="13" cmpId="IDC_MO_MAINTENANCE_OUT_PROC" width="13" [model]="eventData?.model?.OutProc"></tb-image>
         <tb-caption cmpId="IDC_STATIC_4" width="217" [caption]="_TB('Outsorced In processing')"></tb-caption>
</div><div class="anchored">         <tb-image [height]="9" [width]="13" cmpId="IDC_MO_MAINTENANCE_IN_CONF" width="13" [model]="eventData?.model?.InHouseConf"></tb-image>
         <tb-caption cmpId="IDC_STATIC_5" width="217" [caption]="_TB('In-House Confirmed')"></tb-caption>
</div><div class="anchored">         <tb-image [height]="9" [width]="13" cmpId="IDC_MO_MAINTENANCE_OUT_CONF" width="13" [model]="eventData?.model?.OutConf"></tb-image>
         <tb-caption cmpId="IDC_STATIC" width="217" [caption]="_TB('Outsorced Confirmed')"></tb-caption>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
