 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="tb-master" tbLayoutTypeVbox >
       <ng-template>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Main Data')" tbTileStandard >
<div class="anchored">          <tb-text [caption]="_TB('Code')" cmpId="IDC_PROSPSUPP_PROSPECTIVESUPPLIER" width="80" [model]="eventData?.model?.ProspectiveSuppliers?.ProspectiveSupplier"></tb-text>
          <tb-checkbox cmpId="IDC_PROSPSUPP_ISDISABLED" width="71" [model]="eventData?.model?.ProspectiveSuppliers?.Disabled" [caption]="_TB('Disabled  ')"></tb-checkbox>
</div>          <tb-text [caption]="_TB('Company Name')" cmpId="IDC_PROSPSUPP_COMPNAME" width="154" [model]="eventData?.model?.ProspectiveSuppliers?.CompanyName"></tb-text>
<div class="anchored">          <tb-combo [caption]="_TB('Title')" cmpId="IDC_PROSPSUPP_TITLECODE" width="63" [model]="eventData?.model?.ProspectiveSuppliers?.TitleCode"></tb-combo>
          <tb-label-static cmpId="IDC_PROSPSUPP_DESCRI_TITLECODE" width="155" [model]="eventData?.model?.HKLTitles?.Description"></tb-label-static>
</div>          <tb-checkbox cmpId="IDC_PROSPSUPP_CHECK_PERSON" width="109" [model]="eventData?.model?.ProspectiveSuppliers?.NaturalPerson" [caption]="_TB('Natural Person  ')"></tb-checkbox>
<div class="anchored">          <tb-combo [caption]="_TB('ISO Country')" cmpId="IDC_PROSPSUPP_CODEISO" width="34" [model]="eventData?.model?.ProspectiveSuppliers?.ISOCountryCode"></tb-combo>
          <tb-enum-combo *ngIf="eventData?.activation?.IDC_PROSPSUPP_KIND" [caption]="_TB('Type')" cmpId="IDC_PROSPSUPP_KIND" width="67" [model]="eventData?.model?.ProspectiveSuppliers?.ProspSuppKind"></tb-enum-combo>
</div>          <tb-text *ngIf="eventData?.activation?.IDC_PROSPSUPP_FISCALCODE" [caption]="_TB('Fiscal Code')" cmpId="IDC_PROSPSUPP_FISCALCODE" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.FiscalCode"></tb-text>
          <tb-text [caption]="_TB('Tax Number')" cmpId="IDC_PROSPSUPP_TAXIDNUMBER" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.TaxIdNumber"></tb-text>
         </tb-tile>
         <tb-tile [title]="_TB('Address Data')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_PROSPSUPP_MAIN_DATA_ADDRESS_BR">
          <tb-text [caption]="_TB('ZIP Code')" cmpId="IDC_PROSPSUPP_ZIPCODE_BR" width="72" [model]="eventData?.model?.ProspectiveSuppliers?.ZIPCode"></tb-text>
          <tb-textarea [readonly]="true" height="36" width="210" [caption]="_TB('Address')" cmpId="IDC_PROSPSUPP_ADDRESS" width="210" [model]="eventData?.model?.ProspectiveSuppliers?.Address"></tb-textarea>
          <tb-text [caption]="_TB('Street No.')" cmpId="IDC_PROSPSUPP_STREETNO" width="40" [model]="eventData?.model?.ProspectiveSuppliers?.StreetNo"></tb-text>
          <tb-text [caption]="_TB('Additional Address')" cmpId="IDC_PROSPSUPP_ADDRESS2" width="210" [model]="eventData?.model?.ProspectiveSuppliers?.Address2"></tb-text>
          <tb-text [caption]="_TB('District')" cmpId="IDC_PROSPSUPP_DISTRICT" width="210" [model]="eventData?.model?.ProspectiveSuppliers?.District"></tb-text>
          <tb-combo [caption]="_TB('Federal State')" cmpId="IDC_PROSPSUPP_FEDERALSTATE" width="40" [model]="eventData?.model?.ProspectiveSuppliers?.FederalState"></tb-combo>
          <tb-combo [caption]="_TB('Municipality')" cmpId="IDC_PROSPSUPP_CITY" width="210" [model]="eventData?.model?.ProspectiveSuppliers?.City"></tb-combo>
          <tb-combo [caption]="_TB('Country')" cmpId="IDC_PROSPSUPP_STATUS" width="210" [model]="eventData?.model?.ProspectiveSuppliers?.Country" [itemSource]="IDC_PROSPSUPP_STATUS_itemSource"></tb-combo>
<div class="anchored">          <tb-text [caption]="_TB('Latitude/Longitude')" cmpId="IDC_PROSPSUPP_LATITUDE" width="76" [model]="eventData?.model?.ProspectiveSuppliers?.Latitude"></tb-text>
          <tb-text cmpId="IDC_PROSPSUPP_LONGITUDE" width="76" [model]="eventData?.model?.ProspectiveSuppliers?.Longitude"></tb-text>
</div>         </tb-tile>
         <tb-tile [title]="_TB('Address Data')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_PROSPSUPP_MAIN_DATA_ADDRESS">
          <tb-textarea [readonly]="true" height="36" width="210" [caption]="_TB('Address')" cmpId="IDC_PROSPSUPP_ADDRESS" width="210" [model]="eventData?.model?.ProspectiveSuppliers?.Address"></tb-textarea>
          <tb-text [caption]="_TB('Additional Address')" cmpId="IDC_PROSPSUPP_ADDRESS2" width="210" [model]="eventData?.model?.ProspectiveSuppliers?.Address2"></tb-text>
          <tb-combo [caption]="_TB('Municipality')" cmpId="IDC_PROSPSUPP_CITY" width="210" [model]="eventData?.model?.ProspectiveSuppliers?.City"></tb-combo>
<div class="anchored">          <tb-text [caption]="_TB('ZIP Code')" cmpId="IDC_PROSPSUPP_ZIPCODE" width="40" [model]="eventData?.model?.ProspectiveSuppliers?.ZIPCode"></tb-text>
          <tb-combo *ngIf="eventData?.activation?.IDC_PROSPSUPP_COUNTY" [caption]="_TB('County')" cmpId="IDC_PROSPSUPP_COUNTY" width="40" [model]="eventData?.model?.ProspectiveSuppliers?.County"></tb-combo>
</div>          <tb-combo *ngIf="eventData?.activation?.IDC_PROSPSUPP_REGION" [caption]="_TB('Region')" cmpId="IDC_PROSPSUPP_REGION" width="128" [model]="eventData?.model?.ProspectiveSuppliers?.Region" [itemSource]="IDC_PROSPSUPP_REGION_itemSource"></tb-combo>
          <tb-combo [caption]="_TB('Country')" cmpId="IDC_PROSPSUPP_STATUS" width="210" [model]="eventData?.model?.ProspectiveSuppliers?.Country" [itemSource]="IDC_PROSPSUPP_STATUS_itemSource"></tb-combo>
<div class="anchored">          <tb-text [caption]="_TB('Latitude/Longitude')" cmpId="IDC_PROSPSUPP_LATITUDE" width="76" [model]="eventData?.model?.ProspectiveSuppliers?.Latitude"></tb-text>
          <tb-text cmpId="IDC_PROSPSUPP_LONGITUDE" width="76" [model]="eventData?.model?.ProspectiveSuppliers?.Longitude"></tb-text>
</div>         </tb-tile>
        </tb-layoutcontainer>
        <tb-tile [title]="_TB('Other Data')" tbTileWide  isCollapsible="True">
<div class="col col1">         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Acquired on')" cmpId="IDC_PROSPSUPP_DATE" width="57" [model]="eventData?.model?.ProspectiveSuppliers?.FromDate"></tb-date-input>
         <tb-checkbox cmpId="IDC_PROSPSUPP_CONVERTED_IN_SUPPLIER" width="109" [model]="eventData?.model?.ProspectiveSuppliers?.IsACustSupp" [caption]="_TB('Converted into Supplier  ')"></tb-checkbox>
         <tb-text [caption]="_TB('Supplier')" cmpId="IDC_PROSPSUPP_SUPPLIER" width="68" [model]="eventData?.model?.ProspectiveSuppliers?.CustSupp"></tb-text>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_PROSPSUPP_DATE_CONVERSION" width="57" [model]="eventData?.model?.ProspectiveSuppliers?.ConversionDate"></tb-date-input>
</div><div class="col col2"><div class="anchored">         <tb-combo [caption]="_TB('Category')" cmpId="IDC_PROSPSUPP_CATEGORY" width="62" [model]="eventData?.model?.ProspectiveSuppliers?.Category"></tb-combo>
         <tb-label-static cmpId="IDC_PROSPSUPP_DESCRI_CTG" width="158" [model]="eventData?.model?.HKLSupplierCtg?.Description"></tb-label-static>
</div><div class="anchored">         <tb-combo [caption]="_TB('Origin')" cmpId="IDC_PROSPSUPP_CONTACTORIGIN" width="62" [model]="eventData?.model?.ProspectiveSuppliers?.ContactOrigin"></tb-combo>
         <tb-label-static cmpId="IDC_PROSPSUPP_DESCRI_CONTACTORIGIN" width="158" [model]="eventData?.model?.HKLContactOrigin?.Description"></tb-label-static>
</div><div class="anchored">         <tb-combo [caption]="_TB('Origin Specification')" cmpId="IDC_PROSPSUPP_CONTACTORIGINSPEC" width="62" [model]="eventData?.model?.ProspectiveSuppliers?.ContactSpecification"></tb-combo>
         <tb-label-static cmpId="IDC_PROSPSUPP_DESCRI_CONTACTORIGINSPEC" width="158" [model]="eventData?.model?.HKLContactSpecification?.Description"></tb-label-static>
</div></div>        </tb-tile>
        <tb-tile [title]="_TB('Contacts')" tbTileWide  isCollapsible="True">
<div class="col col1"><div class="anchored">         <tb-phone mask [caption]="_TB('Phone')" cmpId="IDC_PROSPSUPP_TELEPHONE1" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.Telephone1"></tb-phone>
         <tb-phone mask cmpId="IDC_PROSPSUPP_TELEPHONE2" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.Telephone2"></tb-phone>
</div><div class="anchored">         <tb-text [caption]="_TB('Telex/Fax')" cmpId="IDC_PROSPSUPP_TELEX" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.Telex"></tb-text>
         <tb-text cmpId="IDC_PROSPSUPP_FAX" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.Fax"></tb-text>
</div>         <tb-text [caption]="_TB('Contact Person')" cmpId="IDC_PROSPSUPP_REFPERSON" width="154" [model]="eventData?.model?.ProspectiveSuppliers?.ContactPerson"></tb-text>
         <tb-text [caption]="_TB('Working Time')" cmpId="IDC_PROSPSUPP_WORKINGTIME" width="154" [model]="eventData?.model?.ProspectiveSuppliers?.WorkingTime"></tb-text>
</div><div class="col col2">         <tb-email [caption]="_TB('Email')" cmpId="IDC_PROSPSUPP_EMAILADDRESS" width="154" [model]="eventData?.model?.ProspectiveSuppliers?.EMail"></tb-email>
         <tb-phone mask [caption]="_TB('Skype')" cmpId="IDC_PROSPSUPP_SKYPEID" width="154" [model]="eventData?.model?.ProspectiveSuppliers?.SkypeID"></tb-phone>
         <tb-link [caption]="_TB('Internet')" cmpId="IDC_PROSPSUPP_INTERNETADDRESS" width="154" [model]="eventData?.model?.ProspectiveSuppliers?.Internet"></tb-link>
</div>        </tb-tile>
        <tb-layoutcontainer isCollapsible="True" tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Sending Options')" tbTileStandard  isCollapsible="True">
          <tb-enum-combo [caption]="_TB('Send documents by')" cmpId="IDC_PROSPSUPP_CODETYPESENT" width="71" [model]="eventData?.model?.ProspectiveSuppliers?.DocumentSendingType"></tb-enum-combo>
          <tb-enum-combo [caption]="_TB('Email Sending Type')" cmpId="IDC_PROSPSUPP_SENDINGTYPE" width="71" [model]="eventData?.model?.ProspectiveSuppliers?.MailSendingType"></tb-enum-combo>
          <tb-checkbox *ngIf="eventData?.activation?.IDC_PROSPSUPP_NOSENDPOSTALITE" cmpId="IDC_PROSPSUPP_NOSENDPOSTALITE" width="109" [model]="eventData?.model?.ProspectiveSuppliers?.NoSendPostaLite" [caption]="_TB('Do not send via PostaLite  ')"></tb-checkbox>
         </tb-tile>
         <tb-tile [title]="_TB('Registers')" tbTileStandard  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_PROSPSUPP_MAIN_DATA_REGISTERS_BR">
          <tb-enum-combo [caption]="_TB('Taxpayer Type')" cmpId="IDC_PROSPSUPP_TAXPAYER_TYPE" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.TaxpayerType"></tb-enum-combo>
          <tb-text [caption]="_TB('Federal State Register')" cmpId="IDC_PROSPSUPP_FEDSTATEREG" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.FedStateReg"></tb-text>
          <tb-text [caption]="_TB('Municipality Register')" cmpId="IDC_PROSPSUPP_CITYREG" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.MunicipalityReg"></tb-text>
          <tb-text [caption]="_TB('General Register')" cmpId="IDC_PROSPSUPP_GENREGNO" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.GenRegNo"></tb-text>
          <tb-text [caption]="_TB('General Register Entity')" cmpId="IDC_PROSPSUPP_GENREGEN" width="50" [model]="eventData?.model?.ProspectiveSuppliers?.GenRegEntity"></tb-text>
          <tb-text [caption]="_TB('SUFRAMA')" cmpId="IDC_PROSPSUPP_SUFRAMA" width="50" [model]="eventData?.model?.ProspectiveSuppliers?.SUFRAMA"></tb-text>
         </tb-tile>
         <tb-tile [title]="_TB('Registers')" tbTileStandard  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_PROSPSUPP_MAIN_DATA_REGISTERS">
          <tb-text [caption]="_TB('Tax Office')" cmpId="IDC_PROSPSUPP_TAXOFFICE" width="154" [model]="eventData?.model?.ProspectiveSuppliers?.TaxOffice"></tb-text>
          <tb-text *ngIf="eventData?.activation?.IDC_PROSPSUPP_COMP_REG" [caption]="_TB('Register of Companies')" cmpId="IDC_PROSPSUPP_COMP_REG" width="55" [model]="eventData?.model?.ProspectiveSuppliers?.CompanyRegistrNo"></tb-text>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Other Branches References')" icon="erp-factorycustomer" tbLayoutTypeVbox >
       <ng-template>
        <tb-tilepanel [title]="_TB('Other Branches')" isCollapsible="True" showAsTile="True">
         <tb-tile tbTileAutoFill >
          <tb-body-edit cmpId="IDC_PROSPSUPP_BRANCHES" width="325" [model]="eventData?.model?.Branches">
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_BRANCH" columnName="Branch" [title]="_TB('Branch')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_BRANCH">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_DISABLED" columnName="Disabled" [title]="_TB('Disabled')" columnType="tb-checkbox" columnName="IDC_PROSPSUPP_BRANCHES_DISABLED">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_COMPNAME" columnName="Companyname" [title]="_TB('Company Name')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_COMPNAME">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_CODEISO" columnName="ISOCountryCode" [title]="_TB('ISO Country')" columnType="tb-combo" columnName="IDC_PROSPSUPP_BRANCHES_CODEISO">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_FISCALCODE" columnName="FiscalCode" [title]="_TB('Fiscal Code')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_FISCALCODE" *ngIf="eventData?.activation?.IDC_PROSPSUPP_BRANCHES_FISCALCODE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_TAXIDNUMBER" columnName="TaxIdNumber" [title]="_TB('Tax Number')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_TAXIDNUMBER">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_TAXOFFICE" columnName="TaxOffice" [title]="_TB('Tax Office')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_TAXOFFICE" *ngIf="eventData?.activation?.IDC_PROSPSUPP_BRANCHES_TAXOFFICE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_ADDRESSES_FEDERALSTATE" columnName="FederalState" [title]="_TB('Federal State')" columnType="tb-combo" columnName="IDC_PROSPSUPP_ADDRESSES_FEDERALSTATE" *ngIf="eventData?.activation?.IDC_PROSPSUPP_ADDRESSES_FEDERALSTATE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_ADDRESSES_ZIPCODE_BR" columnName="ZIPCode" [title]="_TB('ZIP Code')" columnType="tb-text" columnName="IDC_PROSPSUPP_ADDRESSES_ZIPCODE_BR" *ngIf="eventData?.activation?.IDC_PROSPSUPP_ADDRESSES_ZIPCODE_BR">
           </tb-body-edit-column>
           <tb-body-edit-column [readonly]="true" height width cmpId="IDC_PROSPSUPP_BRANCHES_ADDRESS" columnName="Address" [title]="_TB('Address')" columnType="tb-textarea" columnName="IDC_PROSPSUPP_BRANCHES_ADDRESS">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_ADDRESSES_STREETNO" columnName="StreetNo" [title]="_TB('Street No.')" columnType="tb-text" columnName="IDC_PROSPSUPP_ADDRESSES_STREETNO" *ngIf="eventData?.activation?.IDC_PROSPSUPP_ADDRESSES_STREETNO">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_ADDRESSES_ADDRESS2" columnName="Address2" [title]="_TB('Additional Address')" columnType="tb-text" columnName="IDC_PROSPSUPP_ADDRESSES_ADDRESS2">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_ADDRESSES_DISTRICT" columnName="District" [title]="_TB('District')" columnType="tb-text" columnName="IDC_PROSPSUPP_ADDRESSES_DISTRICT" *ngIf="eventData?.activation?.IDC_PROSPSUPP_ADDRESSES_DISTRICT">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_CITY" columnName="City" [title]="_TB('Municipality')" columnType="tb-combo" columnName="IDC_PROSPSUPP_BRANCHES_CITY">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_ZIPCODE" columnName="ZIPCode" [title]="_TB('ZIP Code')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_ZIPCODE" *ngIf="eventData?.activation?.IDC_PROSPSUPP_BRANCHES_ZIPCODE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_COUNTY" columnName="County" [itemSource]="IDC_PROSPSUPP_BRANCHES_COUNTY_itemSource" [title]="_TB('County')" columnType="tb-combo" columnName="IDC_PROSPSUPP_BRANCHES_COUNTY" *ngIf="eventData?.activation?.IDC_PROSPSUPP_BRANCHES_COUNTY">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_REGION" columnName="Region" [itemSource]="IDC_PROSPSUPP_BRANCHES_REGION_itemSource" [title]="_TB('Region')" columnType="tb-combo" columnName="IDC_PROSPSUPP_BRANCHES_REGION" *ngIf="eventData?.activation?.IDC_PROSPSUPP_BRANCHES_REGION">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_STATUS" columnName="Country" [itemSource]="IDC_PROSPSUPP_BRANCHES_STATUS_itemSource" [title]="_TB('Country')" columnType="tb-combo" columnName="IDC_PROSPSUPP_BRANCHES_STATUS">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_LATITUDE" columnName="Latitude" [title]="_TB('Latitude')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_LATITUDE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_LONGITUDE" columnName="Longitude" [title]="_TB('Longitude')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_LONGITUDE">
           </tb-body-edit-column>
           <tb-body-edit-column mask cmpId="IDC_PROSPSUPP_BRANCHES_TELEPHONE1" columnName="Telephone1" [title]="_TB('Telephone 1')" columnType="tb-phone" columnName="IDC_PROSPSUPP_BRANCHES_TELEPHONE1">
           </tb-body-edit-column>
           <tb-body-edit-column mask cmpId="IDC_PROSPSUPP_BRANCHES_TELEPHONE2" columnName="Telephone2" [title]="_TB('Telephone 2')" columnType="tb-phone" columnName="IDC_PROSPSUPP_BRANCHES_TELEPHONE2">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_TELEX" columnName="Telex" [title]="_TB('Telex')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_TELEX">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_FAX" columnName="Fax" [title]="_TB('Fax')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_FAX">
           </tb-body-edit-column>
           <tb-body-edit-column mask cmpId="IDC_PROSPSUPP_BRANCHES_SKYPEID" columnName="SkypeID" [title]="_TB('Skype')" columnType="tb-phone" columnName="IDC_PROSPSUPP_BRANCHES_SKYPEID">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_INTERNETADDRESS" columnName="Internet" [title]="_TB('Internet')" columnType="tb-link" columnName="IDC_PROSPSUPP_BRANCHES_INTERNETADDRESS">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_EMAILADDRESS" columnName="Email" [title]="_TB('Email')" columnType="tb-email" columnName="IDC_PROSPSUPP_BRANCHES_EMAILADDRESS">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_MAILSENDINGTYPE" columnName="MailSendingType" [title]="_TB('Sending Type')" columnType="tb-enum-combo" columnName="IDC_PROSPSUPP_BRANCHES_MAILSENDINGTYPE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_WORKINGTIME" columnName="WorkingTime" [title]="_TB('Working Time')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_WORKINGTIME">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_REFPERSON" columnName="ContactPerson" [title]="_TB('Contact Person')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_REFPERSON">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_DOCLANGUAGE" columnName="Language" [title]="_TB('Document Language')" columnType="tb-combo" columnName="IDC_PROSPSUPP_BRANCHES_DOCLANGUAGE" *ngIf="eventData?.activation?.IDC_PROSPSUPP_BRANCHES_DOCLANGUAGE">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_BRANCHES_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_PROSPSUPP_BRANCHES_NOTES">
           </tb-body-edit-column>
          </tb-body-edit>
         </tb-tile>
         <tb-tile tbTileStandard >
<div class="anchored">          <tb-combo [caption]="_TB('Payments Addressed to')" cmpId="IDC_PROSPSUPP_PYMTBRANCH" width="54" [model]="eventData?.model?.ProspectiveSuppliers?.PaymentAddress" [itemSource]="IDC_PROSPSUPP_PYMTBRANCH_itemSource"></tb-combo>
          <tb-label-static cmpId="IDC_PROSPSUPP_PYMTBRANCH_DESCRI" width="154" [model]="eventData?.model?.PaymentAddressDescri"></tb-label-static>
</div>         </tb-tile>
        </tb-tilepanel>
        <tb-tile [title]="_TB('References')" tbTileAutoFill  isCollapsible="True">
         <tb-body-edit cmpId="IDC_PROSPSUPP_PEOPLE_BODY" width="325" [model]="eventData?.model?.People">
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_TITLE" columnName="TitleCode" [title]="_TB('Title')" columnType="tb-combo" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_TITLE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_CODE" columnName="ExternalCode" [title]="_TB('Code')" columnType="tb-text" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_CODE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_LASTNAME" columnName="LastName" [title]="_TB('Last Name')" columnType="tb-text" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_LASTNAME">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_NAME" columnName="Name" [title]="_TB('Name')" columnType="tb-text" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_NAME">
          </tb-body-edit-column>
          <tb-body-edit-column mask cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_TEL1" columnName="Telephone1" [title]="_TB('Phone 1')" columnType="tb-phone" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_TEL1">
          </tb-body-edit-column>
          <tb-body-edit-column mask cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_TEL2" columnName="Telephone2" [title]="_TB('Phone 2')" columnType="tb-phone" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_TEL2">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_TELEX" columnName="Telex" [title]="_TB('Telex')" columnType="tb-text" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_TELEX">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_FAX" columnName="Fax" [title]="_TB('Fax')" columnType="tb-text" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_FAX">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_EMAIL" columnName="Email" [title]="_TB('Email')" columnType="tb-email" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_EMAIL">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_EMAILSENDING_TYPE" columnName="MailSendingType" [title]="_TB('Sending Type')" columnType="tb-enum-combo" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_EMAILSENDING_TYPE">
          </tb-body-edit-column>
          <tb-body-edit-column mask cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_SKYPEID" columnName="SkypeID" [title]="_TB('Skype')" columnType="tb-phone" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_SKYPEID">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_BRANCH" columnName="Branch" [title]="_TB('Branch')" columnType="tb-combo" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_BRANCH">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_WORKPOS" columnName="WorkingPosition" [title]="_TB('Working Position')" columnType="tb-text" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_WORKPOS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DETAIL_PROSPSUPP_PEOPLE_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_DETAIL_PROSPSUPP_PEOPLE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Payment Data')" icon="erp-money" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Payment Schedules')" tbTileStandard >
<div class="anchored">         <tb-combo [caption]="_TB('Payment Term')" cmpId="IDC_PROSPSUPP_PYMTTERM" width="62" [model]="eventData?.model?.ProspectiveSuppliers?.Payment"></tb-combo>
         <tb-label-static cmpId="IDC_PROSPSUPP_DESCRI_PYMTTERM" width="154" [model]="eventData?.model?.HKLPymtTerm?.Description"></tb-label-static>
</div>         <tb-combo [caption]="_TB('Bank')" cmpId="IDC_PROSPSUPP_BANK" width="76" [model]="eventData?.model?.ProspectiveSuppliers?.CustSuppBank"></tb-combo>
         <tb-label-static cmpId="IDC_PROSPSUPP_DESCRI_BANK_SUPPORT" width="219" [model]="eventData?.model?.HKLSupportBank?.Description"></tb-label-static>
<div class="anchored">         <tb-combo *ngIf="eventData?.activation?.IDC_PROSPSUPP_CURRENCY" [caption]="_TB('Currency')" cmpId="IDC_PROSPSUPP_CURRENCY" width="62" [model]="eventData?.model?.ProspectiveSuppliers?.Currency"></tb-combo>
         <tb-label-static *ngIf="eventData?.activation?.IDC_PROSPSUPP_DESCRI_CURRENCY" cmpId="IDC_PROSPSUPP_DESCRI_CURRENCY" width="154" [model]="eventData?.model?.HKLCurrencies?.Description"></tb-label-static>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Purchases')" icon="erp-purchase" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Document Data')" tbTileStandard >
<div class="anchored">         <tb-combo *ngIf="eventData?.activation?.IDC_PROSPSUPP_DOCLANGUAGE" [caption]="_TB('Document Language')" cmpId="IDC_PROSPSUPP_DOCLANGUAGE" width="62" [model]="eventData?.model?.ProspectiveSuppliers?.Language"></tb-combo>
         <tb-label-static *ngIf="eventData?.activation?.IDC_PROSPSUPP_DESCRI_LANGUAGE" cmpId="IDC_PROSPSUPP_DESCRI_LANGUAGE" width="154" [model]="eventData?.model?.HKLLanguages?.Description"></tb-label-static>
</div><div class="anchored">         <tb-combo [caption]="_TB('Freight')" cmpId="IDC_PROSPSUPP_PORT" width="62" [model]="eventData?.model?.ProspectiveSuppliers?.Port"></tb-combo>
         <tb-label-static cmpId="IDC_PROSPSUPP_DESCRI_PORT" width="154" [model]="eventData?.model?.HKLPorts?.Description"></tb-label-static>
</div>         <tb-text [caption]="_TB('Standard Discount')" cmpId="IDC_PROSPSUPP_DISCOUNT" width="86" [model]="eventData?.model?.ProspectiveSuppliers?.DiscountFormula"></tb-text>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Administrative Data')" icon="erp-accounting" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_PROSPSUPP_ADMINDATA">
       <ng-template>
        <tb-tile [title]="_TB('Accounting Data')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_PROSPSUPP_ADMINISTRATIVE_DATA_ACCOUNTING_DATA">
<div class="anchored">         <tb-combo [caption]="_TB('Tax Code')" cmpId="IDC_PROSPSUPP_TAXCODEPREFERRED" width="62" [model]="eventData?.model?.ProspectiveSuppliers?.TaxCode"></tb-combo>
         <tb-label-static cmpId="IDC_PROSPSUPP_DESCRI_ESEN" width="154" [model]="eventData?.model?.HKLTax?.Description"></tb-label-static>
</div>         <tb-checkbox cmpId="IDC_PROSPSUPP_IN_EXEMPTFROMTAX" width="109" [model]="eventData?.model?.ProspectiveSuppliers?.ExemptFromTax" [caption]="_TB('Exempt from Tax  ')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_PROSPSUPP_IN_SUSPENSION" cmpId="IDC_PROSPSUPP_IN_SUSPENSION" width="109" [model]="eventData?.model?.ProspectiveSuppliers?.SuspendedTax" [caption]="_TB('Suspended Tax  ')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Default Accounts')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_PROSPSUPP_ADMINISTRATIVE_DATA_OFFSET_DATA">
         <tb-text [caption]="_TB('Chart of Account a/c')" cmpId="IDC_PROSPSUPP_ACCOUNTROOT" width="104" [model]="eventData?.model?.ProspectiveSuppliers?.Account"></tb-text>
         <tb-label-static cmpId="IDC_PROSPSUPP_DESCRI_ACCOUNT" width="224" [model]="eventData?.model?.HKLChartOfAccounts?.Description"></tb-label-static>
         <tb-text [caption]="_TB('Goods Offset')" cmpId="IDC_PROSPSUPP_GOODSOFFSET" width="104" [model]="eventData?.model?.ProspectiveSuppliers?.GoodsOffset"></tb-text>
         <tb-label-static cmpId="IDC_PROSPSUPP_GOODSOFFSET_DESCRI" width="223" [model]="eventData?.model?.HKLChartOfAccountsGoods?.Description"></tb-label-static>
         <tb-text [caption]="_TB('Services Offset')" cmpId="IDC_PROSPSUPP_SERVICESOFFSET" width="104" [model]="eventData?.model?.ProspectiveSuppliers?.ServicesOffset"></tb-text>
         <tb-label-static cmpId="IDC_PROSPSUPP_SERVICESOFFSET_DESCRI" width="224" [model]="eventData?.model?.HKLChartOfAccountsServices?.Description"></tb-label-static>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Notes')" icon="erp-masternote" tbLayoutTypeVbox >
       <ng-template>
        <tb-tilepanel [title]="_TB('Notes')" showAsTile="True">
         <tb-tile [title]="_TB('Notes')" tbTileStandard >
          <tb-text [caption]="_TB('Notes for Internal Use')" cmpId="IDC_PROSPSUPP_NOTES" width="222" [model]="eventData?.model?.ProspectiveSuppliers?.Notes"></tb-text>
         </tb-tile>
         <tb-tile tbTileAutoFill >
          <tb-body-edit cmpId="IDC_PROSPSUPP_BODYNOTES" width="325" [model]="eventData?.model?.Notes">
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_NOTES_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_PROSPSUPP_NOTES_NOTES">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_NOTES_PRINT" columnName="PrintSuppQuota" [title]="_TB('Print in Quotations')" columnType="tb-checkbox" columnName="IDC_PROSPSUPP_NOTES_PRINT" *ngIf="eventData?.activation?.IDC_PROSPSUPP_NOTES_PRINT">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_NOTES_DISPLAY" columnName="ShowSuppQuota" [title]="_TB('Display in Quotations')" columnType="tb-checkbox" columnName="IDC_PROSPSUPP_NOTES_DISPLAY" *ngIf="eventData?.activation?.IDC_PROSPSUPP_NOTES_DISPLAY">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_PROSPSUPP_NOTES_COPY" columnName="CopySuppQuota" [title]="_TB('Copy in Quotations')" columnType="tb-checkbox" columnName="IDC_PROSPSUPP_NOTES_COPY" *ngIf="eventData?.activation?.IDC_PROSPSUPP_NOTES_COPY">
           </tb-body-edit-column>
          </tb-body-edit>
         </tb-tile>
        </tb-tilepanel>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
