:host(tb-tabber) {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.tabber-container {
    display: flex;
    background-color: #0277bd;
    min-height: 31px;
}

.page-tabber {
    flex-grow: 1;
}

.tab-content {
    overflow: hidden;
    flex: 1;
    margin: 0;
    padding: 0;
}

ul.tabber {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // justify-content: center;
    margin: 0;
    border-bottom: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
}

ul.tabber>li {
    line-height: 30px;
    padding: 0 27px 0 0;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: white;
    font-weight: 300;
    background: #00578c;
    margin: 0 0px 0 3px;
}

ul.tabber>li>span {
    padding: 10px 0 10px 10px;
}

ul.menu-tabber>li {
    padding: 0 10px;
    text-align: center;
}

ul.tabber>li m4-icon {
    line-height: 30px;
}

ul.tabber>li {
    font-size: 13px;
    font-weight: 600;
}

ul.tabber>li.active {
    background-color: #fff;
    margin-bottom: -1px;
    color: #0277bd;
}

.close {
    position: absolute;
    top: 0px;
    right: 7px;
    width: 14px;
    font-size: 14px;
    height: 14px;
}

.visibilityHidden {
    visibility: hidden;
}

.kendoTabContent {
    overflow: hidden;
}