 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Manufacturing Order')" tbTileMini >
         <tb-radio cmpId="IDC_SOST_JOLLY_ALL_ORD" width="93" [model]="eventData?.model?.bAllMO" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_SOST_JOLLY_SELECTION_ORD" width="36" [model]="eventData?.model?.bMOSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_SOST_JOLLY_FROM_ORDER" width="62" [model]="eventData?.model?.FromMO"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_SOST_JOLLY_A_ORDER" width="62" [model]="eventData?.model?.ToMO"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Component')" tbTileMini >
         <tb-radio cmpId="IDC_SOST_JOLLY_ALL_COMPONENTS" width="93" [model]="eventData?.model?.bAllComponents" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_SOST_JOLLY_SELECTION_COMPONENTS" width="35" [model]="eventData?.model?.bMOComponentsSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_SOST_JOLLY_FROM_COMPONENT" width="122" [model]="eventData?.model?.FromComponent"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_SOST_JOLLY_A_COMPONENT" width="122" [model]="eventData?.model?.ToComponent"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Delivery Date')" tbTileMini >
         <tb-radio cmpId="IDC_SOST_JOLLY_EVERYONE_DATE" width="93" [model]="eventData?.model?.bAllDate" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_SOST_JOLLY_SEL_DATE" width="35" [model]="eventData?.model?.bDateSel" [caption]="_TB('From')"></tb-radio>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_SOST_JOLLY_FROM_DATE" width="57" [model]="eventData?.model?.FromDate"></tb-date-input>
</div>         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_SOST_JOLLY_A_DATE" width="57" [model]="eventData?.model?.ToDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Variable Component')" tbTileMini >
         <tb-checkbox cmpId="IDC_SOST_JOLLY_MOCOMPONENTSONLY" width="116" [model]="eventData?.model?.bMOComponentsOnly" [caption]="_TB('Only')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="138" [model]="eventData?.model?.ComponentsDetail">
         <tb-body-edit-column cmpId="IDC_SOST_JOLLY_SELECTED" columnName="Selection" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_SOST_JOLLY_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SOST_JOLLY_NO_ORDER" columnName="MONo" [title]="_TB('MO')" columnType="tb-text" columnName="IDC_SOST_JOLLY_NO_ORDER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SOST_JOLLY_COMPONENTS" columnName="Component" [title]="_TB('Component')" columnType="tb-combo" columnName="IDC_SOST_JOLLY_COMPONENTS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SOST_JOLLY_DESCRI_COMPONENT" columnName="ComponentsDes" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_SOST_JOLLY_DESCRI_COMPONENT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_SOST_JOLLY_UNIT_OF_MISURE" columnName="UoM" [itemSource]="IDC_SOST_JOLLY_UNIT_OF_MISURE_itemSource" [title]="_TB('UoM')" columnType="tb-combo" columnName="IDC_SOST_JOLLY_UNIT_OF_MISURE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_SOST_JOLLY_QUANTITY" columnName="NeededQty" [title]="_TB('Needed
quantity')" columnType="tb-numeric-text-box" columnName="IDC_SOST_JOLLY_QUANTITY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_SOST_JOLLY_DELIVERY_DATE" columnName="DeliveryDate" [title]="_TB('Delivery date')" columnType="tb-date-input" columnName="IDC_SOST_JOLLY_DELIVERY_DATE">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_SOST_JOLLY_SOST_COMPO?.enabled" icon="erp-item" [caption]="_TB('Replacement code with the specified component')" cmpId="ID_SOST_JOLLY_SOST_COMPO"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
