$bkg-light: rgb(193, 214, 232);
$bkg-light-opacity50:rgba(193, 211, 223, 0.5);
$bkg-medium:rgb(40, 128, 185);
$bkg-dark:#005489;
$bkg-app: rgba(38, 107, 152, 0.4);
$bkg: #fff;
$text-light: #fff;
$text-medium: #8f8f96;
$text-dark: #484040;
$text-black: #000000;
$font-size-tooltip: 12px;
.ocean {
    //toolbar principale, dove si trova anche la "ricerca"
    .mat-toolbar.mat-primary {
        background: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report
    .tabber-container>.k-tabstrip>.k-tabstrip-items {
        background: $bkg-medium;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
        background: $bkg-dark;
        color: $text-light;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab attiva
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
        background: $bkg-light;
        color: $text-black;
        border-bottom-color: $bkg-medium;
    }
    //colore barra del titolo delle finestre di messaggio modali
    .k-dialog-titlebar {
        background-color: $bkg-medium;
    }
    //titoli finestre di messaggio modali
    .k-window-title {
        font-size: 17px;
        line-height: normal;
        background-color: $bkg-medium
    }
    //pulsanti finestre di messaggio modali
    .k-button {
        color: $text-black;
    }
    //colore della toolbar principale della frame
    .toolbar-top {
        background-color: $bkg-light;
        color: $text-dark;
    }
    .toolbar-top-item {
        color: $text-black;
    }
    //colore del tabber del selettore menu
    .menu-page .k-tabstrip-top>.k-tabstrip-items {
        background-color: $bkg-light;
        color: $text-light;
    }
    //colore del tabber del selettore menu, singola tab
    .menu-page .k-tabstrip>.k-tabstrip-items .k-item .k-link {
        color: $text-black;
    }
    //colore del tabber del selettore menu, singola tab attiva
    .menu-page .k-tabstrip-top>.k-tabstrip-items .k-item.k-state-active .k-link {
        color: $bkg-medium;
        border-bottom: 1;
        border-bottom-color: $bkg;
        background: $bkg-dark;
        color: $text-light;
    }
    //tbcard, 
    .tb-card {
        background-color: $bkg;
    }
    //titolo della tbcard
    .tb-card-title {
        font-size: 17px;
    }
    //Colore icone di tipo document
    tb-menu-element .menu-element-content .object-type.Document {
        color: $bkg-medium;
    }
    //Colore icone di tipo Report
    tb-menu-element .menu-element-content .object-type.Report {
        color: $bkg-medium;
    }
    //Colore icone di tipo Batch
    tb-menu-element .menu-element-content .object-type.Batch {
        color: $bkg-medium;
    }
    //Colore icone di tipo Function
    tb-menu-element .menu-element-content .object-type.Function {
        color: $bkg-medium;
    }
    //dimensione del font delle voci di menu
    tb-menu-element .menu-element-content .object-type {
        font-size: 16px;
    }
    //colore mouseover delle voci di menu
    tb-menu-element .menu-element:hover {
        background-color: $bkg-light-opacity50;
    }
    //colore scrollbar
     ::-webkit-scrollbar-thumb {
        background: $bkg-medium;
    }
    //colore di fondo della sidenav
    .mat-sidenav,
    mat-sidenav {
        background: $bkg-medium;
    }
    //colore di fondo della lista applicazioni
    ul.application-list,
    ul.groups-list {
        background: $bkg-medium;
        &>li {
            color: $text-light;
            background: $bkg-app;
        }
        &>li:hover {
            color: $text-light;
            background: $bkg-dark;
        }
        .selected {
            background: $bkg-dark;
        }
    }
    //tidolo delle voci sidenav
    .sidenav-subtitle h4 {
        color: $text-light;
    }
    //stile quando usato nella sidenav
    /// inizio sidenav
    .sidenav {
        m4-icon.close {
            color: #ddd;
        }
        //recenti, colori 
        .most-used-item,
        .favorite-item,
        .hiddenTiles-item {
            color: $text-light;
            background: $bkg-medium;
            &>span {
                font-weight: 600;
            }
            &:hover {
                background: $bkg-dark;
            }
            &:hover span {
                color: $text-light;
            }
            m4-icon.close {
                &:hover {
                    color: #fff;
                }
            }
        }
        //recenti, favoriti , nascosti, lista vuota
        .most-used-empty,
        .favorites-empty,
        .hiddenTiles-empty {
            color: $text-light;
            background: $bkg-medium;
        }
    }
    /// fine sidenav
    //stile quando usato nella dashboard
    /// inizio dashboard
    .dashboard {
        //recenti, preferiti
        .most-used-item,
        .favorite-item,
        .hiddentiles {
            background: #f1f1f1;
            border: 1px solid #ddd;
            margin: 3px 7px;
            height: 28px;
            &>span {
                color: $text-light;
                line-height: 29px;
            }
            &:hover span {
                color: $bkg-medium;
            }
            .type {
                margin-right: 7px;
            }
            .type.Document {
                color: $bkg-medium;
            }
            .type.Report,
            .type.Function {
                color: $bkg-medium;
            }
            .type.Batch {
                color: $bkg-medium;
            }
            m4-icon.close {
                color: #ddd;
                &:hover {
                    color: $bkg-dark;
                }
            }
            .most-used-empty,
            .favorites-empty,
            .hiddenTiles-empty {
                color: $text-dark;
            }
        }
    }
}

.mat-tooltip {
    font-size: $font-size-tooltip !important;
    background-color: $bkg-light !important;
    color: $text-light !important;
    border-radius: 4px !important;
    text-align: center;
}