 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Acquisition from device')" tbTileStandard >
        <tb-label-static [caption]="_TB('Source name')" cmpId="IDC_DEVICE_SOURCE_NAME" width="101" [model]="eventData?.model?.sSource"></tb-label-static>
        <tb-button cmpId="IDC_DEVICE_BTN_CHANGE_SOURCE" width="76" [caption]="_TB('Select')"></tb-button>
        <tb-text [caption]="_TB('File name')" cmpId="IDC_DEVICE_FILE_NAME" width="101" [model]="eventData?.model?.sFile"></tb-text>
        <tb-combo [caption]="_TB('Type')" cmpId="IDC_DEVICE_COMBO_EXTENSIONS" width="48" [model]="eventData?.model?.sExtension" [itemSource]="IDC_DEVICE_COMBO_EXTENSIONS_itemSource"></tb-combo>
        <tb-checkbox cmpId="IDC_DEVICE_CREATE_SEPARATE_FILE" width="119" [model]="eventData?.model?.bSeparateFiles" [caption]="_TB('Create separate file for each')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_DEVICE_PAGE" width="118" [model]="eventData?.model?.bSplitPage" [caption]="_TB('scanned page')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_DEVICE_BARCODE" width="118" [model]="eventData?.model?.bSplitBarcode" [caption]="_TB('barcode')"></tb-checkbox>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_DEVICE_BTN_SCAN?.enabled" icon="extensions.extensionsimages.images.20x20.device.png" [caption]="_TB('Scan')" cmpId="IDC_DEVICE_BTN_SCAN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_DEVICE_BTN_CANCEL?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="IDC_DEVICE_BTN_CANCEL"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
