 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-caption *ngIf="eventData?.activation?.IDC_STATIC_COSTACCOUNTING_LINE1" cmpId="IDC_STATIC_COSTACCOUNTING_LINE1" width="271" [caption]="_TB('The ledger posting contains analytical accounts as offsets.')"></tb-caption>
        <tb-caption *ngIf="eventData?.activation?.IDC_STATIC_COSTACCOUNTING_LINE2" cmpId="IDC_STATIC_COSTACCOUNTING_LINE2" width="271" [caption]="_TB('Select the Cost Accounting Generation type')"></tb-caption>
        <tb-caption *ngIf="eventData?.activation?.IDC_STATIC_COSTACCOUNTING_LINE1" cmpId="IDC_STATIC_COSTACCOUNTING_LINE1" width="271" [caption]="_TB('The ledger posting has already linked analytical entries.')"></tb-caption>
        <tb-caption *ngIf="eventData?.activation?.IDC_STATIC_COSTACCOUNTING_LINE2" cmpId="IDC_STATIC_COSTACCOUNTING_LINE2" width="271" [caption]="_TB('Select the Cost Accounting Regeneration type')"></tb-caption>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_GENERATE_COSTACCOUNTING_ISAUTOMATIC?.enabled" icon="tb-execute" [caption]="_TB('Automatic')" cmpId="ID_GENERATE_COSTACCOUNTING_ISAUTOMATIC"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_GENERATE_COSTACCOUNTING_AUTODISPLAY?.enabled" icon="erp-executefind" [caption]="_TB('Automatic with display')" cmpId="ID_GENERATE_COSTACCOUNTING_AUTODISPLAY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_GENERATE_COSTACCOUNTING_MANUAL?.enabled" icon="tb-edit" [caption]="_TB('Manual')" cmpId="ID_GENERATE_COSTACCOUNTING_MANUAL"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_GENERATE_COSTACCOUNTING_NOT_GENERATE?.enabled" icon="erp-disable" [caption]="_TB('eventData?.model?.sTextButtonCancel')" cmpId="ID_GENERATE_COSTACCOUNTING_NOT_GENERATE"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
