 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" showAsTile="True">
        <tb-tile [title]="_TB('Cost Centers Balances')" tbTileStandard >
         <tb-checkbox cmpId="IDC_RICALCOSTACC_COSTCENTERS" width="76" [model]="eventData?.model?.CostCenters" [caption]="_TB('Rebuilding')"></tb-checkbox>
<div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('From')" cmpId="IDC_RICALCOSTACC_INCOSTCENTERS" width="23" [model]="eventData?.model?.CostCentersFromMonth"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_RICALCOSTACC_FROMYEARCOSTCENTERS" width="30" [model]="eventData?.model?.FromYearCostCenters"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('To')" cmpId="IDC_RICALCOSTACC_ENDCOSTCENTERS" width="23" [model]="eventData?.model?.CostCentersToMonth"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_RICALCOSTACC_TOYEARCOSTCENTERS" width="30" [model]="eventData?.model?.ToYearCostCenters"></tb-numeric-text-box>
</div>         <tb-radio cmpId="IDC_RICALCOSTACC_COSTCENTERS_ALL" width="56" [model]="eventData?.model?.AllCostCenters" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_RICALCOSTACC_COSTCENTERS_SELECTION" width="56" [model]="eventData?.model?.CostCentersSel" [caption]="_TB('Selection')"></tb-radio>
         <tb-enum-combo cmpId="IDC_RICALCOSTACC_COSTCENTERS_CODETYPE" width="101" [model]="eventData?.model?.CostCentersType" [itemSource]="IDC_RICALCOSTACC_COSTCENTERS_CODETYPE_itemSource"></tb-enum-combo>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Jobs Balances')" tbTileStandard >
         <tb-checkbox cmpId="IDC_RICALCOSTACC_JOBS" width="76" [model]="eventData?.model?.Jobs" [caption]="_TB('Rebuilding')"></tb-checkbox>
<div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('From')" cmpId="IDC_RICALCOSTACC_INJOBS" width="23" [model]="eventData?.model?.JobsFromMonth"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_RICALCOSTACC_FROMYEARJOBS" width="30" [model]="eventData?.model?.FromYearJobs"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('To')" cmpId="IDC_RICALCOSTACC_ENDJOBS" width="23" [model]="eventData?.model?.JobsToMonth"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_RICALCOSTACC_TOYEARJOBS" width="30" [model]="eventData?.model?.ToYearJobs"></tb-numeric-text-box>
</div>         <tb-radio cmpId="IDC_RICALCOSTACC_JOBS_EVERYONE" width="56" [model]="eventData?.model?.AllJob" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_RICALCOSTACC_JOBS_SELECTION" width="56" [model]="eventData?.model?.JobSell" [caption]="_TB('Selection')"></tb-radio>
         <tb-enum-combo cmpId="IDC_RICALCOSTACC_JOBS_CODETYPE" width="101" [model]="eventData?.model?.JobsType" [itemSource]="IDC_RICALCOSTACC_JOBS_CODETYPE_itemSource"></tb-enum-combo>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Product Lines Balances')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_COSTACCREBUILDING_PRODLINESBALANCES">
         <tb-checkbox cmpId="IDC_RICALCOSTACC_PRODUCTLINE" width="76" [model]="eventData?.model?.ProductLine" [caption]="_TB('Rebuilding')"></tb-checkbox>
<div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('From')" cmpId="IDC_RICALCOSTACC_INPRODUCTLINE" width="23" [model]="eventData?.model?.LineFromMonth"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_RICALCOSTACC_FROMYEARLINES" width="30" [model]="eventData?.model?.FromYearLines"></tb-numeric-text-box>
         <tb-radio cmpId="IDC_RICALCOSTACC_PRODUCTLINE_EVERYONE" width="56" [model]="eventData?.model?.AllLine" [caption]="_TB('All')"></tb-radio>
</div><div class="anchored">         <tb-numeric-text-box formatter="Integer" cmpId="IDC_RICALCOSTACC_FROMYEARLINES" width="30" [model]="eventData?.model?.FromYearLines"></tb-numeric-text-box>
         <tb-radio cmpId="IDC_RICALCOSTACC_PRODUCTLINE_EVERYONE" width="56" [model]="eventData?.model?.AllLine" [caption]="_TB('All')"></tb-radio>
</div><div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('To')" cmpId="IDC_RICALCOSTACC_ENDPRODUCTLINE" width="23" [model]="eventData?.model?.LineToMonth"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_RICALCOSTACC_TOYEARLINES" width="30" [model]="eventData?.model?.ToYearLines"></tb-numeric-text-box>
         <tb-radio cmpId="IDC_RICALCOSTACC_PRODUCTLINE_SELECTION" width="56" [model]="eventData?.model?.LineSel" [caption]="_TB('Selection')"></tb-radio>
         <tb-enum-combo cmpId="IDC_RICALCOSTACC_PRODUCTLINE_CODETYPE" width="101" [model]="eventData?.model?.LineType" [itemSource]="IDC_RICALCOSTACC_PRODUCTLINE_CODETYPE_itemSource"></tb-enum-combo>
</div><div class="anchored">         <tb-numeric-text-box formatter="Integer" cmpId="IDC_RICALCOSTACC_TOYEARLINES" width="30" [model]="eventData?.model?.ToYearLines"></tb-numeric-text-box>
         <tb-radio cmpId="IDC_RICALCOSTACC_PRODUCTLINE_SELECTION" width="56" [model]="eventData?.model?.LineSel" [caption]="_TB('Selection')"></tb-radio>
         <tb-enum-combo cmpId="IDC_RICALCOSTACC_PRODUCTLINE_CODETYPE" width="101" [model]="eventData?.model?.LineType" [itemSource]="IDC_RICALCOSTACC_PRODUCTLINE_CODETYPE_itemSource"></tb-enum-combo>
</div><div class="anchored">         <tb-radio cmpId="IDC_RICALCOSTACC_PRODUCTLINE_SELECTION" width="56" [model]="eventData?.model?.LineSel" [caption]="_TB('Selection')"></tb-radio>
         <tb-enum-combo cmpId="IDC_RICALCOSTACC_PRODUCTLINE_CODETYPE" width="101" [model]="eventData?.model?.LineType" [itemSource]="IDC_RICALCOSTACC_PRODUCTLINE_CODETYPE_itemSource"></tb-enum-combo>
</div>        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileWide >
<div class="col col1">        <tb-label-static cmpId="IDC_RICALCOSTACC_PROCESS_COSTCENTERS" width="487" [model]="eventData?.model?.CostCentersProcess"></tb-label-static>
        <tb-label-static cmpId="IDC_RICALCOSTACC_PROCESS_JOBS" width="487" [model]="eventData?.model?.JobsProcess"></tb-label-static>
        <tb-label-static *ngIf="eventData?.activation?.IDC_RICALCOSTACC_PROCESS_PRODUCTLINE" cmpId="IDC_RICALCOSTACC_PROCESS_PRODUCTLINE" width="487" [model]="eventData?.model?.LineProcess"></tb-label-static>
</div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
