 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Main Data')" tbTileWide >
<div class="col col1"><div class="anchored">        <tb-numeric-text-box formatter="Long" disabled="true" [caption]="_TB('ID')" cmpId="IDC_TRANSFERORDER_ID" width="62" [model]="eventData?.model?.TransferOrder?.ID"></tb-numeric-text-box>
        <tb-label-static [caption]="_TB('ID Parent')" cmpId="IDC_TRANSFERORDER_IDPARENT" width="62"></tb-label-static>
</div>        <tb-label-static [caption]="_TB('Number')" cmpId="IDC_TRANSFERORDER_NUMBER" width="62" [model]="eventData?.model?.TransferOrder?.TONumber"></tb-label-static>
        <tb-enum-combo [caption]="_TB('Movement Type')" cmpId="IDC_TRANSFERORDER_MOVEMENTTYPE" width="170" [model]="eventData?.model?.TransferOrder?.MovementType"></tb-enum-combo>
        <tb-date-input formatter="Date" [readonly]="true" [caption]="_TB('Creation Date')" cmpId="IDC_TRANSFERORDER_CREATIONDATE" width="57" [model]="eventData?.model?.TransferOrder?.CreationDate"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="true" [caption]="_TB('Confirmation Date')" cmpId="IDC_TRANSFERORDER_CONFIRMATIONDATE" width="57" [model]="eventData?.model?.TransferOrder?.ConfirmationDate"></tb-date-input>
        <tb-enum-combo [caption]="_TB('Status')" cmpId="IDC_TRANSFERORDER_STATUS" width="120" [model]="eventData?.model?.TransferOrder?.TOStatus"></tb-enum-combo>
<div class="anchored">        <tb-label-static [caption]="_TB('Reason')" cmpId="IDC_TRANSFERORDER_REASON" width="62" [model]="eventData?.model?.TransferOrder?.Reason"></tb-label-static>
        <tb-label-static cmpId="IDC_TRANSFERORDER_REASONDESCRI" width="156" [model]="eventData?.model?.HKLWMReason?.Description"></tb-label-static>
</div><div class="anchored">        <tb-label-static [caption]="_TB('Team')" cmpId="IDC_TRANSFERORDER_TEAM" width="62" [model]="eventData?.model?.TransferOrder?.Team"></tb-label-static>
        <tb-label-static cmpId="IDC_TRANSFERORDER_TEAMDESCRI" width="156" [model]="eventData?.model?.HKLWMTeams?.Description"></tb-label-static>
</div><div class="anchored">        <tb-numeric-text-box formatter="Long" disabled="true" [caption]="_TB('Resource')" cmpId="IDC_TRANSFERORDER_RESOURCE" width="62" [model]="eventData?.model?.TransferOrder?.ToResource"></tb-numeric-text-box>
        <tb-label-static cmpId="IDC_TRANSFERORDER_RESOURCEDESCRI" width="156" [model]="eventData?.model?.HKLWMResource?.NameComplete"></tb-label-static>
</div><div class="anchored">        <tb-label-static [caption]="_TB('Storage')" cmpId="IDC_TRANSFERORDER_STORAGE" width="62" [model]="eventData?.model?.TransferOrder?.Storage"></tb-label-static>
        <tb-label-static cmpId="IDC_TRANSFERORDER_STORAGEDESCRI" width="156" [model]="eventData?.model?.HKLStorage?.Description"></tb-label-static>
</div><div class="anchored">        <tb-label-static *ngIf="eventData?.activation?.IDC_TRANSFERORDER_CONSIGNMENT_PARTNER" [caption]="_TB('Consignment Partner')" cmpId="IDC_TRANSFERORDER_CONSIGNMENT_PARTNER" width="62" [model]="eventData?.model?.TransferOrder?.ConsignmentPartner"></tb-label-static>
        <tb-label-static *ngIf="eventData?.activation?.IDC_TRANSFERORDER_CONSIGNMENT_PARTNER_DESCRI" cmpId="IDC_TRANSFERORDER_CONSIGNMENT_PARTNER_DESCRI" width="156" [model]="eventData?.model?.HKLConsignmentPartner?.CompanyName"></tb-label-static>
</div></div><div class="col col2">        <tb-label-static [caption]="_TB('Item')" cmpId="IDC_TRANSFERORDER_ITEM" width="105" [model]="eventData?.model?.TransferOrder?.Item"></tb-label-static>
        <tb-label-static cmpId="IDC_TRANSFERORDER_ITEM_DESCRI" width="166" [model]="eventData?.model?.HKLItem?.Description"></tb-label-static>
        <tb-label-static *ngIf="eventData?.activation?.IDC_TRANSFERORDER_LOT" [caption]="_TB('Lot')" cmpId="IDC_TRANSFERORDER_LOT" width="62" [model]="eventData?.model?.TransferOrder?.Lot"></tb-label-static>
        <tb-label-static *ngIf="eventData?.activation?.IDC_TRANSFERORDER_INTERNALNO" [caption]="_TB('Internal Serial No.')" cmpId="IDC_TRANSFERORDER_INTERNALNO" width="84" [model]="eventData?.model?.TransferOrder?.InternalIdNo"></tb-label-static>
        <tb-section-title cmpId="IDC_STATIC_TRANSFERORDER_LABEL_NEEDED" width="323" [caption]="_TB('Needed')"></tb-section-title>
        <tb-label-static [caption]="_TB('Base UoM')" cmpId="IDC_TRANSFERORDER_BASE_UOM" width="62" [model]="eventData?.model?.TransferOrder?.BaseUoM"></tb-label-static>
        <tb-numeric-text-box formatter="Integer" disabled="true" [caption]="_TB('Qty Needed')" cmpId="IDC_TRANSFERORDER_QTYNEEDED" width="40" [model]="eventData?.model?.TransferOrder?.QtyNeeded"></tb-numeric-text-box>
        <tb-section-title cmpId="IDC_STATIC_TRANSFERORDER_LABEL_TO_MOVE" width="323" [caption]="_TB('To Move/Moved')"></tb-section-title>
        <tb-label-static [caption]="_TB('UoM')" cmpId="IDC_TRANSFERORDER_UOM" width="62" [model]="eventData?.model?.TransferOrder?.UoM"></tb-label-static>
        <tb-numeric-text-box formatter="Integer" disabled="true" [caption]="_TB('Qty to Move')" cmpId="IDC_TRANSFERORDER_QTYTOMOVE" width="40" [model]="eventData?.model?.TransferOrder?.QtyToMove"></tb-numeric-text-box>
        <tb-numeric-text-box formatter="Integer" disabled="true" [caption]="_TB('Qty Moved')" cmpId="IDC_TRANSFERORDER_QTYMOVED" width="40" [model]="eventData?.model?.TransferOrder?.QtyMoved"></tb-numeric-text-box>
        <tb-label-static *ngIf="eventData?.activation?.IDC_TRANSFERORDER_PICKFROMPACKUOM" [caption]="_TB('Picking from Packaging UoM')" cmpId="IDC_TRANSFERORDER_PICKFROMPACKUOM" width="62"></tb-label-static>
</div>       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Source')" tbTileStandard >
         <tb-label-static [caption]="_TB('Zone')" cmpId="IDC_TRANSFERORDER_SOURCEZONE" width="62" [model]="eventData?.model?.TransferOrder?.SourceZone"></tb-label-static>
         <tb-label-static [caption]="_TB('Bin')" cmpId="IDC_TRANSFERORDER_SOURCEBIN" width="62" [model]="eventData?.model?.TransferOrder?.SourceBin"></tb-label-static>
         <tb-label-static *ngIf="eventData?.activation?.IDC_TRANSFERORDER_SOURCESU" [caption]="_TB('Storage Unit')" cmpId="IDC_TRANSFERORDER_SOURCESU" width="88" [model]="eventData?.model?.TransferOrder?.SourceStorageUnit"></tb-label-static>
<div class="anchored">         <tb-enum-combo [caption]="_TB('Special Stock')" cmpId="IDC_TRANSFERORDER_SOURCESPECIALSTOCK" width="118" [model]="eventData?.model?.TransferOrder?.SourceSpecialStock"></tb-enum-combo>
         <tb-label-static cmpId="IDC_TRANSFERORDER_SOURCESPECIALSTOCKCODE" width="72" [model]="eventData?.model?.TransferOrder?.SourceSpecialStockCode"></tb-label-static>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Destination')" tbTileStandard >
         <tb-label-static [caption]="_TB('Zone')" cmpId="IDC_TRANSFERORDER_DESTZONE" width="62" [model]="eventData?.model?.TransferOrder?.DestZone"></tb-label-static>
         <tb-label-static [caption]="_TB('Bin')" cmpId="IDC_TRANSFERORDER_DESTBIN" width="62" [model]="eventData?.model?.TransferOrder?.DestBin"></tb-label-static>
         <tb-label-static *ngIf="eventData?.activation?.IDC_TRANSFERORDER_DESTSU" [caption]="_TB('Storage Unit')" cmpId="IDC_TRANSFERORDER_DESTSU" width="88" [model]="eventData?.model?.TransferOrder?.DestStorageUnit"></tb-label-static>
<div class="anchored">         <tb-enum-combo [caption]="_TB('Special Stock')" cmpId="IDC_TRANSFERORDER_DESTSPECIALSTOCK" width="88" [model]="eventData?.model?.TransferOrder?.DestSpecialStock"></tb-enum-combo>
         <tb-label-static cmpId="IDC_TRANSFERORDER_DESTSPECIALSTOCKCODE" width="72" [model]="eventData?.model?.TransferOrder?.DestSpecialStockCode"></tb-label-static>
</div>        </tb-tile>
       </tb-layoutcontainer>
       <tb-tile [title]="_TB('Other Data')" tbTileWide  isCollapsible="True">
<div class="col col1">        <tb-label-static [caption]="_TB('Notes')" cmpId="IDC_TRANSFERORDER_NOTES" width="218" [model]="eventData?.model?.TransferOrder?.Notes"></tb-label-static>
</div><div class="col col2">        <tb-checkbox cmpId="IDC_TRANSFERORDER_CREATEDFROMINVENTORY" width="109" [model]="eventData?.model?.TransferOrder?.CreatedFromInventory" [caption]="_TB('Created From Inventory  ')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_TRANSFERORDER_AUTOCONFIRMED" width="109" [model]="eventData?.model?.TransferOrder?.AutoConfirmed" [caption]="_TB('Autoconfirmed  ')"></tb-checkbox>
</div>       </tb-tile>
       <tb-tile [title]="_TB('Details')" tbTileWide  isCollapsible="True" isCollapsed="True">
<div class="col col1">        <tb-body-edit cmpId="IDC_TRANSFERORDER_BODY_DETAIL" width="654" [model]="eventData?.model?.Detail">
         <tb-body-edit-column formatter="Long" disabled="true" cmpId="IDC_TRANSFERORDER_BE_STOCKNUMBER" columnName="StockNumber" [title]="_TB('Stock Number')" columnType="tb-numeric-text-box" columnName="IDC_TRANSFERORDER_BE_STOCKNUMBER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_STORAGE" columnName="Storage" [title]="_TB('Storage')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_STORAGE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_ZONE" columnName="Zone" [title]="_TB('Zone')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_ZONE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_BIN" columnName="Bin" [title]="_TB('Bin')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_BIN">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_ITEM" columnName="Item" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_ITEM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_LOT" columnName="Lot" [title]="_TB('Lot')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_LOT" *ngIf="eventData?.activation?.IDC_TRANSFERORDER_BE_LOT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_INTERNALSERIALNO" columnName="InternalIdNo" [title]="_TB('Internal Serial No.')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_INTERNALSERIALNO" *ngIf="eventData?.activation?.IDC_TRANSFERORDER_BE_INTERNALSERIALNO">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_SPACIAL_STOCK" columnName="SpecialStock" [title]="_TB('Special
Stock')" columnType="tb-enum-combo" columnName="IDC_TRANSFERORDER_BE_SPACIAL_STOCK">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_SPACIAL_STOCK_CODE" columnName="SpecialStockCode" [title]="_TB('Special
Stock Code')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_SPACIAL_STOCK_CODE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_SPACIAL_STORAGE_UNIT_TYPE" columnName="StorageUnit" [title]="_TB('Storage
Unit')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_SPACIAL_STORAGE_UNIT_TYPE" *ngIf="eventData?.activation?.IDC_TRANSFERORDER_BE_SPACIAL_STORAGE_UNIT_TYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_SPACIAL_STORAGE_UNIT_TYPE" columnName="StorageUnitType" [title]="_TB('Storage
Unit Type')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_SPACIAL_STORAGE_UNIT_TYPE" *ngIf="eventData?.activation?.IDC_TRANSFERORDER_BE_SPACIAL_STORAGE_UNIT_TYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_UOM" columnName="UnitOfMeasure" [title]="_TB('UoM')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_TRANSFERORDER_BE_QTY" columnName="Qty" [title]="_TB('Qty')" columnType="tb-numeric-text-box" columnName="IDC_TRANSFERORDER_BE_QTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_TRANSFERORDER_BE_QTY_BASE_UOM" columnName="QtyBaseUoM" [title]="_TB('Qty
Base UoM')" columnType="tb-numeric-text-box" columnName="IDC_TRANSFERORDER_BE_QTY_BASE_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_TRANSFERORDER_BE_LOT_VALID_TO" columnName="LotValidTo" [title]="_TB('Lot
Valid To')" columnType="tb-date-input" columnName="IDC_TRANSFERORDER_BE_LOT_VALID_TO" *ngIf="eventData?.activation?.IDC_TRANSFERORDER_BE_LOT_VALID_TO">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_TRANSFERORDER_BE_CONSIGNMENT_PARTNER" columnName="ConsignmentPartner" [title]="_TB('Consignment
Partner')" columnType="tb-label-static" columnName="IDC_TRANSFERORDER_BE_CONSIGNMENT_PARTNER" *ngIf="eventData?.activation?.IDC_TRANSFERORDER_BE_CONSIGNMENT_PARTNER">
         </tb-body-edit-column>
        </tb-body-edit>
</div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button *ngIf="eventData?.activation?.ID_STORAGEUNIT_VIEWER" [disabled]="!eventData?.buttonsState?.ID_STORAGEUNIT_VIEWER?.enabled" icon="erp-inventory" [caption]="_TB('SU content')" cmpId="ID_STORAGEUNIT_VIEWER"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
