<kendo-dialog *ngIf="openCloneDialog" kendoRippleContainer (close)="cancel()">
    <kendo-dialog-titlebar>
        {{localizationService?.localizedElements?.CloneEasyStudioDocument}}
    </kendo-dialog-titlebar>
    <div class="tit">
        {{localizationService?.localizedElements?.CloneDialogSubtitle}} {{object?.target}}
    </div>
    <div class="inputs">
        <kendo-textbox-container>
            <label [for]="newName">{{localizationService?.localizedElements?.CloneDialogDocName}}</label>
            <input kendoTextBox #newName [(ngModel)]="docName" />
        </kendo-textbox-container>
    </div>
    <div class="inputs">
        <kendo-textbox-container>
            <label [for]="newTitle">{{localizationService?.localizedElements?.CloneDialogDocTitle}}</label>
            <input kendoTextBox #newTitle [(ngModel)]="docTitle" />
        </kendo-textbox-container>
    </div>
    <kendo-dialog-actions>
        <button kendoButton (click)="okClone(object, docName, docTitle)" primary="true" [disabled]="docName === undefined || docTitle === undefined">
                        {{localizationService?.localizedElements?.Ok}}
                    </button>
        <button kendoButton (click)="cancel()">
                        {{localizationService?.localizedElements?.Cancel}}
                    </button>
    </kendo-dialog-actions>
</kendo-dialog>