<kendo-dialog *ngIf="openCloneDialog" kendoRippleContainer (close)="cancel()">
    <kendo-dialog-titlebar>
        {{_TB('Clone as a New Document')}}
    </kendo-dialog-titlebar>
    <div class="tit">
        {{_TB('Creating a new document, based on ')}} {{object?.target}}
    </div>
    <div class="inputs">
        <kendo-textbox-container>
            <label [for]="newName">{{_TB('Document name')}}</label>
            <input kendoTextBox #newName [(ngModel)]="docName" />
        </kendo-textbox-container>
    </div>
    <div class="inputs">
        <kendo-textbox-container>
            <label [for]="newTitle">{{_TB('Document title')}}</label>
            <input kendoTextBox #newTitle [(ngModel)]="docTitle" />
        </kendo-textbox-container>
    </div>
    <kendo-dialog-actions>
        <button kendoButton (click)="okClone(object, docName, docTitle)" [disabled]="docName === undefined || docTitle === undefined">
                        {{_TB('Ok')}}
                    </button>
        <button kendoButton (click)="cancel()">
                        {{_TB('Cancel')}}
                    </button>
    </kendo-dialog-actions>
</kendo-dialog>