 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Commodity Categories')" tbTileWide >
<div class="col col1">        <tb-text [caption]="_TB('Code')" cmpId="IDC_CTGCOMMODITY_CTGCOMMODITY" width="48" [model]="eventData?.model?.CommodityCategories?.Category"></tb-text>
        <tb-text [caption]="_TB('Description')" cmpId="IDC_CTGCOMMODITY_DESCRIPTION" width="154" [model]="eventData?.model?.CommodityCategories?.Description"></tb-text>
        <tb-text [caption]="_TB('Discount %')" cmpId="IDC_CTGCOMMODITY_PERCDISCOUNT" width="75" [model]="eventData?.model?.CommodityCategories?.DiscountFormula"></tb-text>
        <tb-enum-combo *ngIf="eventData?.activation?.IDC_CTGCOMMODITY_PERISH_TYPE" [caption]="_TB('Perishables Type')" cmpId="IDC_CTGCOMMODITY_PERISH_TYPE" width="110" [model]="eventData?.model?.CommodityCategories?.PerishablesType"></tb-enum-combo>
</div><div class="col col2">        <tb-checkbox cmpId="IDC_CTGCOMMODITY_CUSTMANAGEMENT" width="109" [model]="eventData?.model?.CommodityCategories?.HasCustomers" [caption]="_TB('Has Customers  ')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_CTGCOMMODITY_SUPPMANAGEMENT" width="109" [model]="eventData?.model?.CommodityCategories?.HasSuppliers" [caption]="_TB('Has Suppliers  ')"></tb-checkbox>
        <tb-text [caption]="_TB('Notes')" cmpId="IDC_CTGCOMMODITY_NOTES" width="154" [model]="eventData?.model?.CommodityCategories?.Notes"></tb-text>
</div>       </tb-tile>
       <tb-tile [title]="_TB('Accounting Data')" tbTileWide >
<div class="col col1">        <tb-section-title cmpId="IDC_STATIC_COMMODITYCTG_OFFSETS" width="325" [caption]="_TB('Offsets')"></tb-section-title>
        <tb-text [caption]="_TB('Sales')" cmpId="IDC_CTGCOMMODITY_SALESOFFSET_CTG" width="104" [model]="eventData?.model?.CommodityCategories?.SaleOffset"></tb-text>
        <tb-label-static cmpId="IDC_CTGCOMMODITY_SALESOFFSET_CTGDESCRI" width="221" [model]="eventData?.model?.HKLSaleOffset?.Description"></tb-label-static>
        <tb-text [caption]="_TB('Purchases')" cmpId="IDC_CTGCOMMODITY_PURCHASESOFFSET_CTG" width="104" [model]="eventData?.model?.CommodityCategories?.PurchaseOffset"></tb-text>
        <tb-label-static cmpId="IDC_CTGCOMMODITY_PURCHASESOFFSET_CTGDESCRI" width="221" [model]="eventData?.model?.HKLPurchaseOffset?.Description"></tb-label-static>
</div><div class="col col2">        <tb-text [caption]="_TB('Consumption')" cmpId="IDC_CTGCOMMODITY_CONSUMPTIONOFFSET_CTG" width="104" [model]="eventData?.model?.CommodityCategories?.ConsumptionOffset"></tb-text>
        <tb-label-static cmpId="IDC_CTGCOMMODITY_CONSUMPTIONOFFSET_CTGDESCRI" width="221" [model]="eventData?.model?.HKLConsumptionOffset?.Description"></tb-label-static>
        <tb-section-title *ngIf="eventData?.activation?.IDC_STATIC_COMMODITYCTG_WITHHOLDING_TAX" cmpId="IDC_STATIC_COMMODITYCTG_WITHHOLDING_TAX" width="325" [caption]="_TB('Reverse Charge')"></tb-section-title>
        <tb-checkbox *ngIf="eventData?.activation?.IDC_CTGCOMMODITY_REVERSECHARGE" cmpId="IDC_CTGCOMMODITY_REVERSECHARGE" width="109" [model]="eventData?.model?.CommodityCategories?.ReverseCharge" [caption]="_TB('Reverse Charge in Purchase  ')"></tb-checkbox>
<div class="anchored">        <tb-combo *ngIf="eventData?.activation?.IDC_CTGCOMMODITY_REVERSECHARGE_TAXCODE" [caption]="_TB('Tax Code')" cmpId="IDC_CTGCOMMODITY_REVERSECHARGE_TAXCODE" width="60" [model]="eventData?.model?.CommodityCategories?.RCTaxCode"></tb-combo>
        <tb-label-static *ngIf="eventData?.activation?.IDC_CTGCOMMODITY_REVERSECHARGE_TAXCODE_DESCR" cmpId="IDC_CTGCOMMODITY_REVERSECHARGE_TAXCODE_DESCR" width="154" [model]="eventData?.model?.HKLRCTaxCode?.Description"></tb-label-static>
</div></div>       </tb-tile>
       <tb-tile [title]="_TB('Budgets')" tbTileStandard >
        <tb-body-edit cmpId="IDC_BODY_CTGCOMMODITY" width="325" [model]="eventData?.model?.CommodityCtgBudget">
         <tb-body-edit-column cmpId="IDC_CTGCOMMODITY_BUDGET_YEAR" [title]="_TB('Year')" columnType="tb-body-edit-column" columnName="IDC_CTGCOMMODITY_BUDGET_YEAR">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CTGCOMMODITY_BUDGET_MONTH" [title]="_TB('Month')" columnType="tb-body-edit-column" columnName="IDC_CTGCOMMODITY_BUDGET_MONTH">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CTGCOMMODITY_BUDGET_PURCHASEQUANTITY" [title]="_TB('Purchase Quantity')" columnType="tb-body-edit-column" columnName="IDC_CTGCOMMODITY_BUDGET_PURCHASEQUANTITY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CTGCOMMODITY_BUDGET_PURCHASEVALUE" [title]="_TB('Purchase Budget')" columnType="tb-body-edit-column" columnName="IDC_CTGCOMMODITY_BUDGET_PURCHASEVALUE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CTGCOMMODITY_BUDGET_SALEQUANTITY" [title]="_TB('Sale Quantity')" columnType="tb-body-edit-column" columnName="IDC_CTGCOMMODITY_BUDGET_SALEQUANTITY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CTGCOMMODITY_BUDGET_SALEVALUE" [title]="_TB('Sale Budget')" columnType="tb-body-edit-column" columnName="IDC_CTGCOMMODITY_BUDGET_SALEVALUE">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
       <tb-tile [title]="_TB('Offsets')" tbTileWide  *ngIf="eventData?.activation?.IDD_COMMODITYCTG_OFFSETS">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane [title]="_TB('LinksPanel')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False" *ngIf="eventData?.activation?.IDD_TD_PNL_LINKSPANEL">
         <tb-body-edit cmpId="IDC_PNL_BE" width="325" [model]="eventData?.model?.DBTLinksTable">
          <tb-body-edit-column cmpId="IDC_PNL_BE_IMAGE" columnName="Image" [title]="_TB('Image')" columnType="tb-image" columnName="IDC_PNL_BE_IMAGE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PNL_BE_DESCR" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_PNL_BE_DESCR">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
