.topBarMenuComponentLike {
    padding: 10px 10px 0px 10px;
    cursor: pointer;
}

.connected {
    color: rgba(100, 255, 60, 0.4);
}

.disconnected {
    color: rgba(255, 40, 62, 0.952);
}

.connecting {
    color: rgba(255, 255, 0, 0.4);
}

.unavailable {
    color: rgba(94, 204, 238, 0.993);
    cursor: pointer;
}