<h3>
    {{askGroup.caption}}
</h3>
<hr>
<div *ngIf="askGroup.isRadioGroup" class="radioGroupCenter">
    <mat-radio-group>
        <div *ngFor="let item of askGroup.entries" >
            <div [ngSwitch]="item.obj" *ngIf="!item.hidden">
                <rs-ask-text [text]="item" *ngSwitchCase="0"> </rs-ask-text>
                <rs-ask-radio [radio]="item" [otherRadios]="askGroup.radioBtns" *ngSwitchCase="1"> </rs-ask-radio>
                <rs-ask-check [check]="item" *ngSwitchCase="2"> </rs-ask-check>
                <rs-ask-dropdownlist [dropdownlist]="item" *ngSwitchCase="3"> </rs-ask-dropdownlist>
                <rs-ask-hotlink [hotlink]="item" *ngSwitchCase="4"></rs-ask-hotlink>
            </div>
        </div>
    </mat-radio-group>
</div>

<div *ngIf="!askGroup.isRadioGroup">

    <div *ngFor="let item of askGroup.entries">
        <div [ngSwitch]="item.obj" *ngIf="!item.hidden">
            <rs-ask-text [text]="item" *ngSwitchCase="0"> </rs-ask-text>
            <rs-ask-check [check]="item" *ngSwitchCase="2"> </rs-ask-check>
            <rs-ask-dropdownlist [dropdownlist]="item" *ngSwitchCase="3"> </rs-ask-dropdownlist>
            <rs-ask-hotlink [hotlink]="item" *ngSwitchCase="4"></rs-ask-hotlink>
        </div>
    </div>

</div>