@import '../../../../../style/tb.scss';
:host(tb-toolbar-top-button) {
    &:first-child tb-icon {
        margin-left: 3px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-left: 1px solid #cfe0e8;
    }
    &:last-child tb-icon {
        margin-right: 3px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: none;
    }
    &:only-child tb-icon {
        border-radius: 4px;
        margin-right: 3px;
        margin-left: 3px;
        border-left: 1px solid #cfe0e8;
    }
    &:hover {
        cursor: not-allowed;
    }
}

.top-button {
    margin: 0;
    padding: 0;
    height: 30px;
    min-width: 32px;
    border: 0;
    background: none;
    &>span {
        font-size: 12px;
        line-height: 35px;
        height: 35px;
        margin: 0;
        //padding: 0 8px 0 0;
        text-align: left;
        /** da riparlarne */
        display: none;
    }
    tb-icon {
        min-width: 32px;
        height: 30px;
        font-size: 20px;
        margin: 0;
        padding-top: 0;
        box-shadow: none;
        background-color: #fff;
        border: 1px solid #cfe0e8;
        border-left: none;
        border-radius: none;
        color: $darkblue;
        transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
        m4-icon {
            color: $darkblue;
        }
        &:hover {
            transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
            background-color: $darkblue;
            border-color: $darkblue;
            color: #fff;
            tb-icon,
            i {
                color: #fff;
            }
        }
        &:active {
            background-color: #0277bd;
            box-shadow: none;
            color: #fff;
        }
    }
    &.k-state-disabled {
        opacity: 1;
        background-color: $bkg-light;
        border: 1px solid $bkg-light;
        transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
        tb-icon {
            color: #ccc;
            background-color: $bkg-light;
            border: none;
        }
    }
}

::ng-deep tb-icon .div-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.div-icon img {
    height: 20px;
    margin-top: 4px;
}

/* COLORS */
$white: #ffffff;
$bkg-medium: #0277bd;
$shadow: rgba(205,210,214,.8);
:host-context(.dropDownButton) {
    ::ng-deep.k-button {
        border: 0px;
        width: 100%;
        color: $white;
        cursor: pointer;
        line-height: 30px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 0px;
        padding: 0px 18px 0px 18px;
        ::ng-deep &:hover,
        ::ng-deep  &:focus{
            transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
            background: $darkblue;
            border-color: $darkblue;
            color: $white;
            tb-icon,
            i {
                color: $white;
            }
        }

        ::ng-deep &:active {
            background-color: $bkg-medium;
            box-shadow: none;
            color:$white;
            border: 0px;
        }
    }
    span {
        width: 100%;
        text-align: left;
        display: flex;
    }
    tb-icon,
    &:first-child tb-icon, 
    &:last-child tb-icon,
    &:only-child tb-icon
    {
        width: 35px;
        font-size: 20px;
        margin: 0px;
        padding-top: 0px;
        box-shadow: none;
        background-color: transparent;
        transition: none;
        border: 0px;
        color: $white;
        line-height: 30px;
        font-weight: 400;
        border-radius: 0px;
        text-align: left;
        //padding-left: 5px;

        &:hover {
            background-color: transparent;
            color:$white;
            tb-icon,
            i {
                color: $white;
            }
        }
        &:active {
            color: $white;
        }
    }
    .top-button {
        padding: 0px 18px 0px 18px;
        height: 35px;
    }
    
    
    m4-icon {
        font-size: 30px;
        width: 35px;
    }
    .div-icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .div-icon img {
        height: 20px;
        margin-top: 4px;
    }
}