.top-button {
    margin: 0;
    padding: 0;
    height: 30px;
    min-width: 30px;
    border: 0;
    background: none;
}

.top-button:hover {
    background: #f1f1f1
}

.k-button>span {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    margin: 0;
    padding: 0 8px 0 0;
    display: none;
}

tb-icon {
    min-width: 30px;
    font-size: 20px;
    line-height: 34px;
}

m4-icon {
    font-size: 30px;
    width: 30px;
}

.div-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.div-icon img {
    height: 20px;
    margin-top: 4px;
}

.toolbarIcon {
    font-size: 24px;
    padding-right: 8px;
}