@import '../../../../../style/vars.scss';
:host(tb-toolbar-top-button) {
    &:first-child tb-icon {
        margin-left: 3px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        //border-left: 1px solid $border-top-button-active;
    }
    &:last-child tb-icon {
        margin-right: 3px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: none;
    }
    &:only-child tb-icon {
        border-radius: 4px;
        margin-right: 3px;
        margin-left: 3px;
        //border-left: 1px solid $border-top-button-active;
    }
    &:hover {
        cursor: not-allowed;
    }

    .top-button {
        margin: 0;
        padding: 0;
        height: 30px;
        min-width: 32px;
        border: 0;
        background: none;
        ::ng-deep tb-icon .div-icon {
            padding-top:3px;
        }
        &>span {
            font-size: 12px;
            line-height: 35px;
            height: 35px;
            margin: 0;
            //padding: 0 8px 0 0;
            text-align: left;
            /** da riparlarne */
            display: none;
        }
        tb-icon {
            min-width: 32px;
            height: 30px;
            font-size: 20px;
            padding-top: 0;
            box-shadow: none;
            background-color: $color-light;
            border: 1px solid $border-top-button-active;
            border-left: none;
            border-radius: none;
            color: $darkblue;
            transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
            m4-icon {
                color: $darkblue;
            }
            &:hover {
                transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
                background-color: $darkblue;
                border-color: $darkblue;
                color: $color-light;
                tb-icon,
                i {
                    color: $color-light;
                }
            }
            &:active {
                background-color: $blue;
                box-shadow: none;
                color: $color-light;
            }
        }
        &.k-state-disabled {
            opacity: 1;
            background-color: $bkg-light;
            //border: 1px solid $bkg-light;
            transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
            tb-icon {
                color: #888;
                border:1px solid #ecf8ff;
                background: $bkg-light;
                
            }
        }
    }
    tb-icon .div-icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .div-icon img {
        height: 20px;
        margin-top: 4px;
    }
}

tb-toolbar-top-button.dropDownButton{
    display: flex;
    flex-direction: column;
}

:host-context(.dropDownButton) {
    .k-button {
        border: 0px;
        width: 100%;
        color: $color-light;
        cursor: pointer;
        line-height: 30px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 0px;
        padding: 0px 18px 0px 18px;
        &:hover,
        &:focus {
            transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
            background: $darkblue;
            border-color: $darkblue;
            color:$color-light;
            tb-icon,
            i {
                color:$color-light;
            }
        }
        &:active {
            background-color:  $blue;
            box-shadow: none;
            color:$color-light;
            border: 0px;
        }

        span {
            width: 100%;
            text-align: left;
            display: flex;
            color:$color-light;
            flex: 1 0 auto;
        }

       tb-icon
            {
            width: 35px;
            font-size: 20px;
            padding-top: 0px;
            box-shadow: none;
            background-color: transparent;
            transition: none;
            border: 0px;
            color:$color-light;
            line-height: 30px;
            font-weight: 400;
            border-radius: 0px;
            text-align: left;
            flex: 1 0 auto;
            i {
                color:$color-light;
            }
            //padding-left: 5px;
            &:hover {
                background-color: transparent;
                color:$color-light;
                tb-icon,
                i {
                    color:$color-light;
                }
            }
            &:active {
                color:$color-light;
            }
        }
        .top-button {
            padding: 0px 18px 0px 18px;
            height: 35px;
        }
        &.k-state-disabled {
            opacity: 1;
            background-color: $bkg-light;
            border: 1px solid $bkg-light;
            transition: border-color 0.2s, color 0.2s, background-color 0.2s ease-in-out;
            tb-icon, span
            {
                color:$color-top-button-disabled;
                border: none;
            }
        }
        m4-icon {
            font-size: 30px;
            width: 35px;
            color:$color-light;
        }
        .div-icon {
            width: 35px;
            height: 35px;
            line-height: 35px;
        }
            .div-icon img {
            height: 20px;
            margin-top: 4px;
        }
    }
}

