<kendo-grid #grid [sortable]="{allowUnsort: false, mode: 'single'}" [class.editable]="editable" [sort]="filterer.sort" (sortChange)="sortChange($event)"
    class="custom-grid" [height]="252" [data]="state.gridData" [pageSize]="pageSize" [selectable]="state.canNavigate" [skip]="paginator.skip"
    [filterable]="areFiltersVisible" [filter]="filter" (filterChange)="filterChange($event)" (selectedKeysChange)="selectedKeysChange.emit($event)"
    (selectionChange)="selectionChange.emit($event)" [ngStyle]="gridStyle$ | async" (pageChange)="pageChange($event)" [resizable]="resizable"
    [selectedKeys]="state.selectionKeys" [kendoGridSelectBy]="selectionColumnId" [scrollable]="none" [selectable]="{ mode: 'single' }"
    [reorderable]="true" (columnReorder)="columnReorder($event)" (columnResize)="columnResize($event)" [pageable]="pageable">
    <kendo-grid-column *ngFor="let col of state.gridData.columns; let idx = index; let last = last; let first = first" field="{{col.id}}"
        title="{{col.id | uppercase}}" [class.first-column]="first" [hidden]="col.id === selectionColumnId || !settings.shownColumns[col.id]"
        [width]="col.width" [filter]="tbTypeToFilter(col.type)">
        <ng-template kendoGridHeaderTemplate let-dataItem>
            {{dataItem.field}}
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-columnIndex="columnIndex">
            <div id="cell-container">
                <div [ngSwitch]="col.type">
                    <input *ngSwitchCase="'Boolean'" type="checkbox" [checked]="dataItem[col.id]" disabled/>
                    <div *ngSwitchDefault class="hotLinkGridCell" style="display: flex">
                        {{dataItem[col.id] | tbEnums: col.type | async}}
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template [ngIf]="col.type && col.type.includes('Enum')">
            <ng-template kendoGridFilterCellTemplate let-filter>
                <tb-enum-filter [filter]="filter" [state]="state" [column]="col"></tb-enum-filter>
            </ng-template>
        </ng-template>
        
    </kendo-grid-column>
    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons></kendo-pager-numeric-buttons>
        <div class="pager-number">{{currentPage}}</div>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <div class="pager-buttons">
            <button #anchor kendoButton class="pager-button toggle-button" (click)="showColumnHandler = !showColumnHandler" [title]="_TB('Show/Hide Columns')">
                <tb-icon [iconType]="'M4'" icon="tb-checkedradiobuttonfilled" class="toolbar-icon"></tb-icon>
            </button>
            <button *ngIf="canAutoFit" kendoButton class="pager-button toggle-button tb-autofit-columns" (click)="autofit()" [title]="_TB('Fit Columns')">
                <tb-icon [iconType]="'M4'" icon="tb-colresize" class="toolbar-icon"></tb-icon>
            </button>
            <button kendoButton class="pager-button toggle-button tb-toggle-filters" (click)="areFiltersVisible = !areFiltersVisible"
                [title]="areFiltersVisibleText">
                <tb-icon [iconType]="'M4'" [icon]="areFiltersVisibleIcon" class="toolbar-icon"></tb-icon>
            </button>
            <ng-template [ngTemplateOutlet]="customisableGridButtonsTemplate"></ng-template>
        </div>
    </ng-template>
</kendo-grid>
<kendo-popup #popup *ngIf="showColumnHandler" [anchor]="popupAnchor || anchor" [collision]="collision" [anchorAlign]="anchorAlign"
    [popupAlign]="popupAlign" class="popup" (anchorViewportLeave)="showColumnHandler = false">
    <div *ngFor="let col of state.gridData.columns">
        <div *ngIf="col.id !== selectionColumnId" class="popup-content">
            <p>{{col.id}}</p>
            <kendo-switch [(ngModel)]="settings.shownColumns[col.id]" [onLabel]="'S'" [offLabel]="'H'" (valueChange)="saveSettings()"></kendo-switch>
        </div>
    </div>
</kendo-popup>