::ng-deep .custom-grid {
    margin: 10px;
    font-size: 13px;
    tr.k-state-selected,
    td.k-state-selected {
        color: #fff;
        background-color: #0277bd;
    }
    .k-grid-header .k-header>.k-link {
        font-weight: bold;
    }
    .k-grid-pager {
        padding: 0px;
        border-width: 1px 0 0;
        border-color: #e3e3e3;
        font-size: 12px;
    }
}
::ng-deep .editable .k-grid-table {
    margin-left: 20px;
}
::ng-deep .editable .k-grid-header-wrap>table {
    margin-left: 20px;
}
.top-button {
    margin: 0;
    padding: 0;
    height: 30px;
    min-width: 38px;
    border: 0;
    background: none;
    &:hover {
        background: #f1f1f1
    }
    &:focus {
        box-shadow: none;
    }
}
.cell-button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: block;
    position: absolute;
    left: -18px;
    width: 1em;
    height: 1em;
    background: transparent;
    &:hover {
        background: rgba(#0277bd, .2);
        box-shadow: none;
    }
    &:focus {
        box-shadow: none;
    }
}
tb-icon {
    min-width: 30px;
    font-size: 24px;
    line-height: 15px;
}
#cell-icon {
    font-size: 1em;
    padding-right: 0px;
    width: none;
    ::ng-deep m4-icon {
        font-size: 9px;
        margin-left: 3px;
    }
    ::ng-deep .div-icon {line-height:9px;width:0px;}
}
.pager-buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    .toolbar-icon {
        font-size: 1em;
    }
}
.pager-number {
    font-weight: bold;
    font-size: x-small;
}
::ng-deep .k-grid th, ::ng-deep .k-grid td {
    padding: 1px 3px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep a.k-link.k-pager-nav.k-pager-last {
    display: none;
}
