<button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon> dialpad </md-icon>
</button>
<md-menu #menu="mdMenu">
    <button md-menu-item *ngFor="let application of applications" (click)=menuService.setSelectedApplication(application)>
     {{application.title}}
        <!--<img [src]="menuService.getApplicationIcon(application)" />-->
            <!--<div ng-show="{{menuService.noImageOrDef(application)}}">{{menuService.getApplicationName(application)}}</div>-->

         </button>
</md-menu>
