 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('Selections TileGroup')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Quick Search')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Base selections')" tbTileMini >
         <tb-section-title cmpId="IDC_STATIC_NR_DOCUMENTS_SEPARATOR" width="190" [caption]="_TB('Nr. documents to extract')"></tb-section-title>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_ALL_DOCUMENTS" width="31" [model]="eventData?.model?.bAllExtractedDoc" [caption]="_TB('All')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_SEL_DOCUMENTS" width="31" [model]="eventData?.model?.bFirstExtractedDoc" [caption]="_TB('nr.')"></tb-checkbox>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_DMSREPOSITORY_TOP_NR_DOCS" width="34" [model]="eventData?.model?.nTopNrDocuments"></tb-numeric-text-box>
         <tb-section-title cmpId="IDC_STATIC_DATE_SEPARATOR" width="190" [caption]="_TB('Created or modified')"></tb-section-title>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('From')" cmpId="IDC_DMSREPOSITORY_FROM_DATE" width="66" [model]="eventData?.model?.FromDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_DMSREPOSITORY_TO_DATE" width="66" [model]="eventData?.model?.ToDate"></tb-date-input>
         <tb-section-title cmpId="IDC_STATIC_EXTENSIONS_SEPARATOR" width="189" [caption]="_TB('File extensions')"></tb-section-title>
         <tb-combo cmpId="IDC_DMSREPOSITORY_FILEEXTENSION" width="90" [model]="eventData?.model?.sFileExtension" [itemSource]="IDC_DMSREPOSITORY_FILEEXTENSION_itemSource"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Free text')" tbTileMini >
         <tb-text cmpId="IDC_DMSREPOSITORY_FREETEXT_TEXT" width="158" [model]="eventData?.model?.FreeText"></tb-text>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_FREETEXT_FILE" width="158" [model]="eventData?.model?.bFileNameAndDescription" [caption]="_TB('In file name and description')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_FREETEXT_TAGS" width="158" [model]="eventData?.model?.bTags" [caption]="_TB('In free tags')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_FREETEXT_BARCODE" width="158" [model]="eventData?.model?.bBarcode" [caption]="_TB('In barcodes')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_FREETEXT_BOOKMARKS" width="158" [model]="eventData?.model?.bBookmarks" [caption]="_TB('In all bookmarks')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_FREETEXT_CONTENT" width="158" [model]="eventData?.model?.bDocumentContent" [caption]="_TB('In document content')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Only doc. archived by')" tbTileMini >
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_WORKERS_SELECTWORKERS" width="160" [model]="eventData?.model?.bSelectWorkers" [caption]="_TB('Show only documents inserted by:')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_WORKERS_SHOWDISABLED" width="160" [model]="eventData?.model?.bShowDisabledWorkers" [caption]="_TB('See disabled workers')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('Advanced Search')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile tbTileMini >
         <tb-section-title cmpId="IDC_STATIC_SEARCH_IN_SEPARATOR" width="170" [caption]="_TB('Search in:')"></tb-section-title>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_ADVSEL_ALLDOCUMENTS" width="170" [model]="eventData?.model?.bAllRepository" [caption]="_TB('entire repository')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_DMSREPOSITORY_ADVSEL_ONLYCOLLECTION" width="170" [model]="eventData?.model?.bOnlyCollection" [caption]="_TB('the following collection')"></tb-checkbox>
         <tb-combo cmpId="IDC_DMSREPOSITORY_ADVSEL_COLLECTIONS" width="163" [model]="eventData?.model?.DocNamespace" [itemSource]="IDC_DMSREPOSITORY_ADVSEL_COLLECTIONS_itemSource"></tb-combo>
         <tb-section-title cmpId="IDC_STATIC" width="172" [caption]="_TB('Compose the search conditions')"></tb-section-title>
         <tb-body-edit cmpId="IDC_DMSREPOSITORY_BE_SEARCHFIELDS_CONDITION" width="345" [model]="eventData?.model?.DBTSearchFieldsConditions">
          <tb-body-edit-column cmpId="IDC_DMSREPOSITORY_SEARCH_CONDITION_DESCRI" columnName="VFieldDescription" [title]="_TB('Description')" columnType="tb-text" columnName="IDC_DMSREPOSITORY_SEARCH_CONDITION_DESCRI">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DMSREPOSITORY_SEARCH_CONDITION_VALUE" columnName="VFormattedValue" [title]="_TB('Value')" columnType="tb-text" columnName="IDC_DMSREPOSITORY_SEARCH_CONDITION_VALUE">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('Results')" isCollapsible="False" showAsTile="True">
        <tb-tile tbTileStandard >
         <tb-body-edit cmpId="IDC_DMSREPOSITORY_BE_RESULTS" width="331" [model]="eventData?.model?.DBTArchivedDocuments">
          <tb-body-edit-column cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_IS_SELECTED" columnName="VIsSelected" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_IS_SELECTED" *ngIf="eventData?.activation?.IDC_DMSREPOSITORY_BE_ARCHDOC_IS_SELECTED">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Long" disabled="true" cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_ID" columnName="VArchivedDocId" [title]="_TB('ID')" columnType="tb-numeric-text-box" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_ID">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_IS_ATTACHMENT" columnName="VIsAttachmentBmp" [title]="_TB('Attach')" columnType="tb-image" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_IS_ATTACHMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_IS_WOORM_REPORT" columnName="VIsWoormReportBmp" [title]="_TB('Report')" columnType="tb-image" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_IS_WOORM_REPORT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_CHECKOUT" columnName="VCheckOutWorkerBmp" [title]="_TB('CheckOut')" columnType="tb-image" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_CHECKOUT" *ngIf="eventData?.activation?.IDC_DMSREPOSITORY_BE_ARCHDOC_CHECKOUT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_NAME" columnName="VName" [title]="_TB('Name')" columnType="tb-label-static" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_NAME">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_DESCRIPTION" columnName="VDescription" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_DESCRIPTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_WORKER" columnName="VWorker" [title]="_TB('Worker')" columnType="tb-label-static" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_WORKER">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="DateTime" [readonly]="true" cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_CREATION_DATE" columnName="VCreationDate" [title]="_TB('Creation Date')" columnType="tb-date-input" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_CREATION_DATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="DateTime" [readonly]="true" cmpId="IDC_DMSREPOSITORY_BE_ARCHDOC_MODIFIED_DATE" columnName="VModifiedDate" [title]="_TB('Modified Date')" columnType="tb-date-input" columnName="IDC_DMSREPOSITORY_BE_ARCHDOC_MODIFIED_DATE">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_DMSREPOSITORY_TOOLBTN_EXTRACT_DOCUMENTS?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_DMSREPOSITORY_TOOLBTN_EXTRACT_DOCUMENTS"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_DMSREPOSITORY_TOOLBTN_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_DMSREPOSITORY_TOOLBTN_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
