<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="TbLoader" localize="TbLoader">
    <!--To be used when tbloader must be exposed through a web domain-->
    <Setting name="ServerFullyQualifiedDomainName" type="string" value="" localize="Server Fully Qualified Domain Name"/>
  </Section>
</ParameterSettings>
