 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeColumn >
      <ng-template>
       <tb-tile tbTileStandard >
<div class="anchored">        <tb-text [caption]="_TB('Code')" cmpId="IDC_PAYABLESRECEIVABLES_CUSTSUPP" width="80" [model]="eventData?.model?.AP_AR?.CustSupp"></tb-text>
        <tb-label-static cmpId="IDC_PAYABLESRECEIVABLES_CUSTSUPPDESCRIPTION" width="143" [model]="eventData?.model?.HKLCustSupp?.CompNameComplete"></tb-label-static>
</div>       </tb-tile>
       <tb-tile tbTileStandard >
<div class="anchored">        <tb-text [caption]="_TB('Document No.')" cmpId="IDC_PAYABLESRECEIVABLES_NUMBER" width="82" [model]="eventData?.model?.AP_AR?.DocNo"></tb-text>
        <tb-text *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_LOG" cmpId="IDC_PAYABLESRECEIVABLES_LOG" width="55" [model]="eventData?.model?.AP_AR?.LogNo"></tb-text>
</div><div class="anchored">        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Document Date')" cmpId="IDC_PAYABLESRECEIVABLES_DATE_DOC" width="57" [model]="eventData?.model?.AP_AR?.DocumentDate"></tb-date-input>
        <tb-checkbox *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_BLOCKED" cmpId="IDC_PAYABLESRECEIVABLES_BLOCKED" width="66" [model]="eventData?.model?.AP_AR?.Blocked" [caption]="_TB('Blocked  ')"></tb-checkbox>
</div><div class="anchored">        <tb-combo *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_CURRENCY" [caption]="_TB('Currency')" cmpId="IDC_PAYABLESRECEIVABLES_CURRENCY" width="62" [model]="eventData?.model?.AP_AR?.Currency"></tb-combo>
        <tb-label-static *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_DESCRI_CURRENCY" cmpId="IDC_PAYABLESRECEIVABLES_DESCRI_CURRENCY" width="149" [model]="eventData?.model?.HKLCurrencies?.Description"></tb-label-static>
</div>        <tb-checkbox cmpId="IDC_PAYABLESRECEIVABLES_SETTLED" width="66" [model]="eventData?.model?.AP_AR?.Settled" [caption]="_TB('Settled  ')"></tb-checkbox>
       </tb-tile>
       <tb-status-tile-panel>
        <tb-status-tile>
         <tb-linear-gauge cmpId="IDC_CONTROL_GAUGE" width="71" [model]="eventData?.model?.StatusTileValue"></tb-linear-gauge>
         <tb-label-static cmpId="IDC_CONTROL_STATIC_UP" width="0" [model]="eventData?.model?.StatusTileDescription"></tb-label-static>
         <tb-image [height]="11" [width]="12" cmpId="IDC_CONTROL_IMAGE" width="12" [model]="eventData?.model?.StatusTileImage"></tb-image>
         <tb-label-static cmpId="IDC_CONTROL_STATIC_DOWN_LEFT" width="33"></tb-label-static>
         <tb-label-static cmpId="IDC_CONTROL_STATIC_DOWN_RIGHT" width="33"></tb-label-static>
        </tb-status-tile>
       </tb-status-tile-panel>
      </ng-template>
     </tb-tilegroup>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="erp-money" tbLayoutTypeVbox >
       <ng-template>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Document Data')" tbTileStandard >
<div class="anchored">          <tb-combo [caption]="_TB('Payment Term')" cmpId="IDC_PAYABLESRECEIVABLES_PYMTTERM" width="62" [model]="eventData?.model?.AP_AR?.Payment"></tb-combo>
          <tb-label-static cmpId="IDC_PAYABLESRECEIVABLES_DESCRI_PYMTTERM" width="160" [model]="eventData?.model?.HKLPymtTerm?.Description"></tb-label-static>
</div>          <tb-numeric-text-box formatter="Money" [caption]="_TB('Opening Amount')" cmpId="IDC_PAYABLESRECEIVABLES_TOTALAMOUNT" width="68" [model]="eventData?.model?.AP_AR?.TotalAmount"></tb-numeric-text-box>
          <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_TAXAMOUNT" formatter="Money" [caption]="_TB('Tax Prop.')" cmpId="IDC_PAYABLESRECEIVABLES_TAXAMOUNT" width="68" [model]="eventData?.model?.AP_AR?.TaxAmount"></tb-numeric-text-box>
          <tb-numeric-text-box formatter="Money" [caption]="_TB('Closing Amount')" cmpId="IDC_PAYABLESRECEIVABLES_TOTALAMOUNT_CLOSURE" width="68" [model]="eventData?.model?.ClosingAmount"></tb-numeric-text-box>
         </tb-tile>
         <tb-tile [title]="_TB('Type')" tbTileMini >
          <tb-checkbox cmpId="IDC_PAYABLESRECEIVABLES_ADVANCE" width="109" [model]="eventData?.model?.AP_AR?.Advance" [caption]="_TB('Advance  ')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_PAYABLESRECEIVABLES_CODETYPE_DOC" width="109" [model]="eventData?.model?.AP_AR?.CreditNote" [caption]="_TB('Credit Note  ')"></tb-checkbox>
          <tb-checkbox *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_WHTAX" cmpId="IDC_PAYABLESRECEIVABLES_WHTAX" width="109" [model]="eventData?.model?.AP_AR?.WithholdingTaxManagement" [caption]="_TB('Apply Withholding Tax ')"></tb-checkbox>
          <tb-checkbox *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_AMOUNTSWITHWHTAX" cmpId="IDC_PAYABLESRECEIVABLES_AMOUNTSWITHWHTAX" width="109" [model]="eventData?.model?.AP_AR?.AmountsWithWHTax" [caption]="_TB('Include Withholding Tax  ')"></tb-checkbox>
         </tb-tile>
         <tb-tile [title]="_TB('Installments Calculation Options')" tbTileMini >
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Calculate from')" cmpId="IDC_PAYABLESRECEIVABLES_CALCULATEFROM" width="57" [model]="eventData?.model?.AP_AR?.InstallmStartDate"></tb-date-input>
          <tb-checkbox cmpId="IDC_PAYABLESRECEIVABLES_REGENERATE_INSTALMENTS" width="101" [model]="eventData?.model?.IntallmentRegenerate" [caption]="_TB('Opening Installments  ')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_PAYABLESRECEIVABLES_ONDDIVIOF_AMOUNTS" width="101" [model]="eventData?.model?.AmountRegenerate" [caption]="_TB('Opening Amounts  ')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_PAYABLESRECEIVABLES_ONDDIVIOF_CLOSING" width="101" [model]="eventData?.model?.ClosingRegenerate" [caption]="_TB('Closing  ')"></tb-checkbox>
         </tb-tile>
        </tb-layoutcontainer>
        <tb-tile tbTileAutoFill  hasTitle="False">
         <tb-body-edit cmpId="IDC_DETAIL_PAYABLESRECEIVABLES" width="498" [model]="eventData?.model?.Detail">
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_CODETYPE_INSTALMENT" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_CODETYPE_INSTALMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_CODETYPE_CLOSURE" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_CODETYPE_CLOSURE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_NO_INSTALMENT" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_NO_INSTALMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_DATE" [title]="_TB('Due Date/Paym. Date')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_DATE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_PAYMENT" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_PAYMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_AMOUNT_DEBIT" [title]="_TB('Debit')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_AMOUNT_DEBIT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_AMOUNT_CREDIT" [title]="_TB('Credit')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_AMOUNT_CREDIT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_PYMTCASH" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_PYMTCASH" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_PYMTCASH">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_PYMTACCOUNT" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_PYMTACCOUNT" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_PYMTACCOUNT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_COSTCENTER" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_COSTCENTER" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_COSTCENTER">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_DATE_FIXING" [title]="_TB('Fixing Date')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_DATE_FIXING" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_DATE_FIXING">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_FIXING" [title]="_TB('Fixing')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_FIXING" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_FIXING">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_PAYABLEAMOUNTINBASECURR" [title]="_TB('Equivalent')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_PAYABLEAMOUNTINBASECURR" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_PAYABLEAMOUNTINBASECURR">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BODY_BANK_ISSUE" columnType="tb-combo" columnName="IDC_PAYABLESRECEIVABLES_BODY_BANK_ISSUE" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_BODY_BANK_ISSUE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BODY_BANKCA_ADD" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_BODY_BANKCA_ADD" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_BODY_BANKCA_ADD">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BODY_BANK_ISSUE" [title]="_TB('Bank')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_BODY_BANK_ISSUE" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_BODY_BANK_ISSUE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BODY_BANKCA_PRES" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_BODY_BANKCA_PRES" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_BODY_BANKCA_PRES">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_ADMCASES" [title]="_TB('Administrative case')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_ADMCASES">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_ISCLOSED" [title]="_TB('Closed')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_ISCLOSED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_TOBECOMPENSATED" [title]="_TB('To Be Compensated')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_TOBECOMPENSATED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_COMPENSATION_NO" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_COMPENSATION_NO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_COMPENSATION_AMOUNT" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_COMPENSATION_AMOUNT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BILLCODE" [title]="_TB('Bill')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_BILLCODE" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_BILLCODE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_ISPRESENTED" [title]="_TB('Boleto Issued')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_ISPRESENTED" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_ISPRESENTED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BILLNO" [title]="_TB('Boleto No.')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_BILLNO" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_BILLNO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_INSTALMENT_BLOCKED" [title]="_TB('Blocked')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_INSTALMENT_BLOCKED" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_INSTALMENT_BLOCKED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_NOTES" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
        <tb-tile tbTileWide  hasTitle="False">
<div class="col col1">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Payment Schedule Total')" cmpId="IDC_PAYABLESRECEIVABLES_PYMTSCHEDTOT" width="68" [model]="eventData?.model?.PymtSchedTot"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Reopening')" cmpId="IDC_PAYABLESRECEIVABLES_OPENOUTSTOT" width="68" [model]="eventData?.model?.OpenOutsTot"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Closing Total')" cmpId="IDC_PAYABLESRECEIVABLES_CLOSINGTOT" width="68" [model]="eventData?.model?.ClosingTot"></tb-numeric-text-box>
</div><div class="col col2">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Payment Total')" cmpId="IDC_PAYABLESRECEIVABLES_PYMTSTOT" width="68" [model]="eventData?.model?.PymtsTot"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Balance')" cmpId="IDC_PAYABLESRECEIVABLES_BALANCE" width="68" [model]="eventData?.model?.Balance"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Variance')" cmpId="IDC_PAYABLESRECEIVABLES_DELTA" width="68" [model]="eventData?.model?.Delta"></tb-numeric-text-box>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Other Data')" icon="erp-moneadd" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Document Info')" tbTileWide >
<div class="col col1"><div class="anchored">         <tb-combo [caption]="_TB('Account Statement Delivered to')" cmpId="IDC_PAYABLESRECEIVABLES_BRANCH" width="62" [model]="eventData?.model?.AP_AR?.SendDocumentsTo"></tb-combo>
         <tb-label-static cmpId="IDC_PAYABLESRECEIVABLES_BRANCHDESCRI" width="155" [model]="eventData?.model?.BranchDescri"></tb-label-static>
</div>         <tb-combo [caption]="_TB('Contract Code')" cmpId="IDC_PAYABLESRECEIVABLES_CONTRACTCODE" width="100" [model]="eventData?.model?.AP_AR?.ContractCode"></tb-combo>
         <tb-combo [caption]="_TB('Project Code')" cmpId="IDC_PAYABLESRECEIVABLES_PROJECTCODE" width="100" [model]="eventData?.model?.AP_AR?.ProjectCode"></tb-combo>
</div><div class="col col2"><div class="anchored">         <tb-label-static [caption]="_TB('Grouping Codes')" cmpId="IDC_PAYABLESRECEIVABLES_DESCRI_REF1" width="154" [model]="eventData?.model?.CaptionRef1"></tb-label-static>
         <tb-text cmpId="IDC_PAYABLESRECEIVABLES_CODREF1" width="70" [model]="eventData?.model?.AP_AR?.Group1"></tb-text>
</div><div class="anchored">         <tb-label-static cmpId="IDC_PAYABLESRECEIVABLES_DESCRI_REF2" width="154" [model]="eventData?.model?.CaptionRef2"></tb-label-static>
         <tb-text cmpId="IDC_PAYABLESRECEIVABLES_CODREF2" width="70" [model]="eventData?.model?.AP_AR?.Group2"></tb-text>
</div>         <tb-text [caption]="_TB('Description')" cmpId="IDC_PAYABLESRECEIVABLES_DESCRIPTION" width="154" [model]="eventData?.model?.AP_AR?.Description"></tb-text>
         <tb-text [caption]="_TB('Notes')" cmpId="IDC_PAYABLESRECEIVABLES_NOTES_HEADER" width="154" [model]="eventData?.model?.AP_AR?.Notes"></tb-text>
</div>        </tb-tile>
        <tb-tile [title]="_TB('ESR Reference')" tbTileWide  *ngIf="eventData?.activation?.IDD_TD_PAYABLESRECEIVABLES_ESRREF">
<div class="col col1"><div class="anchored">         <tb-text [caption]="_TB('ESR Reference Number')" cmpId="IDC_PAYABLESRECEIVABLES_ESRREFNO" width="135" [model]="eventData?.model?.AP_AR?.ESRReferenceNumber"></tb-text>
         <tb-text cmpId="IDC_PAYABLESRECEIVABLES_ESRCHECK" width="20" [model]="eventData?.model?.AP_AR?.ESRCheckDigit"></tb-text>
</div></div><div class="col col2"></div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Payment Orders')" icon="erp-factoring" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_PAYABLESRECEIVABLES_PYMTORDERS">
       <ng-template>
        <tb-tile tbTileAutoFill  hasTitle="False">
         <tb-body-edit cmpId="IDC_PAYABLESRECEIVABLES_PYMTORDERS" width="435" [model]="eventData?.model?.Detail">
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_PYMTORDERS_CODETYPE_INSTALMENT" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_PYMTORDERS_CODETYPE_INSTALMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_NO_INSTALMENT" [title]="_TB('Installment No.')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_NO_INSTALMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_PYMTORDERS_DATE" [title]="_TB('Due Date/Paym. Date')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_PYMTORDERS_DATE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_PYMTORDERS_PAYMENT" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_PYMTORDERS_PAYMENT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_EXCLISSUE" [title]="_TB('Excl. Iss.')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_EXCLISSUE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_ISSUED" [title]="_TB('Issued')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_ISSUED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_NO_PAYMENTORDER" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_NO_PAYMENTORDER">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_NO_BOM" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_NO_BOM">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_DATE_ISSUE" [title]="_TB('Issue Date')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_DATE_ISSUE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_AMT_PRES" [title]="_TB('Amount')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_AMT_PRES">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_CNT_PRES" [title]="_TB('Equivalent')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_CNT_PRES" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_CNT_PRES">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BANK_ISSUE" columnType="tb-combo" columnName="IDC_PAYABLESRECEIVABLES_BANK_ISSUE" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_BANK_ISSUE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BANKCA_ADD" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_BANKCA_ADD" *ngIf="eventData?.activation?.IDC_PAYABLESRECEIVABLES_BANKCA_ADD">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BANK_SUPP" columnType="tb-combo" columnName="IDC_PAYABLESRECEIVABLES_BANK_SUPP">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_BANKCA_SUPP" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_BANKCA_SUPP">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_DATE_CURRENCY" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_DATE_CURRENCY">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_ISPRINTED" [title]="_TB('Printed')" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_ISPRINTED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PAYABLESRECEIVABLES_PRESNOTES" columnType="tb-body-edit-column" columnName="IDC_PAYABLESRECEIVABLES_PRESNOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_CROSSREFERENCES_VIEWER_DOCK_PANE" [title]="_TB('CrossReferencesViewer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False">
         <tb-treeview cmpId="IDC_CROSSREFERENCES_TREEVIEW" width="214" [caption]="_TB('Static')" border="True"></tb-treeview>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
