 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Header')" tbTileWide >
<div class="col col1"><div class="anchored">        <tb-text [caption]="_TB('Supplier')" cmpId="IDC_FEES_SUPPL" width="80" [model]="eventData?.model?.Fees?.CustSupp"></tb-text>
        <tb-label-static cmpId="IDC_FEES_SUPPLIERDESCRI" width="141" [model]="eventData?.model?.HKLSupplierCode?.CompNameComplete"></tb-label-static>
</div><div class="anchored">        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Document Date/No.')" cmpId="IDC_FEES_DOCDATE" width="57" [model]="eventData?.model?.Fees?.DocumentDate"></tb-date-input>
        <tb-text cmpId="IDC_FEES_DOCNO" width="105" [model]="eventData?.model?.Fees?.DocNo"></tb-text>
</div></div><div class="col col2"><div class="anchored">        <tb-combo [caption]="_TB('Fee Template')" cmpId="IDC_FEES_TEMPLATE" width="62" [model]="eventData?.model?.Fees?.Template"></tb-combo>
        <tb-label-static cmpId="IDC_FEES_TPLDESCRI" width="156" [model]="eventData?.model?.HKLFeeTemplates?.Description"></tb-label-static>
</div>        <tb-checkbox *ngIf="eventData?.activation?.IDC_FEES_PROFORMA" cmpId="IDC_FEES_PROFORMA" width="109" [model]="eventData?.model?.Fees?.ProForma" [caption]="_TB('Pro Forma ')"></tb-checkbox>
</div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="erp-payees" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Document Data')" tbTileWide  isCollapsible="True">
<div class="col col1">         <tb-text [caption]="_TB('Log No.')" cmpId="IDC_FEES_LOGNO" width="55" [model]="eventData?.model?.Fees?.LogNo"></tb-text>
<div class="anchored">         <tb-numeric-text-box formatter="Percent" [caption]="_TB('Tax')" cmpId="IDC_FEES_TAX" width="30" [model]="eventData?.model?.Fees?.TaxPerc"></tb-numeric-text-box>
         <tb-caption cmpId="IDC_FEES_TAX_STATIC" width="8" [caption]="_TB('%')"></tb-caption>
         <tb-numeric-text-box formatter="Money" cmpId="IDC_FEES_AMOUNTTAX" width="68" [model]="eventData?.model?.Fees?.Tax"></tb-numeric-text-box>
</div><div class="anchored">         <tb-label-static [caption]="_TB('Reference and Template')" cmpId="IDC_FEES_REFNO_JEA" width="55" [model]="eventData?.model?.Fees?.l_RefJENo"></tb-label-static>
         <tb-label-static cmpId="IDC_FEES_MOD_JEA" width="44" [model]="eventData?.model?.Fees?.l_AccTpl"></tb-label-static>
</div></div><div class="col col2">         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Payment Date')" cmpId="IDC_FEES_PAYMENTDATE" width="57" [model]="eventData?.model?.Fees?.PaymentDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Payment Deadline')" cmpId="IDC_FEES_PYMTRA" width="57" [model]="eventData?.model?.Fees?.WithholdingTaxDate"></tb-date-input>
         <tb-text [caption]="_TB('Notes')" cmpId="IDC_FEES_DATA_NOTES" width="154" [model]="eventData?.model?.Fees?.Description"></tb-text>
</div>        </tb-tile>
        <tb-layoutcontainer isCollapsible="True" tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Withholding Tax')" tbTileStandard  isCollapsible="True">
<div class="anchored">          <tb-combo [caption]="_TB('Duty Code')" cmpId="IDC_FEES_REASONPAYMENT" width="61" [model]="eventData?.model?.Fees?.Duty"></tb-combo>
          <tb-label-static cmpId="IDC_FEES_RSNDESCRIPTION" width="154" [model]="eventData?.model?.HKLRSNRit?.Description"></tb-label-static>
</div>          <tb-numeric-text-box formatter="Percent" [caption]="_TB('WT Base')" cmpId="IDC_FEES_BARA" width="30" [model]="eventData?.model?.Fees?.WithholdingTaxBasePerc"></tb-numeric-text-box>
<div class="anchored">          <tb-numeric-text-box formatter="Percent" [caption]="_TB('WT')" cmpId="IDC_FEES_RA" width="30" [model]="eventData?.model?.Fees?.WithholdingTaxPerc"></tb-numeric-text-box>
          <tb-caption cmpId="IDC_FEES_RA_STATIC" width="8" [caption]="_TB('%')"></tb-caption>
          <tb-numeric-text-box formatter="Money" cmpId="IDC_FEES_AMOUNTRITACC" width="68" [model]="eventData?.model?.Fees?.WithholdingTax"></tb-numeric-text-box>
</div><div class="anchored">          <tb-caption cmpId="IDC_FEES_RA_STATIC" width="8" [caption]="_TB('%')"></tb-caption>
          <tb-numeric-text-box formatter="Money" cmpId="IDC_FEES_AMOUNTRITACC" width="68" [model]="eventData?.model?.Fees?.WithholdingTax"></tb-numeric-text-box>
</div><div class="anchored">          <tb-checkbox cmpId="IDC_FEES_RA_PYMTATA" width="109" [model]="eventData?.model?.Fees?.WithholdingTaxPaid" [caption]="_TB('Paid WT ')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_FEES_RA_SUSPENDED" width="109" [model]="eventData?.model?.Fees?.WithholdingTaxSuspended" [caption]="_TB('Suspended WT ')"></tb-checkbox>
</div>         </tb-tile>
         <tb-tile [title]="_TB('INPS')" tbTileStandard  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_FEES_INPS">
<div class="anchored">          <tb-combo [caption]="_TB('Calculation Method')" cmpId="IDC_FEES_CALCULATION" width="61" [model]="eventData?.model?.Fees?.INPSCalculationType" [itemSource]="IDC_FEES_CALCULATION_itemSource"></tb-combo>
          <tb-label-static cmpId="IDC_FEES_DESCRIBRACKETINPS" width="154" [model]="eventData?.model?.HKLMethodsINPS?.INPSMethodDescri"></tb-label-static>
</div>          <tb-numeric-text-box formatter="Money" [caption]="_TB('Company quota')" cmpId="IDC_FEES_INPSDT" width="68" [model]="eventData?.model?.Fees?.INPS"></tb-numeric-text-box>
          <tb-numeric-text-box formatter="Money" [caption]="_TB('Professional quota')" cmpId="IDC_FEES_INPSOF" width="68" [model]="eventData?.model?.Fees?.INPSEmployees"></tb-numeric-text-box>
          <tb-checkbox cmpId="IDC_FEES_INPS_PAID" width="109" [model]="eventData?.model?.Fees?.INPSPaid" [caption]="_TB('Paid  ')"></tb-checkbox>
         </tb-tile>
        </tb-layoutcontainer>
        <tb-tile [title]="_TB('ENASARCO')" tbTileWide  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_FEES_ENASARCO">
<div class="col col1">         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Accrual Date')" cmpId="IDC_FEES_ACCRUALDATE" width="57" [model]="eventData?.model?.Fees?.AccrualDate"></tb-date-input>
         <tb-label-static *ngIf="eventData?.activation?.IDC_FEES_SALESPERSON" [caption]="_TB('Salesperson')" cmpId="IDC_FEES_SALESPERSON" width="99" [model]="eventData?.model?.Fees?.l_SalespersonData"></tb-label-static>
         <tb-combo [caption]="_TB('ENASARCO %')" cmpId="IDC_FEES_PERCENTAGE" width="37" [model]="eventData?.model?.PercentageCombo" [itemSource]="IDC_FEES_PERCENTAGE_itemSource"></tb-combo>
</div><div class="col col2"><div class="anchored">         <tb-section-title cmpId="IDC_FEES_STATIC_SOCIAL_SECURITY" width="100" [caption]="_TB('Social Security')"></tb-section-title>
         <tb-section-title cmpId="IDC_FEES_STATIC_SOCIAL_WELFARE" width="116" [caption]="_TB('Social Welfare')"></tb-section-title>
</div><div class="anchored">         <tb-numeric-text-box formatter="Percent" [caption]="_TB('Debit to Company')" cmpId="IDC_FEES_PERCENTAGE_ENASARCOFIRM" width="30" [model]="eventData?.model?.Fees?.ENASARCOPerc"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" cmpId="IDC_FEES_ENASARCO_FIRM" width="68" [model]="eventData?.model?.Fees?.ENASARCO"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Percent" cmpId="IDC_FEES_PERCENTAGE_ENASARCOASS" width="30" [model]="eventData?.model?.Fees?.ENASARCOAssPerc"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" cmpId="IDC_FEES_ENASARCO_ASS" width="68" [model]="eventData?.model?.Fees?.ENASARCOAss"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box formatter="Percent" [caption]="_TB('Debit to Salesperson')" cmpId="IDC_FEES_PERCENTAGE_ENASARCOSALESPERSON" width="30" [model]="eventData?.model?.Fees?.ENASARCOPercSalesPerson"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" cmpId="IDC_FEES_ENASARCO_SALESPERSON" width="68" [model]="eventData?.model?.Fees?.ENASARCOSalesperson"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Percent" cmpId="IDC_FEES_PERCENTAGE_ENASARCOASS_SP" width="30" [model]="eventData?.model?.Fees?.ENASARCOAssPercSP"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" cmpId="IDC_FEES_ENASARCO_ASS_SP" width="68" [model]="eventData?.model?.Fees?.ENASARCOAssSP"></tb-numeric-text-box>
</div></div>        </tb-tile>
        <tb-tile tbTileAutoFill  hasTitle="False">
         <tb-body-edit cmpId="IDC_FEES_BODYEDIT" width="325" [model]="eventData?.model?.Detail">
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_FEES_LINE" columnName="Line" [title]="_TB('Line')" columnType="tb-numeric-text-box" columnName="IDC_FEES_LINE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FEES_DESCRIPTION" columnName="Description" [title]="_TB('Description')" columnType="tb-text" columnName="IDC_FEES_DESCRIPTION">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_FEES_GROSSAMOUNT" columnName="Amount" [title]="_TB('Line Amount')" columnType="tb-numeric-text-box" columnName="IDC_FEES_GROSSAMOUNT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FEES_TAXINCLUDED" columnName="Tax" [title]="_TB('Tax')" columnType="tb-checkbox" columnName="IDC_FEES_TAXINCLUDED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FEES_WTINCLUDED" columnName="WithholdingTax" [title]="_TB('WT')" columnType="tb-checkbox" columnName="IDC_FEES_WTINCLUDED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FEES_ENASARCOINCLUDED" columnName="ENASARCO" [title]="_TB('ENASARCO')" columnType="tb-checkbox" columnName="IDC_FEES_ENASARCOINCLUDED" *ngIf="eventData?.activation?.IDC_FEES_ENASARCOINCLUDED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FEES_INPSINCLUDED" columnName="INPS" [title]="_TB('INPS (Social Security)')" columnType="tb-checkbox" columnName="IDC_FEES_INPSINCLUDED" *ngIf="eventData?.activation?.IDC_FEES_INPSINCLUDED">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FEES_FLAGDOPERATIONAMT_TITLE" columnName="WithholdingTaxExcluded" [title]="_TB('Excl. Double WT')" columnType="tb-checkbox" columnName="IDC_FEES_FLAGDOPERATIONAMT_TITLE" *ngIf="eventData?.activation?.IDC_FEES_FLAGDOPERATIONAMT_TITLE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FEES_ADVANCE_EXPENSE" columnName="IsAnAdvanceExpense" [title]="_TB('Prepaid Charge')" columnType="tb-checkbox" columnName="IDC_FEES_ADVANCE_EXPENSE" *ngIf="eventData?.activation?.IDC_FEES_ADVANCE_EXPENSE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_FEES_CPA" columnName="CPA" [title]="_TB('CPA')" columnType="tb-checkbox" columnName="IDC_FEES_CPA" *ngIf="eventData?.activation?.IDC_FEES_CPA">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Payment Data')" icon="erp-money" tbLayoutTypeVbox >
       <ng-template>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Withholding Tax Payment')" tbTileStandard >
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_FEES_DATA_RA" width="57" [model]="eventData?.model?.Fees?.WithholdingTaxPymtDate"></tb-date-input>
          <tb-combo [caption]="_TB('Method')" cmpId="IDC_FEES_DATA_MODALITARA" width="117" [model]="eventData?.model?.Fees?.WithholdingTaxPymMethod" [itemSource]="IDC_FEES_DATA_MODALITARA_itemSource"></tb-combo>
          <tb-numeric-text-box formatter="Long" [caption]="_TB('Sequential No.')" cmpId="IDC_FEES_DATA_NUMBERPROGR" width="53" [model]="eventData?.model?.Fees?.ProgrNumber"></tb-numeric-text-box>
<div class="anchored">          <tb-text [caption]="_TB('Payment No./Series')" cmpId="IDC_FEES_DATA_SERIES" width="26" [model]="eventData?.model?.Fees?.Series"></tb-text>
          <tb-caption cmpId="IDC_FEES_DATA_SERIES_STATIC" width="8" [caption]="_TB('/')"></tb-caption>
          <tb-numeric-text-box formatter="Long" cmpId="IDC_FEES_DATA_PYMTNUMBER" width="53" [model]="eventData?.model?.Fees?.PymtNumber"></tb-numeric-text-box>
</div><div class="anchored">          <tb-caption cmpId="IDC_FEES_DATA_SERIES_STATIC" width="8" [caption]="_TB('/')"></tb-caption>
          <tb-numeric-text-box formatter="Long" cmpId="IDC_FEES_DATA_PYMTNUMBER" width="53" [model]="eventData?.model?.Fees?.PymtNumber"></tb-numeric-text-box>
</div>         </tb-tile>
         <tb-tile [title]="_TB('INPS Payment')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_FEES_INPS_PYMT">
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_FEES_DATA_INPS" width="57" [model]="eventData?.model?.Fees?.INPSPymtDate"></tb-date-input>
          <tb-combo [caption]="_TB('Method')" cmpId="IDC_FEES_DATA_MODALITAINPS" width="91" [model]="eventData?.model?.Fees?.INPSPymtMethod" [itemSource]="IDC_FEES_DATA_MODALITAINPS_itemSource"></tb-combo>
         </tb-tile>
         <tb-tile [title]="_TB('ENASARCO Payment')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_FEES_ENASARCO_PYMT">
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_FEES_DATA_ENASARCO" width="57" [model]="eventData?.model?.Fees?.ENASARCOPymtDate"></tb-date-input>
          <tb-combo [caption]="_TB('Method')" cmpId="IDC_FEES_DATA_MODALITAENASARCO" width="91" [model]="eventData?.model?.Fees?.ENASARCOPymtMethod" [itemSource]="IDC_FEES_DATA_MODALITAENASARCO_itemSource"></tb-combo>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Administrative Data')" icon="erp-accounting" tbLayoutTypeVbox >
       <ng-template>
        <tb-layoutcontainer tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Accounting')" tbTileStandard >
<div class="anchored">          <tb-combo [caption]="_TB('Currency')" cmpId="IDC_FEES_DATA_CURRENCY" width="77" [model]="eventData?.model?.Fees?.Currency"></tb-combo>
          <tb-label-static cmpId="IDC_FEES_DATA_DESCRI_CURRENCY" width="140" [model]="eventData?.model?.HKLCurrenciesCurrObj?.Description"></tb-label-static>
</div><div class="anchored">          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Fixing Date/Value')" cmpId="IDC_FEES_DATA_FIXINGDATE" width="57" [model]="eventData?.model?.Fees?.FixingDate"></tb-date-input>
          <tb-text cmpId="IDC_FEES_DATA_FIXING" width="77" [model]="eventData?.model?.Fees?.Fixing"></tb-text>
</div><div class="anchored">          <tb-text [caption]="_TB('Term of Payment')" cmpId="IDC_FEES_DATA_PYMTTERM" width="77" [model]="eventData?.model?.Fees?.Payment"></tb-text>
          <tb-label-static cmpId="IDC_FEES_DATA_DESCRIPYMT" width="141" [model]="eventData?.model?.HKLPymtTerm?.Description"></tb-label-static>
</div>          <tb-numeric-text-box formatter="Money" [caption]="_TB('To be Paid')" cmpId="IDC_FEES_DATA_AMOUNTPAYABLEAMOUNT" width="68" [model]="eventData?.model?.Fees?.PayableAmount"></tb-numeric-text-box>
          <tb-numeric-text-box formatter="Money" [caption]="_TB('Paid')" cmpId="IDC_FEES_DATA_PAIDAMT" width="68" [model]="eventData?.model?.Fees?.Paid"></tb-numeric-text-box>
          <tb-checkbox cmpId="IDC_FEES_DATA_PYMTATA" width="109" [model]="eventData?.model?.Fees?.FeePaid" [caption]="_TB('Paid Fee ')"></tb-checkbox>
         </tb-tile>
         <tb-tile [title]="_TB('Transfers')" tbTileMini >
          <tb-checkbox cmpId="IDC_FEES_DATA_GCRA" width="94" [model]="eventData?.model?.Fees?.WithholdingTaxTransfer" [caption]="_TB('Withholding Tax')"></tb-checkbox>
          <tb-checkbox *ngIf="eventData?.activation?.IDC_FEES_DATA_INPSTRANSFER" cmpId="IDC_FEES_DATA_INPSTRANSFER" width="94" [model]="eventData?.model?.Fees?.INPSTransfer" [caption]="_TB('INPS')"></tb-checkbox>
          <tb-checkbox *ngIf="eventData?.activation?.IDC_FEES_DATA_ENASARCOTRANSFER" cmpId="IDC_FEES_DATA_ENASARCOTRANSFER" width="94" [model]="eventData?.model?.Fees?.ENASARCOTransfer" [caption]="_TB('ENASARCO')"></tb-checkbox>
         </tb-tile>
         <tb-tile [title]="_TB('Declaration')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_FEES_DECLARATION">
          <tb-text [caption]="_TB('Frame 770')" cmpId="IDC_FEES_DATA_FRAME770" width="48" [model]="eventData?.model?.Fees?.Form770Frame"></tb-text>
          <tb-combo [caption]="_TB('CU Reason')" cmpId="IDC_FEES_DATA_LETTER770" width="30" [model]="eventData?.model?.Fees?.Form770Letter" [itemSource]="IDC_FEES_DATA_LETTER770_itemSource"></tb-combo>
          <tb-checkbox cmpId="IDC_FEES_DATA_770_STANDARD" width="90" [model]="eventData?.model?.Fees?.StandardLetter" [caption]="_TB('Standard CU Reason')"></tb-checkbox>
          <tb-checkbox cmpId="IDC_FEES_COMPENYES_DEPR" width="90" [model]="eventData?.model?.Fees?.DirectorRemuneration" [caption]="_TB('Administrator fee')"></tb-checkbox>
          <tb-numeric-text-box formatter="Integer" [caption]="_TB('WT Accrual Year')" cmpId="IDC_FEES_WT_ACCRUAL_YEAR" width="32" [model]="eventData?.model?.Fees?.WithholdingTaxAccrualYear"></tb-numeric-text-box>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_CROSSREFERENCES_VIEWER_DOCK_PANE" [title]="_TB('CrossReferencesViewer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False">
         <tb-treeview cmpId="IDC_CROSSREFERENCES_TREEVIEW" width="214" [caption]="_TB('Static')" border="True"></tb-treeview>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
