 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="False" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Setup Date')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('From')" cmpId="IDC_TAXDOCUMENTSUPDATE_FROMSETUPDATE" width="57" [model]="eventData?.model?.FromSetupDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_TAXDOCUMENTSUPDATE_TOSETUPDATE" width="57" [model]="eventData?.model?.ToSetupDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Sending Date')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('From')" cmpId="IDC_TAXDOCUMENTSUPDATE_FROMSENDINGDATE" width="62" [model]="eventData?.model?.FromSendingDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_TAXDOCUMENTSUPDATE_TOSENDINGDATE" width="62" [model]="eventData?.model?.ToSendingDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Number')" tbTileMini >
         <tb-radio cmpId="IDC_TAXDOCUMENTSUPDATE_ALLSENDINGNO" width="35" [model]="eventData?.model?.bAllSendingNo" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_TAXDOCUMENTSUPDATE_SELSENDINGNO" width="35" [model]="eventData?.model?.bSelSendingNo" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_TAXDOCUMENTSUPDATE_FROMSENDINGNO" width="100" [model]="eventData?.model?.FromSendingNo"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_TAXDOCUMENTSUPDATE_TOSENDINGNO" width="100" [model]="eventData?.model?.ToSendingNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Sending Type')" tbTileMini >
         <tb-radio cmpId="IDC_TAXDOCUMENTSUPDATE_ALLSENDINGTYPES" width="35" [model]="eventData?.model?.bAllSendingTypes" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_TAXDOCUMENTSUPDATE_SELSENDINGTYPES" width="35" [model]="eventData?.model?.bSelSendingTypes" [caption]="_TB('Selection')"></tb-radio>
         <tb-enum-combo cmpId="IDC_TAXDOCUMENTSUPDATE_SENDINGTYPE" width="130" [model]="eventData?.model?.SendingType"></tb-enum-combo>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="599" [model]="eventData?.model?.EnhTaxDocSendings">
         <tb-body-edit-column cmpId="IDC_BE_TAXDOCUMENTSSENDING_TAXDOCSENDINGNO" columnName="TaxDocSendingNo" [title]="_TB('Number')" columnType="tb-label-static" columnName="IDC_BE_TAXDOCUMENTSSENDING_TAXDOCSENDINGNO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_BE_TAXDOCUMENTSSENDING_SENDINGDATE" columnName="SendingDate" [title]="_TB('Sending Date')" columnType="tb-date-input" columnName="IDC_BE_TAXDOCUMENTSSENDING_SENDINGDATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BE_TAXDOCUMENTSSENDING_SENDINGTYPE" columnName="SendingType" [title]="_TB('Sending Type')" columnType="tb-enum-combo" columnName="IDC_BE_TAXDOCUMENTSSENDING_SENDINGTYPE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_BE_TAXDOCUMENTSSENDING_SETUPDATE" columnName="SetupDate" [title]="_TB('Setup Date')" columnType="tb-date-input" columnName="IDC_BE_TAXDOCUMENTSSENDING_SETUPDATE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_BE_TAXDOCUMENTSSENDING_FROMDATE" columnName="FromDate" [title]="_TB('From Date')" columnType="tb-date-input" columnName="IDC_BE_TAXDOCUMENTSSENDING_FROMDATE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_BE_TAXDOCUMENTSSENDING_TODATE" columnName="ToDate" [title]="_TB('To Date')" columnType="tb-date-input" columnName="IDC_BE_TAXDOCUMENTSSENDING_TODATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BE_TAXDOCUMENTSSENDING_STATUS" columnName="SendingStatus" [title]="_TB('Sending Status')" columnType="tb-enum-combo" columnName="IDC_BE_TAXDOCUMENTSSENDING_STATUS">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_BE_TAXDOCUMENTSSENDING_EVENTDATE" columnName="l_TTaxDocumentsSendingDetail_P02" [title]="_TB('Event Date')" columnType="tb-date-input" columnName="IDC_BE_TAXDOCUMENTSSENDING_EVENTDATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BE_TAXDOCUMENTSSENDING_EVENTTYPE" columnName="l_TTaxDocumentsSendingDetail_P03" [title]="_TB('Event Type')" columnType="tb-enum-combo" columnName="IDC_BE_TAXDOCUMENTSSENDING_EVENTTYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BE_TAXDOCUMENTSSENDING_EVENTDESCR" columnName="l_TTaxDocumentsSendingDetail_P04" [title]="_TB('Event Description')" columnType="tb-label-static" columnName="IDC_BE_TAXDOCUMENTSSENDING_EVENTDESCR">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_BE_TAXDOCUMENTSSENDING_IDFILE" columnName="IDFile" [title]="_TB('IDFile')" columnType="tb-label-static" columnName="IDC_BE_TAXDOCUMENTSSENDING_IDFILE">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
