.application-selector {
    margin-bottom: 20px;
}

ul.application-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #3e3e3e;
}

ul.application-list>li {
    width: 33%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #9f9f9f;
    background: #3e3e3e;
    text-align: center;
}

ul.application-list>li:hover {
    color: #fff;
}

ul.application-list>li>img {
    max-width: 120px;
}

ul.application-list>li>span {
    font-size: 12px;
}