 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="erp-assets" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Main Data')" tbTileWide >
<div class="col col1"><div class="anchored">         <tb-text [caption]="_TB('Reason')" cmpId="IDC_ENTRYRSN" width="48" [model]="eventData?.model?.FixedAssetsReasons?.Reason"></tb-text>
         <tb-checkbox cmpId="IDC_ENTRYRSN_DISABLED" width="64" [model]="eventData?.model?.FixedAssetsReasons?.Disabled" [caption]="_TB('Disabled  ')"></tb-checkbox>
</div>         <tb-text [caption]="_TB('Description')" cmpId="IDC_ENTRYRSN_DESCRI" width="154" [model]="eventData?.model?.FixedAssetsReasons?.Description"></tb-text>
         <tb-checkbox cmpId="IDC_ENTRYRSN_WITH_DATADOC" width="109" [model]="eventData?.model?.FixedAssetsReasons?.PostDocumentData" [caption]="_TB('Document Data Management')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_ENTRYRSN_WITH_QTY" width="79" [model]="eventData?.model?.FixedAssetsReasons?.UserEditableQty" [caption]="_TB('Editable Quantity')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_ENTRYRSN_WITH_DEPPERC" width="106" [model]="eventData?.model?.FixedAssetsReasons?.UserEditablePerc" [caption]="_TB('Editable Percentage')"></tb-checkbox>
</div><div class="col col2">         <tb-section-title cmpId="IDC_STATIC" width="325" [caption]="_TB('Request Code')"></tb-section-title>
         <tb-radio cmpId="IDC_ENTRYRSN_RADIO_CUSTOMER" width="82" [caption]="_TB('Customer')"></tb-radio>
         <tb-radio cmpId="IDC_ENTRYRSN_RADIO_SUPPLIER" width="82" [caption]="_TB('Supplier')"></tb-radio>
         <tb-radio cmpId="IDC_ENTRYRSN_RADIO_NOBODY" width="82" [caption]="_TB('None')"></tb-radio>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Purchase/Disposal')" tbTileWide >
<div class="col col1">         <tb-checkbox cmpId="IDC_ENTRYRSN_USE_PURCHASEDISPOSAL" width="109" [model]="eventData?.model?.FixedAssetsReasons?.PurchaseDisposalEnabled" [caption]="_TB('In Use  ')"></tb-checkbox>
         <tb-enum-combo [caption]="_TB('Current Quantity')" cmpId="IDC_ENTRYRSN_QTY" width="50" [model]="eventData?.model?.PurchaseDisposal_Qty" [itemSource]="IDC_ENTRYRSN_QTY_itemSource"></tb-enum-combo>
         <tb-section-title cmpId="IDC_STATIC_PURCHASEDATA_SEPARATOR" width="325" [caption]="_TB('Purchase Data')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Document Data')" cmpId="IDC_ENTRYRSN_DATAPURCHASE" width="50" [model]="eventData?.model?.PurchaseDisposal_DataPurchase" [itemSource]="IDC_ENTRYRSN_DATAPURCHASE_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Historic Cost')" cmpId="IDC_ENTRYRSN_PURCHCOST" width="50" [model]="eventData?.model?.PurchaseDisposal_PurchCost" [itemSource]="IDC_ENTRYRSN_PURCHCOST_itemSource"></tb-enum-combo>
</div><div class="col col2">         <tb-section-title cmpId="IDC_STATIC_DISPOSALDATA_SEPARATOR" width="325" [caption]="_TB('Disposal Data')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Document Data')" cmpId="IDC_ENTRYRSN_DISPOSALDATA" width="68" [model]="eventData?.model?.PurchaseDisposal_DisposalData" [itemSource]="IDC_ENTRYRSN_DISPOSALDATA_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Amount')" cmpId="IDC_ENTRYRSN_DISPOSALVALUE" width="68" [model]="eventData?.model?.PurchaseDisposal_DisposalValue" [itemSource]="IDC_ENTRYRSN_DISPOSALVALUE_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Type')" cmpId="IDC_ENTRYRSN_DISPOSALTYPE" width="68" [model]="eventData?.model?.FixedAssetsReasons?.DisposalType"></tb-enum-combo>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Fiscal Depreciation')" icon="erp-depreciation" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Fiscal Depreciation')" tbTileWide  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_ENTRYRSN_FISCALDEPRECIATION">
<div class="col col1">         <tb-checkbox cmpId="IDC_ENTRYRSN_USE_FISCDEPR" width="109" [model]="eventData?.model?.FixedAssetsReasons?.FiscalEnabled" [caption]="_TB('In Use  ')"></tb-checkbox>
         <tb-section-title cmpId="IDC_STATIC_INITIALVALUES_SEPARATOR" width="325" [caption]="_TB('Initial Values')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Total Depreciable')" cmpId="IDC_ENTRYRSN_FISC_DEPRINTOT" width="50" [model]="eventData?.model?.FiscDepr_DeprInTot" [itemSource]="IDC_ENTRYRSN_FISC_DEPRINTOT_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Accumulated Depreciation ')" cmpId="IDC_ENTRYRSN_FISC_INACCUMDEPR" width="50" [model]="eventData?.model?.FiscDepr_InAccumDepr" [itemSource]="IDC_ENTRYRSN_FISC_INACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_FISC_INITIALNOTDEPRECIABLE" [caption]="_TB('Non-Depreciable')" cmpId="IDC_ENTRYRSN_FISC_INITIALNOTDEPRECIABLE" width="50" [model]="eventData?.model?.FiscDepr_InitialNotDepreciable" [itemSource]="IDC_ENTRYRSN_FISC_INITIALNOTDEPRECIABLE_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_FISC_INACCACCUMDEPR" [caption]="_TB('Acceler. Accum. Depreciation')" cmpId="IDC_ENTRYRSN_FISC_INACCACCUMDEPR" width="50" [model]="eventData?.model?.FiscDepr_InAccAccumDepr" [itemSource]="IDC_ENTRYRSN_FISC_INACCACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_FISC_LOSTACCUMDEPRIN" [caption]="_TB('Accumul. Lost Depreciation ')" cmpId="IDC_ENTRYRSN_FISC_LOSTACCUMDEPRIN" width="50" [model]="eventData?.model?.FiscDepr_LostDeprInTot" [itemSource]="IDC_ENTRYRSN_FISC_LOSTACCUMDEPRIN_itemSource"></tb-enum-combo>
         <tb-section-title cmpId="IDC_STATIC_SPECIALEVENTS_SEPARATOR" width="325" [caption]="_TB('Special Events')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Incremental Charges')" cmpId="IDC_ENTRYRSN_FISC_INCREMENTALCHARGES" width="50" [model]="eventData?.model?.FiscDepr_IncrementalCharges" [itemSource]="IDC_ENTRYRSN_FISC_INCREMENTALCHARGES_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Revaluations')" cmpId="IDC_ENTRYRSN_FISC_REVALUATION" width="50" [model]="eventData?.model?.FiscDepr_Revaluation" [itemSource]="IDC_ENTRYRSN_FISC_REVALUATION_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Additional Depr.')" cmpId="IDC_ENTRYRSN_FISC_ADDITDEPR" width="50" [model]="eventData?.model?.FiscDepr_AdditDepr" [itemSource]="IDC_ENTRYRSN_FISC_ADDITDEPR_itemSource"></tb-enum-combo>
         <tb-section-title cmpId="IDC_STATIC_CHARGES_SEPARATOR" width="325" [caption]="_TB('Charges')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Ordinary')" cmpId="IDC_ENTRYRSN_FISC_CHARGES" width="50" [model]="eventData?.model?.FiscDepr_Charges" [itemSource]="IDC_ENTRYRSN_FISC_CHARGES_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Maintenance')" cmpId="IDC_ENTRYRSN_FISC_MAINTENANCECHARGES" width="50" [model]="eventData?.model?.FiscDepr_MaintenanceCharges" [itemSource]="IDC_ENTRYRSN_FISC_MAINTENANCECHARGES_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Repairs')" cmpId="IDC_ENTRYRSN_FISC_REPAIRSCHARGES" width="50" [model]="eventData?.model?.FiscDepr_RepairsCharges" [itemSource]="IDC_ENTRYRSN_FISC_REPAIRSCHARGES_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Modernization')" cmpId="IDC_ENTRYRSN_FISC_DEPRCHARGES" width="50" [model]="eventData?.model?.FiscDepr_DeprCharges" [itemSource]="IDC_ENTRYRSN_FISC_DEPRCHARGES_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Transformations')" cmpId="IDC_ENTRYRSN_FISC_TRANSFCHARGES" width="50" [model]="eventData?.model?.FiscDepr_TransfCharges" [itemSource]="IDC_ENTRYRSN_FISC_TRANSFCHARGES_itemSource"></tb-enum-combo>
</div><div class="col col2">         <tb-section-title cmpId="IDC_STATIC_DEPRVALUES_SEPARATOR" width="325" [caption]="_TB('Depreciation Values')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Total Depreciable')" cmpId="IDC_ENTRYRSN_FISC_DEPRTOT" width="50" [model]="eventData?.model?.FiscDepr_DeprTot" [itemSource]="IDC_ENTRYRSN_FISC_DEPRTOT_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Depreciation ')" cmpId="IDC_ENTRYRSN_FISC_DEPRECIATION" width="50" [model]="eventData?.model?.FiscDepr_Depreciation" [itemSource]="IDC_ENTRYRSN_FISC_DEPRECIATION_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Accumulated Depreciation ')" cmpId="IDC_ENTRYRSN_FISC_ACCUMDEPR" width="50" [model]="eventData?.model?.FiscDepr_AccumDepr" [itemSource]="IDC_ENTRYRSN_FISC_ACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_FISC_NOTDEPRECIABLE" [caption]="_TB('Non-Depreciable')" cmpId="IDC_ENTRYRSN_FISC_NOTDEPRECIABLE" width="50" [model]="eventData?.model?.FiscDepr_NotDepreciable" [itemSource]="IDC_ENTRYRSN_FISC_NOTDEPRECIABLE_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_FISC_LOSTDEPR" [caption]="_TB('Lost Depreciation')" cmpId="IDC_ENTRYRSN_FISC_LOSTDEPR" width="50" [model]="eventData?.model?.FiscDepr_LostDepr" [itemSource]="IDC_ENTRYRSN_FISC_LOSTDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_FISC_LOSTACCUMDEPR" [caption]="_TB('Accum. Lost Depreciation ')" cmpId="IDC_ENTRYRSN_FISC_LOSTACCUMDEPR" width="50" [model]="eventData?.model?.FiscDepr_LostDeprTot" [itemSource]="IDC_ENTRYRSN_FISC_LOSTACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_FISC_ACCELDEPR" [caption]="_TB('Accelerated Depreciation')" cmpId="IDC_ENTRYRSN_FISC_ACCELDEPR" width="50" [model]="eventData?.model?.FiscDepr_AccelDepr" [itemSource]="IDC_ENTRYRSN_FISC_ACCELDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_FISC_ACCACCUMDEPR" [caption]="_TB('Acceler. Accum. Depreciation')" cmpId="IDC_ENTRYRSN_FISC_ACCACCUMDEPR" width="50" [model]="eventData?.model?.FiscDepr_AccAccumDepr" [itemSource]="IDC_ENTRYRSN_FISC_ACCACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-section-title cmpId="IDC_STATIC_DISPOSAL_SEPARATOR" width="325" [caption]="_TB('Disposal')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Capital Gain')" cmpId="IDC_ENTRYRSN_CAPITALGAIN" width="50" [model]="eventData?.model?.FiscDepr_CapitalGain" [itemSource]="IDC_ENTRYRSN_CAPITALGAIN_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Capital Loss')" cmpId="IDC_ENTRYRSN_CAPITALLOSS" width="50" [model]="eventData?.model?.FiscDepr_CapitalLoss" [itemSource]="IDC_ENTRYRSN_CAPITALLOSS_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Windfall Loss')" cmpId="IDC_ENTRYRSN_WINDFLOSS" width="50" [model]="eventData?.model?.FiscDepr_WindfLoss" [itemSource]="IDC_ENTRYRSN_WINDFLOSS_itemSource"></tb-enum-combo>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Financial Depreciation')" tbTileWide  isCollapsible="True" *ngIf="eventData?.activation?.IDD_TD_ENTRYRSN_FINANCIALDEPRECIATION">
<div class="col col1">         <tb-checkbox cmpId="IDC_ENTRYRSN_USE_FINDEPR" width="109" [model]="eventData?.model?.FixedAssetsReasons?.FinancialEnabled" [caption]="_TB('In Use  ')"></tb-checkbox>
         <tb-section-title cmpId="IDC_STATIC_INITIALVALUES_SEPARATOR" width="325" [caption]="_TB('Initial Values')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Total Depreciable')" cmpId="IDC_ENTRYRSN_FIN_DEPRINTOT" width="50" [model]="eventData?.model?.FinDepr_DeprInTot" [itemSource]="IDC_ENTRYRSN_FIN_DEPRINTOT_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Accumulated Depreciation ')" cmpId="IDC_ENTRYRSN_FIN_INACCUMDEPR" width="50" [model]="eventData?.model?.FinDepr_InAccumDepr" [itemSource]="IDC_ENTRYRSN_FIN_INACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Renewal Reserve')" cmpId="IDC_ENTRYRSN_FIN_INRENEWALRESERVE" width="50" [model]="eventData?.model?.FinDepr_InRenewalReserve" [itemSource]="IDC_ENTRYRSN_FIN_INRENEWALRESERVE_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Renewal Accum. Depreciation')" cmpId="IDC_ENTRYRSN_FIN_INRENEWALACCUMDEPR" width="50" [model]="eventData?.model?.FinDepr_InRenewalAccumDepr" [itemSource]="IDC_ENTRYRSN_FIN_INRENEWALACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-section-title cmpId="IDC_STATIC_CHARGES_SEPARATOR" width="325" [caption]="_TB('Charges')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Ordinary')" cmpId="IDC_ENTRYRSN_FIN_CHARGES" width="50" [model]="eventData?.model?.FinDepr_Charges" [itemSource]="IDC_ENTRYRSN_FIN_CHARGES_itemSource"></tb-enum-combo>
</div><div class="col col2">         <tb-section-title cmpId="IDC_STATIC_DEPRVALUES_SEPARATOR" width="325" [caption]="_TB('Depreciation Values')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Total Depreciable')" cmpId="IDC_ENTRYRSN_FIN_DEPRTOT" width="50" [model]="eventData?.model?.FinDepr_DeprTot" [itemSource]="IDC_ENTRYRSN_FIN_DEPRTOT_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Depreciation ')" cmpId="IDC_ENTRYRSN_FIN_DEPRECIATION" width="50" [model]="eventData?.model?.FinDepr_Depreciation" [itemSource]="IDC_ENTRYRSN_FIN_DEPRECIATION_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Accumulated Depreciation ')" cmpId="IDC_ENTRYRSN_FIN_ACCUMDEPR" width="50" [model]="eventData?.model?.FinDepr_AccumDepr" [itemSource]="IDC_ENTRYRSN_FIN_ACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Renewal Depreciation')" cmpId="IDC_ENTRYRSN_FIN_RENEWALDEPR" width="50" [model]="eventData?.model?.FinDepr_RenewalDepr" [itemSource]="IDC_ENTRYRSN_FIN_RENEWALDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Renewal Accum. Depreciation')" cmpId="IDC_ENTRYRSN_FIN_RENEWALACCUMDEPR" width="50" [model]="eventData?.model?.FinDepr_RenewalAccumDepr" [itemSource]="IDC_ENTRYRSN_FIN_RENEWALACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Renewal Reserve')" cmpId="IDC_ENTRYRSN_FIN_RENEWALRESERVE" width="50" [model]="eventData?.model?.FinDepr_RenewalReserve" [itemSource]="IDC_ENTRYRSN_FIN_RENEWALRESERVE_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Assignor Contribution')" cmpId="IDC_ENTRYRSN_FIN_ASSIGNORCONTRIBUTION" width="50" [model]="eventData?.model?.FinDepr_AssignorContribution" [itemSource]="IDC_ENTRYRSN_FIN_ASSIGNORCONTRIBUTION_itemSource"></tb-enum-combo>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Balance Depreciation')" icon="erp-depreciation" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_ENTRYRSN_BALANCE">
       <ng-template>
        <tb-tile [title]="_TB('Balance Depreciation')" tbTileWide >
<div class="col col1">         <tb-checkbox cmpId="IDC_ENTRYRSN_USE_BALDEPR" width="109" [model]="eventData?.model?.FixedAssetsReasons?.BalanceEnabled" [caption]="_TB('In Use  ')"></tb-checkbox>
         <tb-section-title cmpId="IDC_STATIC_INITIALVALUES_SEPARATOR" width="325" [caption]="_TB('Initial Values')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Total Depreciable')" cmpId="IDC_ENTRYRSN_BALANCE_DEPRINTOT" width="50" [model]="eventData?.model?.BalDepr_DeprInTot" [itemSource]="IDC_ENTRYRSN_BALANCE_DEPRINTOT_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Accumulated Depreciation ')" cmpId="IDC_ENTRYRSN_BALANCE_INACCUMDEPR" width="50" [model]="eventData?.model?.BalDepr_InAccumDepr" [itemSource]="IDC_ENTRYRSN_BALANCE_INACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_BALANCE_INITIALLIQUIDATION" [caption]="_TB('Liquidation')" cmpId="IDC_ENTRYRSN_BALANCE_INITIALLIQUIDATION" width="50" [model]="eventData?.model?.BalDepr_InitialLiquidation" [itemSource]="IDC_ENTRYRSN_BALANCE_INITIALLIQUIDATION_itemSource"></tb-enum-combo>
         <tb-section-title cmpId="IDC_STATIC_SPECIALEVENTS_SEPARATOR" width="325" [caption]="_TB('Special Events')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Incremental Charges')" cmpId="IDC_ENTRYRSN_BALANCE_INCREMENTALCHARGES" width="50" [model]="eventData?.model?.BalDepr_IncrementalCharges" [itemSource]="IDC_ENTRYRSN_BALANCE_INCREMENTALCHARGES_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Revaluations')" cmpId="IDC_ENTRYRSN_BALANCE_REVALUATION" width="50" [model]="eventData?.model?.BalDepr_Revaluation" [itemSource]="IDC_ENTRYRSN_BALANCE_REVALUATION_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Additional Depr.')" cmpId="IDC_ENTRYRSN_BALANCE_ADDITDEPR" width="50" [model]="eventData?.model?.BalDepr_AdditDepr" [itemSource]="IDC_ENTRYRSN_BALANCE_ADDITDEPR_itemSource"></tb-enum-combo>
         <tb-section-title cmpId="IDC_STATIC_CHARGES_SEPARATOR" width="325" [caption]="_TB('Charges')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Ordinary')" cmpId="IDC_ENTRYRSN_BALANCE_CHARGES" width="50" [model]="eventData?.model?.BalDepr_Charges" [itemSource]="IDC_ENTRYRSN_BALANCE_CHARGES_itemSource"></tb-enum-combo>
</div><div class="col col2">         <tb-section-title cmpId="IDC_STATIC_DEPRVALUES_SEPARATOR" width="325" [caption]="_TB('Depreciation Values')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Total Depreciable')" cmpId="IDC_ENTRYRSN_BALANCE_DEPRTOT" width="50" [model]="eventData?.model?.BalDepr_DeprTot" [itemSource]="IDC_ENTRYRSN_BALANCE_DEPRTOT_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Depreciation ')" cmpId="IDC_ENTRYRSN_BALANCE_DEPRECIATION" width="50" [model]="eventData?.model?.BalDepr_Depreciation" [itemSource]="IDC_ENTRYRSN_BALANCE_DEPRECIATION_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Accumulated Depreciation ')" cmpId="IDC_ENTRYRSN_BALANCE_ACCUMDEPR" width="50" [model]="eventData?.model?.BalDepr_AccumDepr" [itemSource]="IDC_ENTRYRSN_BALANCE_ACCUMDEPR_itemSource"></tb-enum-combo>
         <tb-enum-combo *ngIf="eventData?.activation?.IDC_ENTRYRSN_BALANCE_LIQUIDATION" [caption]="_TB('Liquidation')" cmpId="IDC_ENTRYRSN_BALANCE_LIQUIDATION" width="50" [model]="eventData?.model?.BalDepr_Liquidation" [itemSource]="IDC_ENTRYRSN_BALANCE_LIQUIDATION_itemSource"></tb-enum-combo>
         <tb-section-title cmpId="IDC_STATIC_DISPOSAL_SEPARATOR" width="325" [caption]="_TB('Disposal')"></tb-section-title>
         <tb-enum-combo [caption]="_TB('Capital Gain')" cmpId="IDC_ENTRYRSN_BALANCE_CAPITALGAIN" width="50" [model]="eventData?.model?.BalDepr_CapitalGain" [itemSource]="IDC_ENTRYRSN_BALANCE_CAPITALGAIN_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Capital Loss')" cmpId="IDC_ENTRYRSN_BALANCE_CAPITALLOSS" width="50" [model]="eventData?.model?.BalDepr_CapitalLoss" [itemSource]="IDC_ENTRYRSN_BALANCE_CAPITALLOSS_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Windfall Loss')" cmpId="IDC_ENTRYRSN_BALANCE_WINDFLOSS" width="50" [model]="eventData?.model?.BalDepr_WindfLoss" [itemSource]="IDC_ENTRYRSN_BALANCE_WINDFLOSS_itemSource"></tb-enum-combo>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ENTRYRSN_COPY?.enabled" icon="tb-copy" [caption]="_TB('Copy')" cmpId="ID_ENTRYRSN_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
