<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microarea.TaskBuilderNet.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microarea.TaskBuilderNet.Core.Properties.Settings>
            <setting name="Microarea_TaskBuilderNet_Core_lockMng_MicroareaLockManager"
                serializeAs="String">
                <value>http://localhost/Development/LockManager/LockManager.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_tbService_TbServices"
                serializeAs="String">
                <value>http://localhost/development/TbServices/TbServices.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_easylook_EasyLookService"
                serializeAs="String">
                <value>http://localhost/Development/EasyLook/EasyLookService.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_MicroareaBackend_Registration"
                serializeAs="String">
                <value>http://www.microarea.it/Registration/Registration.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_tbSender_PLProxy"
                serializeAs="String">
                <value>http://localhost/Development/tbsender/plproxy.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_sosProxy_SOSProxy"
                serializeAs="String">
                <value>http://localhost/Development/TbSender/SOSProxy.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_tbLoaderLauncher_TBLoaderLauncher"
                serializeAs="String">
                <value>http://localhost/Development_X/TBLoaderLauncher/TbLoaderLauncher.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_loginMng_MicroareaLoginManager"
                serializeAs="String">
                <value>http://localhost/Development_CRM/LoginManager/LoginManager.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_eaSync_MicroareaEasyAttachmentSync"
                serializeAs="String">
                <value>http://localhost/development/EasyAttachmentSync/EasyAttachmentSync.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_dsSync_MicroareaDataSynchronizer"
                serializeAs="String">
                <value>http://localhost/dev39x/DataSynchronizer/DataSynchronizer.asmx</value>
            </setting>
            <setting name="Microarea_TaskBuilderNet_Core_dsSync1_MicroareaDataSynchronizer"
                serializeAs="String">
                <value>http://localhost/dev39/DataSynchronizer/DataSynchronizer.asmx</value>
            </setting>
        </Microarea.TaskBuilderNet.Core.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TbGesSoap" />
                <binding name="TbGenlibUISoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="TbWoormViewerSoap" />
                <binding name="TBXmlTransferSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="TBMacroRecorderTBMacroRecorderSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="TbOleDbSoap" />
                <binding name="TbDMSSoap" />
                <binding name="PricePoliciesComponentsSoap" />
                <binding name="ItemsServicesSoap" />
                <binding name="CustomersSuppliersDblSoap" />
                <binding name="BasicHttpBinding_INotificationService" />
                <binding name="BasicHttpBinding_IBrainBusinessNotificationListener" />
                <binding name="MicroareaDataSynchronizerSoap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="TbGesTcp" />
                <binding name="TbWoormViewerTcp" />
                <binding name="TbOleDbTcp" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://usr-bruniluca:10000/Framework.TbGenlibUI.TbGenlibUI/TbGenlibUI" binding="basicHttpBinding" bindingConfiguration="TbGenlibUISoap" contract="TbGenlibInterface.TbGenlibUI" name="TbGenlibUISoap" />
            <endpoint address="http://usr-bruniluca:10000/Extensions.XEngine.TBXmlTransfer/TBXmlTransfer" binding="basicHttpBinding" bindingConfiguration="TBXmlTransferSoap" contract="TbXmlTransferInterface.TBXmlTransfer" name="TBXmlTransferSoap" />
            <endpoint address="http://usr-bruniluca:10000/TestManager.TBMacroRecorder.TBMacroRecorder/TBMacroRecorderTBMacroRecorder" binding="basicHttpBinding" bindingConfiguration="TBMacroRecorderTBMacroRecorderSoap" contract="TbMacroRecorderInterface.TBMacroRecorderTBMacroRecorder" name="TBMacroRecorderTBMacroRecorderSoap" />
            <endpoint address="http://usr-traversoge:10000/Framework.TbOleDb.TbOleDb/TbOleDb" binding="basicHttpBinding" bindingConfiguration="TbOleDbSoap" contract="TbOleDbInterface.TbOleDb" name="TbOleDbSoap" />
            <endpoint address="net.tcp://usr-traversoge:10001/Framework.TbOleDb.TbOleDb/TbOleDb" binding="netTcpBinding" bindingConfiguration="TbOleDbTcp" contract="TbOleDbInterface.TbOleDb" name="TbOleDbTcp">
                <identity>
                    <userPrincipalName value="Traverso@microarea.it" />
                </identity>
            </endpoint>
            <endpoint address="http://usr-bruniluca:10000/ERP.Items.Services/ItemsServices" binding="basicHttpBinding" bindingConfiguration="ItemsServicesSoap" contract="ErpItemsServices.ItemsServices" name="ItemsServicesSoap" />
            <endpoint address="http://usr-bruniluca:10000/ERP.CustomersSuppliers.Dbl/CustomersSuppliersDbl" binding="basicHttpBinding" bindingConfiguration="CustomersSuppliersDblSoap" contract="ERPCustomersSuppliersDbl.CustomersSuppliersDbl" name="CustomersSuppliersDblSoap" />
            <endpoint address="http://localhost/DEVELOPMENT/NotificationService/NotificationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService" contract="NotificationService.INotificationService" name="BasicHttpBinding_INotificationService" />
            <endpoint address="http://localhost/DEVELOPMENT/NotificationService/NotificationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrainBusinessNotificationListener" contract="NotificationService.IBrainBusinessNotificationListener" name="BasicHttpBinding_IBrainBusinessNotificationListener" />
            <endpoint address="http://usr-grillolara:10000/Framework.TbWoormViewer.TbWoormViewer/TbWoormViewer" binding="basicHttpBinding" bindingConfiguration="TbWoormViewerSoap" contract="TbWoormViewerInterface.TbWoormViewer" name="TbWoormViewerSoap" />
            <endpoint address="net.tcp://usr-grillolara:10001/Framework.TbWoormViewer.TbWoormViewer/TbWoormViewer" binding="netTcpBinding" bindingConfiguration="TbWoormViewerTcp" contract="TbWoormViewerInterface.TbWoormViewer" name="TbWoormViewerTcp">
                <identity>
                    <userPrincipalName value="grillo@microarea.it" />
                </identity>
            </endpoint>
            <endpoint address="http://usr-bauzoneann1:10000/Extensions.EasyAttachment.TbDMS/TbDMS" binding="basicHttpBinding" bindingConfiguration="TbDMSSoap" contract="TbDMSInterface.TbDMS" name="TbDMSSoap" />
            <endpoint address="http://usr-squiccimar1:10000/ERP.PricePolicies.Components/PricePoliciesComponents" binding="basicHttpBinding" bindingConfiguration="PricePoliciesComponentsSoap" contract="ErpPricePoliciesComponents.PricePoliciesComponents" name="PricePoliciesComponentsSoap" />
            <endpoint address="http://localhost/Development_4_1_x/DataSynchronizer/DataSynchronizer.asmx" binding="basicHttpBinding" bindingConfiguration="MicroareaDataSynchronizerSoap" contract="dsSync.MicroareaDataSynchronizerSoap" name="MicroareaDataSynchronizerSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
  </runtime>
</configuration>
