.hidden-tiles {
    margin-bottom: 20px;
    background: #fff;
}

.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(99, 99, 99, 0), rgba(99, 99, 99, 0.80), rgba(99, 99, 99, 0));
}

ul.hidden-tiles-list {
    padding: 0;
    margin: 0;
}

.hidden-tiles-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: #9f9f9f;
    line-height: 30px;
    background: #3e3e3e;
    &:hover {
        background: rgba(62, 62, 63, 0.5);
    }
    &>span {
        flex: 1;
        font-size: 12px;
    }
    &:hover span,
    &:hover m4-icon.close {
        color: #fff;
    }
    m4-icon.type {
        margin: 0px 7px;
        font-size: 15px;
        line-height: 28px;
        padding-top: 2px;
    }
    m4-icon.close {
        margin: 0px 7px;
        font-size: 14px;
        line-height: 28px;
        padding-top: 2px;
        cursor: pointer;
        color: #646464;
    }
}

.hidden-tiles-empty {
    font-size: 12px;
    margin: 0;
    padding: 0 11px;
    color: #9f9f9f;
}