<div class="hidden-tiles">
    <ul class="hidden-tiles-list">
        <p *ngIf="menuService.hiddenTilesCount == 0" class="hidden-tiles-empty">{{_TB('Empty list...')}}</p>

        <li *ngFor="let tile of menuService?.hiddenTiles" class="hidden-tiles-item" (click)="menuService.removeFromHiddenTiles(tile)" title="{{_TB('Remove')}}">
            <ng-container *ngIf="tile.currentApp == menuService?.selectedApplication?.name && tile.currentGroup == menuService?.selectedGroup?.name &&  tile.currentMenu == menuService?.selectedMenu?.name">
                <m4-icon class="type" icon="tb-uncheckedradiobutton"></m4-icon>
                <span class="truncate" matTooltip="{{tile?.tooltip}}" matTooltipPosition="above" matTooltipShowDelay="500">{{tile.title}}</span>
            </ng-container>
        </li>
        <hr class="separator" *ngIf="menuService.hiddenTilesCount != 0">
        <li *ngFor="let tile of menuService?.hiddenTiles" class="hidden-tiles-item" (click)="menuService.removeFromHiddenTiles(tile)" title="{{_TB('Remove')}}">
            <ng-container *ngIf="tile.currentApp != menuService?.selectedApplication?.name || tile.currentGroup != menuService?.selectedGroup?.name ||  tile.currentMenu != menuService?.selectedMenu?.name">
                <m4-icon class="type" icon="tb-uncheckedradiobutton"></m4-icon>
                <span class="truncate" matTooltip="{{tile?.tooltip}}" matTooltipPosition="above" matTooltipShowDelay="500">{{tile.title}}</span>
            </ng-container>
        </li>
    </ul>
</div>