.hiddentiles {
    margin-bottom: 20px;
}

.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(99, 99, 99, 0), rgba(99, 99, 99, 0.80), rgba(99, 99, 99, 0));
}

ul.hiddenTiles-list {
    padding: 0;
    margin: 0;
}

.hiddenTiles-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: #9f9f9f;
    line-height: 30px;
    background: #3e3e3e;
    &:hover {
        background: rgba(62, 62, 63, 0.5);
    }
    &>span {
        flex: 1;
        font-size: 12px;
    }
    &:hover span {
        color: #fff;
    }
    m4-icon.type {
        margin: 0px 7px;
        font-size: 15px;
        line-height: 28px;
        padding-top: 2px;
    }
    m4-icon.close {
        margin: 0px 7px;
        font-size: 14px;
        line-height: 28px;
        padding-top: 2px;
        cursor: pointer;
        color: #646464;
        &:hover {
            color: #fff;
        }
    }
}

.hiddenTiles-empty {
    font-size: 12px;
    margin: 0;
    padding: 0 11px;
    color: #9f9f9f;
}

//stile quando usato nella sidenav
/// inizio sidenav
:host-context(.sidenav) {
    m4-icon.close {
        color: #646464;
    }
    .hiddenTiles-empty {
        line-height: 28px;
        background: #3e3e3e;
    }
}

/// fine sidenav
//stile quando usato nella dashboard
/// inizio dashboard
:host-context(.dashboard) {
    .hiddentiles {
        ul.hiddenTiles-list {
            .hiddenTiles-item {
                background: #f1f1f1;
                border: 1px solid #ddd;
                margin: 3px 7px;
                height: 28px;
                m4-icon.type {
                    margin: 0px 7px;
                    line-height: 28px;
                    font-size: 15px;
                    padding-top: 2px;
                }
                &>span {
                    color: #00588c;
                    line-height: 29px;
                }
                &:hover span {
                    color: #333;
                }
                m4-icon.type {
                    margin-right: 7px;
                }
                m4-icon.type.Document {
                    color: #0277bd;
                }
                m4-icon.type.Report,
                m4-icon.type.Function {
                    color: #3EAB66;
                }
                m4-icon.type.Batch {
                    color: #ffa700;
                }
                m4-icon.close {
                    color: #ddd;
                    &:hover {
                        color: #0277bd;
                    }
                }
            }
        }
    }
    .hiddenTiles-empty {
        color: #666;
    }
}