 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('Wizard Introduction Tile Group')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile [title]="_TB('Select the operation you want to do')" tbTileMini >
        <tb-radio cmpId="IDC_WIZ_GENERATION_PRICELIST" width="86" [model]="eventData?.model?.Generation" [caption]="_TB('Creation')"></tb-radio>
        <tb-radio cmpId="IDC_WIZ_VARIATION_PRICELIST" width="86" [model]="eventData?.model?.Variation" [caption]="_TB('Variation')"></tb-radio>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Wizard Variation Tile Group')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-tile [title]="_TB('Select the Type of Price you want to change')" tbTileMini >
        <tb-radio cmpId="IDC_WIZ_PRICELIST_ITEM" width="98" [model]="eventData?.model?.ItemPriceList" [caption]="_TB('Item Price List')"></tb-radio>
        <tb-radio cmpId="IDC_WIZ_CUSTSUPP_STANDARD_CUSTOMER_ITEM" width="134" [model]="eventData?.model?.TypicalCustItem" [caption]="_TB('Standard Item Customer')"></tb-radio>
        <tb-radio cmpId="IDC_WIZ_CUSTSUPP_A_BRACKET_CUSTOMER_ITEM" width="127" [model]="eventData?.model?.CustItemBracket" [caption]="_TB('Item Customer Qty Brackets')"></tb-radio>
        <tb-radio cmpId="IDC_WIZ_CUSTSUPP_STANDARD_SUPPLIER_ITEM" width="136" [model]="eventData?.model?.TypicalSuppItem" [caption]="_TB('Standard Item Supplier')"></tb-radio>
        <tb-radio cmpId="IDC_WIZ_CUSTSUPP_A_BRACKET_SUPPLIER_ITEM" width="134" [model]="eventData?.model?.ABracketItemSupp" [caption]="_TB('Item Supplier Qty Brackets')"></tb-radio>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Wizard Filters Tile Group')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-tilepanel isCollapsible="False">
        <tb-tile tbTileMini  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_FILTERS_CUSTSUPP_PRICE_LIST">
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Valid from')" cmpId="IDC_WIZ_CUSTSUPP_VALIDITY" width="57" [model]="eventData?.model?.dValidStartDate"></tb-date-input>
        </tb-tile>
        <tb-tile tbTileMini  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_FILTERS_CUSTSUPP_CODE">
         <tb-radio cmpId="IDC_WIZ_CUSTSUPP_CUSTSUPP_ALL" width="32" [model]="eventData?.model?.CustSuppAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_WIZ_CUSTSUPP_CUSTSUPP_SELECTION" width="53" [model]="eventData?.model?.CustSuppSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_WIZ_CUSTSUPP_CUSTSUPP_START" width="80" [model]="eventData?.model?.FromCustSupp"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_WIZ_CUSTSUPP_CUSTSUPP_END" width="80" [model]="eventData?.model?.ToCustSupp"></tb-text>
        </tb-tile>
        <tb-radio cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_RADIO_ALL" width="39" [model]="eventData?.model?.HFItems_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">        <tb-radio cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_RADIO_RANGE" width="39" [model]="eventData?.model?.HFItems_Range" [caption]="_TB('From')"></tb-radio>
        <tb-text cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_EDIT_FROM" width="110" [model]="eventData?.model?.HFItems_From"></tb-text>
</div>        <tb-text [caption]="_TB('To')" cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_EDIT_TO" width="110" [model]="eventData?.model?.HFItems_To"></tb-text>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Wizard Operations Tile Group')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Price List to create')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_PRICE_LIST_TO_BE_CREATED">
<div class="anchored">         <tb-text [caption]="_TB('Price List')" cmpId="IDC_WIZ_RECPRLIST_LISTGENERATED" width="48" [model]="eventData?.model?.ToPriceList"></tb-text>
         <tb-text cmpId="IDC_WIZ_RECPRLIST_DESCRILIST" width="154" [model]="eventData?.model?.PriceListDescri"></tb-text>
</div>         <tb-combo *ngIf="eventData?.activation?.IDC_WIZ_RECPRLIST_COMBO_CURRENCY" [caption]="_TB('Currency')" cmpId="IDC_WIZ_RECPRLIST_COMBO_CURRENCY" width="62" [model]="eventData?.model?.Currency"></tb-combo>
         <tb-checkbox cmpId="IDC_WIZ_JOBLIS_SHOW_ALWAYS" width="285" [model]="eventData?.model?.AlwaysShow" [caption]="_TB('Display Always in Combo (also if not linked to customer)')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Validity')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_VALIDITY">
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Start')" cmpId="IDC_WIZ_JOBLIS_VALIDITY" width="57" [model]="eventData?.model?.dValidStartDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('End')" cmpId="IDC_WIZ_RECPRLIST_END_VALIDITY" width="57" [model]="eventData?.model?.dValidityEndingDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Generate Price List')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_GENERATE_PRICE_LIST">
         <tb-caption cmpId="IDC_STATIC_1" width="98" [caption]="_TB('In UoM...')"></tb-caption>
         <tb-radio cmpId="IDC_WIZ_RECPRLIST_RADIO_UOM_BASE" width="85" [model]="eventData?.model?.BaseUnitOfMeas" [caption]="_TB('Base')"></tb-radio>
         <tb-radio cmpId="IDC_WIZ_RECPRLIST_RADIO_UOM_ISSUE" width="96" [model]="eventData?.model?.IssueUoM" [caption]="_TB('Issue')"></tb-radio>
         <tb-caption cmpId="IDC_STATIC" width="98" [caption]="_TB('With...')"></tb-caption>
         <tb-checkbox cmpId="IDC_WIZ_RECPRLIST_CHECK_DISCOUNTED" width="109" [model]="eventData?.model?.Discounted" [caption]="_TB('Discount included')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_WIZ_RECPRLIST_CHECK_WITHTAX" cmpId="IDC_WIZ_RECPRLIST_CHECK_WITHTAX" width="69" [model]="eventData?.model?.WithTax" [caption]="_TB('Tax included')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Price List to be Updated')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_PRICE_LIST_UPDATE">
         <tb-combo [caption]="_TB('Price List')" cmpId="IDC_WIZ_RECPRLIST_COMBO_TOPRICELIST" width="75" [model]="eventData?.model?.ToPriceList" [itemSource]="IDC_WIZ_RECPRLIST_COMBO_TOPRICELIST_itemSource"></tb-combo>
         <tb-label-static cmpId="IDC_WIZ_RECPRLIST_FRAME_LISTRR" width="154" [model]="eventData?.model?.HKLPriceListArrival?.Description"></tb-label-static>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Valid from')" cmpId="IDC_WIZ_JOBLIS_VALIDITY" width="57" [model]="eventData?.model?.dValidStartDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Starting Base Price')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_START_BASE_PRICE">
<div class="anchored">         <tb-radio cmpId="IDC_WIZ_JOBLIS_RADIO_PRICELIST" width="70" [model]="eventData?.model?.OnDepPriceList" [caption]="_TB('Other Price List')"></tb-radio>
         <tb-combo cmpId="IDC_WIZ_JOBLIS_COMBO_LISTPART" width="80" [model]="eventData?.model?.FromPriceList" [itemSource]="IDC_WIZ_JOBLIS_COMBO_LISTPART_itemSource"></tb-combo>
         <tb-label-static cmpId="IDC_WIZ_RECPRLIST_FRAME_LISTPART" width="154" [model]="eventData?.model?.HKLPriceListDeparture?.Description"></tb-label-static>
</div><div class="anchored">         <tb-radio cmpId="IDC_WIZ_JOBLIS_SUPPPRICELIST" width="70" [model]="eventData?.model?.SuppPriceList" [caption]="_TB('Supplier Price List')"></tb-radio>
         <tb-text cmpId="IDC_WIZ_JOBLIS_SUPPLIER" width="80" [model]="eventData?.model?.Supplier"></tb-text>
         <tb-label-static cmpId="IDC_WIZ_RECPRLIST_FRAME_SUPPL" width="154" [model]="eventData?.model?.HotLinkSupp?.CompanyName"></tb-label-static>
</div><div class="anchored">         <tb-radio cmpId="IDC_WIZ_JOBLIS_RADIO_SAME" width="70" [model]="eventData?.model?.SamePriceLst" [caption]="_TB('Same Price List')"></tb-radio>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Valid from')" cmpId="IDC_WIZ_JOBLIS_DATE_VIGHOURS_DEPARTURE" width="57" [model]="eventData?.model?.dValidFromDepartureDate"></tb-date-input>
</div>         <tb-radio cmpId="IDC_WIZ_JOBLIS_BASEPRICE" width="70" [model]="eventData?.model?.BasePrice" [caption]="_TB('Base Price')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_WIZ_JOBLIS_COST" width="70" [model]="eventData?.model?.Cost" [caption]="_TB('Cost')"></tb-radio>
         <tb-enum-combo cmpId="IDC_WIZ_JOBLIS_COMBO_COST" width="62" [model]="eventData?.model?.CostType"></tb-enum-combo>
</div><div class="anchored">         <tb-combo cmpId="IDC_WIZ_JOBLIS_COMBO_LISTPART" width="80" [model]="eventData?.model?.FromPriceList" [itemSource]="IDC_WIZ_JOBLIS_COMBO_LISTPART_itemSource"></tb-combo>
         <tb-label-static cmpId="IDC_WIZ_RECPRLIST_FRAME_LISTPART" width="154" [model]="eventData?.model?.HKLPriceListDeparture?.Description"></tb-label-static>
</div><div class="anchored">         <tb-text cmpId="IDC_WIZ_JOBLIS_SUPPLIER" width="80" [model]="eventData?.model?.Supplier"></tb-text>
         <tb-label-static cmpId="IDC_WIZ_RECPRLIST_FRAME_SUPPL" width="154" [model]="eventData?.model?.HotLinkSupp?.CompanyName"></tb-label-static>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Price Variations')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_PRICE_VARIATIONS">
         <tb-checkbox cmpId="IDC_WIZ_JOBLIS_SEL_PRICE" width="61" [model]="eventData?.model?.PriceSel" [caption]="_TB('Selection')"></tb-checkbox>
         <tb-numeric-text-box formatter="Percent" [caption]="_TB('% Price Variation')" cmpId="IDC_WIZ_JOBLIS_DPRICE" width="30" [model]="eventData?.model?.DeltaPrice"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Absolute Variation')" cmpId="IDC_WIZ_JOBLIS_VARIATION_ABSOLUTE" width="55" [model]="eventData?.model?.AbsVariation"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Rounding to…')" cmpId="IDC_WIZ_JOBLIS_ROUNDING" width="46" [model]="eventData?.model?.Rounding"></tb-numeric-text-box>
         <tb-enum-combo [caption]="_TB('Rounding Type')" cmpId="IDC_WIZ_JOBLIS_COMBO_ROUNDINFOFF" width="60" [model]="eventData?.model?.RoundType"></tb-enum-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Discounts Variations')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_DISC_VARIATIONS">
         <tb-checkbox cmpId="IDC_WIZ_JOBLIS_SEL_DISCOUNT" width="73" [model]="eventData?.model?.DiscountSel" [caption]="_TB('Selection')"></tb-checkbox>
         <tb-text [caption]="_TB('Change to')" cmpId="IDC_WIZ_JOBLIS_DDISCOUNT" width="97" [model]="eventData?.model?.NewDiscountFormula"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Select Quantity Brackets')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_QTYBRACKET">
         <tb-checkbox *ngIf="eventData?.activation?.IDC_WIZ_JOBLIS_MANAGE_BRACKET_GRID" cmpId="IDC_WIZ_JOBLIS_MANAGE_BRACKET_GRID" width="320" [model]="eventData?.model?.BracketManage" [caption]="_TB('Use Quantity Brackets')"></tb-checkbox>
         <tb-body-edit cmpId="IDC_QTYBRACKET" width="400" [model]="eventData?.model?.QtyBracket">
          <tb-body-edit-column formatter="Integer" cmpId="IDC_JOBLIS_BRACKET_QTY" columnName="Qty" [title]="_TB('To... (Quantity)')" columnType="tb-numeric-text-box" columnName="IDC_JOBLIS_BRACKET_QTY">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Percent" cmpId="IDC_JOBLIS_BRACKET_PERC_VARIATION" columnName="VariationPerc" [title]="_TB('Percentage Variation')" columnType="tb-numeric-text-box" columnName="IDC_JOBLIS_BRACKET_PERC_VARIATION">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_JOBLIS_BRACKET_VARIATION_ABS" columnName="AbsVariation" [title]="_TB('Absolute Variation')" columnType="tb-numeric-text-box" columnName="IDC_JOBLIS_BRACKET_VARIATION_ABS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_JOBLIS_BRACKET_DISCOUNT" columnName="Discount" [title]="_TB('Discount')" columnType="tb-text" columnName="IDC_JOBLIS_BRACKET_DISCOUNT">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
        <tb-tile [title]="_TB('Price Variations')" tbTileStandard  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_CUSTSUPP_PRICE_VARIATIONS">
         <tb-checkbox cmpId="IDC_WIZ_CUSTSUPP_SEL_PRICE" width="61" [model]="eventData?.model?.PriceSel" [caption]="_TB('Selection')"></tb-checkbox>
<div class="anchored">         <tb-numeric-text-box formatter="Percent" [caption]="_TB('% Price Variation')" cmpId="IDC_WIZ_CUSTSUPP_DPRICE" width="30" [model]="eventData?.model?.DeltaPrice"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Rounding to…')" cmpId="IDC_WIZ_CUSTSUPP_ROUNDING" width="46" [model]="eventData?.model?.Rounding"></tb-numeric-text-box>
</div><div class="anchored">         <tb-numeric-text-box formatter="Money" [caption]="_TB('Absolute Variation')" cmpId="IDC_WIZ_CUSTSUPP_VARIATION_ABSOLUTE" width="55" [model]="eventData?.model?.AbsVariation"></tb-numeric-text-box>
         <tb-enum-combo [caption]="_TB('Rounding Type')" cmpId="IDC_WIZ_CUSTSUPP_COMBO_ROUNDINFOFF" width="60" [model]="eventData?.model?.RoundType"></tb-enum-combo>
</div>         <tb-combo *ngIf="eventData?.activation?.IDC_WIZ_CUSTSUPP_COMBO_CURRENCY" [caption]="_TB('Reference currency for decimals in rounding')" cmpId="IDC_WIZ_CUSTSUPP_COMBO_CURRENCY" width="62" [model]="eventData?.model?.Currency"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Discounts Variations')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_PRICE_LISTS_OPERATIONS_CUSTSUPP_DISC_VARIATIONS">
         <tb-checkbox cmpId="IDC_WIZ_CUSTSUPP_SEL_DISCOUNT" width="73" [model]="eventData?.model?.DiscountSel" [caption]="_TB('Selection')"></tb-checkbox>
         <tb-text [caption]="_TB('Change to')" cmpId="IDC_WIZ_CUSTSUPP_DDISCOUNT" width="97" [model]="eventData?.model?.NewDiscountFormula"></tb-text>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Result')" tbTileStandard  isCollapsible="False" isCollapsed="False" hasTitle="False">
        <tb-caption cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS" width="587" [model]="eventData?.model?.nCurrentElement"></tb-caption>
        <tb-label-static cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS_STATIC" width="587" [model]="eventData?.model?.GaugeDescription"></tb-label-static>
       </tb-tile>
       <tb-tile [title]="_TB('List of documents generated')" tbTileWide >
<div class="col col1">        <tb-body-edit cmpId="IDC_PROGRESSVIEWER_BE" width="654" [model]="eventData?.model?.ProgressViewer">
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_STATUS" columnName="TEnhProgressViewer_P1" [title]="_TB('  ')" columnType="tb-image" columnName="IDC_PROGRESS_VIEWER_STATUS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_COLUMN1" columnName="TEnhProgressViewer_P2" [title]="_TB('eventData?.model?.PrgViewerColumn1')" columnType="tb-label-static" columnName="IDC_PROGRESS_VIEWER_COLUMN1">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_COLUMN2" columnName="TEnhProgressViewer_P3" [title]="_TB('eventData?.model?.PrgViewerColumn2')" columnType="tb-label-static" columnName="IDC_PROGRESS_VIEWER_COLUMN2">
         </tb-body-edit-column>
        </tb-body-edit>
</div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
