<div *ngIf="!rect.hidden" [ngStyle]="applyStyle()">
  <div *ngIf="!rect.value_is_barcode">
    <div *ngIf="rect.label" [ngStyle]="applyLabelStyle()" matTooltip="{{rect.tooltip}}" 
      matTooltipPosition="after">
      <table [ngStyle]="applyDummyTableLabelStyle()">
          <tr>
            <td [ngStyle]="applyDummyCellLabelStyle()">{{rect.label.caption}}</td>
          </tr>
        </table>

      </div>

      <div *ngIf="!rect.value_is_html && !rect.link" [ngStyle]="applyValueStyle()">
        <table [ngStyle]="applyDummyTableStyle()">
          <tr>
            <td [ngStyle]="applyDummyCellStyle()">{{rect.value}}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="!rect.link && rect.value_is_html" [ngStyle]="applyValueStyle()" [innerHTML]="rect.value">
      </div>

      <div *ngIf="rect.link && rect.value_is_html" [ngStyle]="applyValueStyle()" [innerHTML]="rect.value">
        <rs-link [link]="rect.link">
        </rs-link>
      </div>

      <rs-link *ngIf="!rect.value_is_html && rect.link" [link]="rect.link">
        <table>
          <tr>
            <td [ngStyle]="applyValueStyle()">{{rect.value}}</td>
          </tr>
        </table>
      </rs-link>
  </div>
  <rs-barcode *ngIf="rect.value_is_barcode" [barcode]="rect.barcode" [rect]="rect" [value]="rect.value"></rs-barcode>
</div>