<div *ngIf="!rect.hidden" [ngStyle]="applyStyle()">
  <div *ngIf="!rect.value_is_barcode">
    <div *ngIf="rect.label" [ngStyle]="applyLabelStyle()" matTooltip="{{rect.tooltip}}" matTooltipPosition="after">{{rect.label.caption}}</div>
    <div *ngIf="!rect.link" [ngStyle]="applyValueStyle()" [innerHtml]="rect.value"></div>
    <rs-link *ngIf="rect.link" [link]="rect.link" [ngStyle]="applyValueStyle()">{{rect.value}}</rs-link>
  </div>
  <rs-barcode *ngIf="rect.value_is_barcode" [barcode]="rect.barcode" [rect]="rect" [value]="rect.value"></rs-barcode>
</div>