<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo optional="false" localize="Electronic Invoicing - Italy localization" destinationfolder="TbApps" >
  <Components>
    <Library name="ElectronicInvoicing_ITDbl" 		                  deploymentpolicy="base"   sourcefolder="Dbl" 			                    aggregatename = "MDCDbl" />
    <Library name="ElectronicInvoicing_ITComponents"			          deploymentpolicy="base"   sourcefolder="Components" 		              aggregatename = "MDCComponents" />
    <Library name="ElectronicInvoicing_ITDocuments" 			          deploymentpolicy="full"   sourcefolder="Documents" 			              aggregatename = "MDCDocuments" />
    <Library name="ElectronicInvoicing_ITServices" 			            deploymentpolicy="full"   sourcefolder="Services" 			              aggregatename = "MDCDocuments" />
    <Library name="ElectronicInvoicing_ITAddOnsSales"		            deploymentpolicy="addon"  sourcefolder="AddOnsSales" 		              aggregatename = "MDCAddOnsSales" />
    <Library name="ElectronicInvoicing_ITAddOnsCustomerQuotations"	deploymentpolicy="addon"  sourcefolder="AddOnsCustomerQuotations" 		aggregatename = "MDCAddOnsSales" />
    <Library name="ElectronicInvoicing_ITAddOnsSaleOrders"		      deploymentpolicy="addon"  sourcefolder="AddOnsSaleOrders" 		        aggregatename = "MDCAddOnsSales" />
    <Library name="ElectronicInvoicing_ITAddOnsElectronicInvoicing"	deploymentpolicy="addon"  sourcefolder="AddOnsElectronicInvoicing" 		aggregatename = "MDCDocuments" />
    <Library name="ElectronicInvoicing_ITAddOnsCompany"		          deploymentpolicy="addon"  sourcefolder="AddOnsCompany" 	              aggregatename = "MDCAddOnsCore" />
    <Library name="ElectronicInvoicing_ITAddOnsCustomersSuppliers"  deploymentpolicy="addon"  sourcefolder="AddOnsCustomersSuppliers"     aggregatename = "MDCAddOnsCore" />
    <Library name="ElectronicInvoicing_ITAddOnsJobs"		            deploymentpolicy="addon"  sourcefolder="AddOnsJobs"   	              aggregatename = "MDCAddOnsCore" />
    <Library name="ElectronicInvoicing_ITAddOnsItems"		            deploymentpolicy="addon"  sourcefolder="AddOnsItems"   	              aggregatename = "MDCAddOnsInventory" />
  </Components>
</ModuleInfo>