.tagcloud {
    
    background:#FFFFFF;
    height:270px;  
    width: 260px;  
    padding:5px 0;
}


.tagcloud_font {
	font-size: small;
}

.tagcloud_font_mid {
	font-size:  medium;
	font-style:  oblique;
	font-weight: bold;
}

.tagcloud_font_top  
{
	font-size: large;
	font-style: italic;
	font-weight: bold;
}




