<button kendoButton class="top-button" (click)="onCommand()" [imageUrl]="iconTxt" [disabled]="disabled" title="{{caption}}" [ngSwitch]="iconType">
    <div [ngSwitch]="iconType" class="div-icon">
        <img *ngSwitchCase="'IMG'" src="{{imgUrl}}{{icon}}" />

        <md-icon *ngSwitchCase="'MD'">{{icon}}</md-icon>

        <tb-icon *ngSwitchCase="'TB'" icon="{{icon}}"></tb-icon>

        <i *ngSwitchCase="'CLASS'" class="{{icon}}"></i>

        <h5  *ngSwitchDefault>boh</h5>
    </div>
    <span>{{caption}}</span>
</button>