<!--<div (click)='onCommand()' title='{{caption}}' [ngSwitch]="iconType">

    <img *ngSwitchCase="iconTypes.IMG" src="{{iconTxt}}" />

    <md-icon *ngSwitchCase="iconTypes.MD">{{iconTxt}}</md-icon>

    <tb-icon *ngSwitchCase="iconTypes.TB" />{{iconTxt}}</tb-icon>

    <i *ngSwitchCase="iconTypes.CLASS" class="{{iconTxt}}"></i>

</div>-->

<div class="top-button">
    <button kendoButton (click)="onCommand()" [imageUrl]="iconTxt"  [disabled]="disabled" title="{{caption}}"><span>{{caption}}</span></button>
</div>