<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo optional="false" localize="Digital Communications" destinationfolder="TbApps" >
  <Components>
    <Library name="CoreDbl" 		      deploymentpolicy="base"   sourcefolder="Dbl" 			       aggregatename = "MDCDbl" />
    <Library name="CoreComponents"		deploymentpolicy="base"   sourcefolder="Components" 	   aggregatename = "MDCComponents" />
	  <Library name="CoreDocuments" 		deploymentpolicy="full"   sourcefolder="Documents" 		   aggregatename = "MDCDocuments" />
	  <Library name="CoreServices"		  deploymentpolicy="full"   sourcefolder="Services" 		   aggregatename = "MDCDocuments" />
	  <Library name="CoreAddOnsCompany"	deploymentpolicy="addon"  sourcefolder="AddOnsCompany"   aggregatename = "MDCAddOnsCore" />
  </Components>
</ModuleInfo>
