 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('Tile Group Filters')" tbLayoutTypeColumn >
      <ng-template>
       <tb-tile [title]="_TB('Filter for Document')" tbTileMini  isCollapsible="False" hasTitle="True">
        <tb-text [caption]="_TB('Document No. ')" cmpId="IDC_PURCH_LOAD_DOC_TO_CORRECT_DOC_NR" width="69" [model]="eventData?.model?.InvoiceFilter"></tb-text>
       </tb-tile>
       <tb-tile [title]="_TB('Correction Document for...')" tbTileMini  isCollapsible="False" hasTitle="True">
        <tb-radio cmpId="IDC_PURCH_LOAD_DOC_TO_CORRECT_FOR_RETURN" width="131" [model]="eventData?.model?.CorrectionForReturn" [caption]="_TB('Return')"></tb-radio>
        <tb-radio cmpId="IDC_PURCH_LOAD_DOC_TO_CORRECT_FOR_CHANGE_VALUE" width="130" [model]="eventData?.model?.CorrectionForChangeValue" [caption]="_TB('Change in price')"></tb-radio>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_OK?.enabled" icon="tb-search" [caption]="_TB('Search')" cmpId="ID_OK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_CANCEL?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="ID_CANCEL"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
