 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('Tile Group Filters')" tbLayoutTypeColumn >
      <ng-template>
       <tb-tile [title]="_TB('Filter by Document Type')" tbTileMini  isCollapsible="False" hasTitle="True" *ngIf="eventData?.activation?.IDD_TD_PURCHASE_INVOICE_FILTER_FROM_NOTE">
        <tb-radio cmpId="IDC_NDB_TAB_SELECTIONS_PURCHASE_INVOICE" width="146" [model]="eventData?.model?.PurchaseInvoice" [caption]="_TB('Purchase Invoices')"></tb-radio>
        <tb-radio cmpId="IDC_NDB_TAB_SELECTIONS_PURCHASE_INVOICES_CORR" width="140" [model]="eventData?.model?.CorrectionPurchaseInvoice" [caption]="_TB('Correction Purchase Invoices')"></tb-radio>
       </tb-tile>
       <tb-tile [title]="_TB('Filter for Document')" tbTileMini  isCollapsible="False" hasTitle="True">
        <tb-text [caption]="_TB('Document No.')" cmpId="IDC_NDB_TAB_SELECTIONS_SUPPLIER_NUMBER_INVOICE" width="57" [model]="eventData?.model?.SuppInvoiceFilter"></tb-text>
        <tb-text [caption]="_TB('Log No.')" cmpId="IDC_NDB_TAB_SELECTIONS_NUMBERINV" width="57" [model]="eventData?.model?.InvoiceFilter"></tb-text>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_OK?.enabled" icon="tb-search" [caption]="_TB('Search')" cmpId="ID_OK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button *ngIf="eventData?.activation?.IDC_PURCH_DOC_TAB_SELECTIONS_ORDERS_IMPORT" [disabled]="!eventData?.buttonsState?.IDC_PURCH_DOC_TAB_SELECTIONS_ORDERS_IMPORT?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Import')" cmpId="IDC_PURCH_DOC_TAB_SELECTIONS_ORDERS_IMPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_CANCEL?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="ID_CANCEL"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
