<!--se ci sono più tab-->
<section>

  <!--Pannello laterale sinistro con i bottoni del selettore-->
  <div *ngIf="tabs != undefined && tabs.length > 1">
    <div id="one" class="selector">
      <ul>
        <li (click)="selectTab(tab)" *ngFor="let tab of tabs" href="#" [ngClass]="tab.active ? 'active' : ''">
          <img src="{{tab?.iconTxt}}" /> {{tab.title}}
        </li>
      </ul>
    </div>
  </div>
  <!--Contenitore tile di destra-->
  <div >
    <div class="tabGroupContent"  [ngClass]="(tabs != undefined && tabs.length > 1) ? 'multipleTabs' : '' " >
      <ng-content></ng-content>
    </div>
  </div>
</section>
