tb-tilemanager {
    flex: 1;
    max-width: 100%;
}

.tile-manager {
    flex: 1;
    display: flex;
    min-height: 100%;
}

.tile-manager .k-tabstrip {
    flex-direction: row;
    display: flex;
    flex: 1;
    max-width: 100%;
}

.tile-manager .k-tabstrip-top>.k-content {
    flex: 1;
    background-color: transparent;
}

.tile-manager .k-tabstrip>.k-tabstrip-items {
    flex-direction: column;
    flex: 0 0 260px;
    background: #fff;
}

.tile-manager .k-item .k-link {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.tile-manager .k-item .k-link img {
    margin-right: 5px;
}

.tile-manager .k-item .k-link span {
    font-size: 12px;
    color: #000;
}

.tile-manager .k-item.k-state-active {
    border: none;
    background: #f1f4f7;
}


/*.selector {
    border-color:lightgray;
    border-width: 1px;
    width: 100%;
    height: 100%;
    border-style: solid;
}

.tabGroupContent
{

  padding-left: 20px;
}

.multipleTabs { margin-left: 10%;
}

ul
{
  padding: 10px 10px 10px 0px;
   margin:0px;
  display: inline-block;
}
li
{
    display: block;
    
    position: relative;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    // border-bottom-left-radius: 10px;
    // border-top-left-radius: 10px;
    border-radius: 3px;
    font-weight: 300;
}
li.active
{
  background-color: lightskyblue;
}
a
{
    text-decoration:none;
}
a.tabTitle
{
  margin-left: 5px;
  margin-right: 5px;
}

.tab-content {
   margin: 10;
    flex: 1;
}

div.content
{
  display: inline-block;
}


section {
    width: 100%;
    height: auto;
    margin: auto;
}
div#one {
    width: 10%;
    height: 100%;
    float: left;
}

ul {
	padding-left: 10px;
}*/