<div class="tb-control tb-combo-simple">
    <tb-caption caption="{{caption}}" [for]="cmpId"></tb-caption>
    <div class="tb-control-group">
        <kendo-dropdownlist [data]="items" [textField]="'description'" [disabled]="!model?.enabled" [valueField]="'code'" [defaultItem]="defaultItem" (selectionChange)="selectionChange($event)">
            <template kendoDropDownListNoDataTemplate>
            <h4><span class="k-icon k-i-warning"></span><br /><br /> No data here</h4>
        </template>
        </kendo-dropdownlist>
    </div>
</div>