<md-sidenav-layout class="demo-sidenav-layout">

  <div class="demo-sidenav-content">

    <md-toolbar [color]="myColor">
    

      <span *ngIf="menuService?.applicationMenu != undefined">
          <tb-application-selector [Menu]="menuService?.applicationMenu"></tb-application-selector>
        </span>
        
        <span>
          {{menuService?.getSelectedGroup()?.title}} - {{menuService?.getSelectedMenu()?.title}}
        </span>



    </md-toolbar>

    <tb-menu-container [Group]="menuService?.getSelectedGroup()"></tb-menu-container>
  </div>
</md-sidenav-layout>

<p>
  <a href="javascript:void(0)" (click)="runDocument('ERP.Languages.Documents.Languages')">Languages</a>
</p>
<p>
  <a href="javascript:void(0)" (click)="runDocument('ERP.Company.Documents.Titles')">Titles</a>
</p>
<!--<router-outlet></router-outlet>
-->