 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-caption cmpId="IDC_STATIC_7" width="301" [caption]="_TB('You are inserting a new postable account, but the summary account is postable also. With this option the summary account will be set to NON postable.')"></tb-caption>
        <tb-caption cmpId="IDC_STATIC" width="301" [caption]="_TB('If the balance of the summary account is not zero, a new Accounting Transaction will be generated (using default parameters), in order to transfer the balance to the Sub-Account.')"></tb-caption>
       </tb-tile>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Posting Date')" cmpId="IDC_BLOCK_SUMMARY_DATE" width="57" [model]="eventData?.model?.Date"></tb-date-input>
<div class="anchored">        <tb-label-static [caption]="_TB('Template')" cmpId="IDC_BLOCK_SUMMARY_TEMPLATE" width="60" [model]="eventData?.model?.Template"></tb-label-static>
        <tb-label-static cmpId="IDC_BLOCK_SUMMARY_TEMPLATED" width="154" [model]="eventData?.model?.TemplateDescr"></tb-label-static>
</div><div class="anchored">        <tb-label-static [caption]="_TB('Reason')" cmpId="IDC_BLOCK_SUMMARY_REASON" width="60" [model]="eventData?.model?.Reason"></tb-label-static>
        <tb-label-static cmpId="IDC_BLOCK_SUMMARY_REASOND" width="154" [model]="eventData?.model?.ReasonDescr"></tb-label-static>
</div><div class="anchored">        <tb-label-static [caption]="_TB('Summary Account')" cmpId="IDC_BLOCK_SUMMARY_ACCOUNT_1" width="90" [model]="eventData?.model?.AccountSummary"></tb-label-static>
        <tb-label-static cmpId="IDC_BLOCK_SUMMARY_ACCOUNT_1D" width="154" [model]="eventData?.model?.AccountSummaryDescr"></tb-label-static>
</div><div class="anchored">        <tb-label-static [caption]="_TB('Sub-Account')" cmpId="IDC_BLOCK_SUMMARY_ACCOUNT_2" width="90" [model]="eventData?.model?.AccountChild"></tb-label-static>
        <tb-label-static cmpId="IDC_BLOCK_SUMMARY_ACCOUNT_2D" width="154" [model]="eventData?.model?.AccountChildDescr"></tb-label-static>
</div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDD_BLOCK_SUMMARY_TOOLBAR_OK?.enabled" icon="tb-ok" [caption]="_TB('Ok')" cmpId="IDD_BLOCK_SUMMARY_TOOLBAR_OK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDD_BLOCK_SUMMARY_TOOLBAR_CANCEL?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="IDD_BLOCK_SUMMARY_TOOLBAR_CANCEL"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
