.clockConteiner {
    position: relative;
	width: 200px;
	height: 200px;
}

.clock {
	position: relative;
	width: 200px;
	height: 200px;
	background: url(media/clockface.png);
	list-style: none;
}

.sec, .min, .hour {
	position: absolute;
	width: 10px;
	height: 200px;
	top: 0px;
	left: 95px;
}

.sec {
	background: url(media/sechand.png);
	z-index: 3;
}
   
.min {
	background: url(media/minhand.png);
	z-index: 2;
}
   
.hour {
	background: url(media/hourhand.png);
	z-index: 1;
}