 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('Wizard Introduction Tile Group')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile [title]="_TB('Select the Document Type to delete')" tbTileMini >
        <tb-enum-combo cmpId="IDC_DELETE_PURCHASESDOC_DOCTYPE" width="103" [model]="eventData?.model?.DocumentType" [itemSource]="IDC_DELETE_PURCHASESDOC_DOCTYPE_itemSource"></tb-enum-combo>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Filters Tile Group')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Period')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('From')" cmpId="IDC_RMPURCHASESDOC_DATE_START" width="58" [model]="eventData?.model?.DeleterStartingDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_RMPURCHASESDOC_DATE_END" width="58" [model]="eventData?.model?.DeleterEndingDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Log Number')" tbTileMini >
         <tb-radio cmpId="IDC_RMPURCHASESDOC_DOCNO_ALL" width="32" [model]="eventData?.model?.DeleterAllDocNo" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_RMPURCHASESDOC_DOCNO_SELECTION" width="53" [model]="eventData?.model?.DeleterDocNoSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_RMPURCHASESDOC_DOC_START" width="91" [model]="eventData?.model?.DeleterStartNoDoc"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_RMPURCHASESDOC_DOC_END" width="91" [model]="eventData?.model?.DeleterEndNoDoc"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Supplier Code')" tbTileMini >
         <tb-radio cmpId="IDC_RMPURCHASESDOC_SUPPLIERS_ALL" width="32" [model]="eventData?.model?.DeleterAllSuppliers" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_RMPURCHASESDOC_SUPPLIERS_SELECTION" width="53" [model]="eventData?.model?.DeleterSelectSupplier" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_RMPURCHASESDOC_SUPPLIER_FROM" width="91" [model]="eventData?.model?.DeleterSupplierFrom"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_RMPURCHASESDOC_SUPPLIER_TO" width="91" [model]="eventData?.model?.DeleterSupplierTo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Inventory')" tbTileMini >
         <tb-combo [caption]="_TB('Reason')" cmpId="IDC_RMPURCHASESDOC_INVRSN" width="62" [model]="eventData?.model?.DeleterInvRsn"></tb-combo>
         <tb-combo [caption]="_TB('Storage')" cmpId="IDC_RMPURCHASESDOC_STORAGE" width="62" [model]="eventData?.model?.DeleterConformingStorage1"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Journal')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_DELETE_PURCHASESDOC_FILTER_JOURNAL">
         <tb-combo cmpId="IDC_RMPURCHASESDOC_JOURNAL" width="62" [model]="eventData?.model?.DeleterJournal"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Printed')" tbTileMini >
         <tb-radio cmpId="IDC_RMPURCHASESDOC_ALLPRINTED" width="86" [model]="eventData?.model?.DeleterAllPrinted" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_NOPRINTED" width="86" [model]="eventData?.model?.DeleterNoPrinted" [caption]="_TB('Not Printed')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_PRINTED" width="86" [model]="eventData?.model?.DeleterPrinted" [caption]="_TB('Printed')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Posted in Inventory')" tbTileMini >
         <tb-radio cmpId="IDC_RMPURCHASESDOC_ALLINV" width="86" [model]="eventData?.model?.DeleterAllInv" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_NOTININV" width="86" [model]="eventData?.model?.DeleterNotInInv" [caption]="_TB('Not Posted')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_ININV" width="86" [model]="eventData?.model?.DeleterInInv" [caption]="_TB('Posted')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Posted in Accounting')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_DELETE_PURCHASESDOC_FILTER_POSTED_IN_ACC">
         <tb-radio cmpId="IDC_RMPURCHASESDOC_ALLACCOUNTING" width="86" [model]="eventData?.model?.DeleterAllAccounting" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_NOTINACCOUNTING" width="86" [model]="eventData?.model?.DeleterNotInAccounting" [caption]="_TB('Not Posted')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_INACCOUNTING" width="86" [model]="eventData?.model?.DeleterInAccounting" [caption]="_TB('Posted')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Issued')" tbTileMini >
         <tb-radio cmpId="IDC_RMPURCHASESDOC_ALLISSUE" width="86" [model]="eventData?.model?.DeleterAllIssue" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_NOTISSUED" width="86" [model]="eventData?.model?.DeleterNotIssued" [caption]="_TB('Not Issued')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_ISSUED" width="86" [model]="eventData?.model?.DeleterIssued" [caption]="_TB('Issued')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Summarized')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_DELETE_PURCHASESDOC_FILTER_SUMMARIZED">
         <tb-radio cmpId="IDC_RMPURCHASESDOC_ALLSUMM" width="86" [model]="eventData?.model?.DeleterSummarizedAll" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_NOTSUMM" width="86" [model]="eventData?.model?.DeleterNotSummarized" [caption]="_TB('Not Summarized')"></tb-radio>
         <tb-radio cmpId="IDC_RMPURCHASESDOC_SUMM" width="86" [model]="eventData?.model?.DeleterSummarized" [caption]="_TB('Summarized')"></tb-radio>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Actions Tile Group')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Delete...')" tbTileWide >
<div class="col col1"></div><div class="col col2"></div>        </tb-tile>
        <tb-tile [title]="_TB('Reverse...')" tbTileWide >
<div class="col col1"></div><div class="col col2"></div>        </tb-tile>
       </tb-layoutcontainer>
       <tb-tilepanel [title]="_TB('Result')">
        <tb-tile tbTileWide  isCollapsible="False">
<div class="col col1">         <tb-section-title cmpId="IDC_PURCHASESDOC_GAUGE_STATIC" width="587"></tb-section-title>
         <tb-caption cmpId="IDC_PURCHASESDOC_GAUGE" width="587" [model]="eventData?.model?.nCurrentElement"></tb-caption>
</div><div class="col col2"></div>        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
