 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Previous Process')" tbTileMini >
         <tb-radio cmpId="IDC_GENPURCORD_BACKUP" width="138" [model]="eventData?.model?.Restore" [caption]="_TB('Restore')"></tb-radio>
         <tb-radio cmpId="IDC_GENPURCORD_INTEGRATE" width="145" [model]="eventData?.model?.Integrate" [caption]="_TB('Integrate')"></tb-radio>
         <tb-radio cmpId="IDC_GENPURCORD_OVERWRITES" width="150" [model]="eventData?.model?.Overwrites" [caption]="_TB('Overwrite')"></tb-radio>
         <tb-checkbox cmpId="IDC_GENPURCORD_SAVE_SETTINGS" width="140" [model]="eventData?.model?.bSaveSettings" [caption]="_TB('Save Processing')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Priority')" tbTileMini >
         <tb-radio cmpId="IDC_GENPURCORD_PRIORITY_ALL" width="51" [model]="eventData?.model?.AllPriority" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_GENPURCORD_PRIORITY_SELECTION" width="40" [model]="eventData?.model?.PrioritySel" [caption]="_TB('From')"></tb-radio>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_GENPURCORD_PRIORITY_START" width="26" [model]="eventData?.model?.FromPriority"></tb-numeric-text-box>
</div>         <tb-numeric-text-box formatter="Integer" [caption]="_TB('To')" cmpId="IDC_GENPURCORD_PRIORITY_END" width="26" [model]="eventData?.model?.ToPriority"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Reorder Includes...')" tbTileMini >
         <tb-radio cmpId="IDC_GENPURCORD_SHORTAGE" width="150" [model]="eventData?.model?.Shortage" [caption]="_TB('Shortage')"></tb-radio>
         <tb-radio cmpId="IDC_GENPURCORD_INSUFFICIENCY" width="151" [model]="eventData?.model?.Insufficiency" [caption]="_TB('Scarcity')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Use Price and Discounts')" tbTileMini >
         <tb-radio cmpId="IDC_GENPURCORD_PRICE_STANDARD" width="146" [model]="eventData?.model?.StandardPrice" [caption]="_TB('Standard of Item Supplier')"></tb-radio>
         <tb-radio cmpId="IDC_GENPURCORD_PRICE_LAST" width="148" [model]="eventData?.model?.LastPrice" [caption]="_TB('Last of Item Supplier')"></tb-radio>
         <tb-radio cmpId="IDC_GENPURCORD_PRICE_DEFAULT" width="144" [model]="eventData?.model?.DefaultPrice" [caption]="_TB('Default Purchase Process Parameters')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Consider maturing orders')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To Date')" cmpId="IDC_GENPURCORD_DATE_END" width="57" [model]="eventData?.model?.EndingDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Sales Orders')" tbTileMini >
         <tb-radio cmpId="IDC_GENPURCORD_ORDNO_ALL" width="45" [model]="eventData?.model?.AllOrdNo" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_GENPURCORD_ORDNO_SELECTION" width="60" [model]="eventData?.model?.OrdNoSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_GENPURCORD_ORDNO_START" width="80" [model]="eventData?.model?.FromOrdNo"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_GENPURCORD_ORDNO_END" width="80" [model]="eventData?.model?.ToOrdNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Items')" tbTileMini >
         <tb-radio cmpId="IDC_GENPURCORD_ITEMS_ALL" width="43" [model]="eventData?.model?.AllItems" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_GENPURCORD_ITEMS_SELECTION" width="40" [model]="eventData?.model?.ItemsSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_GENPURCORD_ITEM_START" width="80" [model]="eventData?.model?.FromItem"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_GENPURCORD_ITEM_END" width="80" [model]="eventData?.model?.ToItem"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Suppliers')" tbTileMini >
         <tb-radio cmpId="IDC_GENPURCORD_SUPPLIERS_ALL" width="38" [model]="eventData?.model?.AllSupp" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_GENPURCORD_SUPPLIERS_SELECTION" width="71" [model]="eventData?.model?.SuppsSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_GENPURCORD_SUPPLIER_START" width="80" [model]="eventData?.model?.SuppStart"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_GENPURCORD_SUPPLIER_END" width="80" [model]="eventData?.model?.SuppEnd"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Jobs')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_SUPP_REOR_JOBS">
         <tb-radio cmpId="IDC_GENPURCORD_JOB_EVERYONE" width="32" [model]="eventData?.model?.AllProductionJob" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_GENPURCORD_JOB_SELECTION" width="32" [model]="eventData?.model?.ProductionJobSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_GENPURCORD_JOB_START" width="79" [model]="eventData?.model?.FromProducitonJob"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_GENPURCORD_JOB_END" width="79" [model]="eventData?.model?.ToProductionJob"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Examine Situation of...')" tbTileMini >
         <tb-radio cmpId="IDC_GENPURCORD_INVENTORY_GENERAL" width="90" [model]="eventData?.model?.GenInvSel" [caption]="_TB('General Inventory')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_GENPURCORD_STORAGE_SELECTION" width="58" [model]="eventData?.model?.StorageSel" [caption]="_TB('Storage')"></tb-radio>
         <tb-text cmpId="IDC_GENPURCORD_STORAGE" width="69" [model]="eventData?.model?.Storage"></tb-text>
</div>         <tb-enum-combo [caption]="_TB('Specificator Type')" cmpId="IDC_GENPURCORD_CODETYPE_SPECIFICATOR" width="69" [model]="eventData?.model?.SpecificatorType" [itemSource]="IDC_GENPURCORD_CODETYPE_SPECIFICATOR_itemSource"></tb-enum-combo>
         <tb-text [caption]="_TB('Specificator')" cmpId="IDC_GENPURCORD_SPECIFICATOR" width="69" [model]="eventData?.model?.Specificator"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Ignore...')" tbTileMini >
         <tb-checkbox cmpId="IDC_GENPURCORD_ITM_WITHOUT_SUPP" width="152" [model]="eventData?.model?.ItemsWithoutSupp" [caption]="_TB('Items without a preferred supplier')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_GENPURCORD_IGNORE_STOCKS" width="152" [model]="eventData?.model?.IgnoreStock" [caption]="_TB('On-hand inventory ')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_GENPURCORD_IGNORE_PURCHASEORDER" width="151" [model]="eventData?.model?.IgnorePurchaseOrd" [caption]="_TB('Open purchase orders')"></tb-checkbox>
         <tb-section-title cmpId="IDC_STATIC_GENPURCORD_GROUP_ORDERS" width="155"></tb-section-title>
         <tb-checkbox cmpId="IDC_GENPURCORD_GROUP_ORDERS" width="137" [model]="eventData?.model?.GroupOrders" [caption]="_TB('Group Sales Orders')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Consider...')" tbTileMini >
         <tb-checkbox cmpId="IDC_GENPURCORD_ITM_MINIMUM_STOCK" width="152" [model]="eventData?.model?.bOnlyItemsWithMinimumStock" [caption]="_TB('Only items with a minimum stock')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_GENPURCORD_ITM_SHORTAGE" width="153" [model]="eventData?.model?.ItemsShortage" [caption]="_TB('Also items Shortage')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_GENPURCORD_ITM_BLOCKED_ORDERS" cmpId="IDC_GENPURCORD_ITM_BLOCKED_ORDERS" width="151" [model]="eventData?.model?.bBlockedOrders" [caption]="_TB('Also Blocked Orders')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_GENPURCORD_ITM_BILLOFMATERIALS" cmpId="IDC_GENPURCORD_ITM_BILLOFMATERIALS" width="150" [model]="eventData?.model?.ItemsBoM" [caption]="_TB('Also BOM items')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Supplier Selection')" tbTileAutoFill  isCollapsible="True" isCollapsed="True">
        <tb-body-edit cmpId="IDC_TD_SUPP_REOR_SUPPLIER_SEL_RESULT" width="325" [model]="eventData?.model?.SupplierSelection">
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_SELECT" columnName="SupplierSe_Sel" [title]="_TB('Selected')" columnType="tb-checkbox" columnName="IDC_GENPURCORD_MOD_SELECT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_SUPPLIER" columnName="Supplier" [title]="_TB('Supplier')" columnType="tb-combo" columnName="IDC_GENPURCORD_MOD_SUPPLIER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_SUPPLIERNAME" columnName="SupplierDes" [title]="_TB('Company Name')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_SUPPLIERNAME">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_STORAGE" columnName="Storage" [title]="_TB('Storage')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_STORAGE" *ngIf="eventData?.activation?.IDC_GENPURCORD_MOD_STORAGE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_CODETYPESPEC" columnName="SpecificatorType" [title]="_TB('Spec. Type')" columnType="tb-enum-combo" columnName="IDC_GENPURCORD_MOD_CODETYPESPEC" *ngIf="eventData?.activation?.IDC_GENPURCORD_MOD_CODETYPESPEC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_SPECIFICATOR" columnName="Specificator" [title]="_TB('Specificator')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_SPECIFICATOR" *ngIf="eventData?.activation?.IDC_GENPURCORD_MOD_SPECIFICATOR">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_ITEM" columnName="Item" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_ITEM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_SUPPLIERCODE" columnName="SupplierCode" [title]="_TB('Supplier Code')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_SUPPLIERCODE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_DESCRIPTION" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_DESCRIPTION">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_GENPURCORD_MOD_TOORDER" columnName="ToOrder" [title]="_TB('Qty to order')" columnType="tb-numeric-text-box" columnName="IDC_GENPURCORD_MOD_TOORDER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_UOM_ISSUETOPROD" columnName="UoM" [title]="_TB('Receipt UoM')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_UOM_ISSUETOPROD">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_UOM_BASE" columnName="BaseUoM" [title]="_TB('Base UoM')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_UOM_BASE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_CODETYPE_RESERVE" columnName="ReservationType" [title]="_TB('Covering')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_CODETYPE_RESERVE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_MOD_SALEORDNO" columnName="ReferenceDocNo" [title]="_TB('Order No.')" columnType="tb-label-static" columnName="IDC_GENPURCORD_MOD_SALEORDNO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_GENPURCORD_MOD_POSITION" columnName="Position" [title]="_TB('Pos.')" columnType="tb-numeric-text-box" columnName="IDC_GENPURCORD_MOD_POSITION">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
       <tb-tile [title]="_TB('Result')" tbTileAutoFill  isCollapsible="True" isCollapsed="True">
        <tb-body-edit cmpId="IDC_TD_SUPP_REOR_DETAILED_RESULT" width="325" [model]="eventData?.model?.Suppliers">
         <tb-body-edit-column cmpId="IDC_GENPURCORD_RESULTS_SELECTED" columnName="Suppliers_Sel" [title]="_TB('Selected')" columnType="tb-checkbox" columnName="IDC_GENPURCORD_RESULTS_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_RESULTS_SUPPLIER" columnName="Supplier" [title]="_TB('Supplier')" columnType="tb-label-static" columnName="IDC_GENPURCORD_RESULTS_SUPPLIER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_RESULTS_COMPANYNAME" columnName="CompanyName" [title]="_TB('Company Name')" columnType="tb-label-static" columnName="IDC_GENPURCORD_RESULTS_COMPANYNAME">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_RESULTS_STORAGE" columnName="Storage" [title]="_TB('Storage')" columnType="tb-label-static" columnName="IDC_GENPURCORD_RESULTS_STORAGE" *ngIf="eventData?.activation?.IDC_GENPURCORD_RESULTS_STORAGE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_RESULTS_CODETYPESPEC" columnName="SpecificatorType" [title]="_TB('Spec. Type')" columnType="tb-enum-combo" columnName="IDC_GENPURCORD_RESULTS_CODETYPESPEC" *ngIf="eventData?.activation?.IDC_GENPURCORD_RESULTS_CODETYPESPEC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_RESULTS_SPECIFICATOR" columnName="Specificator" [title]="_TB('Specificator')" columnType="tb-label-static" columnName="IDC_GENPURCORD_RESULTS_SPECIFICATOR" *ngIf="eventData?.activation?.IDC_GENPURCORD_RESULTS_SPECIFICATOR">
         </tb-body-edit-column>
         <tb-body-edit-column [readonly]="true" height width cmpId="IDC_GENPURCORD_RESULTS_ADDRESS" columnName="Address" [title]="_TB('Address')" columnType="tb-textarea" columnName="IDC_GENPURCORD_RESULTS_ADDRESS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_GENPURCORD_RESULTS_CITY" columnName="City" [title]="_TB('Municipality')" columnType="tb-label-static" columnName="IDC_GENPURCORD_RESULTS_CITY">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_BATCH_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_BATCH_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_BATCH_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_BATCH_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
