<ng-template #optionsTemplate>
    <div class="tb-hotlink-optionsPopup searchOptions" [ngStyle]="optionsPopupStyle">
        <div *ngFor="let item of (state$ | async).selectionTypes" style="display: flex; width: auto" [ngClass]="getOptionClass(item)" (click)="selectionTypeChanged(item);">
            <div class="grid-item">Search for {{item}}</div>   
        </div>
    </div>
</ng-template>
<ng-template #tableTemplate>
    <tb-customisable-grid [canAutoFit]="false" [pageSize]="pageSize" [height]="300" [state]="state$ | async" (selectionChange)="selectionChanged($event)" (selectAndEdit)="selectAndEdit($event)"></tb-customisable-grid>
</ng-template>
<div class="hotlinkButtonsContainer" #hotLinkButtons>
    <button #hotLinkButton kendoButton tabindex="-1" (click)="toggleTable($event)" [disabled]="!(slice$ | async)?.enabled">
        <m4-icon [icon]="buttonIcon"></m4-icon>
    </button>
</div>