<div #hotLinkButtons>
    <button kendoButton #anchor (click)="onOptionsClick()" [icon]="'more-vertical'" [disabled]="!(model?.enabled)"></button>
    <kendo-popup [anchor]="anchor" (blur)="closeOptions()" *ngIf="showOptions$ | async">
        <div class="searchOptions">
            Search for:
            <br>
            <div *ngFor="let item of selectionTypes" [ngClass]="{'elemSelected': item===selectionType, 'selTypeElem':true}" (click)="selectionTypeChanged(item)">
                {{item}}
            </div>
        </div>
    </kendo-popup>

    <button kendoButton (click)="onSearchClick()" [icon]="'search'" [disabled]="!(model?.enabled)"></button>
    <div #anchorTable></div>
    <kendo-popup [anchor]="anchorTable" *ngIf="showTable$ | async" [ngStyle]="popupStyle">
        <kendo-grid [data]="gridView | async" 
                    [pageSize]="pageSize"
                    [selectable]="true" 
                    [skip]="paginator.skip"
                    [filter]="filterer.filter"
                    [filterable]="true"
                    (filterChange)="filterChange($event)"
                    [pageable]="{
                        buttonCount: buttonCount,
                        info: info,
                        type: type,
                        pageSizes: pageSizes,
                        previousNext: previousNext
                      }"
                    [height]="300"
                    (pageChange)="pageChange($event)"
                    (selectionChange)="selectionChanged($event)"
                    style="cursor:pointer">
            <kendo-grid-column *ngFor="let col of columns" field="{{col.id}}" title="{{col.id | uppercase}}" 
            [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em'}">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <div class="hotLinkGridCell"> {{dataItem[col.id] | tbEnums: col.type | async}} </div>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </kendo-popup>
</div>