.tableHeader {
    /*background-color: #0277bd;
    color: white;*/
    background-color: #666;
    color: #fff;
    text-align: center;
}

.gridBody {
    background: whitesmoke;
    position: fixed;
    font-size: small;
    border: 1px solid rgba(0, 0, 0, .05);
    width: 700px;
}

.hotLinkGridCell {
    text-align: center;
}

.searchOptions {
    padding: 1px 3px;
}

.selTypeElem {
    cursor: pointer;
    padding: 0 5px;
    width: 100%;
}

.selTypeElem:hover {
    background-color: rgba(202, 230, 247, 0.8);
}

.elemSelected {
    background: #bde3f8;
}

.hotlinkButtonsContainer {
    display: -webkit-inline-box;
   // margin-bottom: 5px;
}

.dropDownItem {
    display: flex;
    flex: 1
}

.dropDownItemId {
    font-weight: bold
}

.dropDownItemDescription {
    font-style: italic
}

.comboBoxPageNavigationButton {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.tablePopup {
    max-width: 50%;
    font-size: small;
}

::ng-deep .k-animation-container-shown,
.k-animation-container>.k-popup {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

::ng-deep a.k-link.k-pager-nav.k-pager-last {
    display: none;
}

::ng-deep .k-filtercell {
    padding: 5px 5px;
}

::ng-deep .k-i-loading::after,
.k-loading-image::after {
    margin-top: 0.75em;
}

::ng-deep .k-i-loading::before,
.k-loading-image::before {
    margin-top: 0.50em;
}

::ng-deep .dropDownNoData.k-loading-image::after {
    margin-top: -0.5em;
}

::ng-deep .dropDownNoData.k-loading-image::before {
    margin-top: -0.75em;
}