<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo optional="false" localize="Electronic Invoicing - Brazilian localization" destinationfolder="TbApps" >
  <Components>
    <Library name="ElectronicInvoicing_BRComponents"		    deploymentpolicy="base"   sourcefolder="Components" 		    aggregatename = "MDCComponents" />
    <Library name="ElectronicInvoicing_BRBatchDocuments"    deploymentpolicy="full"   sourcefolder="BatchDocuments"     aggregatename = "MDCDocuments" />
    <Library name="ElectronicInvoicing_BRAddOnsSales"		    deploymentpolicy="addon"  sourcefolder="AddOnsSales" 		    aggregatename = "MDCAddOnsSales" />
    <Library name="ElectronicInvoicing_BRAddOnsPurchases"   deploymentpolicy="addon"  sourcefolder="AddOnsPurchases"    aggregatename = "MDCAddOnsSales" />
    <Library name="ElectronicInvoicing_BRAddOnsBusiness_BR" deploymentpolicy="addon"  sourcefolder="AddOnsBusiness_BR"  aggregatename = "MDCAddOnsSales" />
  </Components>
</ModuleInfo>