 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="tb-master" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Main Data')" tbTileWide >
<div class="col col1"></div><div class="col col2"></div>        </tb-tile>
        <tb-layoutcontainer isCollapsible="True" tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Address')" tbTileStandard >
          <tb-textarea [readonly]="true" height="48" width="154" [caption]="_TB('Address')" cmpId="IDC_WRK_MASTER_ADDRESS" width="154" [model]="eventData?.model?.Workers?.DomicilyAddress"></tb-textarea>
          <tb-text [caption]="_TB('Additional address')" cmpId="IDC_WRK_MASTER_ADDRESS2" width="154" [model]="eventData?.model?.Workers?.Address2"></tb-text>
          <tb-text [caption]="_TB('Municipality')" cmpId="IDC_WRK_MASTER_CITY" width="154" [model]="eventData?.model?.Workers?.DomicilyCity"></tb-text>
          <tb-text [caption]="_TB('ZIP Code')" cmpId="IDC_WRK_MASTER_ZIPCODE" width="40" [model]="eventData?.model?.Workers?.DomicilyZip"></tb-text>
          <tb-text [caption]="_TB('State/County')" cmpId="IDC_WRK_MASTER_COUNTY" width="154" [model]="eventData?.model?.Workers?.DomicilyCounty"></tb-text>
          <tb-text [caption]="_TB('Country')" cmpId="IDC_WRK_MASTER_COUNTRY" width="154" [model]="eventData?.model?.Workers?.DomicilyCountry"></tb-text>
          <tb-text [caption]="_TB('Latitude')" cmpId="IDC_WRK_MASTER_LATITUDE" width="154" [model]="eventData?.model?.Workers?.Latitude"></tb-text>
          <tb-text [caption]="_TB('Longitude')" cmpId="IDC_WRK_MASTER_LONGITUDE" width="154" [model]="eventData?.model?.Workers?.Longitude"></tb-text>
         </tb-tile>
         <tb-tile [title]="_TB('Contacts')" tbTileStandard >
          <tb-phone mask [caption]="_TB('Phone')" cmpId="IDC_WRK_MASTER_TELEPHONE_4" width="84" [model]="eventData?.model?.Workers?.Telephone4"></tb-phone>
          <tb-phone mask cmpId="IDC_WRK_MASTER_TELEPHONE_2" width="84" [model]="eventData?.model?.Workers?.Telephone2"></tb-phone>
          <tb-phone mask [caption]="_TB('Fax')" cmpId="IDC_WRK_MASTER_TELEPHONE_3" width="84" [model]="eventData?.model?.Workers?.Telephone3"></tb-phone>
          <tb-phone mask [caption]="_TB('Other')" cmpId="IDC_WRK_MASTER_TELEPHONE_1" width="84" [model]="eventData?.model?.Workers?.Telephone1"></tb-phone>
          <tb-phone mask [caption]="_TB('Skype')" cmpId="IDC_WRK_OTHER_SKYPE" width="154" [model]="eventData?.model?.Workers?.SkypeID"></tb-phone>
          <tb-email [caption]="_TB('Email')" cmpId="IDC_WRK_OTHER_EMAIL" width="154" [model]="eventData?.model?.Workers?.Email"></tb-email>
          <tb-link [caption]="_TB('Internet')" cmpId="IDC_WRK_OTHER_URL" width="154" [model]="eventData?.model?.Workers?.URL"></tb-link>
          <tb-text [caption]="_TB('Notes')" cmpId="IDC_WRK_MASTER_NOTES" width="154" [model]="eventData?.model?.Workers?.Notes"></tb-text>
         </tb-tile>
        </tb-layoutcontainer>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Other Data')" icon="tb-mastermore" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Other Data')" tbTileWide >
<div class="col col1"></div><div class="col col2"></div>        </tb-tile>
        <tb-tile [title]="_TB('Arrangement')" tbTileStandard  isCollapsible="True" isCollapsed="True">
         <tb-body-edit cmpId="IDC_WRK_ARRANGEMENT_BODYEDIT" width="393" [model]="eventData?.model?.WorkersArrangements">
          <tb-body-edit-column cmpId="IDC_WRK_ARRANG_BE_ARRANG" columnName="Arrangement" [title]="_TB('Arrangement')" columnType="tb-text" columnName="IDC_WRK_ARRANG_BE_ARRANG">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_ARRANG_BE_LEVEL" [model]="eventData?.model?.Arrangements?.ArrangementLevel" [title]="_TB('Level')" columnType="tb-text" columnName="IDC_WRK_ARRANG_BE_LEVEL">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_WRK_ARRANG_BE_BASICPAY" columnName="BasicPay" [title]="_TB('Basic Pay')" columnType="tb-numeric-text-box" columnName="IDC_WRK_ARRANG_BE_BASICPAY">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_WRK_ARRANG_BE_TOTALPAY" columnName="TotalPay" [title]="_TB('Total Pay')" columnType="tb-numeric-text-box" columnName="IDC_WRK_ARRANG_BE_TOTALPAY">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_WRK_ARRANG_BE_FROMDATE" columnName="FromDate" [title]="_TB('From')" columnType="tb-date-input" columnName="IDC_WRK_ARRANG_BE_FROMDATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_WRK_ARRANG_BE_TODATE" columnName="ToDate" [title]="_TB('To')" columnType="tb-date-input" columnName="IDC_WRK_ARRANG_BE_TODATE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_ARRANG_BE_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_WRK_ARRANG_BE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
        <tb-tile [title]="_TB('Absences')" tbTileStandard  isCollapsible="True" isCollapsed="True">
         <tb-body-edit cmpId="IDC_WRK_ABSENCES_BODYEDIT" width="393" [model]="eventData?.model?.WorkersAbsences">
          <tb-body-edit-column cmpId="IDC_WRK_ABSENCES_BE_REASON" columnName="Reason" [title]="_TB('Reason')" columnType="tb-text" columnName="IDC_WRK_ABSENCES_BE_REASON">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_ABSENCES_BE_MANAGER" columnName="Manager" [title]="_TB('Manager')" columnType="tb-combo" columnName="IDC_WRK_ABSENCES_BE_MANAGER">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_ABSENCES_BE_MANAGER_DESC" columnName="ManagerDesc" [title]="_TB('Manager Name')" columnType="tb-label-static" columnName="IDC_WRK_ABSENCES_BE_MANAGER_DESC">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="DateTime" [readonly]="false" cmpId="IDC_WRK_ABSENCES_BE_STARTDATE" columnName="StartingDate" [title]="_TB('Start')" columnType="tb-date-input" columnName="IDC_WRK_ABSENCES_BE_STARTDATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="DateTime" [readonly]="false" cmpId="IDC_WRK_ABSENCES_BE_TODATE" columnName="EndingDate" [title]="_TB('End')" columnType="tb-date-input" columnName="IDC_WRK_ABSENCES_BE_TODATE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_ABSENCES_BE_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_WRK_ABSENCES_BE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
        <tb-tile [title]="_TB('Custom Data')" tbTileStandard  isCollapsible="True">
         <tb-body-edit cmpId="IDC_WRK_FIELDS_BODYEDIT" width="393" [model]="eventData?.model?.WorkersFields">
          <tb-body-edit-column cmpId="IDC_WRK_FIELDS_BE_NAME" columnName="FieldName" [title]="_TB('Name')" columnType="tb-text" columnName="IDC_WRK_FIELDS_BE_NAME">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_FIELDS_BE_VALUE" columnName="FieldValue" [title]="_TB('Value')" columnType="tb-text" columnName="IDC_WRK_FIELDS_BE_VALUE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_FIELDS_BE_HIDE_ON_LAYOUT" columnName="HideOnLayout" [title]="_TB('Hide')" columnType="tb-checkbox" columnName="IDC_WRK_FIELDS_BE_HIDE_ON_LAYOUT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_FIELDS_BE_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_WRK_FIELDS_BE_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Child Resources')" icon="tb-childresource" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Child Resources')" tbTileStandard >
         <tb-body-edit cmpId="IDC_WRK_DETAILS_BODYEDIT" width="393" [model]="eventData?.model?.WorkersDetails">
          <tb-body-edit-column cmpId="IDC_WRK_DETAILS_BE_IS_WORKER" columnName="IsWorker" [title]="_TB('Is Worker')" columnType="tb-checkbox" columnName="IDC_WRK_DETAILS_BE_IS_WORKER">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_DETAILS_BE_TYPE" columnName="ChildResourceType" [title]="_TB('Type')" columnType="tb-combo" columnName="IDC_WRK_DETAILS_BE_TYPE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_DETAILS_BE_CODE" columnName="ChildResourceCode" [title]="_TB('Code')" columnType="tb-text" columnName="IDC_WRK_DETAILS_BE_CODE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_DETAILS_BE_WORKER" columnName="ChildWorkerID" [title]="_TB('Worker')" columnType="tb-combo" columnName="IDC_WRK_DETAILS_BE_WORKER">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_DETAILS_BE_WORKER_DESC" columnName="WorkerDesc" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_WRK_DETAILS_BE_WORKER_DESC">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_WRK_DETAILS_BE_MANAGER" columnName="ManagerDesc" [title]="_TB('Manager')" columnType="tb-label-static" columnName="IDC_WRK_DETAILS_BE_MANAGER">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
