 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileMini >
        <tb-section-title cmpId="IDC_RESOURCES_LAYOUT_ACTION_MSG" width="314" [model]="eventData?.model?.sActionMessage"></tb-section-title>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_RESOURCES_LAYOUT_ACTION_MOVE?.enabled" icon="tb-copy" [caption]="_TB('eventData?.model?.sButton1')" cmpId="ID_RESOURCES_LAYOUT_ACTION_MOVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_RESOURCES_LAYOUT_ACTION_COPY?.enabled" icon="framework.tbframeworkimages.images.25x25.paste.png" [caption]="_TB('eventData?.model?.sButton2')" cmpId="ID_RESOURCES_LAYOUT_ACTION_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_RESOURCES_LAYOUT_ACTION_CANCEL?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="ID_RESOURCES_LAYOUT_ACTION_CANCEL"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
