.tb-tabber {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.tab-content {
    overflow: auto;
    flex: 1;
}

ul.tabber {
    list-style: none;
    padding: 0;
    display: flex;
    background-color: #1976d2;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
}

ul.tabber>li {
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

li.active {
    background-color: #fff;
}

a.tabTitle {
    margin-left: 5px;
    margin-right: 5px;
}

a.close {
    position: absolute;
    top: 1px;
    right: 1px;
}