<tb-control-container type="tb-numberer">
    <tb-caption *ngIf="caption" caption="{{caption}}" forCmpID="forCmpID"></tb-caption>
    <kendo-maskedtextbox #textbox [mask]="mask" [ngModel]="model?.value" required="required" [disabled]="!model?.enabled || !ctrlEnabled" (ngModelChange)="changeModelValue($event)" [style.width.px]="width" (keypress)="onKeyPress($event)" (keydown)="onKeyDown($event)"
        (blur)="onBlur($event)" [maxlength]="maxLength">
    </kendo-maskedtextbox>
    <ng-template [ngIf]="hotLink">
        <ng-template [tbHotLink]="hotLink"></ng-template>
    </ng-template>
</tb-control-container>