.toolbar-bottom {
    height: 40px;
    line-height: 40px;
    background: #1976d2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    // position: fixed;
    // bottom: 0;
    width: 100%;
}