<div class="application-selector">
    <ul class="application-list" *ngIf="menuService?.applicationMenu?.Application"> 
        <li *ngFor="let application of utilsService.toArray(menuService?.applicationMenu?.Application)" (click)="selectApplication(application)">
            <div *ngIf="application != undefined">
                <img [src]="imageService.getApplicationIcon(application)" /><br />
                <span>{{application.title}}</span>
            </div>
        </li>
    </ul>
</div>