.application-selector {
    margin-bottom: 20px;
}

ul.application-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background: #3e3e3e;
    &> ::ng-deep li {
        flex-grow: 1;
        width: 33%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #9f9f9f;
        background: #3e3e3e;
        text-align: center;
        padding: 12px 0;
    }
    &> ::ng-deep li:hover {
        color: #fff;
        background: #333;
        transition: opacity 0.1s;
    }
    &>li img {
        max-width: 120px;
    }
    &>li p {
        margin: 3px 0 0;
        font-size: 12px;
        font-weight: 500;
    }
}