 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('BOM Posting No')" tbTileMini >
         <tb-radio cmpId="IDC_POSTING_BOMNO_ALL" width="79" [model]="eventData?.model?.AllBOMNo" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_POSTING_BOMNO_SEL" width="34" [model]="eventData?.model?.BOMNoSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_POSTING_BOMNO_FROM" width="62" [model]="eventData?.model?.FromBOMPostingNo"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_POSTING_BOMNO_TO" width="62" [model]="eventData?.model?.ToBOMPostingNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Date')" tbTileMini >
         <tb-radio cmpId="IDC_POSTING_DOC_DATE_EVERYONE" width="79" [model]="eventData?.model?.AllBOMDate" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_POSTING_DOC_DATE_SEL" width="34" [model]="eventData?.model?.BOMDateSel" [caption]="_TB('From')"></tb-radio>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_POSTING_DOC_DATE_FROM" width="62" [model]="eventData?.model?.FromDocDate"></tb-date-input>
</div>         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_POSTING_DOC_DATE_TO" width="62" [model]="eventData?.model?.ToDocDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Item')" tbTileMini >
         <tb-radio cmpId="IDC_POSTING_BOM_ALL" width="79" [model]="eventData?.model?.AllItem" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_POSTING_BOM_SEL" width="34" [model]="eventData?.model?.SelItem" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_POSTING_BOM_FROM" width="62" [model]="eventData?.model?.FromItem"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_POSTING_BOM_TO" width="62" [model]="eventData?.model?.ToItem"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Variant')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_POSTING_DELETION_FILTER_VARIANT">
         <tb-radio cmpId="IDC_POSTING_VARIANT_ALL" width="79" [model]="eventData?.model?.AllVariant" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_POSTING_VARIANT_SEL" width="34" [model]="eventData?.model?.SelVariant" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_POSTING_VARIANT_FROM" width="62" [model]="eventData?.model?.FromVariant"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_POSTING_VARIANT_TO" width="62" [model]="eventData?.model?.ToVariant"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Job')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_POSTING_DELETION_FILTER_JOB">
         <tb-radio cmpId="IDC_POSTING_JOB_ALL" width="79" [model]="eventData?.model?.AllJob" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_POSTING_JOB_SEL" width="34" [model]="eventData?.model?.SelJob" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_POSTING_JOB_FROM" width="62" [model]="eventData?.model?.FromJob"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_POSTING_JOB_TO" width="62" [model]="eventData?.model?.ToJob"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="138" [model]="eventData?.model?.DBTBOMPostingDeletion">
         <tb-body-edit-column cmpId="IDC_POSTING_DELETION_SEL_BE" columnName="TEnhPostingDeletionSelection" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_POSTING_DELETION_SEL_BE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_POSTING_DELETION_POSTING_NO_BE" columnName="BOMPostingNo" [title]="_TB('BOM Posting No')" columnType="tb-label-static" columnName="IDC_POSTING_DELETION_POSTING_NO_BE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_POSTING_DELETION_DOC_NO_BE" columnName="DocumentNo" [title]="_TB('Document No')" columnType="tb-label-static" columnName="IDC_POSTING_DELETION_DOC_NO_BE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_POSTING_DELETION_DOC_DATE_BE" columnName="DocumentDate" [title]="_TB('Document Date')" columnType="tb-date-input" columnName="IDC_POSTING_DELETION_DOC_DATE_BE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_POSTING_DELETION_DATE_BE" columnName="PostingDate" [title]="_TB('Posting Date')" columnType="tb-date-input" columnName="IDC_POSTING_DELETION_DATE_BE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_POSTING_DELETION_ITEM_BE" columnName="BOM" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_POSTING_DELETION_ITEM_BE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_POSTING_DELETION_VARIANT_BE" columnName="Variant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_POSTING_DELETION_VARIANT_BE" *ngIf="eventData?.activation?.IDC_POSTING_DELETION_VARIANT_BE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_POSTING_DELETION_JOB_BE" columnName="Job" [title]="_TB('Job')" columnType="tb-label-static" columnName="IDC_POSTING_DELETION_JOB_BE" *ngIf="eventData?.activation?.IDC_POSTING_DELETION_JOB_BE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_POSTING_DELETION_NOTES_BE" columnName="Notes" [title]="_TB('Notes')" columnType="tb-label-static" columnName="IDC_POSTING_DELETION_NOTES_BE">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_POSTING_DELETION_PRINTER?.enabled" icon="tb-print" [caption]="_TB('Printer')" cmpId="ID_POSTING_DELETION_PRINTER"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
