<div class="container" fxLayout="column" style="padding:10px">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Database Name" value="" [(ngModel)]="model.name">
      </div>
      <div class="box">
        <label><input type="checkbox" name="cboxDisabled" value="" [(ngModel)]="model.disabled">Disabled</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
      <textarea rows="5" cols="36" placeholder="Description" maxlength="255" [(ngModel)]="model.description"></textarea>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Provider" value="" [(ngModel)]="model.provider">
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <label><input type="checkbox" name="cboxIsUnicode" value="" [(ngModel)]="model.isUnicode">Use Unicode</label>
      </div>
    </div>
  </div>
   <div class="row">
    <app-database-info [isDMS]="false" [subDBModel]="model"></app-database-info>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <label><input type="checkbox" name="cboxUseDMS" value="" (change)="onUseDMSChange($event)" [(ngModel)]="model.useDMS">Use DMS</label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="useDMS">
    <app-database-info [isDMS]="true" [subDBModel]="model"></app-database-info>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Language" value="" [(ngModel)]="model.language">
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Regional Settings" value="" [(ngModel)]="model.regionalSettings">
      </div>
    </div>
  </div>
  <br>
</div>