<div class="container" fxLayout="column" style="padding:10px">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Database Name" value="" [(ngModel)]="model.Name">
      </div>
      <div class="box">
        <label><input type="checkbox" name="cboxDisabled" value="" [(ngModel)]="model.Disabled">Disabled</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
      <textarea rows="5" cols="36" placeholder="Description" maxlength="255" [(ngModel)]="model.Description"></textarea>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Provider" value="" [(ngModel)]="model.Provider">
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <label><input type="checkbox" name="cboxIsUnicode" value="" [(ngModel)]="model.IsUnicode">Use Unicode</label>
      </div>
    </div>
  </div>
   <div class="row">
    <app-database-info [isDMS]="false" [subDBModel]="model"></app-database-info>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <label><input type="checkbox" name="cboxUseDMS" value="" (change)="onUseDMSChange($event)" [(ngModel)]="model.UseDMS">Use DMS</label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="useDMS">
    <app-database-info [isDMS]="true" [subDBModel]="model"></app-database-info>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Language" value="" [(ngModel)]="model.Language">
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <input type="text" placeholder="Regional Settings" value="" [(ngModel)]="model.RegionalSettings">
      </div>
    </div>
  </div>
  <br>
  <div class="row end-xs center-sm center-lg">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="box">
        <button type="button" class="btn btn-primary" (click)="submitDatabase()">Save</button>
      </div>
    </div>
  </div>
</div>