<div class="container">
  <h2 class="componentTitle">Subscription {{model.SubscriptionKey}} / Database {{model.Name}}</h2>

  <div *ngIf="databaseService.needsAskCredentials && !databaseService.testConnectionOK">
    <app-database-testconnection></app-database-testconnection>
  </div>

  <div *ngIf="!(databaseService.needsAskCredentials && !databaseService.testConnectionOK)">
    <admin-tabs>
      <admin-tab [tabTitle]="'Main data'">
        <div class="tab-content">
          <app-subscription-database [model]="model" [originalModel]="originalModel"></app-subscription-database>
        </div>
      </admin-tab>
      <admin-tab [tabTitle]="'Update structure'">
        <div class="tab-content">
          <app-database-upgrade [model]="model"></app-database-upgrade>
        </div>
      </admin-tab>
      <admin-tab [tabTitle]="'Import data'">
        <div class="tab-content">
          <app-import-data [model]="model"></app-import-data>
        </div>
      </admin-tab>
      <admin-tab [tabTitle]="'Delete options'">
        <div class="tab-content">
          <h5>Coming soon...</h5>
        </div>
      </admin-tab>
    </admin-tabs>
  </div>

</div>