<div class="container">
  <h2 class="componentTitle">Subscription {{ model.SubscriptionKey }}</h2>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        Main Data
        <div>
          <admin-input-text [inputLabel]="'Subscription Key'" [textType]="'text'" [readOnly]=editing [(inputData)]="model.SubscriptionKey"></admin-input-text>
        </div>
        <div>
          <admin-input-text [inputLabel]="'Description'" [textType]="'text'" [(inputData)]="model.Description"></admin-input-text>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="adminTile tileNormal">
        Status
        <div>
          <admin-checkbox [checkText]="'Under maintenance'" [checkId]="'chkUnderMaintenance'" [(checkValue)]="model.UnderMaintenance"
            (inputDataChange)="model.UnderMaintenance = $event"></admin-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="row center-xs end-sm end-lg">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <admin-button [primary]=true [buttonText]="'Save'" (click)="submitSubscription()"></admin-button>
    </div>
  </div>

  <div *ngIf="editing" class="row">
    <div *ngIf="databases.length === 0" class="col-xs-12 col-md-12">
      <div class="box mt20">
        <div>
          <app-action-panel [iconSignature]="'notifications'" [message]="'Databases for this subscription have not been configured.'"
            [actionText]="'Configure'" [showButton]="true" (actionFired)="configureDatabase()">
          </app-action-panel>
        </div>
      </div>
    </div>

    <div *ngIf="databases.length > 0" class="col-xs-12 col-md-12">
      <div *ngIf="!underMaintenance" class="box mt20">
        <h4 class="componentTitle" style="display:inline-block;width:100%">Databases</h4>
        <admin-list [readingData]=readingData [showHeader]=true [items]=databases [columnNames]="['Name', 'Description', 'DBServer', 'Test']"
          (onSelectedItem)="openDatabase($event)"></admin-list>
        <div *ngIf="databases.length == 1">
          <admin-button [primary]=true [buttonText]="addDatabaseBtnText" (click)="addDatabase()"></admin-button>
        </div>
      </div>
      <div *ngIf="underMaintenance" class="box mt20">
        <img src="assets/ajax-loader.gif" />
        <h4>The databases are under maintenance. Please return later.</h4>
      </div>
    </div>
  </div>
</div>