<div class="container">
  <h2 class="componentTitle">Subscription</h2>
  
  <div class="row adminTile">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div style="margin-bottom:10px">
        <label>Subscription Key</label>
        <input type="text" value="" [(ngModel)]="model.SubscriptionKey" [readonly]=editing required>
      </div>
      <div>
        <label>Description</label><br>
        <input type="text" placeholder="Description" value="" [(ngModel)]="model.Description">
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div>
        <label><input type="checkbox" name="cboxUnderMaintenance" value="" [(ngModel)]="model.UnderMaintenance">Under Maintenance</label>
      </div>
    </div>
  </div>
  
  <div class="row adminTile">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div>
        <label>Language</label>
        <input type="text" placeholder="Language" value="" [(ngModel)]="model.Language">
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div>
        <label>Regional Settings</label>
        <input type="text" placeholder="Regional Settings" value="" [(ngModel)]="model.RegionalSettings">
      </div>
    </div>
  </div>

  <div class="row center-xs end-sm end-lg">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" class="cta" style="margin-top:10px;" (click)="submitSubscription()">Save</button>
    </div>
  </div>
    
  <div class="row adminTile" style="margin-top:20px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="componentTitle" style="display:inline-block;width:100%">Databases</h4>
      <h3 *ngIf="!existDatabases" (click)="addDatabase()">
        Databases for this subscription have not been configured.<br>
        <button (click)="addDatabase()" class="cta mt20">configure</button>
      </h3>
      <admin-list [readingData]=readingData [items]=databases [columnNames]="['Name','Description', 'Test']" (onSelectedItem)="openDatabase($event)"></admin-list>
    </div>
 </div>  
</div>