<!-- <div *ngIf="!databaseService.needsAskCredentials || databaseService.testConnectionOK"> -->
  <div *ngIf="!checkDbIsStarted">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile half-tile">
          General information
          <div>
            <admin-input-text [inputLabel]="'Description'" [textType]="'text'" [(inputData)]="model.Description"></admin-input-text>
          </div>
          <div class="m30">
            <admin-checkbox [checkText]="'Disabled'" [checkId]="'chkDisabled'" [(checkValue)]="model.Disabled" (inputDataChange)="model.Disabled = $event"></admin-checkbox>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="adminTile half-tile">
          Parameters
          <div>
            <admin-dropdown [inputLabel]="'Provider'" [(selectedValue)]="selectedProvider" [listItems]="providers" [textField]="'name'" [readOnly]=editing
              [valueField]="'value'" (selectedValueChange)="onProviderValueChange($event)"></admin-dropdown>
          </div>
          <div class="m30">
            <admin-checkbox [checkText]="'Use Unicode'" [checkId]="'chkIsUnicode'" [(checkValue)]="model.IsUnicode" [readOnly]=editing
              (inputDataChange)="model.IsUnicode = $event"></admin-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <app-database-info [isDMS]="false" [subDBModel]="model" [readOnly]="editing"></app-database-info>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <app-database-info [isDMS]="true" [subDBModel]="model" [readOnly]="editing"></app-database-info>
      </div>
    </div>
  </div>

  <div class="row adminTile" *ngIf="checkDbIsStarted">
    <admin-list [items]=operationsList [readingData]=checkDbIsRunning [columnNames]="['Message']"></admin-list>
    <div *ngIf="!checkDbIsRunning">
      <admin-button *ngIf="!saveDbIsRunning" [buttonText]="'Return to main data'" (click)="returnToMainData()"></admin-button>
      <admin-button *ngIf="!checkDbHasErrors && !saveDbIsRunning" [buttonText]="'Confirm'" (click)="submit()"></admin-button>
    </div>
  </div>

  <div *ngIf="!checkDbIsStarted">
    <div class="row center-xs end-sm end-lg">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <admin-button [buttonText]="'Save'" [primary]=true (click)="submit()"></admin-button>
      </div>
    </div>
  </div>

  <admin-dialog [mode]="'message'" [title]="'Save'" [message]="msgDialog" [(opened)]=openMsgDialog [(result)]=dialogResult></admin-dialog>
<!-- </div> -->