<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microarea.EasyBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microarea.EasyBuilder.Properties.Settings>
            <setting name="DebugInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastModule" serializeAs="String">
                <value />
            </setting>
            <setting name="LastApplication" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportPublishedOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcludeSources" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHiddelFields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Microarea_EasyBuilder_CrypterRef1_Crypter30" serializeAs="String">
                <value>http://www.microarea.it/Crypter30/Crypter30.asmx</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Microarea_EasyBuilder_SNGeneratorRef_SNGenerator30" serializeAs="String">
                <value>http://www.microarea.it/sngenerator/sngenerator.asmx</value>
            </setting>
            <setting name="CompanyCode" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeEditorFontFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="CodeEditorFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableDeltaOnSources" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreserveEntireRecordOnSources" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMsBuild" serializeAs="String">
                <value>False</value>
            </setting>
        </Microarea.EasyBuilder.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
