<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Microarea.EasyAttachment.Core.Properties.Settings.CompanyDevelopmentDMSConnectionString"
            connectionString="Data Source=USR-DOSSIANDRE1;Initial Catalog=CompanyDevelopmentDMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>