<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo localize="Woorm Management - Engine" optional="false" destinationfolder="TbApps">
  <Components>
    <Library name="TbWoormEngine" deploymentpolicy="full" aggregatename = "TbGes" sourcefolder="TbWoormEngine" >
      <FilesExtension value="*.pdb" />
    </Library>
  </Components>
</ModuleInfo>