 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('MO')" tbTileMini >
         <tb-radio cmpId="IDC_PICK_MISSINGS_ALL_MO" width="80" [model]="eventData?.model?.bAllMO" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_PICK_MISSINGS_SELECTION_MO" width="37" [model]="eventData?.model?.bManOrdSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_PICK_MISSINGS_ORDERNO_FROM" width="80" [model]="eventData?.model?.FromMONo"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_PICK_MISSINGS_ORDERNO_A" width="80" [model]="eventData?.model?.ToMONo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('JT')" tbTileMini >
         <tb-radio cmpId="IDC_PICK_MISSINGS_EVERYONE_BILLS" width="80" [model]="eventData?.model?.bAllJT" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_PICK_MISSINGS_SELECTION_BILLS" width="32" [model]="eventData?.model?.bJTSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_PICK_MISSINGS_BILLS_FROM" width="80" [model]="eventData?.model?.FromBoLNo"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_PICK_MISSINGS_BILLS_A" width="80" [model]="eventData?.model?.ToBoLNo"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Expected use date')" tbTileMini >
         <tb-radio cmpId="IDC_PICK_MISSINGS_EVERYONE_DATE" width="80" [model]="eventData?.model?.bAllDate" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_PICK_MISSINGS_SELECTION_DATE" width="34" [model]="eventData?.model?.bSelData" [caption]="_TB('From')"></tb-radio>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_PICK_MISSINGS_DATE_FROM" width="57" [model]="eventData?.model?.DateFrom"></tb-date-input>
</div>         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_PICK_MISSINGS_DATE_A" width="57" [model]="eventData?.model?.DateTo"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Default storage')" tbTileMini >
         <tb-combo [caption]="_TB('Raw Materials')" cmpId="IDC_PICK_MISSINGS_STORAGE" width="80" [model]="eventData?.model?.Storage"></tb-combo>
         <tb-combo [caption]="_TB('Semifinished')" cmpId="IDC_PICK_MISSINGS_STORAGE_SEMIFINISHED" width="80" [model]="eventData?.model?.StorageSemifinished"></tb-combo>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="138" [model]="eventData?.model?.PickingListDetails">
         <tb-body-edit-column cmpId="IDC_PICK_MISSINGS_SELECTED" columnName="Selection" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_PICK_MISSINGS_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PICK_MISSINGS_COMPONENT" columnName="Component" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_PICK_MISSINGS_COMPONENT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PICK_MISSINGS_DESCRI_COMPONENT" columnName="ComponentsDes" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_PICK_MISSINGS_DESCRI_COMPONENT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PICK_MISSINGS_VARIANT" columnName="Variant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_PICK_MISSINGS_VARIANT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PICK_MISSINGS_UOM" columnName="UoM" [title]="_TB('UoM')" columnType="tb-label-static" columnName="IDC_PICK_MISSINGS_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_PICK_MISSINGS_QTY_NECESSARYA" columnName="NeededQty" [title]="_TB('Necessary
quantity')" columnType="tb-numeric-text-box" columnName="IDC_PICK_MISSINGS_QTY_NECESSARYA">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_PICK_MISSINGS_EXPECTED_USE" columnName="EstimatedUseDate" [title]="_TB('Use
date')" columnType="tb-date-input" columnName="IDC_PICK_MISSINGS_EXPECTED_USE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PICK_MISSINGS_ORDER" columnName="MONo" [title]="_TB('MO')" columnType="tb-text" columnName="IDC_PICK_MISSINGS_ORDER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PICK_MISSINGS_DN" columnName="JobTicketNo" [title]="_TB('JT')" columnType="tb-text" columnName="IDC_PICK_MISSINGS_DN">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_PICK_MISSINGS_QTY_NOT_FOUND" columnName="NotFoundQty" [title]="_TB('Quantity
not found')" columnType="tb-numeric-text-box" columnName="IDC_PICK_MISSINGS_QTY_NOT_FOUND">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PICK_MISSINGS_UPDATED" columnName="Updated" [title]="_TB('Updated')" columnType="tb-checkbox" columnName="IDC_PICK_MISSINGS_UPDATED">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
