 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tile tbTileStandard >
        <tb-combo [caption]="_TB('Session')" cmpId="IDC_ACCOUNTINGPOSTING_CHOOSESESSION_SESSION" width="60" [model]="eventData?.model?.Session"></tb-combo>
        <tb-label-static [caption]="_TB('Cash')" cmpId="IDC_ACCOUNTINGPOSTING_CHOOSESESSION_CASH" width="60" [model]="eventData?.model?.Cash"></tb-label-static>
        <tb-caption [caption]="_TB('Operator')" cmpId="IDC_ACCOUNTINGPOSTING_CHOOSESESSION_OPERATOR" width="154" [model]="eventData?.model?.WorkerDesc"></tb-caption>
        <tb-date-input formatter="DateTime" [readonly]="true" [caption]="_TB('Opening Date')" cmpId="IDC_ACCOUNTINGPOSTING_CHOOSESESSION_OPENING_DATE" width="70" [model]="eventData?.model?.OpeningDate"></tb-date-input>
        <tb-date-input formatter="DateTime" [readonly]="true" [caption]="_TB('Closing Date')" cmpId="IDC_ACCOUNTINGPOSTING_CHOOSESESSION_CLOSING_DATE" width="70" [model]="eventData?.model?.ClosingDate"></tb-date-input>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  *ngIf="eventData?.activation?.IDD_TD_ACCOUNTINGPOSTING_DATE">
<div class="col col1">        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Posting Date')" cmpId="IDC_ACCOUNTINGPOSTING_POSTDATE" width="57" [model]="eventData?.model?.PostingDate"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Document Date')" cmpId="IDC_ACCOUNTINGPOSTING_DOCDATE" width="57" [model]="eventData?.model?.DocDate"></tb-date-input>
</div><div class="col col2"></div>       </tb-tile>
       <tb-tile tbTileAutoFill >
        <tb-body-edit cmpId="IDC_ACCOUNTINGPOSTING_SELECTION_ENTRIES" width="483" [model]="eventData?.model?.CashAccountingPosting">
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_SEL" columnName="l_TEnhCashSessionsEntries_P01" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_ACCOUNTINGPOSTING_LINE_SEL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="DateTime" [readonly]="true" cmpId="IDC_ACCOUNTINGPOSTING_LINE_POSTINGDATE" columnName="PostingDate" [title]="_TB('Date')" columnType="tb-date-input" columnName="IDC_ACCOUNTINGPOSTING_LINE_POSTINGDATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_SESSIONENTRYID" columnName="l_SessionEntryId" [title]="_TB('Number')" columnType="tb-label-static" columnName="IDC_ACCOUNTINGPOSTING_LINE_SESSIONENTRYID">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_SYMBOL" columnName="l_Symbol" [title]="_TB(' ')" columnType="tb-label-static" columnName="IDC_ACCOUNTINGPOSTING_LINE_SYMBOL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_ACCOUNTINGPOSTING_LINE_AMOUNTPOS" columnName="l_AmountPos" [title]="_TB('+')" columnType="tb-numeric-text-box" columnName="IDC_ACCOUNTINGPOSTING_LINE_AMOUNTPOS">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_ACCOUNTINGPOSTING_LINE_AMOUNTNEG" columnName="l_AmountNeg" [title]="_TB('-')" columnType="tb-numeric-text-box" columnName="IDC_ACCOUNTINGPOSTING_LINE_AMOUNTNEG">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_NOTES" columnName="Notes" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_ACCOUNTINGPOSTING_LINE_NOTES">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_CUSTSUPP" columnName="CustSupp" [title]="_TB('Customer/Supplier')" columnType="tb-label-static" columnName="IDC_ACCOUNTINGPOSTING_LINE_CUSTSUPP">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_TPL" columnName="l_TEnhCashSessionsEntries_P10" [title]="_TB('Template')" columnType="tb-combo" columnName="IDC_ACCOUNTINGPOSTING_LINE_TPL" *ngIf="eventData?.activation?.IDC_ACCOUNTINGPOSTING_LINE_TPL">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_OFFSET" columnName="l_TEnhCashSessionsEntries_P06" [title]="_TB('Offset')" columnType="tb-text" columnName="IDC_ACCOUNTINGPOSTING_LINE_OFFSET">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_OFFSETDESC" [model]="eventData?.model?.HKLAccount?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_ACCOUNTINGPOSTING_LINE_OFFSETDESC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_ACCREASON" columnName="l_TEnhCashSessionsEntries_P08" [title]="_TB('Reason')" columnType="tb-combo" columnName="IDC_ACCOUNTINGPOSTING_LINE_ACCREASON">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_ACCREASONDESC" [model]="eventData?.model?.HKLAccRsn?.Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_ACCOUNTINGPOSTING_LINE_ACCREASONDESC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_COSTCENTER" columnName="CostCenter" [title]="_TB('Cost Center')" columnType="tb-combo" columnName="IDC_ACCOUNTINGPOSTING_LINE_COSTCENTER" *ngIf="eventData?.activation?.IDC_ACCOUNTINGPOSTING_LINE_COSTCENTER">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_ACCOUNTINGPOSTING_LINE_JOB" columnName="Job" [title]="_TB('Job')" columnType="tb-text" columnName="IDC_ACCOUNTINGPOSTING_LINE_JOB" *ngIf="eventData?.activation?.IDC_ACCOUNTINGPOSTING_LINE_JOB">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
       <tb-tile [title]="_TB('Session Data')" tbTileWide >
<div class="col col1">        <tb-label-static [caption]="_TB('Session')" cmpId="IDC_ACCOUNTINGPOSTING_POSTENTRIES_SESSION" width="60" [model]="eventData?.model?.Session"></tb-label-static>
        <tb-date-input formatter="DateTime" [readonly]="true" [caption]="_TB('Opening Date')" cmpId="IDC_ACCOUNTINGPOSTING_POSTENTRIES_OPENING_DATE" width="70" [model]="eventData?.model?.OpeningDate"></tb-date-input>
        <tb-date-input formatter="DateTime" [readonly]="true" [caption]="_TB('Closing Date')" cmpId="IDC_ACCOUNTINGPOSTING_POSTENTRIES_CLOSING_DATE" width="71" [model]="eventData?.model?.ClosingDate"></tb-date-input>
        <tb-label-static [caption]="_TB('Cash')" cmpId="IDC_ACCOUNTINGPOSTING_POSTENTRIES_CASH" width="60" [model]="eventData?.model?.Cash"></tb-label-static>
        <tb-caption [caption]="_TB('Operator')" cmpId="IDC_ACCOUNTINGPOSTING_POSTENTRIES_OPERATOR" width="154" [model]="eventData?.model?.WorkerDesc"></tb-caption>
</div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
