 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Simulation')" tbTileMini  hasTitle="True">
         <tb-text [caption]="_TB('Simulation')" cmpId="IDC_MRP_SIM_SIM_CODE" width="105" [model]="eventData?.model?.DBTMRPSimulation?.Simulation"></tb-text>
         <tb-text cmpId="IDC_MRP_SIM_SIM_DESC" width="145" [model]="eventData?.model?.DBTMRPSimulation?.Description"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Run Date')" tbTileMini  hasTitle="True">
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Run Date')" cmpId="IDC_MRP_SIM_RUN_DATE" width="57" [model]="eventData?.model?.DBTMRPSimulation?.RunDate"></tb-date-input>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Input')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Input Origin')" tbTileMini  hasTitle="True">
         <tb-radio cmpId="IDC_MRP_SIM_INPUT_PROD_PLAN" width="140" [model]="eventData?.model?.DBTMRPSimulation?.FromProdPlan" [caption]="_TB('Production plan')"></tb-radio>
         <tb-radio cmpId="IDC_MRP_SIM_INPUT_CUST_ORD_SAL_FORE" width="140" [model]="eventData?.model?.DBTMRPSimulation?.FromSaleOrd" [caption]="_TB('Customer orders and sale forecasts')"></tb-radio>
         <tb-radio cmpId="IDC_MRP_SIM_INPUT_MAN_ORD" width="140" [model]="eventData?.model?.DBTMRPSimulation?.FromMOExisting" [caption]="_TB('Existing manufacturing orders')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_MRP_SIM_INPUT_REORD_PT" width="92" [model]="eventData?.model?.DBTMRPSimulation?.FromReorderPoint" [caption]="_TB('Reorder point to date')"></tb-radio>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_MRP_SIM_INPUT_REORD_DATE" width="57" [model]="eventData?.model?.DBTMRPSimulation?.ReorderPointDate"></tb-date-input>
</div>         <tb-checkbox cmpId="IDC_MRP_SIM_INPUT_REORD_PUNCT" width="120" [model]="eventData?.model?.DBTMRPSimulation?.PunctualReorderPoint" [caption]="_TB('Use puntual reorder point')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Leadtime')" tbTileMini  hasTitle="True">
         <tb-enum-combo [caption]="_TB('For finished or 
semi-finished product')" cmpId="IDC_MRP_SIM_INPUT_LT_FINISHED" width="68" [model]="eventData?.model?.DBTMRPSimulation?.FinishedLeadTimeOrigin" [itemSource]="IDC_MRP_SIM_INPUT_LT_FINISHED_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('For Purchase')" cmpId="IDC_MRP_SIM_INPUT_LT_PURC" width="68" [model]="eventData?.model?.DBTMRPSimulation?.PurchaseLeadTimeOrigin" [itemSource]="IDC_MRP_SIM_INPUT_LT_PURC_itemSource"></tb-enum-combo>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Production Plan')" tbTileMini  hasTitle="True">
         <tb-text [caption]="_TB('Plan')" cmpId="IDC_MRP_SIM_PLAN_CODE" width="62" [model]="eventData?.model?.DBTMRPSimulation?.ProdPlan"></tb-text>
         <tb-label-static cmpId="IDC_MRP_SIM_PLAN_CODE_DESC" width="145" [model]="eventData?.model?.HKLProductionPlan?.Description"></tb-label-static>
        </tb-tile>
        <tb-tile [title]="_TB('Customer orders options')" tbTileMini >
         <tb-checkbox cmpId="IDC_MRP_SIM_PLAN_CUST_ORD_NO_INCL" width="152" [model]="eventData?.model?.DBTMRPSimulation?.SaleOrdersOnly" [caption]="_TB('Consider customer orders no comprised in the plan ')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_PLAN_CUST_ORD_EXP" width="152" [model]="eventData?.model?.DBTMRPSimulation?.IncludeSaleOrdExpired" [caption]="_TB('Consider customer orders expired')"></tb-checkbox>
         <tb-section-title cmpId="IDC_MRP_SIM_PLAN_HOR_STATIC" width="152" [caption]="_TB('Horizon')"></tb-section-title>
<div class="anchored">         <tb-enum-combo cmpId="IDC_MRP_SIM_PLAN_HOR" width="73" [model]="eventData?.model?.DBTMRPSimulation?.HrzType"></tb-enum-combo>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_MRP_SIM_PLAN_HOR_MONTH_WEEK" width="62" [model]="eventData?.model?.DBTMRPSimulation?.Horizon"></tb-numeric-text-box>
</div>         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_MRP_SIM_PLAN_HOR_UNTIL_DATE" width="62" [model]="eventData?.model?.DBTMRPSimulation?.HrzEndDate"></tb-date-input>
         <tb-section-title cmpId="IDC_MRP_SIM_PLAN_CUST_ORD_PRIORITY_STATIC" width="152" [caption]="_TB('Priorities')"></tb-section-title>
         <tb-radio cmpId="IDC_MRP_SIM_PLAN_CUST_ORD_PRIORITY_ALL" width="35" [model]="eventData?.model?.DBTMRPSimulation?.AllPriorities" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_MRP_SIM_PLAN_CUST_ORD_PRIORITY_SELECT" width="35" [model]="eventData?.model?.DBTMRPSimulation?.SelectPriority" [caption]="_TB('From')"></tb-radio>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_MRP_SIM_PLAN_CUST_ORD_PRIORITY_FROM" width="62" [model]="eventData?.model?.DBTMRPSimulation?.FromPriority"></tb-numeric-text-box>
</div>         <tb-numeric-text-box formatter="Integer" [caption]="_TB('To')" cmpId="IDC_MRP_SIM_PLAN_CUST_ORD_PRIORITY_TO" width="62" [model]="eventData?.model?.DBTMRPSimulation?.ToPriority"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Group needings')" tbTileMini >
         <tb-checkbox cmpId="IDC_MRP_SIM_PLAN_GROUP_JOB" width="153" [model]="eventData?.model?.DBTMRPSimulation?.GroupByJob" [caption]="_TB('by Job')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_PLAN_GROUP_JOBDATE" width="110" [model]="eventData?.model?.DBTMRPSimulation?.GroupByJobDate" [caption]="_TB('and date')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_PLAN_GROUP_JOBGROUPSF" width="143" [model]="eventData?.model?.DBTMRPSimulation?.GroupByJobGroupSF" [caption]="_TB('and group in manufacturing plan')"></tb-checkbox>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Main')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Sale Order')" tbTileMini >
         <tb-checkbox cmpId="IDC_MRP_SIM_CUST_ORDS_SEL_CUST_ORD" width="141" [model]="eventData?.model?.DBTMRPSimulation?.SaleOrdersOnly" [caption]="_TB('Customer orders')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_CUST_ORDS_SEL_EXP_ORD" width="142" [model]="eventData?.model?.DBTMRPSimulation?.IncludeSaleOrdExpired" [caption]="_TB('Consider customer orders expired')"></tb-checkbox>
         <tb-section-title cmpId="IDC_MRP_SIM_CUST_ORDS_HOR_STATIC" width="148" [caption]="_TB('Horizon')"></tb-section-title>
<div class="anchored">         <tb-enum-combo cmpId="IDC_MRP_SIM_CUST_ORDS_HOR" width="73" [model]="eventData?.model?.DBTMRPSimulation?.HrzType"></tb-enum-combo>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_MRP_SIM_CUST_ORDS_HOR_MONTH_WEEK" width="57" [model]="eventData?.model?.DBTMRPSimulation?.Horizon"></tb-numeric-text-box>
</div>         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_MRP_SIM_CUST_ORDS_HOR_UNTIL_DATE" width="57" [model]="eventData?.model?.DBTMRPSimulation?.HrzEndDate"></tb-date-input>
         <tb-section-title cmpId="IDC_MRP_SIM_CUST_ORDS_PRIORITY_STATIC" width="148" [caption]="_TB('Priorities')"></tb-section-title>
         <tb-radio cmpId="IDC_MRP_SIM_CUST_ORDS_PRIORITY_ALL" width="35" [model]="eventData?.model?.DBTMRPSimulation?.AllPriorities" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_MRP_SIM_CUST_ORDS_PRIORITY_SELECT" width="35" [model]="eventData?.model?.DBTMRPSimulation?.SelectPriority" [caption]="_TB('From')"></tb-radio>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_MRP_SIM_CUST_ORDS_PRIORITY_FROM" width="62" [model]="eventData?.model?.DBTMRPSimulation?.ToPriority"></tb-numeric-text-box>
</div>         <tb-numeric-text-box formatter="Integer" [caption]="_TB('To')" cmpId="IDC_MRP_SIM_CUST_ORDS_PRIORITY_TO" width="62" [model]="eventData?.model?.DBTMRPSimulation?.FromPriority"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Open orders')" tbTileMini >
         <tb-checkbox cmpId="IDC_MRP_SIM_CUST_ORDS_SEL_OPEN_ORD" width="90" [model]="eventData?.model?.DBTMRPSimulation?.OpenOrdersOnly" [caption]="_TB('Open orders')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Sale Forecast')" tbTileStandard >
         <tb-checkbox cmpId="IDC_MRP_SIM_CUST_ORDS_SEL_SALE_FORE" width="58" [model]="eventData?.model?.DBTMRPSimulation?.SaleForecastsOnly" [caption]="_TB('Sale Forecasts')"></tb-checkbox>
         <tb-enum-combo [caption]="_TB('Client orders or Sale 
forecasts ratios')" cmpId="IDC_MRP_SIM_CUST_ORDS_RATIO_ORD_CUST_FORE_SEL" width="86" [model]="eventData?.model?.DBTMRPSimulation?.SaleOrdSaleForeRelation"></tb-enum-combo>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Requirement creation day ')" cmpId="IDC_MRP_SIM_CUST_ORDS_REQU_DAY" width="87" [model]="eventData?.model?.DBTMRPSimulation?.DayOfRequirement"></tb-numeric-text-box>
         <tb-combo [caption]="_TB('Requirement creation 
weekday ')" cmpId="IDC_MRP_SIM_CUST_ORDS_REQU_WEEKDAY" width="87" [model]="eventData?.model?.DBTMRPSimulation?.WeekDayOfRequirement"></tb-combo>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('MO Range')" tbTileMini >
         <tb-radio cmpId="IDC_MRP_SIM_PROD_ORDS_ALL" width="35" [model]="eventData?.model?.DBTMRPSimulation?.AllMO" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_MRP_SIM_PROD_ORDS_SELECT" width="35" [model]="eventData?.model?.DBTMRPSimulation?.SelectMO" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_MRP_SIM_PROD_ORDS_SELECT_FROM_MO" width="62" [model]="eventData?.model?.DBTMRPSimulation?.FromMO"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_MRP_SIM_PROD_ORDS_SELECT_TO_MO" width="62" [model]="eventData?.model?.DBTMRPSimulation?.ToMO"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Status')" tbTileMini >
         <tb-checkbox cmpId="IDC_MRP_SIM_PROD_ORDS_STATE_CONF" width="140" [model]="eventData?.model?.DBTMRPSimulation?.MOCreated" [caption]="_TB('Created')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_PROD_ORDS_STATE_LAUN" width="140" [model]="eventData?.model?.DBTMRPSimulation?.MOReleased" [caption]="_TB('Confirmed')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_PROD_ORDS_STATE_WORK" width="140" [model]="eventData?.model?.DBTMRPSimulation?.MOInProgress" [caption]="_TB('In progress')"></tb-checkbox>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Inventory nettings by MRP policy and Bill Of Material levels')" tbTileStandard >
<div class="anchored">         <tb-section-title cmpId="IDC_STATIC_FIRST_LEVEL" width="144" [caption]="_TB('First Bill Of Material  level ')"></tb-section-title>
         <tb-section-title cmpId="IDC_STATIC_OTHER_LEVEL" width="117" [caption]="_TB('Others Bill of Material levels')"></tb-section-title>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_INV_FS_LV_REQUIR" width="160" [model]="eventData?.model?.DBTMRPSimulation?.NetFirstLevelOnDayReqPolicy" [caption]="_TB('By requirement MRP policy')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_INV_OT_LV_REQUIR" width="109" [model]="eventData?.model?.DBTMRPSimulation?.NetOtherLevelsOnDayReqPolicy" [caption]="_TB('By requirement MRP policy')"></tb-checkbox>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_INV_FS_LV_JOB" width="160" [model]="eventData?.model?.DBTMRPSimulation?.NetFirstLevelOnJobPolicy" [caption]="_TB('By job  MRP policy')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_INV_OT_LV_JOB" width="109" [model]="eventData?.model?.DBTMRPSimulation?.NetOtherLevelsOnJobPolicy" [caption]="_TB('By job MRP policy')"></tb-checkbox>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_INV_FS_LV_LOT" width="162" [model]="eventData?.model?.DBTMRPSimulation?.NetFirstLevelOnLotPolicy" [caption]="_TB('By lot MRP policy ')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_INV_OT_LV_LOT" width="109" [model]="eventData?.model?.DBTMRPSimulation?.NetOtherLevelsOnLotPolicy" [caption]="_TB('By lot MRP policy')"></tb-checkbox>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Additional netting by job')" tbTileMini >
         <tb-radio cmpId="IDC_MRP_SIM_NET_NT_JOB_REGIS" width="98" [model]="eventData?.model?.DBTMRPSimulation?.NetByItemMaster" [caption]="_TB('From item master')"></tb-radio>
         <tb-radio cmpId="IDC_MRP_SIM_NET_NT_JOB_SET" width="115" [model]="eventData?.model?.DBTMRPSimulation?.SelectNetSetting" [caption]="_TB('Use following setting')"></tb-radio>
         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_JOB_PROD_ORD" width="96" [model]="eventData?.model?.DBTMRPSimulation?.NetByMO" [caption]="_TB('Manufacturing orders ')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_JOB_SUP_ORD" width="128" [model]="eventData?.model?.DBTMRPSimulation?.NetByPurchOrd" [caption]="_TB('Supplier orders')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_JOB_CON_ORD" width="130" [model]="eventData?.model?.DBTMRPSimulation?.NetByMOConfirmed" [caption]="_TB('Manufacturing orders Confirmed ')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Other options')" tbTileStandard >
         <tb-checkbox cmpId="IDC_MRP_SIM_NET_NT_JOB_PROD_ORD_JOB_EMP" width="154" [model]="eventData?.model?.DBTMRPSimulation?.NetByMoEmptyJob" [caption]="_TB('Manufacturing orders and supplier orders with empty job available for other jobs')"></tb-checkbox>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Manufacturing Orders')" tbTileMini >
         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_MO_DATE_END" width="120" [model]="eventData?.model?.DBTMRPSimulation?.UseSimulatedEndDate" [caption]="_TB('Use simulated end date')"></tb-checkbox>
<div class="anchored">         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_MO_ADV_DAYS" width="125" [model]="eventData?.model?.DBTMRPSimulation?.UseAheadDepositMO" [caption]="_TB('Ahead deposit days')"></tb-checkbox>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_MRP_SIM_OPTS_MO_ADV_DAYS_NR" width="21" [model]="eventData?.model?.DBTMRPSimulation?.AheadDepositDaysMO"></tb-numeric-text-box>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Supplier Orders')" tbTileMini >
         <tb-radio cmpId="IDC_MRP_SIM_OPTS_SUP_ORD_EXP_DEL" width="107" [model]="eventData?.model?.DBTMRPSimulation?.UseDeliveryExpectedDatePO" [caption]="_TB('Expected date')"></tb-radio>
         <tb-radio cmpId="IDC_MRP_SIM_OPTS_SUP_ORD_CONF_DEL" width="113" [model]="eventData?.model?.DBTMRPSimulation?.UseDeliveryConfirmedDatePO" [caption]="_TB('Confirmed date')"></tb-radio>
<div class="anchored">         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_SUP_ORD_ADV_DAYS" width="125" [model]="eventData?.model?.DBTMRPSimulation?.UseAheadDepositPO" [caption]="_TB('Ahead deposit days')"></tb-checkbox>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_MRP_SIM_OPTS_SUP_ORD_ADV_DAYS_NR" width="21" [model]="eventData?.model?.DBTMRPSimulation?.AheadDepositDaysPO"></tb-numeric-text-box>
</div>         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_SUP_ORD_STORAGES" width="152" [model]="eventData?.model?.DBTMRPSimulation?.OnlyPurchOrdWithMrpStorage" [caption]="_TB('Only on the storages enabled to mrp picking ')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Customer Orders')" tbTileMini >
         <tb-radio cmpId="IDC_MRP_SIM_OPTS_CUS_ORD_DEL_DATE" width="109" [model]="eventData?.model?.DBTMRPSimulation?.UseCustOrdDeliveryDate" [caption]="_TB('Delivery date')"></tb-radio>
         <tb-radio cmpId="IDC_MRP_SIM_OPTS_CUS_ORD_CONF_DATE" width="113" [model]="eventData?.model?.DBTMRPSimulation?.UseCustOrdConfirmDate" [caption]="_TB('Confirmed date')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Bom levels')" tbTileMini >
         <tb-radio cmpId="IDC_MRP_SIM_OPTS_BOM_LVL_ALL" width="35" [model]="eventData?.model?.DBTMRPSimulation?.ExplodeAllBOMLevels" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_MRP_SIM_OPTS_BOM_LVL_SEL" width="35" [model]="eventData?.model?.DBTMRPSimulation?.SelectBOMLevel" [caption]="_TB('Level')"></tb-radio>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_MRP_SIM_OPTS_BOM_LVL_SEL_LVL" width="24" [model]="eventData?.model?.DBTMRPSimulation?.MaxLevelBOMExplosion"></tb-numeric-text-box>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Create')" tbTileMini >
         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_GEN_PROD_ORD" width="148" [model]="eventData?.model?.DBTMRPSimulation?.CreateMOOnly" [caption]="_TB('Manufacturing orders')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_GEN_PURC_REQU" width="148" [model]="eventData?.model?.DBTMRPSimulation?.CreatePROnly" [caption]="_TB('Purchase requests')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Other options')" tbTileMini >
         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_UNIF_ITEM_LOT_DATE" width="155" [model]="eventData?.model?.DBTMRPSimulation?.GroupLotsByDate" [caption]="_TB('Group lots by date')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_EXCL_NO_WORK_DAY" width="155" [model]="eventData?.model?.DBTMRPSimulation?.SkipNotWorkingDays" [caption]="_TB('Skip no working days')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_ORD_RELEASE_DAYS" width="155" [model]="eventData?.model?.DBTMRPSimulation?.OrderReleaseDays" [caption]="_TB('Use order release days')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_ANTICIPATION_DAYS" width="155" [model]="eventData?.model?.DBTMRPSimulation?.AnticipationDays" [caption]="_TB('Use ahead days')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_MIN_SUPPLY" width="155" [model]="eventData?.model?.DBTMRPSimulation?.UseMinStock" [caption]="_TB('Use minimun stock')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_SIM_OPTS_MOVE_PAST_DATE" width="155" [model]="eventData?.model?.DBTMRPSimulation?.MovePastDate" [caption]="_TB('Move past dates after run date')"></tb-checkbox>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-radio cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_RADIO_ALL" width="39" [model]="eventData?.model?.HFItems_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">        <tb-radio cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_RADIO_RANGE" width="39" [model]="eventData?.model?.HFItems_Range" [caption]="_TB('From')"></tb-radio>
        <tb-text cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_EDIT_FROM" width="110" [model]="eventData?.model?.HFItems_From"></tb-text>
</div>        <tb-text [caption]="_TB('To')" cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_EDIT_TO" width="110" [model]="eventData?.model?.HFItems_To"></tb-text>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Signature')" tbTileMini >
         <tb-text [caption]="_TB('Signature')" cmpId="IDC_MRP_SIM_SIGN_SIGNATURE" width="105" [model]="eventData?.model?.DBTMRPSimulation?.Signature"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Note')" tbTileMini >
         <tb-label-static cmpId="IDC_MPARSEDSTATIC" width="100" [caption]="_TB('Note')"></tb-label-static>
         <tb-text cmpId="IDC_MRP_SIM_SIGN_NOTES" width="145" [model]="eventData?.model?.DBTMRPSimulation?.Notes"></tb-text>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Results')" tbTileWide >
<div class="col col1">         <tb-body-edit cmpId="IDC_MRPWIZ_RESULTS_BE" width="558" [model]="eventData?.model?.DBTResults">
          <tb-body-edit-column cmpId="IDC_MRPWIZ_COL_SELECT" columnName="Selection" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_MRPWIZ_COL_SELECT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRPWIZ_COL_PRODUCT" columnName="Item" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_MRPWIZ_COL_PRODUCT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRPWIZ_COL_DESCR" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_MRPWIZ_COL_DESCR">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRPWIZ_COL_NATURE" columnName="Nature" [title]="_TB('Kind')" columnType="tb-enum-combo" columnName="IDC_MRPWIZ_COL_NATURE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRPWIZ_COL_BOM" columnName="BOM" [title]="_TB('BOM')" columnType="tb-label-static" columnName="IDC_MRPWIZ_COL_BOM">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRPWIZ_COL_UOM_BASE" columnName="BaseUoM" [title]="_TB('Base UoM')" columnType="tb-label-static" columnName="IDC_MRPWIZ_COL_UOM_BASE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_MRPWIZ_COL_QTY" columnName="ProductionQty" [title]="_TB('Qty')" columnType="tb-numeric-text-box" columnName="IDC_MRPWIZ_COL_QTY">
          </tb-body-edit-column>
         </tb-body-edit>
</div><div class="col col2"></div>        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Result')" tbTileStandard  isCollapsible="False" isCollapsed="False" hasTitle="False">
        <tb-caption cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS" width="587" [model]="eventData?.model?.nCurrentElement"></tb-caption>
        <tb-label-static cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS_STATIC" width="587" [model]="eventData?.model?.GaugeDescription"></tb-label-static>
       </tb-tile>
       <tb-tile [title]="_TB('List of documents generated')" tbTileWide >
<div class="col col1">        <tb-body-edit cmpId="IDC_PROGRESSVIEWER_BE" width="654" [model]="eventData?.model?.ProgressViewer">
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_STATUS" columnName="TEnhProgressViewer_P1" [title]="_TB('  ')" columnType="tb-image" columnName="IDC_PROGRESS_VIEWER_STATUS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_COLUMN1" columnName="TEnhProgressViewer_P2" [title]="_TB('eventData?.model?.PrgViewerColumn1')" columnType="tb-label-static" columnName="IDC_PROGRESS_VIEWER_COLUMN1">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_COLUMN2" columnName="TEnhProgressViewer_P3" [title]="_TB('eventData?.model?.PrgViewerColumn2')" columnType="tb-label-static" columnName="IDC_PROGRESS_VIEWER_COLUMN2">
         </tb-body-edit-column>
        </tb-body-edit>
</div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
