 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Document')" tbTileStandard  isCollapsible="False" hasTitle="True">
         <tb-combo [caption]="_TB('Number')" cmpId="IDC_MONITORGR_BOLNO" width="80" [model]="eventData?.model?.BoLNumber" [itemSource]="IDC_MONITORGR_BOLNO_itemSource" [validators]="IDC_MONITORGR_BOLNO_validators"></tb-combo>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Of')" cmpId="IDC_MONITORGR_BOLDATE" width="58" [model]="eventData?.model?.BoLDate"></tb-date-input>
         <tb-label-static [caption]="_TB('Supplier/Customer/Partner')" cmpId="IDC_MONITORGR_SUPPLIER" width="67" [model]="eventData?.model?.Supplier"></tb-label-static>
         <tb-label-static cmpId="IDC_MONITORGR_SUPPLIERNAME" width="136" [model]="eventData?.model?.HKLSupplier?.CompanyName"></tb-label-static>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="599" [model]="eventData?.model?.Detail">
         <tb-body-edit-column cmpId="IDC_MONITORGR_SYNC_STATUS_COLUMN" columnName="SyncStatusBmp" [title]="_TB('Sync
Status')" columnType="tb-image" columnName="IDC_MONITORGR_SYNC_STATUS_COLUMN">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MONITORGR_BE_SU" columnName="DestStorageUnit" [title]="_TB('Storage Unit')" columnType="tb-label-static" columnName="IDC_MONITORGR_BE_SU" *ngIf="eventData?.activation?.IDC_MONITORGR_BE_SU">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MONITORGR_BE_ITEM" columnName="Item" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_MONITORGR_BE_ITEM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MONITORGR_BE_ITEMDESC" columnName="ItemDescription" [title]="_TB('Item Description')" columnType="tb-label-static" columnName="IDC_MONITORGR_BE_ITEMDESC">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MONITORGR_BE_UOM" columnName="UoM" [title]="_TB('UoM')" columnType="tb-label-static" columnName="IDC_MONITORGR_BE_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_MONITORGR_BE_QTY" columnName="QtyMoved" [title]="_TB('Qty')" columnType="tb-numeric-text-box" columnName="IDC_MONITORGR_BE_QTY">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MONITORGR_BE_LOT" columnName="Lot" [title]="_TB('Lot')" columnType="tb-label-static" columnName="IDC_MONITORGR_BE_LOT" *ngIf="eventData?.activation?.IDC_MONITORGR_BE_LOT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MONITORGR_BE_SUPPLIERLOT" columnName="SupplierLotNo" [title]="_TB('Supplier
Lot No.')" columnType="tb-label-static" columnName="IDC_MONITORGR_BE_SUPPLIERLOT" *ngIf="eventData?.activation?.IDC_MONITORGR_BE_SUPPLIERLOT">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_MONITORGR_BE_SUPPLIERLOTEXPDATE" columnName="SupplierLotExpiryDate" [title]="_TB('Supplier Lot
 Expire Date')" columnType="tb-date-input" columnName="IDC_MONITORGR_BE_SUPPLIERLOTEXPDATE" *ngIf="eventData?.activation?.IDC_MONITORGR_BE_SUPPLIERLOTEXPDATE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MONITORGR_BE_SUPPLIERID" columnName="InternalIdNo" [title]="_TB('Supplier
Serial No.')" columnType="tb-label-static" columnName="IDC_MONITORGR_BE_SUPPLIERID" *ngIf="eventData?.activation?.IDC_MONITORGR_BE_SUPPLIERID">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_MONITORGR_BE_BE_ITEMSTATUS" columnName="ItemStatus" [title]="_TB('Item 
 Status')" columnType="tb-enum-combo" columnName="IDC_MONITORGR_BE_BE_ITEMSTATUS">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
