.routerContainer {
    padding: 20px;
}
.spacer {
  flex: 1 1 auto;
}
a {color:#ffffff; cursor: pointer}
.padSideNav { padding: 20px;}

@media screen and (max-width: 39.9375em) {
  .hide-for-small { display: none !important; }
}