<md-sidenav-container fullscreen>

  <md-sidenav #start mode="side">
    <h4>Sections</h4>
    <ng-content select=".routesSection"></ng-content>
  </md-sidenav>

  <md-toolbar color="primary">
    <md-icon (click)="start.toggle()" style="cursor:pointer">menu</md-icon>
    <span style="margin-left:20px">M4Cloud Admin</span>
    <span class="demo-fill-remaining"></span>
  </md-toolbar>
  
  <div class="outer-outlet">
    <ng-content select=".breadCrumbSection"></ng-content>
    <div style="padding: 10px">
      <ng-content select=".outletSection"></ng-content>
    </div>
  </div>
  
</md-sidenav-container>