<md-sidenav-container fullscreen>
  <md-sidenav #start mode="side" class="mat-elevation-z5">
    <h4>Sections</h4>
    <ng-content select=".routesSection"></ng-content>
  </md-sidenav>

  <md-toolbar color="primary" class="mat-elevation-z5">
    <md-icon (click)="start.toggle()" style="cursor:pointer">menu</md-icon>
    <span style="margin-left:20px">{{appTitle}}</span>
    <span class="spacer"></span>
    <md-icon class="example-icon">person</md-icon>
  </md-toolbar>
  
  <div class="outer-outlet">
    <ng-content select=".breadCrumbSection"></ng-content>
    <div class="routerContainer">
      <ng-content select=".outletSection"></ng-content>
    </div>
  </div>
  
</md-sidenav-container>