 <tb-frame tbWizard >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('Input')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Production Plan')" tbTileMini >
         <tb-text [caption]="_TB('Plan')" cmpId="IDC_MRP_NO_SCHEMA" width="62" [model]="eventData?.model?.DBTMRP?.ProdPlan"></tb-text>
         <tb-label-static cmpId="IDC_MRP_DESCR_SCHEMA" width="133" [model]="eventData?.model?.HKLProductionPlan?.Description"></tb-label-static>
        </tb-tile>
        <tb-tile [title]="_TB('Sale Order')" tbTileMini >
         <tb-checkbox cmpId="IDC_MRP_ALSO_SALEORD" width="155" [model]="eventData?.model?.DBTMRP?.SaleOrdersOnly" [caption]="_TB('Consider also customer orders not included in the production plan')"></tb-checkbox>
         <tb-section-title cmpId="IDC_STATIC_HORIZON" width="155" [caption]="_TB('Horizon')"></tb-section-title>
<div class="anchored">         <tb-enum-combo cmpId="IDC_MRP_HORIZON_TYPE" width="92" [model]="eventData?.model?.DBTMRP?.HrzType" [itemSource]="IDC_MRP_HORIZON_TYPE_itemSource"></tb-enum-combo>
         <tb-date-input formatter="Date" [readonly]="false" cmpId="IDC_MRP_HORIZON_DATE" width="57" [model]="eventData?.model?.DBTMRP?.HrzEndDate"></tb-date-input>
</div>         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Horizon')" cmpId="IDC_MRP_HORIZON" width="57" [model]="eventData?.model?.DBTMRP?.Horizon"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('BOM Level')" tbTileMini >
         <tb-radio cmpId="IDC_MRP_ALL_LEVELS" width="66" [model]="eventData?.model?.DBTMRP?.ExplodeAllBOMLevels" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_MRP_SELECT_LEVELS" width="29" [model]="eventData?.model?.DBTMRP?.SelectBOMLevel" [caption]="_TB('To')"></tb-radio>
         <tb-numeric-text-box formatter="Integer" cmpId="IDC_MRP_LEV_BOM_BASE" width="28" [model]="eventData?.model?.DBTMRP?.MaxLevelBOMExplosion"></tb-numeric-text-box>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Items lead time origin')" tbTileMini >
         <tb-enum-combo [caption]="_TB('For finished or 
semi-finished product')" cmpId="IDC_MRP_FINISHED_LEAD_TIME" width="65" [model]="eventData?.model?.DBTMRP?.FinishedLeadTimeOrigin" [itemSource]="IDC_MRP_FINISHED_LEAD_TIME_itemSource"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('For Purchase')" cmpId="IDC_MRP_PURCHASE_LEAD_TIME" width="65" [model]="eventData?.model?.DBTMRP?.PurchaseLeadTimeOrigin" [itemSource]="IDC_MRP_PURCHASE_LEAD_TIME_itemSource"></tb-enum-combo>
        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Netting')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Inventory nettings by MRP policy and Bill Of Material levels')" tbTileStandard >
<div class="anchored">         <tb-section-title cmpId="IDC_MRP_STATIC_FIRST_LEVEL" width="150" [caption]="_TB('First Bill Of Material  level ')"></tb-section-title>
         <tb-section-title cmpId="IDC_MRP_STATIC_OTHER_LEVEL" width="150" [caption]="_TB('Others Bill of Material levels')"></tb-section-title>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_MRP_MODE_COMM_ISFIRST" width="150" [model]="eventData?.model?.DBTMRP?.NetFirstLevelOnJobPolicy" [caption]="_TB('By job  MRP policy')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_MODE_COMM_OTHERS" width="150" [model]="eventData?.model?.DBTMRP?.NetOtherLevelsOnJobPolicy" [caption]="_TB('By job  MRP policy')"></tb-checkbox>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_MRP_MODE_LOT_ISFIRST" width="150" [model]="eventData?.model?.DBTMRP?.NetFirstLevelOnLotPolicy" [caption]="_TB('By lot MRP policy')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_MODE_LOT_OTHERS" width="150" [model]="eventData?.model?.DBTMRP?.NetOtherLevelsOnLotPolicy" [caption]="_TB('By lot MRP policy')"></tb-checkbox>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_MRP_NETT_REQ_ISFIRST" width="150" [model]="eventData?.model?.DBTMRP?.NetFirstLevelOnDayReqPolicy" [caption]="_TB('By requirement MRP policy')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_NETT_REQ_OTHERS" width="150" [model]="eventData?.model?.DBTMRP?.NetOtherLevelsOnDayReqPolicy" [caption]="_TB('By requirement MRP policy')"></tb-checkbox>
</div>        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Options')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Other options')" tbTileStandard >
<div class="anchored">         <tb-checkbox cmpId="IDC_MRP_CONSIDER_STOCK_MIN" width="152" [model]="eventData?.model?.DBTMRP?.UseMinStock" [caption]="_TB('Use minimum stock')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_EXCLUDE_HOLIDAYS" width="152" [model]="eventData?.model?.DBTMRP?.SkipNotWorkingDays" [caption]="_TB('Skip no working days')"></tb-checkbox>
</div><div class="anchored">         <tb-checkbox cmpId="IDC_MRP_GROUPLOT" width="152" [model]="eventData?.model?.DBTMRP?.GroupLotsByDate" [caption]="_TB('Group lot by date')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_MRP_CONSIDER_DATE_END_SIM" width="152" [model]="eventData?.model?.DBTMRP?.UseSimulatedEndDate" [caption]="_TB('Consider simulated end date
for manufacturing order')"></tb-checkbox>
</div>        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Selections')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-radio cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_RADIO_ALL" width="39" [model]="eventData?.model?.HFItems_All" [caption]="_TB('All')"></tb-radio>
<div class="anchored">        <tb-radio cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_RADIO_RANGE" width="39" [model]="eventData?.model?.HFItems_Range" [caption]="_TB('From')"></tb-radio>
        <tb-text cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_EDIT_FROM" width="110" [model]="eventData?.model?.HFItems_From"></tb-text>
</div>        <tb-text [caption]="_TB('To')" cmpId="IDD_HFL_ITEM_IDC_HFL_RANGE_EDIT_TO" width="110" [model]="eventData?.model?.HFItems_To"></tb-text>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" [title]="_TB('Result')" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard  hasTitle="False">
        <tb-section-title cmpId="IDC_TB_HEADER_ONLY_SUBTITLE_SUBTITLE" width="640" [caption]="_TB('eventData?.model?.HeaderSubTitle')"></tb-section-title>
       </tb-tile>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Results')" tbTileWide >
<div class="col col1">         <tb-body-edit cmpId="IDC_MRP_RESULT_BE" width="558" [model]="eventData?.model?.DBTResult">
          <tb-body-edit-column cmpId="IDC_MRP_COL_SELECT" columnName="Selection" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_MRP_COL_SELECT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRP_COL_PRODUCT" columnName="Item" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_MRP_COL_PRODUCT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRP_COL_DESCRIPT" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_MRP_COL_DESCRIPT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRP_COL_NATURE" columnName="Nature" [title]="_TB('Kind')" columnType="tb-enum-combo" columnName="IDC_MRP_COL_NATURE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRP_COL_BOM" columnName="BOM" [title]="_TB('BOM')" columnType="tb-label-static" columnName="IDC_MRP_COL_BOM">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRP_COL_VARIANT" columnName="Variant" [title]="_TB('Variant')" columnType="tb-label-static" columnName="IDC_MRP_COL_VARIANT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_MRP_COL_UOM_BASE" columnName="BaseUoM" [title]="_TB('Base UoM')" columnType="tb-label-static" columnName="IDC_MRP_COL_UOM_BASE">
          </tb-body-edit-column>
         </tb-body-edit>
</div><div class="col col2"></div>        </tb-tile>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Result')" tbTileStandard  isCollapsible="False" isCollapsed="False" hasTitle="False">
        <tb-caption cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS" width="587" [model]="eventData?.model?.nCurrentElement"></tb-caption>
        <tb-label-static cmpId="IDC_TB_ACTIVITY_DOCUMENT_PROGRESS_STATIC" width="587" [model]="eventData?.model?.GaugeDescription"></tb-label-static>
       </tb-tile>
       <tb-tile [title]="_TB('List of documents generated')" tbTileWide >
<div class="col col1">        <tb-body-edit cmpId="IDC_PROGRESSVIEWER_BE" width="654" [model]="eventData?.model?.ProgressViewer">
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_STATUS" columnName="TEnhProgressViewer_P1" [title]="_TB('  ')" columnType="tb-image" columnName="IDC_PROGRESS_VIEWER_STATUS">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_COLUMN1" columnName="TEnhProgressViewer_P2" [title]="_TB('eventData?.model?.PrgViewerColumn1')" columnType="tb-label-static" columnName="IDC_PROGRESS_VIEWER_COLUMN1">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_PROGRESS_VIEWER_COLUMN2" columnName="TEnhProgressViewer_P3" [title]="_TB('eventData?.model?.PrgViewerColumn2')" columnType="tb-label-static" columnName="IDC_PROGRESS_VIEWER_COLUMN2">
         </tb-body-edit-column>
        </tb-body-edit>
</div><div class="col col2"></div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_BACK?.enabled" icon="tb-prev" [caption]="_TB('Back')" cmpId="IDC_WIZARD_BACK"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WIZARD_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="IDC_WIZARD_NEXT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-stop" [caption]="_TB('Stop')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_WIZARD_RESTART?.enabled" icon="tb-first" [caption]="_TB('Restart')" cmpId="ID_WIZARD_RESTART"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
