html,
body {
    padding: 0;
    margin: 0;
}

.container {
    margin: 5px;
    padding: 0 5px 5px 5px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px dotted #000;
}

.container>h5 {
    margin: 0 0 10px;
}

.test-component {
    background: #00399a;
    padding: 5px;
    margin: 5px;
    color: #fff
}

.dynamic-component {
    background: red;
    padding: 5px;
    margin: 5px;
    color: #fff
}

.page_not_found-component {
    background: orange;
    padding: 5px;
    margin: 5px;
    color: #fff
}


/*
    issue 
    toolbar: unable to specify attributes on first toolbar-row #1718
    https://github.com/angular/material2/issues/1718

    TODO togliere da qua e mettere in topbar.comnpnent.css quando risolveranno il baco
*/

md-toolbar md-toolbar-row {
    height: 50px !important;
    min-height: 50px !important;
}