 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Type')" tbTileMini >
         <tb-radio cmpId="IDC_PYMTORD_BOMDIV" width="51" [model]="eventData?.model?.AllPymtTerms" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_PYMTORD_TYPESEL" width="75" [model]="eventData?.model?.TypeSel" [caption]="_TB('Selection')"></tb-radio>
         <tb-enum-combo cmpId="IDC_PYMTORD_RIC_CODETYPE" width="113" [model]="eventData?.model?.PymtOrdType"></tb-enum-combo>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_PYMTORD_FILTER_PYMTORD" cmpId="IDC_PYMTORD_FILTER_PYMTORD" width="148" [model]="eventData?.model?.FilterPymtOrders" [caption]="_TB('Filter Payment Orders')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Due Date')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('From')" cmpId="IDC_PYMTORD_RIC_FROM_DATE" width="57" [model]="eventData?.model?.FromDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_PYMTORD_RIC_A_DATE" width="57" [model]="eventData?.model?.ToDate"></tb-date-input>
         <tb-checkbox cmpId="IDC_PYMTORD_CREDITNOTE" width="148" [model]="eventData?.model?.CreditNote" [caption]="_TB('Consider Credit Notes')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Suppliers')" tbTileMini >
         <tb-radio cmpId="IDC_PYMTORD_RIC_SUPP_RADIO_ALL" width="35" [model]="eventData?.model?.AllSupp" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_PYMTORD_RIC_SUPP_RADIO_SEL" width="36" [model]="eventData?.model?.SuppSel" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_PYMTORD_RIC_FROM_SUPP" width="82" [model]="eventData?.model?.FromSupplier"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_PYMTORD_RIC_A_SUPP" width="82" [model]="eventData?.model?.ToSupplier"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Currency')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_PAYMENTORDERSISSUE_CURRENCY">
         <tb-radio cmpId="IDC_PYMTORD_RIC_ALLCURRENCIES" width="51" [model]="eventData?.model?.AllCurrency" [caption]="_TB('All')"></tb-radio>
         <tb-radio cmpId="IDC_PYMTORD_RIC_FILTERCURR" width="75" [model]="eventData?.model?.SelectedCurrency" [caption]="_TB('Selection')"></tb-radio>
         <tb-combo cmpId="IDC_PYMTORD_RIC_REFCURRENCY" width="62" [model]="eventData?.model?.RefCurrency"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Supplier Banks')" tbTileMini >
         <tb-radio cmpId="IDC_PYMTORD_REF_RADIO_BANK_SUPP_EVERYONE" width="35" [model]="eventData?.model?.AllSuppBank" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_PYMTORD_REF_RADIO_BANK_SUPP" width="36" [model]="eventData?.model?.SuppBankSel" [caption]="_TB('From')"></tb-radio>
         <tb-combo cmpId="IDC_PYMTORD_RIC_BANK_SUPP" width="84" [model]="eventData?.model?.SupplierBank"></tb-combo>
</div>         <tb-combo [caption]="_TB('To')" cmpId="IDC_PYMTORD_RIC_BANK_SUPP_END" width="84" [model]="eventData?.model?.ToSupplierBank"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Grouping Codes')" tbTileMini >
         <tb-text [caption]="_TB('1.')" cmpId="IDC_PYMTORD_GROUP_CODE" width="77" [model]="eventData?.model?.Group1"></tb-text>
         <tb-text [caption]="_TB('2.')" cmpId="IDC_PYMTORD_GROUP_CODE2" width="77" [model]="eventData?.model?.Group2"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Installments selection')" tbTileMini >
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Up to Limit Amount')" cmpId="IDC_PYMTORD_RIC_AMOUNT_LIMIT" width="68" [model]="eventData?.model?.LimitAmount"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Order by')" tbTileMini >
         <tb-radio cmpId="IDC_PYMTORD_RIC_ORD_SUPP" width="69" [model]="eventData?.model?.PuchOrdSel" [caption]="_TB('Supplier')"></tb-radio>
         <tb-radio cmpId="IDC_PYMTORD_RIC_ORD_DATE" width="69" [model]="eventData?.model?.OrdDateSel" [caption]="_TB('Due Date')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Grouping')" tbTileStandard >
         <tb-enum-combo [caption]="_TB('Type')" cmpId="IDC_PYMTORD_RIC_GROUP" width="85" [model]="eventData?.model?.GroupType"></tb-enum-combo>
         <tb-numeric-text-box formatter="Long" [caption]="_TB('No. of Days')" cmpId="IDC_PYMTORD_RIC_GROUP_DAYS" width="30" [model]="eventData?.model?.NrDays"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Up to Limit Amount')" cmpId="IDC_PYMTORD_RIC_AMOUNT_PAYMENTORDER" width="68" [model]="eventData?.model?.PymtOrdAmount"></tb-numeric-text-box>
         <tb-checkbox cmpId="IDC_PYMTORD_RIC_GROUP_LASTDATE" width="200" [model]="eventData?.model?.SetLastDate" [caption]="_TB('Set Last Due Date')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_PYMTORD_CONSIDER_PAYBRANCH" width="200" [model]="eventData?.model?.UseBranch" [caption]="_TB('Consider Payment Address in Grouping')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_PYMTORD_CONSIDER_CONTRACT" width="200" [model]="eventData?.model?.UseContract" [caption]="_TB('Consider Contract and Project in Grouping')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Presentation Bank')" tbTileStandard >
         <tb-checkbox cmpId="IDC_PYMTORD_USEBANK" width="157" [model]="eventData?.model?.ParameterBank" [caption]="_TB('Assign Parameters Presentation Bank')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_PYMTORD_CHECK_BANK" width="157" [model]="eventData?.model?.UseBank" [caption]="_TB('Consider Payment Schedule Presentation Bank')"></tb-checkbox>
         <tb-radio cmpId="IDC_PYMTORD_REF_RADIO_BANK_PRES_EVERYONE" width="47" [model]="eventData?.model?.AllPresBank" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_PYMTORD_REF_RADIO_BANK_PRES" width="64" [model]="eventData?.model?.PresBankSel1" [caption]="_TB('Selection')"></tb-radio>
         <tb-combo cmpId="IDC_PYMTORD_RIC_BANK_PRES" width="84" [model]="eventData?.model?.PresBankSel"></tb-combo>
</div>        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile [title]="_TB('Issue Dates')" tbTileMini >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Issue Date')" cmpId="IDC_PYMTORD_RIC_PRESDATE" width="57" [model]="eventData?.model?.IssueDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Value Date')" cmpId="IDC_PYMTORD_RIC_VALIDITYDATE" width="57" [model]="eventData?.model?.ValueDate"></tb-date-input>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileAutoFill >
        <tb-tilemanager>
         <tb-tilegroup [title]="_TB('Payment Orders to be Issued')" tbLayoutTypeVbox >
          <ng-template>
           <tb-tile [title]="_TB('Result')" tbTileAutoFill  hasTitle="False">
            <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="599" [model]="eventData?.model?.PymtOrders">
             <tb-body-edit-column cmpId="IDC_PYMTORD_BLOCKED" columnName="l_TEnhPymtOrders_P07" [title]="_TB(' ')" columnType="tb-image" columnName="IDC_PYMTORD_BLOCKED">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_ADMCASE" columnName="l_TEnhPymtOrders_P24" [title]="_TB(' ')" columnType="tb-image" columnName="IDC_PYMTORD_ADMCASE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_SELECT_PAYMENTORDER" columnName="l_TEnhPymtOrders_P01" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_PYMTORD_SELECT_PAYMENTORDER">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_GROUPED" columnName="l_TEnhPymtOrders_P15" [title]="_TB('Grp.')" columnType="tb-checkbox" columnName="IDC_PYMTORD_GROUPED" *ngIf="eventData?.activation?.IDC_PYMTORD_GROUPED">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_MODDET" columnName="l_TEnhPymtOrders_P16" [title]="_TB('Edit')" columnType="tb-checkbox" columnName="IDC_PYMTORD_MODDET" *ngIf="eventData?.activation?.IDC_PYMTORD_MODDET">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_PYMTORD_NUMBER" columnName="l_TEnhPymtOrders_P08" [title]="_TB('No.')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_NUMBER">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_INSTNOTES" columnName="l_TEnhPymtOrders_P18" [title]="_TB('Fiscal No.')" columnType="tb-text" columnName="IDC_PYMTORD_INSTNOTES" *ngIf="eventData?.activation?.IDC_PYMTORD_INSTNOTES">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_PYMTTYPE" columnName="PaymentTerm" [title]="_TB('Type')" columnType="tb-enum-combo" columnName="IDC_PYMTORD_PYMTTYPE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_ESRREFNO" columnName="l_TEnhPymtOrders_P23" [title]="_TB('ESR Reference Number')" columnType="tb-label-static" columnName="IDC_PYMTORD_ESRREFNO" *ngIf="eventData?.activation?.IDC_PYMTORD_ESRREFNO">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_SUPPLIER" columnName="CustSupp" [title]="_TB('Supplier')" columnType="tb-label-static" columnName="IDC_PYMTORD_SUPPLIER">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_COMPNAME" columnName="l_TEnhPymtOrders_P09" [title]="_TB('Company Name')" columnType="tb-label-static" columnName="IDC_PYMTORD_COMPNAME">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_BRANCH" columnName="l_TEnhPymtOrders_P22" [title]="_TB('Branch')" columnType="tb-label-static" columnName="IDC_PYMTORD_BRANCH" *ngIf="eventData?.activation?.IDC_PYMTORD_BRANCH">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CONTRACT_CODE" columnName="l_TEnhPymtOrders_P25" [title]="_TB('Contract Code')" columnType="tb-label-static" columnName="IDC_PYMTORD_CONTRACT_CODE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_PROJECT_CODE" columnName="l_TEnhPymtOrders_P26" [title]="_TB('Project Code')" columnType="tb-label-static" columnName="IDC_PYMTORD_PROJECT_CODE">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_PYMTORD_DATE" columnName="l_TEnhPymtOrders_P13" [title]="_TB('Due Date')" columnType="tb-date-input" columnName="IDC_PYMTORD_DATE">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_PYMTORD_OPENINGAMOUNT" columnName="l_TEnhPymtOrders_P27" [title]="_TB('Opening Amount')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_OPENINGAMOUNT" *ngIf="eventData?.activation?.IDC_PYMTORD_OPENINGAMOUNT">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_PYMTORD_BALANCE" columnName="l_TEnhPymtOrders_P31" [title]="_TB('Balance')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_BALANCE" *ngIf="eventData?.activation?.IDC_PYMTORD_BALANCE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_PYMTCASH_BE" columnName="PymtCash" [title]="_TB('Cash')" columnType="tb-combo" columnName="IDC_PYMTORD_PYMTCASH_BE" *ngIf="eventData?.activation?.IDC_PYMTORD_PYMTCASH_BE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_PYMTACCOUNT_BE" columnName="PymtAccount" [title]="_TB('Offset')" columnType="tb-text" columnName="IDC_PYMTORD_PYMTACCOUNT_BE" *ngIf="eventData?.activation?.IDC_PYMTORD_PYMTACCOUNT_BE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_COSTCENTER_BE" columnName="CostCenter" [title]="_TB('Cost Center')" columnType="tb-combo" columnName="IDC_PYMTORD_COSTCENTER_BE" *ngIf="eventData?.activation?.IDC_PYMTORD_COSTCENTER_BE">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_PYMTORD_CURRENCY_3" columnName="ValueDate" [title]="_TB('Value Date')" columnType="tb-date-input" columnName="IDC_PYMTORD_CURRENCY_3" *ngIf="eventData?.activation?.IDC_PYMTORD_CURRENCY_3">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CURRENCY" columnName="l_TEnhPymtOrders_P20" [title]="_TB('Curr.')" columnType="tb-label-static" columnName="IDC_PYMTORD_CURRENCY" *ngIf="eventData?.activation?.IDC_PYMTORD_CURRENCY">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_PYMTORD_CURRAMOUNT" columnName="l_TEnhPymtOrders_P21" [title]="_TB('Curr. Amount')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_CURRAMOUNT" *ngIf="eventData?.activation?.IDC_PYMTORD_CURRAMOUNT">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_PYMTORD_AMOUNT" columnName="Amount" [title]="_TB('Amount')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_AMOUNT" *ngIf="eventData?.activation?.IDC_PYMTORD_AMOUNT">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Money" cmpId="IDC_PYMTORD_AMOUNT" columnName="Amount" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_AMOUNT" *ngIf="eventData?.activation?.IDC_PYMTORD_AMOUNT">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Money" cmpId="IDC_PYMTORD_ALLOWANCE" columnName="l_TEnhPymtOrders_P32" [title]="_TB('Allowance')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_ALLOWANCE" *ngIf="eventData?.activation?.IDC_PYMTORD_ALLOWANCE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_ALLOWCASH" columnName="l_TEnhPymtOrders_P28" [title]="_TB('Allowance Cash')" columnType="tb-combo" columnName="IDC_PYMTORD_ALLOWCASH" *ngIf="eventData?.activation?.IDC_PYMTORD_ALLOWCASH">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_ALLOWOFFSET" columnName="l_TEnhPymtOrders_P29" [title]="_TB('Allowance Offset')" columnType="tb-text" columnName="IDC_PYMTORD_ALLOWOFFSET" *ngIf="eventData?.activation?.IDC_PYMTORD_ALLOWOFFSET">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_PYMTORD_INTERESTPENALITY" columnName="l_TEnhPymtOrders_P33" [title]="_TB('Interest And Penality')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_INTERESTPENALITY" *ngIf="eventData?.activation?.IDC_PYMTORD_INTERESTPENALITY">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_INTPENOFFSET" columnName="l_TEnhPymtOrders_P30" [title]="_TB('Interest and Penality Offset')" columnType="tb-text" columnName="IDC_PYMTORD_INTPENOFFSET" *ngIf="eventData?.activation?.IDC_PYMTORD_INTPENOFFSET">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CURRENCY_2" columnName="l_TEnhPymtOrders_P17" [title]="_TB('Data in Currency')" columnType="tb-label-static" columnName="IDC_PYMTORD_CURRENCY_2" *ngIf="eventData?.activation?.IDC_PYMTORD_CURRENCY_2">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_SUPPLIERBANK" columnName="CustSuppBank" [title]="_TB('Sup. Bank')" columnType="tb-label-static" columnName="IDC_PYMTORD_SUPPLIERBANK" *ngIf="eventData?.activation?.IDC_PYMTORD_SUPPLIERBANK">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_SUPPBANKDESCRI" columnName="l_TEnhPymtOrders_P10" [title]="_TB('Supp. Bank Description')" columnType="tb-label-static" columnName="IDC_PYMTORD_SUPPBANKDESCRI" *ngIf="eventData?.activation?.IDC_PYMTORD_SUPPBANKDESCRI">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CASUPPLIERBANK" columnName="CA" [title]="_TB('Supp. CA No.')" columnType="tb-label-static" columnName="IDC_PYMTORD_CASUPPLIERBANK" *ngIf="eventData?.activation?.IDC_PYMTORD_CASUPPLIERBANK">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CIN" columnName="CIN" [title]="_TB('CIN Code')" columnType="tb-label-static" columnName="IDC_PYMTORD_CIN" *ngIf="eventData?.activation?.IDC_PYMTORD_CIN">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_SUPPIBAN" columnName="l_TEnhPymtOrders_P19" [title]="_TB('Supp. IBAN')" columnType="tb-label-static" columnName="IDC_PYMTORD_SUPPIBAN" *ngIf="eventData?.activation?.IDC_PYMTORD_SUPPIBAN">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_PRESENTATIONBANK" columnName="PresentationBank" [title]="_TB('Bank Used')" columnType="tb-combo" columnName="IDC_PYMTORD_PRESENTATIONBANK" *ngIf="eventData?.activation?.IDC_PYMTORD_PRESENTATIONBANK">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_BANKDESCRIPTIONPR" columnName="l_TEnhPymtOrders_P11" [title]="_TB('Description of Bank Used')" columnType="tb-label-static" columnName="IDC_PYMTORD_BANKDESCRIPTIONPR" *ngIf="eventData?.activation?.IDC_PYMTORD_BANKDESCRIPTIONPR">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_BANKCAPR" columnName="DebitCA" [title]="_TB('Used CA No.')" columnType="tb-combo" columnName="IDC_PYMTORD_BANKCAPR" *ngIf="eventData?.activation?.IDC_PYMTORD_BANKCAPR">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_DOCDATA" columnName="l_TEnhPymtOrders_P04" [title]="_TB('Document Data')" columnType="tb-label-static" columnName="IDC_PYMTORD_DOCDATA">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_PRESNOTES" columnName="PresentationNotes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_PYMTORD_PRESNOTES">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CHARGESTYPE" columnName="ChargesType" [title]="_TB('Charges Type')" columnType="tb-enum-combo" columnName="IDC_PYMTORD_CHARGESTYPE" *ngIf="eventData?.activation?.IDC_PYMTORD_CHARGESTYPE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_STATISTICTYPE" columnName="StatisticType" [title]="_TB('Statistic Type')" columnType="tb-label-static" columnName="IDC_PYMTORD_STATISTICTYPE" *ngIf="eventData?.activation?.IDC_PYMTORD_STATISTICTYPE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_STATISTICREASON" columnName="StatisticReason" [title]="_TB('Statistic Reason')" columnType="tb-text" columnName="IDC_PYMTORD_STATISTICREASON" *ngIf="eventData?.activation?.IDC_PYMTORD_STATISTICREASON">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CUSTOMTARIFF" columnName="CustomTariff" [title]="_TB('Custom Tariff')" columnType="tb-text" columnName="IDC_PYMTORD_CUSTOMTARIFF" *ngIf="eventData?.activation?.IDC_PYMTORD_CUSTOMTARIFF">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CHARGESTYPE" columnName="ChargesType" [title]="_TB('Charges Type')" columnType="tb-enum-combo" columnName="IDC_PYMTORD_CHARGESTYPE" *ngIf="eventData?.activation?.IDC_PYMTORD_CHARGESTYPE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_SEPA_CATEGORY" columnName="SEPACategoryPurpose" [title]="_TB('SEPA Category')" columnType="tb-text" columnName="IDC_PYMTORD_SEPA_CATEGORY" *ngIf="eventData?.activation?.IDC_PYMTORD_SEPA_CATEGORY">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_EXCEEDED" columnName="l_TEnhPymtOrders_P05" [title]="_TB('Over')" columnType="tb-checkbox" columnName="IDC_PYMTORD_EXCEEDED" *ngIf="eventData?.activation?.IDC_PYMTORD_EXCEEDED">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_ISSUED" columnName="Presented" columnType="tb-checkbox" columnName="IDC_PYMTORD_ISSUED" *ngIf="eventData?.activation?.IDC_PYMTORD_ISSUED">
             </tb-body-edit-column>
            </tb-body-edit>
           </tb-tile>
          </ng-template>
         </tb-tilegroup>
         <tb-tilegroup [title]="_TB('Issue Banks')" tbLayoutTypeVbox >
          <ng-template>
           <tb-tile tbTileAutoFill  hasTitle="False">
<div class="anchored">            <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Selected with Bank to be Assigned')" cmpId="IDC_PYMTORD_BANKS_PYMTORD_TOTALAMOUNT" width="68" [model]="eventData?.model?.PymtOrdPresentableTot"></tb-numeric-text-box>
            <tb-label-static cmpId="IDC_PYMTORD_STATUS" width="287" [model]="eventData?.model?.ProcessStatus"></tb-label-static>
</div>            <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Selected with CA to be Assigned')" cmpId="IDC_PYMTORD_BANKS_PYMTORD_TOTALAMOUNTWITHOUTCA" width="68" [model]="eventData?.model?.PymtOrdPresentableTotWithoutCC"></tb-numeric-text-box>
            <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Selected Banks residual balances')" cmpId="IDC_PYMTORD_BANKS_TOTALAMOUNT" width="68" [model]="eventData?.model?.TotalBalance"></tb-numeric-text-box>
            <tb-checkbox cmpId="IDC_PYMTORD_ONFORA_BALANCE" width="132" [model]="eventData?.model?.bOverBalance" [caption]="_TB('Exceed Account Balances')"></tb-checkbox>
            <tb-body-edit cmpId="IDC_PYMTORD_BANKS_CHOOSE" width="649" [model]="eventData?.model?.Banks">
             <tb-body-edit-column cmpId="IDC_PYMTORD_SELECT_BANK" columnName="l_TEnhPymtOrdBanks_P1" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_PYMTORD_SELECT_BANK">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_BANK" columnName="Bank" [title]="_TB(' Bank ')" columnType="tb-label-static" columnName="IDC_PYMTORD_BANK">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_BANKDESCRIPTION" columnName="l_TEnhPymtOrdBanks_P2" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_PYMTORD_BANKDESCRIPTION">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CANO" columnName="CA" [title]="_TB('CA No.')" columnType="tb-label-static" columnName="IDC_PYMTORD_CANO">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_IBAN" columnName="IBAN" [title]="_TB('IBAN')" columnType="tb-label-static" columnName="IDC_PYMTORD_IBAN" *ngIf="eventData?.activation?.IDC_PYMTORD_IBAN">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CURRENCY_2" columnName="Currency" [title]="_TB('Currency')" columnType="tb-label-static" columnName="IDC_PYMTORD_CURRENCY_2" *ngIf="eventData?.activation?.IDC_PYMTORD_CURRENCY_2">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_PYMTORD_BALANCE" columnName="l_TEnhPymtOrdBanks_P4" [title]="_TB('Remainder Balance')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_BALANCE">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_CAACCOUNT" columnName="Account" [title]="_TB('Chart of Account a/c')" columnType="tb-label-static" columnName="IDC_PYMTORD_CAACCOUNT">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_ACCOUNTDESCRI" columnName="l_TEnhPymtOrdBanks_P3" [title]="_TB('Account Description')" columnType="tb-label-static" columnName="IDC_PYMTORD_ACCOUNTDESCRI">
             </tb-body-edit-column>
            </tb-body-edit>
           </tb-tile>
          </ng-template>
         </tb-tilegroup>
         <tb-tilegroup [title]="_TB('Processing Result')" tbLayoutTypeVbox >
          <ng-template>
           <tb-tile tbTileAutoFill  hasTitle="False">
            <tb-body-edit cmpId="IDC_PYMTORD_RESULTS" width="325" [model]="eventData?.model?.IssueResult">
             <tb-body-edit-column cmpId="IDC_PYMTORD_TITLE_SLIPNO" columnName="Slip" [title]="_TB('Slip')" columnType="tb-label-static" columnName="IDC_PYMTORD_TITLE_SLIPNO">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_TITLE_BANK" columnName="PresentationBank" [title]="_TB(' Bank ')" columnType="tb-label-static" columnName="IDC_PYMTORD_TITLE_BANK">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_TITLE_NO_CA" columnName="CA" [title]="_TB('CA No.')" columnType="tb-label-static" columnName="IDC_PYMTORD_TITLE_NO_CA">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_TITLEIBAN" columnName="TEnhIssueResult_P5" [title]="_TB('IBAN')" columnType="tb-label-static" columnName="IDC_PYMTORD_TITLEIBAN" *ngIf="eventData?.activation?.IDC_PYMTORD_TITLEIBAN">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_PYMTORD_TITLE_DATE" columnName="l_TEnhIssueResult_P1" [title]="_TB('Of')" columnType="tb-date-input" columnName="IDC_PYMTORD_TITLE_DATE">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_PYMTORD_TITLE_BILLSNO" columnName="l_TEnhIssueResult_P2" [title]="_TB('Number')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_TITLE_BILLSNO">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_TITLE_CURRENCY" columnName="Currency" [title]="_TB('Currency')" columnType="tb-label-static" columnName="IDC_PYMTORD_TITLE_CURRENCY" *ngIf="eventData?.activation?.IDC_PYMTORD_TITLE_CURRENCY">
             </tb-body-edit-column>
             <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_PYMTORD_TITLE_TOTALAMOUNT" columnName="l_TEnhIssueResult_P3" [title]="_TB('Total')" columnType="tb-numeric-text-box" columnName="IDC_PYMTORD_TITLE_TOTALAMOUNT">
             </tb-body-edit-column>
             <tb-body-edit-column cmpId="IDC_PYMTORD_TITLE_CODETYPE" columnName="l_TEnhIssueResult_P4" [title]="_TB('Type')" columnType="tb-label-static" columnName="IDC_PYMTORD_TITLE_CODETYPE">
             </tb-body-edit-column>
            </tb-body-edit>
           </tb-tile>
          </ng-template>
         </tb-tilegroup>
        </tb-tilemanager>
       </tb-tile>
       <tb-tilepanel [title]="_TB('Totals')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"><div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Selected to be Issued')" cmpId="IDC_PYMTORD_SEL_TOTALAMOUNT" width="68" [model]="eventData?.model?.ToBePresented"></tb-numeric-text-box>
         <tb-label-static cmpId="IDC_PYMTORD_STATUS" width="300" [model]="eventData?.model?.ProcessStatus"></tb-label-static>
</div></div><div class="col col2"></div>        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane [title]="_TB('LegendDockPane')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileMini  hasTitle="False">
<div class="anchored">         <tb-image [height]="14" [width]="15" cmpId="IDC_BLOCKEDLITIGATION_LEGEND_BLOCKED" width="15" [model]="eventData?.model?.BlockedImage"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="82" [caption]="_TB('Blocked')"></tb-caption>
</div><div class="anchored">         <tb-image [height]="14" [width]="15" cmpId="IDC_BLOCKEDLITIGATION_LEGEND_LITIGATION" width="15" [model]="eventData?.model?.LitigationImage"></tb-image>
         <tb-caption cmpId="IDC_STATIC" width="82" [caption]="_TB('In litigation')"></tb-caption>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
