.toolbar-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 44px;
    align-items: center;
}

.history {
    width: 42px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
    &:hover {
        background: #ccc;
    }
}

.title {
    display: flex;
    flex: 1 1 auto;
    &>span {
        line-height: 44px;
        margin: 0 10px;
        font-weight: 500;
        font-size: 16px;
    }
}

.menu {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    padding: 0px 0 0 3px;
    height: 44px;
    align-items: center;
}

.right {
    display: flex;
    flex: 0 1 auto;
    padding: 0px 0 0 3px;
    height: 44px;
    align-items: center;
}