

.tileContent {
	/*height:234px;*/ /*this parameter must be changed with javascript*/
	height:240px;
	width:350px;
	overflow: auto;
	padding-right: 5px;
	padding-top: 2px;
	line-height: 140%;
}

	.tileContent a {
		text-decoration: none;
	}

	/*menu object image*/
	.tileContent > div > div {
		display: inline-block;
	}

.link {
	cursor: pointer;
}

.themeFontColor {
	color:steelblue;
}

	/*pin image*/
	.showHideTile{
		float: right;
	}

::-webkit-scrollbar-thumb {
	background: rgba(117, 117, 117, 1);
}


::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	z-index: 1100;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
	background-color: white;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
}

.floatRight {
	float: right;
}

.imageSmall {
	font-size: large;
	width: 14px;
	height: 14px;
}

.menuItemImage {
	font-size: larger;
	width: 19px;
	height: 19px;
}


/*trucate text if doesnt fit*/
.truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
	overflow: hidden;
}

.titleFont .truncate {
	width: 95%;
}

#user .truncate {
	width: 50%;
}


.favorite {
	content: url(./app/menu/images/favorite.png);
}

.unfavorite {
	content: url(./app/menu/images/Unfavorite.png);
}

