<tb-frame>
    <tb-toolbar-top>
        <tb-toolbar-separator></tb-toolbar-separator>
        <tb-toolbar-top-button icon="first_page" caption="First" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="chevron_left" caption="Previous" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="chevron_right" caption="Next" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
        <tb-toolbar-top-button icon="last_page" caption="Last" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
        <tb-toolbar-separator></tb-toolbar-separator>
        <tb-toolbar-top-button icon="clear" caption="Exit" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
    </tb-toolbar-top>
    <tb-view>
        <tb-tilemanager>
            <tb-tilegroup  [title]="'group1'">
                <tb-tile>
                    <tb-edit caption="Language" cmpId="IDC_LANGUAGES_LANGUAGE" [model]="document?.model?.DBT?.Languages?.Language"></tb-edit>
                    <tb-edit caption="Description" cmpId="IDC_LANGUAGES_DESCRIPTION" [model]="document?.model?.DBT?.Languages?.Description"></tb-edit>
                </tb-tile>
            </tb-tilegroup>

             <tb-tilegroup [title]="'group2'">
                <tb-tile>
                    <tb-edit caption="Language" cmpId="IDC_LANGUAGES_LANGUAGE" [model]="document?.model?.DBT?.Languages?.Language"></tb-edit>
                    <tb-edit caption="Description" cmpId="IDC_LANGUAGES_DESCRIPTION" [model]="document?.model?.DBT?.Languages?.Description"></tb-edit>
                     <tb-edit caption="Culture" cmpId="IDC_EDIT_CULTURE" [model]="document?.model?.DBT?.Languages?.Culture">
                    </tb-edit>
                </tb-tile>
            </tb-tilegroup>
        </tb-tilemanager>
    </tb-view>
    <tb-toolbar-bottom>
        <tb-toolbar-bottom-button caption="Save" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
        <tb-toolbar-bottom-button caption="Escape" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
        <tb-toolbar-bottom-button caption="New" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
        <tb-toolbar-bottom-button caption="Edit" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
        <tb-toolbar-bottom-button caption="Delete" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
    </tb-toolbar-bottom>
</tb-frame>