$bkg-light:rgba(94, 193, 136, 1);
$bkg-light-opacity50: rgba(94, 193, 136, 0.3);
$bkg-medium:rgba(40, 144, 91, 1);
$bkg-dark: rgba(0, 97, 49, 1);
$bkg-neutral:#BDBDBD;
$bkg: #FAFAFAFA;
$bkg-app: rgba(0, 97, 49, 0.2);
$text-light: rgb(238, 238, 238);
$text-medium: #9E9E9E;
$text-dark: #212121;
$text-black: #000000;
$font-size-tooltip: 12px;
.underwater {
    //toolbar principale, dove si trova anche la "ricerca"
    .mat-toolbar.mat-primary {
        background: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report
    .tabber-container>.k-tabstrip>.k-tabstrip-items {
        background: $bkg-medium;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
        background: $bkg-dark;
        color: $text-light;
        border-bottom-color: $bkg-medium;
    }
    //Selettore menu/dashboard/documenti/report, singola tab attiva
    .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
        background: $bkg-light;
        color: $text-black;
        border-bottom-color: $bkg-medium;
    }
    //colore pulsanti finestre di messaggio modali
    // .k-button.k-primary,
    //.k-button.k-primary,
    //.k-button.k-primary:visited,
    //.k-slider .k-draghandle,
    //.k-switch-on .k-switch-handle {
    //background-color: $bkg-medium;
    //border-color: $bkg-medium;
    //color: $text-dark;
    //}
    //.k-button.k-primary:hover,
    //{
    //background-color: $bkg-light;
    //border-color: $bkg-light;
    //color: $text-dark;
    //background-image: none;
    //}
    .k-button {
        color: $text-black;
    }
    //colore barra del titolo delle finestre di messaggio modali
    .k-dialog-titlebar {
        background-color: $bkg-medium;
    }
    //titoli finestre di messaggio modali
    .k-window-title {
        font-size: 17px;
        line-height: normal;
        background-color: $bkg-medium
    }
    //colore della toolbar principale della frame
    .toolbar-top {
        background-color: $bkg-light;
        color: $text-black;
    }
    //colore del tabber del selettore menu
    .menu-page .k-tabstrip-top>.k-tabstrip-items {
        background-color: $bkg-light;
        color: $text-light;
    }
    //colore del tabber del selettore menu, singola tab
    .menu-page .k-tabstrip>.k-tabstrip-items .k-item .k-link {
        color: $text-dark;
    }
    //colore del tabber del selettore menu, singola tab attiva
    .menu-page .k-tabstrip-top>.k-tabstrip-items .k-item.k-state-active .k-link {
        color: $bkg-medium;
        border-bottom: 1;
        border-bottom-color: $bkg;
        background: $bkg-dark;
        color: $text-light;
    }
    //colore line in headerstrip
    .header-strip .line {
        display: block;
        background: linear-gradient(to right, rgba(0, 97, 49, 1) 0%, rgba(94, 193, 136, 1), rgba(238, 238, 238, 0.2) 100%);
    }
    //titolo della tbcard
    .tb-card-title {
        font-size: 17px;
    }
    tb-menu-element .menu-element:hover {
        background-color: $bkg-light-opacity50;
    }
    //mouseover theme changer
    .div-theme-carrier:hover {
        background-color: $bkg-light-opacity50;
    }
    //dimensione del font delle voci di menu
    tb-menu-element .menu-element-content .object-type {
        font-size: 16px;
    }
    //Colore icone di tipo document
    tb-menu-element .menu-element-content .object-type.Document {
        color: $bkg-medium;
    }
    //Colore icone di tipo Report
    tb-menu-element .menu-element-content .object-type.Report {
        color: $bkg-medium;
    }
    //Colore icone di tipo Batch
    tb-menu-element .menu-element-content .object-type.Batch {
        color: $bkg-medium;
    }
    //Colore icone di tipo Function
    tb-menu-element .menu-element-content .object-type.Function {
        color: $bkg-medium;
    }
    //colore della stellina nel menu dei favoriti
    tb-menu-element .menu-element-content .star {
        color: $bkg-medium;
        font-size: 18px;
        line-height: 22px;
        margin-right: 3px;
        &.favorite {
            color: $bkg-medium;
        }
    }
    tb-menu-element .menu-element-content .star:hover {
        color: $bkg-dark;
        cursor: pointer;
    }
    //
    //colore scrollbar
     ::-webkit-scrollbar-thumb {
        background: $bkg-medium;
    }
    //colore di fondo della sidenav
    .mat-sidenav {
        background: $bkg-medium;
    }
    //colore di fondo della lista applicazioni
    ul.application-list,
    ul.groups-list {
        background: $bkg-medium;
        &>li {
            color: $text-light;
            background: $bkg-app;
        }
        &>li:hover {
            color: $text-light;
            background: $bkg-dark;
        }
        .selected {
            background: $bkg-dark;
        }
    }
    //tidolo delle voci sidenav
    .sidenav-subtitle {
        background-color: $bkg-medium;
        h4 {
            color: $text-light;
        }
    }
    //stile quando usato nella sidenav
    /// inizio sidenav
    .sidenav {
        m4-icon.close {
            color: #ddd;
        }
        //recenti, colori 
        .most-used-item,
        .favorite-item,
        .hiddenTiles-item {
            color: $text-light;
            background: $bkg-medium;
            &>span {
                font-weight: 600;
            }
            &:hover {
                background: $bkg-dark;
            }
            &:hover span {
                color: $text-light;
            }
            m4-icon.close {
                &:hover {
                    color: #fff;
                }
            }
        }
        //recenti, favoriti , nascosti, lista vuota
        .most-used-empty,
        .favorites-empty,
        .hiddenTiles-empty {
            color: $text-light;
            background: $bkg-medium;
        }
    }
    /// fine sidenav
    //stile quando usato nella dashboard
    /// inizio dashboard
    .dashboard {
        //recenti, preferiti
        .most-used-item,
        .favorite-item,
        .hiddentiles {
            background: #f1f1f1;
            border: 1px solid #ddd;
            margin: 3px 7px;
            height: 28px;
            &>span {
                color: $text-dark;
                line-height: 29px;
            }
            &:hover span,
            &:hover m4-icon.close
             {
                color: $bkg-medium;
            }
            .type {
                margin-right: 7px;
            }
            .type.Document {
                color: $bkg-medium;
            }
            .type.Report,
            .type.Function {
                color: $bkg-medium;
            }
            .type.Batch {
                color: $bkg-medium;
            }
            m4-icon.close {
                color: #ddd;
            }
        }
        .most-used-empty,
        .favorites-empty,
        .hiddenTiles-empty {
            color: $text-dark;
        }
        .favorites {
            ul.favorites-list {
                .favorite-item {
                    background: #f1f1f1;
                    border: 1px solid #ddd;
                    margin: 3px 7px;
                    height: 28px;
                    color: $bkg-medium;
                    line-height: 29px;
                    m4-icon.type {
                        margin-right: 7px;
                        color: $bkg-medium;
                    }
                }
            }
        }
    }
    .tbcontainer #anchor:hover,
    .tbcontainer #anchor:focus,
    .tbcontainer #anchor:visited {
        outline-color: $bkg-light;
        outline-style: auto;
        outline-width: 5px;
    }
    /*colore del bottone spinner*/
    .hideButton {
        color: $bkg-medium;
    }
    /* colore del loader*/
    .loader {
        border: 4px solid $bkg-light-opacity50; // è lo stesso del light con opacità inferiore
        border-top: 4px solid $bkg-dark;
    }
}

.mat-tooltip {
    font-size: $font-size-tooltip !important;
    background-color: $bkg-dark !important;
    color: $text-light !important;
    border-radius: 4px !important;
    text-align: center;
}