<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TbSenderTestUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<!--add name="PostaLiteIntegrationEntities" connectionString="Data Source=(local);Initial Catalog=PostaLiteIntegration;User Id=plUser;Password=plUser;Max Pool Size=200" providerName="System.Data.EntityClient" /-->
		<!-- add name="PostaLiteIntegrationEntities" connectionString="metadata=res://*/PostaLiteIntegrationModel.csdl|res://*/PostaLiteIntegrationModel.ssdl|res://*/PostaLiteIntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=PostaLiteIntegration;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" / -->
		<add name="PostaLiteIntegrationEntities" connectionString="metadata=res://*/PostaLiteIntegrationModel.csdl|res://*/PostaLiteIntegrationModel.ssdl|res://*/PostaLiteIntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Az37_prova;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
  <TbSenderTestUI.Properties.Settings>
   <setting name="TbSenderTestUI_PLProxy_PLProxy" serializeAs="String">
    <value>http://localhost/Development/TbSender/PLProxy.asmx</value>
   </setting>
  </TbSenderTestUI.Properties.Settings>
 </applicationSettings>
</configuration>
