<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings version ="2">
   <Section name="Environment" localize="Environment">
    <Setting name="EnableAssertionsInRelease" type="bool" value="0"/>
    <Setting name="DumpAssertionsIfNoCrash" type="bool" value="0" /> 
    <Setting name="LogDiagnosticInEventViewerUnattendedMode" type="bool" value="0" />
    <Setting name="ManageCompanyDatabaseCulture" type="bool" value="1" localize="Enable Data Management based on Database Culture Localization"  hidden="true"/>
   <Setting name="SingleThreaded" type="bool" value="0" localize="Force document excution on the same thread" hidden="true" />
  </Section>
  <Section name="Forms" localize="Windows Management">
    <Setting name="ImmediateBrowsing" type="bool" value="0" />
    <Setting name="DisplayBrowsingLimits" type="bool" value="0"/>
    <Setting name="HotlinkComboDefaultFields" type="string" value="@dbfield,Description,CompanyName"/>
     <Setting name="MaxComboBoxItems" type="long" value="300" localize="Maximum number of elements in lists/drop down menus" />
    <Setting name="ShowZerosinInput" type="bool" value="1"/>
    <Setting name="AllowBodyeditColumnHeaderSmallFont" type="integer" value="0" />
    <Setting name="AddBodyeditColumnHeaderExtraSpace" type="bool" value="1"/>
    <Setting name="DataTipDelay" type="integer" value="300"/>
    <Setting name="DataTipLevelOnBodyedit" type="integer" value="63"/>
    <Setting name="DataTipMaxWidth" type="integer" value="800"/>
    <Setting name="DataTipMaxHeight" type="integer" value="600"/>
    <Setting name="EnableCenterControls" type="bool" value="1"/>
    <Setting name="TreatEnterAsTab" type="bool" value="0" localize="Enables moving to the next control using the ENTER key" hidden="true" />
    <Setting name="RadarEndForward" type="bool" value="0" hidden="true" />
    <Setting name="UpdateTBFFiles" type="bool" value="1" hidden="true" />
    <Setting name="TabbedDocuments" type="bool" value="1" localize="Enables tabbed documents" hidden="true"/>
    <Setting name="ChildManagement" type="bool" value="1" localize="Enables new domodal child disabling" hidden="true"/>    
  </Section>
   <Section name="Preference" localize="Preferences">
    <Setting name="TBLoaderDefaultSOAPPort" type="integer" value="10000"/>
    <Setting name="ShowAdminCustomSaveDialog" type="bool" value="1" />    
    <Setting name="UseWoormRadar" type="bool" value="0"/>    
    <Setting name="RepeatableNew" type="bool" value="0"/>
    <Setting name="UseEasyBrowsing" type="bool" value="0" />
    <Setting name="EnableFindOnSlaveFields" type="bool" value="1"/>
   </Section>
   <Section name="DataTypeEpsilon" localize="Precision in Double numbers">
    <Setting name="DoubleDecimals" type="integer" value="7"/>
    <Setting name="MonetaryDecimals" type="integer" value="7"/>
    <Setting name="PercentageDecimals" type="integer" value="7"/>
    <Setting name="QuantityDecimals" type="integer" value="7"/>
  </Section>
  <Section name="Report" localize="Report">
    <Setting name="ShowPrintSetup" type="bool" value="0"/>
    <Setting name="UpdateDefaultReport" type="bool" value="1"/>
    <Setting name="UseMultithreading" type="bool" value="1"/>/>
  </Section>
  <Section name="Development" localize="Development" hidden="true">
    <Setting name="AllActive" type="bool" value="0" localize="By Pass" hidden="true"/>
    <Setting name="EnableLockTrace" type="bool" value="0" localize="Traces all multithreading syncronization locks for debugging purposes" hidden="true" />
    <Setting name="LogExitInstance" type="bool" value="0" localize="Creates an ExitLog file to trace application end" hidden="true" />    
    <Setting name="Expect100Continue" type="bool" value="1" localize="Enable/Disable the Expect100Continue header in SOAP calls" hidden="true" />
    <Setting name="ChromeDebuggingPort" type="integer" value="0" localize="Enables javascript debugging using Chrome" hidden="true" />
  </Section>
 <Section name="Culture" localize="Base Culture"> 
    <Setting name="ExcelDateFormat" type="string" value="MM/dd/yyyy"/>
   <Setting name="ExcelTimeFormat" type="string" value="hh:mm"/>
   <Setting name="ExcelDateTimeFormat" type="string" value="M/d/yyyy hh:mm;@"/>
   <Setting name="LowerLimit" type="string" value="" localize="Lower limit string const" hidden="true"/>
   <Setting name="UpperLimit" type="string" value="z" localize="Upper limit string const" hidden="true"/>
   <Setting name="UseVCenterBottomAlignInWoormFields" type="bool" value="1" localize="Uses auto VCenter-Bottom Align in Woorm fields" hidden="true"/>
   <Setting name="SizeOfDescriptionFont" type="integer" value="8" localize="Size of 'Description' font" hidden="true"/>   
</Section>
  <Section name="Culture_it-IT" localize="Culture Italian (Italy, it-IT)" hidden="true">
    <Setting name="ExcelDateFormat" type="string" value="gg/MM/aaaa"/>
    <Setting name="ExcelTimeFormat" type="string" value="hh:mm" localize="Excel's format cell for type Time" />
    <Setting name="ExcelDateTimeFormat" type="string" value="g/m/aaaa h.mm;@" localize="Excel's format cell for type Date" />
  </Section>
  <Section name="Culture_it-CH" localize="Culture Italian (Switzerland, it-CH)" hidden="true">
    <Setting name="ExcelDateFormat" type="string" value="gg/MM/aaaa" localize="Excel's format cell for type Date" />
    <Setting name="ExcelTimeFormat" type="string" value="hh:mm" localize="Excel's format cell for type Time" />
    <Setting name="ExcelDateTimeFormat" type="string" value="g/m/aaaa h.mm;@" localize="Excel's format cell for type Date" />
  </Section>
  <Section name="Culture_pl" localize="Culture Polish (Poland, pl)" hidden="true">
     <Setting name="UpperLimit" type="string" value="Ż" localize="Upper limit string const" hidden="true"/>
   </Section>
  <Section name="Culture_hu" localize="Culture Hungarian (Hungary, hu)" hidden="true">
   </Section>
  <Section name="Culture_ro" localize="Culture Romanian (Romania, ro)" hidden="true">
  </Section>
  <Section name="Culture_bg-BG" localize="Culture Bulgarian (Bulgaria, bg)" hidden="true">
     <Setting name="UpperLimit" type="string" value="Я" localize="Upper limit string const" hidden="true"/>
   </Section>
  <Section name="Culture_zh-CHS" localize="Culture zh-CHS" hidden="true">
    <Setting name="UpperLimit" type="string" value="做" localize="Upper limit string const" hidden="true"/>
    <Setting name="SizeOfDescriptionFont" type="integer" value="9" localize="Size of 'Description' font" hidden="true"/>
    <Setting name="CharSetSample" type="string" value="会计行的一些数据与新的操作类型不一致。用新的默认值更新现有的会缺少行号的摘要编码您确定删除吗指定的范围不在本次会计年度中相应的年度科目表不可用操作失败" localize="Sample characters" hidden="true"/>
  </Section>
  <Section name="Culture_zh-CHT" localize="Culture zh-CHT" hidden="true">
    <Setting name="SizeOfDescriptionFont" type="integer" value="9" localize="Size of 'Description' font" hidden="true"/>
    <Setting name="UpperLimit" type="string" value="做" localize="Upper limit string const" hidden="true"/>
    <Setting name="CharSetSample" type="string" value="会计行的一些数据与新的操作类型不一致。用新的默认值更新现有的会缺少行号的摘要编码您确定删除吗指定的范围不在本次会计年度中相应的年度科目表不可用操作失败" localize="Sample characters" hidden="true"/>
  </Section>
  <Section name="Culture_sr-sp-cyrl" localize="Culture sr-sp-cyrl" hidden="true">
    <Setting name="UpperLimit" type="string" value="Ш" localize="Upper limit string const" hidden="true"/>
   </Section>
    <Section name="Culture_sr-sp-latn" localize="Culture sr-sp-latn" hidden="true">
     <Setting name="UpperLimit" type="string" value="Ž" localize="Upper limit string const" hidden="true"/>
  </Section>
   <Section name="Culture_sl" localize="Culture sl" hidden="true">
    <Setting name="UpperLimit" type="string" value="Ž" localize="Upper limit string const" hidden="true"/>
    </Section> 
   <Section name="Culture_cz" localize="Culture Czech" hidden="true">
     <Setting name="UpperLimit" type="string" value="ž" localize="Upper limit string const" hidden="true"/>
  </Section>
  <Section name="Scheduler" localize="TBScheduler">
	<Setting name="TaskIsolation" type="bool" value="0"/>
  </Section>
</ParameterSettings>
