<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings version ="2">
   <Section name="Environment" localize="Environment">
    <Setting name="EnableAssertionsInRelease" type="bool" value="0" localize="Enable assertions to be evaluated and issued when running in Release configuration (i.e.: real user installations)" />
    <Setting name="DumpAssertionsIfNoCrash" type="bool" value="0" localize="Collected assertions in Release configuration are dumped even if the program did not crash (the user is prompted at the program's end)" /> 
    <Setting name="LogDiagnosticInEventViewerUnattendedMode" type="bool" value="0" localize="Enable all diagnostic tracing in event Viewer Log when application run in unattended mode" />
      <Setting name="ManageCompanyDatabaseCulture" type="bool" value="1" localize="Enable Data Management based on Database Culture Localization"  hidden="true"/>
   <Setting name="SingleThreaded" type="bool" value="0" localize="Force document excution on the same thread" hidden="true" />
  </Section>
  <Section name="Forms" localize="Windows Management">
    <Setting name="ImmediateBrowsing" type="bool" value="0" localize="Enables immediate data reading when opening window" />
    <Setting name="DisplayBrowsingLimits" type="bool" value="0" localize="Disables the first and last browser buttons on first or last record" />
    <Setting name="HotlinkComboDefaultFields" type="string" value="@dbfield,Description,CompanyName" localize="Shows which record fields will be view in default combo for a HotKeyLink" />
     <Setting name="MaxComboBoxItems" type="long" value="300" localize="Maximum number of elements in lists/drop down menus" />
    <Setting name="ShowZerosinInput" type="bool" value="1" localize="1 = Shows zero in numeric input controls 0 = Shows zeros as blanks in numeric input controls"  />
    <Setting name="AllowBodyeditColumnHeaderSmallFont" type="integer" value="0" localize="Reduce control font height for small font on bodyedit column headers" />
    <Setting name="AddBodyeditColumnHeaderExtraSpace" type="bool" value="1" localize="Add extra space to bodyedit column headers" />
    <Setting name="DataTipDelay" type="integer" value="300" localize="Delay time before show DataTip" />
    <Setting name="DataTipLevelOnBodyedit" type="integer" value="63" localize="(Bit vector: NONE=0, Custom tip=1, Column header=2, Browse doc.=4, Batch doc.=8, Edit doc.=16, Add column header on cell tip=32, ALL options=63)" />
    <Setting name="DataTipMaxWidth" type="integer" value="800" localize="Max width of DataTip" />
    <Setting name="DataTipMaxHeight" type="integer" value="600" localize="Max height of DataTip" />
    <Setting name="EnableCenterControls" type="bool" value="1" localize="Display centered controls"/>
    <Setting name="TreatEnterAsTab" type="bool" value="0" localize="Enables moving to the next control using the ENTER key" hidden="true" />
    <Setting name="RadarEndForward" type="bool" value="0" hidden="true" />
    <Setting name="UpdateTBFFiles" type="bool" value="1" hidden="true" />
    <Setting name="TabbedDocuments" type="bool" value="1" localize="Enables tabbed documents" hidden="true"/>
    <Setting name="ChildManagement" type="bool" value="1" localize="Enables new domodal child disabling" hidden="true"/>    
  </Section>
   <Section name="Preference" localize="Preferences">
    <Setting name="ShowAdminCustomSaveDialog" type="bool" value="1" localize="Shows Custom Save Dialog for grid settings changes when user is Administrator" />    
    <Setting name="UseWoormRadar" type="bool" value="0" localize="Use Radar Woorm instead of Default" />    
    <Setting name="RepeatableNew" type="bool" value="0" localize="Enable Repetitive Data Entry" />
    <Setting name="UseEasyBrowsing" type="bool" value="0" localize="With EasyBrowsing, after finding a document with find (F3) or radar (F7), the document stays in browse mode instead of entering in edit mode" />
    <Setting name="EnableFindOnSlaveFields" type="bool" value="1" localize="Enable finder on slave fields" />	  
  </Section>
   <Section name="DataTypeEpsilon" localize="Precision in Double numbers">
    <Setting name="DoubleDecimals" type="integer" value="7" localize="Data Double Epsilon Decimal Numbers"/>
    <Setting name="MonetaryDecimals" type="integer" value="7" localize="Data Monetary Epsilon Decimal Numbers"/>
    <Setting name="PercentageDecimals" type="integer" value="7" localize="Data Percentage Epsilon Decimal Numbers"/>
    <Setting name="QuantityDecimals" type="integer" value="7" localize="Data Quantity Epsilon Decimal Numbers"/>
  </Section>
  <Section name="Report" localize="Report">
    <Setting name="BarCodeType" type="string" value="" localize="Default bar code  (EAN8, EAN13, CODE39, UPCA, UPCE, EXT39, INT25, CODE128, CODABAR, ZIP, MSIPLESSEY, CODE93, EXT93, UCC128, HIBC, PDF417, UPCE0, UPCE1, CODE128A, CODE128B, CODE128C, EAN128, DataMatrix, MicroQR, QR, Default)" />
    <Setting name="ShowPrintSetup" type="bool" value="0" localize="Show the Print Setup Menu Item" />
    <Setting name="UpdateDefaultReport" type="bool" value="1" localize="Set the report as default, once the user has choosen it from the drop down menu of the toolbar printer button" />
    <Setting name="UseMultithreading" type="bool" value="1" localize="Run engine on own working thread" />/>
  </Section>
  <Section name="Development" localize="Development">
    <Setting name="TBLoaderDefaultSOAPPort" type="integer" value="10000" localize="Default port for TBLoader SOAP server" />
    <Setting name="AllActive" type="bool" value="0" localize="By Pass" hidden="true"/>
    <Setting name="EnableLockTrace" type="bool" value="0" localize="Traces all multithreading syncronization locks for debugging purposes" hidden="true" />
    <Setting name="LogExitInstance" type="bool" value="0" localize="Creates an ExitLog file to trace application end" hidden="true" />    
    <Setting name="Expect100Continue" type="bool" value="1" localize="Enable/Disable the Expect100Continue header in SOAP calls" hidden="true" />
    <Setting name="ChromeDebuggingPort" type="integer" value="0" localize="Enables javascript debugging using Chrome" hidden="true" />
  </Section>
 <Section name="Culture" localize="Base Culture"> 
    <Setting name="ExcelDateFormat" type="string" value="MM/dd/yyyy" localize="Excel's format cell for type Date" />
   <Setting name="ExcelTimeFormat" type="string" value="hh:mm" localize="Excel's format cell for type Time" />
   <Setting name="ExcelDateTimeFormat" type="string" value="M/d/yyyy hh:mm;@" localize="Excel's format cell for type Date" />
   <Setting name="LowerLimit" type="string" value="" localize="Lower limit string const" hidden="true"/>
   <Setting name="UpperLimit" type="string" value="z" localize="Upper limit string const" hidden="true"/>
   <Setting name="UseVCenterBottomAlignInWoormFields" type="bool" value="1" localize="Uses auto VCenter-Bottom Align in Woorm fields" hidden="true"/>
   <Setting name="SizeOfDescriptionFont" type="integer" value="8" localize="Size of 'Description' font" hidden="true"/>   
</Section>
  <Section name="Culture_it-IT" localize="Culture Italian (Italy, it-IT)" hidden="true">
    <Setting name="ExcelDateFormat" type="string" value="gg/MM/aaaa" localize="Excel's format cell for type Date" />
    <Setting name="ExcelTimeFormat" type="string" value="hh:mm" localize="Excel's format cell for type Time" />
    <Setting name="ExcelDateTimeFormat" type="string" value="g/m/aaaa h.mm;@" localize="Excel's format cell for type Date" />
  </Section>
  <Section name="Culture_it-CH" localize="Culture Italian (Switzerland, it-CH)" hidden="true">
    <Setting name="ExcelDateFormat" type="string" value="gg/MM/aaaa" localize="Excel's format cell for type Date" />
    <Setting name="ExcelTimeFormat" type="string" value="hh:mm" localize="Excel's format cell for type Time" />
    <Setting name="ExcelDateTimeFormat" type="string" value="g/m/aaaa h.mm;@" localize="Excel's format cell for type Date" />
  </Section>
  <Section name="Culture_pl" localize="Culture Polish (Poland, pl)" hidden="true">
     <Setting name="UpperLimit" type="string" value="Ż" localize="Upper limit string const" hidden="true"/>
   </Section>
  <Section name="Culture_hu" localize="Culture Hungarian (Hungary, hu)" hidden="true">
   </Section>
  <Section name="Culture_ro" localize="Culture Romanian (Romania, ro)" hidden="true">
  </Section>
  <Section name="Culture_bg-BG" localize="Culture Bulgarian (Bulgaria, bg)" hidden="true">
     <Setting name="UpperLimit" type="string" value="Я" localize="Upper limit string const" hidden="true"/>
   </Section>
  <Section name="Culture_zh-CHS" localize="Culture zh-CHS" hidden="true">
    <Setting name="UpperLimit" type="string" value="做" localize="Upper limit string const" hidden="true"/>
    <Setting name="SizeOfDescriptionFont" type="integer" value="9" localize="Size of 'Description' font" hidden="true"/>
    <Setting name="CharSetSample" type="string" value="会计行的一些数据与新的操作类型不一致。用新的默认值更新现有的会缺少行号的摘要编码您确定删除吗指定的范围不在本次会计年度中相应的年度科目表不可用操作失败" localize="Sample characters" hidden="true"/>
  </Section>
  <Section name="Culture_zh-CHT" localize="Culture zh-CHT" hidden="true">
    <Setting name="SizeOfDescriptionFont" type="integer" value="9" localize="Size of 'Description' font" hidden="true"/>
    <Setting name="UpperLimit" type="string" value="做" localize="Upper limit string const" hidden="true"/>
    <Setting name="CharSetSample" type="string" value="会计行的一些数据与新的操作类型不一致。用新的默认值更新现有的会缺少行号的摘要编码您确定删除吗指定的范围不在本次会计年度中相应的年度科目表不可用操作失败" localize="Sample characters" hidden="true"/>
  </Section>
  <Section name="Culture_sr-sp-cyrl" localize="Culture sr-sp-cyrl" hidden="true">
    <Setting name="UpperLimit" type="string" value="Ш" localize="Upper limit string const" hidden="true"/>
   </Section>
    <Section name="Culture_sr-sp-latn" localize="Culture sr-sp-latn" hidden="true">
     <Setting name="UpperLimit" type="string" value="Ž" localize="Upper limit string const" hidden="true"/>
  </Section>
   <Section name="Culture_sl" localize="Culture sl" hidden="true">
    <Setting name="UpperLimit" type="string" value="Ž" localize="Upper limit string const" hidden="true"/>
    </Section> 
   <Section name="Culture_cz" localize="Culture Czech" hidden="true">
     <Setting name="UpperLimit" type="string" value="ž" localize="Upper limit string const" hidden="true"/>
  </Section>
  <Section name="Scheduler" localize="TBScheduler">
	<Setting name="TaskIsolation" type="bool" value="0" localize="If activated, run each task in its own process"/>
  </Section>
</ParameterSettings>
