

.tileContent {
	/*height:234px;*/ /*this parameter must be changed with javascript*/
	height:240px;
	width:350px;
	overflow: auto;
	padding-right: 5px;
	padding-top: 2px;
	line-height: 140%;
}

	.tileContent a {
		text-decoration: none;
	}

	/*menu object image*/
	.tileContent > div > div {
		display: inline-block;
	}

.link {
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	background: rgba(117, 117, 117, 1);
}


::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	z-index: 1100;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
	background-color: white;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
}


.imageSmall {
	width: 16px;
	height: 16px;
}


/*trucate text if doesnt fit*/
.truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
	overflow: hidden;
}

.titleFont .truncate {
	width: 95%;
}

#user .truncate {
	width: 50%;
}

.menuItemImage {
	width: 19px;
	height: 19px;
}

.Document {
	content: url(./app/menu/images/Document.png);
}

.Report {
	content: url(./app/menu/images/Report.png);
}

.Batch {
	content: url(./app/menu/images/Batch.png);
}

.Function {
	content: url(./app/menu/images/Function.png);
}

.Wizard {
	content: url(./app/menu/images/Wizard.png);
}

.OfficeItem {
	content: url(./app/menu/images/OfficeItem.png);
}

.Unknown {
	content: url(./app/menu/images/Unknown.png);
}

.pinnedImage {
	content: url(./app/menu/images/PinnedMenu.png);
}

.unpinnedImage {
	content: url(./app/menu/images/unpin.png);
}
