<tb-frame>
    <tb-toolbar-top></tb-toolbar-top>
    <tb-view>

        <tb-menu-tabber #tabber (selectedTab)="changeTabByIndex($event)">
            <tb-menu-tab [title]="menuTab?.title" *ngFor="let menuTab of utilsService.toArray(menuService?.selectedGroup?.Menu)"></tb-menu-tab>
        </tb-menu-tabber>

        <tb-header-strip [title]="menuService?.selectedMenu?.title">
            <!--<tb-menu-stepper [Menu]="menuService?.applicationMenu"></tb-menu-stepper>-->
        </tb-header-strip>

        <div class="menu-container">

            <tb-tilegroup *ngIf="menuService.selectedMenu != undefined">
                <tb-tile-content *ngFor="let tile of getTiles()" [Tile]="tile"></tb-tile-content>

                <div *ngIf="menuService.selectedMenu.Object" class="tileContainer">
                    <tb-tile-content [Tile]="menuService.selectedMenu"></tb-tile-content>
                </div>

            </tb-tilegroup>
        </div>
    </tb-view>
</tb-frame>