<tb-frame>
    <tb-toolbar-top></tb-toolbar-top>
    <tb-frame-content>
        <div class="menu-page">
            <kendo-tabstrip #tabber (tabSelect)="changeTabByIndex($event)" [height]="31">
                <kendo-tabstrip-tab [title]="menuTab?.title" *ngFor="let menuTab of utilsService.toArray(menuService?.selectedGroup?.Menu)">
                    <ng-template kendoTabContent>
                        <div class="wrap">
                            <tb-header-strip [title]="menuService?.selectedMenu?.title">

                                <div class="header-strip-content">
                                    <button class="show-description" title="Show Descriptions" kendoButton (click)="menuService?.toggleDecription()" [bare]="!menuService?.showDescription" [primary]="menuService?.showDescription"><md-icon>subject</md-icon></button>
                                </div>

                                <div class="header-strip-under">
                                    <tb-menu-stepper [Menu]="menuService.applicationMenu"></tb-menu-stepper>
                                </div>

                            </tb-header-strip>
                            
                            <div class="menu-container">
                                <masonry [options]="masonryOptions" #masonryContainer>
                                    <div class="brick-sizer"></div>
                                    <tb-menu-content *ngFor="let tile of tiles" [tile]="tile" class="col-xs-12 col-md-6" [ngClass]="{'col-lg-3': tiles.length > 3, 'col-lg-4': tiles.length < 4}"></tb-menu-content>
                                </masonry>
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>
        </div>

    </tb-frame-content>
</tb-frame>