<kendo-grid-column field="{{columnName}}" title="{{title}}" [width]="width" [ngSwitch]="columnType" >
    <ng-template *ngSwitchCase="'tb-text'" kendoGridCellTemplate let-dataItem  >
        <!-- <tb-text cmpId="{{cmpId}}" [model]="dataItem[columnName]"  [width]="width"></tb-text> -->
        <kendo-maskedtextbox [mask]="mask" [ngModel]="dataItem[columnName]?.value" required="required" (blur)="onBlur()" [disabled]="!(dataItem[columnName]?.enabled)" (ngModelChange)="dataItem[columnName].value=$event" [style.width.px]="width"></kendo-maskedtextbox>
    </ng-template>

    <ng-template *ngSwitchDefault kendoGridCellTemplate let-dataItem  >
        <div>{{dataItem[columnName]?.value}}</div>
    </ng-template>
   
</kendo-grid-column>