<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="EasyStudio" localize="EasyStudio" hidden="true">
    <Setting name="Standardizations" type="bool" value="0" localize="Create standardizations with EasyStudio" />
    <Setting name="DeltaEnabled" type="bool" value="1" localize="Enable/Disable delta in customization serialization" />
  </Section>
</ParameterSettings>