 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('Filters')" isCollapsible="True" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Function')" tbTileMini >
         <tb-combo cmpId="IDC_MOBILE_CONFIGURATION_NAMESPACE" width="157" [model]="eventData?.model?.Namespace" [itemSource]="IDC_MOBILE_CONFIGURATION_NAMESPACE_itemSource"></tb-combo>
        </tb-tile>
       </tb-tilepanel>
       <tb-layoutcontainer tbLayoutTypeHbox >
        <tb-layoutcontainer tbLayoutTypeVbox >
         <tb-tile [title]="_TB('Fields')" tbTileAutoFill  isCollapsible="False" isCollapsed="False">
          <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="138" [model]="eventData?.model?.MobileConfigurationFields">
           <tb-body-edit-column cmpId="IDC_MOBILE_CONFIGURATION_FIELDS_FIELD_DESC" width="160" columnName="l_FieldDescription" [title]="_TB('Field')" columnType="tb-label-static" columnName="IDC_MOBILE_CONFIGURATION_FIELDS_FIELD_DESC">
           </tb-body-edit-column>
           <tb-body-edit-column formatter="Integer" cmpId="IDC_MOBILE_CONFIGURATION_FIELDS_WIDTH" width="160" columnName="l_WidthGraphic" [title]="_TB('Width')" columnType="tb-numeric-text-box" columnName="IDC_MOBILE_CONFIGURATION_FIELDS_WIDTH">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_MOBILE_CONFIGURATION_FIELDS_FIXED" width="80" columnName="l_FixedField" [title]="_TB('Fixed')" columnType="tb-checkbox" columnName="IDC_MOBILE_CONFIGURATION_FIELDS_FIXED">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_MOBILE_CONFIGURATION_FIELDS_EDIT" width="100" columnName="l_EditField" [title]="_TB('Edit')" columnType="tb-checkbox" columnName="IDC_MOBILE_CONFIGURATION_FIELDS_EDIT">
           </tb-body-edit-column>
           <tb-body-edit-column cmpId="IDC_MOBILE_CONFIGURATION_FIELDS_MANDATORY" width="100" columnName="l_MandatoryField" [title]="_TB('Mandatory')" columnType="tb-checkbox" columnName="IDC_MOBILE_CONFIGURATION_FIELDS_MANDATORY">
           </tb-body-edit-column>
          </tb-body-edit>
         </tb-tile>
        </tb-layoutcontainer>
        <tb-layoutcontainer tbLayoutTypeVbox >
         <tb-tile [title]="_TB('Available Fields')" tbTileAutoFill  isCollapsible="False" isCollapsed="False">
<div class="anchored">          <tb-button cmpId="IDC_MOBILE_CONFIGURATION_RIGHT_BTN" width="25" [model]="eventData?.model?.bMoveRight"></tb-button>
          <tb-body-edit cmpId="IDC_MOBILE_CONFIGURATION_AVAILABLE_FIELDS_BE" width="138" [model]="eventData?.model?.MobileConfigurationAvailableFields">
           <tb-body-edit-column cmpId="IDC_MOBILE_CONFIGURATION_AVAILABLE_FIELD_DESC" columnName="l_FieldDescription" [title]="_TB(' ')" columnType="tb-label-static" columnName="IDC_MOBILE_CONFIGURATION_AVAILABLE_FIELD_DESC">
           </tb-body-edit-column>
          </tb-body-edit>
</div>          <tb-button cmpId="IDC_MOBILE_CONFIGURATION_LEFT_BTN" width="25" [model]="eventData?.model?.bMoveLeft"></tb-button>
         </tb-tile>
        </tb-layoutcontainer>
       </tb-layoutcontainer>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_MOBILE_CONFIGURATION_RESET_CUSTOMIZATIONS?.enabled" icon="tb-delete" [caption]="_TB('Reset')" cmpId="ID_MOBILE_CONFIGURATION_RESET_CUSTOMIZATIONS"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
