 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" [title]="_TB('Worker')" tbLayoutTypeNone >
      <ng-template>
       <tb-tile [title]="_TB('Worker Window')" tbTileStandard >
        <tb-caption [caption]="_TB('Created by')" cmpId="IDC_WORKER_WINDOW_CREATED_WORKER_DES" width="148" [model]="eventData?.model?.CreatedWorkerDes"></tb-caption>
        <tb-date-input formatter="DateTime" [readonly]="true" [caption]="_TB('On')" cmpId="IDC_WORKER_WINDOW_CREATED_DATE" width="62" [model]="eventData?.model?.CreatedDate"></tb-date-input>
        <tb-email [caption]="_TB('Email')" cmpId="IDC_WORKER_WINDOW_CREATED_EMAIL" width="148" [model]="eventData?.model?.CreatedWorkerEmail"></tb-email>
        <tb-label-static [caption]="_TB('Telephone')" cmpId="IDC_WORKER_WINDOW_CREATED_PHONE" width="62" [model]="eventData?.model?.CreatedWorkerOfficePhone"></tb-label-static>
        <tb-caption cmpId="IDC_WORKER_WINDOW_CREATED_WORKER_PICTURE" width="40" [model]="eventData?.model?.CreatedWorkerPicture"></tb-caption>
        <tb-caption [caption]="_TB('Modified by')" cmpId="IDC_WORKER_WINDOW_MODIFIED_WORKER_DES" width="148" [model]="eventData?.model?.ModifiedWorkerDes"></tb-caption>
        <tb-date-input formatter="DateTime" [readonly]="true" [caption]="_TB('On')" cmpId="IDC_WORKER_WINDOW_MODIFIED_DATE" width="62" [model]="eventData?.model?.ModifiedDate"></tb-date-input>
        <tb-email [caption]="_TB('Email')" cmpId="IDC_WORKER_WINDOW_MODIFIED_EMAIL" width="148" [model]="eventData?.model?.ModifiedWorkerEmail"></tb-email>
        <tb-label-static [caption]="_TB('Telephone')" cmpId="IDC_WORKER_WINDOW_MODIFIED_PHONE" width="62" [model]="eventData?.model?.ModifiedWorkerOfficePhone"></tb-label-static>
        <tb-caption cmpId="IDC_WORKER_WINDOW_MODIFIED_WORKER_PICTURE" width="40" [model]="eventData?.model?.ModifiedWorkerPicture"></tb-caption>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_WORKER_WINDOW_CLOSE?.enabled" icon="tb-closewindows" [caption]="_TB('Close')" cmpId="IDC_WORKER_WINDOW_CLOSE"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
