 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileWide  hasTitle="False">
<div class="col col1"></div><div class="col col2"></div>       </tb-tile>
       <tb-tilepanel [title]="_TB('Filters')" showAsTile="True">
        <tb-tile [title]="_TB('Settings')" tbTileStandard  hasTitle="True">
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_DELTA" width="154" [model]="eventData?.model?.bDelta" [caption]="_TB('Incremental')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Master Data selection')" tbTileStandard  hasTitle="True">
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_ITEMS" width="154" [model]="eventData?.model?.bItems" [caption]="_TB('Items')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_CUSTOMERS" width="154" [model]="eventData?.model?.bCustomers" [caption]="_TB('Customers')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_SUPPLIERS" width="154" [model]="eventData?.model?.bSuppliers" [caption]="_TB('Suppliers')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_CONTACTS" width="154" [model]="eventData?.model?.bContacts" [caption]="_TB('Contacts')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_PROSP_SUPPLIERS" width="154" [model]="eventData?.model?.bProspSuppliers" [caption]="_TB('Prospective Suppliers')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('EasyAttachment - DMS Infinity')" tbTileStandard  hasTitle="True" *ngIf="eventData?.activation?.IDD_TD_CRM_INFINITY_MASSIVE_SYNCHRO_EASYATT">
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_ATTACHMENTS" width="154" [model]="eventData?.model?.bAttachments" [caption]="_TB('Synchronize attachments')"></tb-checkbox>
        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane [title]="_TB('Master Data')">
     <tb-view>
      <tb-tilegroup [active]="true" [title]="_TB('Tile Group')" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Master Data to Synchronize')" tbTileMini >
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_CURRENCIES" width="130" [model]="eventData?.model?.bCurrencies" [caption]="_TB('Currencies')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_LANGUAGES" width="130" [model]="eventData?.model?.bLanguages" [caption]="_TB('Languages')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_ISO_CODE" width="130" [model]="eventData?.model?.bISOCountryCode" [caption]="_TB('ISOCountryCodes')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_TERM_PAYMENT" width="130" [model]="eventData?.model?.bPaymentTerm" [caption]="_TB('Terms of Payment')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_BANKS" width="130" [model]="eventData?.model?.bBanks" [caption]="_TB('Banks')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_BANKS_COMPANY" width="130" [model]="eventData?.model?.bBanksCompany" [caption]="_TB('Company')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_BANKS_CUST_SUPP" width="130" [model]="eventData?.model?.bBanksCustSupp" [caption]="_TB('Customers/Suppliers')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_INTRASTAT" width="130" [model]="eventData?.model?.bIntrastat" [caption]="_TB('Intrastat')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_INSTRASTATCPA" width="130" [model]="eventData?.model?.bIntrastatCPA" [caption]="_TB('CPA')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_INTRASTAT_NOM" width="130" [model]="eventData?.model?.bIntrastatNomecl" [caption]="_TB('Nomenclature')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_GENERAL_UOMS" width="130" [model]="eventData?.model?.bGeneralUoM" [caption]="_TB('General UoMs')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_ITEM_CATEGORIES" width="130" [model]="eventData?.model?.bItemCtg" [caption]="_TB('Item Categories')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_COMMODITY_CTG" width="130" [model]="eventData?.model?.bCommodityCtg" [caption]="_TB('Commodity Categories')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_ITEM_TYPE" width="130" [model]="eventData?.model?.bItemType" [caption]="_TB('Item Type')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_HOMOG_CTG" width="130" [model]="eventData?.model?.bHomogeneousCtg" [caption]="_TB('Homogeneous Categories')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_PROD_CTG" width="130" [model]="eventData?.model?.bProductCtg" [caption]="_TB('Product Categories')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_SALES_PEOPLE" width="130" [model]="eventData?.model?.bSalesPeople" [caption]="_TB('Sales People')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_SALES_PEOPLE_MASTER" width="130" [model]="eventData?.model?.bSalesPeopleMaster" [caption]="_TB('Master Data')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_SALES_PEOPLE_AREAS" width="130" [model]="eventData?.model?.bSalesPeopleAreas" [caption]="_TB('Areas')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_MODE_TRANSPORT" width="130" [model]="eventData?.model?.bTransport" [caption]="_TB('Modes of Transport')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_CARRIERS" width="130" [model]="eventData?.model?.bCarriers" [caption]="_TB('Carriers')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_TAX_CODES" width="130" [model]="eventData?.model?.bTaxCodes" [caption]="_TB('Tax Codes')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_MASSIVE_SYNCHRO_CHECK_PRICE_LISTS" width="130" [model]="eventData?.model?.bPriceLists" [caption]="_TB('Price Lists')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_STORAGES" width="130" [model]="eventData?.model?.bStorages" [caption]="_TB('Storages')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_TITLES" width="130" [model]="eventData?.model?.bTitles" [caption]="_TB('Titles')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_CUSTCATEGORIES" width="130" [model]="eventData?.model?.bCustCategories" [caption]="_TB('Customer Categories')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_CUSTCLASSIFICATIONS" width="130" [model]="eventData?.model?.bCustClassifications" [caption]="_TB('Customer Classifications')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_PRODUCERS" width="130" [model]="eventData?.model?.bProducers" [caption]="_TB('Producers')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_CUSTCOMMISSIONCTG" width="130" [model]="eventData?.model?.bCustCommCtg" [caption]="_TB('Customer Commission Categories')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_SUPPCLASSIFICATIONS" width="130" [model]="eventData?.model?.bSuppClassification" [caption]="_TB('Supplier Classifications')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_SUPPCATEGORIES" width="130" [model]="eventData?.model?.bSuppCategories" [caption]="_TB('Supplier Categories')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_INVOICES" width="130" [model]="eventData?.model?.bInvoices" [caption]="_TB('Invoices (DMS Only)')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_CUSTOMERORDER" width="130" [model]="eventData?.model?.bCustorder" [caption]="_TB('Customer Order (DMS Only)')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_SUPPLIERORDER" width="130" [model]="eventData?.model?.bSuppOrder" [caption]="_TB('Purchase Orders (DMS Only)')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_ACCOUNTPAYABLE" width="130" [model]="eventData?.model?.bAccountPayable" [caption]="_TB('Accompanying Invoice (DMS Only)')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_ACCOUNTRECEIVABLE" width="130" [model]="eventData?.model?.bAccountReceivable" [caption]="_TB('Purchase Invoice (DMS Only)')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_LOGISTIC_DDT" width="130" [model]="eventData?.model?.bDDT" [caption]="_TB('DDT (DMS Only)')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_LOGISTIC_BILLOFLADING" width="130" [model]="eventData?.model?.bBillLanding" [caption]="_TB('Bill Of Landing (DMS Only)')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_CRM_INFINITY_MASSIVE_SYNCHRO_CHECK_LOGISTIC_CREDITNOTE" width="130" [model]="eventData?.model?.bCreditNote" [caption]="_TB('Credit Note (DMS Only)')"></tb-checkbox>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane [title]="_TB('LinksPanel')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False" *ngIf="eventData?.activation?.IDD_TD_PNL_LINKSPANEL">
         <tb-body-edit cmpId="IDC_PNL_BE" width="325" [model]="eventData?.model?.DBTLinksTable">
          <tb-body-edit-column cmpId="IDC_PNL_BE_IMAGE" columnName="Image" [title]="_TB('Image')" columnType="tb-image" columnName="IDC_PNL_BE_IMAGE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PNL_BE_DESCR" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_PNL_BE_DESCR">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
