<tb-frame tbDataEntry>
    <tb-toolbar-top>
        <tb-toolbar-top-button iconType="IMG" icon="framework.tbframeworkimages.images.25x25.radar.png" caption="Radar" cmpId="ID_EXTDOC_RADAR" (click)="openRadar()"></tb-toolbar-top-button>
    </tb-toolbar-top>
    <tb-radar #radar></tb-radar>
    <tb-frame-content>
        <tb-view-container>
            <tb-view>
                <tb-tile-group tbLayoutTypeVbox>
                    <tb-tile title="Language" tbTileStandard>
                        <tb-text caption="Code" cmpId="IDC_LANGUAGES_LANGUAGE" width="96" [model]="eventData?.model?.Languages?.Language"></tb-text>
                        <tb-text caption="Description" cmpId="IDC_LANGUAGES_DESCRIPTION" width="308" [model]="eventData?.model?.Languages?.Description"></tb-text>
                    </tb-tile>
                </tb-tile-group>
            </tb-view>
        </tb-view-container>
        <tb-dockpane-container>
        </tb-dockpane-container>
    </tb-frame-content>
</tb-frame>