<tb-frame tbDataEntry>
    <tb-toolbar-top>
        <tb-toolbar-top-button iconType="IMG" icon="framework.tbframeworkimages.images.25x25.radar.png" caption="Radar" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-top-button>
    </tb-toolbar-top>
    <tb-frame-content class="scroll">

        <div class="container">

            <p>Query:</p>
            <input [(ngModel)]="query" required>
            <hr>
            <button kendoButton (click)="open()">GO</button>
            <hr>
            <tb-radar #radar></tb-radar>

        </div>
    </tb-frame-content>
</tb-frame>