@font-face {
    font-family: "m4";
    src: url("assets/fonts/m4.eot");
    src: url("assets/fonts/m4.eot?#iefix") format("embedded-opentype"), url("assets/fonts/m4.woff") format("woff"), url("assets/fonts/m4.ttf") format("truetype"), url("assets/fonts/m4.svg#m4") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "m4" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="tb-icon-"]:before,
[class*=" tb-icon-"]:before {
    font-family: "m4" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tb-icon-erp-accounting:before {
    content: "\61";
}

.tb-icon-erp-accounting-c:before {
    content: "\62";
}

.tb-icon-erp-accountingmore:before {
    content: "\63";
}

.tb-icon-erp-accountingmore-c:before {
    content: "\64";
}

.tb-icon-erp-accountingreclassification:before {
    content: "\65";
}

.tb-icon-erp-assets:before {
    content: "\66";
}

.tb-icon-erp-assets-c:before {
    content: "\67";
}

.tb-icon-erp-assetsmore:before {
    content: "\68";
}

.tb-icon-erp-assetsmore-c:before {
    content: "\69";
}

.tb-icon-erp-attachments:before {
    content: "\6a";
}

.tb-icon-erp-barcode:before {
    content: "\6b";
}

.tb-icon-erp-barcodechecked:before {
    content: "\6c";
}

.tb-icon-erp-billofladingerror:before {
    content: "\6d";
}

.tb-icon-erp-checkprices:before {
    content: "\6e";
}

.tb-icon-erp-changelevel:before {
    content: "\6f";
}

.tb-icon-erp-cashout:before {
    content: "\70";
}

.tb-icon-erp-cashin:before {
    content: "\71";
}

.tb-icon-erp-cash-c:before {
    content: "\72";
}

.tb-icon-erp-cash:before {
    content: "\73";
}

.tb-icon-erp-calendarflash-c:before {
    content: "\74";
}

.tb-icon-erp-calendarflash:before {
    content: "\75";
}

.tb-icon-erp-calculator:before {
    content: "\76";
}

.tb-icon-erp-binunblocked:before {
    content: "\77";
}

.tb-icon-erp-binblocked:before {
    content: "\78";
}

.tb-icon-erp-billofmaterials:before {
    content: "\79";
}

.tb-icon-erp-billoflanding:before {
    content: "\7a";
}

.tb-icon-erp-checkprices-c:before {
    content: "\41";
}

.tb-icon-erp-collectionvoucher:before {
    content: "\42";
}

.tb-icon-erp-collectionvoucher-c:before {
    content: "\43";
}

.tb-icon-erp-collectionvoucherdelay:before {
    content: "\44";
}

.tb-icon-erp-collectionvoucherdelay-c:before {
    content: "\45";
}

.tb-icon-erp-collectionvouchererror:before {
    content: "\46";
}

.tb-icon-erp-components:before {
    content: "\47";
}

.tb-icon-erp-components-c:before {
    content: "\48";
}

.tb-icon-erp-configurator:before {
    content: "\49";
}

.tb-icon-erp-costaccounting:before {
    content: "\4a";
}

.tb-icon-erp-costs:before {
    content: "\4b";
}

.tb-icon-erp-costs-c:before {
    content: "\4c";
}

.tb-icon-erp-crossreferences:before {
    content: "\4d";
}

.tb-icon-erp-documenterror:before {
    content: "\4e";
}

.tb-icon-erp-documentdelete:before {
    content: "\4f";
}

.tb-icon-erp-document-c:before {
    content: "\50";
}

.tb-icon-erp-doclocked:before {
    content: "\51";
}

.tb-icon-erp-document:before {
    content: "\52";
}

.tb-icon-erp-disable:before {
    content: "\53";
}

.tb-icon-erp-descrlanguage:before {
    content: "\54";
}

.tb-icon-erp-depreciation:before {
    content: "\55";
}

.tb-icon-erp-deliverynoteerror:before {
    content: "\56";
}

.tb-icon-erp-deliverynote-c:before {
    content: "\57";
}

.tb-icon-erp-declaration-c:before {
    content: "\58";
}

.tb-icon-erp-declaration:before {
    content: "\59";
}

.tb-icon-erp-custsupp:before {
    content: "\5a";
}

.tb-icon-erp-documentmoney:before {
    content: "\30";
}

.tb-icon-erp-documentmoney-c:before {
    content: "\31";
}

.tb-icon-erp-documentok:before {
    content: "\32";
}

.tb-icon-erp-documenttextadd:before {
    content: "\33";
}

.tb-icon-erp-documenttextadd-c:before {
    content: "\34";
}

.tb-icon-erp-documenttextnote:before {
    content: "\35";
}

.tb-icon-erp-documenttextnote-c:before {
    content: "\36";
}

.tb-icon-erp-documentwarning:before {
    content: "\37";
}

.tb-icon-erp-docunlocked:before {
    content: "\38";
}

.tb-icon-erp-eco:before {
    content: "\39";
}

.tb-icon-erp-europe:before {
    content: "\21";
}

.tb-icon-erp-executefind:before {
    content: "\22";
}

.tb-icon-erp-exportline:before {
    content: "\23";
}

.tb-icon-erp-inhouseok:before {
    content: "\24";
}

.tb-icon-erp-inhouselocked:before {
    content: "\25";
}

.tb-icon-erp-inhouseerror:before {
    content: "\26";
}

.tb-icon-erp-inhouse:before {
    content: "\27";
}

.tb-icon-erp-importline:before {
    content: "\28";
}

.tb-icon-erp-forcedpicked:before {
    content: "\29";
}

.tb-icon-erp-familytools:before {
    content: "\2a";
}

.tb-icon-erp-factorycustomer-c:before {
    content: "\2b";
}

.tb-icon-erp-factorycoins-w:before {
    content: "\2c";
}

.tb-icon-erp-factorycustomer:before {
    content: "\2d";
}

.tb-icon-erp-factoring-c:before {
    content: "\2e";
}

.tb-icon-erp-factoring:before {
    content: "\2f";
}

.tb-icon-erp-extraeu:before {
    content: "\3a";
}

.tb-icon-erp-inhousesuspended:before {
    content: "\3b";
}

.tb-icon-erp-inhousewarning:before {
    content: "\3c";
}

.tb-icon-erp-inputmrp:before {
    content: "\3d";
}

.tb-icon-erp-internet:before {
    content: "\3e";
}

.tb-icon-erp-inventory:before {
    content: "\3f";
}

.tb-icon-erp-inventory-c:before {
    content: "\40";
}

.tb-icon-erp-inventorymoney:before {
    content: "\5b";
}

.tb-icon-erp-inventorymoney-c:before {
    content: "\5d";
}

.tb-icon-erp-inventorymore:before {
    content: "\5e";
}

.tb-icon-erp-inventorymore-c:before {
    content: "\5f";
}

.tb-icon-erp-invoice:before {
    content: "\60";
}

.tb-icon-erp-invoice-c:before {
    content: "\7b";
}

.tb-icon-erp-invoiceinternet:before {
    content: "\7c";
}

.tb-icon-erp-mobileforced:before {
    content: "\7d";
}

.tb-icon-erp-mobile:before {
    content: "\7e";
}

.tb-icon-erp-manufacturingmore-c:before {
    content: "\5c";
}

.tb-icon-erp-manufacturingmore:before {
    content: "\e000";
}

.tb-icon-erp-manufacturing-c:before {
    content: "\e001";
}

.tb-icon-erp-manufacturing:before {
    content: "\e002";
}

.tb-icon-erp-lotcritical:before {
    content: "\e003";
}

.tb-icon-erp-lot:before {
    content: "\e004";
}

.tb-icon-erp-loaddocument:before {
    content: "\e005";
}

.tb-icon-erp-links:before {
    content: "\e006";
}

.tb-icon-erp-itemcritical:before {
    content: "\e007";
}

.tb-icon-erp-item:before {
    content: "\e008";
}

.tb-icon-erp-invoiceinternet-c:before {
    content: "\e009";
}

.tb-icon-erp-moconfirmed:before {
    content: "\e00a";
}

.tb-icon-erp-notpicked:before {
    content: "\e00b";
}

.tb-icon-erp-notpicked-c:before {
    content: "\e00c";
}

.tb-icon-erp-moneadd:before {
    content: "\e00d";
}

.tb-icon-erp-money-c:before {
    content: "\e00e";
}

.tb-icon-erp-order:before {
    content: "\e00f";
}

.tb-icon-erp-orderdelete:before {
    content: "\e010";
}

.tb-icon-erp-moneyadd-c:before {
    content: "\e011";
}

.tb-icon-erp-moneyfind:before {
    content: "\e012";
}

.tb-icon-erp-ordererror:before {
    content: "\e013";
}

.tb-icon-erp-outsourced:before {
    content: "\e014";
}

.tb-icon-erp-moneylock:before {
    content: "\e015";
}

.tb-icon-erp-monotconfirmed:before {
    content: "\e016";
}

.tb-icon-erp-outsourcedconfirmed:before {
    content: "\e017";
}

.tb-icon-erp-packageitemshow:before {
    content: "\e018";
}

.tb-icon-erp-mopartiallyconfirmed:before {
    content: "\e019";
}

.tb-icon-erp-netting:before {
    content: "\e01a";
}

.tb-icon-erp-packageuser:before {
    content: "\e01b";
}

.tb-icon-erp-packageuser-c:before {
    content: "\e01c";
}

.tb-icon-erp-notafiscal:before {
    content: "\e01d";
}

.tb-icon-erp-notafiscal-c:before {
    content: "\e01e";
}

.tb-icon-erp-partiallypicked:before {
    content: "\e01f";
}

.tb-icon-erp-payees:before {
    content: "\e020";
}

.tb-icon-erp-notes:before {
    content: "\e021";
}

.tb-icon-erp-notpickable:before {
    content: "\e022";
}

.tb-icon-erp-payees-c:before {
    content: "\e023";
}

.tb-icon-erp-payment:before {
    content: "\e024";
}

.tb-icon-erp-paymentdelay:before {
    content: "\e025";
}

.tb-icon-erp-paymenterror:before {
    content: "\e026";
}

.tb-icon-erp-pickingworker:before {
    content: "\e027";
}

.tb-icon-erp-planning:before {
    content: "\e028";
}

.tb-icon-erp-preferences:before {
    content: "\e029";
}

.tb-icon-erp-preferences-c:before {
    content: "\e02a";
}

.tb-icon-erp-preferencesmore:before {
    content: "\e02b";
}

.tb-icon-erp-processdelay:before {
    content: "\e02c";
}

.tb-icon-erp-processerror:before {
    content: "\e02d";
}

.tb-icon-erp-processok:before {
    content: "\e02e";
}

.tb-icon-erp-product:before {
    content: "\e02f";
}

.tb-icon-erp-productin:before {
    content: "\e030";
}

.tb-icon-erp-productionplan:before {
    content: "\e031";
}

.tb-icon-erp-productout:before {
    content: "\e032";
}

.tb-icon-erp-productionrun:before {
    content: "\e033";
}

.tb-icon-erp-purchase:before {
    content: "\e034";
}

.tb-icon-erp-purchase-c:before {
    content: "\e035";
}

.tb-icon-erp-purchasemore:before {
    content: "\e036";
}

.tb-icon-erp-purchasemore-c:before {
    content: "\e037";
}

.tb-icon-erp-purchaseorder:before {
    content: "\e038";
}

.tb-icon-erp-purchaserequest:before {
    content: "\e039";
}

.tb-icon-erp-purchaserequestmore:before {
    content: "\e03a";
}

.tb-icon-erp-quality:before {
    content: "\e03b";
}

.tb-icon-erp-quality-c:before {
    content: "\e03c";
}

.tb-icon-erp-qualitymore:before {
    content: "\e03d";
}

.tb-icon-erp-salesmore-c:before {
    content: "\e03e";
}

.tb-icon-erp-salesmore:before {
    content: "\e03f";
}

.tb-icon-erp-sales:before {
    content: "\e040";
}

.tb-icon-erp-saleorder:before {
    content: "\e041";
}

.tb-icon-erp-saleandpurchase-c:before {
    content: "\e042";
}

.tb-icon-erp-saleandpurchase:before {
    content: "\e043";
}

.tb-icon-erp-routing-c:before {
    content: "\e044";
}

.tb-icon-erp-routing:before {
    content: "\e045";
}

.tb-icon-erp-references-c:before {
    content: "\e046";
}

.tb-icon-erp-references:before {
    content: "\e047";
}

.tb-icon-erp-quantities-c:before {
    content: "\e048";
}

.tb-icon-erp-quantities:before {
    content: "\e049";
}

.tb-icon-erp-qualitymore-c:before {
    content: "\e04a";
}

.tb-icon-erp-salespeople:before {
    content: "\e04b";
}

.tb-icon-erp-salespeople-c:before {
    content: "\e04c";
}

.tb-icon-erp-savetemplate:before {
    content: "\e04d";
}

.tb-icon-erp-scanbarcode:before {
    content: "\e04e";
}

.tb-icon-erp-scrap:before {
    content: "\e04f";
}

.tb-icon-erp-secondrate:before {
    content: "\e050";
}

.tb-icon-erp-selections:before {
    content: "\e051";
}

.tb-icon-erp-services:before {
    content: "\e052";
}

.tb-icon-erp-services-c:before {
    content: "\e053";
}

.tb-icon-erp-servicesmore:before {
    content: "\e054";
}

.tb-icon-erp-shift1:before {
    content: "\e055";
}

.tb-icon-erp-shift2:before {
    content: "\e056";
}

.tb-icon-erp-shift3:before {
    content: "\e057";
}

.tb-icon-erp-shift4:before {
    content: "\e058";
}

.tb-icon-erp-shift5:before {
    content: "\e059";
}

.tb-icon-erp-shift6:before {
    content: "\e05a";
}

.tb-icon-erp-shift7:before {
    content: "\e05b";
}

.tb-icon-erp-shift8:before {
    content: "\e05c";
}

.tb-icon-erp-shift9:before {
    content: "\e05d";
}

.tb-icon-erp-sign:before {
    content: "\e05e";
}

.tb-icon-erp-smartcode:before {
    content: "\e05f";
}

.tb-icon-erp-smartcode-c:before {
    content: "\e060";
}

.tb-icon-erp-sortingarrows:before {
    content: "\e061";
}

.tb-icon-erp-summary:before {
    content: "\e062";
}

.tb-icon-erp-toolavailable:before {
    content: "\e063";
}

.tb-icon-erp-toolitem:before {
    content: "\e064";
}

.tb-icon-erp-wmsmore:before {
    content: "\e065";
}

.tb-icon-erp-wms-c:before {
    content: "\e066";
}

.tb-icon-erp-variants-c:before {
    content: "\e067";
}

.tb-icon-erp-variants:before {
    content: "\e068";
}

.tb-icon-erp-unitofmeasure-c:before {
    content: "\e069";
}

.tb-icon-erp-unitofmeasure:before {
    content: "\e06a";
}

.tb-icon-erp-transportationform-c:before {
    content: "\e06b";
}

.tb-icon-erp-transportationform:before {
    content: "\e06c";
}

.tb-icon-erp-totallypickable:before {
    content: "\e06d";
}

.tb-icon-erp-tooltobeinspected:before {
    content: "\e06e";
}

.tb-icon-erp-toolsmore:before {
    content: "\e06f";
}

.tb-icon-erp-tools-c:before {
    content: "\e070";
}

.tb-icon-erp-tools:before {
    content: "\e071";
}

.tb-icon-erp-wmsmore-c:before {
    content: "\e072";
}

.tb-icon-erp-zoomin:before {
    content: "\e073";
}

.tb-icon-erp-zoomout:before {
    content: "\e074";
}

.tb-icon-tb-master:before {
    content: "\e075";
}