@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
* {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #222;
    background: #efefef
}

h1 {
    font-size: 22px;
    color: #000;
    font-weight: 500;
}

.link,
.c-pointer {
    cursor: pointer;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap1200 {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

tb-root {}

tb-root>.k-icon.k-i-loading {
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0277bd;
}