// @import '~@taskbuilder/core/style/grid.scss';
// @import '~@taskbuilder/core/style/form.scss';
@import '~@taskbuilder/core/style/tb.scss';
$blue:#0277bd;
$darkblue:#00578c;
$bkg-dark:#00578c;
$color-dark:#00578c;
// $bkg-light:#ecf8ff;
$bkg-light: #dcf2ff;
$color-light:#fff;

/* azzurro semplice senza bordi bottoni */

// .toolbar-top {
//     background: $bkg-light !important;
//     border-bottom: 1px solid #ddd !important;
//     height: 40px !important;
//     .title>span {
//         line-height: 40px !important;
//         color: $color-dark !important;
//     }
//     .menu,
//     .right {
//         height: 40px !important;
//     }
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items {
//     border: none !important;
//     border-bottom: 1px solid #00578c !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
//     border-top-right-radius: 5px !important;
//     border-top-left-radius: 5px !important;
//     color: $bkg-light !important;
//     background: $color-dark !important;
//     border: none !important;
//     /**/
//     // background: #0277bd !important;
//     // border: 1px solid #00578c !important;
//     // border-bottom: none !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item .k-link>div>span,
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item .k-link>div m4-icon {
//     color: $color-light !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
//     background-color: $bkg-light !important;
//     /* margin-bottom: -1px; */
//     border: none;
//     color: $color-dark !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active .k-link>div m4-icon,
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active .k-link>div>span {
//     color: $color-dark !important;
// }
// tb-toolbar-top-button {
//     tb-icon {
//         box-shadow: none !important;
//         border: none !important;
//         border-radius: none !important;
//         background-color: $bkg-dark;
//         color: $color-light;
//         min-width: 32px;
//         m4-icon {
//             color: $color-dark
//         }
//     }
//     tb-icon:hover {
//         border-radius: 4px !important;
//         background-color: $bkg-dark !important;
//         m4-icon,
//         i {
//             color: $color-light !important;
//         }
//     }
//     // &:first-child tb-icon {
//     //     border: none !important;
//     // }
//     // &:last-child tb-icon {
//     //     border: none !important;
//     // }
// }

/* azzurro con icone sfondo bianco */

// .toolbar-top {
//     background: $bkg-light !important;
//     border-bottom: 1px solid #ddd !important;
//     height: 40px !important;
//     .title>span {
//         line-height: 40px !important;
//         color: $color-dark !important;
//     }
//     .menu,
//     .right {
//         height: 40px !important;
//     }
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items {
//     border: none !important;
//     border-bottom: 1px solid #00578c !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
//     border-top-right-radius: 5px !important;
//     border-top-left-radius: 5px !important;
//     color: $bkg-light !important;
//     background: $color-dark !important;
//     border: none !important;
//     /**/
//     // background: #0277bd !important;
//     // border: 1px solid #00578c !important;
//     // border-bottom: none !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item .k-link>div>span,
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item .k-link>div m4-icon {
//     color: $color-light !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
//     background-color: $bkg-light !important;
//     /* margin-bottom: -1px; */
//     border: none;
//     color: $color-dark !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active .k-link>div m4-icon,
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active .k-link>div>span {
//     color: $color-dark !important;
// }
// tb-toolbar-top-button {
//     .top-button {
//         height: 30px!important;
//         min-width: 32px !important;
//         &.k-state-disabled {
//             opacity: 1;
//             tb-icon {
//                 background: #ddd !important;
//                 &:hover {
//                     cursor: not-allowed!important;
//                 }
//                 tb-icon {
//                     color: #fff!important;
//                 }
//             }
//         }
//     }
//     tb-icon {
//         transition: all 0.4s ease;
//         box-shadow: none !important;
//         border: 1px solid #ddd !important;
//         border-left: none !important;
//         border-radius: none !important;
//         background-color: #fff !important;
//         color: $color-light;
//         min-width: 32px !important;
//         height: 30px;
//         padding-top: 0 !important;
//         m4-icon {
//             color: $color-dark
//         }
//     }
//     tb-icon:hover {
//         transition: all 0.4s ease;
//         background-color: $bkg-dark !important;
//         m4-icon,
//         i {
//             color: $color-light !important;
//         }
//     }
//     &:first-child tb-icon {
//         border-left: 1px solid #ddd !important;
//     }
//     &:last-child tb-icon {}
// }
.rotate180 i {
    transform: rotate(180deg);
    margin-top: 0px;
}

.material-icons {
    padding-top: 0px !important;
}


/** nero **/

// .rotate180 i {
//     transform: rotate(180deg);
//     margin-top: 5px;
// }
// .material-icons {
//     padding-top: 5px !important;
// }
// .toolbar-top {
//     background: #333 !important;
//     border-bottom: 1px solid #111 !important;
//     height: 42px !important;
//     .title>span {
//         line-height: 42px !important;
//         color: #fff !important;
//         margin: 4px 10px 0!important;
//     }
//     .menu,
//     .right {
//         height: 40px !important;
//         align-items: start !important;
//         padding-top: 4px !important;
//     }
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items {
//     border: none !important;
//     border-bottom: 1px solid #333 !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item {
//     border-top-right-radius: 5px !important;
//     border-top-left-radius: 5px !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active {
//     background-color: #333 !important;
//     border: none;
//     color: #fff !important;
// }
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active .k-link>div m4-icon,
// .tabber-container>.k-tabstrip>.k-tabstrip-items .k-item.k-state-active .k-link>div>span {
//     color: #fff !important;
// }
// tb-toolbar-top-button {
//     &:hover {
//         cursor: not-allowed!important;
//     }
//     tb-icon {
//         transition: all 0.4s ease;
//         box-shadow: none !important;
//         border: 1px solid #333 !important;
//         border-left: none !important;
//         border-radius: none !important;
//         background-color: #666 !important;
//         color: #fff !important;
//         min-width: 34px !important;
//         height: 34px !important;
//         padding-top: 0 !important;
//         m4-icon {
//             color: #fff !important
//         }
//     }
//     tb-icon:hover {
//         transition: all 0.4s ease;
//         background-color: $blue !important;
//         m4-icon,
//         i {
//             color: #fff !important;
//         }
//     }
//     &:first-child tb-icon {
//         border-left: 1px solid #333 !important;
//     }
//     .top-button {
//         height: 30px!important;
//         min-width: 32px !important;
//         &.k-state-disabled {
//             opacity: 1;
//             tb-icon {
//                 background: #333 !important;
//                 color: #999 !important;
//             }
//         }
//     }
//     .menu-category {
//         margin-top: -1px;
//     }
// }

/** bottoni senza sfondo **/

.toolbar-top {
    height: 37px !important;
    .title>span {
        line-height: 36px !important;
        margin: 4px 10px 0!important;
    }
    .menu,
    .right {
        height: 40px !important;
        align-items: start !important;
        padding-top: 4px !important;
    }
}

.rotate180 i {
    transform: rotate(180deg);
    margin-top: 5px !important;
}

.material-icons {
    padding-top: 5px !important;
}

tb-toolbar-top-button {
    &:hover {
        cursor: not-allowed!important;
    }
    tb-icon {
        transition: all 0.4s ease;
        box-shadow: none !important;
        border: none !important;
        border-radius: none !important;
        background: none !important;
        color: $color-dark !important;
        min-width: 34px !important;
        height: 34px !important;
        padding-top: 0 !important;
        m4-icon {
            color: $color-dark !important;
            line-height: 43px;
        }
    }
    tb-icon:hover {
        transition: all 0.4s ease;
        background-color: #ddd !important;
        m4-icon,
        i {
            // color: #fff !important;
        }
    }
    .top-button {
        height: 30px!important;
        min-width: 32px !important;
        &.k-state-disabled {
            opacity: 1;
            tb-icon {
                background: none !important;
                color: #ddd !important;
            }
        }
    }
    //     .menu-category {
    //         margin-top: -1px;
    //     }
}