/* 
    Material Design theming

    md-palette($base-palette, $default: 500, $lighter: 100, $darker: 700)
    md-light-theme($primary, $accent, $warn: md-palette($md-red))
    md-dark-theme($primary, $accent, $warn: md-palette($md-red)) 
*/

@import '~@angular/material/core/theming/all-theme';
@include md-core();

/*$primary-color-dark: #1976D2;
$primary-color: #2196F3;
$primary-color-light: #BBDEFB;
$primary-color-text: #FFFFFF;
$accent-color: #CDDC39;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;*/

$tb-app-primary: md-palette($md-light-blue, 800, 600, A400);
$tb-app-accent: md-palette($md-green, 600, 200, 800);
$tb-app-warn: md-palette($md-red);
$tb-app-theme: md-light-theme($tb-app-primary, $tb-app-accent, $tb-app-warn);
@include angular-material-theme($tb-app-theme);