<md-tab-group class="tabHeader">
  <md-tab *ngFor="let menuTab of utilsService.toArray(menuService.getSelectedGroup().Menu)">
    <template md-tab-label >
     <div (click)="changeTab(menuTab)" class="tabItem">  <!-- da spostare il click nel selectChange del tabgroup-->
        {{menuTab.title}}
      </div>
    </template>

    <!--<template md-tab-content>-->
    <div *ngIf="menuService.getSelectedMenu() != undefined" class="tabContent">
      <tb-tile-container></tb-tile-container>
    </div>
    <!--</template>-->

  </md-tab>

</md-tab-group>