<h1>Get Data</h1>
<h3>Parameters</h3>
<div>Namespace:</div>
 <input [(ngModel)]="nameSpace" required>
 <div>Selection Type:</div>
 <input [(ngModel)]="selection_type" required>
 <div>Like-value:</div>
 <input [(ngModel)]="like_value">
 <div>Disabled:</div>
 <input [(ngModel)]="disabled">
 <div>Good-type:</div>
 <input [(ngModel)]="good_type">
 <br><br>
 <button (click)="GetData()">Send</button>

 <h3>Rows:</h3>
 <div>{{responseData|json}}</div>
 
<h1>Get Selections</h1>
<button (click)="GetSelections()">Send</button>

 <h3>Selection list:</h3>
 <div>{{responseSelection|json}}</div>

 <h1>Get Parameters</h1>
<button (click)="GetParameters()">Send</button>

 <h3>Parameter list:</h3>
 <div>{{responseParameters|json}}</div>

 <h1>Get Columns</h1>
<button (click)="GetColumns()">Send</button>

 <h3>Columns list:</h3>
 <div>{{responseColumns|json}}</div>
