 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Additional selections')" tbTileStandard >
        <tb-checkbox cmpId="IDC_PROD_DEV_GE_ORD_SUPP" width="227" [model]="eventData?.model?.bCreateSubcntOrd" [caption]="_TB('Generate purchase orders for outsourced processing')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_PROD_DEV_LINE_SEPARATEDMO" width="200" [model]="eventData?.model?.bSeparateOrderForMO" [caption]="_TB('Separated order for each MO')"></tb-checkbox>
        <tb-checkbox cmpId="IDC_PROD_DEV_GE_DN" width="225" [model]="eventData?.model?.bCreateSubcntDN" [caption]="_TB('Generate DN for outsourced processing')"></tb-checkbox>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_PROD_DEV_ANALYSIS_UNDO?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="IDC_PROD_DEV_ANALYSIS_UNDO"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_PROD_DEV_ANALYSIS_OK?.enabled" icon="tb-ok" [caption]="_TB('OK')" cmpId="IDC_PROD_DEV_ANALYSIS_OK"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
