<admin-sidenav-container [appTitle]="'M4Cloud'" [userAccountName]="userAccountName" (openAccountProfile)="openAccount($event)" (openSignIn)="openLogin()">
    <div class="routesSection">
        <div>
            <a [routerLink]="['/appHome']" skipLocationChange>Home</a>
        </div>
        <div>
            <a [routerLink]="['/instancesHome']" skipLocationChange>Instances</a>
        </div>
        <div>
            <a [routerLink]="['/subscriptionsHome']" skipLocationChange>Subscriptions</a>
        </div>    
        <div>
            <a [routerLink]="['/accountsHome']" skipLocationChange>Accounts</a>
        </div>
        <div>
            <a [routerLink]="['/fileUpload']" skipLocationChange>File Upload</a>
        </div>
        <div>
            <a [routerLink]="['/testControls']" skipLocationChange>Controls Test Page</a>
        </div>         
        <div *ngIf="userAccountName != undefined && userAccountName != ''" class="logOutBtn">
            <a (click)="logout()">Logout</a>
        </div>
    </div>
    <!-- <app-breadcrumb class="breadCrumbSection"></app-breadcrumb> -->
    <router-outlet class="outletSection"></router-outlet>
</admin-sidenav-container>
