.logOutBtn {
    border-top:1px solid #c0c0c0; margin-top:6px; padding-top:10px; cursor: pointer;
}
.routesSection div a {color:#666666; text-decoration: none;}
.routesSection div { margin:10px 0 10px 0; }
