<admin-sidenav-container>
    <div class="routesSection">
        <div>
        <a [routerLink]="['/appHome']">Home</a>
        </div>
        <div>
        <a [routerLink]="['/subscriptionHome']">Subscriptions</a>
        </div>
        <div>
        <a [routerLink]="['/account']">Account</a>
        </div>
        <div>
        <a [routerLink]="['/company']">Company</a>
        </div>
        <hr>
        <div>
        <a [routerLink]="['/logout']">Logout</a>
        </div>
    </div>
    <app-breadcrumb class="breadCrumbSection"></app-breadcrumb>
    <router-outlet class="outletSection"></router-outlet>
</admin-sidenav-container>
