
/* ----------------------------------------------------------------------------------------------------*/
* {
  cursor: default;
}

html,
body {
  overflow: hidden;
  background :url('../images/wallpaper.gif');
}

body {
  font: 12px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.debug {
	position: relative;
	width: 400px;
	height: 200px;
	background: #FFFFFF;
	overflow:scroll;
}

/* ----------------------------------------------------------------------------------------------------*/
.isResizable 
{
	resize: both;
	min-width: 120px;
    min-height: 90px;
    max-width: 400px;
    max-height: 300px;
    border: 1px solid black;
    overflow: inherit;
	/*
	background: rgba(0, 255, 255, 0.2);
    font-size: 2em;
    border: 1px solid black;
    overflow: hidden;
    resize: both;
    min-width: 120px;
    min-height: 90px;
    max-width: 400px;
    max-height: 300px;
	*/
}

/* ----------------------------------------------------------------------------------------------------*/
.abs {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

.messageboxModal
{	
	/*filter: alpha(opacity=90);
	opacity: 0.9;*/
	/* background: #C8C8C8; */
    background: #CAD7F3;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:  100%;
    z-index: 100;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.ui-resizable-se {
  background: url(../images/window_corner.gif) no-repeat right bottom;
  font-size: 0;
  overflow: hidden;
  width: 15px;
  height: 15px;
  right: 5px;
  bottom: 5px;
}

div.ui-resizable-handle {
  display: none !important;
  visibility: hidden !important;
}

/* ----------------------------------------------------------------------------------------------------*/
#wrapper {
  top: 0;
  left: 50px;
  right: 0;
  bottom: 0;
  min-width: 700px;
  min-height: 500px;
}

#WidgetContextMenu
{
  position:absolute;
  
  top:0px;
  left:0px;
  width:  100px;
  height: 150px;
  
  border: 1px solid #FF0000;
  background: #FFFFFF;
  z-index: 16;
  display:none;
}

.WidgetContextMenuText
{
	background: #00FF00;	
}

.WidgetContextMenuText:hover
{
	background: #0000FF;	
}

/* ----------------------------------------------------------------------------------------------------*/
#tbmenu_icons
{
	padding-top : 10px;
	top:	0px;
	left:	0px;
	width:  50px;
	bottom: 0;
	background: #E3E7FB;
}



#tbmenu_main 
{
  padding-top : 10px;
  background: #E3E7FB;
  top:	0px;
  left: 49px;
  width:  150px;
  bottom: 0;
  overflow: auto;
  z-index: 16;
  display:none;
}

#tbmenu_area 
{
  padding-top: 20px;
  background: #E6E9FB;
  top:	0px;
  left: 199px;
  width:  200px;
  bottom: 0;
  overflow:  auto;
  z-index: 16;
  display:none;
}

#tbmenu_report
{
  padding-top: 20px;
  background: #E8EBFB;
  top:	0px;
  left: 350px;
  width:  150px;
  bottom: 0;
  overflow:  auto;
  z-index: 16;
  display:none;
}


/* ----------------------------------------------------------------------------------------------------*/

#desktop 
{
  /* background :url('../images/wallpaper.gif') ; */
  overflow: hidden;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0px;
}

#desktopFull
{
  /* background: #FF0000; */
  width:  300px;
  height: 300px;	
}

.rightLimit
{
  /* background: #0000FF; */
  float: left; 
  width:  2px;
  height: 400px;
}

#wallpaper 
{
  background: #3366CC; /* url('../images/wallpaper.jpg') no-repeat; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ----------------------------------------------------------------------------------------------------*/

.AppMenuLabel
{
	padding-top: 10px;
	background: #ff0000:	
}

.appGroupMenuIcon
{
	background: #CAD7F3;
	border: 1px solid #000000;
	padding: 5px 5px 5px 10px;
	height: 30px;
}

.appGroupMenuLabel
{
	background: #CAD7F3;
    border-top   : 1px solid #000000;
	border-bottom: 1px solid #000000;
    border-right : 1px solid #000000;
	padding: 5px 5px 5px 10px;
	height: 30px;
}

.appGroupMenuTitle
{
  text-align: center;
  font-weight: bold;
  height: 50px;
}

.appTitleMenuLabel,
.appTitleMenuIcon
{
  padding: 5px 5px 5px 10px;
  height: 30px;
}

.appTitleMenuIcon:hover {
  -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
  filter:alpha(opacity=50); 
  opacity:.50;  
}

.appTitleMenuLabel:hover {
  -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
  filter:alpha(opacity=50); 
  opacity:.50;  
}

.appTitleMenu
{
  background : #E3E7FB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-top: 5px;
}

.menuarea
{
  width: 100%;
}

/* --------------------------- */
.menuareaTree
{
 background: url(../images/folder_close.png) no-repeat;
}

.menuareaTree.open  {
  background: url(../images/folder_open.png) no-repeat;
}


.menuareaTree li
{
	margin: 0;
	padding:  0px 0px 3px 10px;
}

.menuareaTreeLabel
{
  padding-left: 15px;
  font-size: 14px;
  color: Black;
}

.treeNode
{
	margin: 10px;
	display:none;
}

/* --------------------------- */

.menuareaTitle
{
	background: url(../images/menu.png) no-repeat;	
	left: 10px;
	
}

.menuareaTitle li
{
	margin: 0;
	padding: 0px 0px 3px 20px;
}

.menuareaTitleLabel
{
  font-size: 14px;
  color: Black; 
  padding: 5px 5px;
}



.menuareaTitleLabel:hover 
{

  -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
  filter:alpha(opacity=50); 
  opacity:.50;  

}

.menuareaTitleImage
{
  top:0;
  left:0;
  width: 16px;
  height: 16px;
}

/* --------------------------- */
.reportPage
{
  position: relative;
  overflow:auto;
  width: 200px;
  background: #FFFFFF;
}

.commandNodeImage
{
  width: 16px;
  height: 16px; 
}

.commandNodeReport
{
  font-size : 14px;
}

.commandNodeReport:hover {
  -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
  filter:alpha(opacity=50); 
  opacity:.50;  
}

.commandNodeDocument
{
  font-size : 14px;
}

.commandNodeDocument:hover {
  -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
  filter:alpha(opacity=50); 
  opacity:.50;  
}

.commandNodeBatch
{
  font-size : 14px;
}

.commandNodeBatch:hover {
  -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
  filter:alpha(opacity=50); 
  opacity:.50;  
}


/* ----------------------------------------------------------------------------------------------------*/
.window {
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  top: 10px;
  left: 10px;
  z-index: 4;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
}

.window_top {
  background: #333 url(../images/bar_top.png) repeat-x;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-background-clip: padding-box;
  color: #fff;
  font-weight: bold;
  overflow: hidden;
  line-height: 30px;
  padding: 0 10px;
  text-shadow: #000 0 1px 1px;
  height: 30px;
}

.window_top img {
  float: left;
  margin: 6px 5px 0 0;
}

.window_content {
 /*  background: url(../images/gui/window_content.gif) repeat-y; */
  line-height: 1.5;
  overflow: auto;
  top: 32px;
  left: 1px;
  right: 1px;
  bottom: 23px;
}

.window_bottom {
  background: #fff url(../images/bar_bottom.png) repeat-x left bottom;
  border-top: 1px solid #bbb;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-background-clip: padding-box;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  text-shadow: #fff 0 1px 1px;
  height: 20px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 50;
}

.window_inner {
  padding: 1px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.window_close {
  background: url(../images/close.png) no-repeat;
  float: left;
  font-size: 0;
  margin: 4px 0 0 2px;
  width: 20px;
  height: 20px;
}

.window_close:hover {
  -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
  filter:alpha(opacity=50); 
  opacity:.50;  
}


.window_thumbtack  {
  background: url(../images/thumbtack.png) no-repeat;
  float: left;
  font-size: 0;
  margin: 4px 0px 10px 2px;
  width: 20px;
  height: 20px;
}

.window_thumbtack.on  {
  background: url(../images/thumbtackOn.png) no-repeat;
}

/* ----------------------------------------------------------------------------------------------------*/
#bar_top,
#bar_bottom {
  font-weight: bold;
  padding: 0 10px;
  left: 0;
  right: 0;
}

#bar_top {
  border-bottom: 1px solid #333;
  height: 35px;
  top: 0;
}

/*#bar_bottom 
{
  background: #FF0000;  
  height: 100px;
  bottom: 0;
}*/

/* ----------------------------------------------------------------------------------------------------*/
.mac-container
{
	/* background: #0000FF; */
	height: 80px;
	width: 100%;
	bottom: 0;
}

/* ----------------------------------------------------------------------------------------------------*/
#vdesk_box
{
	width:100%;	
	height: 90px;
}

#vdesk_container
{
	background: #00CCFF;
	-moz-opacity:.50; 
	-ms-filter: alpha(opacity=50); 
	filter:alpha(opacity=50); 
	opacity:.50;
	display: none;
	position:absolute;
    top:   0px;
    height: 50px; 
    z-index: 9; 
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;           	
}

#vdesk_close
{
	position:fixed;
	background: url(../images/close_expose.png) no-repeat;	
	bottom: 60px;
	width: 48px;
	height: 48px;
	z-index: 70;
}

#arrow_up
{
	position:fixed;
	background: url(../images/arrowDown.png) no-repeat;	
	top: 10px;
	width: 48px;
	height: 48px;
	z-index: 70;
}

#arrow_down
{
	position:fixed;
	background: url(../images/arrowUp.png) no-repeat;
	bottom: 10px;
	width: 48px;
	height: 48px;
	z-index: 70;
}

#vdesk_close:hover,
#arrow_up:hover,
#arrow_down:hover {
  -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
  filter:alpha(opacity=50); 
  opacity:.50;  
}

#canvas_container
{
  width: 100%;
  height: 100%;
  text-align:center;
  padding: 10px 10px 10px 10px;
  overflow: auto;
  z-index: 10; 
}

.vdesk_canvas
{
	padding: 10px 10px 10px 10px;	 
}

.vdesk_canvas:hover 
{
 -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
 filter:alpha(opacity=50); 
 opacity:.50;  
 z-index:50;
}

.canvas-wrap 
{
	float: left; 
	/* background:#ff0000; */
}

.vdesk_canvasCommandSpace
{
  float:  left;
  left: 20px;
  font-size: 0;
  width: 32px;
  height: 32px;
  z-index:60;
}

.vdesk_canvasDel
{
  background: url(../images/canvasDel.png) no-repeat;
  float:  left;
  left: 20px;
  font-size: 0;
  width: 32px;
  height: 32px;
  z-index:60;
}

.vdesk_canvasDel:hover 
{
 -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
 filter:alpha(opacity=50); 
 opacity:.50;  
 z-index:50;
}

/* ----------------------------------------------------------------------------------------------------*/

padding: 5px 4px 5px 4px;


.vdesk
{
	padding: 5px 4px 5px 4px;
}

.vdesk_add 
{
  padding: 5px 4px 5px 4px;
  background: url(../images/DesktopAdd.png) no-repeat;
  float: left;
  font-size: 0;
  margin: 2px 2px 2px 2px;
  width: 32px;
  height: 32px; 
}

.vdesk_off {
  background: url(../images/DesktopOff.png) no-repeat;
  float: left;
  font-size: 0;
  margin: 2px 2px 2px 2px;
  width: 32px;
  height: 32px; 
}

.vdesk_on {
  background: url(../images/DesktopOn.png) no-repeat;
  float: left;
  font-size: 0;
  margin: 2px 2px 2px 2px;
  width: 32px;
  height: 32px; 
}

/* ----------------------------------------------------------------------------------------------------*/

/* NB: the "bottom" of mac-dock and mac-background-bar can are equal */
.mac-dock 
{
	text-align:center;
    position:absolute;
    bottom: 10px;
    width:100%; 
    z-index: 10;          
}


.mac-background-bar
{
	position:absolute;
    bottom: 10px;
    width:  100%;
    height: 60px;
    z-index: 9;
}

.mac-background-bar-sx
{
	background:  url(../images/dock-sx.png) no-repeat;
	height: 100%;
	width: 17px;
	left: -20;
}

.mac-background-bar-in
{
	background:  url(../images/dock-in.png);
	height: 100%;
	width: 100%;
	left: 17px;
}

.mac-background-bar-dx
{
	background:  url(../images/dock-dx.png) no-repeat;
	height: 100%;
	width: 17px;
	left: 100%;
}


/* ----------------------------------------------------------------------------------------------------*/

.widget {
	margin: 4px 4px 4px 4px;	
    padding-bottom: 5px; 
	z-index: 10;
}

/* ----------------------------------------------------------------------------------------------------*/
.icon {
  background: url(../images/icon.png) no-repeat;
  float: right;
  font-size: 0;
  margin: 2px 0 0 2px;
  width: 32px;
  height: 32px; 
}

#fnWinAutoOrganize
{
	background: url(../images/win.png) no-repeat;
}

#fnWinAutoOrganize:hover {
  -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter: alpha(opacity=50); 
  filter:alpha(opacity=50); 
  opacity:.50;  
}


/* ----------------------------------------------------------------------------------------------------*/
/* Drag & Drop */
.droppable  {
	/* width: 300px; */
	/*height: 400px; */
	/* background: #0000FF; */
	margin: 10px 10px 10px 10px;
	float: left; 
	padding: 5px;
	/* border: 1px dotted Red; */
}

#draggable
{
	width: 100px;
	height: 100px;
	margin: 10px 10px 10px 10px;
	float: left; 
	padding: 5px;
	border: 1px dotted Red;
}







