$input-background:#ffffde;
$input-background-disabled:#fafafa;
$border:#ddd;
$border-disabled:#ddd;
$text-color:#000;
$text-color-disabled:#333;
$text-weight:500;
.anchored {
    display: flex;
}

::ng-deep .anchored tb-label-static:not(:first-child) tb-caption {
    display: none;
}

::ng-deep .anchored tb-text:not(:first-child) tb-caption {
    display: none;
}

.col {
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.group {
    display: flex;
}

.k-list-container .k-nodata .k-button,
.k-dropdown .k-dropdown-wrap,
.k-button,
.k-toolbar .k-split-button .k-button,
.k-spreadsheet-filter,
.k-pivot-toolbar .k-button,
.k-fieldselector .k-list li.k-item,
.k-colorpicker .k-picker-wrap,
.k-combobox .k-select,
.k-datepicker .k-select,
.k-timepicker .k-select,
.k-datetimepicker .k-select,
.k-dateinput .k-select,
.k-editor .k-editor-toolbar-wrap a.k-tool,
.k-ct-popup .k-editor-toolbar a.k-tool,
.editorToolbarWindow.k-header.k-window-content a.k-tool,
.k-numerictextbox .k-select,
.k-switch-handle,
.k-handle,
.k-gantt-views li,
.k-scheduler-navigation .k-nav-today,
.k-scheduler-navigation .k-nav-prev,
.k-scheduler-navigation .k-nav-next,
.k-scheduler-views li,
.k-scheduler-footer li {
    color: $text-color;
    background: none;
    background-color: $input-background;
    border: $border;
    opacity: 1;
}

.k-colorpicker,
.k-combobox,
.k-dateinput,
.k-datepicker,
.k-datetimepicker,
.k-dropdown,
.k-multiselect,
.k-numerictextbox,
.k-maskedtextbox,
.k-timepicker {
    border: 1px solid $border-disabled;
    background-color: $input-background;
    opacity: 1;
}

.k-maskedtextbox {
    border: none;
}

.k-combobox .k-dropdown-wrap {
    opacity: 1;
    border: none;
}

.k-dropdown .k-select,
.k-datepicker .k-select,
.k-timepicker .k-select,
.k-datetimepicker .k-select,
.k-combobox .k-select {
    border-left: 1px solid $border-disabled;
    background: $input-background-disabled;
}

.k-button-icon {
    width: 28px;
    height: 28px;
    opacity: 1;
    border-left: 1px solid $border-disabled;
    background: $input-background-disabled;
}

.tb-control .k-button {
    width: 24px;
    height: 24px;
    opacity: 1;
    border: 1px solid $border-disabled;
    background: $input-background-disabled;
}

.k-textbox:disabled,
.k-textbox[disabled],
.k-textbox.k-state-disabled,
.k-dropdown-wrap.k-state-disabled .k-input,
.k-dropdown-wrap .k-input[disabled] {
    background: $input-background-disabled !important;
    border: 1px solid $border-disabled !important;
    color: #000;
    opacity: 1;
    font-weight: $text-weight;
}

.k-dateinput-wrap .k-input[disabled] {
    background: $input-background-disabled !important;
    border: none;
    color: #000;
    opacity: 1;
    font-weight: $text-weight;
    height: 26px;
}

.k-numerictextbox .k-numeric-wrap,
.k-numeric-wrap .k-input[disabled] {
    border: none !important;
    background: $input-background-disabled !important;
    color: $text-color-disabled;
    opacity: 1;
    font-weight: $text-weight;
    height: 26px;
}

.k-dropdown .k-dropdown-wrap {
    opacity: 1;
}

.k-dropdown-wrap.k-state-disabled .k-input,
.k-dropdown-wrap .k-input[disabled] {
    height: 26px;
    background: $input-background-disabled !important;
    border: 1px solid $border-disabled !important;
    opacity: 1;
}

.k-dropdown-wrap.k-state-disabled .k-input {
    border: none !important;
}

.k-textbox,
.k-input.k-textbox,
.k-dateinput-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
    width: 100%;
    height: 28px;
    background: #ffffde;
    letter-spacing: -0.3px; 
}

.k-dateinput-wrap,
.k-picker-wrap,
.k-multiselect-wrap,
.k-numeric-wrap {
    border: none;
}

.k-numeric-wrap .k-input {
    text-align: right;
}

.k-widget,
.k-block {
    font-size: 13px;
}

.tb-checkbox {
    height: 24px;
}

.k-checkbox-label,
.k-radio-label {
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

.k-checkbox-label::before,
.k-radio-label::before {
    background-color: $input-background-disabled;
    border: 1px solid $border-disabled;
    opacity: 1;
}

.k-radio:disabled+.k-radio-label,
.k-checkbox:disabled+.k-checkbox-label {
    opacity: 1;
}

.k-button-icon {
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
}

#anchor>.k-button-icon {
    margin-left: -2px;
}

textarea {
    background-color: $input-background;
    border: 1px solid $border-disabled;
    opacity: 1;
    padding: 4px 8px;
    letter-spacing: -0.3px;
}

textarea[disabled] {
    background-color: $input-background-disabled;
    border: 1px solid $border-disabled;
    font-weight: $text-weight;
}

.k-disabled [disabled],
.k-disabled .k-disabled,
.k-disabled .k-state-disabled,
.k-state-disabled [disabled],
.k-state-disabled .k-disabled,
.k-state-disabled .k-state-disabled {
    border: none;
    background: $input-background-disabled;
}

textarea[disabled],
.k-textbox:disabled,
.k-textbox[disabled],
.k-textbox.k-state-disabled,
.k-disabled [disabled],
.k-disabled .k-disabled,
.k-disabled .k-state-disabled,
.k-state-disabled [disabled],
.k-state-disabled .k-disabled,
.k-state-disabled .k-state-disabled,
.k-textbox:disabled,
.k-textbox[disabled],
.k-textbox.k-state-disabled,
.k-dropdown-wrap.k-state-disabled .k-input,
.k-dropdown-wrap .k-input[disabled],
.k-numeric-wrap .k-input[disabled],
.k-dateinput-wrap .k-input[disabled] {
    color: $text-color-disabled;
}

.k-numerictextbox .k-numeric-wrap,
.k-numeric-wrap .k-input[disabled] {
    height: 22px;
}

.k-textbox,
.k-input.k-textbox,
.k-dateinput-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dateinput-wrap .k-input[disabled] {
    height: 22px;
}

.k-textbox:disabled,
.k-textbox[disabled],
.k-textbox.k-state-disabled,
.k-dropdown-wrap.k-state-disabled .k-input,
.k-dropdown-wrap .k-input[disabled] {
    height: 24px;
}