.anchored {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.tb-control {
    padding: 3px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

tb-caption label {
    min-width: 150px;
    display: block;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    padding: 0 5px 0 0;
}

.k-colorpicker,
.k-combobox,
.k-dateinput,
.k-datepicker,
.k-datetimepicker,
.k-dropdown,
.k-multiselect,
.k-numerictextbox,
.k-maskedtextbox,
.k-timepicker {
    border-width: 0;
    background-color: #f3f3f3;
}

.k-textbox:disabled,
.k-textbox[disabled],
.k-textbox.k-state-disabled,
.k-dropdown-wrap.k-state-disabled .k-input,
.k-dateinput-wrap .k-input[disabled],
.k-dropdown-wrap .k-input[disabled],
.k-numeric-wrap .k-input[disabled] {
    background: transparent !important;
    border: 1px solid #ddd;
    color: #000;
    opacity: 0.6;
    font-weight: bold;
}

.k-dropdown-wrap.k-state-disabled .k-select {
    // display: none;
}

.k-textbox,
.k-input.k-textbox,
.k-dateinput-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
    width: 100%;
    background: #ffffde;
}

.k-dateinput-wrap,
.k-picker-wrap,
.k-multiselect-wrap,
.k-numeric-wrap {
    border: none;
}

.k-numeric-wrap .k-input {
    text-align: right;
}

.k-widget,
.k-block {
    font-size: 13px;
}

.tb-checkbox {
    height: calc(1.42857em + (4px * 2) + (1px * 2));
}

.k-checkbox-label,
.k-radio-label {
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

.advanced-header-strip {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 0 8px 8px 8px;
    padding: 5px;
    border-radius: 3px;
}