@import './vars.scss';
@import "~@progress/kendo-theme-default/scss/all";
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #222;
    background: #efefef;
    overflow: hidden;
}

h1 {
    font-size: 2em;
    color: #000;
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
    color: #00578c;
    font-weight: 500;
}

.link,
.c-pointer {
    cursor: pointer;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap1200 {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.hiddenControl {
    visibility: hidden;
}

.toolbar-menu,
.toolbar-right,
.menu-category {
    display: flex;
}

/* 
    Material Design theming

    md-palette($base-palette, $default: 500, $lighter: 100, $darker: 700)
    md-light-theme($primary, $accent, $warn: md-palette($md-red))
    md-dark-theme($primary, $accent, $warn: md-palette($md-red)) 
*/

@import '~@angular/material/theming';
@include mat-core();
$tb-app-primary: mat-palette($mat-light-blue, 800, 600, A400);
$tb-app-accent: mat-palette($mat-green, 600, 200, 800);
$tb-app-warn: mat-palette($mat-red);
$tb-app-theme: mat-light-theme($tb-app-primary, $tb-app-accent, $tb-app-warn);
@include angular-material-theme($tb-app-theme);

/*
    Scrollbar
*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(2, 119, 189, 0.3);
    border: none;
    border-radius: 60px;
}

::-webkit-scrollbar-thumb:hover {
    background: $accent;
    cursor: default;
}

::-webkit-scrollbar-thumb:active {
    background: $accent;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: 0px solid #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #ddd;
}

::-webkit-scrollbar-track:active {
    background: #ccc;
}

::-webkit-scrollbar-corner {
    background: purple;
}

@import 'form';
@import 'grid';
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 2px 7px 2px 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/**POPUP*/

.k-animation-container-shown,
.k-animation-container>.k-popup {
    box-shadow: none;
}

.k-animation-container>.arrow-right {
    box-shadow: none;
}

.k-animation-container-fixed>.k-popup {
    margin-right: 0;
    border: none;
    background: transparent;
}

.arrow-right {
    margin-right: 8px;
    &:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #ececec;
        position: absolute;
        right: 0;
        top: 5px;
        z-index: 9999;
    }
}


/*TOOLTIP*/

// .mat-tooltip {
//     font-size: 12px !important;
//     background-color: #000000 !important;
//     color: #b5ddf7 !important;
//     border-radius: 0px !important;
//     padding: 10px 0px 10px 15px;
// }

/*AUTOCOMPLETE SEARCH*/

.mat-autocomplete-panel.mat-search {
    border-radius: 4px;
}


/*LayoutType*/

.layoutType-column {
    flex-flow: row;
    flex-direction: row;
    flex: 0 1 auto;
}

.layoutType-hbox {
    display: flex;
    flex-flow: row;
    flex-direction: row;
}

.layoutType-vbox {
    display: flex;
    flex-flow: row;
    flex-direction: column;
}


/* Alert */

.alert {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 3px;
    p {
        line-height: 20px;
    }
    m4-icon {
        font-size: 18px;
        margin-right: 10px;
        padding-top: 4px;
    }
}

.alert.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffca27;
}