$base-theme:Default;
$skin-name:tb;
$accent: #0277bd;
$accent-contrast: #ffffff;
$text-color: #333333;
$bg-color: #ffffff;
$base-text: #333333;
$base-bg: #f6f6f6;
$hovered-text: #666666;
$hovered-bg: #ededed;
$selected-text: #ffffff;
$selected-bg: #0277bd;
$info: #0277bd;
$success: #5ec232;
$warning: #fdce3e;
$error: #d51923;
$series-a: #0277bd;
$series-b: #28b4c8;
$series-c: #ffd246;
$series-d: #78d237;
$series-e: #ff6358;
$series-f: #aa46be;
@import "~@progress/kendo-theme-default/scss/all";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,500,600');
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #222;
    background: #efefef
}

h1 {
    font-size: 2em;
    color: #000;
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
    color: #00578c;
    font-weight: 500;
}

.link,
.c-pointer {
    cursor: pointer;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap1200 {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

tb-root {}

tb-root>.k-icon.k-i-loading {
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0277bd;
}


/* 
    Material Design theming

    md-palette($base-palette, $default: 500, $lighter: 100, $darker: 700)
    md-light-theme($primary, $accent, $warn: md-palette($md-red))
    md-dark-theme($primary, $accent, $warn: md-palette($md-red)) 
*/

@import '~@angular/material/theming';
@include mat-core();
$tb-app-primary: mat-palette($mat-light-blue,
800,
600,
A400);
$tb-app-accent: mat-palette($mat-green,
600,
200,
800);
$tb-app-warn: mat-palette($mat-red);
$tb-app-theme: mat-light-theme($tb-app-primary,
$tb-app-accent,
$tb-app-warn);
@include angular-material-theme($tb-app-theme);
md-card.mat-card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

md-card.mat-card {
    padding: 10px;
    margin: 8px;
    flex-grow: 1;
}

md-card-title.mat-card-title {
    position: relative;
    padding-right: 25px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    font-size: 1rem;
    text-transform: uppercase;
}

md-card-title.mat-card-title m4-icon {
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
}


/*
    Scrollbar
*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(2, 119, 189, 0.3);
    border: none;
    border-radius: 60px;
}

::-webkit-scrollbar-thumb:hover {
    background: $accent;
    cursor: default;
}

::-webkit-scrollbar-thumb:active {
    background: $accent;
}

::-webkit-scrollbar-track {
    background: #F1F4F7;
    border: 0px solid #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #ddd;
}

::-webkit-scrollbar-track:active {
    background: #ccc;
}

::-webkit-scrollbar-corner {
    background: purple;
}

@import 'form';
@import 'grid';
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 2px 7px 2px 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/**POPUP*/

.k-animation-container-shown,
.k-animation-container>.k-popup {
    box-shadow: none;
}

.k-animation-container>.arrow-right {
    box-shadow: none;
}

.k-animation-container-fixed>.k-popup {
    margin-right: 0;
    border: none;
    background: transparent;
}

.arrow-right {
    margin-right: 8px;
    &:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #ececec;
        position: absolute;
        right: 0;
        top: 5px;
        z-index: 9999;
    }
}


/*TOOLTIP*/

// .mat-tooltip {
//     font-size: 12px !important;
//     background-color: #000000 !important;
//     color: #b5ddf7 !important;
//     border-radius: 0px !important;
//     padding: 10px 0px 10px 15px;
// }