$background:#f1f1f1;
$bkg-light:#ecf8ff;
$bck-sidenav:#282828;
$blue:#0277bd;
$darkblue:#00578c;
$color-light:#fff;
$base-theme:Default;
$skin-name:tb;
$accent: #0277bd;
$accent-contrast: #ffffff;
$text-color: #333333;
$bg-color: #ffffff;
$base-text: #333333;
$base-bg: #f6f6f6;
$hovered-text: #666666;
$hovered-bg: #ededed;
$selected-text: #ffffff;
$selected-bg: #0277bd;
$info: #0277bd;
$success: #5ec232;
$warning: #fdce3e;
$error: #d51923;
$series-a: #0277bd;
$series-b: #28b4c8;
$series-c: #ffd246;
$series-d: #78d237;
$series-e: #ff6358;
$series-f: #aa46be;
$input-background:#ffffde;
$input-background-disabled:#fafafa;
$border:#ddd;
$border-disabled:#ddd;
$text-color:#000;
$text-color-disabled:#333;
$text-weight:500;

$shadow: rgba(205, 210, 214, .8);
$border-top-button-active:#cfe0e8;
$color-top-button-disabled: #888;
