<kendo-dropdownlist kendofilterinput
    [data]="data"
    (valueChange)="onChange($event)"
    [defaultItem]="defaultItem"
    [value]="selectedValue"
    [valuePrimitive]="true"
    [textField]="textField"
    [valueField]="valueField"
    [popupSettings]="{popupClass: 'customisable-grid-filter'}">
</kendo-dropdownlist>
<button [style.visibility]="isFilterActive ? 'visible' : 'hidden'" [style.marginLeft.px]='3' (click)="onChange(null)" class="k-button k-button-icon k-clear-button-visible" kendogridfocusable="" title="Clear">
    <span class="k-icon k-i-filter-clear"></span>
</button>
<button [style.visibility]="'hidden'" enabled='false' class="k-button k-button-icon">
    <span class="k-i-filter k-icon"></span>
</button>