 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-caption cmpId="IDC_MANAGEFILE_WIZ_STATIC_SHEET_RECT" width="350"></tb-caption>
    <tb-button cmpId="IDNO" width="54" [caption]="_TB('&lt; Back')"></tb-button>
    <tb-button cmpId="IDYES" width="54" [caption]="_TB('Next &gt;')"></tb-button>
    <tb-button cmpId="IDCANCEL" width="54" [caption]="_TB('Cancel')"></tb-button>
    <tb-button cmpId="IDCLOSE" width="54" [caption]="_TB('Finish')"></tb-button>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
 </tb-frame>
