.header {
	background-color: lightskyblue;
}

.tileContent {
	/*height:234px;*/ /*this parameter must be changed with javascript*/
	height:240px;
	width:350px;
	overflow: auto;
	padding-right: 5px;
	padding-top: 2px;
	line-height: 140%;
}

	.tileContent a {
		text-decoration: none;
	}

	/*menu object image*/
	.tileContent > div > div {
		display: inline-block;
	}

.link {
	cursor: pointer;
}


.floatRight {
	float: right;
}

.imageSmall {
	font-size: large;
	width: 14px;
	height: 14px;
}

/*trucate text if doesnt fit*/
.truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}

.titleFont .truncate {
	width: 95%;
}

#user .truncate {
	width: 50%;
}


.favorite {
	content: url(./app/menu/images/favorite.png);
}

.unfavorite {
	content: url(./app/menu/images/Unfavorite.png);
}

.tileTitleFont {
	font-size: 20px;
}

