<md-card *ngIf="tile != undefined">
  <md-card-header class="header">
    <md-card-title class="tileTitleFont">
      <!--tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{::menuService.getTileTooltip(tile)}}" tooltip-popup-delay="500" tooltip-animation="false"  ng-bind-html="firstWord(tile.title)" -->
      {{tile.title}}
    </md-card-title>
</md-card-header>

<md-card-content class="tileContent">
  <div *ngFor="let object of utilsService.toArray(tile.Object)" style="display:inline-block; white-space:nowrap; overflow:hidden;text-overflow: ellipsis; width:90%; height:24px;" (mouseenter)="object.starHover=true" (mouseleave)="object.starHover=false">
    <tb-tile-element [Object]="object"></tb-tile-element>
     <i class="material-icons link imageSmall"  (click)=menuService.toggleFavorites(object) *ngIf="object.isFavorite || object.starHover">{{getFavoriteClass(object)}}</i>
   
  </div>
</md-card-content>

</md-card>