.header {
		height: 20px;
}
.tileContent {
	/*height:234px;*/ /*this parameter must be changed with javascript*/
	height:240px;
	width:350px;
	overflow: auto;
	padding-top: 2px;
	line-height: 140%;
	font-weight: lighter;
	font-size: medium;
}

	.tileContent a {
		text-decoration: none;
	}

	/*menu object image*/
	.tileContent > div > div {
		display: inline-block;
	}


.floatRight {
	float: right;
}

.imageSmall {
	font-size: large;
	width: 14px;
	height: 14px;
}

/*trucate text if doesnt fit*/
.truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}

.titleFont .truncate {
	width: 95%;
}

#user .truncate {
	width: 50%;
}

.tileTitleFont {
	font-size: 18px;
}

