<div class="tile">

  <div *ngIf="tile != undefined">

    <div class="header">
      <div class="tileTitleFont">
        <!--tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{::menuService.getTileTooltip(tile)}}" tooltip-popup-delay="500" tooltip-animation="false"  ng-bind-html="firstWord(tile.title)" -->
        {{tile.title}}
      </div>
    </div>

    <div class="tileContent">
      <div *ngFor="let object of utilsService.toArray(tile.Object)" (mouseenter)="object.starHover=true" (mouseleave)="object.starHover=false">
        <tb-tile-element [Object]="object"></tb-tile-element>
      </div>
    </div>
    
  </div>

</div>