@import url("bootstrap.css");
@import url("context.bootstrap.css");

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../images/glyphicons-halflings-regular.eot'), url('../images/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../images/glyphicons-halflings-regular.woff') format('woff'), url('../images/glyphicons-halflings-regular.ttf') format('truetype'), url('../images/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../Images/Font/OpenSans-Regular.ttf') format('truetype');
}

html, body {
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(255, 255, 255, 1);
	font-family: 'Open Sans', sans-serif;
	font-weight: 500, 600, 700;
	color: rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.5);
}

.dropdown-menu {
	border-radius: 0px;
	z-index: 1900;
}

a, a:hover {
	color: rgba(0, 0, 0, 0.87);
}


/*white stripe on header*/
.backgroundLayer {
	background-color: rgba(255, 255, 255, 0.8);
}

/*Internal menu color white with rgba to color the ugly rgba*/
#modal1-content {
	background-color: rgba(255,255,255,0.3);
}

/*Accordion heading*/
.panel-default > .panel-heading {
	background-color: white;
}

/*footer conainer color*/
.footerContainer {
	color: rgba(255, 255, 255, 0.9);
}

	.footerContainer .dropdown-menu {
		color: rgba(0, 0, 0, 0.87);
	}

/*black footer overlay*/
.footerLayer {
	background-color: rgba(0, 0, 0, 0.65);
}

.footerItemSelected {
	background-color: rgba(230, 230, 230, 0.5);
	border-radius: 3px;
}

.elementSelected {
	background-color: rgba(198, 198, 198, 0.30);
}

.elementNotSelected:hover {
	background-color: rgba(235, 235, 235, 0.30);
}

.btn-default {
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

	.btn-default:hover {
		background-color: rgba(230, 230, 230, 1);
		color: rgba(0, 0, 0, 0.87);
	}

	/*color of buttons on focus and horisontal line in hidden elements dropdown*/
	.btn-default:focus, .btn-default.active, .hiddenDropdown hr {
		background-color: rgba(230, 230, 230, 1);
		color: rgba(0, 0, 0, 0.87);
		box-shadow: none;
	}

.btn-primary {
	background-color: #22B9E8;
	border-color: #357ebd;
}

	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
		background-color: #1B91B5;
		border-color: #285e8e;
	}

.btn-warning {
	background-color: #3EAB66;
	border-color: #359157;
}

	.btn-warning:hover,
	.btn-warning:focus,
	.btn-warning.focus,
	.btn-warning:active,
	.btn-warning.active,
	.open > .dropdown-toggle.btn-warning {
		background-color: #359157;
		border-color: #359157;
	}

::-webkit-scrollbar-thumb {
	background: rgba(117, 117, 117, 1);
}

/*Tooltip color*/
.tooltip > .tooltip-inner {
	background-color: rgba(0, 0, 0, 1),;
	color: white;
}

.tooltip.top .tooltip-arrow {
	border-top-color: rgba(0, 0, 0, 1),;
}

.tooltip.right .tooltip-arrow {
	border-right-color: rgba(0, 0, 0,1),;
}

.tooltip.left .tooltip-arrow {
	border-left-color: rgba(0, 0, 0, 1),;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: rgba(0, 0, 0,1),;
}


.allPanels:not(.headerContainer) {
	font-size: 14px;
}

.titleFont {
	font-size: 16px;
	font-weight: bold;
	vertical-align: bottom;
}

.firstWord {
	font-weight: 700;
}

.titleMenuFont {
	font-size: medium;
	font-weight: normal;
	vertical-align: bottom;
}

.appHeading {
	font-weight: bold;
	font-size: 20px;
}

.arrowElement {
	font-size: large;
}

.advSearchTextContainer {
	width: 100px;
	font-size: 12px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: rgba(230, 230, 230, 0.5);
	color: rgba(0, 0, 0, 0.87);
}

.tileContent > div:hover, .accordionContent > div:hover {
	background-color: rgba(230, 230, 230, 0.5);
}

/*arrow down/up dropdown menus*/
.glyphicon-chevron-down, .glyphicon-chevron-up {
	font-size: x-small;
	font-weight: lighter;
	color: grey;
}

.footerFont {
	font-size: 14px;
}

.itemSelected {
	padding-top: 3px;
}

	.itemSelected > div:hover {
		background-color: rgba(230, 230, 230, 0.5);
	}

/*------HEADER-------*/

/*APPLICATION SELECTOR MENU*/
.applicationSelector {
	font-size: 20px;
	height: 45px;
	text-align: center;
	line-height: 130%;
	width: 50px;
	margin-left: 10px;
	display: inline-block;
}

	.applicationSelector .dropdown-menu {
		padding: 0px;
		text-align: left;
	}




	/*application image*/
	.applicationSelector .box img {
		max-width: 100px;
		max-height: 60px;
		margin-top: 10%;
	}

/*
         Date dropdown
     */

#changeDatrLabel {
	text-align: center;
	margin-top: 10px;
}

#dateInputContainer {
	margin-top: 10px;
}

#datePickerInput {
	width: 120px;
	margin-left: 70px;
	margin-top: 5px;
}

#btnToday {
	color: black;
	width: 70px;
	margin-right: 5px;
}



#datepickerOk {
	color: black;
	width: 48%;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 2px;
	margin-left: 4px;
}

#datepickerCancel {
	color: black;
	width: 48%;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 2px;
	margin-right: 2px;
}

.dateDropdownContainer {
	min-width: 220px;
	min-height: 50px;
	height: auto;
	background-color: rgba(255, 255, 255, 1);
	display: none;
	position: absolute;
	top: 50px;
	right: 105px;
	box-shadow: 2px 2px 5px #888888;
	z-index: 1567;
}


/*------MENU-------*/


html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	min-width: 100px;
}

/*HEADER*/
.headerContainer {
	height: 70px;
	display: inline-block;
	z-index: 1000;
	position: relative;
	margin-top: -3px;
	width: 100%;
}

.backgroundLayer {
	width: 100%;
	height: 100%;
}

.menuSelectorContainer {
	margin-top: 7px;
	position: absolute;
	left: 0px;
	top: 0px;
}


.box {
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	width: 130px;
	height: 130px;
}

	.box > div {
		display: inline-block;
		vertical-align: middle;
		align-self: center;
		text-align: center;
		width: 100%;
		height: 100%;
		margin-top: 20%;
	}

		/*module title*/
		.box > div > div {
			max-height: 60px;
			line-height: 20px;
			white-space: initial;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
		}

/*MODULE SELECTOR*/
.moduleSelector {
	text-align: center;
	display: inline-block;
	line-height: 150%;
	font-size: 25px;
	max-width: 300px;
	margin-left: 15px;
}
/*module title*/
.appTitle {
	display: inline-block;
	max-width: 200px;
	overflow: hidden;
	text-overflow: clip;
	max-height: 38px;
	vertical-align: top;
}

.moduleSelector img {
	max-height: 38px;
	max-width: 180px;
}

.moduleSelector .dropdown-menu {
	text-align: left;
	padding: 0px;
}


.moduleSelector .box {
	width: 130px;
	height: 130px;
}


	/*module image*/
	.moduleSelector .box img {
		width: 30px;
		height: 30px;
	}



/*SELECTED MODULE LOGO*/
.selectedModule {
	text-align: left;
	padding-left: 20px;
	display: inline;
	line-height: 150%;
	font-size: 19px;
	width: auto;
	vertical-align: middle;
}

/*search bar+user+settings+calendar*/
.searchAndSettingsContainer {
	margin-top: 7px;
	position: absolute;
	right: 0px;
	top: 5px;
	height: 60px;
}

/*BARRA DI RICERCA*/

.customizationContext {
	display: inline-block;
	position: static;
	width: auto;
	padding-right: 20px;
}

.searchContainer {
	display: inline-block;
	position: static;
	width: auto;
	padding-right: 20px;
}

	.searchContainer > div div:first-child {
		display: inline-block;
	}

	/*adanced search list*/
	.searchContainer .advacedSearchList .dropdown-menu {
		margin-right: -17px;
		border-radius: 0px;
		min-width: 180px;
	}

	.searchContainer .searchDropdown .dropdown-menu {
		margin-top: 0px;
		margin-left: -197px;
		width: 400px;
		overflow-y: hidden;
		overflow-x: hidden;
		border-radius: 0px;
	}

		/*elements of search dropdown*/
		.searchContainer .searchDropdown .dropdown-menu > li > a {
			padding-left: 1px;
			padding-top: 3px;
		}

	.searchContainer .form-control {
		border-radius: 0px;
	}

/*advanced search font*/
.advancedSearchItem {
	font-weight: normal;
	display: inline;
	white-space: nowrap;
}

/*piccola barra di ricerca*/
#smallDimSearchBox {
	display: none;
}
/*piccola icona di ricerca*/
#smallDimSearchIcon {
	display: inline-block;
	position: static;
	width: auto;
	padding-right: 20px;
	vertical-align: middle;
	line-height: 150%;
	font-size: 21px;
}

/*CALENDAR / USER /  INFO*/
#calendarIcon, #userIcon, #infoIcon {
	font-size: 23px;
	height: 35px;
	vertical-align: middle;
	line-height: 160%;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	text-align: center;
}

	#calendarIcon .calendar, #userIcon .userFace {
		height: 30px;
		width: 30px;
	}

	#userIcon .dropdown-menu, #infoIcon .dropdown-menu {
		height: auto;
		width: 350px;
	}


	#userIcon .dropdown-menu {
		margin-right: -5px;
	}


	#userIcon .dropdown-toggle > div:nth-child(2) {
		display: inline-block;
		font-size: 16px;
	}


#infoIcon {
	line-height: 130%;
}

	#infoIcon .dropdown-menu > div {
		line-height: 160%;
	}

	#infoIcon .dropdown-menu {
		margin-right: -2px;
		padding: 0;
	}

	#infoIcon .link {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		font-size: larger;
		font-weight: 800;
	}


/*END HEADER*/

/*ACTUAL MENU */

.settingsAndMenuSelector {
	height: 47px;
}

/*Black menu bar*/
.menuSelectorPanel {
	height: 45px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.coloredMenuSeparator {
	background: -webkit-linear-gradient(0deg, #25b767 0%, #0abaee 33%, #cbcbcb 65%, #000000 100%);
	height: 2px;
}

/*TILE*/
.tileContainer {
	padding-left: 20px;
	padding-top: 10px;
	margin: 5px;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

	/*title and pinimage container*/
	.tileContainer > div:first-child {
		width: 98%;
		border-bottom: 1px solid;
		border-bottom-color: lightgrey;
		margin-bottom: 10px;
	}

	/*pin image*/
	.tileContainer .unpinnedImage, .tileContainer .pinnedImage {
		float: right;
	}

	/*tile title*/
	.tileContainer > div:first-child > div:first-child {
		display: inline-block;
		margin-bottom: 7px;
		width: 90%;
	}


.tileContent {
	/*height:234px;*/ /*this parameter must be changed with javascript*/
	/*height:235px;*/
	overflow: auto;
	padding-right: 5px;
	padding-top: 2px;
	line-height: 160%;
}

	.tileContent a {
		text-decoration: none;
	}

	/*menu object image*/
	.tileContent > div > div {
		display: inline-block;
	}



.menuItemImage {
	width: 19px;
	height: 19px;
}

/*menu object title*/
.tileContent > div > div:nth-child(2) {
	padding-left: 5px;
	width: 80%;
}

/*favorite star*/
.tileContent > div > div:last-child {
	float: right;
	margin-top: 3px;
	margin-right: 3px;
}

.elementInvisible {
	visibility: hidden;
}

.elementVisible {
	visibility: visible;
}

.customizationsDropDown {
}

.customizationItems {
	padding-left: 20px;
}

/*END TILE*/

/*ACCORDION*/
/*space between image and text in accordion*/
.accordion-toggle i {
	padding-left: 10px;
}

accordion {
	width: 100%;
}

/*accordion group border-bottom*/
.accordion-group {
	width: 98%;
	border-bottom: 1px solid;
	border-bottom-color: lightgrey;
	margin-left: 15px;
}

.accordion-heading {
	padding-left: 10px;
}

	.accordion-heading .unpinnedImage, .accordion-heading .pinnedImage {
		float: right;
	}

.accordionContent:not(.customizationsDropDown) {
}

/*one menu line in accordion*/
.accordionContent > div {
	display: inline-block;
	width: 350px;
	vertical-align: middle;
	margin-right: 40px;
	margin-bottom: 5px;
}

	.accordionContent > div > div {
		display: inline-block;
	}
		/*favorite star icon*/
		.accordionContent > div > div:first-child {
			margin-right: 5px;
			margin-top: 5px;
		}

		/*menu line image*/
		.accordionContent > div > div:nth-child(2) {
			margin-right: 5px;
		}

		/*menu line title*/
		.accordionContent > div > div:last-child {
			max-width: 290px;
		}

/*END ACCORDION*/

/*END ACTUAL MENU */

/*START FOOTER*/

.footerContainer {
	text-align: center;
	bottom: 0px;
	position: fixed;
	height: 33px;
	width: 100%;
	text-align: left;
	/*background-image:url(../Images/Footer.png);*/
}

.footerLayer {
	width: 100%;
	height: 100%;
}

.footerContainer .dropdown-toggle > * {
	display: inline-block;
}

/*FAVORITES*/ /*RECENTLY USED*/ /*HIDDEN TILES*/ /*CHANGE THEME*/

.footerSelector {
	text-align: left;
	padding-left: 30px;
	display: inline-block;
	padding-top: 2px;
}

.themeSelector {
	float: right;
	top: 2px;
	right: 0px;
	position: absolute;
}

	.themeSelector > div {
		display: inline-block;
		padding-left: 10px;
		padding-right: 15px;
	}

		/*border afetr viewer selector*/
		.themeSelector > div:first-child {
			border-right-style: solid;
			border-right-color: white;
			border-right-width: 1px;
		}

.footerSelector .dropdown-menu {
	height: auto;
	width: 350px;
	max-height: 300px;
	margin-bottom: 5px;
	z-index: 999;
}

.themeSelector .dropdown-menu {
	width: 250px;
}

/*favorits dropdown container*/
.footerDropdown, .recentlyUsedDropdown {
	max-width: 348px;
	max-height: 280px;
	overflow-y: auto;
	padding: 10px;
	padding-left: 20px;
}

	/*remove all from recently used*/
	.recentlyUsedDropdown > div:first-child {
		width: 100%;
		text-align: right;
		margin-bottom: 5px;
	}

	.footerDropdown > div > div {
		display: inline-block;
	}

		/*menu icon*/
		.footerDropdown > div > div:first-child {
			width: 20px;
			height: 20px;
		}

.hiddenDropdown > div > div:first-child, .themeDropdown > div > div:first-child {
	width: 0px;
	height: 0px;
}

.hiddenDropdown .currentMenuTitleInHidden {
	font-size: 16px;
	font-weight: bold;
	padding-left: 3px;
}

.hiddenDropdown > div {
	padding-top: 3px;
}

.hiddenDropdown hr {
	border: 0;
	height: 1px;
	width: 98%;
	padding: 0;
	margin: 5px 7px 10px 0;
}

/*image in hidden dropdown*/
.smallThumb {
	padding-left: 10px;
	max-height: 70px;
	width: auto;
	height: auto;
}


/*cross remove from list*/
.footerDropdown > div > div:last-child {
	font-size: 10px;
	float: right;
	line-height: 170%;
	padding-right: 2px;
}

.themeDropdown > div > div:last-child {
	width: 0px;
	height: 0px;
}

/*text decoration only in footer dropdown*/
.footerContainer .dropdown-menu .link:hover {
	text-decoration: underline;
}
/*--------------------------------------------------------*/

.showOthers:hover {
	cursor: pointer;
}

.smallThumb {
	padding-left: 10px;
	max-height: 70px;
	width: auto;
	height: auto;
}

.smallImage {
	width: 16px;
	height: 16px;
}


/*END FOOTER*/


/*COMMON*/

.link {
	cursor: pointer;
}


.imageSmall {
	width: 16px;
	height: 16px;
}

.watermark {
	background: url(../Images/watermark.png) no-repeat right;
}

/*trucate text if doesnt fit*/
.truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
	overflow: hidden;
}

.titleFont .truncate {
	width: 95%;
}

#user .truncate {
	width: 50%;
}


.headerCleaner {
	height: 3px;
	width: 100%;
}

.avatarImage {
	margin-top: -5px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}

/*END COMMON*/

#modal {
	height: 100%; /* change this to see how the content will behave */
	overflow: hidden;
	position: relative;
}


#modal-content {
	height: 100%;
	overflow: hidden;
	position: relative;
	margin-top: -5px;
}

#modal1 {
	height: 100%; /* change this to see how the content will behave */
	width: 100%;
	position: relative;
}

#modal1-content {
	/*height: 100%;*/
	overflow: auto;
	position: absolute;
	top: 50px;
	width: 100%;
	padding-right: 34px;
}


/*TBStudio sidedrop*/
.studioSideDropContainer {
	display: block;
	position: fixed;
	right: 0;
	top: 30%;
	z-index: 1645;
}

#studioSideDrop {
	display: none;
	margin-right: 1px;
	background-color: rgba(255, 255, 255, 1);
	float: right;
	box-shadow: 0px 0px 20px #888888;
}

	#studioSideDrop > div {
		width: 130px;
		height: 130px;
	}

	#studioSideDrop .box img {
		width: 30px;
		height: 30px;
	}

.studioSideButtonLabel {
	height: 130px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	float: left;
	box-shadow: 0px 0px 3px #888888;
	position: relative;
	text-align: right;
	padding-bottom: 1em;
}

.studioSideButtonColoredBar {
	height: 130px;
	width: 3px;
	float: left;
	background-color: rgba(57, 173, 99, 0.90);
}

/*------------------------END TBStudio sidedrop-------------------------------*/

/*TBframework sidedrop*/
.frameworkSideDropContainer {
	display: block;
	position: fixed;
	right: 0;
	z-index: 1645;
}

#frameworkSideDrop {
	display: none;
	margin-right: 1px;
	background-color: rgba(255, 255, 255, 1);
	float: right;
	box-shadow: 0px 0px 20px #888888;
}

	#frameworkSideDrop > div {
		width: 130px;
		height: 130px;
	}

	#frameworkSideDrop .box img {
		width: 30px;
		height: 30px;
	}

.frameworkSideButtonLabel {
	height: 130px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	float: left;
	box-shadow: 0px 0px 3px #888888;
	position: relative;
	text-align: right;
	padding-bottom: 1em;
}

.frameworkSideButtonColoredBar {
	height: 130px;
	width: 3px;
	float: left;
	background-color: rgba(33, 184, 220, 0.90);
}

.is-disabled {
	opacity: .5;
	pointer-events: auto;
	cursor: not-allowed;
}

/*------------------------END TBFramework sidedrop-------------------------------*/

/*per posizionare il testo nelle linguette*/
.frameworkSideButtonAppName {
	-webkit-transform: rotate(-90deg);
	position: absolute;
	margin-top: -73px;
	margin-left: -6px;
}

.taskbuilderSideButtonDiv {
	-webkit-transform: rotate(-90deg);
	line-height: 100%;
	text-align: right;
	margin-top: 90px;
	margin-left: -15px;
}


.studioSideButtonAppName {
	-webkit-transform: rotate(-90deg);
	position: absolute;
	margin-top: -88px;
	margin-left: 10px;
}

table.diagnostic {
	margin: 20px;
}

	table.diagnostic td:first-child {
		padding-right: 20px;
	}

*.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	/*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
	-ms-user-select: none;
	user-select: none;
}



/*contextdialog*/

.title {
	text-align: center;
	color: var(--baseFontColor);
}

h5.tit {
	font-weight: bold;
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
	padding: 0 0 5px;
	color: #000;
}


.central {
	min-height: 200px;
	display: block;
	overflow: hidden;
}

nav {
	float: left;
	max-width: 50%;
	margin: 0;
	padding: 1em;
	width: 40%;
}

	nav ul {
		list-style-type: none;
		padding: 0;
	}

ul li:hover, .selected {
	border-bottom: 1px solid;
	border-color: var(--baseThemeColor);
}


li.beauty {
	font-weight: 300;
	padding: 0 5px;
	width: 100%;
	cursor: pointer;
	margin: 0;
}

article {
	width: 55%;
	float: right;
	padding: 1em;
}

	article ul {
		list-style-type: none;
		padding: 0;
	}

#addApplication {
	display: block;
	overflow: hidden;
	padding: 3px;
	margin: 5px;
}

.addApplicationBck {
	background: #efefef;
	border: 1px solid #ccc;
	border-radius: 15px;
}

.addAppButton {
	float: left;
	margin-top: 6px;
}

.newPair {
	float: left;
	display: block;
	overflow: hidden;
}

	.newPair > input {
		float: left;
		margin: 5px;
		border: 1px solid #ccc;
		padding: 0 3px;
	}

.icons {
	float: right;
}

.icon {
	padding: 3px 10px;
	margin: 3px 0px;
	border: 1px solid;
	border-color: var(--baseThemeColor);
	border-radius: 15px;
}

.contextLeft {
	text-align: left;
	align-content: stretch;
	font-weight: 200;
	display: table-cell;
	margin-left: 0;
	position: absolute;
	padding: 4px;
	color: black;
}

.stellina {
	display: inline;
	margin-right: 5px;
	cursor: pointer;
}

.onlyThemeBaseColor {
	color: rgba(0, 0, 0, 0.75);
}

:root {
	--baseThemeColor: onlyThemeBaseColor;
	--baseFontColor: black;
}
