@import url("objectImages.css");

.paddedRight {
	padding-right: 10px;
}

.paddedLeft {
	padding-left: 15px;
}

.paddedTopLight {
	padding-top: 15px;
}

.padded {
	padding-left: 5px;
	padding-top: 15px;
}

.paddedlight {
	padding-left: 8px;
	padding-top: 2px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.paddedTop {
	padding-top: 120px;
}

.userboxpad {
	padding-left: 8px;
	padding-top: 25px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.noborder {
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.interlinea {
	padding-top: 5px;
}

.myUserControl {
	line-height: initial;
	border: none;
	width: 80%;
	height: 25px;
	padding: 6px 12px;
	font-size: medium;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.myCompanyControl {
	line-height: initial;
	border: none;
	width: 60%;
	height: 25px;
	padding: 6px 12px;
	font-size: medium;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.divRoundBorder {
	border: 1px solid #ccc;
	padding: 5px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.elementInvisible {
	visibility: hidden;
}

.elementVisible {
	visibility: visible;
}

.divRoundNoTopBorder {
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	border-top: none;
	padding: 5px;
	padding-top: 4px;
}

.divRoundNoBottomBorder {
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: none;
	padding: 5px;
}

.divNoRoundBorder {
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: 1px solid #ccc;
	padding: 5px;
}

.changePsw {
	float: right;
	padding-top: 10px;
	padding-left: 20px;
	cursor: pointer;
}

.changeLogin {
	float: right;
	padding-top: 10px;
	padding-left: 10px;
	cursor: pointer;
}

.newLogin {
	float: right;
	padding-top: 10px;
	padding-left: 10px;
	cursor: pointer;
}

.activateViaSMS {
	float: left;
	padding-top: 4px;
	padding-left: 10px;
	cursor: pointer;
}

.activateViaInternet {
	float: left;
	padding-top: 4px;
	padding-left: 20px;
	cursor: pointer;
}

.viewOldMsg {
	float: left;
	padding-top: 4px;
	padding-left: 20px;
	cursor: pointer;
}

.clearCachedData {
	float: left;
	padding-top: 4px;
	padding-left: 20px;
	cursor: pointer;
}

.loginButtonSpan {
	line-height: initial;
	text-align: center;
	vertical-align: middle;
}

.loginButton {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	float: right;
	color: white;
	min-width: 80px;
	width: auto;
	height: 23px;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	display: block;
	outline: none;
}
.loginButton:hover,
.loginButton:focus,
.loginButton.focus,
.loginButton:active,
.loginButton.active {
  border-color: #098EB8;
}
.loginButtonEnabled {
	cursor: pointer;
	background-color: #22b9e8;
}

.loginButtonDisabled {
	cursor: default;
	background-color: #ccc;
}

.loginButtonLoading {
	float: none;
	display: block;
	margin: 0 auto;
	vertical-align: middle;
	padding-top: 7px;
}

.userdropdown {
	text-align: left;
	margin-left: 3px;
}

.changePasswordBox {
	width: 300px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}


/*checkbox*/
.loginStyleTextCheckbox {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

	.loginStyleTextCheckbox + label {
		margin: 0;
		margin-top: 10px;
		padding: 2px 0 0px 24px;
		cursor: pointer;
		font-weight: 100;
	}

.loginStyleTextBox {
	background-color: rgba(0, 0, 0, 0);
	font-size: medium;
	font-weight: 100;
}

	.loginStyleTextBox:disabled {
		color: #a1a1a1;
	}

.errorLabel {
	color: red;
	font-size: small;
}

/*Colore placeholder - ho schiarito leggermente rispetto al default di chrome*/
::-webkit-input-placeholder { /* WebKit browsers */
	color: #E2E2E2;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #E2E2E2;
	opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #E2E2E2;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #E2E2E2;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

.setButton {
	position: relative;
	float: left;
	left: 5px;
	top: -1px;
	cursor: pointer;
	border: none;
}

.companyDownbutton {
	float: left;
	padding-top: 8px;
	cursor: pointer;
	border: none;
}

.PasswordDownbutton {
	float: left;
	padding-top: 8px;
	border: none;
}

.mydropdown-menu-right {
	right: 0;
	left: initial;
}

#prodinfotable td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 4px;
}

#connInfotable td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 4px;
}



.backButtonPadding {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.companies {
	line-height: initial;
	width: 100%;
}

.companyplaceholder {
	position: relative;
	float: left;
}

.companiesDropdown {
	height: 100px;
	overflow: auto;
	font-size: small;
	line-height: initial;
}

.floatleft {
	float: left;
	margin-left: 5px;
	padding-top: 15px;
}

.floatright {
	float: right;
	margin-right: 15px;
}

.companiesDropdownSmall {
	height: 100px;
	overflow: auto;
	font-size: small;
	line-height: initial;
}

.borderTop {
	border-top: 1px solid #ccc;
}

.settingOptionHeight {
	line-height: 14px;
}

.userEmptyAvatarImage {
	margin: 95%;
}

.userAvatarImage {
	margin-top: 20px;
	width: 70px;
	height: 70px;
}

.pointer {
	cursor: pointer;
}

.innnerdiv {
	margin-top: 9%;
}
