@import url("objectImagesOld.css");
@import url("bootstrap.css");
@import url("context.bootstrap.css");

@font-face {
  font-family: 'Glyphicons Halflings';
    src: 
		url('../images/glyphicons-halflings-regular.eot'),
		url('../images/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
		url('../images/glyphicons-halflings-regular.woff') format('woff'), 
		url('../images/glyphicons-halflings-regular.ttf') format('truetype'), 
		url('../images/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: Segoe UI;
}

.parent {
	height: 100%;
	overflow: hidden;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.bottom {
	overflow: auto;
	flex: 1;
}

.top {
}

.fitDivHeight {
	height: 100%;
}

.listViewMenuContent {
	overflow: auto;
	height: 87%;
}

@media (max-width: 768px) {

	.allPanels {
		font-size: 10px;
	}

	.titleFont {
		font-size: smaller;
		font-weight: normal;
		vertical-align: bottom;
	}

	.titleMenuFont {
		font-size: x-small;
		font-weight: normal;
		vertical-align: bottom;
	}

	.appHeading {
		font-weight: bold;
		font-size: 14px;
	}

	.arrowElement {
		font-size: medium;
	}
}

@media (max-width: 1024px) {

	.allPanels {
		font-size: 11px;
	}

	.titleFont {
		font-size: small;
		font-weight: normal;
		vertical-align: bottom;
	}

	.titleMenuFont {
		font-size: smaller;
		font-weight: normal;
		vertical-align: bottom;
	}

	.appHeading {
		font-weight: bold;
		font-size: 16px;
	}

	.arrowElement {
		font-size: large;
	}
}

@media (max-width: 1280px) {

	.allPanels {
		font-size: 12px;
	}

	.titleFont {
		font-size: medium;
		font-weight: normal;
		vertical-align: bottom;
	}

	.titleMenuFont {
		font-size: small;
		font-weight: normal;
		vertical-align: bottom;
	}

	.appHeading {
		font-weight: bold;
		font-size: 18px;
	}

	.arrowElement {
		font-size: larger;
	}
}

@media (min-width: 1280px) {

	.allPanels {
		font-size: 14px;
	}

	.titleFont {
		font-size: large;
		font-weight: normal;
		vertical-align: bottom;
	}

	.titleMenuFont {
		font-size: medium;
		font-weight: normal;
		vertical-align: bottom;
	}

	.appHeading {
		font-weight: bold;
		font-size: 20px;
	}

	.arrowElement {
		font-size: large;
	}
}

.leftPanelGlyph {
	font-size: large;
}


.rightPanel {
	padding-right: 10px;
	color: Black;
	background-color: White;
	height: 100%;
	border-left: 1px solid #3172C5;
}

	.rightPanel a {
		text-decoration: underline;
	}

.centerPanel {
	overflow: hidden;
	height: 100%;
	color: Black;
}

.leftPanel {
	background-color: #2B78E4;
	height: 100%;
	color: white;
	border-right: 1px solid #3172C5;
	/*max-width: 400px;*/
}

	.leftPanel a {
		color: white;
	}

.infoLinkLine {
	line-height: 0.8;
	font-size: smaller;
}

.thumbnailText {
	/*font-size: small;
	border: 1px solid rgb(221, 230, 240);
	border-radius: 4px;*/
}

	.thumbnailText a {
		text-align: center;
		text-decoration: none;
	}

		.thumbnailText a:hover {
			text-align: center;
			text-decoration: underline;
		}

.targetItem {
	font-size: small;
	padding-left: 30px;
}

.tileImg {
	display: block;
	margin: 0 auto;
}

.objectText {
	height: 70px;
	overflow: hidden;
	line-height: 1.2;
	overflow: visible;
}

.menu {
	border-bottom-color: #BDD3EB;
	border-bottom-style: solid;
	border-bottom-width: thin;
	display: inline-table;
	padding-left: 20px;
	padding-right: 60px;
}

.groupImage {
	padding-right: 10px;
}

.paddingImage {
	padding-bottom: 5px;
}

.verticalMiddle {
	vertical-align: middle;
}

.groupTitle {
	text-align: left;
}

.elementNotDisplayed {
	display: none;
}

.elementDisplayed {
	display: block;
}

.elementInvisible {
	visibility: hidden;
}

.elementVisible {
	visibility: visible;
}

.menulistMenu {
	padding-left: 10px;
	padding-top: 5px;
}

.pinContainer {
	position: relative;
	left: 0px;
	top: 0px;
}

.pinElement {
	position: absolute;
	left: 15px;
	top: 0px;
}

.rightArrowContainer {
	position: relative;
	left: 0px;
	top: 0px;
}

.rightArrowElement {
	position: absolute;
	top: 20px;
}

.leftArrowElement {
	padding-top: 10px;
}

.pinListMenu {
	width: 24px;
	height: 24px;
	background-size: 75%;
}

.menuTitlePadding {
	padding-left: 10px;
}

.groupTitlePadding {
	padding-left: 10px;
	vertical-align: middle;
}

.mostUsed {
	padding-left: 10px;
	padding-top: 3px;
}


.openDocument {
	padding-left: 10px;
}

.openDocumentPadding {
	
}

.mostUsed a {
	font-weight: normal;
}

.inlineElement {
	font-weight: normal;
	display: inline;
	white-space: nowrap;
}

.divRoundBorder {
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	background-color: #2B78E4;
}

	.divRoundBorder a {
		color: White;
	}

.option {
	display: inline;
}


.listImg {
	display: inline-block;
	vertical-align: bottom;
}

.historyTooltip {
	overflow: visible;
}

.separator {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px solid #fff;
}

.producerUrl {
	padding-left: 40px;
}

.brandName {
	margin-bottom: 0px;
}

.overflowNone {
	overflow: hidden;
}

.overflowAuto {
	overflow: auto;
}

.overflowScroll {
	overflow: scroll;
}

.centralPanelContainer {
	height: 90%;
}

.link {
	cursor: pointer;
}

.listViewTitle {
	color: Black;
	padding-left: 25px;
	vertical-align: central;
}

.justAddedPos {
	/*padding-right: 50px;*/
}

.bigThumb {
	position: fixed;
	width: 45%;
	height: 45%;
	top: 23%;
	left: 28%;
	display: block;
	background-color: ActiveCaption;
}

.textCenterThumb {
	text-align: center;
	font-weight: bolder;
}

.hideBigThumb {
	display: none;
}

.thumbZoom {
	height: 100%;
	width: 100%;
}

.smallThumb {
	padding-left: 10px;
	max-height: 70px;
	width: auto;
	height: auto;
}

.coloredGlyph {
	color: rgb(131, 133, 153);
	text-decoration: none;
}

	.coloredGlyph a {
		color: inherit;
		text-decoration: inherit;
	}

		.coloredGlyph a:hover {
			color: #000000;
		}


.modalWindow {
	max-height: 800px;
	overflow: auto;
}

.checkbox {
	width: 20px;
}

.menuItems {
	list-style-type: none;
}

.closeButton {
	float: right;
	padding-right: 20px;
	padding-top: 20px;
}

.toolbarButton {
	padding-left: 20px;
	padding-top: 20px;
}

.alignCenter {
	text-align: center;
}

.alignLeft {
	text-align: left;
}

.alignBottom {
	position: absolute;
	bottom: 0;
	left: 0;
}

.fitDiv {
	height: 100%;
	width: 100%;
}

.logoHeight {
	max-height: 100px;
	width: auto;
	height: auto;
}

.paddingLeftPanel {
	padding-left: 15px;
}

.searchItemTitle {
	height: 20px;
}

.searchItemMinSize
{
	min-width : 300px;
}

.paddingTop {
	padding-top: 5px;
}

.paddingTopMore {
	padding-top: 15px;
}


div .dragDrop {
	background-color: #d0dee5;
}

.dragOver {
	color: #fff;
	background-color: #d0dee5;
	border: 2px dashed #ccc;
}

.dateFormat {
	width: 100px;
}

.numberWidth {
	 width:100px;
}

.selectedElement
{

}
.selectedElement:hover
{
	background-color:#d0dee5;
	 opacity: 0.8;
}

.logoPosition
{
	float: right;
}

.mediumImage {
	width: 32px;
	height: 32px;
}

.smallestImage {
	width: 20px;
	height: 20px;
}

/*DEVE ESSERE L'ULTIMO*/
.smallImage {
	width: 24px;
	height: 24px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
	position: relative;
	min-height: 1px;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.panel-body
{
	padding: 5px;
}

.panel-title
{
	font-size: 14px;
	font-weight: bold;
}

h4, .h4, h5, .h5, h6, .h6
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.container-fluid {
	padding-left: 0px;
}

.navbar-collapse {
	padding-left: 0px;
}

.navbar-form {
  margin-top: 2px;
  padding-left: 10px;
}

.navbar-nav > li > a {
  padding-top: 10px;
}

.navbar-form .form-control
{
	display: inline-block;
	width: 400px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555;
	border: 5px solid #ddd;
}

.navbar
{
	position: relative;
	min-height: 50px;
	margin-bottom: 10px;
	border: 1px solid transparent;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	border: 1px solid White;
}

.navbar-default {
	background-color: White;
	border-width:0px;
}

.dropdown-menu li 
{
	padding-left:5px;	
}

.panel-heading
{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
}

.panel-default > .panel-heading
{
	background-color: White;
}

.panel {
	/*background-color: #EDF4FD;*/
}

.panel-default {
	border-width:0px;
	border-color:White;
}

.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0px;
}

.group
{
	border: 1px solid white;
	margin-right: 10px;
	margin-left: 10px;
}

.bottomBorder {

	border-bottom-color:rgb(221, 230, 240);
}

.tooltip-inner 
{
	white-space:normal;
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    
}

.modal-footer {
    border-top: 0px;
}

