.Document {
	content: url(../Images/Document.png);
}

.Report {
	content: url(../Images/Report.png);
}

.Batch {
	content: url(../Images/Batch.png);
}

.Function {
	content: url(../Images/Function.png);
}

.Wizard {
	content: url(../Images/Wizard.png);
}

.OfficeItem {
	content: url(../Images/OfficeItem.png);
}

.Unknown {
	content: url(../Images/Unknown.png);
}

.pinnedImage {
	content: url(../Images/PinnedMenu.png);
}

.unpinnedImage {
	content: url(../Images/unpin.png);
}

.back {
	content: url(../Images/Back.png);
}

.loading {
	content: url(../Images/loading32.gif);
}

.favoriteFooter {
	content: url(../Images/EmptyStar.png);
}

.favorite {
	content: url(../Images/FilledStar.png);
}

.easyStudio {
	content: url(../Images/EasyStudio.png);
}

.unFavorite {
	content: url(../Images/EmptyStar.png);
}

.justAdded {
	content: url(../Images/JustAdded.png);
}

.worker {
	content: url(../Images/Worker.png);
}

.workerImage {
	width: 60px;
	height: 60px;
	float: right;
}

.environment {
	content: url(../Images/Environment.png);
}

.fullMenu {
	content: url(../Images/FullMenu.png);
}

.pinnedMenu {
	content: url(../Images/PinnedMenu.png);
}

.startMenu {
	content: url(../Images/StartMenu.png);
}

.userOptions {
	content: url(../Images/Squares.png);
}

.collapseAll {
	content: url(../Images/CollapseAll.png);
}

.expandAll {
	content: url(../Images/ExpandAll.png);
}

.releaseInfo {
	content: url(../Images/ReleaseInfo.png);
}

.notify {
	content: url(../Images/Notify.png);
}

.productInfo {
	content: url(../Images/ProductInfo.png);
}

.Wizard {
	content: url(../Images/Wizard.png);
}

.AppTemplateWord {
	content: url(../Images/AppTemplateWord.png);
}

.AppTemplateExcel {
	content: url(../Images/AppTemplateExcel.png);
}

.mostUsed {
	content: url(../Images/MostUsed.png);
}

.showItem {
	content: url(../Images/Show.png);
}

.hideItem {
	content: url(../Images/Hide.png);
}

.openDocumentsImage {
	content: url(../Images/OpenDocuments.png);
}

.userFace {
	content: url(../Images/User.png);
}

.calendar{
	content: url(../Images/Calendar.png);
}

.tbf {
	content: url(../Images/tbf.png);
}

.help {
	content: url(../Images/Help.png);
}

.loginStyleChecked:checked + label {
	background: url(../Images/Checked16.png) left center no-repeat;
}
.loginStyleChecked + label {
	background: url(../Images/Unchecked16.png) left center no-repeat;
}
.loginStyleSettings {
	content: url(../Images/Settings.png);
}
.loginStyleSettings:hover {
	content: url(../Images/SettingsFilled.png);
}
.loginStyleLogin:hover  {
	content: url(../Images/LoginBlueDarker.png);
}
.loginStyleLogin {
	content: url(../Images/Login.png);
}
.loginStyleLoginDisabled {
	content: url(../Images/LoginGray.png);
}
 .loginStyleLoginWaiting {
	content: url(../Images/Load.gif);
}
.loginStyleDropdownButton {
	content: url(../Images/Down.png);
}
.loginStyleOff {
	content: url(../Images/escape.png);
}
.loginStyleChangeLogin {
	content: url(../Images/ChangeUser32.png);
}
.loginStyleChangePassword{
	content: url(../Images/ChangePsw32.png);
}
.loginStyleClearCache {
	content: url(../Images/Refresh.png);
}
.loginStyleActivateViaInternet {
	content: url(../Images/ActivateViaInternet.png);
}
.loginStyleActivateViaSMS{
	content: url(../Images/ActivateViaSMS.png);
}
.loginStyleNewLogin {
	content: url(../Images/NewLogin32.png);
}
.loginStyleViewOldMessages {
	content: url(../Images/Mail.png);
}
.loginStyleUserName {
	content: url(../Images/username.png);
}
.loginStyleUserNameDisabled {
	content: url(../Images/username.png);
}
.loginStyleUserName:hover {
	content: url(../Images/UserNameFilled.png);
}
.loginStylePassword {
	content: url(../Images/Password.png);
}
.loginStyleChooseCompany {
	content: url(../Images/ChooseCompany.png);
}
.loginStyleChooseCompany:hover {
	content: url(../Images/ChooseCompanyFilled.png);
}
.loginStyleCompany {
	content: url(../Images/Right.png);
}

.activateViaSmsImg {
	content: url(../Images/ActivateViaSms32.png);
}

.activateViaInternetImg {
	content: url(../Images/ActivateViaInternet32.png);
}

.refreshImg {
	content: url(../Images/Refresh32.png);
}

.domainImg {
	content: url(../Images/Domain32.png);
}

.infoImg {
	content: url(../Images/Info32.png);
}

.mailImg {
	content: url(../Images/Mail32.png);
}

.databaseConnectionImg {
	content: url(../Images/DatabaseConnection.png);
}
