 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="erp-notafiscal" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Main Data')" tbTileWide  isCollapsible="False" hasTitle="True">
<div class="col col1">         <tb-text [caption]="_TB('Code')" cmpId="IDC_BR_TAXRULES_TAX_RULE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.TaxRuleCode"></tb-text>
         <tb-text [caption]="_TB('Description')" cmpId="IDC_BR_TAXRULES_DESCRIPTION" width="154" [model]="eventData?.model?.DBTBRTaxRules?.Description"></tb-text>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Priority')" cmpId="IDC_BR_TAXRULES_PRIORITY" width="22" [model]="eventData?.model?.DBTBRTaxRules?.Priority"></tb-numeric-text-box>
</div><div class="col col2">         <tb-section-title cmpId="IDC_STATIC_TAXRULES_VALIDITY" width="327" [caption]="_TB('Validity dates')"></tb-section-title>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('From')" cmpId="IDC_BR_TAXRULES_VALID_FROM_DATE" width="57" [model]="eventData?.model?.DBTBRTaxRules?.ValidityStartingDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('To')" cmpId="IDC_BR_TAXRULES_VALID_TO_DATE" width="57" [model]="eventData?.model?.DBTBRTaxRules?.ValidityEndingDate"></tb-date-input>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Nota Fiscal Data')" tbTileWide  isCollapsible="False" hasTitle="True">
<div class="col col1">         <tb-checkbox cmpId="IDC_BR_TAXRULES_ALL_ITEMS" width="109" [model]="eventData?.model?.DBTBRTaxRules?.AllItems" [caption]="_TB('All Items  ')"></tb-checkbox>
         <tb-text [caption]="_TB('Item')" cmpId="IDC_BR_TAXRULES_ITEM" width="122" [model]="eventData?.model?.DBTBRTaxRules?.Item"></tb-text>
         <tb-label-static cmpId="IDC_BR_TAXRULES_ITEM_DESCRI" width="150" [model]="eventData?.model?.HKLItems?.Description"></tb-label-static>
<div class="anchored">         <tb-text [caption]="_TB('NCM')" cmpId="IDC_BR_TAXRULES_NCM" width="61" [model]="eventData?.model?.DBTBRTaxRules?.NCM"></tb-text>
         <tb-label-static cmpId="IDC_BR_TAXRULES_NCM_DESCRI" width="155" [model]="eventData?.model?.HKLBRNCM?.Description"></tb-label-static>
</div><div class="anchored">         <tb-text [caption]="_TB('Category')" cmpId="IDC_BR_TAXRULES_ITEM_FISCALCTG" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ItemFiscalCtg"></tb-text>
         <tb-label-static cmpId="IDC_BR_TAXRULES_ITEM_FISCALCTG_DESCRI" width="155" [model]="eventData?.model?.HKLItemFiscalCtg?.Description"></tb-label-static>
</div><div class="anchored">         <tb-combo [caption]="_TB('Operation Type')" cmpId="IDC_BR_TAXRULES_OPERATION_TYPE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.OperationType" [itemSource]="IDC_BR_TAXRULES_OPERATION_TYPE_itemSource"></tb-combo>
         <tb-label-static cmpId="IDC_BR_TAXRULES_DESCRI_OPERATION_TYPE" width="155" [model]="eventData?.model?.DBTBRTaxRules?.OperationTypeDescri"></tb-label-static>
</div><div class="anchored">         <tb-combo [caption]="_TB('Nota Fiscal Type')" cmpId="IDC_BR_TAXRULES_NFTYPE" width="62" [model]="eventData?.model?.DBTBRTaxRules?.NotaFiscalCode"></tb-combo>
         <tb-label-static cmpId="IDC_BR_TAXRULES_NFTYPE_DESCRI" width="155" [model]="eventData?.model?.HKLBRNotaFiscalType?.Description"></tb-label-static>
</div></div><div class="col col2">         <tb-checkbox cmpId="IDC_BR_TAXRULES_DISTRIBUTE_CHARGES" width="109" [model]="eventData?.model?.DBTBRTaxRules?.DistributeCharges" [caption]="_TB('Distributed Charges  ')"></tb-checkbox>
<div class="anchored">         <tb-text [caption]="_TB('CFOP')" cmpId="IDC_BR_TAXRULES_CFOP" width="61" [model]="eventData?.model?.DBTBRTaxRules?.CFOP"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_CFOP_DESCRI" width="154" [model]="eventData?.model?.HKLBRCFOP?.Description"></tb-text>
</div><div class="anchored">         <tb-combo [caption]="_TB('Movement Type')" cmpId="IDC_BR_TAXRULES_MOV_TYPE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.MovementType" [itemSource]="IDC_BR_TAXRULES_MOV_TYPE_itemSource"></tb-combo>
         <tb-label-static cmpId="IDC_BR_TAXRULES_MOV_TYPE_DESCRI" width="154" [model]="eventData?.model?.DBTBRTaxRules?.MoveTypeDescri"></tb-label-static>
</div>         <tb-numeric-text-box formatter="Integer" [caption]="_TB('EX TIPI')" cmpId="IDC_BR_TAXRULES_EX_TIPI" width="61" [model]="eventData?.model?.DBTBRTaxRules?.EXTIPI"></tb-numeric-text-box>
<div class="anchored">         <tb-text [caption]="_TB('Federal State')" cmpId="IDC_BR_TAXRULES_FEDERAL_STATE" width="198" [model]="eventData?.model?.DBTBRTaxRules?.FederalState"></tb-text>
         <tb-combo cmpId="IDC_BR_TAXRULES_FEDERAL_STATE_COMBO" width="16"></tb-combo>
</div><div class="anchored">         <tb-combo [caption]="_TB('Goods Origin')" cmpId="IDC_BR_TAXRULES_GOODS_ORIGIN" width="61" [model]="eventData?.model?.DBTBRTaxRules?.GoodsOrigin" [itemSource]="IDC_BR_TAXRULES_GOODS_ORIGIN_itemSource"></tb-combo>
         <tb-text cmpId="IDC_BR_TAXRULES_DESCRI_GOODS_ORIGIN" width="154" [model]="eventData?.model?.DBTBRTaxRules?.GoodsOriginDescri"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Cust/Supp Fiscal Category ')" cmpId="IDC_BR_TAXRULES_CUST_SUPP_FISCALCTG" width="61" [model]="eventData?.model?.DBTBRTaxRules?.CustSuppFiscalCtg"></tb-text>
         <tb-label-static cmpId="IDC_BR_TAXRULES_CUST_SUPP_FISCALCTG_DESCRI" width="154" [model]="eventData?.model?.HKLCustSuppFiscalCtg?.Description"></tb-label-static>
</div></div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Taxes')" icon="erp-documentmoney" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('ICMS')" tbTileWide  isCollapsible="True" hasTitle="True">
<div class="col col1"><div class="anchored">         <tb-text [caption]="_TB('ICMS Code')" cmpId="IDC_BR_TAXRULES_ICMS_TAX_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSTaxCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_TAX_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxCodeICMS?.Description"></tb-text>
</div>         <tb-section-title cmpId="IDC_STATIC_TAXRULES_ICMS" width="327" [caption]="_TB('ICMS')"></tb-section-title>
<div class="anchored">         <tb-text [caption]="_TB('Rate Code')" cmpId="IDC_BR_TAXRULES_ICMS_TAX_RATE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_TAX_RATE_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMS?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Reduction Rate Code')" cmpId="IDC_BR_TAXRULES_ICMS_REDUC_TAX_RATE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSSTReducTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_REDUC_TAX_RATE_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMSREDUC?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Formula Code')" cmpId="IDC_BR_TAXRULES_ICMS_TAX_FORMULA_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSTaxFormulaCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_TAX_FORMULA_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxFormulaICMS?.Description"></tb-text>
</div><div class="anchored">         <tb-combo [caption]="_TB('Calculation Mode')" cmpId="IDC_BR_TAXRULES_ICMS_MOD" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMS_Mod" [itemSource]="IDC_BR_TAXRULES_ICMS_MOD_itemSource"></tb-combo>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_MOD_DESCRI" width="154" [model]="eventData?.model?.DBTBRTaxRules?.ICMS_ModDescri"></tb-text>
</div></div><div class="col col2"><div class="anchored">         <tb-combo [caption]="_TB('Exemption Reason')" cmpId="IDC_BR_TAXRULES_ICMS_NO_TAX_REASON" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMS_NoTaxReason" [itemSource]="IDC_BR_TAXRULES_ICMS_NO_TAX_REASON_itemSource"></tb-combo>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_NO_TAX_REASON_DESCRI" width="154" [model]="eventData?.model?.DBTBRTaxRules?.ICMS_NoTaxReasonDescri"></tb-text>
</div>         <tb-section-title cmpId="IDC_STATIC_TAXRULES_ICMS_DEFERRED" width="327" [caption]="_TB('ICMS Deferred')"></tb-section-title>
<div class="anchored">         <tb-text [caption]="_TB('Rate Code')" cmpId="IDC_BR_TAXRULES_ICMS_DEF_TAX_RATE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSDefTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_DEF_TAX_RATE_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMSDef?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Formula Code')" cmpId="IDC_BR_TAXRULES_ICMS_DEF_TAX_FORMULA_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSDefTaxFormulaCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_DEF_TAX_FORMULA_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxFormulaICMSDef?.Description"></tb-text>
</div>         <tb-section-title cmpId="IDC_STATIC_TAXRULES_ICMS_EXEMPTED" width="327" [caption]="_TB('ICMS Exempted')"></tb-section-title>
<div class="anchored">         <tb-text [caption]="_TB('Rate Code')" cmpId="IDC_BR_TAXRULES_ICMS_EX_TAX_RATE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSExTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_EX_TAX_RATE_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMSEx?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Formula Code')" cmpId="IDC_BR_TAXRULES_ICMS_EX_TAX_FORMULA_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSExTaxFormulaCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_EX_TAX_FORMULA_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxFormulaICMSEx?.Description"></tb-text>
</div></div>        </tb-tile>
        <tb-tile [title]="_TB('ICMS ST')" tbTileWide  isCollapsible="True" hasTitle="True">
<div class="col col1">         <tb-checkbox cmpId="IDC_BR_TAXRULES_ICMSST_EXCLUDE_ICMSST" width="109" [model]="eventData?.model?.DBTBRTaxRules?.ExcludeICMSST" [caption]="_TB('Exclude ICMS ST')"></tb-checkbox>
<div class="anchored">         <tb-text [caption]="_TB('Rate Code')" cmpId="IDC_BR_TAXRULES_ICMS_ST_TAX_RATE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSSTTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_ST_TAX_RATE_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMSST?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Reduction  Rate Code')" cmpId="IDC_BR_TAXRULES_ICMS_ST_REDUC_TAX_RATE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSSTReducTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_ST_REDUC_TAX_RATE_CODE_DESCRI" width="155" [model]="eventData?.model?.HKLBRTaxRateICMSSTREDUC?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Rate Code for ICMS ST to be compensated')" cmpId="IDC_BR_TAXRULES_ICMSST_TO_BE_COMP_TAX_RATE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSSTToBeCompTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMSST_TO_BE_COMP_TAX_RATE_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMSSTTOBECOMP?.Description"></tb-text>
</div></div><div class="col col2"><div class="anchored">         <tb-text [caption]="_TB('Formula Code')" cmpId="IDC_BR_TAXRULES_ICMS_ST_TAX_FORMULA_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSSTTaxFormulaCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMS_ST_TAX_FORMULA_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxFormulaICMSST?.Description"></tb-text>
</div><div class="anchored">         <tb-combo [caption]="_TB('Mod')" cmpId="IDC_BR_TAXRULES_ICMSST_MOD" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSST_Mod" [itemSource]="IDC_BR_TAXRULES_ICMSST_MOD_itemSource"></tb-combo>
         <tb-text cmpId="IDC_BR_TAXRULES_ICMSST_MOD_DESCRI" width="154" [model]="eventData?.model?.DBTBRTaxRules?.ICMSST_ModDescri"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('MVA Rate Code')" cmpId="IDC_BR_TAXRULES_MVA_TAX_RATE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.MVATaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_MVA_TAX_RATE_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateMVA?.Description"></tb-text>
</div></div>        </tb-tile>
        <tb-tile [title]="_TB('Interstate ICMS')" tbTileWide  isCollapsible="True" isCollapsed="True" hasTitle="True">
<div class="col col1">         <tb-section-title cmpId="IDC_STATIC_TAXRULES_INTER_ICMS_STATE_DEST" width="327" [caption]="_TB('State of Destination')"></tb-section-title>
<div class="anchored">         <tb-text [caption]="_TB('Rate Code')" cmpId="IDC_BR_TAXRULES_INTER_ICMS_DEST_TAX_R_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSDestTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_INTER_ICMS_DEST_TAX_R_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMSDest?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Formula Code')" cmpId="IDC_BR_TAXRULES_INTER_ICMS_DEST_TAX_F_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSDestTaxFormulaCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_INTER_ICMS_DEST_TAX_F_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxFormulaICMSDest?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Rate Code for Temporary
Percentage')" cmpId="IDC_BR_TAXRULES_INTER_ICMS_DEST_TEMP_TAX_R_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSDestTempRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_INTER_ICMS_DEST_TEMP_TAX_R_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMSDestTemp?.Description"></tb-text>
</div>         <tb-section-title cmpId="IDC_STATIC_TAXRULES_INTER_ICMS_STATE_ORIG" width="327" [caption]="_TB('State of Origin')"></tb-section-title>
<div class="anchored">         <tb-text [caption]="_TB('Formula Code')" cmpId="IDC_BR_TAXRULES_INTER_ICMS_ORIG_TAX_F_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSOrigTaxFormulaCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_INTER_ICMS_ORIG_TAX_F_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxFormulaICMSOrig?.Description"></tb-text>
</div></div><div class="col col2">         <tb-section-title cmpId="IDC_STATIC_TAXRULES_INTER_ICMS_STATE_FCP" width="327" [caption]="_TB('Fund to fight Poverty (FCP)')"></tb-section-title>
<div class="anchored">         <tb-text [caption]="_TB('Rate Code')" cmpId="IDC_BR_TAXRULES_INTER_ICMS_FCP_TAX_R_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSFCPTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_INTER_ICMS_FCP_TAX_R_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMS_FCP?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('Formula Code')" cmpId="IDC_BR_TAXRULES_INTER_ICMS_FCP_TAX_F_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSFCPTaxFormulaCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_INTER_ICMS_FCP_TAX_F_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxFormulaICMS_FCP?.Description"></tb-text>
</div>         <tb-section-title cmpId="IDC_STATIC_TAXRULES_INTER_ICMS_INTERSTATE" width="327" [caption]="_TB('Interstate')"></tb-section-title>
<div class="anchored">         <tb-text [caption]="_TB('Rate Code')" cmpId="IDC_BR_TAXRULES_INTER_ICMS_INTER_TAX_R_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.ICMSInterTaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_INTER_ICMS_INTER_TAX_R_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateICMSInter?.Description"></tb-text>
</div></div>        </tb-tile>
        <tb-tile [title]="_TB('II')" tbTileWide  isCollapsible="True" isCollapsed="True" hasTitle="True">
<div class="col col1"><div class="anchored">         <tb-text [caption]="_TB('Rate Code')" cmpId="IDC_BR_TAXRULES_II_TAX_RATE_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.IITaxRateCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_II_TAX_RATE_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxRateII?.Description"></tb-text>
</div></div><div class="col col2"><div class="anchored">         <tb-text [caption]="_TB('Formula Code')" cmpId="IDC_BR_TAXRULES_II_TAX_FORMULA_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.IITaxFormulaCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_II_TAX_FORMULA_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxFormulaII?.Description"></tb-text>
</div></div>        </tb-tile>
        <tb-tile [title]="_TB('Other Taxes')" tbTileWide  isCollapsible="True" isCollapsed="True" hasTitle="True">
<div class="col col1"><div class="anchored">         <tb-text [caption]="_TB('PIS Rule Code')" cmpId="IDC_BR_TAXRULES_PIS_CALC_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.PISCalcCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_PIS_CALC_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxCalcPIS?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('COFINS Rule Code')" cmpId="IDC_BR_TAXRULES_COFINS_CALC_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.COFINSCalcCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_COFINS_CALC_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxCalcCOFINS?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('IPI Rule Code')" cmpId="IDC_BR_TAXRULES_IPI_CALC_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.IPICalcCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_IPI_CALC_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxCalcIPI?.Description"></tb-text>
</div></div><div class="col col2"><div class="anchored">         <tb-text [caption]="_TB('SUFRAMA Rule Code')" cmpId="IDC_BR_TAXRULES_SUFRAMA_CALC_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.SUFRAMACalcCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_SUFRAMA_CALC_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxCalcSUFRAMA?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('SIMPLES Rule Code')" cmpId="IDC_BR_TAXRULES_SIMPLES_CALC_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.SIMPLESCalcCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_SIMPLES_CALC_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRTaxCalcSIMPLES?.Description"></tb-text>
</div><div class="anchored">         <tb-text [caption]="_TB('IPI Legal Framework Code')" cmpId="IDC_BR_TAXRULES_IPI_LEGAL_CODE" width="61" [model]="eventData?.model?.DBTBRTaxRules?.IPILegalCode"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_IPI_LEGAL_CODE_DESCRI" width="154" [model]="eventData?.model?.HKLBRIPILegalCode?.Description"></tb-text>
</div></div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Other Data')" icon="erp-documenttextadd" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Messages')" tbTileWide  isCollapsible="False" hasTitle="True">
<div class="col col1"><div class="anchored">         <tb-text [caption]="_TB('Message Code 1')" cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE1" width="61" [model]="eventData?.model?.DBTBRTaxRules?.TaxMessageCode1"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE1_DESCRI_1" width="154" [model]="eventData?.model?.HKLBRTaxMessagesCode1?.Description1"></tb-text>
</div>         <tb-text cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE1_DESCRI_2" width="154" [model]="eventData?.model?.HKLBRTaxMessagesCode1?.Description2"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE1_DESCRI_3" width="154" [model]="eventData?.model?.HKLBRTaxMessagesCode1?.Description3"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE1_DESCRI_LONG" width="154" [model]="eventData?.model?.HKLBRTaxMessagesCode1?.LongDescription"></tb-text>
</div><div class="col col2"><div class="anchored">         <tb-text [caption]="_TB('Message Code 2')" cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE2" width="61" [model]="eventData?.model?.DBTBRTaxRules?.TaxMessageCode2"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE2_DESCRI_1" width="154" [model]="eventData?.model?.HKLBRTaxMessagesCode2?.Description1"></tb-text>
</div>         <tb-text cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE2_DESCRI_2" width="154" [model]="eventData?.model?.HKLBRTaxMessagesCode2?.Description2"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE2_DESCRI_3" width="154" [model]="eventData?.model?.HKLBRTaxMessagesCode2?.Description3"></tb-text>
         <tb-text cmpId="IDC_BR_TAXRULES_TAX_MESSAGE_CODE2_DESCRI_LONG" width="154" [model]="eventData?.model?.HKLBRTaxMessagesCode2?.LongDescription"></tb-text>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_LINK_TAX_RULE_COPY?.enabled" icon="tb-copy" [caption]="_TB('Copy')" cmpId="ID_LINK_TAX_RULE_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_BRTAXDATA?.enabled" icon="erp-calculator" [caption]="_TB('Taxes Data')" cmpId="ID_BRTAXDATA"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
