<tb-card class="tb-card widget" [isCollapsed]="false">
    <tb-card-header *ngIf="widget.layout.style !== 'stats'" class="tb-card-header widget-header">
        <tb-card-title class="widget-title" [title]="widget.title" [icon]="more_vert"></tb-card-title>
        <tb-card-subtitle *ngIf="widget.subtitle" class="tb-card-subtitle widget-subtitle" [subTitle]="widget.title"></tb-card-subtitle>
        <span class="widget-spacer"></span>
        <md-icon *ngIf="widget.link" class="widget-icon" (click)="executeLink()">link</md-icon>
    </tb-card-header>
    <tb-card-content class="widget-content tb-card-content">
        <div #cardContent class="widget-content">
            <md-spinner *ngIf="isLoading" class="widget-spinner"></md-spinner>
            <div class="widget-content-area" *ngIf="!isLoading">
                <tb-widget-stats *ngIf="widget.layout.style === 'stats'" [widget]="widget"></tb-widget-stats>
                <tb-widget-grid *ngIf="widget.layout.style === 'grid'" [widget]="widget"></tb-widget-grid>
                <tb-widget-chart *ngIf="widget.layout.style === 'chart'" [widget]="widget"></tb-widget-chart>
            </div>
        </div>
    </tb-card-content>
    <tb-card-footer class="widget-footer">
        <hr class="widget-hr" />
        <div class="widget-footer-elements">
            <md-icon class="widget-icon" (click)="onRefreshClicked()">refresh</md-icon>
            <span class="widget-timestamp">{{widget.data?.lastExecuted}}</span>
            <span class="widget-spacer"></span>
            <md-icon class="widget-icon">settings</md-icon>
        </div>
    </tb-card-footer>
</tb-card>