 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Materials by subcontractor')" tbTileMini >
         <tb-radio cmpId="IDC_DOC_SUBCONTRACTING_COMP_MO" width="156" [model]="eventData?.model?.bMOOnly" [caption]="_TB('Only materials relative to selected MO')"></tb-radio>
         <tb-radio cmpId="IDC_DOC_SUBCONTRACTING_COMP_ALL" width="140" [model]="eventData?.model?.bAll" [caption]="_TB('All')"></tb-radio>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('Actions')" isCollapsible="False" isCollapsed="False" showAsTile="False">
        <tb-tile [title]="_TB('Action')" tbTileWide  hasTitle="False">
<div class="col col1">         <tb-radio cmpId="IDC_DOC_SUBCONTRACTING_LOAD_RETURN" width="647" [model]="eventData?.model?.bReturnedMaterialReceipt" [caption]="_TB('If MO is confirmed and material is left over, force confirmation to reissue difference in subcontractor storage')"></tb-radio>
</div><div class="col col2"></div>        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Results')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="138" [model]="eventData?.model?.SubcntBoLMOComponentsList">
         <tb-body-edit-column cmpId="IDC_DOC_SUBCONTRACTING_COMP_SELECTION" columnName="Selection" [title]="_TB('Sel')" columnType="tb-radio" columnName="IDC_DOC_SUBCONTRACTING_COMP_SELECTION">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_DOC_SUBCONTRACTING_COMP_COMPONENT" columnName="Component" [title]="_TB('Item')" columnType="tb-label-static" columnName="IDC_DOC_SUBCONTRACTING_COMP_COMPONENT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_DOC_SUBCONTRACTING_COMP_DES_COMPO" columnName="ComponentsDes" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_DOC_SUBCONTRACTING_COMP_DES_COMPO">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_DOC_SUBCONTRACTING_COMP_UOM" columnName="UoM" [title]="_TB('UoM')" columnType="tb-label-static" columnName="IDC_DOC_SUBCONTRACTING_COMP_UOM">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DOC_SUBCONTRACTING_COMP_QTY" columnName="CompQty" [title]="_TB('Quantity by
subcontractor')" columnType="tb-numeric-text-box" columnName="IDC_DOC_SUBCONTRACTING_COMP_QTY">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" cmpId="IDC_DOC_SUBCONTRACTING_COMP_QTY_PREPRINTDOCNO" columnName="CompBoLQty" [title]="_TB('Quantity
returned')" columnType="tb-numeric-text-box" columnName="IDC_DOC_SUBCONTRACTING_COMP_QTY_PREPRINTDOCNO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DOC_SUBCONTRACTING_COMP_QTY_N" columnName="NeededQty" [title]="_TB('MO required
quantity')" columnType="tb-numeric-text-box" columnName="IDC_DOC_SUBCONTRACTING_COMP_QTY_N">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_DOC_SUBCONTRACTING_COMP_QTY_P" columnName="PickedQuantity" [title]="_TB('MO picked
quantity')" columnType="tb-numeric-text-box" columnName="IDC_DOC_SUBCONTRACTING_COMP_QTY_P">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_DOC_SUBCONTRACTING_COMP_CONFIRM_QUANTITY?.enabled" icon="erp-quantities" [caption]="_TB('Accept quantities on sel lines')" cmpId="ID_DOC_SUBCONTRACTING_COMP_CONFIRM_QUANTITY"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
