 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileStandard >
        <tb-label-static [caption]="_TB('Customer')" cmpId="IDC_LOAD_CUSTITEMS_CUSTOMER" width="90" [model]="eventData?.model?.CustItemsLoading?.CustSupp"></tb-label-static>
        <tb-label-static [caption]="_TB('Description')" cmpId="IDC_LOAD_CUSTITEMS_DECOD_CUSTOMER" width="195" [model]="eventData?.model?.CustItemsLoading?.CompanyName"></tb-label-static>
       </tb-tile>
       <tb-tile tbTileAutoFill >
        <tb-body-edit cmpId="IDC_LOAD_CUSTITEMS_BODYEDIT_DETAIL" width="325" [model]="eventData?.model?.CustContrLinesLoading">
         <tb-body-edit-column cmpId="IDC_LOAD_CUSTITEMS_LINES_BE_SELECTED" columnName="Selected" [title]="_TB('Selected')" columnType="tb-checkbox" columnName="IDC_LOAD_CUSTITEMS_LINES_BE_SELECTED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_CUSTITEMS_LINES_BE_ITEM_TYPE" columnName="ArtType" [title]="_TB('Line Type')" columnType="tb-enum-combo" columnName="IDC_LOAD_CUSTITEMS_LINES_BE_ITEM_TYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_LOAD_CUSTITEMS_LINES_BE_ITEM" columnName="Item" [title]="_TB('Item')" columnType="tb-text" columnName="IDC_LOAD_CUSTITEMS_LINES_BE_ITEM">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CUSTCONTR_CUSTCONTRLINES_ITEM_DESCRIPTION" columnName="ArtDescri" [title]="_TB('Item
Description')" columnType="tb-label-static" columnName="IDC_CUSTCONTR_CUSTCONTRLINES_ITEM_DESCRIPTION">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FINDER_STAYALIVE?.enabled" icon="framework.tbframeworkimages.images.25x25.pin.png" [caption]="_TB('Pin')" cmpId="ID_FINDER_STAYALIVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
