 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" showAsTile="True">
        <tb-tile [title]="_TB('Period')" tbTileMini >
         <tb-combo [caption]="_TB('Fiscal Year')" cmpId="IDC_ARCHIVE_FISCALYEAR" width="56" [model]="eventData?.model?.FiscalYear"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Regime')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETSJOURNAL_FILTER_REGIME">
         <tb-radio cmpId="IDC_ARCHIVED_JOURNAL_FISCAL" width="108" [model]="eventData?.model?.FiscalRegime" [caption]="_TB('Fiscal')"></tb-radio>
         <tb-radio cmpId="IDC_ARCHIVED_JOURNAL_BALANCE" width="108" [model]="eventData?.model?.BalanceRegime" [caption]="_TB('Balance')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Type')" tbTileMini >
         <tb-radio cmpId="IDC_ARCHIVED_JOURNAL_TYPEDETAIL" width="88" [model]="eventData?.model?.AssetsJournal" [caption]="_TB('Detailed')"></tb-radio>
         <tb-radio cmpId="IDC_ARCHIVED_JOURNAL_TYPEDETAILHISTORY" width="88" [model]="eventData?.model?.DetailedHistory" [caption]="_TB('Detailed History')"></tb-radio>
         <tb-radio cmpId="IDC_ARCHIVED_JOURNAL_TYPEGROUPED" width="88" [model]="eventData?.model?.Grouped" [caption]="_TB('Grouped')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_ARCHIVED_JOURNAL_TYPEHISTORYFROM" width="80" [model]="eventData?.model?.HistoryFrom" [caption]="_TB('History From')"></tb-radio>
         <tb-combo cmpId="IDC_ARCHIVED_JOURNAL_TYPEHISTORYCOMBO" width="58" [model]="eventData?.model?.HistoryYear"></tb-combo>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Categories')" tbTileMini >
         <tb-radio cmpId="IDC_ARCHIVED_ALL_CATEGORIES" width="40" [model]="eventData?.model?.AllCategories" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_ARCHIVED_SEL_CATEGORIES" width="40" [model]="eventData?.model?.SelCategories" [caption]="_TB('From')"></tb-radio>
         <tb-combo cmpId="IDC_ARCHIVE_FROMCTG" width="90" [model]="eventData?.model?.FromCategories"></tb-combo>
</div>         <tb-combo [caption]="_TB('To')" cmpId="IDC_ARCHIVE_TOCTG" width="90" [model]="eventData?.model?.ToCategories"></tb-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Purchase Years')" tbTileMini >
         <tb-radio cmpId="IDC_ARCHIVED_ALL_YEARS" width="40" [model]="eventData?.model?.AllPurchaseYears" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_ARCHIVED_SEL_YEARS" width="40" [model]="eventData?.model?.SelPurchaseYears" [caption]="_TB('From')"></tb-radio>
         <tb-combo cmpId="IDC_ARCHIVE_FROM_YEAR" width="62" [model]="eventData?.model?.FromPurchaseYear"></tb-combo>
</div>         <tb-combo [caption]="_TB('To')" cmpId="IDC_ARCHIVE_TO_YEAR" width="62" [model]="eventData?.model?.ToPurchaseYear"></tb-combo>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" showAsTile="True">
        <tb-tile [title]="_TB('Order by')" tbTileMini >
         <tb-radio cmpId="IDC_ARCHIVED_ORDERBY_YEAR" width="112" [model]="eventData?.model?.OrderByPurchaseYear" [caption]="_TB('Purchase Year')"></tb-radio>
         <tb-radio cmpId="IDC_ARCHIVED_ORDERBY_CATEGORY" width="112" [model]="eventData?.model?.OrderByCategory" [caption]="_TB('Category')"></tb-radio>
        </tb-tile>
        <tb-tile [title]="_TB('Print Data')" tbTileMini >
         <tb-checkbox cmpId="IDC_ARCHIVE_COUMPOUND" width="148" [model]="eventData?.model?.Compound" [caption]="_TB('Compound Totally Depreciated
Assets Without Variations')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_ARCHIVE_ONEPAGEFORCATEGORY" width="148" [model]="eventData?.model?.OnePageForCategory" [caption]="_TB('One Page for Category')"></tb-checkbox>
         <tb-checkbox cmpId="IDC_ARCHIVE_PRINTPREVQUOTA" width="148" [model]="eventData?.model?.PrintPreviousQuota" [caption]="_TB('Print Previous Depreciation Detail')"></tb-checkbox>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_ARCHIVE_PRINT_ARCHIVE" cmpId="IDC_ARCHIVE_PRINT_ARCHIVE" width="148" [model]="eventData?.model?.Print" [caption]="_TB('Printed and prepare document for SOS')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Endorsement')" tbTileMini  *ngIf="eventData?.activation?.IDD_TD_FIXEDASSETSJOURNAL_ACTION_ENDORSEMENT">
         <tb-checkbox cmpId="IDC_ARCHIVE_USE_CONTEX" width="150" [model]="eventData?.model?.ContextualHeading" [caption]="_TB('Use Contextual Endorsement')"></tb-checkbox>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Page No. Prefix (Year)')" cmpId="IDC_ARCHIVE_NOPREFIX" width="55" [model]="eventData?.model?.NoPrefix"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Long" [caption]="_TB('Starting Page No.')" cmpId="IDC_ARCHIVE_PAGE" width="55" [model]="eventData?.model?.StartingPage"></tb-numeric-text-box>
        </tb-tile>
       </tb-tilepanel>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FIXEDASSETSJOURNAL_REPORT?.enabled" icon="tb-report" [caption]="_TB('View')" cmpId="ID_FIXEDASSETSJOURNAL_REPORT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
