 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile tbTileMini  hasTitle="False">
        <tb-section-title cmpId="IDC_EI_DOC_ELABORATION_STATUS_STATIC" width="161" [caption]="_TB('....')"></tb-section-title>
        <tb-section-title cmpId="IDC_EI_DOC_ELABORATION_STATUS_PROGRESS" width="96" [caption]="_TB('0%')"></tb-section-title>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
 </tb-frame>
