<kendo-chart #chart [categoryAxis]="categoryAxis" [seriesDefaults]="seriesDefaults" class="chart">
    <kendo-chart-tooltip [shared]="true" [visible]="visibleTooltip">
        <ng-template kendoChartSharedTooltipTemplate let-category="category">
            {{ category }}
        </ng-template>
    </kendo-chart-tooltip>
    <kendo-chart-series *ngIf="widget?.data?.grid?.rows?.length > 0">
        <kendo-chart-series-item [type]="widget?.layout?.chartFormat?.type" [data]="widget.data?.grid?.rows" [field]="widget?.layout?.chartFormat?.field"
            [categoryField]="widget?.layout?.chartFormat?.categoryField" [color]="chartColor(widget?.layout?.chartFormat?.color)"
            [labels]="seriesLabels">
        </kendo-chart-series-item>
    </kendo-chart-series>
</kendo-chart>