<mat-toolbar color="primary">
    <div class="topbar-menu">
        <m4-icon id="toggle-sidebar" (click)="toggleSidenav()" icon="tb-menufilled"></m4-icon>
    </div>
    <div class="topbar-title">
        <ng-content select=".topbar-title-content"></ng-content>
    </div>

    <div class="fill-remaining-space">
        <ng-content select=".topbar-center"></ng-content>
    </div>

    <div class="topbar-menu">
        <ng-content select=".topbar-menu-content"></ng-content>
    </div>
</mat-toolbar>