<mat-toolbar color="primary">
    <div class="topbar-menu">
        <m4-icon id="toggle-sidebar-left" (click)="toggleSidenavLeft()" icon="tb-menufilled"></m4-icon>
    </div>
    <div class="topbar-title">
        <ng-content select=".topbar-title-content"></ng-content>
    </div>

    <div class="fill">
        <ng-content select=".topbar-center"></ng-content>
    </div>

    <div class="topbar-menu">
        <ng-content select=".topbar-menu-content"></ng-content>
    </div>

    <div class="topbar-menu">
        <m4-icon id="toggle-sidebar-right" (click)="toggleSidenavRight()" icon="tb-closepane"></m4-icon>
    </div>
</mat-toolbar>