<div class="container"style="padding:10px">
    <div class="row center-xs">
        <div class="col-xs-12" class="loginBox">
            <div class="row between-xs" style="padding:20px;">
                <div class="box">
                    <img src="assets/provisioning-tools.png"  />
                </div>
                <div class="box" style="text-align: right">
                    <h5 style="color:#999999;display:inline;">{{ selectedInstanceKey }}</h5><br>
                    <a (click)="clearSelectedInstance()"><h5 *ngIf="selectedInstanceKey != ''" style="color:#999999;display:inline;cursor:pointer;">(change)</h5></a>
                </div>
            </div>
            <div class="row start-xs">
                <h3 style="color:#666666; margin-left:22px;">{{ welcomeMessage }}</h3>
            </div>

            <div style="min-height:120px">

                <div class="box" *ngIf="loginStep == 1">
                    <input type="text" class="ctrlInput" autofocus placeholder="Your Account Name" value="" [(ngModel)]="credentials.accountName" required>
                </div>

                <div *ngIf="loginStep == 2">
                    <div *ngIf="instancesList.length > 0" class="box" style="padding-top:10px"> 
                        <select [(ngModel)]="selectedInstanceKey" style="height:30px">
                            <option value="" disabled selected hidden>Select an Instance</option>
                            <option *ngFor="let instance of instancesList" value="{{ instance.InstanceKey }}">
                                {{ instance.Description }}
                            </option>
                        </select>
                    </div>            
                </div>

                <div class="box" *ngIf="loginStep == 3">
                    <input type="password" placeholder="Password" value="" [(ngModel)]="credentials.password" required>
                </div>
            
            </div>

            <div *ngIf="loginStep <= 3" class="box" class="end-xs" style="margin-top:40px;"> 
                <button color="primary" (click)="doNext()">Next</button>
            </div>
        </div>
    </div>
</div>