<div class="container"style="padding:10px">
    <div class="row center-xs">
        <div class="col-xs-12" class="loginBox">
            <div class="row between-xs" style="padding:20px;">
                <div class="box">
                    <img src="assets/provisioning-tools.png"  />
                </div>
                <div class="box">
                    <h5 style="color:#999999;">M4 Provisioning System</h5>
                </div>
            </div>
            <div class="row start-xs" *ngIf="instancesList.length == 0">
                <h2 style="color:#666666; margin-left:22px;">Sign in</h2>
            </div>
            <div class="row start-xs" *ngIf="instancesList.length > 0">
                <h2 style="color:#666666; margin-left:22px;">Welcome</h2>
            </div>
            <div class="row start-xs" *ngIf="instancesList.length > 0">
                <label style="margin-left:22px;">{{ credentials.accountName }}</label>
            </div>
            <div class="box" *ngIf="instancesList.length == 0">
                <input type="text" class="ctrlInput" placeholder="Your Account Name" value="" [(ngModel)]="credentials.accountName" required>
            </div>
            <div *ngIf="instancesList.length == 0" class="box" class="end-xs" style="margin-top:40px;"> 
                <button color="primary" (click)="preLogin()">Next</button>
            </div>
            <div class="box" *ngIf="instancesList.length > 0">
                <input type="password" placeholder="Password" value="" [(ngModel)]="credentials.password" required>
            </div>
            <div *ngIf="instancesList.length > 0" style="margin:20px 0 10px 0;">
                <label>Please select an instance</label>
            </div>
            <div *ngIf="instancesList.length > 0" class="box"> 
                <select [(ngModel)]="selectedInstanceKey">
                    <option *ngFor="let instance of instancesList" value="{{instance.InstanceKey}}">
                        {{ instance.Description }}
                    </option>
                </select>
            </div>
            <div *ngIf="instancesList.length > 0" class="box" class="end-xs" style="margin-top:40px;"> 
                <button color="primary" (click)="submitLogin()">OK</button>
            </div>            
        </div>
    </div>
</div>