.tile-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 80px;
}

:host(.layoutType-column) {
    display: inline-block;
}

:host(.layoutType-hbox) {}

:host(.layoutType-vbox) {
    display: inline-block;
    overflow: auto;
}