<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="Performance Analyzer" localize="Performance Analyzer" hidden="true">
    <Setting name="AnalyzeDocPerformance" type="bool" value="0" hidden="true" localize="Analyze Document Performance" />
  </Section>  
  <Section name="LockManager" localize="LockManager">
    <Setting name="UseOptimisticLock" type="bool" value="0"  hidden="true" localize="Disable lockmanager in primary transaction" />    
    <Setting name="DisableLockRetry" type="bool" value="0" localize="Disabling multiple attempts for documents" />
    <Setting name="DisableBeep" type="bool" value="0" localize="Disabling beep" />
    <Setting name="MaxLockRetry" type="integer" value="2" localize="Maximum number of attempts before aborting transaction" />
    <Setting name="MaxLockTime" type="integer" value="2000" localize="Time in mms" />
    <Setting name="DisableBatchLockRetry" type="bool" value="0" localize="Disabling multiple attempts for batch documents" />
    <Setting name="DisableBatchBeep" type="bool" value="0" localize="Disabling beep for batch documents" />
    <Setting name="MaxBatchLockRetry" type="integer" value="8" localize="Maximum number of attempts before aborting transaction for batch documents" />
    <Setting name="MaxBatchLockTime" type="integer" value="3000" localize="Time in mms for batch documents" />
    <Setting name="UseLockManager" type="bool" value="1" hidden="true" localize="Use LockManager" />
    <Setting name="MaxReportLockRetry" type="integer" value="10" localize="Maximum number of attempts before aborting transaction for reports" />
    <Setting name="MaxReportLockTime" type="integer" value="5000" localize="Time in mms for report" />
  </Section>
  <Section name="Connection" localize="Trace Sql instructions">
    <Setting name="DebugSqlTrace" type="bool" value="0" localize="Plotting Sql instructions" />
    <Setting name="DebugSqlTraceActions" type="string" value="" localize="filter for action to plot. Write each table name divided by comma" />
    <Setting name="DebugSqlTraceTables" type="string" value="" localize="filter for table to plot. Write each table name divided by comma" />   
    <Setting name="EnableEventViewerLog" type="bool" value="0" localize="Enable Event Viewer Log for aborted lock and aborted transactions" />
  </Section>  
</ParameterSettings>