<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="Performance Analyzer" localize="Performance Analyzer" hidden="false">
    <Setting name="AnalyzeDocPerformance" type="bool" value="0" hidden="false" localize="Analyze Document Performance" />
  </Section>
  <Section name="Caching" localize="Data Caching Management" hidden="true">
    <Setting name="OptimizeHotLinkQuery" type="bool" value="1" hidden="true" localize="Optimizing Hotlink and Datasource Readings" />
    <Setting name="CachingEnable" type="bool" value="0" localize="Enable Data Caching Management" />
    <Setting name="CacheScope" type="integer" value="0" localize="Data Cache scope (0:Login Life/ 1:Document Context Life  / 2:Document Transaction / 3:Table)" />
    <Setting name="CacheCheckSeconds" type="integer" value="60" localize="Cache is checked every n seconds. If 0 seconds, cache is never checked." />
    <Setting name="CacheExpirationSeconds" type="integer" value="120" localize="Cache expirates every n seconds. If 0 seconds, cache never expire." />
    <Setting name="CacheMaxKbSize" type="integer" value="20480" localize="Maximum cache size in Kb. If 0 cache has no limits." />
    <Setting name="CacheReductionPerc" type="percent" value="20" localize="Percentage of cache reduction when cache reaches maximum cache size." />
  </Section>
  <Section name="LockManager" localize="Data Entry Management">
    <Setting name="UseOptimisticLock" type="bool" value="1" localize="Disable lockmanager in primary transaction" />    
    <Setting name="DisableLockRetry" type="bool" value="0" localize="Disabling multiple attempts for documents" />
    <Setting name="DisableBeep" type="bool" value="0" localize="Disabling beep" />
    <Setting name="MaxLockRetry" type="integer" value="2" localize="Maximum number of attempts before aborting transaction" />
    <Setting name="MaxLockTime" type="integer" value="2000" localize="Time in mms" />
    <Setting name="DisableBatchLockRetry" type="bool" value="0" localize="Disabling multiple attempts for batch documents" />
    <Setting name="DisableBatchBeep" type="bool" value="0" localize="Disabling beep for batch documents" />
    <Setting name="MaxBatchLockRetry" type="integer" value="8" localize="Maximum number of attempts before aborting transaction for batch documents" />
    <Setting name="MaxBatchLockTime" type="integer" value="3000" localize="Time in mms for batch documents" />
    <Setting name="UseLockManager" type="bool" value="1" hidden="true" localize="Use LockManager" />
    <Setting name="MaxReportLockRetry" type="integer" value="10" localize="Maximum number of attempts before aborting transaction for reports" />
    <Setting name="MaxReportLockTime" type="integer" value="5000" localize="Time in mms for report" />
  </Section>
  <Section name="Connection" localize="Connection">
    <Setting name="DebugSqlTrace" type="bool" value="0" localize="Plotting Sql instructions" />
    <Setting name="DebugSqlTraceActions" type="string" value="" localize="filter for action to plot. Write each table name divided by comma" />
    <Setting name="DebugSqlTraceTables" type="string" value="" localize="filter for table to plot. Write each table name divided by comma" />   
    <Setting name="EnableEventViewerLog" type="bool" value="0" localize="Enable Event Viewer Log for aborted lock and aborted transactions" />
  </Section>
  <Section name="RecoverySystem" localize="Database Communication Recovery System">
    <Setting name="Enabled" type="bool" value="1" localize="The Recovery System is enabled" />
    <Setting name="RecoveryRetries" type="integer" value="3" localize="Number of retries for re-establishing connection." />
    <Setting name="RecoveryRetriesInterval" type="integer" value="3" localize="Number of seconds elapsed between re-establishing connection retries." />
  </Section>
</ParameterSettings>