<?xml version="1.0" encoding="utf-8"?>
<ParameterSettings>
  <Section name="Performance Analyzer" localize="Performance Analyzer" hidden="true">
    <Setting name="AnalyzeDocPerformance" type="bool" value="0" hidden="true" localize="Analyze Document Performance" />
  </Section>  
  <Section name="LockManager" localize="LockManager">
    <Setting name="UseOptimisticLock" type="bool" value="0"  hidden="true" localize="Disable lockmanager in primary transaction" />    
    <Setting name="DisableLockRetry" type="bool" value="0" />
    <Setting name="DisableBeep" type="bool" value="0"/>
    <Setting name="MaxLockRetry" type="integer" value="2"/>
    <Setting name="MaxLockTime" type="integer" value="2000"/>
    <Setting name="DisableBatchLockRetry" type="bool" value="0"/>
    <Setting name="DisableBatchBeep" type="bool" value="0"/>
    <Setting name="MaxBatchLockRetry" type="integer" value="8" />
    <Setting name="MaxBatchLockTime" type="integer" value="3000"/>
    <Setting name="UseLockManager" type="bool" value="1" hidden="true" localize="Use LockManager" />
    <Setting name="MaxReportLockRetry" type="integer" value="10"/>
    <Setting name="MaxReportLockTime" type="integer" value="5000"/>
    <Setting name="UseNewSqlLockManager" type="bool" value="0" hidden="true" />
    <Setting name="UseNewSqlLockCache" type="bool" value="0" hidden="true"/>    
  </Section>
  <Section name="Connection" localize="Trace Sql instructions">
    <Setting name="DebugSqlTrace" type="bool" value="0"/>
    <Setting name="DebugSqlTraceActions" type="string" value=""/>
    <Setting name="DebugSqlTraceTables" type="string" value="" />   
    <Setting name="EnableEventViewerLog" type="bool" value="0"/>
    <Setting name="ReloadSqlCatalog" type="bool" value="0" hidden="true"/>  
  </Section>  
</ParameterSettings>