@media screen and (min-width: 48em) {
    md-card-content {
        // min-height: 215px;
    }
}

:host(tb-menu-content).limited md-card-content {
    max-height: 215px;
    overflow: auto;
}

.brick-sizer,
.brick {
    width: 33.3%;
}

.brick--width2 {
    width: 66.6%;
}