md-card {
    padding: 10px;
    margin: 8px 0px;
}

md-card-title {
    position: relative;
    padding-right: 25px;
    font-size: 14px;
}

md-card-title span {
    font-size: 14px;
    font-weight: 700
}

@media screen and (min-width: 48em) {
    md-card-content {
        min-height: 215px;
    }
}

:host(tb-menu-content).limited md-card-content {
    max-height: 215px;
    overflow: auto;
}