.header {
		height: 30px;
}
.tileContent {
	/*height:234px;*/ /*this parameter must be changed with javascript*/
	height:240px;
	width:430px;
	overflow: auto;
	padding-top: 2px;
	line-height: 140%;
	font-weight: lighter;
	font-size: normal;
}

	.tileContent a {
		text-decoration: none;
	}

	/*menu object image*/
	.tileContent > div > div {
		display: inline-block;
	}


.floatRight {
	float: right;
}

.imageSmall {
	font-size: large;
	width: 14px;
	height: 14px;
}

/*trucate text if doesnt fit*/
.truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}

.titleFont .truncate {
	width: 95%;
}

#user .truncate {
	width: 50%;
}

.tileTitleFont {
	font-size: 18px;
}


.tile
{
box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
background-color: white;
padding:10px;
}