 // Font Sizes
 $mf-font-size: 1rem !default;
 // Margin & Paddings
 $mf-gap: $mf-font-size * 1.5 !default;
 .contextMenuClass {
     margin-top: ($mf-gap * 1.5);
 }
 
 .material-icons {
     font-size: $mf-font-size * 1.3;
     cursor: pointer;
 }
 
 .content {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
 }