<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microarea.TaskBuilderNet.TbSenderBL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PostaLiteIntegrationEntities" connectionString="metadata=res://*/PostaLiteIntegrationModel.csdl|res://*/PostaLiteIntegrationModel.ssdl|res://*/PostaLiteIntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USR-BRUNILUCA;initial catalog=Dev;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DevEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=USR-BRUNILUCA;Initial Catalog=Dev;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <Microarea.TaskBuilderNet.TbSenderBL.Properties.Settings>
      <setting name="Microarea_TaskBuilderNet_TbSenderBL_mock_postalite_api_PostaLiteService"
        serializeAs="String">
        <value>http://www.postalite.it/webservices/service_test.asmx</value>
      </setting>
      <setting name="Microarea_TaskBuilderNet_TbSenderBL_PostaLiteTracker_Tracker"
        serializeAs="String">
        <value>http://localhost/PostaLiteTrackerWS/Tracker.asmx</value>
      </setting>
      <setting name="Microarea_TaskBuilderNet_TbSenderBL_it_sostitutivazucchetti_infinity_ws_as_servizioService"
        serializeAs="String">
        <value>https://infinity.sostitutivazucchetti.it/SOS/services/ws_as_servizio</value>
      </setting>
    </Microarea.TaskBuilderNet.TbSenderBL.Properties.Settings>
  </applicationSettings>
</configuration>