<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
    <Product
      Id="*"
      Name="International Studio"
      Language="1033"
      Version="$(var.ProductVersion)"
      Manufacturer="Microarea - Zucchetti"
      UpgradeCode="8A7898DC-2931-40DF-8B96-DD633F77BCB7"
      >
		<Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      InstallPrivileges="elevated"
      Manufacturer="Microarea - Zucchetti S.p.A."
      />

    <CustomAction Id="LaunchApplication"
                  Directory="INSTALLLOCATION"
                  ExeCommand="[INSTALLLOCATION]\InternationalStudio.exe"
                  Return="asyncNoWait"
                  Impersonate="yes" />

      <InstallExecuteSequence>
        <Custom Action="LaunchApplication" After="InstallFinalize"></Custom>
      </InstallExecuteSequence>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Media Id="1" Cabinet="InternationalStudioSetup.cab" CompressionLevel="high" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="InternationalStudio" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="DesktopShortcutComponent" />
      <ComponentRef Id="ProgramMenuFolderComponent" />
		</Feature>

    <Icon Id="IconId" SourceFile="../InternationalStudio/App.ico" />
    <Property Id="ARPPRODUCTICON" Value="IconId" />
    <Property Id="ARPHELPLINK" Value="http://www.microarea.it" />
	</Product>
  

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      
      <Directory Id="DesktopFolder" Name="DesktopFolder">
        <Component Id="DesktopShortcutComponent" DiskId="1" Guid="4A482DE2-C85A-4388-A161-F5A7FD650EAE">
          <Shortcut Id="_6" Name="InternationalStudio" Target="[INSTALLLOCATION]\InternationalStudio.exe" WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue Name="InternationalStudioDSC installed" Root="HKCU" Key="SOFTWARE\Microarea\InternationalStudio"
                         Value="1" Type="integer" KeyPath="yes" />
        </Component>
      </Directory>
      
      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
        <Directory Id="MicroareaProgramsFolder" Name="Microarea">
            <Component Id="ProgramMenuFolderComponent" DiskId="1" Guid="77034B5F-9C3B-424A-986F-3F699D9A888D">
              <Shortcut Id="_4" Name="InternationalStudio" Target="[INSTALLLOCATION]\InternationalStudio.exe" WorkingDirectory="INSTALLFOLDER" />
              <RemoveFolder Id="MicroareaProgramsFolder" On="uninstall" />
              <RegistryValue Name="InternationalStudioPFSC installed" Root="HKCU" Key="SOFTWARE\Microarea\InternationalStudio"
                         Value="1" Type="integer" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>

			  <Directory Id="ProgramFilesFolder">
          <Directory Id="Microarea" Name="Microarea">
            <Directory Id="INSTALLLOCATION" Name="InternationalStudio" />
          </Directory>
			  </Directory>
      
      </Directory>
	</Fragment>
</Wix>