.breadcrumb { 
  list-style: none; 
  overflow: hidden; 
  font-size: 15px;
}
.breadcrumb li { 
  float: left; 
}
.breadcrumb li div {
      color: white;
    text-decoration: none;
    padding: 4px 1px 2px 60px;
    background-color: #0277bd;
    position: relative;
    display: block;
    float: left;
    font-weight: 300;
    font-size: smaller;
    cursor:pointer;
}

.breadcrumb li div::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #0277bd;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}

.breadcrumb li div::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.breadcrumb li:first-child a {
  padding-left: 10px;
}
.breadcrumb li:nth-child(2) a       { background:        #0277bd; }
.breadcrumb li:nth-child(2) a:after { border-left-color: #0277bd; }
.breadcrumb li:nth-child(3) a       { background:        #0277bd; }
.breadcrumb li:nth-child(3) a:after { border-left-color: #0277bd; }
.breadcrumb li:nth-child(4) a       { background:        #0277bd; }
.breadcrumb li:nth-child(4) a:after { border-left-color: #0277bd; }
.breadcrumb li:nth-child(5) a       { background:        #0277bd; }
.breadcrumb li:nth-child(5) a:after { border-left-color: #0277bd; }
.breadcrumb li:last-child a {
  background: transparent !important;
  color: black;
  pointer-events: none;
  cursor: default;
}
.breadcrumb li:last-child a::after { 
  border: 0; 
}

.breadcrumb li a:hover { 
  background-color: #0277bd;
}
.breadcrumb li a:hover:after { 
  border-left-color: #0277bd !important; 
}

.active{
  background-color: lightgrey;
}