 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-status-tile-panel>
      <tb-status-tile>
       <tb-linear-gauge cmpId="IDC_CONTROL_GAUGE" width="71" [model]="eventData?.model?.GaugeQty"></tb-linear-gauge>
       <tb-label-static cmpId="IDC_CONTROL_STATIC_UP" width="0" [model]="eventData?.model?.StatusDescription"></tb-label-static>
       <tb-image [height]="11" [width]="12" cmpId="IDC_CONTROL_IMAGE" width="12" [model]="eventData?.model?.ImageStatusTool"></tb-image>
       <tb-label-static cmpId="IDC_CONTROL_STATIC_DOWN_LEFT" width="33"></tb-label-static>
       <tb-label-static cmpId="IDC_CONTROL_STATIC_DOWN_RIGHT" width="33"></tb-label-static>
      </tb-status-tile>
     </tb-status-tile-panel>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="erp-tools" tbLayoutTypeNone >
       <ng-template>
        <tb-layoutcontainer isCollapsible="True" tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Main Data')" tbTileStandard  isCollapsible="False">
<div class="anchored">          <tb-text [caption]="_TB('Tool')" cmpId="IDC_TOOLS_GENERAL_TOOL" width="62" [model]="eventData?.model?.Tools?.Tool"></tb-text>
          <tb-checkbox cmpId="IDC_TOOLS_GENERAL_DISABLED" width="109" [model]="eventData?.model?.Tools?.Disabled" [caption]="_TB('Disabled  ')"></tb-checkbox>
</div>          <tb-text cmpId="IDC_TOOLS_GENERAL_DESCRI" width="145" [model]="eventData?.model?.Tools?.Description"></tb-text>
          <tb-text [caption]="_TB('Item')" cmpId="IDC_TOOLS_GENERAL_ITEM" width="122" [model]="eventData?.model?.Tools?.Item"></tb-text>
          <tb-label-static cmpId="IDC_TOOLS_GENERAL_ITEM_DESCRI" width="213" [model]="eventData?.model?.HKLItem?.Description"></tb-label-static>
          <tb-checkbox cmpId="IDC_TOOLS_GENERAL_DISABLED1" width="109" [model]="eventData?.model?.Tools?.ExclusiveUse" [caption]="_TB('Exclusive  ')"></tb-checkbox>
         </tb-tile>
         <tb-tile [title]="_TB('Image')" tbTileStandard  isCollapsible="False">
          <tb-text [caption]="_TB('Drawing')" cmpId="IDC_TOOLS_GENERAL_DRAWING" width="100" [model]="eventData?.model?.Tools?.Drawing"></tb-text>
          <tb-text [caption]="_TB('Image Path')" cmpId="IDC_TOOLS_GENERAL_IMAGE_PATH" width="176" [model]="eventData?.model?.Tools?.ImagePath"></tb-text>
          <tb-image [height]="104" [width]="201" cmpId="IDC_TOOLS_GENERAL_IMAGE" width="201" [model]="eventData?.model?.Tools?.ImagePath"></tb-image>
         </tb-tile>
        </tb-layoutcontainer>
        <tb-tile [title]="_TB('Type')" tbTileWide  isCollapsible="False">
<div class="col col1">         <tb-enum-combo [caption]="_TB('Type')" cmpId="IDC_ITEMS_GENERAL_TOOL_TYPE" width="100" [model]="eventData?.model?.Tools?.ToolType"></tb-enum-combo>
         <tb-enum-combo [caption]="_TB('Rounding Type')" cmpId="IDC_ITEMS_GENERAL_ROUNDING_TYPE" width="100" [model]="eventData?.model?.Tools?.RoundingType"></tb-enum-combo>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Digits')" cmpId="IDC_TOOLS_GENERAL_DIGITS" width="100" [model]="eventData?.model?.Tools?.RoundingDigit"></tb-numeric-text-box>
<div class="anchored">         <tb-text *ngIf="eventData?.activation?.IDC_TOOLS_GENERAL_BARCODE" [caption]="_TB('Barcode')" cmpId="IDC_TOOLS_GENERAL_BARCODE" width="100" [model]="eventData?.model?.Tools?.BarcodeSegment"></tb-text>
         <tb-button cmpId="IDC_TOOLS_GENERAL_BARCODE_BTN" width="14"></tb-button>
</div></div><div class="col col2">         <tb-text [caption]="_TB('Operating Instructions')" cmpId="IDC_TOOLS_GENERAL_OPERATING_ISTR" width="225" [model]="eventData?.model?.Tools?.OperatingInstructions"></tb-text>
         <tb-text [caption]="_TB('Notes')" cmpId="IDC_TOOLS_GENERAL_NOTES" width="225" [model]="eventData?.model?.Tools?.Notes"></tb-text>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Other Data')" icon="erp-toolsmore" tbLayoutTypeNone >
       <ng-template>
        <tb-layoutcontainer isCollapsible="True" tbLayoutTypeColumn >
         <tb-tile [title]="_TB('Purchase')" tbTileStandard >
          <tb-text [caption]="_TB('Supplier')" cmpId="IDC_TOOLS_PURCHASE_SUPPLIER" width="100" [model]="eventData?.model?.Tools?.Supplier"></tb-text>
          <tb-label-static cmpId="IDC_TOOLS_PURCHASE_SUPPLIER_DESCI" width="217" [model]="eventData?.model?.HKLSupplier?.CompanyName"></tb-label-static>
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Purchase Date')" cmpId="IDC_TOOLS_PURCHASE_PURCH_DATE" width="57" [model]="eventData?.model?.Tools?.PurchaseDate"></tb-date-input>
          <tb-numeric-text-box formatter="Money" [caption]="_TB('Purchase Price')" cmpId="IDC_TOOLS_PURCHASE_PURCH_PRICE" width="68" [model]="eventData?.model?.Tools?.PurchasePrice"></tb-numeric-text-box>
          <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Warranty Expiration Date')" cmpId="IDC_TOOLS_PURCHASE_WARRANTY_DATE" width="57" [model]="eventData?.model?.Tools?.WarrantyExpirationDate"></tb-date-input>
         </tb-tile>
         <tb-tile [title]="_TB('Location')" tbTileStandard >
          <tb-text [caption]="_TB('Department')" cmpId="IDC_TOOLS_LOCATION_DEPARTMENT" width="160" [model]="eventData?.model?.Tools?.Department"></tb-text>
          <tb-text [caption]="_TB('Location')" cmpId="IDC_TOOLS_LOCATION_LOCATION" width="160" [model]="eventData?.model?.Tools?.Location"></tb-text>
          <tb-combo [caption]="_TB('Maintenance Worker')" cmpId="IDC_TOOLS_LOCATION_WORKER" width="62" [model]="eventData?.model?.Tools?.MaintenanceWorker"></tb-combo>
          <tb-text cmpId="IDC_TOOLS_LOCATION_WORKER_DESCRI" width="218" [model]="eventData?.model?.HKLWorkers?.WorkerDesc"></tb-text>
         </tb-tile>
        </tb-layoutcontainer>
        <tb-tile [title]="_TB('Manufacturer')" tbTileWide >
<div class="col col1">         <tb-text [caption]="_TB('Brand')" cmpId="IDC_TOOLS_MANUFACTURER_BRAND" width="160" [model]="eventData?.model?.Tools?.Brand"></tb-text>
         <tb-text [caption]="_TB('Model')" cmpId="IDC_TOOLS_MANUFACTURER_MODEL" width="160" [model]="eventData?.model?.Tools?.Model"></tb-text>
         <tb-text [caption]="_TB('Serial Number')" cmpId="IDC_TOOLS_MANUFACTURER_SERIAL_NO" width="160" [model]="eventData?.model?.Tools?.ToolSerial"></tb-text>
         <tb-text [caption]="_TB('Part Number')" cmpId="IDC_TOOLS_MANUFACTURER_PART_NO" width="160" [model]="eventData?.model?.Tools?.PartNumber"></tb-text>
</div><div class="col col2">         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Manufacturing Date')" cmpId="IDC_TOOLS_MANUFACTURER_MAN_DAE" width="57" [model]="eventData?.model?.Tools?.ManufacturingDate"></tb-date-input>
         <tb-text [caption]="_TB('Certification Number')" cmpId="IDC_TOOLS_MANUFACTURER_CERTIFICATION_NO" width="160" [model]="eventData?.model?.Tools?.CertificationNumber"></tb-text>
         <tb-text [caption]="_TB('Technical Notes')" cmpId="IDC_TOOLS_MANUFACTURER_TECHN_NOTES" width="219" [model]="eventData?.model?.Tools?.TechnicalNotes"></tb-text>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Status')" icon="erp-preferences" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Quantities')" tbTileStandard  isCollapsible="False">
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Used')" cmpId="IDC_TOOLS_STATUS_QTY_USED" width="40" [model]="eventData?.model?.Tools?.UsedQuantity"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Maximum')" cmpId="IDC_TOOLS_STATUS_QTY_MAXIMUM" width="40" [model]="eventData?.model?.Tools?.MaxQuantity"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Warning')" cmpId="IDC_TOOLS_STATUS_QTY_WARNING" width="40" [model]="eventData?.model?.Tools?.WarningQuantity"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Tollerance')" cmpId="IDC_TOOLS_STATUS_QTY_TOLLERANCE" width="40" [model]="eventData?.model?.Tools?.ToleranceQuantity"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Total used')" cmpId="IDC_TOOLS_STATUS_QTY_TOTAL_USED" width="40" [model]="eventData?.model?.Tools?.TotalQuantity"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Times')" tbTileStandard  isCollapsible="False">
         <tb-text [caption]="_TB('Used')" cmpId="IDC_TOOLS_STATUS_TIME_USED" width="40" [model]="eventData?.model?.Tools?.UsedTime"></tb-text>
         <tb-text [caption]="_TB('Maximum')" cmpId="IDC_TOOLS_STATUS_TIME_MAXIMUM" width="40" [model]="eventData?.model?.Tools?.MaxTime"></tb-text>
         <tb-text [caption]="_TB('Warning')" cmpId="IDC_TOOLS_STATUS_TIME_WARNING" width="40" [model]="eventData?.model?.Tools?.WarningTime"></tb-text>
         <tb-text [caption]="_TB('Tollerance')" cmpId="IDC_TOOLS_STATUS_TIME_TOLLERANCE" width="40" [model]="eventData?.model?.Tools?.ToleranceTime"></tb-text>
         <tb-text [caption]="_TB('Total used')" cmpId="IDC_TOOLS_STATUS_TIME_USED_TIME" width="40" [model]="eventData?.model?.Tools?.TotalTime"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Reconditioning')" tbTileStandard  isCollapsible="False">
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Number')" cmpId="IDC_TOOLS_STATUS_RECONDITIONING" width="40" [model]="eventData?.model?.Tools?.Reconditioning"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Maximum')" cmpId="IDC_TOOLS_STATUS_MAX_RECONDITIONING" width="40" [model]="eventData?.model?.Tools?.MaxReconditioning"></tb-numeric-text-box>
         <tb-checkbox cmpId="IDC_TOOLS_STATUS_OVERLOAD" width="109" [model]="eventData?.model?.Tools?.Overload" [caption]="_TB('Overload  ')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Under Maintenance')" tbTileStandard >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_TOOLS_UNDER_MAINTENANCE_DATE_START" width="57" [model]="eventData?.model?.Tools?.ReconditioningStartDate"></tb-date-input>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Duration in days')" cmpId="IDC_TOOLS_UNDER_MAINTENANCE_DURATION" width="40" [model]="eventData?.model?.Tools?.ReconditioningDuration"></tb-numeric-text-box>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Inspections')" icon="erp-tooltobeinspected" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Last Inspection')" tbTileStandard  isCollapsible="False">
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_TOOLS_INSPECTIONS_DATE" width="57" [model]="eventData?.model?.Tools?.LastInspectionDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Under Inspection')" tbTileStandard  isCollapsible="False">
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Inspection date')" cmpId="IDC_TOOLS_INSPECTIONS_INSPECTION_START_DATE" width="57" [model]="eventData?.model?.Tools?.InspectionStartDate"></tb-date-input>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Duration in days')" cmpId="IDC_TOOLS_INSPECTIONS_DURATION" width="48" [model]="eventData?.model?.Tools?.InspectionDuration"></tb-numeric-text-box>
        </tb-tile>
        <tb-tile [title]="_TB('Next Inspection')" tbTileStandard  isCollapsible="False">
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_TOOLS_INSPECTIONS_NEXT_DATE" width="57" [model]="eventData?.model?.Tools?.NextInspectionDate"></tb-date-input>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Validity days')" cmpId="IDC_TOOLS_INSPECTIONS_VALIDITY_DAYS" width="48" [model]="eventData?.model?.Tools?.InspectionValidityDays"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Warning days')" cmpId="IDC_TOOLS_INSPECTIONS_ALERT_DAYS" width="48" [model]="eventData?.model?.Tools?.InspectionWarningDays"></tb-numeric-text-box>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Families')" icon="erp-familytools" tbLayoutTypeNone >
       <ng-template>
        <tb-tile [title]="_TB('Families')" tbTileAutoFill  isCollapsible="False">
         <tb-body-edit cmpId="IDC_TOOLS_FAMILIES_BE" width="600" [model]="eventData?.model?.ToolsToolFamilies">
          <tb-body-edit-column cmpId="IDC_TOOLS_FAMILIES_FAM" columnName="Family" [title]="_TB('Family')" columnType="tb-text" columnName="IDC_TOOLS_FAMILIES_FAM">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_FAMILIES_DESCRI" [model]="eventData?.model?.HKLToolsFamilies?.Description" [title]="_TB('Description')" columnType="tb-text" columnName="IDC_TOOLS_FAMILIES_DESCRI">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_FAMILIES_EXCLUSIVE" columnName="LocExclusive" [title]="_TB('Exclusive')" columnType="tb-checkbox" columnName="IDC_TOOLS_FAMILIES_EXCLUSIVE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_FAMILIES_DISABLED" columnName="LocDisabled" [title]="_TB('Disabled')" columnType="tb-checkbox" columnName="IDC_TOOLS_FAMILIES_DISABLED">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('History')" icon="erp-collectionvoucherdelay" tbLayoutTypeNone >
       <ng-template>
        <tb-tile [title]="_TB('History')" tbTileStandard >
         <tb-body-edit cmpId="IDC_TOOLS_HISTORY_BE" width="600" [model]="eventData?.model?.ToolsHistory">
          <tb-body-edit-column cmpId="IDC_TOOLS_HISTORY_BMP_STATUS" columnName="BmpStatus" [title]="_TB(' ')" columnType="tb-image" columnName="IDC_TOOLS_HISTORY_BMP_STATUS">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_TOOLS_HISTORY_DATE" columnName="ActionDate" [title]="_TB('Date')" columnType="tb-date-input" columnName="IDC_TOOLS_HISTORY_DATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Long" disabled="true" cmpId="IDC_TOOLS_HISTORY_WORKER" columnName="MaintenanceWorker" [title]="_TB('Worker')" columnType="tb-numeric-text-box" columnName="IDC_TOOLS_HISTORY_WORKER">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_HISTORY_WORKER_NAME" [model]="eventData?.model?.HKLWorkersHistory?.WorkerDesc" [title]="_TB('Name')" columnType="tb-label-static" columnName="IDC_TOOLS_HISTORY_WORKER_NAME">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_HISTORY_ACTION" columnName="Action" [title]="_TB('Action')" columnType="tb-enum-combo" columnName="IDC_TOOLS_HISTORY_ACTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_HISTORY_STATUS" columnName="ToolStatus" [title]="_TB('Status')" columnType="tb-enum-combo" columnName="IDC_TOOLS_HISTORY_STATUS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_HISTORY_REMARK" width="900" columnName="Remarks" [title]="_TB('Remarks')" columnType="tb-text" columnName="IDC_TOOLS_HISTORY_REMARK">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Used By')" icon="erp-manufacturing" tbLayoutTypeNone >
       <ng-template>
        <tb-tile [title]="_TB('Used By')" tbTileAutoFill  isCollapsible="False">
         <tb-body-edit cmpId="IDC_TOOLS_USED_BY_BE" width="600" [model]="eventData?.model?.ToolsUsedBy">
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_BMP_STATUS" columnName="LocalBmpStatus" [title]="_TB(' ')" columnType="tb-image" columnName="IDC_TOOLS_USED_BY_BMP_STATUS">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_MO" columnName="MONo" [title]="_TB('MO')" columnType="tb-label-static" columnName="IDC_TOOLS_USED_BY_MO">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_BOM" columnName="BOM" [title]="_TB('BOM')" columnType="tb-label-static" columnName="IDC_TOOLS_USED_BY_BOM">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_USAGE" columnName="Usage" [title]="_TB('Usage')" columnType="tb-enum-combo" columnName="IDC_TOOLS_USED_BY_USAGE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_TOOLS_USED_BY_RTG_STEP" columnName="RtgStep" [title]="_TB('Routing
step')" columnType="tb-numeric-text-box" columnName="IDC_TOOLS_USED_BY_RTG_STEP">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_ALTERNATE" columnName="Alternate" [title]="_TB('Alternate')" columnType="tb-label-static" columnName="IDC_TOOLS_USED_BY_ALTERNATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_TOOLS_USED_BY_ALTERNATE_RTG_STEP" columnName="AltRtgStep" [title]="_TB('Alternative
Routing Step')" columnType="tb-numeric-text-box" columnName="IDC_TOOLS_USED_BY_ALTERNATE_RTG_STEP">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_PROCESSING_TYPE" columnName="ProcessingType" [title]="_TB('Processing
type')" columnType="tb-enum-combo" columnName="IDC_TOOLS_USED_BY_PROCESSING_TYPE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_OPERATION" columnName="Operation" [title]="_TB('Operation')" columnType="tb-label-static" columnName="IDC_TOOLS_USED_BY_OPERATION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_OPERATION_DESCRIPTION" [model]="eventData?.model?.HKLOperations?.Description" [title]="_TB('Operation
Description')" columnType="tb-label-static" columnName="IDC_TOOLS_USED_BY_OPERATION_DESCRIPTION">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_WC" columnName="WC" [title]="_TB('WC')" columnType="tb-label-static" columnName="IDC_TOOLS_USED_BY_WC">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_TOOLS_USED_BY_WC_DESCRIPTION" [model]="eventData?.model?.HKLWC?.Description" [title]="_TB('WC
Description')" columnType="tb-label-static" columnName="IDC_TOOLS_USED_BY_WC_DESCRIPTION">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane [title]="_TB('LinksPanel')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False" *ngIf="eventData?.activation?.IDD_TD_PNL_LINKSPANEL">
         <tb-body-edit cmpId="IDC_PNL_BE" width="325" [model]="eventData?.model?.DBTLinksTable">
          <tb-body-edit-column cmpId="IDC_PNL_BE_IMAGE" columnName="Image" [title]="_TB('Image')" columnType="tb-image" columnName="IDC_PNL_BE_IMAGE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PNL_BE_DESCR" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_PNL_BE_DESCR">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane [title]="_TB('LegendDockPane')">
     <tb-view>
      <tb-tilegroup [active]="true" [title]="_TB('Legend')" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Tools')" tbTileStandard >
<div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_AVAILABLE" width="14"></tb-button>
         <tb-caption [caption]="_TB('Available')" cmpId="IDC_STATIC_1" width="141" [caption]="_TB('Available')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_TO_BE_INSPECTED" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_2" width="141" [caption]="_TB('To be inspected')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_UNDER_INSPECTION" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_4" width="141" [caption]="_TB('Under inspection')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_TO_RECONDITIONED" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_3" width="141" [caption]="_TB('To be reconditioned')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_UNDER_MAINTENANCE" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_8" width="141" [caption]="_TB('Under maintenance')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_EXHAUSTED" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_9" width="141" [caption]="_TB('Exhausted')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_OUT_OF_ORDER" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_5" width="141" [caption]="_TB('Out of order')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_NOT_FOUND" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_6" width="141" [caption]="_TB('Not available')"></tb-caption>
</div><div class="anchored">         <tb-button cmpId="IDC_TOOLS_BMP_WITH_ERRORS" width="14"></tb-button>
         <tb-caption cmpId="IDC_STATIC_7" width="141" [caption]="_TB('Disabled or Generic error')"></tb-caption>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TOOLS_CHANGE_STATUS?.enabled" icon="erp-toolavailable" [caption]="_TB('Set available')" cmpId="ID_TOOLS_CHANGE_STATUS"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
