.dashboard-page {
    display: flex;
    flex-direction: row;
}

.dashboard-sidebar {
    flex: 0 0 260px;
    background: #fff;
    border-right: 1px solid #ddd;
    .dashboard-sidebar-riq {
        margin: 20px 0 10px 0;
        h4 {
            font-size: 14px;
            text-transform: uppercase;
            color: #00578c;
            padding: 0 5px;
            margin: 15px 5px 3px;
            border-bottom: 1px solid #ddd;
            display: flex;
            font-weight: 500;
            m4-icon {
                font-size: 12px;
                padding: 3px 0 0;
                margin-left: 7px;
                line-height: 17px;
            }
            m4-icon.close {
                cursor: pointer;
            }
        }
    }
}

.dashboard-content {
    flex: 1;
    overflow-y: auto;
    .tool {
        border: none;
        m4-icon {
            padding: 0;
            margin: 0;
            width: 18px;
            height: 18px;
            font-size: 18px;
        }
    }
    .header-strip-under>div {
        padding: 0 3px;
        font-size: 12px;
    }
}

.dashboard-sidebar-list {
    padding: 0 5px;
}