<?xml version="1.0" encoding="utf-8"?>
<ModuleInfo localize="Web services connection manager of login and lock" optional="false" destinationfolder="TbApps">
  <Components>
    <Library name="TbWebServicesWrappers" deploymentpolicy="full"  >
      <FilesExtension value="*.pdb" />
    </Library>
  </Components>
</ModuleInfo>