 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilemanager>
      <tb-tilegroup [title]="_TB('Main Data')" icon="erp-packageuser" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Main Data')" tbTileWide >
<div class="col col1"><div class="anchored">         <tb-text [caption]="_TB('Item')" cmpId="IDC_CUSTSUPITEM_ITEM" width="122" [model]="eventData?.model?.ItemCustomers?.Item"></tb-text>
         <tb-checkbox cmpId="IDC_CUSTSUPITEM_ISDISABLED" width="96" [model]="eventData?.model?.ItemCustomers?.Disabled" [caption]="_TB('Disabled  ')"></tb-checkbox>
</div>         <tb-label-static [caption]="_TB('Description')" cmpId="IDC_CUSTSUPITEM_DESCRI_ITM" width="220" [model]="eventData?.model?.HKLItems?.Description"></tb-label-static>
         <tb-text [caption]="_TB('Customer')" cmpId="IDC_CUSTSUPITEM_CUSTOMER" width="80" [model]="eventData?.model?.ItemCustomers?.Customer"></tb-text>
         <tb-label-static [caption]="_TB('Company Name')" cmpId="IDC_CUSTSUPITEM_COMPNAME_CUSTOMER" width="220" [model]="eventData?.model?.HKLCustSupp?.CompanyName"></tb-label-static>
</div><div class="col col2">         <tb-label-static [caption]="_TB('Item UoM')" cmpId="IDC_CUSTSUPITEM_UOM_BASE_ITM" width="48" [model]="eventData?.model?.HKLItems?.BaseUoM"></tb-label-static>
<div class="anchored">         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Item Base Price')" cmpId="IDC_CUSTSUPITEM_PRICE_BASE_ITM" width="84" [model]="eventData?.model?.HKLItems?.BasePrice"></tb-numeric-text-box>
         <tb-label-static [caption]="_TB('Item Discount %')" cmpId="IDC_CUSTSUPITEM_DISCOUNT_ITM" width="30" [model]="eventData?.model?.HKLItems?.DiscountFormula"></tb-label-static>
</div><div class="anchored">         <tb-label-static *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_CURRENCY_PRICE_STANDARD" [caption]="_TB('Customer Currency')" cmpId="IDC_CUSTSUPITEM_CURRENCY_PRICE_STANDARD" width="68" [model]="eventData?.model?.HKLCustSupp?.Currency"></tb-label-static>
         <tb-label-static *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_CURRENCY_DESCRIPTION" cmpId="IDC_CUSTSUPITEM_CURRENCY_DESCRIPTION" width="154" [model]="eventData?.model?.CurrencyDescription"></tb-label-static>
</div>         <tb-text [caption]="_TB('Notes')" cmpId="IDC_CUSTSUPITEM_NOTES" width="224" [model]="eventData?.model?.ItemCustomers?.Notes"></tb-text>
         <tb-text *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_VARIANT" [caption]="_TB('Variant')" cmpId="IDC_CUSTSUPITEM_VARIANT" width="110" [model]="eventData?.model?.ItemCustomers?.Variant"></tb-text>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Sales Data')" tbTileWide  isCollapsible="True">
<div class="col col1">         <tb-text [caption]="_TB('Customer Coding')" cmpId="IDC_CUSTSUPITEM_CODINGCUST" width="68" [model]="eventData?.model?.ItemCustomers?.CustomerCode"></tb-text>
         <tb-text [caption]="_TB('Description')" cmpId="IDC_CUSTSUPITEM_CUSTDESCRIPTION" width="220" [model]="eventData?.model?.ItemCustomers?.CustomerDescription"></tb-text>
         <tb-combo [caption]="_TB('Standard Price UoM')" cmpId="IDC_CUSTSUPITEM_UOM" width="60" [model]="eventData?.model?.ItemCustomers?.UoMStandardPrice" [itemSource]="IDC_CUSTSUPITEM_UOM_itemSource"></tb-combo>
<div class="anchored">         <tb-numeric-text-box formatter="Money" [caption]="_TB('Standard Price')" cmpId="IDC_CUSTSUPITEM_PRICE_STANDARD" width="84" [model]="eventData?.model?.ItemCustomers?.StandardPrice"></tb-numeric-text-box>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_PRICE_STANDARD_WITH_TAX" cmpId="IDC_CUSTSUPITEM_PRICE_STANDARD_WITH_TAX" width="78" [model]="eventData?.model?.ItemCustomers?.StandardPriceWithTax" [caption]="_TB('With Tax  ')"></tb-checkbox>
</div>         <tb-text [caption]="_TB('Discount %')" cmpId="IDC_CUSTSUPITEM_DISCOUNT" width="30" [model]="eventData?.model?.ItemCustomers?.DiscountFormula"></tb-text>
         <tb-section-title *ngIf="eventData?.activation?.IDC_STATIC_CUSTSUPITEM_DELIVERYPLACE_SEPARATOR" cmpId="IDC_STATIC_CUSTSUPITEM_DELIVERYPLACE_SEPARATOR" width="325" [caption]="_TB('Delivery Place of Goods')"></tb-section-title>
         <tb-combo *ngIf="eventData?.activation?.IDC_OPENORDERS_DELIVERYPLACE" [caption]="_TB('Delivery Place')" cmpId="IDC_OPENORDERS_DELIVERYPLACE" width="69" [model]="eventData?.model?.DeliveryPlaces?.Address"></tb-combo>
         <tb-label-static *ngIf="eventData?.activation?.IDC_OPENORDERS_DELIVERYPLACEDESCR" cmpId="IDC_OPENORDERS_DELIVERYPLACEDESCR" width="219" [model]="eventData?.model?.DeliveryPlacesDeliveryPlaceDescr"></tb-label-static>
</div><div class="col col2"><div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Minimum Qty')" cmpId="IDC_CUSTSUPITEM_MINORDERQTY" width="48" [model]="eventData?.model?.ItemCustomers?.MinOrderQty"></tb-numeric-text-box>
         <tb-label-static cmpId="IDC_STATIC_TO_BE_ORDERED" width="98" [caption]="_TB(' to be Ordered')"></tb-label-static>
</div>         <tb-numeric-text-box formatter="Money" [caption]="_TB('Additional Expenses')" cmpId="IDC_CUSTSUPITEM_ADDITIONALCHARGES" width="84" [model]="eventData?.model?.ItemCustomers?.AdditionalCharges"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Shipping Costs')" cmpId="IDC_CUSTSUPITEM_SHIPPINGCOST" width="84" [model]="eventData?.model?.ItemCustomers?.ShippingCost"></tb-numeric-text-box>
<div class="anchored">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Delivery Time')" cmpId="IDC_CUSTSUPITEM_TIMEOFDELIVERY" width="28" [model]="eventData?.model?.ItemCustomers?.DaysForDelivery"></tb-numeric-text-box>
         <tb-label-static cmpId="IDC_STATIC_DAYS" width="98" [caption]="_TB('(Days)')"></tb-label-static>
</div><div class="anchored">         <tb-text *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_OFFSETFORDISPATCHES" [caption]="_TB('Sales Offset')" cmpId="IDC_CUSTSUPITEM_OFFSETFORDISPATCHES" width="62" [model]="eventData?.model?.ItemCustomers?.SaleOffset"></tb-text>
         <tb-label-static *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_SALEOFFSETDESCRI" cmpId="IDC_CUSTSUPITEM_SALEOFFSETDESCRI" width="154" [model]="eventData?.model?.HKLOffsetFixAssets?.Description"></tb-label-static>
</div><div class="anchored">         <tb-text [caption]="_TB('Customer Barcode')" cmpId="IDC_CUSTSUPITEM_BARCODE_CUST" width="105" [model]="eventData?.model?.ItemCustomers?.CustomerBarCode"></tb-text>
         <tb-button cmpId="IDC_CUSTSUPITEM_BTN_STRIP_VIEW" width="24"></tb-button>
</div>         <tb-section-title *ngIf="eventData?.activation?.IDC_STATIC_CUSTSUPITEM_PRESHIPPING_SEPARATOR" cmpId="IDC_STATIC_CUSTSUPITEM_PRESHIPPING_SEPARATOR" width="325" [caption]="_TB('PreShipping')"></tb-section-title>
         <tb-combo *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_SUT_SHIPPING" [caption]="_TB('Storage Unit Type')" cmpId="IDC_CUSTSUPITEM_SUT_SHIPPING" width="75" [model]="eventData?.model?.ItemCustomers?.SUTPreShipping"></tb-combo>
         <tb-label-static *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_SUTSHIPPING_DESCRIPTION" cmpId="IDC_CUSTSUPITEM_SUTSHIPPING_DESCRIPTION" width="223" [model]="eventData?.model?.HKLSUTShipping?.Description"></tb-label-static>
         <tb-numeric-text-box *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_SUT_SHIPPING_QTY" formatter="Integer" [caption]="_TB('Quantity')" cmpId="IDC_CUSTSUPITEM_SUT_SHIPPING_QTY" width="75" [model]="eventData?.model?.ItemCustomers?.SUTPreShippingQty"></tb-numeric-text-box>
         <tb-combo *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_SUT_SHIPPING_UOM" [caption]="_TB('UoM')" cmpId="IDC_CUSTSUPITEM_SUT_SHIPPING_UOM" width="110" [model]="eventData?.model?.ItemCustomers?.SUTPreShippingUoM" [itemSource]="IDC_CUSTSUPITEM_SUT_SHIPPING_UOM_itemSource"></tb-combo>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Budget')" tbTileWide  isCollapsible="True" isCollapsed="True">
<div class="col col1">         <tb-body-edit cmpId="IDC_ITEMCUSTOMERS_BODY_BUDGET" width="654" [model]="eventData?.model?.Budget">
          <tb-body-edit-column formatter="Integer" cmpId="IDC_ITEMCUSTOMERS_BUDGET_YEAR" columnName="BudgetYear" [title]="_TB('Year')" columnType="tb-numeric-text-box" columnName="IDC_ITEMCUSTOMERS_BUDGET_YEAR">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_ITEMCUSTOMERS_BUDGET_MONTH" columnName="BudgetMonth" [title]="_TB('Month')" columnType="tb-numeric-text-box" columnName="IDC_ITEMCUSTOMERS_BUDGET_MONTH">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_ITEMCUSTOMERS_BUDGET_SALEQUANTITY" columnName="SaleQty" [title]="_TB('Sale Quantity')" columnType="tb-numeric-text-box" columnName="IDC_ITEMCUSTOMERS_BUDGET_SALEQUANTITY">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_ITEMCUSTOMERS_BUDGET_SALEVALUE" columnName="SaleValue" [title]="_TB('Sale Budget')" columnType="tb-numeric-text-box" columnName="IDC_ITEMCUSTOMERS_BUDGET_SALEVALUE">
          </tb-body-edit-column>
         </tb-body-edit>
</div><div class="col col2"></div>        </tb-tile>
        <tb-tile [title]="_TB('Prices on Qty Brackets')" tbTileWide  isCollapsible="True">
<div class="col col1">         <tb-body-edit cmpId="IDC_CUSTSUPITEM_QTY_BODY" width="654" [model]="eventData?.model?.BracketPriceList">
          <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_CUSTSUPITEM_QTY_DATE" columnName="ValidityStartingDate" [title]="_TB('Validity Start')" columnType="tb-date-input" columnName="IDC_CUSTSUPITEM_QTY_DATE">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_CUSTSUPITEM_QTY_DATE_END" columnName="ValidityEndingDate" [title]="_TB('Validity End')" columnType="tb-date-input" columnName="IDC_CUSTSUPITEM_QTY_DATE_END">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_CUSTSUPITEM_QTY_UOM" columnName="UoM" [itemSource]="IDC_CUSTSUPITEM_QTY_UOM_itemSource" [title]="_TB('UoM')" columnType="tb-combo" columnName="IDC_CUSTSUPITEM_QTY_UOM">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Integer" cmpId="IDC_CUSTSUPITEM_QTY_QTY" columnName="Qty" [title]="_TB('Quantity')" columnType="tb-numeric-text-box" columnName="IDC_CUSTSUPITEM_QTY_QTY">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Money" cmpId="IDC_CUSTSUPITEM_QTY_PRICE" columnName="Price" [title]="_TB('Price')" columnType="tb-numeric-text-box" columnName="IDC_CUSTSUPITEM_QTY_PRICE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_CUSTSUPITEM_QTY_DISCOUNT" columnName="DiscountFormula" [title]="_TB('Discount')" columnType="tb-text" columnName="IDC_CUSTSUPITEM_QTY_DISCOUNT">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_CUSTSUPITEM_QTY_PRICE_WITH_TAX" columnName="WithTax" [title]="_TB('Tax')" columnType="tb-checkbox" columnName="IDC_CUSTSUPITEM_QTY_PRICE_WITH_TAX" *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_QTY_PRICE_WITH_TAX">
          </tb-body-edit-column>
          <tb-body-edit-column formatter="Date" [readonly]="false" cmpId="IDC_CUSTSUPITEM_QTY_DATE_LAST_MOD" columnName="LastModificationDate" [title]="_TB('Last Modified on')" columnType="tb-date-input" columnName="IDC_CUSTSUPITEM_QTY_DATE_LAST_MOD">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_CUSTSUPITEM_QTY_NOTES" columnName="Notes" [title]="_TB('Notes')" columnType="tb-text" columnName="IDC_CUSTSUPITEM_QTY_NOTES">
          </tb-body-edit-column>
         </tb-body-edit>
</div><div class="col col2"></div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
      <tb-tilegroup [title]="_TB('Last Entries')" icon="erp-saleandpurchase" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Last Sale Data')" tbTileWide  isCollapsible="False">
<div class="col col1">         <tb-text [caption]="_TB('Document Type')" cmpId="IDC_CUSTSUPITEM_DOCTYPE" width="132" [model]="eventData?.model?.ItemCustomers?.LastSaleDocType"></tb-text>
         <tb-text [caption]="_TB('Document No.')" cmpId="IDC_CUSTSUPITEM_INVOICENUMBERSALE" width="57" [model]="eventData?.model?.ItemCustomers?.LastSaleDocNo"></tb-text>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_CUSTSUPITEM_LASTSALEDOCDATE" width="57" [model]="eventData?.model?.ItemCustomers?.LastSaleDocDate"></tb-date-input>
<div class="anchored">         <tb-combo *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_CURRENCY_LAST_SALE" [caption]="_TB('Currency')" cmpId="IDC_CUSTSUPITEM_CURRENCY_LAST_SALE" width="70" [model]="eventData?.model?.ItemCustomers?.LastPriceCurrency"></tb-combo>
         <tb-label-static *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_DESCRI_CURRENCY" cmpId="IDC_CUSTSUPITEM_DESCRI_CURRENCY" width="150" [model]="eventData?.model?.HKLCurrencies?.Description"></tb-label-static>
</div><div class="anchored">         <tb-combo [caption]="_TB('Payment Term')" cmpId="IDC_CUSTSUPITEM_LASTPAYMENTTERM" width="70" [model]="eventData?.model?.ItemCustomers?.LastPaymentTerm"></tb-combo>
         <tb-label-static cmpId="IDC_CUSTSUPITEM_DESCRI_PYMTTERM" width="150" [model]="eventData?.model?.HKLPymtTerm?.Description"></tb-label-static>
</div></div><div class="col col2">         <tb-combo [caption]="_TB('UoM')" cmpId="IDC_CUSTSUPITEM_UOM_LASTSALE" width="57" [model]="eventData?.model?.ItemCustomers?.LastPriceUoM" [itemSource]="IDC_CUSTSUPITEM_UOM_LASTSALE_itemSource"></tb-combo>
         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Quantity')" cmpId="IDC_CUSTSUPITEM_LASTSALEQUANT" width="40" [model]="eventData?.model?.ItemCustomers?.LastSaleQty"></tb-numeric-text-box>
<div class="anchored">         <tb-numeric-text-box formatter="Money" [caption]="_TB('Unit Price')" cmpId="IDC_CUSTSUPITEM_LASTPRICE" width="84" [model]="eventData?.model?.ItemCustomers?.LastPrice"></tb-numeric-text-box>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_CUSTSUPITEM_LASTPRICE_WITH_TAX" cmpId="IDC_CUSTSUPITEM_LASTPRICE_WITH_TAX" width="78" [model]="eventData?.model?.ItemCustomers?.LastPriceWithTax" [caption]="_TB('With Tax  ')"></tb-checkbox>
</div>         <tb-text [caption]="_TB('Discount %')" cmpId="IDC_CUSTSUPITEM_LASTDISCOUNT" width="30" [model]="eventData?.model?.ItemCustomers?.LastDiscountFormula"></tb-text>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Reduced Value')" cmpId="IDC_CUSTSUPITEM_LASTSALEVALUE" width="84" [model]="eventData?.model?.ItemCustomers?.LastSaleValue"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Net Price')" cmpId="IDC_CUSTSUPITEM_PRICE_NET" width="73" [model]="eventData?.model?.ItemCustomers?.NetPrice"></tb-numeric-text-box>
</div>        </tb-tile>
        <tb-tile [title]="_TB('Last Return Data')" tbTileWide  isCollapsible="False">
<div class="col col1">         <tb-text [caption]="_TB('Document No.')" cmpId="IDC_CUSTSUPITEM_RMANO" width="58" [model]="eventData?.model?.ItemCustomers?.LastRMADocNo"></tb-text>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date')" cmpId="IDC_CUSTSUPITEM_LASTRMADOCDATE" width="57" [model]="eventData?.model?.ItemCustomers?.LastRMADocDate"></tb-date-input>
</div><div class="col col2">         <tb-numeric-text-box formatter="Integer" [caption]="_TB('Quantity')" cmpId="IDC_CUSTSUPITEM_LASTRMAQTY" width="40" [model]="eventData?.model?.ItemCustomers?.LastRMAQty"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Value')" cmpId="IDC_CUSTSUPITEM_LASTRETURNVALUE" width="84" [model]="eventData?.model?.ItemCustomers?.LastRMAValue"></tb-numeric-text-box>
</div>        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-tilemanager>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button *ngIf="eventData?.activation?.ID_CODE_SMART" [disabled]="!eventData?.buttonsState?.ID_CODE_SMART?.enabled" icon="erp-smartcode" [caption]="_TB('Smart Code')" cmpId="ID_CODE_SMART"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
