
ul
{
  padding: 10px 10px 10px 0px;
   margin:0px;
   width: 50px;
  display: inline-block;
}
li
{
  margin:10px;
   background-color: lightgray;
   display: inline;
  border: solid 1px gray;
 position: relative;
 cursor: pointer;
 border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
li.active
{
  background-color: wheat;
}
a
{
    text-decoration:none;
}
a.tabTitle
{
  margin-left: 5px;
  margin-right: 5px;
}
div.content
{
  display: inline-block;
}