 <tb-frame tbDataEntry >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tile [title]="_TB('Find component')" tbTileMini  isCollapsible="False">
        <tb-text cmpId="IDC_PICKING_COMP_GO_TO_COMPONENT" width="110" [model]="eventData?.model?.FindComponent"></tb-text>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_BOMGRAPH_FINDCOMP_UNDO?.enabled" icon="tb-escape" [caption]="_TB('Cancel')" cmpId="IDC_BOMGRAPH_FINDCOMP_UNDO"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.IDC_BOMGRAPH_FINDCOMP_RESEARCH?.enabled" icon="tb-search" [caption]="_TB('Search')" cmpId="IDC_BOMGRAPH_FINDCOMP_RESEARCH"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
