 <tb-frame tbBatch >
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox >
      <ng-template>
       <tb-tilepanel [title]="_TB('eventData?.model?.FiltersPanelText')" isCollapsible="True" isCollapsed="False" showAsTile="True">
        <tb-tile [title]="_TB('Currency')" tbTileMini >
         <tb-combo [caption]="_TB('Currency')" cmpId="IDC_CURRACCREVL_CODE" width="62" [model]="eventData?.model?.Currency"></tb-combo>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Fixing Date')" cmpId="IDC_CURRACCREV_OPENINGPOSTINGDATE" width="57" [model]="eventData?.model?.FixingDate"></tb-date-input>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Fixing')" cmpId="IDC_CURRACCREV_PROCESS" width="68" [model]="eventData?.model?.Fixing"></tb-numeric-text-box>
         <tb-label-static cmpId="IDC_CURRACCREV_FIXINGDESCRI" width="68" [model]="eventData?.model?.FixingDescri"></tb-label-static>
        </tb-tile>
        <tb-tile [title]="_TB('Accounts')" tbTileMini >
         <tb-radio cmpId="IDC_CURRACCREV_ALL" width="39" [model]="eventData?.model?.bAll" [caption]="_TB('All')"></tb-radio>
<div class="anchored">         <tb-radio cmpId="IDC_CURRACCREV_SELECTION" width="35" [model]="eventData?.model?.bSelection" [caption]="_TB('From')"></tb-radio>
         <tb-text cmpId="IDC_CURRACCREV_FROM" width="97" [model]="eventData?.model?.From"></tb-text>
</div>         <tb-text [caption]="_TB('To')" cmpId="IDC_CURRACCREV_TO" width="97" [model]="eventData?.model?.To"></tb-text>
        </tb-tile>
       </tb-tilepanel>
       <tb-tilepanel [title]="_TB('eventData?.model?.ActionsPanelText')" isCollapsible="True" isCollapsed="True" showAsTile="True">
        <tb-tile [title]="_TB('Post to Accounting')" tbTileStandard >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Posting Date')" cmpId="IDC_CURRACCREV_POSTDATE_PL" width="57" [model]="eventData?.model?.PostDate"></tb-date-input>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Accrual Date')" cmpId="IDC_CURRACCREV_ACCRUALDATE_PL" width="57" [model]="eventData?.model?.AccrualDate"></tb-date-input>
         <tb-combo *ngIf="eventData?.activation?.IDC_CURRACCREV_NATURE" [caption]="_TB('Type')" cmpId="IDC_CURRACCREV_NATURE" width="80" [model]="eventData?.model?.Nature"></tb-combo>
         <tb-checkbox *ngIf="eventData?.activation?.IDC_CURRACCREV_ONEJEFORCUSTSUPP" cmpId="IDC_CURRACCREV_ONEJEFORCUSTSUPP" width="109" [model]="eventData?.model?.bOneJEForCustSupp" [caption]="_TB('One Journal Entry for Customer/Supplier')"></tb-checkbox>
        </tb-tile>
        <tb-tile [title]="_TB('Exchange Rate Difference')" tbTileMini >
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Profit')" cmpId="IDC_CURRACCREV_TOTP" width="68" [model]="eventData?.model?.Profit"></tb-numeric-text-box>
         <tb-numeric-text-box formatter="Money" disabled="true" [caption]="_TB('Loss')" cmpId="IDC_CURRACCREV_TOTN" width="68" [model]="eventData?.model?.Loss"></tb-numeric-text-box>
        </tb-tile>
       </tb-tilepanel>
       <tb-tile [title]="_TB('Result')" tbTileAutoFill >
        <tb-body-edit cmpId="IDC_TB_ACTIVITY_DOCUMENT_GRID" width="599" [model]="eventData?.model?.Detail">
         <tb-body-edit-column cmpId="IDC_CURRACCREV_SELECT" columnName="l_TEnhCurrencyAccountsRev_P01" [title]="_TB('Sel.')" columnType="tb-checkbox" columnName="IDC_CURRACCREV_SELECT">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CURRACCREV_POSTED" columnName="l_TEnhCurrencyAccountsRev_P10" [title]="_TB('Posted')" columnType="tb-checkbox" columnName="IDC_CURRACCREV_POSTED">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CURRACCREV_CSTYPE" columnName="CustSuppType" [title]="_TB('Type')" columnType="tb-enum-combo" columnName="IDC_CURRACCREV_CSTYPE" *ngIf="eventData?.activation?.IDC_CURRACCREV_CSTYPE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CURRACCREV_CODE" columnName="Account" [title]="_TB('Code')" columnType="tb-label-static" columnName="IDC_CURRACCREV_CODE">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CURRACCREV_DESCRI" columnName="l_TEnhCurrencyAccountsRev_P04" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_CURRACCREV_DESCRI">
         </tb-body-edit-column>
         <tb-body-edit-column cmpId="IDC_CURRACCREV_DOCNO" columnName="l_TEnhCurrencyAccountsRev_P05" [title]="_TB('Doc. No.')" columnType="tb-label-static" columnName="IDC_CURRACCREV_DOCNO" *ngIf="eventData?.activation?.IDC_CURRACCREV_DOCNO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_CURRACCREV_DOCDATE" columnName="l_TEnhCurrencyAccountsRev_P06" [title]="_TB('Doc. Date')" columnType="tb-date-input" columnName="IDC_CURRACCREV_DOCDATE" *ngIf="eventData?.activation?.IDC_CURRACCREV_DOCDATE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Integer" disabled="true" cmpId="IDC_CURRACCREV_INSTNO" columnName="l_TEnhCurrencyAccountsRev_P09" [title]="_TB('Installment')" columnType="tb-numeric-text-box" columnName="IDC_CURRACCREV_INSTNO" *ngIf="eventData?.activation?.IDC_CURRACCREV_INSTNO">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_CURRACCREV_CURRBAL" columnName="DocCurrAmount" [title]="_TB('Balance in Currency')" columnType="tb-numeric-text-box" columnName="IDC_CURRACCREV_CURRBAL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Date" [readonly]="true" cmpId="IDC_CURRACCREV_FIXINGDATE" columnName="FixingDate" [title]="_TB('Fixing Date')" columnType="tb-date-input" columnName="IDC_CURRACCREV_FIXINGDATE" *ngIf="eventData?.activation?.IDC_CURRACCREV_FIXINGDATE">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_CURRACCREV_BAL" columnName="Amount" [title]="_TB('Balance')" columnType="tb-numeric-text-box" columnName="IDC_CURRACCREV_BAL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" cmpId="IDC_CURRACCREV_FIXING" columnName="Fixing" [title]="_TB('Fixing')" columnType="tb-numeric-text-box" columnName="IDC_CURRACCREV_FIXING">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_CURRACCREV_CALCBAL" columnName="l_TEnhCurrencyAccountsRev_P02" [title]="_TB('Equivalent Balance')" columnType="tb-numeric-text-box" columnName="IDC_CURRACCREV_CALCBAL">
         </tb-body-edit-column>
         <tb-body-edit-column formatter="Money" disabled="true" cmpId="IDC_CURRACCREV_DIFF" columnName="l_TEnhCurrencyAccountsRev_P03" [title]="_TB('Difference')" columnType="tb-numeric-text-box" columnName="IDC_CURRACCREV_DIFF">
         </tb-body-edit-column>
        </tb-body-edit>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN?.enabled" icon="tb-start" [caption]="_TB('Start')" cmpId="ID_EXTDOC_BATCH_STARTSTOP_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN?.enabled" icon="framework.tbframeworkimages.images.25x25.resume.png" [caption]="_TB('Pause')" cmpId="ID_EXTDOC_BATCH_PAUSERESUME_TOOLBTN"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_DATA?.enabled" icon="framework.tbframeworkimages.images.25x25.extract.png" [caption]="_TB('Extract')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_DATA"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION?.enabled" icon="tb-undo" [caption]="_TB('Undo')" cmpId="ID_TB_ACTIVITY_FRAME_UNDO_EXTRACTION"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_STOP?.enabled" icon="framework.tbframeworkimages.images.25x25.stopextract.png" [caption]="_TB('Stop')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_STOP"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_PAUSE?.enabled" icon="framework.tbframeworkimages.images.25x25.processpause.png" [caption]="_TB('Pause')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_PAUSE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_TB_ACTIVITY_FRAME_LOAD_RESUME?.enabled" icon="framework.tbframeworkimages.images.25x25.processrun.png" [caption]="_TB('Resume')" cmpId="ID_TB_ACTIVITY_FRAME_LOAD_RESUME"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
