 <tb-frame tbDataEntry >
  <tb-toolbar-top>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIND?.enabled" icon="tb-find" [caption]="_TB('Search')" cmpId="ID_EXTDOC_FIND"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_FIRST?.enabled" icon="tb-first" [caption]="_TB('First')" cmpId="ID_EXTDOC_FIRST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_PREV?.enabled" icon="tb-prev" [caption]="_TB('Previous')" cmpId="ID_EXTDOC_PREV"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEXT?.enabled" icon="tb-next" [caption]="_TB('Next')" cmpId="ID_EXTDOC_NEXT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_LAST?.enabled" icon="tb-last" [caption]="_TB('Last')" cmpId="ID_EXTDOC_LAST"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXEC_QUERY?.enabled" icon="tb-query" [caption]="_TB('Query')" cmpId="ID_EXTDOC_EXEC_QUERY"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EXIT?.enabled" icon="tb-exit" [caption]="_TB('Exit')" cmpId="ID_EXTDOC_EXIT"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REFRESH_ROWSET?.enabled" icon="tb-refresh" [caption]="_TB('Refresh data')" cmpId="ID_EXTDOC_REFRESH_ROWSET"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_CUSTOMIZE?.enabled" icon="tb-customize" [caption]="_TB('Customize')" cmpId="ID_EXTDOC_CUSTOMIZE"></tb-toolbar-top-button>
   <tb-toolbar-top-button [disabled]="!eventData?.buttonsState?.ID_ACTIONS_COPY?.enabled" icon="tb-socialshare" [caption]="_TB('Share')" cmpId="ID_ACTIONS_COPY"></tb-toolbar-top-button>
   <tb-toolbar-top-button *ngIf="eventData?.activation?.ID_INSPECT" [disabled]="!eventData?.buttonsState?.ID_INSPECT?.enabled" icon="tb-inspect" [caption]="_TB('Inspect field')" cmpId="ID_INSPECT"></tb-toolbar-top-button>
  </tb-toolbar-top>
	<ng-container #radar></ng-container>
  <tb-frame-content>
   <tb-view-container>
    <tb-view>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_BILLS">
      <ng-template>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Main Data')" tbTileStandard >
         <tb-text [caption]="_TB('Code')" cmpId="IDC_BILLS_BILLNO" width="55" [model]="eventData?.model?.Bills?.BillCode"></tb-text>
         <tb-enum-combo [caption]="_TB('Type')" cmpId="IDC_BILLS_TYPE" width="109" [model]="eventData?.model?.Bills?.BillType"></tb-enum-combo>
         <tb-text [caption]="_TB('Description')" cmpId="IDC_BILLS_DESCRI" width="154" [model]="eventData?.model?.Bills?.Description"></tb-text>
         <tb-text [caption]="_TB('Fiscal No.')" cmpId="IDC_BILLS_FISCALNO" width="110" [model]="eventData?.model?.Bills?.FiscalNo"></tb-text>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Amount')" cmpId="IDC_BILLS_BILLAMOUNT" width="68" [model]="eventData?.model?.Bills?.Amount"></tb-numeric-text-box>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Due Date')" cmpId="IDC_BILLS_DUEDATE" width="57" [model]="eventData?.model?.Bills?.DueDate"></tb-date-input>
         <tb-enum-combo [caption]="_TB('Status')" cmpId="IDC_BILLS_BILLSTATUS" width="109" [model]="eventData?.model?.Bills?.BillStatus" [itemSource]="IDC_BILLS_BILLSTATUS_itemSource"></tb-enum-combo>
        </tb-tile>
        <tb-tile [title]="_TB('Issue Data')" tbTileStandard >
         <tb-combo [caption]="_TB('Bank')" cmpId="IDC_BILLS_ISSUERBANK" width="68" [model]="eventData?.model?.Bills?.IssuerBank"></tb-combo>
         <tb-label-static cmpId="IDC_BILLS_ISSUERBANKDESCRI" width="154" [model]="eventData?.model?.HKLIssuerBank?.Description"></tb-label-static>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date of Issue')" cmpId="IDC_BILLS_ISSUEDATE" width="57" [model]="eventData?.model?.Bills?.IssueDate"></tb-date-input>
         <tb-text [caption]="_TB('Place of Issue')" cmpId="IDC_BILLS_ISSUEPLACE" width="154" [model]="eventData?.model?.Bills?.IssuePlace"></tb-text>
         <tb-text [caption]="_TB('Issuer Name')" cmpId="IDC_BILLS_ISSUER" width="154" [model]="eventData?.model?.Bills?.IssuerName"></tb-text>
        </tb-tile>
       </tb-layoutcontainer>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Customer Data')" tbTileStandard >
         <tb-text [caption]="_TB('Customer')" cmpId="IDC_BILLS_BILLCUSTOMER" width="91" [model]="eventData?.model?.Bills?.Customer"></tb-text>
         <tb-label-static cmpId="IDC_BILLS_CUSTOMERDESCRI" width="154" [model]="eventData?.model?.HKLCustomers?.CompanyName"></tb-label-static>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Receipt Date')" cmpId="IDC_BILLS_RECEIVINGDATE" width="57" [model]="eventData?.model?.Bills?.ReceiptDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Transfer Data')" tbTileStandard >
         <tb-text [caption]="_TB('Supplier')" cmpId="IDC_BILLS_SUPPLIER" width="91" [model]="eventData?.model?.Bills?.Supplier"></tb-text>
         <tb-label-static cmpId="IDC_BILLS_SUPPLIERDESCRI" width="154" [model]="eventData?.model?.HKLSuppliers?.CompanyName"></tb-label-static>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Transfer Date')" cmpId="IDC_BILLS_TRANSFERDATE" width="57" [model]="eventData?.model?.Bills?.TransferDate"></tb-date-input>
        </tb-tile>
       </tb-layoutcontainer>
       <tb-tile [title]="_TB('Presentation Data')" tbTileWide >
<div class="col col1">        <tb-combo [caption]="_TB('Bank')" cmpId="IDC_BILLS_PRESBANK" width="68" [model]="eventData?.model?.Bills?.PresentationBank"></tb-combo>
        <tb-label-static cmpId="IDC_BILLS_PRESBANKDESCRI" width="154" [model]="eventData?.model?.HKLPresBank?.Description"></tb-label-static>
        <tb-combo [caption]="_TB('CA')" cmpId="IDC_BILLS_PRESCA" width="88" [model]="eventData?.model?.Bills?.PresentationCA"></tb-combo>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Presentation Date')" cmpId="IDC_BILLS_PRESDATE" width="57" [model]="eventData?.model?.Bills?.PresentationDate"></tb-date-input>
</div><div class="col col2">        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Collection Date')" cmpId="IDC_BILLS_COLLDATE" width="57" [model]="eventData?.model?.Bills?.CollectionDate"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Outstanding Date')" cmpId="IDC_BILLS_OUTSTANDINGDATE" width="57" [model]="eventData?.model?.Bills?.OutstandingDate"></tb-date-input>
</div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_BILLS">
      <ng-template>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Main Data')" tbTileStandard >
<div class="anchored">         <tb-text [caption]="_TB('Code')" cmpId="IDC_BILLS_BILLNO" width="55" [model]="eventData?.model?.Bills?.BillCode"></tb-text>
         <tb-checkbox cmpId="IDC_BILLS_DISABLED" width="109" [model]="eventData?.model?.Bills?.Disabled" [caption]="_TB('Disabled  ')"></tb-checkbox>
</div>         <tb-enum-combo *ngIf="eventData?.activation?.IDC_BILLS_TYPE" [caption]="_TB('Type')" cmpId="IDC_BILLS_TYPE" width="109" [model]="eventData?.model?.Bills?.BillType"></tb-enum-combo>
         <tb-combo [caption]="_TB('Bank')" cmpId="IDC_BILLS_ISSUERBANK" width="68" [model]="eventData?.model?.Bills?.IssuerBank"></tb-combo>
         <tb-text [caption]="_TB('CA')" cmpId="IDC_RECEIVED_CHECKS_CA" width="94" [model]="eventData?.model?.Bills?.IssuerBankCA"></tb-text>
         <tb-combo [caption]="_TB('CA')" cmpId="IDC_ISSUED_CHECKS_CA" width="94" [model]="eventData?.model?.Bills?.IssuerBankCA"></tb-combo>
         <tb-text [caption]="_TB('Check Number')" cmpId="IDC_BILLS_FISCALNO" width="110" [model]="eventData?.model?.Bills?.FiscalNo"></tb-text>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Amount')" cmpId="IDC_BILLS_BILLAMOUNT" width="68" [model]="eventData?.model?.Bills?.Amount"></tb-numeric-text-box>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Due Date')" cmpId="IDC_BILLS_DUEDATE" width="57" [model]="eventData?.model?.Bills?.DueDate"></tb-date-input>
         <tb-enum-combo [caption]="_TB('Status')" cmpId="IDC_BILLS_BILLSTATUS" width="109" [model]="eventData?.model?.Bills?.BillStatus" [itemSource]="IDC_BILLS_BILLSTATUS_itemSource"></tb-enum-combo>
         <tb-text [caption]="_TB('Notes')" cmpId="IDC_BILLS_DESCRI" width="154" [model]="eventData?.model?.Bills?.Description"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Issue Data')" tbTileStandard >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date of Issue')" cmpId="IDC_BILLS_ISSUEDATE" width="57" [model]="eventData?.model?.Bills?.IssueDate"></tb-date-input>
         <tb-text [caption]="_TB('Place of Issue')" cmpId="IDC_BILLS_ISSUEPLACE" width="154" [model]="eventData?.model?.Bills?.IssuePlace"></tb-text>
         <tb-text [caption]="_TB('Issuer Name')" cmpId="IDC_BILLS_ISSUER" width="154" [model]="eventData?.model?.Bills?.IssuerName"></tb-text>
         <tb-text [caption]="_TB('Tax Number')" cmpId="IDC_RECEIVED_CHECKS_ISSUERTAXNUMBER" width="110" [model]="eventData?.model?.Bills?.IssuerTaxIdNumber"></tb-text>
         <tb-text [caption]="_TB('Fiscal Code')" cmpId="IDC_RECEIVED_CHECKS_ISSUERFISCALCODE" width="110" [model]="eventData?.model?.Bills?.IssuerFiscalCode"></tb-text>
        </tb-tile>
       </tb-layoutcontainer>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Customer Data')" tbTileStandard >
         <tb-text [caption]="_TB('Customer')" cmpId="IDC_BILLS_BILLCUSTOMER" width="91" [model]="eventData?.model?.Bills?.Customer"></tb-text>
         <tb-label-static cmpId="IDC_BILLS_CUSTOMERDESCRI" width="154" [model]="eventData?.model?.HKLCustomers?.CompanyName"></tb-label-static>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Receipt Date')" cmpId="IDC_BILLS_RECEIVINGDATE" width="57" [model]="eventData?.model?.Bills?.ReceiptDate"></tb-date-input>
        </tb-tile>
        <tb-tile [title]="_TB('Transfer Data')" tbTileStandard >
         <tb-text [caption]="_TB('Supplier')" cmpId="IDC_BILLS_SUPPLIER" width="91" [model]="eventData?.model?.Bills?.Supplier"></tb-text>
         <tb-label-static cmpId="IDC_BILLS_SUPPLIERDESCRI" width="154" [model]="eventData?.model?.HKLSuppliers?.CompanyName"></tb-label-static>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Transfer Date')" cmpId="IDC_BILLS_TRANSFERDATE" width="57" [model]="eventData?.model?.Bills?.TransferDate"></tb-date-input>
        </tb-tile>
       </tb-layoutcontainer>
       <tb-tile [title]="_TB('Presentation Data')" tbTileWide >
<div class="col col1">        <tb-combo [caption]="_TB('Bank')" cmpId="IDC_BILLS_PRESBANK" width="68" [model]="eventData?.model?.Bills?.PresentationBank"></tb-combo>
        <tb-combo [caption]="_TB('CA')" cmpId="IDC_BILLS_PRESCA" width="88" [model]="eventData?.model?.Bills?.PresentationCA"></tb-combo>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Presentation Date')" cmpId="IDC_BILLS_PRESDATE" width="57" [model]="eventData?.model?.Bills?.PresentationDate"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('First Return Date')" cmpId="IDC_RECEIVED_CHECKS_FIRSTRETURNDATE" width="57" [model]="eventData?.model?.Bills?.Return1Date"></tb-date-input>
        <tb-combo [caption]="_TB('First Return Reason')" cmpId="IDC_RECEIVED_CHECKS_FIRSTRETURNREASON" width="39" [model]="eventData?.model?.Bills?.Return1Reason"></tb-combo>
</div><div class="col col2">        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Re-Presentation Date')" cmpId="IDC_RECEIVED_CHECKS_REPRESENTDATE" width="57" [model]="eventData?.model?.Bills?.RePresentationDate"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Second Return Date')" cmpId="IDC_RECEIVED_CHECKS_SECONDRETURNDATE" width="57" [model]="eventData?.model?.Bills?.Return2Date"></tb-date-input>
        <tb-combo [caption]="_TB('Second Return Reason')" cmpId="IDC_RECEIVED_CHECKS_SECONDRETURNREASON" width="39" [model]="eventData?.model?.Bills?.Return2Reason"></tb-combo>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Collection Date')" cmpId="IDC_BILLS_COLLDATE" width="57" [model]="eventData?.model?.Bills?.CollectionDate"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Outstanding Date')" cmpId="IDC_BILLS_OUTSTANDINGDATE" width="57" [model]="eventData?.model?.Bills?.OutstandingDate"></tb-date-input>
</div>       </tb-tile>
      </ng-template>
     </tb-tilegroup>
     <tb-tilegroup [active]="true" tbLayoutTypeVbox  *ngIf="eventData?.activation?.IDC_TG_BILLS">
      <ng-template>
       <tb-layoutcontainer tbLayoutTypeColumn >
        <tb-tile [title]="_TB('Main Data')" tbTileStandard >
<div class="anchored">         <tb-text [caption]="_TB('Code')" cmpId="IDC_BILLS_BILLNO" width="55" [model]="eventData?.model?.Bills?.BillCode"></tb-text>
         <tb-checkbox cmpId="IDC_BILLS_DISABLED" width="109" [model]="eventData?.model?.Bills?.Disabled" [caption]="_TB('Disabled  ')"></tb-checkbox>
</div>         <tb-enum-combo *ngIf="eventData?.activation?.IDC_BILLS_TYPE" [caption]="_TB('Type')" cmpId="IDC_BILLS_TYPE" width="109" [model]="eventData?.model?.Bills?.BillType"></tb-enum-combo>
         <tb-combo [caption]="_TB('Bank')" cmpId="IDC_BILLS_ISSUERBANK" width="68" [model]="eventData?.model?.Bills?.IssuerBank"></tb-combo>
         <tb-text [caption]="_TB('CA')" cmpId="IDC_RECEIVED_CHECKS_CA" width="94" [model]="eventData?.model?.Bills?.IssuerBankCA"></tb-text>
         <tb-combo [caption]="_TB('CA')" cmpId="IDC_ISSUED_CHECKS_CA" width="94" [model]="eventData?.model?.Bills?.IssuerBankCA"></tb-combo>
         <tb-text [caption]="_TB('Check Number')" cmpId="IDC_BILLS_FISCALNO" width="110" [model]="eventData?.model?.Bills?.FiscalNo"></tb-text>
         <tb-numeric-text-box formatter="Money" [caption]="_TB('Amount')" cmpId="IDC_BILLS_BILLAMOUNT" width="68" [model]="eventData?.model?.Bills?.Amount"></tb-numeric-text-box>
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Due Date')" cmpId="IDC_BILLS_DUEDATE" width="57" [model]="eventData?.model?.Bills?.DueDate"></tb-date-input>
         <tb-enum-combo [caption]="_TB('Status')" cmpId="IDC_BILLS_BILLSTATUS" width="109" [model]="eventData?.model?.Bills?.BillStatus" [itemSource]="IDC_BILLS_BILLSTATUS_itemSource"></tb-enum-combo>
         <tb-text [caption]="_TB('Notes')" cmpId="IDC_BILLS_DESCRI" width="154" [model]="eventData?.model?.Bills?.Description"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Issue Data')" tbTileStandard >
         <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Date of Issue')" cmpId="IDC_BILLS_ISSUEDATE" width="57" [model]="eventData?.model?.Bills?.IssueDate"></tb-date-input>
         <tb-text [caption]="_TB('Place of Issue')" cmpId="IDC_BILLS_ISSUEPLACE" width="154" [model]="eventData?.model?.Bills?.IssuePlace"></tb-text>
         <tb-text [caption]="_TB('Issuer Name')" cmpId="IDC_BILLS_ISSUER" width="154" [model]="eventData?.model?.Bills?.IssuerName"></tb-text>
         <tb-text [caption]="_TB('Tax Number')" cmpId="IDC_RECEIVED_CHECKS_ISSUERTAXNUMBER" width="110" [model]="eventData?.model?.Bills?.IssuerTaxIdNumber"></tb-text>
         <tb-text [caption]="_TB('Fiscal Code')" cmpId="IDC_RECEIVED_CHECKS_ISSUERFISCALCODE" width="110" [model]="eventData?.model?.Bills?.IssuerFiscalCode"></tb-text>
        </tb-tile>
       </tb-layoutcontainer>
       <tb-tile [title]="_TB('Payment Data')" tbTileStandard >
        <tb-text [caption]="_TB('Supplier')" cmpId="IDC_BILLS_SUPPLIER" width="91" [model]="eventData?.model?.Bills?.Supplier"></tb-text>
        <tb-label-static cmpId="IDC_BILLS_SUPPLIERDESCRI" width="154" [model]="eventData?.model?.HKLSuppliers?.CompanyName"></tb-label-static>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Payment Date')" cmpId="IDC_BILLS_COLLDATE" width="57" [model]="eventData?.model?.Bills?.CollectionDate"></tb-date-input>
        <tb-date-input formatter="Date" [readonly]="false" [caption]="_TB('Outstanding Date')" cmpId="IDC_BILLS_OUTSTANDINGDATE" width="57" [model]="eventData?.model?.Bills?.OutstandingDate"></tb-date-input>
       </tb-tile>
      </ng-template>
     </tb-tilegroup>
    </tb-view>
   </tb-view-container>
   <tb-dockpane-container>
    <tb-dockpane *ngIf="eventData?.activation?.IDD_DATASYNCHRO_DOCK_PANE" [title]="_TB('DataSynchronizer')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile [title]="_TB('Data Validation Status')" tbTileStandard  isCollapsible="True" isCollapsed="False">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_VALIDATIONSTATUS_PICTURE" width="16" [model]="eventData?.model?.ValidationStatusPicture"></tb-image>
         <tb-text cmpId="IDC_DS_LASTVALIDATION_STATUS" width="287" [model]="eventData?.model?.ValidationStatus"></tb-text>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Technical Details')" tbTileStandard  isCollapsible="True">
         <tb-image [height]="16" [width]="16" cmpId="IDC_DS_SYNCHSTATUS_PICTURE" width="16" [model]="eventData?.model?.SynchStatusPicture"></tb-image>
         <tb-caption cmpId="IDC_STATIC_1" width="48" [caption]="_TB('Time')"></tb-caption>
         <tb-date-input formatter="DateTime" [readonly]="false" cmpId="IDC_DS_LASTSYNCH_TIMESTAMP" width="80" [model]="eventData?.model?.SynchDate"></tb-date-input>
         <tb-caption cmpId="IDC_STATIC_3" width="48" [caption]="_TB('Direction')"></tb-caption>
         <tb-text cmpId="IDC_DS_LASTSYNCH_DIRECTION" width="150" [model]="eventData?.model?.SynchDirection"></tb-text>
         <tb-text cmpId="IDC_DS_LASTSYNCH_STATUS_HINTSS" width="268" [model]="eventData?.model?.SynchStatusHints"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG_HINTS" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
        <tb-tile [title]="_TB('Data Synchronization Status')" tbTileStandard  isCollapsible="True">
         <tb-text cmpId="IDC_DS_LASTSYNCH_MSG_IMS" width="268" [model]="eventData?.model?.SynchMsg"></tb-text>
         <tb-button cmpId="IDC_IDC_DS_LASTSYNCH_COPYMSG" width="41" [caption]="_TB('Copy Msg')"></tb-button>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
    <tb-dockpane [title]="_TB('LinksPanel')">
     <tb-view>
      <tb-tilegroup [active]="true" tbLayoutTypeVbox >
       <ng-template>
        <tb-tile tbTileStandard  hasTitle="False" *ngIf="eventData?.activation?.IDD_TD_PNL_LINKSPANEL">
         <tb-body-edit cmpId="IDC_PNL_BE" width="325" [model]="eventData?.model?.DBTLinksTable">
          <tb-body-edit-column cmpId="IDC_PNL_BE_IMAGE" columnName="Image" [title]="_TB('Image')" columnType="tb-image" columnName="IDC_PNL_BE_IMAGE">
          </tb-body-edit-column>
          <tb-body-edit-column cmpId="IDC_PNL_BE_DESCR" columnName="Description" [title]="_TB('Description')" columnType="tb-label-static" columnName="IDC_PNL_BE_DESCR">
          </tb-body-edit-column>
         </tb-body-edit>
        </tb-tile>
       </ng-template>
      </tb-tilegroup>
     </tb-view>
    </tb-dockpane>
   </tb-dockpane-container>
  </tb-frame-content>
  <tb-toolbar-bottom>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_RADAR?.enabled" icon="framework.tbframeworkimages.images.25x25.radar.png" [caption]="_TB('Radar')" cmpId="ID_EXTDOC_RADAR"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_SAVE?.enabled" icon="tb-save" [caption]="_TB('Save')" cmpId="ID_EXTDOC_SAVE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_ESCAPE?.enabled" icon="tb-escape" [caption]="_TB('Undo Changes')" cmpId="ID_EXTDOC_ESCAPE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_NEW?.enabled" icon="tb-new" [caption]="_TB('New')" cmpId="ID_EXTDOC_NEW"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_EDIT?.enabled" icon="tb-edit" [caption]="_TB('Edit')" cmpId="ID_EXTDOC_EDIT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_DELETE?.enabled" icon="tb-delete" [caption]="_TB('Delete')" cmpId="ID_EXTDOC_DELETE"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_EXTDOC_REPORT?.enabled" icon="tb-print" [caption]="_TB('Print')" cmpId="ID_EXTDOC_REPORT"></tb-toolbar-bottom-button>
   <tb-toolbar-bottom-button [disabled]="!eventData?.buttonsState?.ID_FORM_EDITOR_EDIT?.enabled" icon="framework.tbframeworkimages.images.25x25.easystudio.png" [caption]="_TB('EasyStudio')" cmpId="ID_FORM_EDITOR_EDIT"></tb-toolbar-bottom-button>
  </tb-toolbar-bottom>
 </tb-frame>
